In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from apiclient.discovery import build
api_key = 'AIzaSyBYOWoFmf3cG5Ez653Qdmw9xHmchEMz4Ys'
youtube = build('youtube', 'v3', developerKey=api_key)

engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/BBB_development')
conbb = engine.connect()
    
data_path = '../data/'

def get_viewCounts(vids):
    videos = []
    for vid in vids:
        res = youtube.videos().list(id=vid,part='statistics',maxResults=1).execute()
        videos += res['items']
    return videos

def parse_count(video):
    return video['id'],video['statistics']['viewCount']

In [2]:
today = date.today()
today

datetime.date(2021, 2, 4)

### Songs with youtube code

In [3]:
sql = '''
SELECT year, rank, nbr, title, A.name,  code, publish_date, views
FROM songs S
JOIN artists A ON artist_id = A.id
WHERE  code <> '' 
ORDER BY views DESC
'''
songs = pd.read_sql(sql,conbb)
len(songs)

1233

In [4]:
sr = songs['code']
vids= sr.values.tolist()
len(vids)

1233

In [ ]:
stat_videos = get_viewCounts(vids)
len(stat_videos)

In [6]:
counts = [parse_count(video) for video in stat_videos]
len(counts)

1201

In [7]:
df_count = pd.DataFrame(data = counts , columns=['videoId','viewCount'])
df_count.columns

Index(['videoId', 'viewCount'], dtype='object')

In [8]:
df_count["viewCount"] = df_count["viewCount"].astype("int64")

In [9]:
df_count.rename(columns = {"videoId" : "code", "viewCount" : "views"}, inplace = True)
df_count.columns

Index(['code', 'views'], dtype='object')

In [10]:
dfd = pd.merge(songs, df_count, on='code', how='inner')
dfd.shape

(1201, 9)

In [11]:
df_count.dtypes

code     object
views     int64
dtype: object

In [12]:
df_count.to_sql('df_count', engine, if_exists='replace')

In [13]:
sql = """
UPDATE songs AS s
SET views = d.views, processed = true
FROM df_count AS d
WHERE s.code = d.code
"""
print(sql)

UPDATE songs AS s
SET views = d.views, processed = true
FROM df_count AS d
WHERE s.code = d.code

In [14]:
with engine.begin() as conn:     # TRANSACTION
    conn.execute(sql)

In [15]:
sql = '''
SELECT S.id, year, rank, nbr, title, A.name,  code, views
FROM songs S
JOIN artists A ON artist_id = A.id
WHERE  code <> '' AND processed = false
ORDER BY views DESC
'''
songs = pd.read_sql(sql,conbb)
songs

,id,year,rank,nbr,title,name,code,views
0,5490,2015,65,99,Drag Me Down,One Direction,Jwgf3wmiA04,781528344
1,5856,1971,109,99,Stairway to Heaven,Led Zeppelin,Nnu1E5Kslig,44405524
2,119,1961,19,99,Hit the Road Jack,Ray Charles,i8DRen60X10,35300044
3,2112,1981,18,99,Just the Two of Us,"Grover Washington, Jr. & Bill Withers",jEy6MGu3bIA,33399523
4,333,1963,35,99,Be My Baby,The Ronettes,ZV5tgZlTEkQ,30239071
5,829,1968,31,99,Born to Be Wild,Steppenwolf,5UWRypqz5-o,29573407
6,5847,1963,101,99,Blowin’ in the Wind,Bob Dylan,3l4nVByCL44,19527193
7,1062,1970,67,9,Fire and Rain,James Taylor,JOIo4lEpsPY,15923681
8,1367,1973,72,99,Clair,Gilbert O'Sullivan,sU9fClvdo5s,14623729
9,699,1967,1,99,To Sir With Love,Lulu,k8-M_wg8AI4,10677680
10,800,1968,2,99,Love is Blue,Paul Mauriat,p9FYD1dlw4E,10353804
11,1899,1979,5,99,Reunited,Peaches & Herb,uKnXTF2BhvY,6159791
12,2185,1981,91,99,Suddenly,Olivia Newton-John & Cliff Richard,o-mDnqsx2f4,4596290
13,1999,1980,5,99,Do That to Me One More Time,Captain & Tennille,8ZSyH-ZpIlk,4419594
14,973,1969,78,4,"Ruby, Don't Take Your Love to Town",Kenny Rogers,2ChPI5pAet8,4191841
15,1704,1977,10,99,Torn Between Two Lovers,Mary MacGregor,95rvDSGAz2s,3083820
16,2366,1983,73,99,My Love,Lionel Richie,tEUP8uVwvBw,2731618
17,1,1960,1,99,Theme from A Summer Place,Percy Faith,tFi_CKNJjwE,2298987
18,1797,1978,3,99,You Light Up My Life,Debby Boone,Mmyy-Gmyupc,2038212
19,743,1967,45,99,Silence Is Golden,The Tremeloes,6KmRwCSIN4U,1923115
20,5455,2015,29,99,Style,Taylor Swift,XbT0i07CiyM,1873466
21,2186,1981,92,99,For Your Eyes Only,Sheena Easton,JADxDqH_IBw,1861168
22,5759,1977,101,16,Live at the Capital Centre,The Eagles,ok5cybxEJ80,1325974
23,5919,1969,111,99,The Night They Drove Old Dixie Down,The Band,v3JaosE-gZE,1017954
24,1041,1970,46,8,"He Ain't Heavy, He's My Brother",The Hollies,1pfUqhV_OyI,741727
25,974,1969,79,99,Games People Play,Joe South,nvzGAW4BB34,522432
26,5765,1992,101,15,Eric Clapton Live in Hyde Park 1996 Full Concert,Eric Clapton,VpW8OD4YnBs,485247
27,1422,1974,27,99,Sundown,Gordon Lightfoot,De0RmykfzgU,324927
28,2197,1982,3,12,I Love Rock ‘N Roll,Joan Jett and the Blackhearts,6NH0ZwqBsKU,136431
29,876,1968,81,1,White Room,Cream,wC5rvfaA3HQ,118155
30,1634,1976,40,99,All by Myself,Eric Carmen,OUjrqVaT_B4,79722
31,2497,1985,4,99,I Want to Know What Love Is,Foreigner,ADOtSDqL-L0,12897

In [16]:
sql = """
UPDATE songs 
SET processed = false
WHERE processed = true
"""
rp = conbb.execute(sql)
rp.rowcount

1201

In [17]:
sql = """
SELECT year, rank, nbr, title, A.name,  code, publish_date, views, mp3, duration
FROM songs S
JOIN artists A ON artist_id = A.id
LEFT JOIN lyrics L ON song_id = S.id
WHERE  code <> '' AND uploaded = False AND views > 500000000
ORDER BY views DESC
"""
df = pd.read_sql(sql, conbb)
df.head(10)

,year,rank,nbr,title,name,code,publish_date,views,mp3,duration
0,2016,73,99,Hymn for the Weekend,Coldplay,YykjpeuMNEk,2016-01-29,1394820685,None,300
1,2017,16,99,24K Magic,Bruno Mars,UqyT8IEBkvY,2016-10-06,1342568121,None,300
2,2011,14,99,Last Friday Night (T.G.I.F.),Katy Perry,KlyXNRrsk4A,2011-06-12,1307248606,None,300
3,2005,60,99,La Tortura,Shakira featuring Alejandro Sanz,Dsp_8Lm1eSk,2019-12-12,564999853,None,300
4,2005,32,99,My Humps,The Black Eyed Peas,iEe_eraFWWs,2009-06-17,562500326,None,300
5,2014,17,99,Say Something,A Great Big World and Christina Aguilera,-2U0Ivkn2Ds,2019-12-13,538940252,None,300
6,1997,4,99,Un-Break My Heart,Toni Braxton,p2Rch6WvPJE,2009-10-25,531967194,None,300
7,1995,1,99,Gangsta's Paradise,Coolio featuring L.V.,fPO76Jlnz6c,2017-08-01,521472001,Gangsta_s_Paradise.mp3,241
8,2012,21,99,Where Have You Been,Rihanna,HBxt_v0WF6Y,2019-12-11,504573954,None,300
9,2009,4,99,I Gotta Feeling,The Black Eyed Peas,uSD4vsh1zDA,2009-12-23,501905246,None,300

In [18]:
sql = """
SELECT year, rank, nbr, title, A.name,  code, publish_date, views, mp3, duration, uploaded
FROM songs S
JOIN artists A ON artist_id = A.id
LEFT JOIN lyrics L ON song_id = S.id
WHERE  code <> '' AND uploaded = False 
ORDER BY views DESC
"""
songs = pd.read_sql(sql, conbb)
songs.head(10)

,year,rank,nbr,title,name,code,publish_date,views,mp3,duration,uploaded
0,2016,73,99,Hymn for the Weekend,Coldplay,YykjpeuMNEk,2016-01-29,1394820685,None,300,False
1,2017,16,99,24K Magic,Bruno Mars,UqyT8IEBkvY,2016-10-06,1342568121,None,300,False
2,2011,14,99,Last Friday Night (T.G.I.F.),Katy Perry,KlyXNRrsk4A,2011-06-12,1307248606,None,300,False
3,2005,60,99,La Tortura,Shakira featuring Alejandro Sanz,Dsp_8Lm1eSk,2019-12-12,564999853,None,300,False
4,2005,32,99,My Humps,The Black Eyed Peas,iEe_eraFWWs,2009-06-17,562500326,None,300,False
5,2014,17,99,Say Something,A Great Big World and Christina Aguilera,-2U0Ivkn2Ds,2019-12-13,538940252,None,300,False
6,1997,4,99,Un-Break My Heart,Toni Braxton,p2Rch6WvPJE,2009-10-25,531967194,None,300,False
7,1995,1,99,Gangsta's Paradise,Coolio featuring L.V.,fPO76Jlnz6c,2017-08-01,521472001,Gangsta_s_Paradise.mp3,241,False
8,2012,21,99,Where Have You Been,Rihanna,HBxt_v0WF6Y,2019-12-11,504573954,None,300,False
9,2009,4,99,I Gotta Feeling,The Black Eyed Peas,uSD4vsh1zDA,2009-12-23,501905246,None,300,False

In [19]:
sql = """
SELECT code, count(*)
FROM songs S
WHERE code <> ''
GROUP BY code
HAVING count(*) > 1
"""
df = pd.read_sql(sql, conbb)
df.head()

Empty DataFrame
Columns: [code, count]
Index: []

In [20]:
sr = df["code"]
vids = sr.values.tolist()
in_p = ", ".join(map(lambda vid: "'%s'" % vid, vids))
in_p

''

In [21]:
sql = """
SELECT * FROM songs 
WHERE code IN (%s)
ORDER BY year, rank
"""
sql = sql % (in_p)
df_dups = pd.read_sql(sql, conbb)
df_dups

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near ")"
LINE 3: WHERE code IN ()
                       ^

[SQL:
SELECT * FROM songs
WHERE code IN ()
ORDER BY year, rank
]
(Background on this error at: http://sqlalche.me/e/13/f405)