In [2]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/BBB_development')
conbb = engine.connect()
    
data_path = '../data/'
pd.set_option('display.max_rows', None)

### Inquiry

In [3]:
sql = '''
SELECT title, code, name, views
FROM songs
JOIN artists ON artist_id = artists.id
WHERE code <> '' 
AND views BETWEEN 800000000 AND 899999999
ORDER BY views DESC
'''
songs = pd.read_sql(sql,conbb)
songs

,title,code,name,views
0,Livin' on a Prayer,lDK9QqIzhwk,Bon Jovi,892785957
1,Total Eclipse of the Heart,lcOxhH8N3Bo,Bonnie Tyler,868960641
2,Only Girl (In the World),pa14VNsdSYM,Rihanna,854990922
3,Careless Whisper,izGwDsrQ1eQ,Wham! featuring George Michael,846597429
4,Back in Black,pAgnJDJN4VA,AC/DC,827805849
5,Thriller,sOnqjkJTMaA,Michael Jackson,823823828
6,Always,9BMwcO6_hyA,Bon Jovi,818172019
7,Beat It,oRdxUFDoQe0,Michael Jackson,806341071
8,Wildest Dreams,IdneKLhsWOQ,Taylor Swift,804999375
9,Whatever It Takes,gOsM-DYAEhY,Imagine Dragons,801498360

In [4]:
sr = songs['code']
vids= sr.values.tolist()
vids

['lDK9QqIzhwk',
 'lcOxhH8N3Bo',
 'pa14VNsdSYM',
 'izGwDsrQ1eQ',
 'pAgnJDJN4VA',
 'sOnqjkJTMaA',
 '9BMwcO6_hyA',
 'oRdxUFDoQe0',
 'IdneKLhsWOQ',
 'gOsM-DYAEhY']