In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
import calendar

pd.options.display.max_rows = 8

engine = create_engine('sqlite:///c:\\ruby\\expense\\db\\development.sqlite3')
connection = engine.connect()

C:\Users\admin1\Anaconda2\lib\site-packages\matplotlib\__init__.py:878: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
sql = 'SELECT C.name AS item, G.name AS kind FROM categories C \
       JOIN groups G ON group_id = G.id'
df_c = pd.read_sql(sql, connection)
df_c

                item         kind
0   Books & Software  Edutainment
1                CCF       Luxury
2          Cigarette       Luxury
3               Food         Food
..               ...          ...
21       Family Mart       Others
22              Plum      Shelter
23            Family      Shelter
24          iPad Pro  Edutainment

[25 rows x 2 columns]

In [3]:
month = date(2017, 12, 01)
bom = month
eom = month.replace(day=calendar.monthrange(month.year, month.month)[1])
bom, eom

(datetime.date(2017, 12, 1), datetime.date(2017, 12, 31))

In [ ]:
sql = 'SELECT date,amount,C.name AS item, G.name AS kind FROM transactions T \
JOIN categories C ON category_id = C.id \
JOIN groups G ON group_id = G.id \
WHERE date BETWEEN "%s" AND "%s" \
ORDER BY date'
sql = sql % (bom, eom)
sql

In [ ]:
df_t = pd.read_sql(sql, connection)
df_t

In [ ]:
grouped = df_t.groupby('kind')

In [ ]:
grouped.sum()

In [ ]:
expense = grouped.amount.sum()
sum(expense)

In [ ]:
fig_path = '../fig/Expense-1711.png'
with plt.style.context('my_custom_style'):
    plt.figure(figsize=(12, 12))
    ax = expense.plot.pie(colors=['green','red','orange','cyan','yellow','blue','gold'],
                               startangle=90,
                               autopct='%1.1f%%')
    plt.savefig(fig_path)

In [ ]:
expense.to_csv('../data/expense-1711.csv')