In [1]:
import feedparser
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

clean_path = "../data/clean/"
raw_path = "../data/raw/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
pdf_path = "../PDF/"

pd.set_option('display.max_colwidth', 255)
pd.set_option('display.max_rows',None)
url = "https://feeds.feedburner.com/Setorth-form45-en"

today = date.today()
year = 2021
mmdd_str = today.strftime('%m%d')
mmdd_str

'0223'

In [2]:
#today = date(2022, 2, 18)
mmdd_str = today.strftime('%m%d')
mmdd_str

'0223'

In [3]:
rss_source = feedparser.parse(url)
f45_number = len(rss_source.entries)
print("Number of F45: ", f45_number)

Number of F45:  88

In [4]:
f45_items = []

for x in range(f45_number):
    f45_content = rss_source.entries[x]
    f45_item = {}
    
    print("\n----------------------------------\n")
    
    print("F45: " + str(x))
    title_ary = f45_content.title.partition(' ')
    f45_item['name'] = title_ary[0].strip() 
    print("Title: ", f45_item['name'])  
    f45_item['year'] = year
    print("Year: ", f45_item['year'])      
    qtr_ary = title_ary[2].partition(' (F45)')
    f45_item['quarter'] = qtr_ary[0][-1]    
    print("Quarter: ", f45_item['quarter'])    
    f45_item['link'] = f45_content.link
    print("Link: ", f45_item['link'])
    f45_item['published'] = f45_content.published
    print("Published: ", f45_item['published'])  
    f45_items.append(f45_item)

----------------------------------

F45: 0
Title:  ARROW
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455669000540
Published:  Wed, 23 Feb 2022 22:26:34 +0700

----------------------------------

F45: 1
Title:  PSG
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455669000460
Published:  Wed, 23 Feb 2022 22:25:38 +0700

----------------------------------

F45: 2
Title:  WICE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999980
Published:  Wed, 23 Feb 2022 22:22:10 +0700

----------------------------------

F45: 3
Title:  ALLA
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999740
Published:  Wed, 23 Feb 2022 22:20:51 +0700

----------------------------------

F45: 4
Title:  ASW
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999130
Published:  Wed, 23 Feb 2022 22:17:40 +0700

----------------------------------

F45: 5
Title:  ALLY
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668998650
Published:  Wed, 23 Feb 2022 22:15:49 +0700

----------------------------------

F45: 6
Title:  KUMWEL
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668998000
Published:  Wed, 23 Feb 2022 22:12:39 +0700

----------------------------------

F45: 7
Title:  ONEE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668996100
Published:  Wed, 23 Feb 2022 22:03:36 +0700

----------------------------------

F45: 8
Title:  SKN
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668995460
Published:  Wed, 23 Feb 2022 21:50:01 +0700

----------------------------------

F45: 9
Title:  DCON
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668994970
Published:  Wed, 23 Feb 2022 21:45:55 +0700

----------------------------------

F45: 10
Title:  BEM
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668993700
Published:  Wed, 23 Feb 2022 21:39:07 +0700

----------------------------------

F45: 11
Title:  BPP
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668992780
Published:  Wed, 23 Feb 2022 21:30:54 +0700

----------------------------------

F45: 12
Title:  ARROW
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668992590
Published:  Wed, 23 Feb 2022 21:29:30 +0700

----------------------------------

F45: 13
Title:  TIPH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668991580
Published:  Wed, 23 Feb 2022 21:22:43 +0700

----------------------------------

F45: 14
Title:  ALL
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668991280
Published:  Wed, 23 Feb 2022 21:20:27 +0700

----------------------------------

F45: 15
Title:  BBIK
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668990720
Published:  Wed, 23 Feb 2022 21:13:41 +0700

----------------------------------

F45: 16
Title:  BANPU
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668990080
Published:  Wed, 23 Feb 2022 21:10:48 +0700

----------------------------------

F45: 17
Title:  SKN
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668988680
Published:  Wed, 23 Feb 2022 21:01:07 +0700

----------------------------------

F45: 18
Title:  CPW
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668988600
Published:  Wed, 23 Feb 2022 20:59:34 +0700

----------------------------------

F45: 19
Title:  SYMC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668987500
Published:  Wed, 23 Feb 2022 20:36:58 +0700

----------------------------------

F45: 20
Title:  MONO
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668986760
Published:  Wed, 23 Feb 2022 20:28:24 +0700

----------------------------------

F45: 21
Title:  IIG
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985890
Published:  Wed, 23 Feb 2022 20:18:07 +0700

----------------------------------

F45: 22
Title:  AMARIN
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985640
Published:  Wed, 23 Feb 2022 20:15:37 +0700

----------------------------------

F45: 23
Title:  SINGER
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985400
Published:  Wed, 23 Feb 2022 20:07:58 +0700

----------------------------------

F45: 24
Title:  KISS
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668984740
Published:  Wed, 23 Feb 2022 19:58:55 +0700

----------------------------------

F45: 25
Title:  PROUD
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668983900
Published:  Wed, 23 Feb 2022 19:43:56 +0700

----------------------------------

F45: 26
Title:  BIZ
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668983750
Published:  Wed, 23 Feb 2022 19:41:35 +0700

----------------------------------

F45: 27
Title:  TNR
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668981850
Published:  Wed, 23 Feb 2022 19:34:21 +0700

----------------------------------

F45: 28
Title:  SVT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979900
Published:  Wed, 23 Feb 2022 19:22:22 +0700

----------------------------------

F45: 29
Title:  PYLON
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979370
Published:  Wed, 23 Feb 2022 19:16:56 +0700

----------------------------------

F45: 30
Title:  LIT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979300
Published:  Wed, 23 Feb 2022 19:16:33 +0700

----------------------------------

F45: 31
Title:  BJC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668978140
Published:  Wed, 23 Feb 2022 19:11:18 +0700

----------------------------------

F45: 32
Title:  QH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976400
Published:  Wed, 23 Feb 2022 19:02:09 +0700

----------------------------------

F45: 33
Title:  ICHI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976070
Published:  Wed, 23 Feb 2022 19:01:10 +0700

----------------------------------

F45: 34
Title:  ALT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668975150
Published:  Wed, 23 Feb 2022 18:56:47 +0700

----------------------------------

F45: 35
Title:  RPC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668974660
Published:  Wed, 23 Feb 2022 18:54:19 +0700

----------------------------------

F45: 36
Title:  ILINK
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668972800
Published:  Wed, 23 Feb 2022 18:44:38 +0700

----------------------------------

F45: 37
Title:  UEC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668971780
Published:  Wed, 23 Feb 2022 18:39:40 +0700

----------------------------------

F45: 38
Title:  NVD
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668970540
Published:  Wed, 23 Feb 2022 18:33:01 +0700

----------------------------------

F45: 39
Title:  ETE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668970240
Published:  Wed, 23 Feb 2022 18:31:59 +0700

----------------------------------

F45: 40
Title:  FLOYD
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668969570
Published:  Wed, 23 Feb 2022 18:30:32 +0700

----------------------------------

F45: 41
Title:  TEAMG
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668969500
Published:  Wed, 23 Feb 2022 18:30:11 +0700

----------------------------------

F45: 42
Title:  SCM
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668969220
Published:  Wed, 23 Feb 2022 18:29:32 +0700

----------------------------------

F45: 43
Title:  NVD
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668967640
Published:  Wed, 23 Feb 2022 18:24:32 +0700

----------------------------------

F45: 44
Title:  TFI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668965530
Published:  Wed, 23 Feb 2022 18:16:01 +0700

----------------------------------

F45: 45
Title:  WIIK
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668962040
Published:  Wed, 23 Feb 2022 18:02:13 +0700

----------------------------------

F45: 46
Title:  MEGA
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668961230
Published:  Wed, 23 Feb 2022 17:59:35 +0700

----------------------------------

F45: 47
Title:  TPIPL
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960770
Published:  Wed, 23 Feb 2022 17:57:28 +0700

----------------------------------

F45: 48
Title:  GUNKUL
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960120
Published:  Wed, 23 Feb 2022 17:53:51 +0700

----------------------------------

F45: 49
Title:  BDMS
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959920
Published:  Wed, 23 Feb 2022 17:53:04 +0700

----------------------------------

F45: 50
Title:  KGI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959070
Published:  Wed, 23 Feb 2022 17:49:44 +0700

----------------------------------

F45: 51
Title:  OSP
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668958470
Published:  Wed, 23 Feb 2022 17:48:04 +0700

----------------------------------

F45: 52
Title:  KKPS
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668954240
Published:  Wed, 23 Feb 2022 17:38:17 +0700

----------------------------------

F45: 53
Title:  KPNPF
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668951860
Published:  Wed, 23 Feb 2022 17:31:26 +0700

----------------------------------

F45: 54
Title:  ROCK
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668951050
Published:  Wed, 23 Feb 2022 17:28:51 +0700

----------------------------------

F45: 55
Title:  TTB
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668949270
Published:  Wed, 23 Feb 2022 17:23:13 +0700

----------------------------------

F45: 56
Title:  UTP
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668948460
Published:  Wed, 23 Feb 2022 17:21:50 +0700

----------------------------------

F45: 57
Title:  UMS
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668946520
Published:  Wed, 23 Feb 2022 17:18:11 +0700

----------------------------------

F45: 58
Title:  IT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668946440
Published:  Wed, 23 Feb 2022 17:17:49 +0700

----------------------------------

F45: 59
Title:  OGC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668945320
Published:  Wed, 23 Feb 2022 17:15:27 +0700

----------------------------------

F45: 60
Title:  BRRGIF
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668944960
Published:  Wed, 23 Feb 2022 17:14:29 +0700

----------------------------------

F45: 61
Title:  TNP
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668942850
Published:  Wed, 23 Feb 2022 17:11:02 +0700

----------------------------------

F45: 62
Title:  VL
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668941660
Published:  Wed, 23 Feb 2022 17:09:12 +0700

----------------------------------

F45: 63
Title:  WINNER
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668940340
Published:  Wed, 23 Feb 2022 17:07:50 +0700

----------------------------------

F45: 64
Title:  ADD
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668939070
Published:  Wed, 23 Feb 2022 17:05:54 +0700

----------------------------------

F45: 65
Title:  MATCH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668937540
Published:  Wed, 23 Feb 2022 17:03:36 +0700

----------------------------------

F45: 66
Title:  WFX
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905540
Published:  Wed, 23 Feb 2022 13:14:38 +0700

----------------------------------

F45: 67
Title:  TU
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905460
Published:  Wed, 23 Feb 2022 13:13:18 +0700

----------------------------------

F45: 68
Title:  M-STOR
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905300
Published:  Wed, 23 Feb 2022 13:12:07 +0700

----------------------------------

F45: 69
Title:  MFEC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668903580
Published:  Wed, 23 Feb 2022 13:03:40 +0700

----------------------------------

F45: 70
Title:  M-STOR
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668902900
Published:  Wed, 23 Feb 2022 12:57:02 +0700

----------------------------------

F45: 71
Title:  UMI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668902800
Published:  Wed, 23 Feb 2022 12:55:39 +0700

----------------------------------

F45: 72
Title:  YUANTA
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668902110
Published:  Wed, 23 Feb 2022 12:45:17 +0700

----------------------------------

F45: 73
Title:  NPK
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668901910
Published:  Wed, 23 Feb 2022 12:43:13 +0700

----------------------------------

F45: 74
Title:  CPR
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668901700
Published:  Wed, 23 Feb 2022 12:39:36 +0700

----------------------------------

F45: 75
Title:  AMA
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668886340
Published:  Wed, 23 Feb 2022 08:59:51 +0700

----------------------------------

F45: 76
Title:  UBE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668881030
Published:  Wed, 23 Feb 2022 08:31:29 +0700

----------------------------------

F45: 77
Title:  THRE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880810
Published:  Wed, 23 Feb 2022 08:29:39 +0700

----------------------------------

F45: 78
Title:  TVT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880600
Published:  Wed, 23 Feb 2022 08:27:24 +0700

----------------------------------

F45: 79
Title:  NV
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880570
Published:  Wed, 23 Feb 2022 08:26:27 +0700

----------------------------------

F45: 80
Title:  KIAT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880320
Published:  Wed, 23 Feb 2022 08:22:31 +0700

----------------------------------

F45: 81
Title:  JUBILE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880280
Published:  Wed, 23 Feb 2022 08:20:26 +0700

----------------------------------

F45: 82
Title:  RATCH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878860
Published:  Wed, 23 Feb 2022 08:00:43 +0700

----------------------------------

F45: 83
Title:  DMT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878830
Published:  Wed, 23 Feb 2022 08:00:17 +0700

----------------------------------

F45: 84
Title:  ERW
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878410
Published:  Wed, 23 Feb 2022 07:53:31 +0700

----------------------------------

F45: 85
Title:  HMPRO
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877910
Published:  Wed, 23 Feb 2022 07:24:50 +0700

----------------------------------

F45: 86
Title:  III
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877770
Published:  Wed, 23 Feb 2022 07:17:50 +0700

----------------------------------

F45: 87
Title:  CMC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668874100
Published:  Wed, 23 Feb 2022 06:44:23 +0700

In [5]:
df = pd.DataFrame(f45_items)
df[['name','year','quarter','published']]

      name  year quarter                        published
0    ARROW  2021       y  Wed, 23 Feb 2022 22:26:34 +0700
1      PSG  2021       y  Wed, 23 Feb 2022 22:25:38 +0700
2     WICE  2021       y  Wed, 23 Feb 2022 22:22:10 +0700
3     ALLA  2021       y  Wed, 23 Feb 2022 22:20:51 +0700
4      ASW  2021       y  Wed, 23 Feb 2022 22:17:40 +0700
5     ALLY  2021       e  Wed, 23 Feb 2022 22:15:49 +0700
6   KUMWEL  2021       y  Wed, 23 Feb 2022 22:12:39 +0700
7     ONEE  2021       y  Wed, 23 Feb 2022 22:03:36 +0700
8      SKN  2021       y  Wed, 23 Feb 2022 21:50:01 +0700
9     DCON  2021       y  Wed, 23 Feb 2022 21:45:55 +0700
10     BEM  2021       y  Wed, 23 Feb 2022 21:39:07 +0700
11     BPP  2021       y  Wed, 23 Feb 2022 21:30:54 +0700
12   ARROW  2021       y  Wed, 23 Feb 2022 21:29:30 +0700
13    TIPH  2021       y  Wed, 23 Feb 2022 21:22:43 +0700
14     ALL  2021       y  Wed, 23 Feb 2022 21:20:27 +0700
15    BBIK  2021       y  Wed, 23 Feb 2022 21:13:41 +0700
16   BANPU  2021       y  Wed, 23 Feb 2022 21:10:48 +0700
17     SKN  2021       y  Wed, 23 Feb 2022 21:01:07 +0700
18     CPW  2021       y  Wed, 23 Feb 2022 20:59:34 +0700
19    SYMC  2021       y  Wed, 23 Feb 2022 20:36:58 +0700
20    MONO  2021       y  Wed, 23 Feb 2022 20:28:24 +0700
21     IIG  2021       y  Wed, 23 Feb 2022 20:18:07 +0700
22  AMARIN  2021       y  Wed, 23 Feb 2022 20:15:37 +0700
23  SINGER  2021       y  Wed, 23 Feb 2022 20:07:58 +0700
24    KISS  2021       y  Wed, 23 Feb 2022 19:58:55 +0700
25   PROUD  2021       y  Wed, 23 Feb 2022 19:43:56 +0700
26     BIZ  2021       y  Wed, 23 Feb 2022 19:41:35 +0700
27     TNR  2021       y  Wed, 23 Feb 2022 19:34:21 +0700
28     SVT  2021       y  Wed, 23 Feb 2022 19:22:22 +0700
29   PYLON  2021       y  Wed, 23 Feb 2022 19:16:56 +0700
30     LIT  2021       y  Wed, 23 Feb 2022 19:16:33 +0700
31     BJC  2021       y  Wed, 23 Feb 2022 19:11:18 +0700
32      QH  2021       y  Wed, 23 Feb 2022 19:02:09 +0700
33    ICHI  2021       y  Wed, 23 Feb 2022 19:01:10 +0700
34     ALT  2021       y  Wed, 23 Feb 2022 18:56:47 +0700
35     RPC  2021       y  Wed, 23 Feb 2022 18:54:19 +0700
36   ILINK  2021       y  Wed, 23 Feb 2022 18:44:38 +0700
37     UEC  2021       y  Wed, 23 Feb 2022 18:39:40 +0700
38     NVD  2021       y  Wed, 23 Feb 2022 18:33:01 +0700
39     ETE  2021       y  Wed, 23 Feb 2022 18:31:59 +0700
40   FLOYD  2021       y  Wed, 23 Feb 2022 18:30:32 +0700
41   TEAMG  2021       y  Wed, 23 Feb 2022 18:30:11 +0700
42     SCM  2021       y  Wed, 23 Feb 2022 18:29:32 +0700
43     NVD  2021       y  Wed, 23 Feb 2022 18:24:32 +0700
44     TFI  2021       y  Wed, 23 Feb 2022 18:16:01 +0700
45    WIIK  2021       y  Wed, 23 Feb 2022 18:02:13 +0700
46    MEGA  2021       y  Wed, 23 Feb 2022 17:59:35 +0700
47   TPIPL  2021       y  Wed, 23 Feb 2022 17:57:28 +0700
48  GUNKUL  2021       y  Wed, 23 Feb 2022 17:53:51 +0700
49    BDMS  2021       y  Wed, 23 Feb 2022 17:53:04 +0700
50     KGI  2021       y  Wed, 23 Feb 2022 17:49:44 +0700
51     OSP  2021       y  Wed, 23 Feb 2022 17:48:04 +0700
52    KKPS  2021       e  Wed, 23 Feb 2022 17:38:17 +0700
53   KPNPF  2021       e  Wed, 23 Feb 2022 17:31:26 +0700
54    ROCK  2021       y  Wed, 23 Feb 2022 17:28:51 +0700
55     TTB  2021       y  Wed, 23 Feb 2022 17:23:13 +0700
56     UTP  2021       y  Wed, 23 Feb 2022 17:21:50 +0700
57     UMS  2021       y  Wed, 23 Feb 2022 17:18:11 +0700
58      IT  2021       y  Wed, 23 Feb 2022 17:17:49 +0700
59     OGC  2021       y  Wed, 23 Feb 2022 17:15:27 +0700
60  BRRGIF  2021       e  Wed, 23 Feb 2022 17:14:29 +0700
61     TNP  2021       y  Wed, 23 Feb 2022 17:11:02 +0700
62      VL  2021       y  Wed, 23 Feb 2022 17:09:12 +0700
63  WINNER  2021       y  Wed, 23 Feb 2022 17:07:50 +0700
64     ADD  2021       y  Wed, 23 Feb 2022 17:05:54 +0700
65   MATCH  2021       y  Wed, 23 Feb 2022 17:03:36 +0700
66     WFX  2021       y  Wed, 23 Feb 2022 13:14:38 +0700
67      TU  2021       y  Wed, 23 Feb 2022 13:13:18 +0700
68  M-STOR  2021       e  Wed, 23 Feb 2022 13:12:07 +0700
69    MFEC  2021       y  Wed, 23 Feb 2022 13:03:40 +0700
70  M-STOR  2021       e  Wed, 23 Feb 2022 12:57:02 +0700
71     UMI  2021       y  Wed, 23 Feb 2022 12:55:39 +0700
72  YUANTA  2021       e  Wed, 23 Feb 2022 12:45:17 +0700
73     NPK  2021       y  Wed, 23 Feb 2022 12:43:13 +0700
74     CPR  2021       y  Wed, 23 Feb 2022 12:39:36 +0700
75     AMA  2021       y  Wed, 23 Feb 2022 08:59:51 +0700
76     UBE  2021       y  Wed, 23 Feb 2022 08:31:29 +0700
77    THRE  2021       y  Wed, 23 Feb 2022 08:29:39 +0700
78     TVT  2021       y  Wed, 23 Feb 2022 08:27:24 +0700
79      NV  2021       y  Wed, 23 Feb 2022 08:26:27 +0700
80    KIAT  2021       y  Wed, 23 Feb 2022 08:22:31 +0700
81  JUBILE  2021       y  Wed, 23 Feb 2022 08:20:26 +0700
82   RATCH  2021       y  Wed, 23 Feb 2022 08:00:43 +0700
83     DMT  2021       y  Wed, 23 Feb 2022 08:00:17 +0700
84     ERW  2021       y  Wed, 23 Feb 2022 07:53:31 +0700
85   HMPRO  2021       y  Wed, 23 Feb 2022 07:24:50 +0700
86     III  2021       y  Wed, 23 Feb 2022 07:17:50 +0700
87     CMC  2021       y  Wed, 23 Feb 2022 06:44:23 +0700

In [6]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == 'y','quarter'] = 4
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          81    81    81         81
e           7     7     7          7

In [7]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == 'e','quarter'] = 4
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          88    88    88         88

In [9]:
df.loc[df.quarter == '1','quarter'] = 4
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          59    59    59         59

In [8]:
df.loc[df.quarter == 'S','quarter'] = 4
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          63    63    63         63

In [10]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == '1','year'] = 2022
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['year']).count()

      name  quarter  link  published
year
2021    32       32    32         32

In [8]:
df.shape

(88, 5)

In [9]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='name', keep='first')
df.shape

(84, 5)

In [10]:
file_name = 'F45-RAW-' + mmdd_str + '.csv'
raw_file = raw_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df[['name','year','quarter','published']].to_csv(output_file, header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(box_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(one_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(raw_file,    header=True, index=False, sep=',')

In [11]:
sql = '''
SELECT *
FROM exempts
ORDER BY name'''
df_exempts = pd.read_sql(sql, conlt)
df_exempts.shape[0]

299

In [12]:
df_merge = pd.merge(df, df_exempts, on='name', how='outer', indicator=True)
df_merge.shape

(358, 7)

### Tickers that won't be input

In [13]:
in_exempts = df_merge.loc[
    df_merge['_merge'] == 'both',
    ['name','year','quarter','published','link']
]
in_exempts.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
3,ALLA,2021.0,4,"Wed, 23 Feb 2022 22:20:51 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999740
16,CPW,2021.0,4,"Wed, 23 Feb 2022 20:59:34 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668988600
17,SYMC,2021.0,4,"Wed, 23 Feb 2022 20:36:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668987500
18,MONO,2021.0,4,"Wed, 23 Feb 2022 20:28:24 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668986760
24,BIZ,2021.0,4,"Wed, 23 Feb 2022 19:41:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668983750
27,PYLON,2021.0,4,"Wed, 23 Feb 2022 19:16:56 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979370
32,ALT,2021.0,4,"Wed, 23 Feb 2022 18:56:47 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668975150
35,UEC,2021.0,4,"Wed, 23 Feb 2022 18:39:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668971780
36,NVD,2021.0,4,"Wed, 23 Feb 2022 18:33:01 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668970540
37,ETE,2021.0,4,"Wed, 23 Feb 2022 18:31:59 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668970240
38,FLOYD,2021.0,4,"Wed, 23 Feb 2022 18:30:32 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668969570
39,TEAMG,2021.0,4,"Wed, 23 Feb 2022 18:30:11 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668969500
51,ROCK,2021.0,4,"Wed, 23 Feb 2022 17:28:51 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668951050
55,IT,2021.0,4,"Wed, 23 Feb 2022 17:17:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668946440
58,TNP,2021.0,4,"Wed, 23 Feb 2022 17:11:02 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668942850
60,WINNER,2021.0,4,"Wed, 23 Feb 2022 17:07:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668940340
62,MATCH,2021.0,4,"Wed, 23 Feb 2022 17:03:36 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668937540
67,UMI,2021.0,4,"Wed, 23 Feb 2022 12:55:39 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668902800
70,CPR,2021.0,4,"Wed, 23 Feb 2022 12:39:36 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668901700
71,AMA,2021.0,4,"Wed, 23 Feb 2022 08:59:51 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668886340
73,THRE,2021.0,4,"Wed, 23 Feb 2022 08:29:39 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880810
74,TVT,2021.0,4,"Wed, 23 Feb 2022 08:27:24 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880600
76,KIAT,2021.0,4,"Wed, 23 Feb 2022 08:22:31 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880320
80,ERW,2021.0,4,"Wed, 23 Feb 2022 07:53:31 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878410
83,CMC,2021.0,4,"Wed, 23 Feb 2022 06:44:23 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668874100

In [14]:
in_exempts.sort_values(by=['published'],ascending=[False]).shape[0]

25

In [15]:
df_out = df_merge.loc[
    df_merge['_merge'] == 'left_only',
    ['name','year','quarter','published','link']
]
df_out.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
0,ARROW,2021.0,4,"Wed, 23 Feb 2022 22:26:34 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455669000540
1,PSG,2021.0,4,"Wed, 23 Feb 2022 22:25:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455669000460
2,WICE,2021.0,4,"Wed, 23 Feb 2022 22:22:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999980
4,ASW,2021.0,4,"Wed, 23 Feb 2022 22:17:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999130
5,ALLY,2021.0,4,"Wed, 23 Feb 2022 22:15:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668998650
6,KUMWEL,2021.0,4,"Wed, 23 Feb 2022 22:12:39 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668998000
7,ONEE,2021.0,4,"Wed, 23 Feb 2022 22:03:36 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668996100
8,SKN,2021.0,4,"Wed, 23 Feb 2022 21:50:01 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668995460
9,DCON,2021.0,4,"Wed, 23 Feb 2022 21:45:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668994970
10,BEM,2021.0,4,"Wed, 23 Feb 2022 21:39:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668993700
11,BPP,2021.0,4,"Wed, 23 Feb 2022 21:30:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668992780
12,TIPH,2021.0,4,"Wed, 23 Feb 2022 21:22:43 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668991580
13,ALL,2021.0,4,"Wed, 23 Feb 2022 21:20:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668991280
14,BBIK,2021.0,4,"Wed, 23 Feb 2022 21:13:41 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668990720
15,BANPU,2021.0,4,"Wed, 23 Feb 2022 21:10:48 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668990080
19,IIG,2021.0,4,"Wed, 23 Feb 2022 20:18:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985890
20,AMARIN,2021.0,4,"Wed, 23 Feb 2022 20:15:37 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985640
21,SINGER,2021.0,4,"Wed, 23 Feb 2022 20:07:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985400
22,KISS,2021.0,4,"Wed, 23 Feb 2022 19:58:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668984740
23,PROUD,2021.0,4,"Wed, 23 Feb 2022 19:43:56 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668983900
25,TNR,2021.0,4,"Wed, 23 Feb 2022 19:34:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668981850
26,SVT,2021.0,4,"Wed, 23 Feb 2022 19:22:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979900
28,LIT,2021.0,4,"Wed, 23 Feb 2022 19:16:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979300
29,BJC,2021.0,4,"Wed, 23 Feb 2022 19:11:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668978140
30,QH,2021.0,4,"Wed, 23 Feb 2022 19:02:09 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976400
31,ICHI,2021.0,4,"Wed, 23 Feb 2022 19:01:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976070
33,RPC,2021.0,4,"Wed, 23 Feb 2022 18:54:19 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668974660
34,ILINK,2021.0,4,"Wed, 23 Feb 2022 18:44:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668972800
40,SCM,2021.0,4,"Wed, 23 Feb 2022 18:29:32 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668969220
41,TFI,2021.0,4,"Wed, 23 Feb 2022 18:16:01 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668965530
42,WIIK,2021.0,4,"Wed, 23 Feb 2022 18:02:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668962040
43,MEGA,2021.0,4,"Wed, 23 Feb 2022 17:59:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668961230
44,TPIPL,2021.0,4,"Wed, 23 Feb 2022 17:57:28 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960770
45,GUNKUL,2021.0,4,"Wed, 23 Feb 2022 17:53:51 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960120
46,BDMS,2021.0,4,"Wed, 23 Feb 2022 17:53:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959920
47,KGI,2021.0,4,"Wed, 23 Feb 2022 17:49:44 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959070
48,OSP,2021.0,4,"Wed, 23 Feb 2022 17:48:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668958470
49,KKPS,2021.0,4,"Wed, 23 Feb 2022 17:38:17 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668954240
50,KPNPF,2021.0,4,"Wed, 23 Feb 2022 17:31:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668951860
52,TTB,2021.0,4,"Wed, 23 Feb 2022 17:23:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668949270
53,UTP,2021.0,4,"Wed, 23 Feb 2022 17:21:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668948460
54,UMS,2021.0,4,"Wed, 23 Feb 2022 17:18:11 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668946520
56,OGC,2021.0,4,"Wed, 23 Feb 2022 17:15:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668945320
57,BRRGIF,2021.0,4,"Wed, 23 Feb 2022 17:14:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668944960
59,VL,2021.0,4,"Wed, 23 Feb 2022 17:09:12 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668941660
61,ADD,2021.0,4,"Wed, 23 Feb 2022 17:05:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668939070
63,WFX,2021.0,4,"Wed, 23 Feb 2022 13:14:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905540
64,TU,2021.0,4,"Wed, 23 Feb 2022 13:13:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905460
65,M-STOR,2021.0,4,"Wed, 23 Feb 2022 13:12:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905300
66,MFEC,2021.0,4,"Wed, 23 Feb 2022 13:03:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668903580
68,YUANTA,2021.0,4,"Wed, 23 Feb 2022 12:45:17 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668902110
69,NPK,2021.0,4,"Wed, 23 Feb 2022 12:43:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668901910
72,UBE,2021.0,4,"Wed, 23 Feb 2022 08:31:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668881030
75,NV,2021.0,4,"Wed, 23 Feb 2022 08:26:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880570
77,JUBILE,2021.0,4,"Wed, 23 Feb 2022 08:20:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880280
78,RATCH,2021.0,4,"Wed, 23 Feb 2022 08:00:43 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878860
79,DMT,2021.0,4,"Wed, 23 Feb 2022 08:00:17 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878830
81,HMPRO,2021.0,4,"Wed, 23 Feb 2022 07:24:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877910
82,III,2021.0,4,"Wed, 23 Feb 2022 07:17:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877770

In [16]:
#df_out = df_out.drop(df_out.index[df_out['name'] == "SCC"])
df_out.shape[0]

59

In [17]:
sql = '''
SELECT *
FROM tickers
ORDER BY name'''
df_tickers = pd.read_sql(sql, conlt)
df_tickers.shape

(403, 9)

In [18]:
df_merge2 = pd.merge(df_out, df_tickers, on='name', how='outer', indicator=True)
df_merge2.shape

(429, 14)

### There are no ticker records

In [19]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
]

,name,year,quarter,published,link,id,market
1,PSG,2021.0,4,"Wed, 23 Feb 2022 22:25:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455669000460,NaN,NaN
4,ALLY,2021.0,4,"Wed, 23 Feb 2022 22:15:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668998650,NaN,NaN
5,KUMWEL,2021.0,4,"Wed, 23 Feb 2022 22:12:39 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668998000,NaN,NaN
6,ONEE,2021.0,4,"Wed, 23 Feb 2022 22:03:36 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668996100,NaN,NaN
12,ALL,2021.0,4,"Wed, 23 Feb 2022 21:20:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668991280,NaN,NaN
13,BBIK,2021.0,4,"Wed, 23 Feb 2022 21:13:41 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668990720,NaN,NaN
15,IIG,2021.0,4,"Wed, 23 Feb 2022 20:18:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985890,NaN,NaN
18,KISS,2021.0,4,"Wed, 23 Feb 2022 19:58:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668984740,NaN,NaN
19,PROUD,2021.0,4,"Wed, 23 Feb 2022 19:43:56 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668983900,NaN,NaN
21,SVT,2021.0,4,"Wed, 23 Feb 2022 19:22:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979900,NaN,NaN
28,SCM,2021.0,4,"Wed, 23 Feb 2022 18:29:32 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668969220,NaN,NaN
29,TFI,2021.0,4,"Wed, 23 Feb 2022 18:16:01 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668965530,NaN,NaN
37,KKPS,2021.0,4,"Wed, 23 Feb 2022 17:38:17 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668954240,NaN,NaN
38,KPNPF,2021.0,4,"Wed, 23 Feb 2022 17:31:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668951860,NaN,NaN
41,UMS,2021.0,4,"Wed, 23 Feb 2022 17:18:11 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668946520,NaN,NaN
42,OGC,2021.0,4,"Wed, 23 Feb 2022 17:15:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668945320,NaN,NaN
43,BRRGIF,2021.0,4,"Wed, 23 Feb 2022 17:14:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668944960,NaN,NaN
44,VL,2021.0,4,"Wed, 23 Feb 2022 17:09:12 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668941660,NaN,NaN
45,ADD,2021.0,4,"Wed, 23 Feb 2022 17:05:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668939070,NaN,NaN
46,WFX,2021.0,4,"Wed, 23 Feb 2022 13:14:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905540,NaN,NaN
48,M-STOR,2021.0,4,"Wed, 23 Feb 2022 13:12:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905300,NaN,NaN
50,YUANTA,2021.0,4,"Wed, 23 Feb 2022 12:45:17 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668902110,NaN,NaN
51,NPK,2021.0,4,"Wed, 23 Feb 2022 12:43:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668901910,NaN,NaN
52,UBE,2021.0,4,"Wed, 23 Feb 2022 08:31:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668881030,NaN,NaN
53,NV,2021.0,4,"Wed, 23 Feb 2022 08:26:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880570,NaN,NaN
56,DMT,2021.0,4,"Wed, 23 Feb 2022 08:00:17 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878830,NaN,NaN

### There are ticker records

In [20]:
df_out2 = df_merge2.loc[
    df_merge2['_merge'] == 'both',
    ['name','year','quarter','published','link','id','market']
]
df_out2

,name,year,quarter,published,link,id,market
0,ARROW,2021.0,4,"Wed, 23 Feb 2022 22:26:34 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455669000540,31.0,mai
2,WICE,2021.0,4,"Wed, 23 Feb 2022 22:22:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999980,624.0,sSET
3,ASW,2021.0,4,"Wed, 23 Feb 2022 22:17:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999130,728.0,sSET
7,SKN,2021.0,4,"Wed, 23 Feb 2022 21:50:01 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668995460,642.0,sSET
8,DCON,2021.0,4,"Wed, 23 Feb 2022 21:45:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668994970,136.0,SET
9,BEM,2021.0,4,"Wed, 23 Feb 2022 21:39:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668993700,57.0,SET50 / SETTHSI / SETWB
10,BPP,2021.0,4,"Wed, 23 Feb 2022 21:30:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668992780,74.0,SET100 / SETCLMV / SETHD / SETTHSI
11,TIPH,2021.0,4,"Wed, 23 Feb 2022 21:22:43 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668991580,529.0,SET
14,BANPU,2021.0,4,"Wed, 23 Feb 2022 21:10:48 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668990080,47.0,SET50 / SETCLMV / SETTHSI
16,AMARIN,2021.0,4,"Wed, 23 Feb 2022 20:15:37 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985640,20.0,SET
17,SINGER,2021.0,4,"Wed, 23 Feb 2022 20:07:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985400,446.0,SET100
20,TNR,2021.0,4,"Wed, 23 Feb 2022 19:34:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668981850,553.0,sSET
22,LIT,2021.0,4,"Wed, 23 Feb 2022 19:16:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979300,273.0,mai
23,BJC,2021.0,4,"Wed, 23 Feb 2022 19:11:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668978140,65.0,SETCLMV / SETTHSI / SETWB
24,QH,2021.0,4,"Wed, 23 Feb 2022 19:02:09 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976400,388.0,SET100 / SETHD
25,ICHI,2021.0,4,"Wed, 23 Feb 2022 19:01:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976070,216.0,sSET / SETCLMV
26,RPC,2021.0,4,"Wed, 23 Feb 2022 18:54:19 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668974660,406.0,SET
27,ILINK,2021.0,4,"Wed, 23 Feb 2022 18:44:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668972800,221.0,sSET
30,WIIK,2021.0,4,"Wed, 23 Feb 2022 18:02:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668962040,625.0,SET
31,MEGA,2021.0,4,"Wed, 23 Feb 2022 17:59:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668961230,295.0,SET100 / SETCLMV / SETWB
32,TPIPL,2021.0,4,"Wed, 23 Feb 2022 17:57:28 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960770,559.0,SET
33,GUNKUL,2021.0,4,"Wed, 23 Feb 2022 17:53:51 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960120,202.0,SET100 / SETCLMV / SETHD / SETTHSI
34,BDMS,2021.0,4,"Wed, 23 Feb 2022 17:53:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959920,54.0,SET50 / SETCLMV / SETTHSI / SETWB
35,KGI,2021.0,4,"Wed, 23 Feb 2022 17:49:44 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959070,252.0,sSET
36,OSP,2021.0,4,"Wed, 23 Feb 2022 17:48:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668958470,681.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
39,TTB,2021.0,4,"Wed, 23 Feb 2022 17:23:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668949270,541.0,SET50 / SETHD / SETTHSI
40,UTP,2021.0,4,"Wed, 23 Feb 2022 17:21:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668948460,605.0,sSET / SETCLMV
47,TU,2021.0,4,"Wed, 23 Feb 2022 13:13:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905460,582.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
49,MFEC,2021.0,4,"Wed, 23 Feb 2022 13:03:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668903580,297.0,sSET
54,JUBILE,2021.0,4,"Wed, 23 Feb 2022 08:20:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880280,240.0,mai
55,RATCH,2021.0,4,"Wed, 23 Feb 2022 08:00:43 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878860,394.0,SET50 / SETCLMV / SETHD / SETTHSI
57,HMPRO,2021.0,4,"Wed, 23 Feb 2022 07:24:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877910,208.0,SET50 / SETTHSI / SETWB
58,III,2021.0,4,"Wed, 23 Feb 2022 07:17:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877770,637.0,sSET

In [21]:
df_out2 = df_out2[df_out2.year.notnull()]
df_out2

,name,year,quarter,published,link,id,market
0,ARROW,2021.0,4,"Wed, 23 Feb 2022 22:26:34 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455669000540,31.0,mai
2,WICE,2021.0,4,"Wed, 23 Feb 2022 22:22:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999980,624.0,sSET
3,ASW,2021.0,4,"Wed, 23 Feb 2022 22:17:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999130,728.0,sSET
7,SKN,2021.0,4,"Wed, 23 Feb 2022 21:50:01 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668995460,642.0,sSET
8,DCON,2021.0,4,"Wed, 23 Feb 2022 21:45:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668994970,136.0,SET
9,BEM,2021.0,4,"Wed, 23 Feb 2022 21:39:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668993700,57.0,SET50 / SETTHSI / SETWB
10,BPP,2021.0,4,"Wed, 23 Feb 2022 21:30:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668992780,74.0,SET100 / SETCLMV / SETHD / SETTHSI
11,TIPH,2021.0,4,"Wed, 23 Feb 2022 21:22:43 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668991580,529.0,SET
14,BANPU,2021.0,4,"Wed, 23 Feb 2022 21:10:48 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668990080,47.0,SET50 / SETCLMV / SETTHSI
16,AMARIN,2021.0,4,"Wed, 23 Feb 2022 20:15:37 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985640,20.0,SET
17,SINGER,2021.0,4,"Wed, 23 Feb 2022 20:07:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985400,446.0,SET100
20,TNR,2021.0,4,"Wed, 23 Feb 2022 19:34:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668981850,553.0,sSET
22,LIT,2021.0,4,"Wed, 23 Feb 2022 19:16:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979300,273.0,mai
23,BJC,2021.0,4,"Wed, 23 Feb 2022 19:11:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668978140,65.0,SETCLMV / SETTHSI / SETWB
24,QH,2021.0,4,"Wed, 23 Feb 2022 19:02:09 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976400,388.0,SET100 / SETHD
25,ICHI,2021.0,4,"Wed, 23 Feb 2022 19:01:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976070,216.0,sSET / SETCLMV
26,RPC,2021.0,4,"Wed, 23 Feb 2022 18:54:19 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668974660,406.0,SET
27,ILINK,2021.0,4,"Wed, 23 Feb 2022 18:44:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668972800,221.0,sSET
30,WIIK,2021.0,4,"Wed, 23 Feb 2022 18:02:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668962040,625.0,SET
31,MEGA,2021.0,4,"Wed, 23 Feb 2022 17:59:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668961230,295.0,SET100 / SETCLMV / SETWB
32,TPIPL,2021.0,4,"Wed, 23 Feb 2022 17:57:28 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960770,559.0,SET
33,GUNKUL,2021.0,4,"Wed, 23 Feb 2022 17:53:51 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960120,202.0,SET100 / SETCLMV / SETHD / SETTHSI
34,BDMS,2021.0,4,"Wed, 23 Feb 2022 17:53:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959920,54.0,SET50 / SETCLMV / SETTHSI / SETWB
35,KGI,2021.0,4,"Wed, 23 Feb 2022 17:49:44 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959070,252.0,sSET
36,OSP,2021.0,4,"Wed, 23 Feb 2022 17:48:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668958470,681.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
39,TTB,2021.0,4,"Wed, 23 Feb 2022 17:23:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668949270,541.0,SET50 / SETHD / SETTHSI
40,UTP,2021.0,4,"Wed, 23 Feb 2022 17:21:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668948460,605.0,sSET / SETCLMV
47,TU,2021.0,4,"Wed, 23 Feb 2022 13:13:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905460,582.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
49,MFEC,2021.0,4,"Wed, 23 Feb 2022 13:03:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668903580,297.0,sSET
54,JUBILE,2021.0,4,"Wed, 23 Feb 2022 08:20:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880280,240.0,mai
55,RATCH,2021.0,4,"Wed, 23 Feb 2022 08:00:43 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878860,394.0,SET50 / SETCLMV / SETHD / SETTHSI
57,HMPRO,2021.0,4,"Wed, 23 Feb 2022 07:24:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877910,208.0,SET50 / SETTHSI / SETWB
58,III,2021.0,4,"Wed, 23 Feb 2022 07:17:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877770,637.0,sSET

In [22]:
df_out2['year'] = df_out2['year'].astype(int)
df_out2['quarter'] = df_out2['quarter'].astype(int)
df_out2

,name,year,quarter,published,link,id,market
0,ARROW,2021,4,"Wed, 23 Feb 2022 22:26:34 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455669000540,31.0,mai
2,WICE,2021,4,"Wed, 23 Feb 2022 22:22:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999980,624.0,sSET
3,ASW,2021,4,"Wed, 23 Feb 2022 22:17:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999130,728.0,sSET
7,SKN,2021,4,"Wed, 23 Feb 2022 21:50:01 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668995460,642.0,sSET
8,DCON,2021,4,"Wed, 23 Feb 2022 21:45:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668994970,136.0,SET
9,BEM,2021,4,"Wed, 23 Feb 2022 21:39:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668993700,57.0,SET50 / SETTHSI / SETWB
10,BPP,2021,4,"Wed, 23 Feb 2022 21:30:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668992780,74.0,SET100 / SETCLMV / SETHD / SETTHSI
11,TIPH,2021,4,"Wed, 23 Feb 2022 21:22:43 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668991580,529.0,SET
14,BANPU,2021,4,"Wed, 23 Feb 2022 21:10:48 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668990080,47.0,SET50 / SETCLMV / SETTHSI
16,AMARIN,2021,4,"Wed, 23 Feb 2022 20:15:37 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985640,20.0,SET
17,SINGER,2021,4,"Wed, 23 Feb 2022 20:07:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985400,446.0,SET100
20,TNR,2021,4,"Wed, 23 Feb 2022 19:34:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668981850,553.0,sSET
22,LIT,2021,4,"Wed, 23 Feb 2022 19:16:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979300,273.0,mai
23,BJC,2021,4,"Wed, 23 Feb 2022 19:11:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668978140,65.0,SETCLMV / SETTHSI / SETWB
24,QH,2021,4,"Wed, 23 Feb 2022 19:02:09 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976400,388.0,SET100 / SETHD
25,ICHI,2021,4,"Wed, 23 Feb 2022 19:01:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976070,216.0,sSET / SETCLMV
26,RPC,2021,4,"Wed, 23 Feb 2022 18:54:19 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668974660,406.0,SET
27,ILINK,2021,4,"Wed, 23 Feb 2022 18:44:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668972800,221.0,sSET
30,WIIK,2021,4,"Wed, 23 Feb 2022 18:02:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668962040,625.0,SET
31,MEGA,2021,4,"Wed, 23 Feb 2022 17:59:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668961230,295.0,SET100 / SETCLMV / SETWB
32,TPIPL,2021,4,"Wed, 23 Feb 2022 17:57:28 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960770,559.0,SET
33,GUNKUL,2021,4,"Wed, 23 Feb 2022 17:53:51 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960120,202.0,SET100 / SETCLMV / SETHD / SETTHSI
34,BDMS,2021,4,"Wed, 23 Feb 2022 17:53:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959920,54.0,SET50 / SETCLMV / SETTHSI / SETWB
35,KGI,2021,4,"Wed, 23 Feb 2022 17:49:44 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959070,252.0,sSET
36,OSP,2021,4,"Wed, 23 Feb 2022 17:48:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668958470,681.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
39,TTB,2021,4,"Wed, 23 Feb 2022 17:23:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668949270,541.0,SET50 / SETHD / SETTHSI
40,UTP,2021,4,"Wed, 23 Feb 2022 17:21:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668948460,605.0,sSET / SETCLMV
47,TU,2021,4,"Wed, 23 Feb 2022 13:13:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905460,582.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
49,MFEC,2021,4,"Wed, 23 Feb 2022 13:03:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668903580,297.0,sSET
54,JUBILE,2021,4,"Wed, 23 Feb 2022 08:20:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880280,240.0,mai
55,RATCH,2021,4,"Wed, 23 Feb 2022 08:00:43 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878860,394.0,SET50 / SETCLMV / SETHD / SETTHSI
57,HMPRO,2021,4,"Wed, 23 Feb 2022 07:24:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877910,208.0,SET50 / SETTHSI / SETWB
58,III,2021,4,"Wed, 23 Feb 2022 07:17:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877770,637.0,sSET

In [23]:
file_name = 'F45-CLEAN-' + mmdd_str + '.csv'
clean_file = clean_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(output_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(clean_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(box_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(one_file, header=True, index=False, sep=',')

In [24]:
sql = '''
SELECT * 
FROM epss
WHERE year = 2021'''
df_epss = pd.read_sql(sql, conlt)
df_epss.shape

(1161, 14)

In [25]:
df_merge3 = pd.merge(df_out2, df_epss, on=['name','year','quarter'], how='outer', indicator=True)
df_merge3.shape

(1174, 19)

### Already input, display profit amt & eps to check with new F45

In [26]:
df_merge3[df_merge3['_merge'] == 'both']

,name,year,quarter,published,link,id_x,market,id_y,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date,_merge
1,WICE,2021,4,"Wed, 23 Feb 2022 22:22:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999980,624.0,sSET,21239.0,180357.0,59396.0,535526.0,201084.0,0.2800,0.0900,0.8200,0.3100,624.0,2022-02-23,both
2,ASW,2021,4,"Wed, 23 Feb 2022 22:17:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668999130,728.0,sSET,21238.0,216240.0,562433.0,951364.0,873899.0,0.2441,0.9012,1.2100,1.4000,728.0,2022-02-23,both
5,BEM,2021,4,"Wed, 23 Feb 2022 21:39:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668993700,57.0,SET50 / SETTHSI / SETWB,21236.0,395913.0,569588.0,1010097.0,2051090.0,0.0300,0.0300,0.0700,0.1300,57.0,2022-02-23,both
6,BPP,2021,4,"Wed, 23 Feb 2022 21:30:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668992780,74.0,SET100 / SETCLMV / SETHD / SETTHSI,21237.0,370759.0,1201257.0,3127027.0,3702480.0,0.1220,0.3940,1.0260,1.2140,74.0,2022-02-23,both
8,BANPU,2021,4,"Wed, 23 Feb 2022 21:10:48 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668990080,47.0,SET50 / SETCLMV / SETTHSI,21226.0,3486198.0,-468107.0,9851795.0,-1786317.0,0.3410,-0.0380,1.5910,-0.2980,47.0,2022-02-23,both
10,SINGER,2021,4,"Wed, 23 Feb 2022 20:07:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985400,446.0,SET100,21225.0,212717.0,124089.0,700592.0,443298.0,0.3900,0.3000,1.4000,1.0900,446.0,2022-02-23,both
13,BJC,2021,4,"Wed, 23 Feb 2022 19:11:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668978140,65.0,SETCLMV / SETTHSI / SETWB,21227.0,1382606.0,1353440.0,3584811.0,4001215.0,0.3400,0.3400,0.8900,1.0000,65.0,2022-02-23,both
14,QH,2021,4,"Wed, 23 Feb 2022 19:02:09 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976400,388.0,SET100 / SETHD,21228.0,493916.0,579794.0,1669660.0,2123420.0,0.0500,0.0600,0.1600,0.2000,388.0,2022-02-23,both
15,ICHI,2021,4,"Wed, 23 Feb 2022 19:01:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668976070,216.0,sSET / SETCLMV,21229.0,132645.0,84068.0,546771.0,515533.0,0.1000,0.0700,0.4200,0.4000,216.0,2022-02-23,both
19,MEGA,2021,4,"Wed, 23 Feb 2022 17:59:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668961230,295.0,SET100 / SETCLMV / SETWB,21223.0,496375.0,427267.0,1946825.0,1392651.0,0.5700,0.4900,2.2300,1.6000,295.0,2022-02-23,both
20,TPIPL,2021,4,"Wed, 23 Feb 2022 17:57:28 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960770,559.0,SET,21224.0,1506763.0,-233171.0,5670534.0,1498152.0,0.0790,-0.0120,0.2970,0.0790,559.0,2022-02-23,both
21,GUNKUL,2021,4,"Wed, 23 Feb 2022 17:53:51 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668960120,202.0,SET100 / SETCLMV / SETHD / SETTHSI,21230.0,507784.0,1692758.0,2229270.0,3412337.0,0.0500,0.1900,0.2500,0.3900,202.0,2022-02-23,both
22,BDMS,2021,4,"Wed, 23 Feb 2022 17:53:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959920,54.0,SET50 / SETCLMV / SETTHSI / SETWB,21231.0,2635868.0,2387672.0,7936077.0,7214236.0,0.1700,0.1500,0.5000,0.4500,54.0,2022-02-23,both
23,KGI,2021,4,"Wed, 23 Feb 2022 17:49:44 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668959070,252.0,sSET,21232.0,319118.0,406960.0,1858088.0,567598.0,0.1600,0.2000,0.9300,0.2800,252.0,2022-02-23,both
24,OSP,2021,4,"Wed, 23 Feb 2022 17:48:04 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668958470,681.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,21233.0,850894.0,850787.0,3254920.0,3504313.0,0.2800,0.2900,1.0800,1.1700,681.0,2022-02-23,both
25,TTB,2021,4,"Wed, 23 Feb 2022 17:23:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668949270,541.0,SET50 / SETHD / SETTHSI,21083.0,2799333.0,1234883.0,10474045.0,10112182.0,0.0290,0.0128,0.1086,0.1049,541.0,2022-01-20,both
26,UTP,2021,4,"Wed, 23 Feb 2022 17:21:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668948460,605.0,sSET / SETCLMV,21234.0,177515.0,237412.0,917432.0,1011424.0,0.2700,0.3700,1.4100,1.5600,605.0,2022-02-23,both
27,TU,2021,4,"Wed, 23 Feb 2022 13:13:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668905460,582.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,21221.0,1930444.0,1457482.0,8012996.0,6246090.0,0.4000,0.3100,1.6600,1.2700,582.0,2022-02-23,both
30,RATCH,2021,4,"Wed, 23 Feb 2022 08:00:43 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668878860,394.0,SET50 / SETCLMV / SETHD / SETTHSI,21222.0,2123212.0,2129472.0,7772022.0,6286678.0,1.4600,1.4700,5.3600,4.3400,394.0,2022-02-23,both
31,HMPRO,2021,4,"Wed, 23 Feb 2022 07:24:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877910,208.0,SET50 / SETTHSI / SETWB,21235.0,1775047.0,1544985.0,5440519.0,5154702.0,0.1300,0.1200,0.4100,0.3900,208.0,2022-02-23,both

In [27]:
df_inp2 = df_merge3[df_merge3['_merge'] == 'left_only']
df_inp3 = df_inp2.copy()
df_inp3.shape

(13, 19)

In [28]:
df_inp3['year'] = df_inp3['year'].astype(str)
df_inp3['quarter'] = df_inp3['quarter'].astype(str)
inp3_str = df_inp3.name+' '+df_inp3.year+' '+df_inp3.quarter+' '+df_inp3.link
inp3_str

0      ARROW 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455669000540
3        SKN 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668995460
4       DCON 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668994970
7       TIPH 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668991580
9     AMARIN 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668985640
11       TNR 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668981850
12       LIT 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668979300
16       RPC 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668974660
17     ILINK 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668972800
18      WIIK 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668962040
28      MFEC 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668903580
29    JUBILE 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668880280
32       III 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16455668877770
dtype: object