In [1]:
import feedparser
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

clean_path = "../data/clean/"
raw_path = "../data/raw/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
pdf_path = "../PDF/"

pd.set_option('display.max_colwidth', 255)
pd.set_option('display.max_rows',None)
url = "https://feeds.feedburner.com/Setorth-form45-en"

today = date.today()
year = 2022
mmdd_str = today.strftime('%m%d')
mmdd_str

'0509'

In [2]:
#today = date(2022, 5, 6)
mmdd_str = today.strftime('%m%d')
mmdd_str

'0509'

In [3]:
rss_source = feedparser.parse(url)
f45_number = len(rss_source.entries)
print("Number of F45: ", f45_number)

Number of F45:  38

In [4]:
f45_items = []

for x in range(f45_number):
    f45_content = rss_source.entries[x]
    f45_item = {}
    
    print("\n----------------------------------\n")
    
    print("F45: " + str(x))
    title_ary = f45_content.title.partition(' ')
    f45_item['name'] = title_ary[0].strip() 
    print("Title: ", f45_item['name'])  
    f45_item['year'] = year
    print("Year: ", f45_item['year'])      
    qtr_ary = title_ary[2].partition(' (F45)')
    f45_item['quarter'] = qtr_ary[0][-1]    
    print("Quarter: ", f45_item['quarter'])    
    f45_item['link'] = f45_content.link
    print("Link: ", f45_item['link'])
    f45_item['published'] = f45_content.published
    print("Published: ", f45_item['published'])  
    f45_items.append(f45_item)

----------------------------------

F45: 0
Title:  PROUD
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076790
Published:  Mon, 09 May 2022 21:54:28 +0700

----------------------------------

F45: 1
Title:  SABUY
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076400
Published:  Mon, 09 May 2022 21:37:19 +0700

----------------------------------

F45: 2
Title:  KBS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076080
Published:  Mon, 09 May 2022 21:15:51 +0700

----------------------------------

F45: 3
Title:  SF
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076040
Published:  Mon, 09 May 2022 21:13:07 +0700

----------------------------------

F45: 4
Title:  NCH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526075690
Published:  Mon, 09 May 2022 21:01:11 +0700

----------------------------------

F45: 5
Title:  CPNREIT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526075070
Published:  Mon, 09 May 2022 20:26:14 +0700

----------------------------------

F45: 6
Title:  ARIN
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526074320
Published:  Mon, 09 May 2022 19:29:57 +0700

----------------------------------

F45: 7
Title:  CTARAF
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073890
Published:  Mon, 09 May 2022 19:23:14 +0700

----------------------------------

F45: 8
Title:  STA
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073690
Published:  Mon, 09 May 2022 19:14:41 +0700

----------------------------------

F45: 9
Title:  QH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073170
Published:  Mon, 09 May 2022 19:01:03 +0700

----------------------------------

F45: 10
Title:  STGT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526072920
Published:  Mon, 09 May 2022 18:55:12 +0700

----------------------------------

F45: 11
Title:  NVD
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526072730
Published:  Mon, 09 May 2022 18:53:03 +0700

----------------------------------

F45: 12
Title:  KBS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526072000
Published:  Mon, 09 May 2022 18:45:17 +0700

----------------------------------

F45: 13
Title:  PG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526070130
Published:  Mon, 09 May 2022 18:16:40 +0700

----------------------------------

F45: 14
Title:  KDH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526068780
Published:  Mon, 09 May 2022 18:09:26 +0700

----------------------------------

F45: 15
Title:  THG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526068370
Published:  Mon, 09 May 2022 18:04:16 +0700

----------------------------------

F45: 16
Title:  ASIAN
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526067300
Published:  Mon, 09 May 2022 17:55:09 +0700

----------------------------------

F45: 17
Title:  ASK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064510
Published:  Mon, 09 May 2022 17:36:45 +0700

----------------------------------

F45: 18
Title:  SPRIME
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064260
Published:  Mon, 09 May 2022 17:35:00 +0700

----------------------------------

F45: 19
Title:  POST
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526063570
Published:  Mon, 09 May 2022 17:30:40 +0700

----------------------------------

F45: 20
Title:  TKS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526062310
Published:  Mon, 09 May 2022 17:21:37 +0700

----------------------------------

F45: 21
Title:  SHANG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526062000
Published:  Mon, 09 May 2022 17:20:13 +0700

----------------------------------

F45: 22
Title:  THIP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526061510
Published:  Mon, 09 May 2022 17:17:56 +0700

----------------------------------

F45: 23
Title:  ROCK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526058850
Published:  Mon, 09 May 2022 17:07:31 +0700

----------------------------------

F45: 24
Title:  RJH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526058320
Published:  Mon, 09 May 2022 17:06:29 +0700

----------------------------------

F45: 25
Title:  BSBM
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526056490
Published:  Mon, 09 May 2022 17:03:16 +0700

----------------------------------

F45: 26
Title:  ADB
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526055670
Published:  Mon, 09 May 2022 17:00:45 +0700

----------------------------------

F45: 27
Title:  TU
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526036610
Published:  Mon, 09 May 2022 13:01:28 +0700

----------------------------------

F45: 28
Title:  SNNP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526035970
Published:  Mon, 09 May 2022 12:50:55 +0700

----------------------------------

F45: 29
Title:  PTECH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526027850
Published:  Mon, 09 May 2022 08:54:46 +0700

----------------------------------

F45: 30
Title:  VNG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526026320
Published:  Mon, 09 May 2022 07:48:57 +0700

----------------------------------

F45: 31
Title:  PTC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526026060
Published:  Mon, 09 May 2022 07:40:42 +0700

----------------------------------

F45: 32
Title:  GLORY
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526025910
Published:  Mon, 09 May 2022 07:29:05 +0700

----------------------------------

F45: 33
Title:  TM
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526025860
Published:  Mon, 09 May 2022 07:19:53 +0700

----------------------------------

F45: 34
Title:  RPH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526025800
Published:  Mon, 09 May 2022 07:18:31 +0700

----------------------------------

F45: 35
Title:  TPBI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526025640
Published:  Mon, 09 May 2022 07:12:20 +0700

----------------------------------

F45: 36
Title:  SYNEX
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526021950
Published:  Mon, 09 May 2022 06:33:46 +0700

----------------------------------

F45: 37
Title:  PTECH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526021910
Published:  Mon, 09 May 2022 06:30:06 +0700

In [5]:
df = pd.DataFrame(f45_items)
df[['name','year','quarter','published']]

       name  year quarter                        published
0     PROUD  2022       1  Mon, 09 May 2022 21:54:28 +0700
1     SABUY  2022       1  Mon, 09 May 2022 21:37:19 +0700
2       KBS  2022       1  Mon, 09 May 2022 21:15:51 +0700
3        SF  2022       1  Mon, 09 May 2022 21:13:07 +0700
4       NCH  2022       1  Mon, 09 May 2022 21:01:11 +0700
5   CPNREIT  2022       1  Mon, 09 May 2022 20:26:14 +0700
6      ARIN  2022       1  Mon, 09 May 2022 19:29:57 +0700
7    CTARAF  2022       1  Mon, 09 May 2022 19:23:14 +0700
8       STA  2022       1  Mon, 09 May 2022 19:14:41 +0700
9        QH  2022       1  Mon, 09 May 2022 19:01:03 +0700
10     STGT  2022       1  Mon, 09 May 2022 18:55:12 +0700
11      NVD  2022       1  Mon, 09 May 2022 18:53:03 +0700
12      KBS  2022       1  Mon, 09 May 2022 18:45:17 +0700
13       PG  2022       1  Mon, 09 May 2022 18:16:40 +0700
14      KDH  2022       1  Mon, 09 May 2022 18:09:26 +0700
15      THG  2022       1  Mon, 09 May 2022 18:04:16 +0700
16    ASIAN  2022       1  Mon, 09 May 2022 17:55:09 +0700
17      ASK  2022       1  Mon, 09 May 2022 17:36:45 +0700
18   SPRIME  2022       1  Mon, 09 May 2022 17:35:00 +0700
19     POST  2022       1  Mon, 09 May 2022 17:30:40 +0700
20      TKS  2022       1  Mon, 09 May 2022 17:21:37 +0700
21    SHANG  2022       1  Mon, 09 May 2022 17:20:13 +0700
22     THIP  2022       1  Mon, 09 May 2022 17:17:56 +0700
23     ROCK  2022       1  Mon, 09 May 2022 17:07:31 +0700
24      RJH  2022       1  Mon, 09 May 2022 17:06:29 +0700
25     BSBM  2022       1  Mon, 09 May 2022 17:03:16 +0700
26      ADB  2022       1  Mon, 09 May 2022 17:00:45 +0700
27       TU  2022       1  Mon, 09 May 2022 13:01:28 +0700
28     SNNP  2022       1  Mon, 09 May 2022 12:50:55 +0700
29    PTECH  2022       1  Mon, 09 May 2022 08:54:46 +0700
30      VNG  2022       1  Mon, 09 May 2022 07:48:57 +0700
31      PTC  2022       1  Mon, 09 May 2022 07:40:42 +0700
32    GLORY  2022       1  Mon, 09 May 2022 07:29:05 +0700
33       TM  2022       1  Mon, 09 May 2022 07:19:53 +0700
34      RPH  2022       1  Mon, 09 May 2022 07:18:31 +0700
35     TPBI  2022       1  Mon, 09 May 2022 07:12:20 +0700
36    SYNEX  2022       1  Mon, 09 May 2022 06:33:46 +0700
37    PTECH  2022       1  Mon, 09 May 2022 06:30:06 +0700

In [6]:
df.dtypes

name         object
year          int64
quarter      object
link         object
published    object
dtype: object

In [7]:
df.quarter = df.quarter.astype(int)
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1          38    38         38

In [9]:
df.loc[(df.quarter == 'y') ,'quarter'] = '4'
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1           6     6          6

In [14]:
df.loc[(df.quarter == 'e') ,'quarter'] = '4'
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1           5     5          5
     4           3     3          3

In [15]:
df.loc[df.quarter == '4','year'] = 2021
df.groupby(['year']).count()

      name  quarter  link  published
year
2021     3        3     3          3
2022     5        5     5          5

In [7]:
df.loc[df.quarter == 2,'year'] = 2021
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2021 4           2     2          2
2022 1           2     2          2

In [11]:
df.quarter = df.quarter.astype(int)
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1          15    15         15
     2           2     2          2

In [ ]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == 'e','quarter'] = 4
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['quarter']).count()

In [ ]:
df.loc[df.quarter == '1','quarter'] = 4
df.groupby(['quarter']).count()

In [ ]:
df.loc[df.quarter == ' ','quarter'] = 4
df.groupby(['quarter']).count()

In [ ]:
df.loc[df.quarter == 'S','quarter'] = 4
df.groupby(['quarter']).count()

In [ ]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == '1','year'] = 2022
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['year']).count()

In [8]:
df.shape

(38, 5)

In [9]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='name', keep='first')
df.shape

(36, 5)

In [10]:
file_name = 'F45-RAW-' + mmdd_str + '.csv'
raw_file = raw_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df[['name','year','quarter','published']].to_csv(output_file, header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(box_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(one_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(raw_file,    header=True, index=False, sep=',')

In [11]:
sql = '''
SELECT *
FROM exempts
ORDER BY name'''
df_exempts = pd.read_sql(sql, conlt)
df_exempts.shape[0]

405

In [12]:
df_merge = pd.merge(df, df_exempts, on='name', how='outer', indicator=True)
df_merge.shape

(428, 7)

### Tickers that won't be input

In [13]:
in_exempts = df_merge.loc[
    df_merge['_merge'] == 'both',
    ['name','year','quarter','published','link']
]
in_exempts.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
1,SABUY,2022.0,1.0,"Mon, 09 May 2022 21:37:19 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076400
2,KBS,2022.0,1.0,"Mon, 09 May 2022 21:15:51 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076080
4,NCH,2022.0,1.0,"Mon, 09 May 2022 21:01:11 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526075690
11,NVD,2022.0,1.0,"Mon, 09 May 2022 18:53:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526072730
12,PG,2022.0,1.0,"Mon, 09 May 2022 18:16:40 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526070130
13,KDH,2022.0,1.0,"Mon, 09 May 2022 18:09:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526068780
20,SHANG,2022.0,1.0,"Mon, 09 May 2022 17:20:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526062000
22,ROCK,2022.0,1.0,"Mon, 09 May 2022 17:07:31 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526058850
24,BSBM,2022.0,1.0,"Mon, 09 May 2022 17:03:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526056490
25,ADB,2022.0,1.0,"Mon, 09 May 2022 17:00:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526055670
32,TM,2022.0,1.0,"Mon, 09 May 2022 07:19:53 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526025860
33,RPH,2022.0,1.0,"Mon, 09 May 2022 07:18:31 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526025800
34,TPBI,2022.0,1.0,"Mon, 09 May 2022 07:12:20 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526025640

In [14]:
in_exempts.sort_values(by=['published'],ascending=[False]).shape[0]

13

In [15]:
df_out = df_merge.loc[
    df_merge['_merge'] == 'left_only',
    ['name','year','quarter','published','link']
]
df_out.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
0,PROUD,2022.0,1.0,"Mon, 09 May 2022 21:54:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076790
3,SF,2022.0,1.0,"Mon, 09 May 2022 21:13:07 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076040
5,CPNREIT,2022.0,1.0,"Mon, 09 May 2022 20:26:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526075070
6,ARIN,2022.0,1.0,"Mon, 09 May 2022 19:29:57 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526074320
7,CTARAF,2022.0,1.0,"Mon, 09 May 2022 19:23:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073890
8,STA,2022.0,1.0,"Mon, 09 May 2022 19:14:41 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073690
9,QH,2022.0,1.0,"Mon, 09 May 2022 19:01:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073170
10,STGT,2022.0,1.0,"Mon, 09 May 2022 18:55:12 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526072920
14,THG,2022.0,1.0,"Mon, 09 May 2022 18:04:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526068370
15,ASIAN,2022.0,1.0,"Mon, 09 May 2022 17:55:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526067300
16,ASK,2022.0,1.0,"Mon, 09 May 2022 17:36:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064510
17,SPRIME,2022.0,1.0,"Mon, 09 May 2022 17:35:00 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064260
18,POST,2022.0,1.0,"Mon, 09 May 2022 17:30:40 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526063570
19,TKS,2022.0,1.0,"Mon, 09 May 2022 17:21:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526062310
21,THIP,2022.0,1.0,"Mon, 09 May 2022 17:17:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526061510
23,RJH,2022.0,1.0,"Mon, 09 May 2022 17:06:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526058320
26,TU,2022.0,1.0,"Mon, 09 May 2022 13:01:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526036610
27,SNNP,2022.0,1.0,"Mon, 09 May 2022 12:50:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526035970
28,PTECH,2022.0,1.0,"Mon, 09 May 2022 08:54:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526027850
29,VNG,2022.0,1.0,"Mon, 09 May 2022 07:48:57 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526026320
30,PTC,2022.0,1.0,"Mon, 09 May 2022 07:40:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526026060
31,GLORY,2022.0,1.0,"Mon, 09 May 2022 07:29:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526025910
35,SYNEX,2022.0,1.0,"Mon, 09 May 2022 06:33:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526021950

In [16]:
#df_out = df_out.drop(df_out.index[df_out['name'] == "SCC"])
df_out.shape[0]

23

In [17]:
sql = '''
SELECT *
FROM tickers
ORDER BY name'''
df_tickers = pd.read_sql(sql, conlt)
df_tickers.shape

(403, 9)

In [18]:
df_merge2 = pd.merge(df_out, df_tickers, on='name', how='outer', indicator=True)
df_merge2.shape

(412, 14)

### There are no ticker records

In [19]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
]

,name,year,quarter,published,link,id,market
0,PROUD,2022.0,1.0,"Mon, 09 May 2022 21:54:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076790,NaN,NaN
3,ARIN,2022.0,1.0,"Mon, 09 May 2022 19:29:57 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526074320,NaN,NaN
4,CTARAF,2022.0,1.0,"Mon, 09 May 2022 19:23:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073890,NaN,NaN
12,POST,2022.0,1.0,"Mon, 09 May 2022 17:30:40 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526063570,NaN,NaN
14,THIP,2022.0,1.0,"Mon, 09 May 2022 17:17:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526061510,NaN,NaN
17,SNNP,2022.0,1.0,"Mon, 09 May 2022 12:50:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526035970,NaN,NaN
18,PTECH,2022.0,1.0,"Mon, 09 May 2022 08:54:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526027850,NaN,NaN
20,PTC,2022.0,1.0,"Mon, 09 May 2022 07:40:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526026060,NaN,NaN
21,GLORY,2022.0,1.0,"Mon, 09 May 2022 07:29:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526025910,NaN,NaN

In [20]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
].shape

(9, 7)

### There are ticker records

In [21]:
df_out2 = df_merge2.loc[
    df_merge2['_merge'] == 'both',
    ['name','year','quarter','published','link','id','market']
]
df_out2

,name,year,quarter,published,link,id,market
1,SF,2022.0,1.0,"Mon, 09 May 2022 21:13:07 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076040,438.0,SET
2,CPNREIT,2022.0,1.0,"Mon, 09 May 2022 20:26:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526075070,647.0,SET
5,STA,2022.0,1.0,"Mon, 09 May 2022 19:14:41 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073690,481.0,SET100 / SETTHSI / SETWB
6,QH,2022.0,1.0,"Mon, 09 May 2022 19:01:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073170,388.0,SET100 / SETHD
7,STGT,2022.0,1.0,"Mon, 09 May 2022 18:55:12 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526072920,714.0,SET50 / SETTHSI
8,THG,2022.0,1.0,"Mon, 09 May 2022 18:04:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526068370,661.0,SETCLMV / SETWB
9,ASIAN,2022.0,1.0,"Mon, 09 May 2022 17:55:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526067300,36.0,sSET / SETTHSI
10,ASK,2022.0,1.0,"Mon, 09 May 2022 17:36:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064510,38.0,SET
11,SPRIME,2022.0,1.0,"Mon, 09 May 2022 17:35:00 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064260,705.0,SET
13,TKS,2022.0,1.0,"Mon, 09 May 2022 17:21:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526062310,534.0,sSET
15,RJH,2022.0,1.0,"Mon, 09 May 2022 17:06:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526058320,399.0,sSET
16,TU,2022.0,1.0,"Mon, 09 May 2022 13:01:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526036610,582.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
19,VNG,2022.0,1.0,"Mon, 09 May 2022 07:48:57 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526026320,726.0,sSET / SETCLMV
22,SYNEX,2022.0,1.0,"Mon, 09 May 2022 06:33:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526021950,495.0,SET100 / SETTHSI

In [22]:
df_out2 = df_out2[df_out2.year.notnull()]
df_out2

,name,year,quarter,published,link,id,market
1,SF,2022.0,1.0,"Mon, 09 May 2022 21:13:07 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076040,438.0,SET
2,CPNREIT,2022.0,1.0,"Mon, 09 May 2022 20:26:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526075070,647.0,SET
5,STA,2022.0,1.0,"Mon, 09 May 2022 19:14:41 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073690,481.0,SET100 / SETTHSI / SETWB
6,QH,2022.0,1.0,"Mon, 09 May 2022 19:01:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073170,388.0,SET100 / SETHD
7,STGT,2022.0,1.0,"Mon, 09 May 2022 18:55:12 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526072920,714.0,SET50 / SETTHSI
8,THG,2022.0,1.0,"Mon, 09 May 2022 18:04:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526068370,661.0,SETCLMV / SETWB
9,ASIAN,2022.0,1.0,"Mon, 09 May 2022 17:55:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526067300,36.0,sSET / SETTHSI
10,ASK,2022.0,1.0,"Mon, 09 May 2022 17:36:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064510,38.0,SET
11,SPRIME,2022.0,1.0,"Mon, 09 May 2022 17:35:00 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064260,705.0,SET
13,TKS,2022.0,1.0,"Mon, 09 May 2022 17:21:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526062310,534.0,sSET
15,RJH,2022.0,1.0,"Mon, 09 May 2022 17:06:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526058320,399.0,sSET
16,TU,2022.0,1.0,"Mon, 09 May 2022 13:01:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526036610,582.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
19,VNG,2022.0,1.0,"Mon, 09 May 2022 07:48:57 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526026320,726.0,sSET / SETCLMV
22,SYNEX,2022.0,1.0,"Mon, 09 May 2022 06:33:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526021950,495.0,SET100 / SETTHSI

In [23]:
df_out2['year'] = df_out2['year'].astype(int)
df_out2['quarter'] = df_out2['quarter'].astype(int)
df_out2

,name,year,quarter,published,link,id,market
1,SF,2022,1,"Mon, 09 May 2022 21:13:07 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076040,438.0,SET
2,CPNREIT,2022,1,"Mon, 09 May 2022 20:26:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526075070,647.0,SET
5,STA,2022,1,"Mon, 09 May 2022 19:14:41 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073690,481.0,SET100 / SETTHSI / SETWB
6,QH,2022,1,"Mon, 09 May 2022 19:01:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073170,388.0,SET100 / SETHD
7,STGT,2022,1,"Mon, 09 May 2022 18:55:12 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526072920,714.0,SET50 / SETTHSI
8,THG,2022,1,"Mon, 09 May 2022 18:04:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526068370,661.0,SETCLMV / SETWB
9,ASIAN,2022,1,"Mon, 09 May 2022 17:55:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526067300,36.0,sSET / SETTHSI
10,ASK,2022,1,"Mon, 09 May 2022 17:36:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064510,38.0,SET
11,SPRIME,2022,1,"Mon, 09 May 2022 17:35:00 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064260,705.0,SET
13,TKS,2022,1,"Mon, 09 May 2022 17:21:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526062310,534.0,sSET
15,RJH,2022,1,"Mon, 09 May 2022 17:06:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526058320,399.0,sSET
16,TU,2022,1,"Mon, 09 May 2022 13:01:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526036610,582.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
19,VNG,2022,1,"Mon, 09 May 2022 07:48:57 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526026320,726.0,sSET / SETCLMV
22,SYNEX,2022,1,"Mon, 09 May 2022 06:33:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526021950,495.0,SET100 / SETTHSI

In [24]:
file_name = 'F45-CLEAN-' + mmdd_str + '.csv'
clean_file = clean_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(output_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(clean_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(box_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(one_file, header=True, index=False, sep=',')

In [25]:
sql = '''
SELECT * 
FROM epss
WHERE year = 2021'''
df_epss = pd.read_sql(sql, conlt)
df_epss.shape

(913, 14)

In [26]:
df_merge3 = pd.merge(df_out2, df_epss, on=['name','year','quarter'], how='outer', indicator=True)
df_merge3.shape

(927, 19)

### Already input, display profit amt & eps to check with new F45

In [27]:
df_merge3[df_merge3['_merge'] == 'both']

Empty DataFrame
Columns: [name, year, quarter, published, link, id_x, market, id_y, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date, _merge]
Index: []

In [28]:
df_merge3[df_merge3['_merge'] == 'both'].shape

(0, 19)

In [29]:
df_inp2 = df_merge3[df_merge3['_merge'] == 'left_only']
df_inp3 = df_inp2.copy()
df_inp3.shape

(14, 19)

In [30]:
df_inp3['year'] = df_inp3['year'].astype(str)
df_inp3['quarter'] = df_inp3['quarter'].astype(str)
inp3_str = df_inp3.name+' '+df_inp3.year+' '+df_inp3.quarter+' '+df_inp3.link
inp3_str

0          SF 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526076040
1     CPNREIT 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526075070
2         STA 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073690
3          QH 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526073170
4        STGT 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526072920
5         THG 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526068370
6       ASIAN 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526067300
7         ASK 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064510
8      SPRIME 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526064260
9         TKS 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526062310
10        RJH 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526058320
11         TU 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526036610
12        VNG 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526026320
13      SYNEX 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16520526021950
dtype: object