In [1]:
import feedparser
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

clean_path = "../data/clean/"
raw_path = "../data/raw/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
pdf_path = "../PDF/"

pd.set_option('display.max_colwidth', 255)
pd.set_option('display.max_rows',None)
url = "https://feeds.feedburner.com/Setorth-form45-en"

today = date.today()
year = 2021
mmdd_str = today.strftime('%m%d')
mmdd_str

'0301'

In [2]:
#today = date(2022, 2, 25)
mmdd_str = today.strftime('%m%d')
mmdd_str

'0301'

In [3]:
rss_source = feedparser.parse(url)
f45_number = len(rss_source.entries)
print("Number of F45: ", f45_number)

Number of F45:  36

In [4]:
f45_items = []

for x in range(f45_number):
    f45_content = rss_source.entries[x]
    f45_item = {}
    
    print("\n----------------------------------\n")
    
    print("F45: " + str(x))
    title_ary = f45_content.title.partition(' ')
    f45_item['name'] = title_ary[0].strip() 
    print("Title: ", f45_item['name'])  
    f45_item['year'] = year
    print("Year: ", f45_item['year'])      
    qtr_ary = title_ary[2].partition(' (F45)')
    f45_item['quarter'] = qtr_ary[0][-1]    
    print("Quarter: ", f45_item['quarter'])    
    f45_item['link'] = f45_content.link
    print("Link: ", f45_item['link'])
    f45_item['published'] = f45_content.published
    print("Published: ", f45_item['published'])  
    f45_items.append(f45_item)

----------------------------------

F45: 0
Title:  APEX
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853332540
Published:  Tue, 01 Mar 2022 17:42:34 +0700

----------------------------------

F45: 1
Title:  TH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853311410
Published:  Tue, 01 Mar 2022 12:36:48 +0700

----------------------------------

F45: 2
Title:  LALIN
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853311210
Published:  Tue, 01 Mar 2022 12:33:20 +0700

----------------------------------

F45: 3
Title:  GLOCON
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853299190
Published:  Tue, 01 Mar 2022 08:58:21 +0700

----------------------------------

F45: 4
Title:  PPPM
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853298940
Published:  Tue, 01 Mar 2022 08:57:27 +0700

----------------------------------

F45: 5
Title:  EASON
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853297170
Published:  Tue, 01 Mar 2022 08:47:58 +0700

----------------------------------

F45: 6
Title:  STPI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296910
Published:  Tue, 01 Mar 2022 08:45:25 +0700

----------------------------------

F45: 7
Title:  WAVE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296770
Published:  Tue, 01 Mar 2022 08:42:13 +0700

----------------------------------

F45: 8
Title:  SIRI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296690
Published:  Tue, 01 Mar 2022 08:41:55 +0700

----------------------------------

F45: 9
Title:  JCKH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296620
Published:  Tue, 01 Mar 2022 08:41:16 +0700

----------------------------------

F45: 10
Title:  SSTRT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853295960
Published:  Tue, 01 Mar 2022 08:39:35 +0700

----------------------------------

F45: 11
Title:  RML
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294340
Published:  Tue, 01 Mar 2022 08:36:02 +0700

----------------------------------

F45: 12
Title:  THE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294180
Published:  Tue, 01 Mar 2022 08:35:30 +0700

----------------------------------

F45: 13
Title:  BR
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294160
Published:  Tue, 01 Mar 2022 08:35:28 +0700

----------------------------------

F45: 14
Title:  TRITN
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853293710
Published:  Tue, 01 Mar 2022 08:33:29 +0700

----------------------------------

F45: 15
Title:  MVP
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853293200
Published:  Tue, 01 Mar 2022 08:31:27 +0700

----------------------------------

F45: 16
Title:  GLOCON
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853292610
Published:  Tue, 01 Mar 2022 08:30:08 +0700

----------------------------------

F45: 17
Title:  JCKH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853291760
Published:  Tue, 01 Mar 2022 08:24:52 +0700

----------------------------------

F45: 18
Title:  SE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853291700
Published:  Tue, 01 Mar 2022 08:24:49 +0700

----------------------------------

F45: 19
Title:  RAM
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853291450
Published:  Tue, 01 Mar 2022 08:23:48 +0700

----------------------------------

F45: 20
Title:  A
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853291150
Published:  Tue, 01 Mar 2022 08:21:55 +0700

----------------------------------

F45: 21
Title:  TYCN
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289540
Published:  Tue, 01 Mar 2022 08:11:39 +0700

----------------------------------

F45: 22
Title:  ACC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289450
Published:  Tue, 01 Mar 2022 08:11:24 +0700

----------------------------------

F45: 23
Title:  SOLAR
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289160
Published:  Tue, 01 Mar 2022 08:10:03 +0700

----------------------------------

F45: 24
Title:  SIRI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853286340
Published:  Tue, 01 Mar 2022 07:50:33 +0700

----------------------------------

F45: 25
Title:  THE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853285290
Published:  Tue, 01 Mar 2022 07:43:45 +0700

----------------------------------

F45: 26
Title:  SAFARI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853284740
Published:  Tue, 01 Mar 2022 07:38:26 +0700

----------------------------------

F45: 27
Title:  TNPC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853284160
Published:  Tue, 01 Mar 2022 07:31:29 +0700

----------------------------------

F45: 28
Title:  GEL
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853283830
Published:  Tue, 01 Mar 2022 07:29:20 +0700

----------------------------------

F45: 29
Title:  NUSA
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853283650
Published:  Tue, 01 Mar 2022 07:26:30 +0700

----------------------------------

F45: 30
Title:  CHINA
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853283310
Published:  Tue, 01 Mar 2022 07:23:01 +0700

----------------------------------

F45: 31
Title:  NRF
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853282830
Published:  Tue, 01 Mar 2022 07:14:12 +0700

----------------------------------

F45: 32
Title:  TGH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853282110
Published:  Tue, 01 Mar 2022 06:43:53 +0700

----------------------------------

F45: 33
Title:  JCK
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853280560
Published:  Tue, 01 Mar 2022 06:41:30 +0700

----------------------------------

F45: 34
Title:  EVER
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853280540
Published:  Tue, 01 Mar 2022 06:41:28 +0700

----------------------------------

F45: 35
Title:  ITD
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853280370
Published:  Tue, 01 Mar 2022 06:38:18 +0700

In [5]:
df = pd.DataFrame(f45_items)
df[['name','year','quarter','published']]

      name  year quarter                        published
0     APEX  2021       y  Tue, 01 Mar 2022 17:42:34 +0700
1       TH  2021       y  Tue, 01 Mar 2022 12:36:48 +0700
2    LALIN  2021       y  Tue, 01 Mar 2022 12:33:20 +0700
3   GLOCON  2021       y  Tue, 01 Mar 2022 08:58:21 +0700
4     PPPM  2021       y  Tue, 01 Mar 2022 08:57:27 +0700
5    EASON  2021       y  Tue, 01 Mar 2022 08:47:58 +0700
6     STPI  2021       y  Tue, 01 Mar 2022 08:45:25 +0700
7     WAVE  2021       y  Tue, 01 Mar 2022 08:42:13 +0700
8     SIRI  2021       y  Tue, 01 Mar 2022 08:41:55 +0700
9     JCKH  2021       y  Tue, 01 Mar 2022 08:41:16 +0700
10   SSTRT  2021       y  Tue, 01 Mar 2022 08:39:35 +0700
11     RML  2021       y  Tue, 01 Mar 2022 08:36:02 +0700
12     THE  2021       y  Tue, 01 Mar 2022 08:35:30 +0700
13      BR  2021       y  Tue, 01 Mar 2022 08:35:28 +0700
14   TRITN  2021       y  Tue, 01 Mar 2022 08:33:29 +0700
15     MVP  2021       y  Tue, 01 Mar 2022 08:31:27 +0700
16  GLOCON  2021       y  Tue, 01 Mar 2022 08:30:08 +0700
17    JCKH  2021       y  Tue, 01 Mar 2022 08:24:52 +0700
18      SE  2021       y  Tue, 01 Mar 2022 08:24:49 +0700
19     RAM  2021       y  Tue, 01 Mar 2022 08:23:48 +0700
20       A  2021       y  Tue, 01 Mar 2022 08:21:55 +0700
21    TYCN  2021       y  Tue, 01 Mar 2022 08:11:39 +0700
22     ACC  2021       y  Tue, 01 Mar 2022 08:11:24 +0700
23   SOLAR  2021       y  Tue, 01 Mar 2022 08:10:03 +0700
24    SIRI  2021       y  Tue, 01 Mar 2022 07:50:33 +0700
25     THE  2021       y  Tue, 01 Mar 2022 07:43:45 +0700
26  SAFARI  2021       y  Tue, 01 Mar 2022 07:38:26 +0700
27    TNPC  2021       y  Tue, 01 Mar 2022 07:31:29 +0700
28     GEL  2021       y  Tue, 01 Mar 2022 07:29:20 +0700
29    NUSA  2021       y  Tue, 01 Mar 2022 07:26:30 +0700
30   CHINA  2021       e  Tue, 01 Mar 2022 07:23:01 +0700
31     NRF  2021       y  Tue, 01 Mar 2022 07:14:12 +0700
32     TGH  2021       y  Tue, 01 Mar 2022 06:43:53 +0700
33     JCK  2021       y  Tue, 01 Mar 2022 06:41:30 +0700
34    EVER  2021       y  Tue, 01 Mar 2022 06:41:28 +0700
35     ITD  2021       y  Tue, 01 Mar 2022 06:38:18 +0700

In [6]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == 'y','quarter'] = 4
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          35    35    35         35
e           1     1     1          1

In [7]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == 'e','quarter'] = 4
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          36    36    36         36

In [8]:
df.loc[df.quarter == '1','quarter'] = 4
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          36    36    36         36

In [9]:
df.loc[df.quarter == ' ','quarter'] = 4
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          36    36    36         36

In [10]:
df.loc[df.quarter == 'S','quarter'] = 4
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          36    36    36         36

In [11]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == '1','year'] = 2022
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['year']).count()

      name  quarter  link  published
year
2021    36       36    36         36

In [12]:
df.shape

(36, 5)

In [13]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='name', keep='first')
df.shape

(32, 5)

In [14]:
file_name = 'F45-RAW-' + mmdd_str + '.csv'
raw_file = raw_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df[['name','year','quarter','published']].to_csv(output_file, header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(box_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(one_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(raw_file,    header=True, index=False, sep=',')

In [15]:
sql = '''
SELECT *
FROM exempts
ORDER BY name'''
df_exempts = pd.read_sql(sql, conlt)
df_exempts.shape[0]

299

In [16]:
df_merge = pd.merge(df, df_exempts, on='name', how='outer', indicator=True)
df_merge.shape

(317, 7)

### Tickers that won't be input

In [17]:
in_exempts = df_merge.loc[
    df_merge['_merge'] == 'both',
    ['name','year','quarter','published','link']
]
in_exempts.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
1,TH,2021.0,4,"Tue, 01 Mar 2022 12:36:48 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853311410
5,EASON,2021.0,4,"Tue, 01 Mar 2022 08:47:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853297170
6,STPI,2021.0,4,"Tue, 01 Mar 2022 08:45:25 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296910
7,WAVE,2021.0,4,"Tue, 01 Mar 2022 08:42:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296770
11,RML,2021.0,4,"Tue, 01 Mar 2022 08:36:02 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294340
13,BR,2021.0,4,"Tue, 01 Mar 2022 08:35:28 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294160
14,TRITN,2021.0,4,"Tue, 01 Mar 2022 08:33:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853293710
18,A,2021.0,4,"Tue, 01 Mar 2022 08:21:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853291150
20,ACC,2021.0,4,"Tue, 01 Mar 2022 08:11:24 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289450
21,SOLAR,2021.0,4,"Tue, 01 Mar 2022 08:10:03 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289160
24,GEL,2021.0,4,"Tue, 01 Mar 2022 07:29:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853283830
25,NUSA,2021.0,4,"Tue, 01 Mar 2022 07:26:30 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853283650
30,EVER,2021.0,4,"Tue, 01 Mar 2022 06:41:28 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853280540
31,ITD,2021.0,4,"Tue, 01 Mar 2022 06:38:18 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853280370

In [18]:
in_exempts.sort_values(by=['published'],ascending=[False]).shape[0]

14

In [19]:
df_out = df_merge.loc[
    df_merge['_merge'] == 'left_only',
    ['name','year','quarter','published','link']
]
df_out.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
0,APEX,2021.0,4,"Tue, 01 Mar 2022 17:42:34 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853332540
2,LALIN,2021.0,4,"Tue, 01 Mar 2022 12:33:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853311210
3,GLOCON,2021.0,4,"Tue, 01 Mar 2022 08:58:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853299190
4,PPPM,2021.0,4,"Tue, 01 Mar 2022 08:57:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853298940
8,SIRI,2021.0,4,"Tue, 01 Mar 2022 08:41:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296690
9,JCKH,2021.0,4,"Tue, 01 Mar 2022 08:41:16 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296620
10,SSTRT,2021.0,4,"Tue, 01 Mar 2022 08:39:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853295960
12,THE,2021.0,4,"Tue, 01 Mar 2022 08:35:30 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294180
15,MVP,2021.0,4,"Tue, 01 Mar 2022 08:31:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853293200
16,SE,2021.0,4,"Tue, 01 Mar 2022 08:24:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853291700
17,RAM,2021.0,4,"Tue, 01 Mar 2022 08:23:48 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853291450
19,TYCN,2021.0,4,"Tue, 01 Mar 2022 08:11:39 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289540
22,SAFARI,2021.0,4,"Tue, 01 Mar 2022 07:38:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853284740
23,TNPC,2021.0,4,"Tue, 01 Mar 2022 07:31:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853284160
26,CHINA,2021.0,4,"Tue, 01 Mar 2022 07:23:01 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853283310
27,NRF,2021.0,4,"Tue, 01 Mar 2022 07:14:12 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853282830
28,TGH,2021.0,4,"Tue, 01 Mar 2022 06:43:53 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853282110
29,JCK,2021.0,4,"Tue, 01 Mar 2022 06:41:30 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853280560

In [20]:
#df_out = df_out.drop(df_out.index[df_out['name'] == "SCC"])
df_out.shape[0]

18

In [21]:
sql = '''
SELECT *
FROM tickers
ORDER BY name'''
df_tickers = pd.read_sql(sql, conlt)
df_tickers.shape

(403, 9)

In [22]:
df_merge2 = pd.merge(df_out, df_tickers, on='name', how='outer', indicator=True)
df_merge2.shape

(415, 14)

### There are no ticker records

In [23]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
]

,name,year,quarter,published,link,id,market
0,APEX,2021.0,4,"Tue, 01 Mar 2022 17:42:34 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853332540,NaN,NaN
2,GLOCON,2021.0,4,"Tue, 01 Mar 2022 08:58:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853299190,NaN,NaN
3,PPPM,2021.0,4,"Tue, 01 Mar 2022 08:57:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853298940,NaN,NaN
5,JCKH,2021.0,4,"Tue, 01 Mar 2022 08:41:16 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296620,NaN,NaN
6,SSTRT,2021.0,4,"Tue, 01 Mar 2022 08:39:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853295960,NaN,NaN
8,MVP,2021.0,4,"Tue, 01 Mar 2022 08:31:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853293200,NaN,NaN
9,SE,2021.0,4,"Tue, 01 Mar 2022 08:24:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853291700,NaN,NaN
10,RAM,2021.0,4,"Tue, 01 Mar 2022 08:23:48 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853291450,NaN,NaN
12,SAFARI,2021.0,4,"Tue, 01 Mar 2022 07:38:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853284740,NaN,NaN
14,CHINA,2021.0,4,"Tue, 01 Mar 2022 07:23:01 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853283310,NaN,NaN
16,TGH,2021.0,4,"Tue, 01 Mar 2022 06:43:53 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853282110,NaN,NaN
17,JCK,2021.0,4,"Tue, 01 Mar 2022 06:41:30 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853280560,NaN,NaN

In [24]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
].shape

(12, 7)

### There are ticker records

In [25]:
df_out2 = df_merge2.loc[
    df_merge2['_merge'] == 'both',
    ['name','year','quarter','published','link','id','market']
]
df_out2

,name,year,quarter,published,link,id,market
1,LALIN,2021.0,4,"Tue, 01 Mar 2022 12:33:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853311210,263.0,sSET
4,SIRI,2021.0,4,"Tue, 01 Mar 2022 08:41:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296690,447.0,SET100 / SETHD / SETTHSI
7,THE,2021.0,4,"Tue, 01 Mar 2022 08:35:30 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294180,524.0,SET
11,TYCN,2021.0,4,"Tue, 01 Mar 2022 08:11:39 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289540,737.0,SET
13,TNPC,2021.0,4,"Tue, 01 Mar 2022 07:31:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853284160,552.0,SET
15,NRF,2021.0,4,"Tue, 01 Mar 2022 07:14:12 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853282830,733.0,SET

In [26]:
df_out2 = df_out2[df_out2.year.notnull()]
df_out2

,name,year,quarter,published,link,id,market
1,LALIN,2021.0,4,"Tue, 01 Mar 2022 12:33:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853311210,263.0,sSET
4,SIRI,2021.0,4,"Tue, 01 Mar 2022 08:41:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296690,447.0,SET100 / SETHD / SETTHSI
7,THE,2021.0,4,"Tue, 01 Mar 2022 08:35:30 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294180,524.0,SET
11,TYCN,2021.0,4,"Tue, 01 Mar 2022 08:11:39 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289540,737.0,SET
13,TNPC,2021.0,4,"Tue, 01 Mar 2022 07:31:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853284160,552.0,SET
15,NRF,2021.0,4,"Tue, 01 Mar 2022 07:14:12 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853282830,733.0,SET

In [27]:
df_out2['year'] = df_out2['year'].astype(int)
df_out2['quarter'] = df_out2['quarter'].astype(int)
df_out2

,name,year,quarter,published,link,id,market
1,LALIN,2021,4,"Tue, 01 Mar 2022 12:33:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853311210,263.0,sSET
4,SIRI,2021,4,"Tue, 01 Mar 2022 08:41:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296690,447.0,SET100 / SETHD / SETTHSI
7,THE,2021,4,"Tue, 01 Mar 2022 08:35:30 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294180,524.0,SET
11,TYCN,2021,4,"Tue, 01 Mar 2022 08:11:39 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289540,737.0,SET
13,TNPC,2021,4,"Tue, 01 Mar 2022 07:31:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853284160,552.0,SET
15,NRF,2021,4,"Tue, 01 Mar 2022 07:14:12 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853282830,733.0,SET

In [28]:
file_name = 'F45-CLEAN-' + mmdd_str + '.csv'
clean_file = clean_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(output_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(clean_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(box_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(one_file, header=True, index=False, sep=',')

In [29]:
sql = '''
SELECT * 
FROM epss
WHERE year = 2021'''
df_epss = pd.read_sql(sql, conlt)
df_epss.shape

(1322, 14)

In [30]:
df_merge3 = pd.merge(df_out2, df_epss, on=['name','year','quarter'], how='outer', indicator=True)
df_merge3.shape

(1327, 19)

### Already input, display profit amt & eps to check with new F45

In [31]:
df_merge3[df_merge3['_merge'] == 'both']

,name,year,quarter,published,link,id_x,market,id_y,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date,_merge
0,LALIN,2021,4,"Tue, 01 Mar 2022 12:33:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853311210,263.0,sSET,21371.0,376065.0,382290.0,1389213.0,1333171.0,0.4,0.41,1.5,1.44,263.0,2022-02-28,both

In [32]:
df_merge3[df_merge3['_merge'] == 'both'].shape

(1, 19)

In [33]:
df_inp2 = df_merge3[df_merge3['_merge'] == 'left_only']
df_inp3 = df_inp2.copy()
df_inp3.shape

(5, 19)

In [34]:
df_inp3['year'] = df_inp3['year'].astype(str)
df_inp3['quarter'] = df_inp3['quarter'].astype(str)
inp3_str = df_inp3.name+' '+df_inp3.year+' '+df_inp3.quarter+' '+df_inp3.link
inp3_str

1    SIRI 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853296690
2     THE 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853294180
3    TYCN 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853289540
4    TNPC 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853284160
5     NRF 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16460853282830
dtype: object