In [1]:
import feedparser
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

clean_path = "../data/clean/"
raw_path = "../data/raw/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
pdf_path = "../PDF/"

pd.set_option('display.max_colwidth', 255)
pd.set_option('display.max_rows',None)
url = "https://feeds.feedburner.com/Setorth-form45-en"

today = date.today()
year = 2021
mmdd_str = today.strftime('%m%d')
mmdd_str

'0219'

In [2]:
today = date(2022, 2, 18)
mmdd_str = today.strftime('%m%d')
mmdd_str

'0218'

In [3]:
rss_source = feedparser.parse(url)
f45_number = len(rss_source.entries)
print("Number of F45: ", f45_number)

Number of F45:  37

In [4]:
f45_items = []

for x in range(f45_number):
    f45_content = rss_source.entries[x]
    f45_item = {}
    
    print("\n----------------------------------\n")
    
    print("F45: " + str(x))
    title_ary = f45_content.title.partition(' ')
    f45_item['name'] = title_ary[0].strip() 
    print("Title: ", f45_item['name'])  
    f45_item['year'] = year
    print("Year: ", f45_item['year'])      
    qtr_ary = title_ary[2].partition(' (F45)')
    f45_item['quarter'] = qtr_ary[0][-1]    
    print("Quarter: ", f45_item['quarter'])    
    f45_item['link'] = f45_content.link
    print("Link: ", f45_item['link'])
    f45_item['published'] = f45_content.published
    print("Published: ", f45_item['published'])  
    f45_items.append(f45_item)

----------------------------------

F45: 0
Title:  AWC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344100050
Published:  Fri, 18 Feb 2022 22:12:54 +0700

----------------------------------

F45: 1
Title:  PRAPAT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344099370
Published:  Fri, 18 Feb 2022 21:35:36 +0700

----------------------------------

F45: 2
Title:  PHOL
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344098300
Published:  Fri, 18 Feb 2022 20:03:33 +0700

----------------------------------

F45: 3
Title:  INSURE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344097880
Published:  Fri, 18 Feb 2022 19:48:10 +0700

----------------------------------

F45: 4
Title:  TIPCO
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095420
Published:  Fri, 18 Feb 2022 19:10:08 +0700

----------------------------------

F45: 5
Title:  TMT
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095050
Published:  Fri, 18 Feb 2022 19:05:11 +0700

----------------------------------

F45: 6
Title:  PSH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094920
Published:  Fri, 18 Feb 2022 19:02:58 +0700

----------------------------------

F45: 7
Title:  HENG
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094340
Published:  Fri, 18 Feb 2022 18:46:28 +0700

----------------------------------

F45: 8
Title:  CBG
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094260
Published:  Fri, 18 Feb 2022 18:44:52 +0700

----------------------------------

F45: 9
Title:  ROH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094100
Published:  Fri, 18 Feb 2022 18:41:13 +0700

----------------------------------

F45: 10
Title:  MAKRO
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344093050
Published:  Fri, 18 Feb 2022 18:29:07 +0700

----------------------------------

F45: 11
Title:  AHC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092880
Published:  Fri, 18 Feb 2022 18:27:30 +0700

----------------------------------

F45: 12
Title:  SAMCO
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092770
Published:  Fri, 18 Feb 2022 18:26:47 +0700

----------------------------------

F45: 13
Title:  ICC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092590
Published:  Fri, 18 Feb 2022 18:25:53 +0700

----------------------------------

F45: 14
Title:  BEC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092560
Published:  Fri, 18 Feb 2022 18:25:15 +0700

----------------------------------

F45: 15
Title:  APCS
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092420
Published:  Fri, 18 Feb 2022 18:24:20 +0700

----------------------------------

F45: 16
Title:  ASK
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344090150
Published:  Fri, 18 Feb 2022 18:04:38 +0700

----------------------------------

F45: 17
Title:  TRUE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344088290
Published:  Fri, 18 Feb 2022 17:49:00 +0700

----------------------------------

F45: 18
Title:  GAHREIT
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344083230
Published:  Fri, 18 Feb 2022 17:29:41 +0700

----------------------------------

F45: 19
Title:  SCC
Year:  2021
Quarter:  S
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344082030
Published:  Fri, 18 Feb 2022 17:21:22 +0700

----------------------------------

F45: 20
Title:  YUASA
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344081750
Published:  Fri, 18 Feb 2022 17:18:27 +0700

----------------------------------

F45: 21
Title:  SMK
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344081530
Published:  Fri, 18 Feb 2022 17:16:46 +0700

----------------------------------

F45: 22
Title:  AI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344080490
Published:  Fri, 18 Feb 2022 17:09:50 +0700

----------------------------------

F45: 23
Title:  PE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079830
Published:  Fri, 18 Feb 2022 17:06:42 +0700

----------------------------------

F45: 24
Title:  KDH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079540
Published:  Fri, 18 Feb 2022 17:05:05 +0700

----------------------------------

F45: 25
Title:  GULF
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079240
Published:  Fri, 18 Feb 2022 17:04:33 +0700

----------------------------------

F45: 26
Title:  AIE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078420
Published:  Fri, 18 Feb 2022 17:01:49 +0700

----------------------------------

F45: 27
Title:  INOX
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078040
Published:  Fri, 18 Feb 2022 17:00:54 +0700

----------------------------------

F45: 28
Title:  TTLPF
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344061180
Published:  Fri, 18 Feb 2022 13:03:45 +0700

----------------------------------

F45: 29
Title:  TPCH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344053350
Published:  Fri, 18 Feb 2022 09:18:55 +0700

----------------------------------

F45: 30
Title:  DOHOME
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344052160
Published:  Fri, 18 Feb 2022 08:51:22 +0700

----------------------------------

F45: 31
Title:  WGE
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051900
Published:  Fri, 18 Feb 2022 08:38:49 +0700

----------------------------------

F45: 32
Title:  CPNREIT
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051580
Published:  Fri, 18 Feb 2022 08:34:46 +0700

----------------------------------

F45: 33
Title:  TPCH
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051480
Published:  Fri, 18 Feb 2022 08:31:23 +0700

----------------------------------

F45: 34
Title:  SVI
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344050850
Published:  Fri, 18 Feb 2022 08:22:57 +0700

----------------------------------

F45: 35
Title:  SUPEREIF
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049840
Published:  Fri, 18 Feb 2022 08:00:06 +0700

----------------------------------

F45: 36
Title:  INSET
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049700
Published:  Fri, 18 Feb 2022 07:48:14 +0700

In [5]:
df = pd.DataFrame(f45_items)
df[['name','year','quarter','published']]

        name  year quarter                        published
0        AWC  2021       y  Fri, 18 Feb 2022 22:12:54 +0700
1     PRAPAT  2021       y  Fri, 18 Feb 2022 21:35:36 +0700
2       PHOL  2021       y  Fri, 18 Feb 2022 20:03:33 +0700
3     INSURE  2021       y  Fri, 18 Feb 2022 19:48:10 +0700
4      TIPCO  2021       y  Fri, 18 Feb 2022 19:10:08 +0700
5        TMT  2021       y  Fri, 18 Feb 2022 19:05:11 +0700
6        PSH  2021       y  Fri, 18 Feb 2022 19:02:58 +0700
7       HENG  2021       y  Fri, 18 Feb 2022 18:46:28 +0700
8        CBG  2021       y  Fri, 18 Feb 2022 18:44:52 +0700
9        ROH  2021       y  Fri, 18 Feb 2022 18:41:13 +0700
10     MAKRO  2021       y  Fri, 18 Feb 2022 18:29:07 +0700
11       AHC  2021       y  Fri, 18 Feb 2022 18:27:30 +0700
12     SAMCO  2021       y  Fri, 18 Feb 2022 18:26:47 +0700
13       ICC  2021       y  Fri, 18 Feb 2022 18:25:53 +0700
14       BEC  2021       y  Fri, 18 Feb 2022 18:25:15 +0700
15      APCS  2021       y  Fri, 18 Feb 2022 18:24:20 +0700
16       ASK  2021       y  Fri, 18 Feb 2022 18:04:38 +0700
17      TRUE  2021       y  Fri, 18 Feb 2022 17:49:00 +0700
18   GAHREIT  2021       e  Fri, 18 Feb 2022 17:29:41 +0700
19       SCC  2021       S  Fri, 18 Feb 2022 17:21:22 +0700
20     YUASA  2021       y  Fri, 18 Feb 2022 17:18:27 +0700
21       SMK  2021       y  Fri, 18 Feb 2022 17:16:46 +0700
22        AI  2021       y  Fri, 18 Feb 2022 17:09:50 +0700
23        PE  2021       y  Fri, 18 Feb 2022 17:06:42 +0700
24       KDH  2021       y  Fri, 18 Feb 2022 17:05:05 +0700
25      GULF  2021       y  Fri, 18 Feb 2022 17:04:33 +0700
26       AIE  2021       y  Fri, 18 Feb 2022 17:01:49 +0700
27      INOX  2021       y  Fri, 18 Feb 2022 17:00:54 +0700
28     TTLPF  2021       e  Fri, 18 Feb 2022 13:03:45 +0700
29      TPCH  2021       y  Fri, 18 Feb 2022 09:18:55 +0700
30    DOHOME  2021       y  Fri, 18 Feb 2022 08:51:22 +0700
31       WGE  2021       y  Fri, 18 Feb 2022 08:38:49 +0700
32   CPNREIT  2021       e  Fri, 18 Feb 2022 08:34:46 +0700
33      TPCH  2021       y  Fri, 18 Feb 2022 08:31:23 +0700
34       SVI  2021       y  Fri, 18 Feb 2022 08:22:57 +0700
35  SUPEREIF  2021       e  Fri, 18 Feb 2022 08:00:06 +0700
36     INSET  2021       y  Fri, 18 Feb 2022 07:48:14 +0700

In [6]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == 'y','quarter'] = 4
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          32    32    32         32
S           1     1     1          1
e           4     4     4          4

In [7]:
df.loc[df.quarter == 'e','quarter'] = 4
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          36    36    36         36
S           1     1     1          1

In [8]:
df.loc[df.quarter == 'S','quarter'] = 4
df.groupby(['quarter']).count()

         name  year  link  published
quarter
4          37    37    37         37

In [10]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == '1','year'] = 2022
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['year']).count()

      name  quarter  link  published
year
2021    32       32    32         32

In [9]:
df.shape

(37, 5)

In [10]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='name', keep='first')
df.shape

(36, 5)

In [11]:
file_name = 'F45-RAW-' + mmdd_str + '.csv'
raw_file = raw_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df[['name','year','quarter','published']].to_csv(output_file, header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(box_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(one_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(raw_file,    header=True, index=False, sep=',')

In [12]:
sql = '''
SELECT *
FROM exempts
ORDER BY name'''
df_exempts = pd.read_sql(sql, conlt)
df_exempts.shape[0]

299

In [13]:
df_merge = pd.merge(df, df_exempts, on='name', how='outer', indicator=True)
df_merge.shape

(326, 7)

### Tickers that won't be input

In [14]:
in_exempts = df_merge.loc[
    df_merge['_merge'] == 'both',
    ['name','year','quarter','published','link']
]
in_exempts.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
2,PHOL,2021.0,4,"Fri, 18 Feb 2022 20:03:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344098300
9,ROH,2021.0,4,"Fri, 18 Feb 2022 18:41:13 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094100
11,AHC,2021.0,4,"Fri, 18 Feb 2022 18:27:30 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092880
12,SAMCO,2021.0,4,"Fri, 18 Feb 2022 18:26:47 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092770
18,GAHREIT,2021.0,4,"Fri, 18 Feb 2022 17:29:41 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344083230
21,SMK,2021.0,4,"Fri, 18 Feb 2022 17:16:46 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344081530
22,AI,2021.0,4,"Fri, 18 Feb 2022 17:09:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344080490
24,KDH,2021.0,4,"Fri, 18 Feb 2022 17:05:05 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079540
29,TPCH,2021.0,4,"Fri, 18 Feb 2022 09:18:55 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344053350

In [15]:
in_exempts.sort_values(by=['published'],ascending=[False]).shape[0]

9

In [16]:
df_out = df_merge.loc[
    df_merge['_merge'] == 'left_only',
    ['name','year','quarter','published','link']
]
df_out.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
0,AWC,2021.0,4,"Fri, 18 Feb 2022 22:12:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344100050
1,PRAPAT,2021.0,4,"Fri, 18 Feb 2022 21:35:36 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344099370
3,INSURE,2021.0,4,"Fri, 18 Feb 2022 19:48:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344097880
4,TIPCO,2021.0,4,"Fri, 18 Feb 2022 19:10:08 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095420
5,TMT,2021.0,4,"Fri, 18 Feb 2022 19:05:11 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095050
6,PSH,2021.0,4,"Fri, 18 Feb 2022 19:02:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094920
7,HENG,2021.0,4,"Fri, 18 Feb 2022 18:46:28 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094340
8,CBG,2021.0,4,"Fri, 18 Feb 2022 18:44:52 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094260
10,MAKRO,2021.0,4,"Fri, 18 Feb 2022 18:29:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344093050
13,ICC,2021.0,4,"Fri, 18 Feb 2022 18:25:53 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092590
14,BEC,2021.0,4,"Fri, 18 Feb 2022 18:25:15 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092560
15,APCS,2021.0,4,"Fri, 18 Feb 2022 18:24:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092420
16,ASK,2021.0,4,"Fri, 18 Feb 2022 18:04:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344090150
17,TRUE,2021.0,4,"Fri, 18 Feb 2022 17:49:00 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344088290
19,SCC,2021.0,4,"Fri, 18 Feb 2022 17:21:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344082030
20,YUASA,2021.0,4,"Fri, 18 Feb 2022 17:18:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344081750
23,PE,2021.0,4,"Fri, 18 Feb 2022 17:06:42 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079830
25,GULF,2021.0,4,"Fri, 18 Feb 2022 17:04:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079240
26,AIE,2021.0,4,"Fri, 18 Feb 2022 17:01:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078420
27,INOX,2021.0,4,"Fri, 18 Feb 2022 17:00:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078040
28,TTLPF,2021.0,4,"Fri, 18 Feb 2022 13:03:45 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344061180
30,DOHOME,2021.0,4,"Fri, 18 Feb 2022 08:51:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344052160
31,WGE,2021.0,4,"Fri, 18 Feb 2022 08:38:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051900
32,CPNREIT,2021.0,4,"Fri, 18 Feb 2022 08:34:46 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051580
33,SVI,2021.0,4,"Fri, 18 Feb 2022 08:22:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344050850
34,SUPEREIF,2021.0,4,"Fri, 18 Feb 2022 08:00:06 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049840
35,INSET,2021.0,4,"Fri, 18 Feb 2022 07:48:14 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049700

In [17]:
#df_out = df_out.drop(df_out.index[df_out['name'] == "SCC"])
df_out.shape[0]

27

In [18]:
sql = '''
SELECT *
FROM tickers
ORDER BY name'''
df_tickers = pd.read_sql(sql, conlt)
df_tickers.shape

(403, 9)

In [19]:
df_merge2 = pd.merge(df_out, df_tickers, on='name', how='outer', indicator=True)
df_merge2.shape

(408, 14)

### There are no ticker records

In [20]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
]

,name,year,quarter,published,link,id,market
1,PRAPAT,2021.0,4,"Fri, 18 Feb 2022 21:35:36 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344099370,NaN,NaN
2,INSURE,2021.0,4,"Fri, 18 Feb 2022 19:48:10 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344097880,NaN,NaN
6,HENG,2021.0,4,"Fri, 18 Feb 2022 18:46:28 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094340,NaN,NaN
16,PE,2021.0,4,"Fri, 18 Feb 2022 17:06:42 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079830,NaN,NaN
22,WGE,2021.0,4,"Fri, 18 Feb 2022 08:38:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051900,NaN,NaN

### There are ticker records

In [21]:
df_out2 = df_merge2.loc[
    df_merge2['_merge'] == 'both',
    ['name','year','quarter','published','link','id','market']
]
df_out2

,name,year,quarter,published,link,id,market
0,AWC,2021.0,4,"Fri, 18 Feb 2022 22:12:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344100050,699.0,SET50 / SETTHSI
3,TIPCO,2021.0,4,"Fri, 18 Feb 2022 19:10:08 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095420,530.0,sSET
4,TMT,2021.0,4,"Fri, 18 Feb 2022 19:05:11 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095050,545.0,sSET / SETTHSI
5,PSH,2021.0,4,"Fri, 18 Feb 2022 19:02:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094920,377.0,SETTHSI
7,CBG,2021.0,4,"Fri, 18 Feb 2022 18:44:52 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094260,87.0,SET50 / SETCLMV / SETWB
8,MAKRO,2021.0,4,"Fri, 18 Feb 2022 18:29:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344093050,283.0,SET
9,ICC,2021.0,4,"Fri, 18 Feb 2022 18:25:53 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092590,215.0,SET
10,BEC,2021.0,4,"Fri, 18 Feb 2022 18:25:15 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092560,56.0,SET100
11,APCS,2021.0,4,"Fri, 18 Feb 2022 18:24:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092420,27.0,sSET
12,ASK,2021.0,4,"Fri, 18 Feb 2022 18:04:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344090150,38.0,SET
13,TRUE,2021.0,4,"Fri, 18 Feb 2022 17:49:00 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344088290,571.0,SET50 / SETTHSI
14,SCC,2021.0,4,"Fri, 18 Feb 2022 17:21:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344082030,427.0,SET50 / SETCLMV / SETHD / SETTHSI
15,YUASA,2021.0,4,"Fri, 18 Feb 2022 17:18:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344081750,630.0,mai
17,GULF,2021.0,4,"Fri, 18 Feb 2022 17:04:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079240,653.0,SET50 / SETCLMV / SETTHSI
18,AIE,2021.0,4,"Fri, 18 Feb 2022 17:01:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078420,720.0,sSET
19,INOX,2021.0,4,"Fri, 18 Feb 2022 17:00:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078040,674.0,SET
20,TTLPF,2021.0,4,"Fri, 18 Feb 2022 13:03:45 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344061180,707.0,SET
21,DOHOME,2021.0,4,"Fri, 18 Feb 2022 08:51:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344052160,701.0,SET100 / SETWB
23,CPNREIT,2021.0,4,"Fri, 18 Feb 2022 08:34:46 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051580,647.0,SET
24,SVI,2021.0,4,"Fri, 18 Feb 2022 08:22:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344050850,491.0,SET
25,SUPEREIF,2021.0,4,"Fri, 18 Feb 2022 08:00:06 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049840,706.0,SET
26,INSET,2021.0,4,"Fri, 18 Feb 2022 07:48:14 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049700,738.0,mai

In [22]:
df_out2 = df_out2[df_out2.year.notnull()]
df_out2

,name,year,quarter,published,link,id,market
0,AWC,2021.0,4,"Fri, 18 Feb 2022 22:12:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344100050,699.0,SET50 / SETTHSI
3,TIPCO,2021.0,4,"Fri, 18 Feb 2022 19:10:08 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095420,530.0,sSET
4,TMT,2021.0,4,"Fri, 18 Feb 2022 19:05:11 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095050,545.0,sSET / SETTHSI
5,PSH,2021.0,4,"Fri, 18 Feb 2022 19:02:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094920,377.0,SETTHSI
7,CBG,2021.0,4,"Fri, 18 Feb 2022 18:44:52 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094260,87.0,SET50 / SETCLMV / SETWB
8,MAKRO,2021.0,4,"Fri, 18 Feb 2022 18:29:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344093050,283.0,SET
9,ICC,2021.0,4,"Fri, 18 Feb 2022 18:25:53 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092590,215.0,SET
10,BEC,2021.0,4,"Fri, 18 Feb 2022 18:25:15 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092560,56.0,SET100
11,APCS,2021.0,4,"Fri, 18 Feb 2022 18:24:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092420,27.0,sSET
12,ASK,2021.0,4,"Fri, 18 Feb 2022 18:04:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344090150,38.0,SET
13,TRUE,2021.0,4,"Fri, 18 Feb 2022 17:49:00 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344088290,571.0,SET50 / SETTHSI
14,SCC,2021.0,4,"Fri, 18 Feb 2022 17:21:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344082030,427.0,SET50 / SETCLMV / SETHD / SETTHSI
15,YUASA,2021.0,4,"Fri, 18 Feb 2022 17:18:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344081750,630.0,mai
17,GULF,2021.0,4,"Fri, 18 Feb 2022 17:04:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079240,653.0,SET50 / SETCLMV / SETTHSI
18,AIE,2021.0,4,"Fri, 18 Feb 2022 17:01:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078420,720.0,sSET
19,INOX,2021.0,4,"Fri, 18 Feb 2022 17:00:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078040,674.0,SET
20,TTLPF,2021.0,4,"Fri, 18 Feb 2022 13:03:45 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344061180,707.0,SET
21,DOHOME,2021.0,4,"Fri, 18 Feb 2022 08:51:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344052160,701.0,SET100 / SETWB
23,CPNREIT,2021.0,4,"Fri, 18 Feb 2022 08:34:46 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051580,647.0,SET
24,SVI,2021.0,4,"Fri, 18 Feb 2022 08:22:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344050850,491.0,SET
25,SUPEREIF,2021.0,4,"Fri, 18 Feb 2022 08:00:06 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049840,706.0,SET
26,INSET,2021.0,4,"Fri, 18 Feb 2022 07:48:14 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049700,738.0,mai

In [23]:
df_out2['year'] = df_out2['year'].astype(int)
df_out2['quarter'] = df_out2['quarter'].astype(int)
df_out2

,name,year,quarter,published,link,id,market
0,AWC,2021,4,"Fri, 18 Feb 2022 22:12:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344100050,699.0,SET50 / SETTHSI
3,TIPCO,2021,4,"Fri, 18 Feb 2022 19:10:08 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095420,530.0,sSET
4,TMT,2021,4,"Fri, 18 Feb 2022 19:05:11 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095050,545.0,sSET / SETTHSI
5,PSH,2021,4,"Fri, 18 Feb 2022 19:02:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094920,377.0,SETTHSI
7,CBG,2021,4,"Fri, 18 Feb 2022 18:44:52 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094260,87.0,SET50 / SETCLMV / SETWB
8,MAKRO,2021,4,"Fri, 18 Feb 2022 18:29:07 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344093050,283.0,SET
9,ICC,2021,4,"Fri, 18 Feb 2022 18:25:53 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092590,215.0,SET
10,BEC,2021,4,"Fri, 18 Feb 2022 18:25:15 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092560,56.0,SET100
11,APCS,2021,4,"Fri, 18 Feb 2022 18:24:20 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092420,27.0,sSET
12,ASK,2021,4,"Fri, 18 Feb 2022 18:04:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344090150,38.0,SET
13,TRUE,2021,4,"Fri, 18 Feb 2022 17:49:00 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344088290,571.0,SET50 / SETTHSI
14,SCC,2021,4,"Fri, 18 Feb 2022 17:21:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344082030,427.0,SET50 / SETCLMV / SETHD / SETTHSI
15,YUASA,2021,4,"Fri, 18 Feb 2022 17:18:27 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344081750,630.0,mai
17,GULF,2021,4,"Fri, 18 Feb 2022 17:04:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079240,653.0,SET50 / SETCLMV / SETTHSI
18,AIE,2021,4,"Fri, 18 Feb 2022 17:01:49 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078420,720.0,sSET
19,INOX,2021,4,"Fri, 18 Feb 2022 17:00:54 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078040,674.0,SET
20,TTLPF,2021,4,"Fri, 18 Feb 2022 13:03:45 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344061180,707.0,SET
21,DOHOME,2021,4,"Fri, 18 Feb 2022 08:51:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344052160,701.0,SET100 / SETWB
23,CPNREIT,2021,4,"Fri, 18 Feb 2022 08:34:46 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051580,647.0,SET
24,SVI,2021,4,"Fri, 18 Feb 2022 08:22:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344050850,491.0,SET
25,SUPEREIF,2021,4,"Fri, 18 Feb 2022 08:00:06 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049840,706.0,SET
26,INSET,2021,4,"Fri, 18 Feb 2022 07:48:14 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049700,738.0,mai

In [24]:
file_name = 'F45-CLEAN-' + mmdd_str + '.csv'
clean_file = clean_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(output_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(clean_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(box_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(one_file, header=True, index=False, sep=',')

In [25]:
sql = '''
SELECT * 
FROM epss
WHERE year = 2021'''
df_epss = pd.read_sql(sql, conlt)
df_epss.shape

(1088, 14)

In [26]:
df_merge3 = pd.merge(df_out2, df_epss, on=['name','year','quarter'], how='outer', indicator=True)
df_merge3.shape

(1103, 19)

### Already input, display profit amt & eps to check with new F45

In [27]:
df_merge3[df_merge3['_merge'] == 'both']

,name,year,quarter,published,link,id_x,market,id_y,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date,_merge
2,TMT,2021,4,"Fri, 18 Feb 2022 19:05:11 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095050,545.0,sSET / SETTHSI,21164.0,160913.0,173439.0,1530060.0,537878.0,0.19000,0.20000,1.76000,0.62000,545.0,2022-02-18,both
9,ASK,2021,4,"Fri, 18 Feb 2022 18:04:38 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344090150,38.0,SET,21165.0,343187.0,220691.0,1202804.0,883064.0,0.64000,0.63000,2.62000,2.51000,38.0,2022-02-18,both
11,SCC,2021,4,"Fri, 18 Feb 2022 17:21:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344082030,427.0,SET50 / SETCLMV / SETHD / SETTHSI,21093.0,8306734.0,8047461.0,47173987.0,34143870.0,6.92000,6.70000,39.31000,28.45000,427.0,2022-01-26,both
13,GULF,2021,4,"Fri, 18 Feb 2022 17:04:33 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344079240,653.0,SET50 / SETCLMV / SETTHSI,21166.0,3043425.0,1844173.0,7670298.0,4282114.0,0.26000,0.16000,0.65000,0.39000,653.0,2022-02-18,both
16,TTLPF,2021,4,"Fri, 18 Feb 2022 13:03:45 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344061180,707.0,SET,21148.0,52121.0,70061.0,280884.0,246627.0,0.28960,0.38930,1.56050,1.37020,707.0,2022-02-17,both
17,DOHOME,2021,4,"Fri, 18 Feb 2022 08:51:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344052160,701.0,SET100 / SETWB,21143.0,333207.0,215400.0,1818063.0,726680.0,0.13622,0.09182,0.76326,0.30976,701.0,2022-02-17,both
19,SVI,2021,4,"Fri, 18 Feb 2022 08:22:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344050850,491.0,SET,21162.0,573561.0,101836.0,1407622.0,686488.0,0.26000,0.05000,0.65000,0.32000,491.0,2022-02-18,both

In [28]:
df_inp2 = df_merge3[df_merge3['_merge'] == 'left_only']
df_inp3 = df_inp2.copy()
df_inp3.shape

(15, 19)

In [29]:
df_inp3['year'] = df_inp3['year'].astype(str)
df_inp3['quarter'] = df_inp3['quarter'].astype(str)
inp3_str = df_inp3.name+' '+df_inp3.year+' '+df_inp3.quarter+' '+df_inp3.link
inp3_str

0          AWC 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344100050
1        TIPCO 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344095420
3          PSH 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094920
4          CBG 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344094260
5        MAKRO 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344093050
6          ICC 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092590
7          BEC 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092560
8         APCS 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344092420
10        TRUE 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344088290
12       YUASA 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344081750
14         AIE 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078420
15        INOX 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344078040
18     CPNREIT 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344051580
20    SUPEREIF 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049840
21       INSET 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16451344049700
dtype: object