In [1]:
import feedparser
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

clean_path = "../data/clean/"
raw_path = "../data/raw/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
pdf_path = "../PDF/"

pd.set_option('display.max_colwidth', 255)
pd.set_option('display.max_rows',None)
url = "https://feeds.feedburner.com/Setorth-form45-en"

today = date.today()
year = 2021
mmdd_str = today.strftime('%m%d')
mmdd_str

'0212'

In [2]:
today = date(2022, 2, 11)
mmdd_str = today.strftime('%m%d')
mmdd_str

'0211'

In [3]:
rss_source = feedparser.parse(url)
f45_number = len(rss_source.entries)
print("Number of F45: ", f45_number)

Number of F45:  18

In [4]:
f45_items = []

for x in range(f45_number):
    f45_content = rss_source.entries[x]
    f45_item = {}
    
    print("\n----------------------------------\n")
    
    print("F45: " + str(x))
    title_ary = f45_content.title.partition(' ')
    f45_item['name'] = title_ary[0].strip() 
    print("Title: ", f45_item['name'])  
    f45_item['year'] = year
    print("Year: ", f45_item['year'])      
    qtr_ary = title_ary[2].partition(' (F45)')
    f45_item['quarter'] = qtr_ary[0][-1]    
    print("Quarter: ", f45_item['quarter'])    
    f45_item['link'] = f45_content.link
    print("Link: ", f45_item['link'])
    f45_item['published'] = f45_content.published
    print("Published: ", f45_item['published'])  
    f45_items.append(f45_item)

----------------------------------

F45: 0
Title:  SFP
Year:  2021
Quarter:  1
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842840
Published:  Fri, 11 Feb 2022 20:32:22 +0700

----------------------------------

F45: 1
Title:  GPSC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842250
Published:  Fri, 11 Feb 2022 20:18:26 +0700

----------------------------------

F45: 2
Title:  GGC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841740
Published:  Fri, 11 Feb 2022 20:08:35 +0700

----------------------------------

F45: 3
Title:  BOL
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841030
Published:  Fri, 11 Feb 2022 19:12:40 +0700

----------------------------------

F45: 4
Title:  EPG
Year:  2021
Quarter:  3
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366837300
Published:  Fri, 11 Feb 2022 18:38:57 +0700

----------------------------------

F45: 5
Title:  PTTEP
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366836930
Published:  Fri, 11 Feb 2022 18:29:29 +0700

----------------------------------

F45: 6
Title:  TNPF
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366835230
Published:  Fri, 11 Feb 2022 18:17:59 +0700

----------------------------------

F45: 7
Title:  TFFIF
Year:  2021
Quarter:  1
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833980
Published:  Fri, 11 Feb 2022 17:59:57 +0700

----------------------------------

F45: 8
Title:  SCCC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833740
Published:  Fri, 11 Feb 2022 17:58:50 +0700

----------------------------------

F45: 9
Title:  SSC
Year:  2021
Quarter:  1
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366832330
Published:  Fri, 11 Feb 2022 17:41:24 +0700

----------------------------------

F45: 10
Title:  KTC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830870
Published:  Fri, 11 Feb 2022 17:34:21 +0700

----------------------------------

F45: 11
Title:  AMATAR
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830150
Published:  Fri, 11 Feb 2022 17:21:44 +0700

----------------------------------

F45: 12
Title:  METCO
Year:  2021
Quarter:  1
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366829400
Published:  Fri, 11 Feb 2022 17:14:31 +0700

----------------------------------

F45: 13
Title:  AFC
Year:  2021
Quarter:  2
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366826340
Published:  Fri, 11 Feb 2022 17:02:36 +0700

----------------------------------

F45: 14
Title:  GROREIT
Year:  2021
Quarter:  e
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366806440
Published:  Fri, 11 Feb 2022 08:52:12 +0700

----------------------------------

F45: 15
Title:  QTC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366806370
Published:  Fri, 11 Feb 2022 08:49:45 +0700

----------------------------------

F45: 16
Title:  MC
Year:  2021
Quarter:  2
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805590
Published:  Fri, 11 Feb 2022 08:18:58 +0700

----------------------------------

F45: 17
Title:  QTC
Year:  2021
Quarter:  y
Link:  https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805490
Published:  Fri, 11 Feb 2022 07:53:33 +0700

In [5]:
df = pd.DataFrame(f45_items)
df[['name','year','quarter','published']]

       name  year quarter                        published
0       SFP  2021       1  Fri, 11 Feb 2022 20:32:22 +0700
1      GPSC  2021       y  Fri, 11 Feb 2022 20:18:26 +0700
2       GGC  2021       y  Fri, 11 Feb 2022 20:08:35 +0700
3       BOL  2021       y  Fri, 11 Feb 2022 19:12:40 +0700
4       EPG  2021       3  Fri, 11 Feb 2022 18:38:57 +0700
5     PTTEP  2021       y  Fri, 11 Feb 2022 18:29:29 +0700
6      TNPF  2021       e  Fri, 11 Feb 2022 18:17:59 +0700
7     TFFIF  2021       1  Fri, 11 Feb 2022 17:59:57 +0700
8      SCCC  2021       y  Fri, 11 Feb 2022 17:58:50 +0700
9       SSC  2021       1  Fri, 11 Feb 2022 17:41:24 +0700
10      KTC  2021       y  Fri, 11 Feb 2022 17:34:21 +0700
11   AMATAR  2021       e  Fri, 11 Feb 2022 17:21:44 +0700
12    METCO  2021       1  Fri, 11 Feb 2022 17:14:31 +0700
13      AFC  2021       2  Fri, 11 Feb 2022 17:02:36 +0700
14  GROREIT  2021       e  Fri, 11 Feb 2022 08:52:12 +0700
15      QTC  2021       y  Fri, 11 Feb 2022 08:49:45 +0700
16       MC  2021       2  Fri, 11 Feb 2022 08:18:58 +0700
17      QTC  2021       y  Fri, 11 Feb 2022 07:53:33 +0700

In [7]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == 'e','quarter'] = 4
#df.replace({"quarter" : "1"}, "3", inplace=True)

df

,name,year,quarter,link,published
0,SFP,2021,1,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842840,"Fri, 11 Feb 2022 20:32:22 +0700"
1,GPSC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842250,"Fri, 11 Feb 2022 20:18:26 +0700"
2,GGC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841740,"Fri, 11 Feb 2022 20:08:35 +0700"
3,BOL,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841030,"Fri, 11 Feb 2022 19:12:40 +0700"
4,EPG,2021,3,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366837300,"Fri, 11 Feb 2022 18:38:57 +0700"
5,PTTEP,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366836930,"Fri, 11 Feb 2022 18:29:29 +0700"
6,TNPF,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366835230,"Fri, 11 Feb 2022 18:17:59 +0700"
7,TFFIF,2021,1,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833980,"Fri, 11 Feb 2022 17:59:57 +0700"
8,SCCC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833740,"Fri, 11 Feb 2022 17:58:50 +0700"
9,SSC,2021,1,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366832330,"Fri, 11 Feb 2022 17:41:24 +0700"
10,KTC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830870,"Fri, 11 Feb 2022 17:34:21 +0700"
11,AMATAR,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830150,"Fri, 11 Feb 2022 17:21:44 +0700"
12,METCO,2021,1,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366829400,"Fri, 11 Feb 2022 17:14:31 +0700"
13,AFC,2021,2,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366826340,"Fri, 11 Feb 2022 17:02:36 +0700"
14,GROREIT,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366806440,"Fri, 11 Feb 2022 08:52:12 +0700"
15,QTC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366806370,"Fri, 11 Feb 2022 08:49:45 +0700"
16,MC,2021,2,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805590,"Fri, 11 Feb 2022 08:18:58 +0700"
17,QTC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805490,"Fri, 11 Feb 2022 07:53:33 +0700"

In [8]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == '1','year'] = 2022
#df.replace({"quarter" : "1"}, "3", inplace=True)

df

,name,year,quarter,link,published
0,SFP,2022,1,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842840,"Fri, 11 Feb 2022 20:32:22 +0700"
1,GPSC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842250,"Fri, 11 Feb 2022 20:18:26 +0700"
2,GGC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841740,"Fri, 11 Feb 2022 20:08:35 +0700"
3,BOL,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841030,"Fri, 11 Feb 2022 19:12:40 +0700"
4,EPG,2021,3,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366837300,"Fri, 11 Feb 2022 18:38:57 +0700"
5,PTTEP,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366836930,"Fri, 11 Feb 2022 18:29:29 +0700"
6,TNPF,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366835230,"Fri, 11 Feb 2022 18:17:59 +0700"
7,TFFIF,2022,1,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833980,"Fri, 11 Feb 2022 17:59:57 +0700"
8,SCCC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833740,"Fri, 11 Feb 2022 17:58:50 +0700"
9,SSC,2022,1,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366832330,"Fri, 11 Feb 2022 17:41:24 +0700"
10,KTC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830870,"Fri, 11 Feb 2022 17:34:21 +0700"
11,AMATAR,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830150,"Fri, 11 Feb 2022 17:21:44 +0700"
12,METCO,2022,1,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366829400,"Fri, 11 Feb 2022 17:14:31 +0700"
13,AFC,2021,2,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366826340,"Fri, 11 Feb 2022 17:02:36 +0700"
14,GROREIT,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366806440,"Fri, 11 Feb 2022 08:52:12 +0700"
15,QTC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366806370,"Fri, 11 Feb 2022 08:49:45 +0700"
16,MC,2021,2,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805590,"Fri, 11 Feb 2022 08:18:58 +0700"
17,QTC,2021,4,https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805490,"Fri, 11 Feb 2022 07:53:33 +0700"

In [9]:
df.shape

(18, 5)

In [10]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='name', keep='first')
df.shape

(17, 5)

In [11]:
file_name = 'F45-RAW-' + mmdd_str + '.csv'
raw_file = raw_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df[['name','year','quarter','published']].to_csv(output_file, header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(box_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(one_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(raw_file,    header=True, index=False, sep=',')

In [12]:
sql = '''
SELECT *
FROM exempts
ORDER BY name'''
df_exempts = pd.read_sql(sql, conlt)
df_exempts.shape[0]

299

In [13]:
df_merge = pd.merge(df, df_exempts, on='name', how='outer', indicator=True)
df_merge.shape

(312, 7)

### Tickers that won't be input

In [14]:
in_exempts = df_merge.loc[
    df_merge['_merge'] == 'both',
    ['name','year','quarter','published','link']
]
in_exempts.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
0,SFP,2022.0,1,"Fri, 11 Feb 2022 20:32:22 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842840
3,BOL,2021.0,4,"Fri, 11 Feb 2022 19:12:40 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841030
9,SSC,2022.0,1,"Fri, 11 Feb 2022 17:41:24 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366832330
15,QTC,2021.0,4,"Fri, 11 Feb 2022 08:49:45 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366806370

In [15]:
in_exempts.sort_values(by=['published'],ascending=[False]).shape[0]

4

In [16]:
df_out = df_merge.loc[
    df_merge['_merge'] == 'left_only',
    ['name','year','quarter','published','link']
]
df_out.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
1,GPSC,2021.0,4,"Fri, 11 Feb 2022 20:18:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842250
2,GGC,2021.0,4,"Fri, 11 Feb 2022 20:08:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841740
4,EPG,2021.0,3,"Fri, 11 Feb 2022 18:38:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366837300
5,PTTEP,2021.0,4,"Fri, 11 Feb 2022 18:29:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366836930
6,TNPF,2021.0,4,"Fri, 11 Feb 2022 18:17:59 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366835230
7,TFFIF,2022.0,1,"Fri, 11 Feb 2022 17:59:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833980
8,SCCC,2021.0,4,"Fri, 11 Feb 2022 17:58:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833740
10,KTC,2021.0,4,"Fri, 11 Feb 2022 17:34:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830870
11,AMATAR,2021.0,4,"Fri, 11 Feb 2022 17:21:44 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830150
12,METCO,2022.0,1,"Fri, 11 Feb 2022 17:14:31 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366829400
13,AFC,2021.0,2,"Fri, 11 Feb 2022 17:02:36 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366826340
14,GROREIT,2021.0,4,"Fri, 11 Feb 2022 08:52:12 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366806440
16,MC,2021.0,2,"Fri, 11 Feb 2022 08:18:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805590

In [17]:
#df_out = df_out.drop(df_out.index[df_out['name'] == "SCC"])
df_out.shape[0]

13

In [18]:
sql = '''
SELECT *
FROM tickers
ORDER BY name'''
df_tickers = pd.read_sql(sql, conlt)
df_tickers.shape

(403, 9)

In [19]:
df_merge2 = pd.merge(df_out, df_tickers, on='name', how='outer', indicator=True)
df_merge2.shape

(408, 14)

### There are no ticker records

In [20]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
]

,name,year,quarter,published,link,id,market
4,TNPF,2021.0,4,"Fri, 11 Feb 2022 18:17:59 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366835230,NaN,NaN
8,AMATAR,2021.0,4,"Fri, 11 Feb 2022 17:21:44 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830150,NaN,NaN
9,METCO,2022.0,1,"Fri, 11 Feb 2022 17:14:31 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366829400,NaN,NaN
10,AFC,2021.0,2,"Fri, 11 Feb 2022 17:02:36 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366826340,NaN,NaN
11,GROREIT,2021.0,4,"Fri, 11 Feb 2022 08:52:12 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366806440,NaN,NaN

### There are ticker records

In [22]:
df_out2 = df_merge2.loc[
    df_merge2['_merge'] == 'both',
    ['name','year','quarter','published','link','id','market']
]
df_out2

,name,year,quarter,published,link,id,market
0,GPSC,2021.0,4,"Fri, 11 Feb 2022 20:18:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842250,197.0,SET50 / SETTHSI
1,GGC,2021.0,4,"Fri, 11 Feb 2022 20:08:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841740,188.0,sSET
2,EPG,2021.0,3,"Fri, 11 Feb 2022 18:38:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366837300,162.0,SET100 / SETTHSI
3,PTTEP,2021.0,4,"Fri, 11 Feb 2022 18:29:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366836930,384.0,SET50 / SETCLMV / SETHD / SETTHSI
5,TFFIF,2022.0,1,"Fri, 11 Feb 2022 17:59:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833980,686.0,SET
6,SCCC,2021.0,4,"Fri, 11 Feb 2022 17:58:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833740,428.0,SETCLMV / SETTHSI
7,KTC,2021.0,4,"Fri, 11 Feb 2022 17:34:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830870,259.0,SET50 / SETTHSI
12,MC,2021.0,2,"Fri, 11 Feb 2022 08:18:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805590,291.0,sSET

In [23]:
df_out2 = df_out2[df_out2.year.notnull()]
df_out2

,name,year,quarter,published,link,id,market
0,GPSC,2021.0,4,"Fri, 11 Feb 2022 20:18:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842250,197.0,SET50 / SETTHSI
1,GGC,2021.0,4,"Fri, 11 Feb 2022 20:08:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841740,188.0,sSET
2,EPG,2021.0,3,"Fri, 11 Feb 2022 18:38:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366837300,162.0,SET100 / SETTHSI
3,PTTEP,2021.0,4,"Fri, 11 Feb 2022 18:29:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366836930,384.0,SET50 / SETCLMV / SETHD / SETTHSI
5,TFFIF,2022.0,1,"Fri, 11 Feb 2022 17:59:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833980,686.0,SET
6,SCCC,2021.0,4,"Fri, 11 Feb 2022 17:58:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833740,428.0,SETCLMV / SETTHSI
7,KTC,2021.0,4,"Fri, 11 Feb 2022 17:34:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830870,259.0,SET50 / SETTHSI
12,MC,2021.0,2,"Fri, 11 Feb 2022 08:18:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805590,291.0,sSET

In [24]:
df_out2['year'] = df_out2['year'].astype(int)
df_out2['quarter'] = df_out2['quarter'].astype(int)
df_out2

,name,year,quarter,published,link,id,market
0,GPSC,2021,4,"Fri, 11 Feb 2022 20:18:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842250,197.0,SET50 / SETTHSI
1,GGC,2021,4,"Fri, 11 Feb 2022 20:08:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841740,188.0,sSET
2,EPG,2021,3,"Fri, 11 Feb 2022 18:38:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366837300,162.0,SET100 / SETTHSI
3,PTTEP,2021,4,"Fri, 11 Feb 2022 18:29:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366836930,384.0,SET50 / SETCLMV / SETHD / SETTHSI
5,TFFIF,2022,1,"Fri, 11 Feb 2022 17:59:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833980,686.0,SET
6,SCCC,2021,4,"Fri, 11 Feb 2022 17:58:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833740,428.0,SETCLMV / SETTHSI
7,KTC,2021,4,"Fri, 11 Feb 2022 17:34:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830870,259.0,SET50 / SETTHSI
12,MC,2021,2,"Fri, 11 Feb 2022 08:18:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805590,291.0,sSET

In [25]:
file_name = 'F45-CLEAN-' + mmdd_str + '.csv'
clean_file = clean_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(output_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(clean_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(box_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(one_file, header=True, index=False, sep=',')

In [26]:
sql = '''
SELECT * 
FROM epss
WHERE year = 2021'''
df_epss = pd.read_sql(sql, conlt)
df_epss.shape

(1035, 14)

In [27]:
df_merge3 = pd.merge(df_out2, df_epss, on=['name','year','quarter'], how='outer', indicator=True)
df_merge3.shape

(1040, 19)

### Already input, display profit amt & eps to check with new F45

In [28]:
df_merge3[df_merge3['_merge'] == 'both']

,name,year,quarter,published,link,id_x,market,id_y,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date,_merge
3,PTTEP,2021,4,"Fri, 11 Feb 2022 18:29:29 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366836930,384.0,SET50 / SETCLMV / SETHD / SETTHSI,21095.0,10645266.0,2526810.0,38863595.0,22664011.0,2.67,0.64,9.70,5.65,384.0,2022-01-27,both
6,KTC,2021,4,"Fri, 11 Feb 2022 17:34:21 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366830870,259.0,SET50 / SETTHSI,21087.0,1247982.0,1321494.0,5878693.0,5332865.0,0.48,0.51,2.28,2.07,259.0,2022-01-21,both
7,MC,2021,2,"Fri, 11 Feb 2022 08:18:58 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366805590,291.0,sSET,19225.0,226463.0,227069.0,335188.0,291372.0,0.29,0.29,0.42,0.37,291.0,2021-02-15,both

In [30]:
df_inp2 = df_merge3[df_merge3['_merge'] == 'left_only']
df_inp3 = df_inp2.copy()
df_inp3

,name,year,quarter,published,link,id_x,market,id_y,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date,_merge
0,GPSC,2021,4,"Fri, 11 Feb 2022 20:18:26 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842250,197.0,SET50 / SETTHSI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,GGC,2021,4,"Fri, 11 Feb 2022 20:08:35 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841740,188.0,sSET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,EPG,2021,3,"Fri, 11 Feb 2022 18:38:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366837300,162.0,SET100 / SETTHSI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,TFFIF,2022,1,"Fri, 11 Feb 2022 17:59:57 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833980,686.0,SET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,SCCC,2021,4,"Fri, 11 Feb 2022 17:58:50 +0700",https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833740,428.0,SETCLMV / SETTHSI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [31]:
df_inp3['year'] = df_inp3['year'].astype(str)
df_inp3['quarter'] = df_inp3['quarter'].astype(str)
inp3_str = df_inp3.name+' '+df_inp3.year+' '+df_inp3.quarter+' '+df_inp3.link
inp3_str

0     GPSC 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366842250
1      GGC 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366841740
2      EPG 2021 3 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366837300
4    TFFIF 2022 1 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833980
5     SCCC 2021 4 https://www.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16445366833740
dtype: object