In [1]:
import feedparser
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

clean_path = "../data/clean/"
raw_path = "../data/raw/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
pdf_path = "../PDF/"

pd.set_option('display.max_colwidth', 255)
pd.set_option('display.max_rows',None)
url = "https://feeds.feedburner.com/Setorth-form45-en"

today = date.today()
year = 2022
mmdd_str = today.strftime('%m%d')
mmdd_str

'0510'

In [2]:
#today = date(2022, 5, 6)
mmdd_str = today.strftime('%m%d')
mmdd_str

'0510'

In [35]:
rss_source = feedparser.parse(url)
f45_number = len(rss_source.entries)
print("Number of F45: ", f45_number)

Number of F45:  88

In [36]:
f45_items = []

for x in range(f45_number):
    f45_content = rss_source.entries[x]
    f45_item = {}
    
    print("\n----------------------------------\n")
    
    print("F45: " + str(x))
    title_ary = f45_content.title.partition(' ')
    f45_item['name'] = title_ary[0].strip() 
    print("Title: ", f45_item['name'])  
    f45_item['year'] = year
    print("Year: ", f45_item['year'])      
    qtr_ary = title_ary[2].partition(' (F45)')
    f45_item['quarter'] = qtr_ary[0][-1]    
    print("Quarter: ", f45_item['quarter'])    
    f45_item['link'] = f45_content.link
    print("Link: ", f45_item['link'])
    f45_item['published'] = f45_content.published
    print("Published: ", f45_item['published'])  
    f45_items.append(f45_item)

----------------------------------

F45: 0
Title:  OR
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920650
Published:  Tue, 10 May 2022 21:57:59 +0700

----------------------------------

F45: 1
Title:  ITEL
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920340
Published:  Tue, 10 May 2022 21:49:58 +0700

----------------------------------

F45: 2
Title:  BANPU
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920190
Published:  Tue, 10 May 2022 21:47:44 +0700

----------------------------------

F45: 3
Title:  SENAJ
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386919550
Published:  Tue, 10 May 2022 21:28:14 +0700

----------------------------------

F45: 4
Title:  WINNER
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386919420
Published:  Tue, 10 May 2022 21:27:45 +0700

----------------------------------

F45: 5
Title:  WICE
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918940
Published:  Tue, 10 May 2022 21:17:56 +0700

----------------------------------

F45: 6
Title:  DCON
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918540
Published:  Tue, 10 May 2022 21:08:18 +0700

----------------------------------

F45: 7
Title:  UV
Year:  2022
Quarter:  2
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918260
Published:  Tue, 10 May 2022 20:41:21 +0700

----------------------------------

F45: 8
Title:  NV
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386916860
Published:  Tue, 10 May 2022 20:04:52 +0700

----------------------------------

F45: 9
Title:  BPP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386916840
Published:  Tue, 10 May 2022 20:01:49 +0700

----------------------------------

F45: 10
Title:  IRPC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386915960
Published:  Tue, 10 May 2022 19:46:24 +0700

----------------------------------

F45: 11
Title:  J
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386915640
Published:  Tue, 10 May 2022 19:37:43 +0700

----------------------------------

F45: 12
Title:  ALT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386914090
Published:  Tue, 10 May 2022 19:10:38 +0700

----------------------------------

F45: 13
Title:  MTC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386913890
Published:  Tue, 10 May 2022 19:09:33 +0700

----------------------------------

F45: 14
Title:  JTS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386913540
Published:  Tue, 10 May 2022 19:04:21 +0700

----------------------------------

F45: 15
Title:  TPLAS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386912570
Published:  Tue, 10 May 2022 18:52:31 +0700

----------------------------------

F45: 16
Title:  TEAMG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909860
Published:  Tue, 10 May 2022 18:16:39 +0700

----------------------------------

F45: 17
Title:  TAE
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909810
Published:  Tue, 10 May 2022 18:15:45 +0700

----------------------------------

F45: 18
Title:  TPIPP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909660
Published:  Tue, 10 May 2022 18:13:04 +0700

----------------------------------

F45: 19
Title:  TK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909530
Published:  Tue, 10 May 2022 18:12:09 +0700

----------------------------------

F45: 20
Title:  TSC
Year:  2022
Quarter:  2
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386908830
Published:  Tue, 10 May 2022 18:04:04 +0700

----------------------------------

F45: 21
Title:  SONIC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386908750
Published:  Tue, 10 May 2022 18:04:03 +0700

----------------------------------

F45: 22
Title:  NV
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386908450
Published:  Tue, 10 May 2022 18:02:02 +0700

----------------------------------

F45: 23
Title:  AKR
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386908180
Published:  Tue, 10 May 2022 17:58:37 +0700

----------------------------------

F45: 24
Title:  LRH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386907770
Published:  Tue, 10 May 2022 17:53:59 +0700

----------------------------------

F45: 25
Title:  SITHAI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386907660
Published:  Tue, 10 May 2022 17:51:47 +0700

----------------------------------

F45: 26
Title:  PLAT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386907490
Published:  Tue, 10 May 2022 17:50:19 +0700

----------------------------------

F45: 27
Title:  TWPC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386907320
Published:  Tue, 10 May 2022 17:49:42 +0700

----------------------------------

F45: 28
Title:  Q-CON
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906480
Published:  Tue, 10 May 2022 17:45:03 +0700

----------------------------------

F45: 29
Title:  MAKRO
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906200
Published:  Tue, 10 May 2022 17:43:59 +0700

----------------------------------

F45: 30
Title:  SUN
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906170
Published:  Tue, 10 May 2022 17:43:46 +0700

----------------------------------

F45: 31
Title:  NER
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906080
Published:  Tue, 10 May 2022 17:43:33 +0700

----------------------------------

F45: 32
Title:  ADVANC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386905980
Published:  Tue, 10 May 2022 17:40:55 +0700

----------------------------------

F45: 33
Title:  BTW
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386905480
Published:  Tue, 10 May 2022 17:38:34 +0700

----------------------------------

F45: 34
Title:  IRPC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386904980
Published:  Tue, 10 May 2022 17:36:43 +0700

----------------------------------

F45: 35
Title:  SPALI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386902580
Published:  Tue, 10 May 2022 17:27:25 +0700

----------------------------------

F45: 36
Title:  BRRGIF
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386901540
Published:  Tue, 10 May 2022 17:23:20 +0700

----------------------------------

F45: 37
Title:  AMATAV
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386901490
Published:  Tue, 10 May 2022 17:22:58 +0700

----------------------------------

F45: 38
Title:  KCC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386900950
Published:  Tue, 10 May 2022 17:20:25 +0700

----------------------------------

F45: 39
Title:  KASET
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386900840
Published:  Tue, 10 May 2022 17:19:56 +0700

----------------------------------

F45: 40
Title:  L&E
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386900320
Published:  Tue, 10 May 2022 17:18:22 +0700

----------------------------------

F45: 41
Title:  UV
Year:  2022
Quarter:  2
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386900000
Published:  Tue, 10 May 2022 17:17:20 +0700

----------------------------------

F45: 42
Title:  KK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386899560
Published:  Tue, 10 May 2022 17:16:35 +0700

----------------------------------

F45: 43
Title:  UMI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386899160
Published:  Tue, 10 May 2022 17:15:28 +0700

----------------------------------

F45: 44
Title:  COTTO
Year:  2022
Quarter:  2
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898940
Published:  Tue, 10 May 2022 17:14:40 +0700

----------------------------------

F45: 45
Title:  OR
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898900
Published:  Tue, 10 May 2022 17:14:09 +0700

----------------------------------

F45: 46
Title:  MPIC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898870
Published:  Tue, 10 May 2022 17:14:07 +0700

----------------------------------

F45: 47
Title:  UMS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898640
Published:  Tue, 10 May 2022 17:13:28 +0700

----------------------------------

F45: 48
Title:  SAMCO
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897980
Published:  Tue, 10 May 2022 17:11:37 +0700

----------------------------------

F45: 49
Title:  JASIF
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897450
Published:  Tue, 10 May 2022 17:10:36 +0700

----------------------------------

F45: 50
Title:  AF
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897420
Published:  Tue, 10 May 2022 17:10:29 +0700

----------------------------------

F45: 51
Title:  WIIK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896920
Published:  Tue, 10 May 2022 17:09:41 +0700

----------------------------------

F45: 52
Title:  CAZ
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896860
Published:  Tue, 10 May 2022 17:09:36 +0700

----------------------------------

F45: 53
Title:  GGC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896840
Published:  Tue, 10 May 2022 17:09:35 +0700

----------------------------------

F45: 54
Title:  GCAP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896690
Published:  Tue, 10 May 2022 17:09:06 +0700

----------------------------------

F45: 55
Title:  FSS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896130
Published:  Tue, 10 May 2022 17:08:08 +0700

----------------------------------

F45: 56
Title:  MOONG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895770
Published:  Tue, 10 May 2022 17:07:10 +0700

----------------------------------

F45: 57
Title:  AMANAH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895350
Published:  Tue, 10 May 2022 17:05:22 +0700

----------------------------------

F45: 58
Title:  KCE
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895210
Published:  Tue, 10 May 2022 17:04:49 +0700

----------------------------------

F45: 59
Title:  LRH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895190
Published:  Tue, 10 May 2022 17:04:47 +0700

----------------------------------

F45: 60
Title:  ESTAR
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895170
Published:  Tue, 10 May 2022 17:04:47 +0700

----------------------------------

F45: 61
Title:  ARIP
Year:  2022
Quarter:  2
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895130
Published:  Tue, 10 May 2022 17:04:46 +0700

----------------------------------

F45: 62
Title:  TYCN
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895110
Published:  Tue, 10 May 2022 17:04:44 +0700

----------------------------------

F45: 63
Title:  NKI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894930
Published:  Tue, 10 May 2022 17:04:18 +0700

----------------------------------

F45: 64
Title:  PDG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894890
Published:  Tue, 10 May 2022 17:04:16 +0700

----------------------------------

F45: 65
Title:  BCPG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894710
Published:  Tue, 10 May 2022 17:03:29 +0700

----------------------------------

F45: 66
Title:  OCC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894480
Published:  Tue, 10 May 2022 17:02:39 +0700

----------------------------------

F45: 67
Title:  TWPC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894360
Published:  Tue, 10 May 2022 17:02:16 +0700

----------------------------------

F45: 68
Title:  TAKUNI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894300
Published:  Tue, 10 May 2022 17:02:09 +0700

----------------------------------

F45: 69
Title:  BJC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894240
Published:  Tue, 10 May 2022 17:02:01 +0700

----------------------------------

F45: 70
Title:  SMIT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386868330
Published:  Tue, 10 May 2022 13:21:17 +0700

----------------------------------

F45: 71
Title:  TEAM
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386867990
Published:  Tue, 10 May 2022 13:17:21 +0700

----------------------------------

F45: 72
Title:  AP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866990
Published:  Tue, 10 May 2022 13:01:05 +0700

----------------------------------

F45: 73
Title:  SA
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866580
Published:  Tue, 10 May 2022 12:56:30 +0700

----------------------------------

F45: 74
Title:  GLAND
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866250
Published:  Tue, 10 May 2022 12:52:25 +0700

----------------------------------

F45: 75
Title:  LUXF
Year:  2022
Quarter:  3
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386865910
Published:  Tue, 10 May 2022 12:43:43 +0700

----------------------------------

F45: 76
Title:  SCGP
Year:  2022
Quarter:  S
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386865070
Published:  Tue, 10 May 2022 12:33:22 +0700

----------------------------------

F45: 77
Title:  PACO
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386852820
Published:  Tue, 10 May 2022 08:50:51 +0700

----------------------------------

F45: 78
Title:  TMC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386852310
Published:  Tue, 10 May 2022 08:38:00 +0700

----------------------------------

F45: 79
Title:  THREL
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386851440
Published:  Tue, 10 May 2022 08:20:12 +0700

----------------------------------

F45: 80
Title:  PROUD
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386851400
Published:  Tue, 10 May 2022 08:18:13 +0700

----------------------------------

F45: 81
Title:  SAAM
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386850800
Published:  Tue, 10 May 2022 08:13:07 +0700

----------------------------------

F45: 82
Title:  BR
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386850400
Published:  Tue, 10 May 2022 08:07:09 +0700

----------------------------------

F45: 83
Title:  ATP30
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386850030
Published:  Tue, 10 May 2022 07:55:26 +0700

----------------------------------

F45: 84
Title:  AMR
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386849990
Published:  Tue, 10 May 2022 07:51:22 +0700

----------------------------------

F45: 85
Title:  ROCK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386849870
Published:  Tue, 10 May 2022 07:42:47 +0700

----------------------------------

F45: 86
Title:  PJW
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386849320
Published:  Tue, 10 May 2022 07:11:58 +0700

----------------------------------

F45: 87
Title:  SFT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386847710
Published:  Tue, 10 May 2022 06:30:42 +0700

In [37]:
df = pd.DataFrame(f45_items)
df[['name','year','quarter','published']]

      name  year quarter                        published
0       OR  2022       1  Tue, 10 May 2022 21:57:59 +0700
1     ITEL  2022       1  Tue, 10 May 2022 21:49:58 +0700
2    BANPU  2022       1  Tue, 10 May 2022 21:47:44 +0700
3    SENAJ  2022       1  Tue, 10 May 2022 21:28:14 +0700
4   WINNER  2022       1  Tue, 10 May 2022 21:27:45 +0700
5     WICE  2022       1  Tue, 10 May 2022 21:17:56 +0700
6     DCON  2022       1  Tue, 10 May 2022 21:08:18 +0700
7       UV  2022       2  Tue, 10 May 2022 20:41:21 +0700
8       NV  2022       1  Tue, 10 May 2022 20:04:52 +0700
9      BPP  2022       1  Tue, 10 May 2022 20:01:49 +0700
10    IRPC  2022       1  Tue, 10 May 2022 19:46:24 +0700
11       J  2022       1  Tue, 10 May 2022 19:37:43 +0700
12     ALT  2022       1  Tue, 10 May 2022 19:10:38 +0700
13     MTC  2022       1  Tue, 10 May 2022 19:09:33 +0700
14     JTS  2022       1  Tue, 10 May 2022 19:04:21 +0700
15   TPLAS  2022       1  Tue, 10 May 2022 18:52:31 +0700
16   TEAMG  2022       1  Tue, 10 May 2022 18:16:39 +0700
17     TAE  2022       1  Tue, 10 May 2022 18:15:45 +0700
18   TPIPP  2022       1  Tue, 10 May 2022 18:13:04 +0700
19      TK  2022       1  Tue, 10 May 2022 18:12:09 +0700
20     TSC  2022       2  Tue, 10 May 2022 18:04:04 +0700
21   SONIC  2022       1  Tue, 10 May 2022 18:04:03 +0700
22      NV  2022       1  Tue, 10 May 2022 18:02:02 +0700
23     AKR  2022       1  Tue, 10 May 2022 17:58:37 +0700
24     LRH  2022       1  Tue, 10 May 2022 17:53:59 +0700
25  SITHAI  2022       1  Tue, 10 May 2022 17:51:47 +0700
26    PLAT  2022       1  Tue, 10 May 2022 17:50:19 +0700
27    TWPC  2022       1  Tue, 10 May 2022 17:49:42 +0700
28   Q-CON  2022       1  Tue, 10 May 2022 17:45:03 +0700
29   MAKRO  2022       1  Tue, 10 May 2022 17:43:59 +0700
30     SUN  2022       1  Tue, 10 May 2022 17:43:46 +0700
31     NER  2022       1  Tue, 10 May 2022 17:43:33 +0700
32  ADVANC  2022       1  Tue, 10 May 2022 17:40:55 +0700
33     BTW  2022       1  Tue, 10 May 2022 17:38:34 +0700
34    IRPC  2022       1  Tue, 10 May 2022 17:36:43 +0700
35   SPALI  2022       1  Tue, 10 May 2022 17:27:25 +0700
36  BRRGIF  2022       1  Tue, 10 May 2022 17:23:20 +0700
37  AMATAV  2022       1  Tue, 10 May 2022 17:22:58 +0700
38     KCC  2022       1  Tue, 10 May 2022 17:20:25 +0700
39   KASET  2022       1  Tue, 10 May 2022 17:19:56 +0700
40     L&E  2022       1  Tue, 10 May 2022 17:18:22 +0700
41      UV  2022       2  Tue, 10 May 2022 17:17:20 +0700
42      KK  2022       1  Tue, 10 May 2022 17:16:35 +0700
43     UMI  2022       1  Tue, 10 May 2022 17:15:28 +0700
44   COTTO  2022       2  Tue, 10 May 2022 17:14:40 +0700
45      OR  2022       1  Tue, 10 May 2022 17:14:09 +0700
46    MPIC  2022       1  Tue, 10 May 2022 17:14:07 +0700
47     UMS  2022       1  Tue, 10 May 2022 17:13:28 +0700
48   SAMCO  2022       1  Tue, 10 May 2022 17:11:37 +0700
49   JASIF  2022       1  Tue, 10 May 2022 17:10:36 +0700
50      AF  2022       1  Tue, 10 May 2022 17:10:29 +0700
51    WIIK  2022       1  Tue, 10 May 2022 17:09:41 +0700
52     CAZ  2022       1  Tue, 10 May 2022 17:09:36 +0700
53     GGC  2022       1  Tue, 10 May 2022 17:09:35 +0700
54    GCAP  2022       1  Tue, 10 May 2022 17:09:06 +0700
55     FSS  2022       1  Tue, 10 May 2022 17:08:08 +0700
56   MOONG  2022       1  Tue, 10 May 2022 17:07:10 +0700
57  AMANAH  2022       1  Tue, 10 May 2022 17:05:22 +0700
58     KCE  2022       1  Tue, 10 May 2022 17:04:49 +0700
59     LRH  2022       1  Tue, 10 May 2022 17:04:47 +0700
60   ESTAR  2022       1  Tue, 10 May 2022 17:04:47 +0700
61    ARIP  2022       2  Tue, 10 May 2022 17:04:46 +0700
62    TYCN  2022       1  Tue, 10 May 2022 17:04:44 +0700
63     NKI  2022       1  Tue, 10 May 2022 17:04:18 +0700
64     PDG  2022       1  Tue, 10 May 2022 17:04:16 +0700
65    BCPG  2022       1  Tue, 10 May 2022 17:03:29 +0700
66     OCC  2022       1  Tue, 10 May 2022 17:02:39 +0700
67    TWPC  2022       1  Tue, 10 May 2022 17:02:16 +0700
68  TAKUNI  2022       1  Tue, 10 May 2022 17:02:09 +0700
69     BJC  2022       1  Tue, 10 May 2022 17:02:01 +0700
70    SMIT  2022       1  Tue, 10 May 2022 13:21:17 +0700
71    TEAM  2022       1  Tue, 10 May 2022 13:17:21 +0700
72      AP  2022       1  Tue, 10 May 2022 13:01:05 +0700
73      SA  2022       1  Tue, 10 May 2022 12:56:30 +0700
74   GLAND  2022       1  Tue, 10 May 2022 12:52:25 +0700
75    LUXF  2022       3  Tue, 10 May 2022 12:43:43 +0700
76    SCGP  2022       S  Tue, 10 May 2022 12:33:22 +0700
77    PACO  2022       1  Tue, 10 May 2022 08:50:51 +0700
78     TMC  2022       1  Tue, 10 May 2022 08:38:00 +0700
79   THREL  2022       1  Tue, 10 May 2022 08:20:12 +0700
80   PROUD  2022       1  Tue, 10 May 2022 08:18:13 +0700
81    SAAM  2022       1  Tue, 10 May 2022 08:13:07 +0700
82      BR  2022       1  Tue, 10 May 2022 08:07:09 +0700
83   ATP30  2022       1  Tue, 10 May 2022 07:55:26 +0700
84     AMR  2022       1  Tue, 10 May 2022 07:51:22 +0700
85    ROCK  2022       1  Tue, 10 May 2022 07:42:47 +0700
86     PJW  2022       1  Tue, 10 May 2022 07:11:58 +0700
87     SFT  2022       1  Tue, 10 May 2022 06:30:42 +0700

In [40]:
df.dtypes

name         object
year          int64
quarter       int32
link         object
published    object
dtype: object

In [38]:
df.loc[(df.quarter == 'S') ,'quarter'] = '1'
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1          82    82         82
     2           5     5          5
     3           1     1          1

In [39]:
df.quarter = df.quarter.astype(int)
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1          82    82         82
     2           5     5          5
     3           1     1          1

In [14]:
df.loc[(df.quarter == 'e') ,'quarter'] = '4'
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1           5     5          5
     4           3     3          3

In [15]:
df.loc[df.quarter == '4','year'] = 2021
df.groupby(['year']).count()

      name  quarter  link  published
year
2021     3        3     3          3
2022     5        5     5          5

In [7]:
df.loc[df.quarter == 2,'year'] = 2021
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2021 4           2     2          2
2022 1           2     2          2

In [11]:
df.quarter = df.quarter.astype(int)
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1          79    79         79
     2           5     5          5
     3           1     1          1

In [ ]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == 'e','quarter'] = 4
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['quarter']).count()

In [ ]:
df.loc[df.quarter == '1','quarter'] = 4
df.groupby(['quarter']).count()

In [ ]:
df.loc[df.quarter == ' ','quarter'] = 4
df.groupby(['quarter']).count()

In [ ]:
df.loc[df.quarter == 'S','quarter'] = 4
df.groupby(['quarter']).count()

In [ ]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == '1','year'] = 2022
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['year']).count()

In [41]:
df.shape

(88, 5)

In [42]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='name', keep='first')
df.shape

(82, 5)

In [43]:
file_name = 'F45-RAW-' + mmdd_str + '.csv'
raw_file = raw_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df[['name','year','quarter','published']].to_csv(output_file, header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(box_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(one_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(raw_file,    header=True, index=False, sep=',')

In [44]:
sql = '''
SELECT *
FROM exempts
ORDER BY name'''
df_exempts = pd.read_sql(sql, conlt)
df_exempts.shape[0]

405

In [45]:
df_merge = pd.merge(df, df_exempts, on='name', how='outer', indicator=True)
df_merge.shape

(448, 7)

### Tickers that won't be input

In [46]:
in_exempts = df_merge.loc[
    df_merge['_merge'] == 'both',
    ['name','year','quarter','published','link']
]
in_exempts.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
1,ITEL,2022.0,1.0,"Tue, 10 May 2022 21:49:58 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920340
4,WINNER,2022.0,1.0,"Tue, 10 May 2022 21:27:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386919420
7,UV,2022.0,2.0,"Tue, 10 May 2022 20:41:21 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918260
11,J,2022.0,1.0,"Tue, 10 May 2022 19:37:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386915640
12,ALT,2022.0,1.0,"Tue, 10 May 2022 19:10:38 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386914090
14,JTS,2022.0,1.0,"Tue, 10 May 2022 19:04:21 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386913540
16,TEAMG,2022.0,1.0,"Tue, 10 May 2022 18:16:39 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909860
17,TAE,2022.0,1.0,"Tue, 10 May 2022 18:15:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909810
20,TSC,2022.0,2.0,"Tue, 10 May 2022 18:04:04 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386908830
21,SONIC,2022.0,1.0,"Tue, 10 May 2022 18:04:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386908750
22,AKR,2022.0,1.0,"Tue, 10 May 2022 17:58:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386908180
23,LRH,2022.0,1.0,"Tue, 10 May 2022 17:53:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386907770
24,SITHAI,2022.0,1.0,"Tue, 10 May 2022 17:51:47 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386907660
25,PLAT,2022.0,1.0,"Tue, 10 May 2022 17:50:19 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386907490
26,TWPC,2022.0,1.0,"Tue, 10 May 2022 17:49:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386907320
27,Q-CON,2022.0,1.0,"Tue, 10 May 2022 17:45:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906480
29,SUN,2022.0,1.0,"Tue, 10 May 2022 17:43:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906170
32,BTW,2022.0,1.0,"Tue, 10 May 2022 17:38:34 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386905480
35,AMATAV,2022.0,1.0,"Tue, 10 May 2022 17:22:58 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386901490
37,KASET,2022.0,1.0,"Tue, 10 May 2022 17:19:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386900840
40,UMI,2022.0,1.0,"Tue, 10 May 2022 17:15:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386899160
44,SAMCO,2022.0,1.0,"Tue, 10 May 2022 17:11:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897980
47,WIIK,2022.0,1.0,"Tue, 10 May 2022 17:09:41 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896920
50,GCAP,2022.0,1.0,"Tue, 10 May 2022 17:09:06 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896690
51,FSS,2022.0,1.0,"Tue, 10 May 2022 17:08:08 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896130
52,MOONG,2022.0,1.0,"Tue, 10 May 2022 17:07:10 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895770
53,AMANAH,2022.0,1.0,"Tue, 10 May 2022 17:05:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895350
55,ESTAR,2022.0,1.0,"Tue, 10 May 2022 17:04:47 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895170
56,ARIP,2022.0,2.0,"Tue, 10 May 2022 17:04:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895130
58,NKI,2022.0,1.0,"Tue, 10 May 2022 17:04:18 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894930
62,TAKUNI,2022.0,1.0,"Tue, 10 May 2022 17:02:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894300
65,TEAM,2022.0,1.0,"Tue, 10 May 2022 13:17:21 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386867990
68,GLAND,2022.0,1.0,"Tue, 10 May 2022 12:52:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866250
72,TMC,2022.0,1.0,"Tue, 10 May 2022 08:38:00 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386852310
73,THREL,2022.0,1.0,"Tue, 10 May 2022 08:20:12 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386851440
76,BR,2022.0,1.0,"Tue, 10 May 2022 08:07:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386850400
77,ATP30,2022.0,1.0,"Tue, 10 May 2022 07:55:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386850030
79,ROCK,2022.0,1.0,"Tue, 10 May 2022 07:42:47 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386849870
80,PJW,2022.0,1.0,"Tue, 10 May 2022 07:11:58 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386849320

In [47]:
in_exempts.sort_values(by=['published'],ascending=[False]).shape[0]

39

In [48]:
df_out = df_merge.loc[
    df_merge['_merge'] == 'left_only',
    ['name','year','quarter','published','link']
]
df_out.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
0,OR,2022.0,1.0,"Tue, 10 May 2022 21:57:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920650
2,BANPU,2022.0,1.0,"Tue, 10 May 2022 21:47:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920190
3,SENAJ,2022.0,1.0,"Tue, 10 May 2022 21:28:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386919550
5,WICE,2022.0,1.0,"Tue, 10 May 2022 21:17:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918940
6,DCON,2022.0,1.0,"Tue, 10 May 2022 21:08:18 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918540
8,NV,2022.0,1.0,"Tue, 10 May 2022 20:04:52 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386916860
9,BPP,2022.0,1.0,"Tue, 10 May 2022 20:01:49 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386916840
10,IRPC,2022.0,1.0,"Tue, 10 May 2022 19:46:24 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386915960
13,MTC,2022.0,1.0,"Tue, 10 May 2022 19:09:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386913890
15,TPLAS,2022.0,1.0,"Tue, 10 May 2022 18:52:31 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386912570
18,TPIPP,2022.0,1.0,"Tue, 10 May 2022 18:13:04 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909660
19,TK,2022.0,1.0,"Tue, 10 May 2022 18:12:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909530
28,MAKRO,2022.0,1.0,"Tue, 10 May 2022 17:43:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906200
30,NER,2022.0,1.0,"Tue, 10 May 2022 17:43:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906080
31,ADVANC,2022.0,1.0,"Tue, 10 May 2022 17:40:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386905980
33,SPALI,2022.0,1.0,"Tue, 10 May 2022 17:27:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386902580
34,BRRGIF,2022.0,1.0,"Tue, 10 May 2022 17:23:20 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386901540
36,KCC,2022.0,1.0,"Tue, 10 May 2022 17:20:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386900950
38,L&E,2022.0,1.0,"Tue, 10 May 2022 17:18:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386900320
39,KK,2022.0,1.0,"Tue, 10 May 2022 17:16:35 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386899560
41,COTTO,2022.0,2.0,"Tue, 10 May 2022 17:14:40 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898940
42,MPIC,2022.0,1.0,"Tue, 10 May 2022 17:14:07 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898870
43,UMS,2022.0,1.0,"Tue, 10 May 2022 17:13:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898640
45,JASIF,2022.0,1.0,"Tue, 10 May 2022 17:10:36 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897450
46,AF,2022.0,1.0,"Tue, 10 May 2022 17:10:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897420
48,CAZ,2022.0,1.0,"Tue, 10 May 2022 17:09:36 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896860
49,GGC,2022.0,1.0,"Tue, 10 May 2022 17:09:35 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896840
54,KCE,2022.0,1.0,"Tue, 10 May 2022 17:04:49 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895210
57,TYCN,2022.0,1.0,"Tue, 10 May 2022 17:04:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895110
59,PDG,2022.0,1.0,"Tue, 10 May 2022 17:04:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894890
60,BCPG,2022.0,1.0,"Tue, 10 May 2022 17:03:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894710
61,OCC,2022.0,1.0,"Tue, 10 May 2022 17:02:39 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894480
63,BJC,2022.0,1.0,"Tue, 10 May 2022 17:02:01 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894240
64,SMIT,2022.0,1.0,"Tue, 10 May 2022 13:21:17 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386868330
66,AP,2022.0,1.0,"Tue, 10 May 2022 13:01:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866990
67,SA,2022.0,1.0,"Tue, 10 May 2022 12:56:30 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866580
69,LUXF,2022.0,3.0,"Tue, 10 May 2022 12:43:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386865910
70,SCGP,2022.0,1.0,"Tue, 10 May 2022 12:33:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386865070
71,PACO,2022.0,1.0,"Tue, 10 May 2022 08:50:51 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386852820
74,PROUD,2022.0,1.0,"Tue, 10 May 2022 08:18:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386851400
75,SAAM,2022.0,1.0,"Tue, 10 May 2022 08:13:07 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386850800
78,AMR,2022.0,1.0,"Tue, 10 May 2022 07:51:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386849990
81,SFT,2022.0,1.0,"Tue, 10 May 2022 06:30:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386847710

In [49]:
#df_out = df_out.drop(df_out.index[df_out['name'] == "SCC"])
df_out.shape[0]

43

In [50]:
sql = '''
SELECT *
FROM tickers
ORDER BY name'''
df_tickers = pd.read_sql(sql, conlt)
df_tickers.shape

(403, 9)

In [51]:
df_merge2 = pd.merge(df_out, df_tickers, on='name', how='outer', indicator=True)
df_merge2.shape

(423, 14)

### There are no ticker records

In [52]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
]

,name,year,quarter,published,link,id,market
2,SENAJ,2022.0,1.0,"Tue, 10 May 2022 21:28:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386919550,NaN,NaN
5,NV,2022.0,1.0,"Tue, 10 May 2022 20:04:52 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386916860,NaN,NaN
9,TPLAS,2022.0,1.0,"Tue, 10 May 2022 18:52:31 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386912570,NaN,NaN
16,BRRGIF,2022.0,1.0,"Tue, 10 May 2022 17:23:20 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386901540,NaN,NaN
17,KCC,2022.0,1.0,"Tue, 10 May 2022 17:20:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386900950,NaN,NaN
18,L&E,2022.0,1.0,"Tue, 10 May 2022 17:18:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386900320,NaN,NaN
19,KK,2022.0,1.0,"Tue, 10 May 2022 17:16:35 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386899560,NaN,NaN
21,MPIC,2022.0,1.0,"Tue, 10 May 2022 17:14:07 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898870,NaN,NaN
22,UMS,2022.0,1.0,"Tue, 10 May 2022 17:13:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898640,NaN,NaN
24,AF,2022.0,1.0,"Tue, 10 May 2022 17:10:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897420,NaN,NaN
25,CAZ,2022.0,1.0,"Tue, 10 May 2022 17:09:36 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896860,NaN,NaN
31,OCC,2022.0,1.0,"Tue, 10 May 2022 17:02:39 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894480,NaN,NaN
33,SMIT,2022.0,1.0,"Tue, 10 May 2022 13:21:17 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386868330,NaN,NaN
35,SA,2022.0,1.0,"Tue, 10 May 2022 12:56:30 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866580,NaN,NaN
36,LUXF,2022.0,3.0,"Tue, 10 May 2022 12:43:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386865910,NaN,NaN
38,PACO,2022.0,1.0,"Tue, 10 May 2022 08:50:51 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386852820,NaN,NaN
39,PROUD,2022.0,1.0,"Tue, 10 May 2022 08:18:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386851400,NaN,NaN
40,SAAM,2022.0,1.0,"Tue, 10 May 2022 08:13:07 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386850800,NaN,NaN
41,AMR,2022.0,1.0,"Tue, 10 May 2022 07:51:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386849990,NaN,NaN
42,SFT,2022.0,1.0,"Tue, 10 May 2022 06:30:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386847710,NaN,NaN

In [53]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
].shape

(20, 7)

### There are ticker records

In [54]:
df_out2 = df_merge2.loc[
    df_merge2['_merge'] == 'both',
    ['name','year','quarter','published','link','id','market']
]
df_out2

,name,year,quarter,published,link,id,market
0,OR,2022.0,1.0,"Tue, 10 May 2022 21:57:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920650,715.0,SET50 / SETCLMV
1,BANPU,2022.0,1.0,"Tue, 10 May 2022 21:47:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920190,47.0,SET50 / SETCLMV / SETTHSI
3,WICE,2022.0,1.0,"Tue, 10 May 2022 21:17:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918940,624.0,sSET
4,DCON,2022.0,1.0,"Tue, 10 May 2022 21:08:18 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918540,136.0,SET
6,BPP,2022.0,1.0,"Tue, 10 May 2022 20:01:49 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386916840,74.0,SET100 / SETCLMV / SETHD / SETTHSI
7,IRPC,2022.0,1.0,"Tue, 10 May 2022 19:46:24 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386915960,227.0,SET50 / SETCLMV / SETTHSI
8,MTC,2022.0,1.0,"Tue, 10 May 2022 19:09:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386913890,315.0,SET50 / SETTHSI
10,TPIPP,2022.0,1.0,"Tue, 10 May 2022 18:13:04 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909660,560.0,SET
11,TK,2022.0,1.0,"Tue, 10 May 2022 18:12:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909530,532.0,sSET
12,MAKRO,2022.0,1.0,"Tue, 10 May 2022 17:43:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906200,283.0,SET
13,NER,2022.0,1.0,"Tue, 10 May 2022 17:43:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906080,680.0,sSET
14,ADVANC,2022.0,1.0,"Tue, 10 May 2022 17:40:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386905980,6.0,SET50 / SETHD / SETTHSI
15,SPALI,2022.0,1.0,"Tue, 10 May 2022 17:27:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386902580,462.0,SET100 / SETHD
20,COTTO,2022.0,2.0,"Tue, 10 May 2022 17:14:40 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898940,710.0,SET
23,JASIF,2022.0,1.0,"Tue, 10 May 2022 17:10:36 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897450,234.0,SET
26,GGC,2022.0,1.0,"Tue, 10 May 2022 17:09:35 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896840,188.0,sSET
27,KCE,2022.0,1.0,"Tue, 10 May 2022 17:04:49 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895210,249.0,SET50
28,TYCN,2022.0,1.0,"Tue, 10 May 2022 17:04:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895110,737.0,SET
29,PDG,2022.0,1.0,"Tue, 10 May 2022 17:04:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894890,347.0,mai
30,BCPG,2022.0,1.0,"Tue, 10 May 2022 17:03:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894710,53.0,SET100 / SETCLMV / SETHD / SETTHSI
32,BJC,2022.0,1.0,"Tue, 10 May 2022 17:02:01 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894240,65.0,SETCLMV / SETTHSI / SETWB
34,AP,2022.0,1.0,"Tue, 10 May 2022 13:01:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866990,25.0,SET100 / SETHD
37,SCGP,2022.0,1.0,"Tue, 10 May 2022 12:33:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386865070,713.0,SET50 / SETCLMV / SETTHSI

In [55]:
df_out2 = df_out2[df_out2.year.notnull()]
df_out2

,name,year,quarter,published,link,id,market
0,OR,2022.0,1.0,"Tue, 10 May 2022 21:57:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920650,715.0,SET50 / SETCLMV
1,BANPU,2022.0,1.0,"Tue, 10 May 2022 21:47:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920190,47.0,SET50 / SETCLMV / SETTHSI
3,WICE,2022.0,1.0,"Tue, 10 May 2022 21:17:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918940,624.0,sSET
4,DCON,2022.0,1.0,"Tue, 10 May 2022 21:08:18 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918540,136.0,SET
6,BPP,2022.0,1.0,"Tue, 10 May 2022 20:01:49 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386916840,74.0,SET100 / SETCLMV / SETHD / SETTHSI
7,IRPC,2022.0,1.0,"Tue, 10 May 2022 19:46:24 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386915960,227.0,SET50 / SETCLMV / SETTHSI
8,MTC,2022.0,1.0,"Tue, 10 May 2022 19:09:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386913890,315.0,SET50 / SETTHSI
10,TPIPP,2022.0,1.0,"Tue, 10 May 2022 18:13:04 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909660,560.0,SET
11,TK,2022.0,1.0,"Tue, 10 May 2022 18:12:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909530,532.0,sSET
12,MAKRO,2022.0,1.0,"Tue, 10 May 2022 17:43:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906200,283.0,SET
13,NER,2022.0,1.0,"Tue, 10 May 2022 17:43:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906080,680.0,sSET
14,ADVANC,2022.0,1.0,"Tue, 10 May 2022 17:40:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386905980,6.0,SET50 / SETHD / SETTHSI
15,SPALI,2022.0,1.0,"Tue, 10 May 2022 17:27:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386902580,462.0,SET100 / SETHD
20,COTTO,2022.0,2.0,"Tue, 10 May 2022 17:14:40 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898940,710.0,SET
23,JASIF,2022.0,1.0,"Tue, 10 May 2022 17:10:36 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897450,234.0,SET
26,GGC,2022.0,1.0,"Tue, 10 May 2022 17:09:35 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896840,188.0,sSET
27,KCE,2022.0,1.0,"Tue, 10 May 2022 17:04:49 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895210,249.0,SET50
28,TYCN,2022.0,1.0,"Tue, 10 May 2022 17:04:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895110,737.0,SET
29,PDG,2022.0,1.0,"Tue, 10 May 2022 17:04:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894890,347.0,mai
30,BCPG,2022.0,1.0,"Tue, 10 May 2022 17:03:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894710,53.0,SET100 / SETCLMV / SETHD / SETTHSI
32,BJC,2022.0,1.0,"Tue, 10 May 2022 17:02:01 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894240,65.0,SETCLMV / SETTHSI / SETWB
34,AP,2022.0,1.0,"Tue, 10 May 2022 13:01:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866990,25.0,SET100 / SETHD
37,SCGP,2022.0,1.0,"Tue, 10 May 2022 12:33:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386865070,713.0,SET50 / SETCLMV / SETTHSI

In [56]:
df_out2['year'] = df_out2['year'].astype(int)
df_out2['quarter'] = df_out2['quarter'].astype(int)
df_out2

,name,year,quarter,published,link,id,market
0,OR,2022,1,"Tue, 10 May 2022 21:57:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920650,715.0,SET50 / SETCLMV
1,BANPU,2022,1,"Tue, 10 May 2022 21:47:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920190,47.0,SET50 / SETCLMV / SETTHSI
3,WICE,2022,1,"Tue, 10 May 2022 21:17:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918940,624.0,sSET
4,DCON,2022,1,"Tue, 10 May 2022 21:08:18 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918540,136.0,SET
6,BPP,2022,1,"Tue, 10 May 2022 20:01:49 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386916840,74.0,SET100 / SETCLMV / SETHD / SETTHSI
7,IRPC,2022,1,"Tue, 10 May 2022 19:46:24 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386915960,227.0,SET50 / SETCLMV / SETTHSI
8,MTC,2022,1,"Tue, 10 May 2022 19:09:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386913890,315.0,SET50 / SETTHSI
10,TPIPP,2022,1,"Tue, 10 May 2022 18:13:04 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909660,560.0,SET
11,TK,2022,1,"Tue, 10 May 2022 18:12:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909530,532.0,sSET
12,MAKRO,2022,1,"Tue, 10 May 2022 17:43:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906200,283.0,SET
13,NER,2022,1,"Tue, 10 May 2022 17:43:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906080,680.0,sSET
14,ADVANC,2022,1,"Tue, 10 May 2022 17:40:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386905980,6.0,SET50 / SETHD / SETTHSI
15,SPALI,2022,1,"Tue, 10 May 2022 17:27:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386902580,462.0,SET100 / SETHD
20,COTTO,2022,2,"Tue, 10 May 2022 17:14:40 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898940,710.0,SET
23,JASIF,2022,1,"Tue, 10 May 2022 17:10:36 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897450,234.0,SET
26,GGC,2022,1,"Tue, 10 May 2022 17:09:35 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896840,188.0,sSET
27,KCE,2022,1,"Tue, 10 May 2022 17:04:49 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895210,249.0,SET50
28,TYCN,2022,1,"Tue, 10 May 2022 17:04:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895110,737.0,SET
29,PDG,2022,1,"Tue, 10 May 2022 17:04:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894890,347.0,mai
30,BCPG,2022,1,"Tue, 10 May 2022 17:03:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894710,53.0,SET100 / SETCLMV / SETHD / SETTHSI
32,BJC,2022,1,"Tue, 10 May 2022 17:02:01 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894240,65.0,SETCLMV / SETTHSI / SETWB
34,AP,2022,1,"Tue, 10 May 2022 13:01:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866990,25.0,SET100 / SETHD
37,SCGP,2022,1,"Tue, 10 May 2022 12:33:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386865070,713.0,SET50 / SETCLMV / SETTHSI

In [57]:
file_name = 'F45-CLEAN-' + mmdd_str + '.csv'
clean_file = clean_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(output_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(clean_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(box_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(one_file, header=True, index=False, sep=',')

In [58]:
sql = '''
SELECT * 
FROM epss
WHERE year = 2021'''
df_epss = pd.read_sql(sql, conlt)
df_epss.shape

(913, 14)

In [59]:
df_merge3 = pd.merge(df_out2, df_epss, on=['name','year','quarter'], how='outer', indicator=True)
df_merge3.shape

(936, 19)

### Already input, display profit amt & eps to check with new F45

In [60]:
df_merge3[df_merge3['_merge'] == 'both']

Empty DataFrame
Columns: [name, year, quarter, published, link, id_x, market, id_y, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date, _merge]
Index: []

In [61]:
df_merge3[df_merge3['_merge'] == 'both'].shape

(0, 19)

In [62]:
df_inp2 = df_merge3[df_merge3['_merge'] == 'left_only']
df_inp3 = df_inp2.copy()
df_inp3.shape

(23, 19)

In [63]:
df_inp3['year'] = df_inp3['year'].astype(str)
df_inp3['quarter'] = df_inp3['quarter'].astype(str)
inp3_str = df_inp3.name+' '+df_inp3.year+' '+df_inp3.quarter+' '+df_inp3.link
inp3_str

0         OR 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920650
1      BANPU 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386920190
2       WICE 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918940
3       DCON 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386918540
4        BPP 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386916840
5       IRPC 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386915960
6        MTC 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386913890
7      TPIPP 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909660
8         TK 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386909530
9      MAKRO 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906200
10       NER 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386906080
11    ADVANC 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386905980
12     SPALI 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386902580
13     COTTO 2022 2 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386898940
14     JASIF 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386897450
15       GGC 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386896840
16       KCE 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895210
17      TYCN 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386895110
18       PDG 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894890
19      BCPG 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894710
20       BJC 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386894240
21        AP 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386866990
22      SCGP 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16521386865070
dtype: object