In [1]:
import feedparser
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

clean_path = "../data/clean/"
raw_path = "../data/raw/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
pdf_path = "../PDF/"

pd.set_option('display.max_colwidth', 255)
pd.set_option('display.max_rows',None)
url = "https://feeds.feedburner.com/Setorth-form45-en"

today = date.today()
year = 2022
mmdd_str = today.strftime('%m%d')
mmdd_str

'0511'

In [2]:
#today = date(2022, 5, 6)
mmdd_str = today.strftime('%m%d')
mmdd_str

'0511'

In [3]:
rss_source = feedparser.parse(url)
f45_number = len(rss_source.entries)
print("Number of F45: ", f45_number)

Number of F45:  118

In [4]:
f45_items = []

for x in range(f45_number):
    f45_content = rss_source.entries[x]
    f45_item = {}
    
    print("\n----------------------------------\n")
    
    print("F45: " + str(x))
    title_ary = f45_content.title.partition(' ')
    f45_item['name'] = title_ary[0].strip() 
    print("Title: ", f45_item['name'])  
    f45_item['year'] = year
    print("Year: ", f45_item['year'])      
    qtr_ary = title_ary[2].partition(' (F45)')
    f45_item['quarter'] = qtr_ary[0][-1]    
    print("Quarter: ", f45_item['quarter'])    
    f45_item['link'] = f45_content.link
    print("Link: ", f45_item['link'])
    f45_item['published'] = f45_content.published
    print("Published: ", f45_item['published'])  
    f45_items.append(f45_item)

----------------------------------

F45: 0
Title:  OTO
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254343700
Published:  Wed, 11 May 2022 22:26:15 +0700

----------------------------------

F45: 1
Title:  HUMAN
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254343650
Published:  Wed, 11 May 2022 22:22:14 +0700

----------------------------------

F45: 2
Title:  OTO
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254343360
Published:  Wed, 11 May 2022 22:09:34 +0700

----------------------------------

F45: 3
Title:  NNCL
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254342440
Published:  Wed, 11 May 2022 21:39:56 +0700

----------------------------------

F45: 4
Title:  ICHI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254342360
Published:  Wed, 11 May 2022 21:36:55 +0700

----------------------------------

F45: 5
Title:  OTO
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254342200
Published:  Wed, 11 May 2022 21:28:00 +0700

----------------------------------

F45: 6
Title:  ACG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341950
Published:  Wed, 11 May 2022 21:12:43 +0700

----------------------------------

F45: 7
Title:  WORK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341850
Published:  Wed, 11 May 2022 21:05:54 +0700

----------------------------------

F45: 8
Title:  VL
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341420
Published:  Wed, 11 May 2022 20:52:33 +0700

----------------------------------

F45: 9
Title:  TTA
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341010
Published:  Wed, 11 May 2022 20:46:48 +0700

----------------------------------

F45: 10
Title:  JAK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254340580
Published:  Wed, 11 May 2022 20:43:01 +0700

----------------------------------

F45: 11
Title:  WORK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254340490
Published:  Wed, 11 May 2022 20:41:14 +0700

----------------------------------

F45: 12
Title:  BLISS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254339970
Published:  Wed, 11 May 2022 20:36:26 +0700

----------------------------------

F45: 13
Title:  TIGER
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254339640
Published:  Wed, 11 May 2022 20:32:48 +0700

----------------------------------

F45: 14
Title:  TIDLOR
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254338530
Published:  Wed, 11 May 2022 20:10:21 +0700

----------------------------------

F45: 15
Title:  SFLEX
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254338290
Published:  Wed, 11 May 2022 19:57:56 +0700

----------------------------------

F45: 16
Title:  GRAND
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337920
Published:  Wed, 11 May 2022 19:49:23 +0700

----------------------------------

F45: 17
Title:  MENA
Year:  2022
Quarter:  2
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337870
Published:  Wed, 11 May 2022 19:47:41 +0700

----------------------------------

F45: 18
Title:  KWC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337740
Published:  Wed, 11 May 2022 19:46:05 +0700

----------------------------------

F45: 19
Title:  ASW
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337450
Published:  Wed, 11 May 2022 19:44:42 +0700

----------------------------------

F45: 20
Title:  LDC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337200
Published:  Wed, 11 May 2022 19:40:38 +0700

----------------------------------

F45: 21
Title:  BKD
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254336890
Published:  Wed, 11 May 2022 19:35:29 +0700

----------------------------------

F45: 22
Title:  ABM
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254336400
Published:  Wed, 11 May 2022 19:29:28 +0700

----------------------------------

F45: 23
Title:  TPA
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254336060
Published:  Wed, 11 May 2022 19:27:26 +0700

----------------------------------

F45: 24
Title:  EGCO
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334580
Published:  Wed, 11 May 2022 19:13:09 +0700

----------------------------------

F45: 25
Title:  ACE
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334220
Published:  Wed, 11 May 2022 19:09:30 +0700

----------------------------------

F45: 26
Title:  GRAND
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254333870
Published:  Wed, 11 May 2022 19:06:00 +0700

----------------------------------

F45: 27
Title:  SC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254332960
Published:  Wed, 11 May 2022 19:02:03 +0700

----------------------------------

F45: 28
Title:  BUI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254332630
Published:  Wed, 11 May 2022 19:00:15 +0700

----------------------------------

F45: 29
Title:  ONEE
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254330850
Published:  Wed, 11 May 2022 18:49:08 +0700

----------------------------------

F45: 30
Title:  DREIT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254330740
Published:  Wed, 11 May 2022 18:47:58 +0700

----------------------------------

F45: 31
Title:  MICRO
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254330260
Published:  Wed, 11 May 2022 18:44:47 +0700

----------------------------------

F45: 32
Title:  SKN
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254329630
Published:  Wed, 11 May 2022 18:39:13 +0700

----------------------------------

F45: 33
Title:  SINGER
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327670
Published:  Wed, 11 May 2022 18:29:20 +0700

----------------------------------

F45: 34
Title:  CRC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327010
Published:  Wed, 11 May 2022 18:25:57 +0700

----------------------------------

F45: 35
Title:  NTV
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254326240
Published:  Wed, 11 May 2022 18:18:53 +0700

----------------------------------

F45: 36
Title:  BROOK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254326030
Published:  Wed, 11 May 2022 18:18:05 +0700

----------------------------------

F45: 37
Title:  SMPC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254325190
Published:  Wed, 11 May 2022 18:15:43 +0700

----------------------------------

F45: 38
Title:  LIT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324290
Published:  Wed, 11 May 2022 18:12:22 +0700

----------------------------------

F45: 39
Title:  INTUCH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324200
Published:  Wed, 11 May 2022 18:12:02 +0700

----------------------------------

F45: 40
Title:  TMT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324150
Published:  Wed, 11 May 2022 18:11:51 +0700

----------------------------------

F45: 41
Title:  TTLPF
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323800
Published:  Wed, 11 May 2022 18:08:26 +0700

----------------------------------

F45: 42
Title:  BDMS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323330
Published:  Wed, 11 May 2022 18:04:13 +0700

----------------------------------

F45: 43
Title:  KUMWEL
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323290
Published:  Wed, 11 May 2022 18:03:53 +0700

----------------------------------

F45: 44
Title:  KGI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323270
Published:  Wed, 11 May 2022 18:03:26 +0700

----------------------------------

F45: 45
Title:  SSC
Year:  2022
Quarter:  2
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323160
Published:  Wed, 11 May 2022 18:02:20 +0700

----------------------------------

F45: 46
Title:  SECURE
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322320
Published:  Wed, 11 May 2022 18:00:03 +0700

----------------------------------

F45: 47
Title:  GUNKUL
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322170
Published:  Wed, 11 May 2022 17:59:42 +0700

----------------------------------

F45: 48
Title:  SVI
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322110
Published:  Wed, 11 May 2022 17:59:17 +0700

----------------------------------

F45: 49
Title:  ALLA
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254321100
Published:  Wed, 11 May 2022 17:54:53 +0700

----------------------------------

F45: 50
Title:  ASN
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254318650
Published:  Wed, 11 May 2022 17:46:03 +0700

----------------------------------

F45: 51
Title:  KBANK
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317920
Published:  Wed, 11 May 2022 17:42:45 +0700

----------------------------------

F45: 52
Title:  GIFT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317750
Published:  Wed, 11 May 2022 17:42:18 +0700

----------------------------------

F45: 53
Title:  SGP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317590
Published:  Wed, 11 May 2022 17:41:46 +0700

----------------------------------

F45: 54
Title:  TNL
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254316440
Published:  Wed, 11 May 2022 17:36:58 +0700

----------------------------------

F45: 55
Title:  BIZ
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254316290
Published:  Wed, 11 May 2022 17:36:27 +0700

----------------------------------

F45: 56
Title:  ETE
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254315260
Published:  Wed, 11 May 2022 17:32:12 +0700

----------------------------------

F45: 57
Title:  OSP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254314840
Published:  Wed, 11 May 2022 17:31:16 +0700

----------------------------------

F45: 58
Title:  PB
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254314330
Published:  Wed, 11 May 2022 17:29:20 +0700

----------------------------------

F45: 59
Title:  TQR
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254314310
Published:  Wed, 11 May 2022 17:29:17 +0700

----------------------------------

F45: 60
Title:  PRINC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254313220
Published:  Wed, 11 May 2022 17:24:27 +0700

----------------------------------

F45: 61
Title:  GTB
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312950
Published:  Wed, 11 May 2022 17:23:54 +0700

----------------------------------

F45: 62
Title:  BIZ
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312910
Published:  Wed, 11 May 2022 17:23:10 +0700

----------------------------------

F45: 63
Title:  NCAP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312280
Published:  Wed, 11 May 2022 17:21:13 +0700

----------------------------------

F45: 64
Title:  AJ
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312250
Published:  Wed, 11 May 2022 17:21:01 +0700

----------------------------------

F45: 65
Title:  IFS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254310810
Published:  Wed, 11 May 2022 17:16:27 +0700

----------------------------------

F45: 66
Title:  SNC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254310210
Published:  Wed, 11 May 2022 17:14:05 +0700

----------------------------------

F45: 67
Title:  UP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254310010
Published:  Wed, 11 May 2022 17:13:43 +0700

----------------------------------

F45: 68
Title:  SCC
Year:  2022
Quarter:  S
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309930
Published:  Wed, 11 May 2022 17:13:28 +0700

----------------------------------

F45: 69
Title:  PT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309710
Published:  Wed, 11 May 2022 17:12:32 +0700

----------------------------------

F45: 70
Title:  IT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309270
Published:  Wed, 11 May 2022 17:11:14 +0700

----------------------------------

F45: 71
Title:  CPT
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309200
Published:  Wed, 11 May 2022 17:10:53 +0700

----------------------------------

F45: 72
Title:  INTUCH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254308760
Published:  Wed, 11 May 2022 17:09:14 +0700

----------------------------------

F45: 73
Title:  TOG
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254308590
Published:  Wed, 11 May 2022 17:08:42 +0700

----------------------------------

F45: 74
Title:  GJS
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254307940
Published:  Wed, 11 May 2022 17:07:11 +0700

----------------------------------

F45: 75
Title:  ADD
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254307670
Published:  Wed, 11 May 2022 17:06:02 +0700

----------------------------------

F45: 76
Title:  MFC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254307360
Published:  Wed, 11 May 2022 17:05:08 +0700

----------------------------------

F45: 77
Title:  VPO
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306710
Published:  Wed, 11 May 2022 17:03:55 +0700

----------------------------------

F45: 78
Title:  MATCH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306670
Published:  Wed, 11 May 2022 17:03:52 +0700

----------------------------------

F45: 79
Title:  SVH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306650
Published:  Wed, 11 May 2022 17:03:47 +0700

----------------------------------

F45: 80
Title:  CPR
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306290
Published:  Wed, 11 May 2022 17:02:32 +0700

----------------------------------

F45: 81
Title:  TCJ
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306270
Published:  Wed, 11 May 2022 17:02:27 +0700

----------------------------------

F45: 82
Title:  LEE
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306250
Published:  Wed, 11 May 2022 17:02:24 +0700

----------------------------------

F45: 83
Title:  PYLON
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254305750
Published:  Wed, 11 May 2022 17:01:17 +0700

----------------------------------

F45: 84
Title:  CPALL
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254305610
Published:  Wed, 11 May 2022 17:00:37 +0700

----------------------------------

F45: 85
Title:  LPH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254304060
Published:  Wed, 11 May 2022 17:00:25 +0700

----------------------------------

F45: 86
Title:  STECH
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254278860
Published:  Wed, 11 May 2022 13:48:55 +0700

----------------------------------

F45: 87
Title:  TOP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254278740
Published:  Wed, 11 May 2022 13:48:19 +0700

----------------------------------

F45: 88
Title:  PTTGC
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254277810
Published:  Wed, 11 May 2022 13:38:44 +0700

----------------------------------

F45: 89
Title:  TOP
Year:  2022
Quarter:  1
Link:  https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254276990

In [5]:
df = pd.DataFrame(f45_items)
df[['name','year','quarter','published']]

       name  year quarter                        published
0       OTO  2022       1  Wed, 11 May 2022 22:26:15 +0700
1     HUMAN  2022       1  Wed, 11 May 2022 22:22:14 +0700
2       OTO  2022       1  Wed, 11 May 2022 22:09:34 +0700
3      NNCL  2022       1  Wed, 11 May 2022 21:39:56 +0700
4      ICHI  2022       1  Wed, 11 May 2022 21:36:55 +0700
5       OTO  2022       1  Wed, 11 May 2022 21:28:00 +0700
6       ACG  2022       1  Wed, 11 May 2022 21:12:43 +0700
7      WORK  2022       1  Wed, 11 May 2022 21:05:54 +0700
8        VL  2022       1  Wed, 11 May 2022 20:52:33 +0700
9       TTA  2022       1  Wed, 11 May 2022 20:46:48 +0700
10      JAK  2022       1  Wed, 11 May 2022 20:43:01 +0700
11     WORK  2022       1  Wed, 11 May 2022 20:41:14 +0700
12    BLISS  2022       1  Wed, 11 May 2022 20:36:26 +0700
13    TIGER  2022       1  Wed, 11 May 2022 20:32:48 +0700
14   TIDLOR  2022       1  Wed, 11 May 2022 20:10:21 +0700
15    SFLEX  2022       1  Wed, 11 May 2022 19:57:56 +0700
16    GRAND  2022       1  Wed, 11 May 2022 19:49:23 +0700
17     MENA  2022       2  Wed, 11 May 2022 19:47:41 +0700
18      KWC  2022       1  Wed, 11 May 2022 19:46:05 +0700
19      ASW  2022       1  Wed, 11 May 2022 19:44:42 +0700
20      LDC  2022       1  Wed, 11 May 2022 19:40:38 +0700
21      BKD  2022       1  Wed, 11 May 2022 19:35:29 +0700
22      ABM  2022       1  Wed, 11 May 2022 19:29:28 +0700
23      TPA  2022       1  Wed, 11 May 2022 19:27:26 +0700
24     EGCO  2022       1  Wed, 11 May 2022 19:13:09 +0700
25      ACE  2022       1  Wed, 11 May 2022 19:09:30 +0700
26    GRAND  2022       1  Wed, 11 May 2022 19:06:00 +0700
27       SC  2022       1  Wed, 11 May 2022 19:02:03 +0700
28      BUI  2022       1  Wed, 11 May 2022 19:00:15 +0700
29     ONEE  2022       1  Wed, 11 May 2022 18:49:08 +0700
30    DREIT  2022       1  Wed, 11 May 2022 18:47:58 +0700
31    MICRO  2022       1  Wed, 11 May 2022 18:44:47 +0700
32      SKN  2022       1  Wed, 11 May 2022 18:39:13 +0700
33   SINGER  2022       1  Wed, 11 May 2022 18:29:20 +0700
34      CRC  2022       1  Wed, 11 May 2022 18:25:57 +0700
35      NTV  2022       1  Wed, 11 May 2022 18:18:53 +0700
36    BROOK  2022       1  Wed, 11 May 2022 18:18:05 +0700
37     SMPC  2022       1  Wed, 11 May 2022 18:15:43 +0700
38      LIT  2022       1  Wed, 11 May 2022 18:12:22 +0700
39   INTUCH  2022       1  Wed, 11 May 2022 18:12:02 +0700
40      TMT  2022       1  Wed, 11 May 2022 18:11:51 +0700
41    TTLPF  2022       1  Wed, 11 May 2022 18:08:26 +0700
42     BDMS  2022       1  Wed, 11 May 2022 18:04:13 +0700
43   KUMWEL  2022       1  Wed, 11 May 2022 18:03:53 +0700
44      KGI  2022       1  Wed, 11 May 2022 18:03:26 +0700
45      SSC  2022       2  Wed, 11 May 2022 18:02:20 +0700
46   SECURE  2022       1  Wed, 11 May 2022 18:00:03 +0700
47   GUNKUL  2022       1  Wed, 11 May 2022 17:59:42 +0700
48      SVI  2022       1  Wed, 11 May 2022 17:59:17 +0700
49     ALLA  2022       1  Wed, 11 May 2022 17:54:53 +0700
50      ASN  2022       1  Wed, 11 May 2022 17:46:03 +0700
51    KBANK  2022       1  Wed, 11 May 2022 17:42:45 +0700
52     GIFT  2022       1  Wed, 11 May 2022 17:42:18 +0700
53      SGP  2022       1  Wed, 11 May 2022 17:41:46 +0700
54      TNL  2022       1  Wed, 11 May 2022 17:36:58 +0700
55      BIZ  2022       1  Wed, 11 May 2022 17:36:27 +0700
56      ETE  2022       1  Wed, 11 May 2022 17:32:12 +0700
57      OSP  2022       1  Wed, 11 May 2022 17:31:16 +0700
58       PB  2022       1  Wed, 11 May 2022 17:29:20 +0700
59      TQR  2022       1  Wed, 11 May 2022 17:29:17 +0700
60    PRINC  2022       1  Wed, 11 May 2022 17:24:27 +0700
61      GTB  2022       1  Wed, 11 May 2022 17:23:54 +0700
62      BIZ  2022       1  Wed, 11 May 2022 17:23:10 +0700
63     NCAP  2022       1  Wed, 11 May 2022 17:21:13 +0700
64       AJ  2022       1  Wed, 11 May 2022 17:21:01 +0700
65      IFS  2022       1  Wed, 11 May 2022 17:16:27 +0700
66      SNC  2022       1  Wed, 11 May 2022 17:14:05 +0700
67       UP  2022       1  Wed, 11 May 2022 17:13:43 +0700
68      SCC  2022       S  Wed, 11 May 2022 17:13:28 +0700
69       PT  2022       1  Wed, 11 May 2022 17:12:32 +0700
70       IT  2022       1  Wed, 11 May 2022 17:11:14 +0700
71      CPT  2022       1  Wed, 11 May 2022 17:10:53 +0700
72   INTUCH  2022       1  Wed, 11 May 2022 17:09:14 +0700
73      TOG  2022       1  Wed, 11 May 2022 17:08:42 +0700
74      GJS  2022       1  Wed, 11 May 2022 17:07:11 +0700
75      ADD  2022       1  Wed, 11 May 2022 17:06:02 +0700
76      MFC  2022       1  Wed, 11 May 2022 17:05:08 +0700
77      VPO  2022       1  Wed, 11 May 2022 17:03:55 +0700
78    MATCH  2022       1  Wed, 11 May 2022 17:03:52 +0700
79      SVH  2022       1  Wed, 11 May 2022 17:03:47 +0700
80      CPR  2022       1  Wed, 11 May 2022 17:02:32 +0700
81      TCJ  2022       1  Wed, 11 May 2022 17:02:27 +0700
82      LEE  2022       1  Wed, 11 May 2022 17:02:24 +0700
83    PYLON  2022       1  Wed, 11 May 2022 17:01:17 +0700
84    CPALL  2022       1  Wed, 11 May 2022 17:00:37 +0700
85      LPH  2022       1  Wed, 11 May 2022 17:00:25 +0700
86    STECH  2022       1  Wed, 11 May 2022 13:48:55 +0700
87      TOP  2022       1  Wed, 11 May 2022 13:48:19 +0700
88    PTTGC  2022       1  Wed, 11 May 2022 13:38:44 +0700
89      TOP  2022       1  Wed, 11 May 2022 13:27:43 +0700
90    PTTGC  2022       1  Wed, 11 May 2022 13:15:02 +0700
91      CPL  2022       1  Wed, 11 May 2022 13:01:12 +0700
92       GC  2022       1  Wed, 11 May 2022 12:56:10 +0700
93      AFC  2022       3  Wed, 11 May 2022 12:55:22 +0700
94      BCP  2022       1  Wed, 11 May 2022 12:53:56 +0700
95      AWC  2022       1  Wed, 11 May 2022 12:41:26 +0700
96       PM  2022       1  Wed, 11 May 2022 12:34:28 +0700
97     BBGI  2022       1  Wed, 11 May 2022 12:34:28 +0700
98      WFX  2022       1  Wed, 11 May 2022 12:33:50 +0700
99   BRRGIF  2022       1  Wed, 11 May 2022 09:39:56 +0700
100  JUBILE  2022       1  Wed, 11 May 2022 09:34:11 +0700
101  JUBILE  2022       1  Wed, 11 May 2022 09:26:32 +0700
102    MPIC  2022       1  Wed, 11 May 2022 09:06:58 +0700
103    MBAX  2022       1  Wed, 11 May 2022 08:52:37 +0700
104   INSET  2022       1  Wed, 11 May 2022 08:33:10 +0700
105     NER  2022       1  Wed, 11 May 2022 08:33:06 +0700
106    TCAP  2022       1  Wed, 11 May 2022 08:32:38 +0700
107  BEYOND  2022       1  Wed, 11 May 2022 08:29:55 +0700
108  TAKUNI  2022       1  Wed, 11 May 2022 08:24:18 +0700
109    KIAT  2022       1  Wed, 11 May 2022 08:24:14 +0700
110    PMTA  2022       1  Wed, 11 May 2022 08:21:59 +0700
111   THANI  2022       1  Wed, 11 May 2022 08:21:42 +0700
112     CPN  2022       1  Wed, 11 May 2022 08:21:39 +0700
113    TPCH  2022       1  Wed, 11 May 2022 08:14:02 +0700
114     NPK  2022       1  Wed, 11 May 2022 08:09:06 +0700
115     DRT  2022       1  Wed, 11 May 2022 07:42:59 +0700
116     III  2022       1  Wed, 11 May 2022 07:06:08 +0700
117    BBIK  2022       1  Wed, 11 May 2022 07:03:02 +0700

In [6]:
df.dtypes

name         object
year          int64
quarter      object
link         object
published    object
dtype: object

In [7]:
df.loc[(df.quarter == 'S') ,'quarter'] = '1'
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1         115   115        115
     2           2     2          2
     3           1     1          1

In [8]:
df.quarter = df.quarter.astype(int)
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1         115   115        115
     2           2     2          2
     3           1     1          1

In [14]:
df.loc[(df.quarter == 'e') ,'quarter'] = '4'
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1           5     5          5
     4           3     3          3

In [15]:
df.loc[df.quarter == '4','year'] = 2021
df.groupby(['year']).count()

      name  quarter  link  published
year
2021     3        3     3          3
2022     5        5     5          5

In [7]:
df.loc[df.quarter == 2,'year'] = 2021
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2021 4           2     2          2
2022 1           2     2          2

In [11]:
df.quarter = df.quarter.astype(int)
df.groupby(['year','quarter']).count()

              name  link  published
year quarter
2022 1          79    79         79
     2           5     5          5
     3           1     1          1

In [ ]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == 'e','quarter'] = 4
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['quarter']).count()

In [ ]:
df.loc[df.quarter == '1','quarter'] = 4
df.groupby(['quarter']).count()

In [ ]:
df.loc[df.quarter == ' ','quarter'] = 4
df.groupby(['quarter']).count()

In [ ]:
df.loc[df.quarter == 'S','quarter'] = 4
df.groupby(['quarter']).count()

In [ ]:
#df.iloc[44,2] = [3]
df.loc[df.quarter == '1','year'] = 2022
#df.replace({"quarter" : "1"}, "3", inplace=True)
df.groupby(['year']).count()

In [9]:
df.shape

(118, 5)

In [10]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='name', keep='first')
df.shape

(109, 5)

In [11]:
file_name = 'F45-RAW-' + mmdd_str + '.csv'
raw_file = raw_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df[['name','year','quarter','published']].to_csv(output_file, header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(box_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(one_file,    header=True, index=False, sep=',')
df[['name','year','quarter','published']].to_csv(raw_file,    header=True, index=False, sep=',')

In [12]:
sql = '''
SELECT *
FROM exempts
ORDER BY name'''
df_exempts = pd.read_sql(sql, conlt)
df_exempts.shape[0]

405

In [13]:
df_merge = pd.merge(df, df_exempts, on='name', how='outer', indicator=True)
df_merge.shape

(467, 7)

### Tickers that won't be input

In [14]:
in_exempts = df_merge.loc[
    df_merge['_merge'] == 'both',
    ['name','year','quarter','published','link']
]
in_exempts.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
0,OTO,2022.0,1.0,"Wed, 11 May 2022 22:26:15 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254343700
1,HUMAN,2022.0,1.0,"Wed, 11 May 2022 22:22:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254343650
2,NNCL,2022.0,1.0,"Wed, 11 May 2022 21:39:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254342440
10,TIGER,2022.0,1.0,"Wed, 11 May 2022 20:32:48 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254339640
12,SFLEX,2022.0,1.0,"Wed, 11 May 2022 19:57:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254338290
13,GRAND,2022.0,1.0,"Wed, 11 May 2022 19:49:23 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337920
15,KWC,2022.0,1.0,"Wed, 11 May 2022 19:46:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337740
17,LDC,2022.0,1.0,"Wed, 11 May 2022 19:40:38 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337200
18,BKD,2022.0,1.0,"Wed, 11 May 2022 19:35:29 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254336890
19,ABM,2022.0,1.0,"Wed, 11 May 2022 19:29:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254336400
31,NTV,2022.0,1.0,"Wed, 11 May 2022 18:18:53 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254326240
32,BROOK,2022.0,1.0,"Wed, 11 May 2022 18:18:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254326030
41,SSC,2022.0,2.0,"Wed, 11 May 2022 18:02:20 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323160
45,ALLA,2022.0,1.0,"Wed, 11 May 2022 17:54:53 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254321100
46,ASN,2022.0,1.0,"Wed, 11 May 2022 17:46:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254318650
48,GIFT,2022.0,1.0,"Wed, 11 May 2022 17:42:18 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317750
50,TNL,2022.0,1.0,"Wed, 11 May 2022 17:36:58 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254316440
51,BIZ,2022.0,1.0,"Wed, 11 May 2022 17:36:27 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254316290
52,ETE,2022.0,1.0,"Wed, 11 May 2022 17:32:12 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254315260
54,PB,2022.0,1.0,"Wed, 11 May 2022 17:29:20 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254314330
55,TQR,2022.0,1.0,"Wed, 11 May 2022 17:29:17 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254314310
56,PRINC,2022.0,1.0,"Wed, 11 May 2022 17:24:27 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254313220
57,GTB,2022.0,1.0,"Wed, 11 May 2022 17:23:54 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312950
60,IFS,2022.0,1.0,"Wed, 11 May 2022 17:16:27 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254310810
62,UP,2022.0,1.0,"Wed, 11 May 2022 17:13:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254310010
64,PT,2022.0,1.0,"Wed, 11 May 2022 17:12:32 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309710
65,IT,2022.0,1.0,"Wed, 11 May 2022 17:11:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309270
66,CPT,2022.0,1.0,"Wed, 11 May 2022 17:10:53 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309200
67,TOG,2022.0,1.0,"Wed, 11 May 2022 17:08:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254308590
70,MFC,2022.0,1.0,"Wed, 11 May 2022 17:05:08 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254307360
71,VPO,2022.0,1.0,"Wed, 11 May 2022 17:03:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306710
72,MATCH,2022.0,1.0,"Wed, 11 May 2022 17:03:52 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306670
73,SVH,2022.0,1.0,"Wed, 11 May 2022 17:03:47 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306650
74,CPR,2022.0,1.0,"Wed, 11 May 2022 17:02:32 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306290
75,TCJ,2022.0,1.0,"Wed, 11 May 2022 17:02:27 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306270
76,LEE,2022.0,1.0,"Wed, 11 May 2022 17:02:24 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254306250
77,PYLON,2022.0,1.0,"Wed, 11 May 2022 17:01:17 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254305750
83,CPL,2022.0,1.0,"Wed, 11 May 2022 13:01:12 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254274800
88,PM,2022.0,1.0,"Wed, 11 May 2022 12:34:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254272100
92,JUBILE,2022.0,1.0,"Wed, 11 May 2022 09:34:11 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254260830
95,INSET,2022.0,1.0,"Wed, 11 May 2022 08:33:10 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256650
98,BEYOND,2022.0,1.0,"Wed, 11 May 2022 08:29:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256430
99,TAKUNI,2022.0,1.0,"Wed, 11 May 2022 08:24:18 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256130
100,KIAT,2022.0,1.0,"Wed, 11 May 2022 08:24:14 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256100
101,PMTA,2022.0,1.0,"Wed, 11 May 2022 08:21:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255770
104,TPCH,2022.0,1.0,"Wed, 11 May 2022 08:14:02 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255070
107,III,2022.0,1.0,"Wed, 11 May 2022 07:06:08 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254254120

In [15]:
in_exempts.sort_values(by=['published'],ascending=[False]).shape[0]

47

In [16]:
df_out = df_merge.loc[
    df_merge['_merge'] == 'left_only',
    ['name','year','quarter','published','link']
]
df_out.sort_values(by=['published'],ascending=[False])

,name,year,quarter,published,link
3,ICHI,2022.0,1.0,"Wed, 11 May 2022 21:36:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254342360
4,ACG,2022.0,1.0,"Wed, 11 May 2022 21:12:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341950
5,WORK,2022.0,1.0,"Wed, 11 May 2022 21:05:54 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341850
6,VL,2022.0,1.0,"Wed, 11 May 2022 20:52:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341420
7,TTA,2022.0,1.0,"Wed, 11 May 2022 20:46:48 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341010
8,JAK,2022.0,1.0,"Wed, 11 May 2022 20:43:01 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254340580
9,BLISS,2022.0,1.0,"Wed, 11 May 2022 20:36:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254339970
11,TIDLOR,2022.0,1.0,"Wed, 11 May 2022 20:10:21 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254338530
14,MENA,2022.0,2.0,"Wed, 11 May 2022 19:47:41 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337870
16,ASW,2022.0,1.0,"Wed, 11 May 2022 19:44:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337450
20,TPA,2022.0,1.0,"Wed, 11 May 2022 19:27:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254336060
21,EGCO,2022.0,1.0,"Wed, 11 May 2022 19:13:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334580
22,ACE,2022.0,1.0,"Wed, 11 May 2022 19:09:30 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334220
23,SC,2022.0,1.0,"Wed, 11 May 2022 19:02:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254332960
24,BUI,2022.0,1.0,"Wed, 11 May 2022 19:00:15 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254332630
25,ONEE,2022.0,1.0,"Wed, 11 May 2022 18:49:08 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254330850
26,DREIT,2022.0,1.0,"Wed, 11 May 2022 18:47:58 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254330740
27,MICRO,2022.0,1.0,"Wed, 11 May 2022 18:44:47 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254330260
28,SKN,2022.0,1.0,"Wed, 11 May 2022 18:39:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254329630
29,SINGER,2022.0,1.0,"Wed, 11 May 2022 18:29:20 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327670
30,CRC,2022.0,1.0,"Wed, 11 May 2022 18:25:57 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327010
33,SMPC,2022.0,1.0,"Wed, 11 May 2022 18:15:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254325190
34,LIT,2022.0,1.0,"Wed, 11 May 2022 18:12:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324290
35,INTUCH,2022.0,1.0,"Wed, 11 May 2022 18:12:02 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324200
36,TMT,2022.0,1.0,"Wed, 11 May 2022 18:11:51 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324150
37,TTLPF,2022.0,1.0,"Wed, 11 May 2022 18:08:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323800
38,BDMS,2022.0,1.0,"Wed, 11 May 2022 18:04:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323330
39,KUMWEL,2022.0,1.0,"Wed, 11 May 2022 18:03:53 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323290
40,KGI,2022.0,1.0,"Wed, 11 May 2022 18:03:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323270
42,SECURE,2022.0,1.0,"Wed, 11 May 2022 18:00:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322320
43,GUNKUL,2022.0,1.0,"Wed, 11 May 2022 17:59:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322170
44,SVI,2022.0,1.0,"Wed, 11 May 2022 17:59:17 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322110
47,KBANK,2022.0,1.0,"Wed, 11 May 2022 17:42:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317920
49,SGP,2022.0,1.0,"Wed, 11 May 2022 17:41:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317590
53,OSP,2022.0,1.0,"Wed, 11 May 2022 17:31:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254314840
58,NCAP,2022.0,1.0,"Wed, 11 May 2022 17:21:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312280
59,AJ,2022.0,1.0,"Wed, 11 May 2022 17:21:01 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312250
61,SNC,2022.0,1.0,"Wed, 11 May 2022 17:14:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254310210
63,SCC,2022.0,1.0,"Wed, 11 May 2022 17:13:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309930
68,GJS,2022.0,1.0,"Wed, 11 May 2022 17:07:11 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254307940
69,ADD,2022.0,1.0,"Wed, 11 May 2022 17:06:02 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254307670
78,CPALL,2022.0,1.0,"Wed, 11 May 2022 17:00:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254305610
79,LPH,2022.0,1.0,"Wed, 11 May 2022 17:00:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254304060
80,STECH,2022.0,1.0,"Wed, 11 May 2022 13:48:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254278860
81,TOP,2022.0,1.0,"Wed, 11 May 2022 13:48:19 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254278740
82,PTTGC,2022.0,1.0,"Wed, 11 May 2022 13:38:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254277810
84,GC,2022.0,1.0,"Wed, 11 May 2022 12:56:10 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254274300
85,AFC,2022.0,3.0,"Wed, 11 May 2022 12:55:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254274200
86,BCP,2022.0,1.0,"Wed, 11 May 2022 12:53:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254273980
87,AWC,2022.0,1.0,"Wed, 11 May 2022 12:41:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254272530
89,BBGI,2022.0,1.0,"Wed, 11 May 2022 12:34:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254272070
90,WFX,2022.0,1.0,"Wed, 11 May 2022 12:33:50 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254271970
91,BRRGIF,2022.0,1.0,"Wed, 11 May 2022 09:39:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254261190
93,MPIC,2022.0,1.0,"Wed, 11 May 2022 09:06:58 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254258660
94,MBAX,2022.0,1.0,"Wed, 11 May 2022 08:52:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254257580
96,NER,2022.0,1.0,"Wed, 11 May 2022 08:33:06 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256620
97,TCAP,2022.0,1.0,"Wed, 11 May 2022 08:32:38 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256540
102,THANI,2022.0,1.0,"Wed, 11 May 2022 08:21:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255720
103,CPN,2022.0,1.0,"Wed, 11 May 2022 08:21:39 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255690
105,NPK,2022.0,1.0,"Wed, 11 May 2022 08:09:06 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254254840
106,DRT,2022.0,1.0,"Wed, 11 May 2022 07:42:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254254300
108,BBIK,2022.0,1.0,"Wed, 11 May 2022 07:03:02 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254254050

In [17]:
#df_out = df_out.drop(df_out.index[df_out['name'] == "SCC"])
df_out.shape[0]

62

In [18]:
sql = '''
SELECT *
FROM tickers
ORDER BY name'''
df_tickers = pd.read_sql(sql, conlt)
df_tickers.shape

(403, 9)

In [19]:
df_merge2 = pd.merge(df_out, df_tickers, on='name', how='outer', indicator=True)
df_merge2.shape

(426, 14)

### There are no ticker records

In [20]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
]

,name,year,quarter,published,link,id,market
1,ACG,2022.0,1.0,"Wed, 11 May 2022 21:12:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341950,NaN,NaN
3,VL,2022.0,1.0,"Wed, 11 May 2022 20:52:33 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341420,NaN,NaN
5,JAK,2022.0,1.0,"Wed, 11 May 2022 20:43:01 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254340580,NaN,NaN
6,BLISS,2022.0,1.0,"Wed, 11 May 2022 20:36:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254339970,NaN,NaN
8,MENA,2022.0,2.0,"Wed, 11 May 2022 19:47:41 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337870,NaN,NaN
10,TPA,2022.0,1.0,"Wed, 11 May 2022 19:27:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254336060,NaN,NaN
14,BUI,2022.0,1.0,"Wed, 11 May 2022 19:00:15 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254332630,NaN,NaN
15,ONEE,2022.0,1.0,"Wed, 11 May 2022 18:49:08 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254330850,NaN,NaN
16,DREIT,2022.0,1.0,"Wed, 11 May 2022 18:47:58 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254330740,NaN,NaN
17,MICRO,2022.0,1.0,"Wed, 11 May 2022 18:44:47 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254330260,NaN,NaN
27,KUMWEL,2022.0,1.0,"Wed, 11 May 2022 18:03:53 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323290,NaN,NaN
29,SECURE,2022.0,1.0,"Wed, 11 May 2022 18:00:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322320,NaN,NaN
35,NCAP,2022.0,1.0,"Wed, 11 May 2022 17:21:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312280,NaN,NaN
39,GJS,2022.0,1.0,"Wed, 11 May 2022 17:07:11 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254307940,NaN,NaN
40,ADD,2022.0,1.0,"Wed, 11 May 2022 17:06:02 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254307670,NaN,NaN
43,STECH,2022.0,1.0,"Wed, 11 May 2022 13:48:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254278860,NaN,NaN
47,AFC,2022.0,3.0,"Wed, 11 May 2022 12:55:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254274200,NaN,NaN
50,BBGI,2022.0,1.0,"Wed, 11 May 2022 12:34:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254272070,NaN,NaN
51,WFX,2022.0,1.0,"Wed, 11 May 2022 12:33:50 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254271970,NaN,NaN
52,BRRGIF,2022.0,1.0,"Wed, 11 May 2022 09:39:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254261190,NaN,NaN
53,MPIC,2022.0,1.0,"Wed, 11 May 2022 09:06:58 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254258660,NaN,NaN
59,NPK,2022.0,1.0,"Wed, 11 May 2022 08:09:06 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254254840,NaN,NaN
61,BBIK,2022.0,1.0,"Wed, 11 May 2022 07:03:02 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254254050,NaN,NaN

In [21]:
df_merge2.loc[
    df_merge2['_merge'] == 'left_only',
    ['name','year','quarter','published','link','id','market']
].shape

(23, 7)

### There are ticker records

In [22]:
df_out2 = df_merge2.loc[
    df_merge2['_merge'] == 'both',
    ['name','year','quarter','published','link','id','market']
]
df_out2

,name,year,quarter,published,link,id,market
0,ICHI,2022.0,1.0,"Wed, 11 May 2022 21:36:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254342360,216.0,sSET / SETCLMV
2,WORK,2022.0,1.0,"Wed, 11 May 2022 21:05:54 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341850,628.0,SET
4,TTA,2022.0,1.0,"Wed, 11 May 2022 20:46:48 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341010,579.0,SET100 / SETWB
7,TIDLOR,2022.0,1.0,"Wed, 11 May 2022 20:10:21 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254338530,723.0,SET50
9,ASW,2022.0,1.0,"Wed, 11 May 2022 19:44:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337450,728.0,sSET
11,EGCO,2022.0,1.0,"Wed, 11 May 2022 19:13:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334580,157.0,SET50 / SETCLMV / SETHD / SETTHSI
12,ACE,2022.0,1.0,"Wed, 11 May 2022 19:09:30 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334220,698.0,SET100
13,SC,2022.0,1.0,"Wed, 11 May 2022 19:02:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254332960,425.0,sSET / SETTHSI
18,SKN,2022.0,1.0,"Wed, 11 May 2022 18:39:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254329630,642.0,sSET
19,SINGER,2022.0,1.0,"Wed, 11 May 2022 18:29:20 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327670,446.0,SET100
20,CRC,2022.0,1.0,"Wed, 11 May 2022 18:25:57 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327010,708.0,SET50 / SETCLMV / SETTHSI / SETWB
21,SMPC,2022.0,1.0,"Wed, 11 May 2022 18:15:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254325190,455.0,sSET
22,LIT,2022.0,1.0,"Wed, 11 May 2022 18:12:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324290,273.0,mai
23,INTUCH,2022.0,1.0,"Wed, 11 May 2022 18:12:02 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324200,224.0,SET50 / SETCLMV / SETHD / SETTHSI
24,TMT,2022.0,1.0,"Wed, 11 May 2022 18:11:51 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324150,545.0,sSET / SETTHSI
25,TTLPF,2022.0,1.0,"Wed, 11 May 2022 18:08:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323800,707.0,SET
26,BDMS,2022.0,1.0,"Wed, 11 May 2022 18:04:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323330,54.0,SET50 / SETCLMV / SETTHSI / SETWB
28,KGI,2022.0,1.0,"Wed, 11 May 2022 18:03:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323270,252.0,sSET
30,GUNKUL,2022.0,1.0,"Wed, 11 May 2022 17:59:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322170,202.0,SET100 / SETCLMV / SETHD / SETTHSI
31,SVI,2022.0,1.0,"Wed, 11 May 2022 17:59:17 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322110,491.0,SET
32,KBANK,2022.0,1.0,"Wed, 11 May 2022 17:42:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317920,245.0,SET50 / SETCLMV / SETTHSI
33,SGP,2022.0,1.0,"Wed, 11 May 2022 17:41:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317590,441.0,SET
34,OSP,2022.0,1.0,"Wed, 11 May 2022 17:31:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254314840,681.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
36,AJ,2022.0,1.0,"Wed, 11 May 2022 17:21:01 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312250,12.0,sSET / SETCLMV
37,SNC,2022.0,1.0,"Wed, 11 May 2022 17:14:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254310210,457.0,sSET / SETTHSI
38,SCC,2022.0,1.0,"Wed, 11 May 2022 17:13:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309930,427.0,SET50 / SETCLMV / SETHD / SETTHSI
41,CPALL,2022.0,1.0,"Wed, 11 May 2022 17:00:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254305610,116.0,SET50 / SETTHSI / SETWB
42,LPH,2022.0,1.0,"Wed, 11 May 2022 17:00:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254304060,275.0,sSET
44,TOP,2022.0,1.0,"Wed, 11 May 2022 13:48:19 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254278740,555.0,SET50 / SETCLMV / SETTHSI
45,PTTGC,2022.0,1.0,"Wed, 11 May 2022 13:38:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254277810,385.0,SET50 / SETCLMV / SETTHSI
46,GC,2022.0,1.0,"Wed, 11 May 2022 12:56:10 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254274300,183.0,SET
48,BCP,2022.0,1.0,"Wed, 11 May 2022 12:53:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254273980,52.0,SET100 / SETCLMV / SETTHSI
49,AWC,2022.0,1.0,"Wed, 11 May 2022 12:41:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254272530,699.0,SET50 / SETTHSI
54,MBAX,2022.0,1.0,"Wed, 11 May 2022 08:52:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254257580,288.0,mai
55,NER,2022.0,1.0,"Wed, 11 May 2022 08:33:06 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256620,680.0,sSET
56,TCAP,2022.0,1.0,"Wed, 11 May 2022 08:32:38 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256540,503.0,SET100 / SETHD
57,THANI,2022.0,1.0,"Wed, 11 May 2022 08:21:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255720,522.0,SET100 / SETHD / SETTHSI
58,CPN,2022.0,1.0,"Wed, 11 May 2022 08:21:39 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255690,121.0,SET50 / SETTHSI
60,DRT,2022.0,1.0,"Wed, 11 May 2022 07:42:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254254300,143.0,sSET / SETCLMV / SETTHSI

In [23]:
df_out2 = df_out2[df_out2.year.notnull()]
df_out2

,name,year,quarter,published,link,id,market
0,ICHI,2022.0,1.0,"Wed, 11 May 2022 21:36:55 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254342360,216.0,sSET / SETCLMV
2,WORK,2022.0,1.0,"Wed, 11 May 2022 21:05:54 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341850,628.0,SET
4,TTA,2022.0,1.0,"Wed, 11 May 2022 20:46:48 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341010,579.0,SET100 / SETWB
7,TIDLOR,2022.0,1.0,"Wed, 11 May 2022 20:10:21 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254338530,723.0,SET50
9,ASW,2022.0,1.0,"Wed, 11 May 2022 19:44:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337450,728.0,sSET
11,EGCO,2022.0,1.0,"Wed, 11 May 2022 19:13:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334580,157.0,SET50 / SETCLMV / SETHD / SETTHSI
12,ACE,2022.0,1.0,"Wed, 11 May 2022 19:09:30 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334220,698.0,SET100
13,SC,2022.0,1.0,"Wed, 11 May 2022 19:02:03 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254332960,425.0,sSET / SETTHSI
18,SKN,2022.0,1.0,"Wed, 11 May 2022 18:39:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254329630,642.0,sSET
19,SINGER,2022.0,1.0,"Wed, 11 May 2022 18:29:20 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327670,446.0,SET100
20,CRC,2022.0,1.0,"Wed, 11 May 2022 18:25:57 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327010,708.0,SET50 / SETCLMV / SETTHSI / SETWB
21,SMPC,2022.0,1.0,"Wed, 11 May 2022 18:15:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254325190,455.0,sSET
22,LIT,2022.0,1.0,"Wed, 11 May 2022 18:12:22 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324290,273.0,mai
23,INTUCH,2022.0,1.0,"Wed, 11 May 2022 18:12:02 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324200,224.0,SET50 / SETCLMV / SETHD / SETTHSI
24,TMT,2022.0,1.0,"Wed, 11 May 2022 18:11:51 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324150,545.0,sSET / SETTHSI
25,TTLPF,2022.0,1.0,"Wed, 11 May 2022 18:08:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323800,707.0,SET
26,BDMS,2022.0,1.0,"Wed, 11 May 2022 18:04:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323330,54.0,SET50 / SETCLMV / SETTHSI / SETWB
28,KGI,2022.0,1.0,"Wed, 11 May 2022 18:03:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323270,252.0,sSET
30,GUNKUL,2022.0,1.0,"Wed, 11 May 2022 17:59:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322170,202.0,SET100 / SETCLMV / SETHD / SETTHSI
31,SVI,2022.0,1.0,"Wed, 11 May 2022 17:59:17 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322110,491.0,SET
32,KBANK,2022.0,1.0,"Wed, 11 May 2022 17:42:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317920,245.0,SET50 / SETCLMV / SETTHSI
33,SGP,2022.0,1.0,"Wed, 11 May 2022 17:41:46 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317590,441.0,SET
34,OSP,2022.0,1.0,"Wed, 11 May 2022 17:31:16 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254314840,681.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
36,AJ,2022.0,1.0,"Wed, 11 May 2022 17:21:01 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312250,12.0,sSET / SETCLMV
37,SNC,2022.0,1.0,"Wed, 11 May 2022 17:14:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254310210,457.0,sSET / SETTHSI
38,SCC,2022.0,1.0,"Wed, 11 May 2022 17:13:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309930,427.0,SET50 / SETCLMV / SETHD / SETTHSI
41,CPALL,2022.0,1.0,"Wed, 11 May 2022 17:00:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254305610,116.0,SET50 / SETTHSI / SETWB
42,LPH,2022.0,1.0,"Wed, 11 May 2022 17:00:25 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254304060,275.0,sSET
44,TOP,2022.0,1.0,"Wed, 11 May 2022 13:48:19 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254278740,555.0,SET50 / SETCLMV / SETTHSI
45,PTTGC,2022.0,1.0,"Wed, 11 May 2022 13:38:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254277810,385.0,SET50 / SETCLMV / SETTHSI
46,GC,2022.0,1.0,"Wed, 11 May 2022 12:56:10 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254274300,183.0,SET
48,BCP,2022.0,1.0,"Wed, 11 May 2022 12:53:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254273980,52.0,SET100 / SETCLMV / SETTHSI
49,AWC,2022.0,1.0,"Wed, 11 May 2022 12:41:26 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254272530,699.0,SET50 / SETTHSI
54,MBAX,2022.0,1.0,"Wed, 11 May 2022 08:52:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254257580,288.0,mai
55,NER,2022.0,1.0,"Wed, 11 May 2022 08:33:06 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256620,680.0,sSET
56,TCAP,2022.0,1.0,"Wed, 11 May 2022 08:32:38 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256540,503.0,SET100 / SETHD
57,THANI,2022.0,1.0,"Wed, 11 May 2022 08:21:42 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255720,522.0,SET100 / SETHD / SETTHSI
58,CPN,2022.0,1.0,"Wed, 11 May 2022 08:21:39 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255690,121.0,SET50 / SETTHSI
60,DRT,2022.0,1.0,"Wed, 11 May 2022 07:42:59 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254254300,143.0,sSET / SETCLMV / SETTHSI

In [32]:
df_out2['year'] = df_out2['year'].astype(int)
df_out2['quarter'] = df_out2['quarter'].astype(int)
df_out2.shape

(39, 7)

In [25]:
file_name = 'F45-CLEAN-' + mmdd_str + '.csv'
clean_file = clean_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(output_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(clean_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(box_file, header=True, index=False, sep=',')
df_out2[['name','year','quarter','published','market']].sort_values(['published'],ascending=[False]).to_csv(one_file, header=True, index=False, sep=',')

In [33]:
sql = '''
SELECT * 
FROM epss
WHERE year = 2022'''
df_epss = pd.read_sql(sql, conlt)
df_epss.shape

(81, 14)

In [34]:
df_merge3 = pd.merge(df_out2, df_epss, on=['name','year','quarter'], how='outer', indicator=True)
df_merge3.shape

(106, 19)

### Already input, display profit amt & eps to check with new F45

In [35]:
df_merge3[df_merge3['_merge'] == 'both']

,name,year,quarter,published,link,id_x,market,id_y,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date,_merge
5,EGCO,2022,1,"Wed, 11 May 2022 19:13:09 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334580,157.0,SET50 / SETCLMV / SETHD / SETTHSI,21484.0,4115806.0,585461.0,4115806.0,585461.0,7.820,1.110,7.820,1.110,157.0,2022-05-11,both
9,SINGER,2022,1,"Wed, 11 May 2022 18:29:20 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327670,446.0,SET100,21485.0,215414.0,140120.0,215414.0,140120.0,0.270,0.310,0.270,0.310,446.0,2022-05-11,both
11,SMPC,2022,1,"Wed, 11 May 2022 18:15:43 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254325190,455.0,sSET,21486.0,289552.0,114574.0,289552.0,114574.0,0.540,0.210,0.540,0.210,455.0,2022-05-11,both
14,TMT,2022,1,"Wed, 11 May 2022 18:11:51 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324150,545.0,sSET / SETTHSI,21487.0,126938.0,423150.0,126938.0,423150.0,0.150,0.490,0.150,0.490,545.0,2022-05-11,both
16,BDMS,2022,1,"Wed, 11 May 2022 18:04:13 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323330,54.0,SET50 / SETCLMV / SETTHSI / SETWB,21488.0,3443034.0,1338664.0,3443034.0,1338664.0,0.220,0.080,0.220,0.080,54.0,2022-05-11,both
19,SVI,2022,1,"Wed, 11 May 2022 17:59:17 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322110,491.0,SET,21489.0,262003.0,148153.0,262003.0,148153.0,0.120,0.070,0.120,0.070,491.0,2022-05-11,both
20,KBANK,2022,1,"Wed, 11 May 2022 17:42:45 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317920,245.0,SET50 / SETCLMV / SETTHSI,21426.0,11210956.0,10626866.0,11210956.0,10626866.0,4.580,4.350,4.580,4.350,245.0,2022-04-21,both
24,SNC,2022,1,"Wed, 11 May 2022 17:14:05 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254310210,457.0,sSET / SETTHSI,21490.0,277001.0,148269.0,277001.0,148269.0,0.760,0.520,0.760,0.520,457.0,2022-05-11,both
25,SCC,2022,1,"Wed, 11 May 2022 17:13:28 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254309930,427.0,SET50 / SETCLMV / SETHD / SETTHSI,21432.0,8843504.0,14913956.0,8843504.0,14913956.0,7.370,12.430,7.370,12.430,427.0,2022-04-27,both
26,CPALL,2022,1,"Wed, 11 May 2022 17:00:37 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254305610,116.0,SET50 / SETTHSI / SETWB,21491.0,3453025.0,2599055.0,3453025.0,2599055.0,0.360,0.260,0.360,0.260,116.0,2022-05-11,both
28,TOP,2022,1,"Wed, 11 May 2022 13:48:19 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254278740,555.0,SET50 / SETCLMV / SETTHSI,21492.0,7182668.0,3360004.0,7182668.0,3360004.0,3.520,1.650,3.520,1.650,555.0,2022-05-11,both
29,PTTGC,2022,1,"Wed, 11 May 2022 13:38:44 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254277810,385.0,SET50 / SETCLMV / SETTHSI,21493.0,4211669.0,9694868.0,4211669.0,9694868.0,0.930,2.160,0.930,2.160,385.0,2022-05-11,both
31,BCP,2022,1,"Wed, 11 May 2022 12:53:56 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254273980,52.0,SET100 / SETCLMV / SETTHSI,21494.0,4356316.0,2283502.0,4356316.0,2283502.0,3.120,1.590,3.120,1.590,52.0,2022-05-11,both
34,NER,2022,1,"Wed, 11 May 2022 08:33:06 +0700",https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256620,680.0,sSET,21473.0,468890.0,366496.0,468890.0,366496.0,0.266,0.227,0.266,0.227,680.0,2022-05-10,both

In [36]:
df_merge3[df_merge3['_merge'] == 'both'].shape

(14, 19)

In [37]:
df_inp2 = df_merge3[df_merge3['_merge'] == 'left_only']
df_inp3 = df_inp2.copy()
df_inp3.shape

(25, 19)

In [38]:
df_inp3['year'] = df_inp3['year'].astype(str)
df_inp3['quarter'] = df_inp3['quarter'].astype(str)
inp3_str = df_inp3.name+' '+df_inp3.year+' '+df_inp3.quarter+' '+df_inp3.link
inp3_str

0       ICHI 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254342360
1       WORK 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341850
2        TTA 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254341010
3     TIDLOR 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254338530
4        ASW 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254337450
6        ACE 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254334220
7         SC 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254332960
8        SKN 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254329630
10       CRC 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254327010
12       LIT 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324290
13    INTUCH 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254324200
15     TTLPF 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323800
17       KGI 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254323270
18    GUNKUL 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254322170
21       SGP 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254317590
22       OSP 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254314840
23        AJ 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254312250
27       LPH 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254304060
30        GC 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254274300
32       AWC 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254272530
33      MBAX 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254257580
35      TCAP 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254256540
36     THANI 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255720
37       CPN 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254255690
38       DRT 2022 1 https://classic.set.or.th/set/newsdetails.do?language=en&country=US&newsId=16522254254300
dtype: object