In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2022"
quarter = "1"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-03-14'

In [2]:
today = date(2022, 3, 11)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-03-11'

In [3]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'q_eps':'{:.2f}','y_eps':'{:.2f}',
               'aq_eps':'{:.2f}','ay_eps':'{:.2f}',
               'yoy_pct':'{:.2f}','acc_pct':'{:.2f}',
               'daily_volume':'{:.2f}','beta':'{:.2f}'}
pd.set_option('display.max_rows',None)
pd.set_option('display.float','{:,.2f}'.format)

cols = ['name','year','quarter','q_amt','y_amt','yoy_gain','yoy_pct']

In [4]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"'''
sql = sql % (year, quarter, today_str)

epss = pd.read_sql(sql, conlt)
epss.tail().style.format(format_dict)

In [5]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"]  = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100,2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct.tail().style.format(format_dict)

In [6]:
criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [7]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [8]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [9]:
#df_pct_criteria = criteria_1 & criteria_2 & criteria_3
df_pct_criteria = criteria_1 & criteria_2
df_pct.loc[df_pct_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [10]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [11]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [12]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'KSL'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [13]:
#name = "BH"
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('KSL')
ORDER BY E.name, year DESC, quarter DESC

In [14]:
sqlDel = '''
DELETE FROM profits
WHERE name IN (%s)
AND quarter = 4
'''
sqlDel = sqlDel % in_p
print(sqlDel)

DELETE FROM profits
WHERE name IN ('KSL')
AND quarter = 4

In [15]:
rp = conlt.execute(sqlDel)
rp.rowcount

0

In [16]:
rp = conmy.execute(sqlDel)
rp.rowcount

0

In [17]:
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [18]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'AEONTS', 'AIMIRT', 'AMATA', 'ASIAN', 'ASK', 'ASP',
       'AYUD', 'BAM', 'BAY', 'BBL', 'BCH', 'BDMS', 'BLA', 'CHG', 'CIMBT', 'CK',
       'CKP', 'COM7', 'COTTO', 'DOHOME', 'EA', 'EASTW', 'FORTH', 'GLOBAL',
       'GULF', 'GVREIT', 'HFT', 'HREIT', 'INTUCH', 'IVL', 'JMART', 'JMT',
       'KBANK', 'KCE', 'KGI', 'KKP', 'KTB', 'LHFG', 'LPF', 'MAKRO', 'MCS',
       'MEGA', 'MTI', 'NER', 'ORI', 'PTL', 'PTT', 'PTTEP', 'RATCH', 'RCL',
       'RJH', 'ROJNA', 'SAUCE', 'SCB', 'SCC', 'SCCC', 'SENA', 'SGP', 'SINGER',
       'SIRI', 'SIS', 'SMPC', 'SNC', 'SPALI', 'SPI', 'SSP', 'STA', 'STARK',
       'STGT', 'SUPER', 'SVI', 'SYNEX', 'TISCO', 'TMT', 'TPIPL', 'TQM', 'TSE',
       'TU', 'TVO', 'VIBHA', 'VNT'],
      dtype='object', name='name')

In [19]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['AMATA', 'ASIAN', 'ASK', 'ASP', 'BAM', 'BAY', 'BBL', 'BCH', 'BDMS',
       'CHG', 'COM7', 'DOHOME', 'EA', 'GLOBAL', 'GULF', 'JMART', 'JMT', 'KCE',
       'KKP', 'MAKRO', 'MCS', 'MEGA', 'NER', 'ORI', 'PTL', 'PTT', 'PTTEP',
       'RATCH', 'RCL', 'RJH', 'SCB', 'SCC', 'SCCC', 'SENA', 'SINGER', 'SIS',
       'SMPC', 'SNC', 'SPALI', 'STARK', 'SVI', 'SYNEX', 'TISCO', 'TMT',
       'TPIPL', 'TQM', 'TU', 'VIBHA'],
      dtype='object', name='name')

In [20]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['2S', 'ADVANC', 'AEONTS', 'AIMIRT', 'AMATA', 'ASIAN', 'ASK', 'ASP',
       'AYUD', 'BAM', 'BAY', 'BBL', 'BCH', 'BDMS', 'BLA', 'CHG', 'CIMBT', 'CK',
       'CKP', 'COM7', 'COTTO', 'DOHOME', 'EA', 'EASTW', 'FORTH', 'GLOBAL',
       'GULF', 'GVREIT', 'HFT', 'HREIT', 'INTUCH', 'IVL', 'JMART', 'JMT',
       'KBANK', 'KCE', 'KGI', 'KKP', 'KTB', 'LHFG', 'LPF', 'MAKRO', 'MCS',
       'MEGA', 'MTI', 'NER', 'ORI', 'PTL', 'PTT', 'PTTEP', 'RATCH', 'RCL',
       'RJH', 'ROJNA', 'SAUCE', 'SCB', 'SCC', 'SCCC', 'SENA', 'SGP', 'SINGER',
       'SIRI', 'SIS', 'SMPC', 'SNC', 'SPALI', 'SPI', 'SSP', 'STA', 'STARK',
       'STGT', 'SUPER', 'SVI', 'SYNEX', 'TISCO', 'TMT', 'TPIPL', 'TQM', 'TSE',
       'TU', 'TVO', 'VIBHA', 'VNT'],
      dtype='object', name='name')