In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2022"
quarter = "1"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-08-14'

In [26]:
today = date(2022, 8, 5)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-08-05'

In [27]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'q_eps':'{:.2f}','y_eps':'{:.2f}',
               'aq_eps':'{:.2f}','ay_eps':'{:.2f}',
               'yoy_pct':'{:.2f}','acc_pct':'{:.2f}',
               'daily_volume':'{:.2f}','beta':'{:.2f}'}
pd.set_option('display.max_rows',None)
pd.set_option('display.float','{:,.2f}'.format)

cols = ['name','year','quarter','q_amt','y_amt','yoy_gain','yoy_pct']

In [31]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = "%s"'''
sql = sql % (year, quarter, today_str)

epss = pd.read_sql(sql, conlt)
epss.tail()

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,21685,KYE,2022,1,-27630,144764,-27630,144764,-1.40,7.31,-1.40,7.31,262,2022-08-05
1,21686,STANLY,2022,1,317403,383485,317403,383485,4.14,5.00,4.14,5.00,482,2022-08-05

In [32]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"]  = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100,2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct.tail().style.format(format_dict)

In [33]:
criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [34]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [35]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [36]:
criteria_4 = (df_pct.q_amt > df_pct.y_amt)
df_pct.loc[criteria_4, cols].style.format(format_dict)

In [37]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#df_pct_criteria = criteria_1 & criteria_2
df_pct.loc[df_pct_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [38]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [39]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [40]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'KYE', 'STANLY'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [41]:
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('KYE', 'STANLY')
ORDER BY E.name, year DESC, quarter DESC

In [42]:
sqlDel = '''
DELETE FROM profits
WHERE name IN (%s)
AND quarter = 4
'''
sqlDel = sqlDel % in_p
print(sqlDel)

DELETE FROM profits
WHERE name IN ('KYE', 'STANLY')
AND quarter = 4

In [43]:
rp = conlt.execute(sqlDel)
rp.rowcount

1

In [44]:
rp = conmy.execute(sqlDel)
rp.rowcount

1

In [45]:
rp = conpg.execute(sqlDel)
rp.rowcount

1

In [46]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'AMATA', 'ASK', 'AYUD', 'BAM', 'BANPU', 'BAY', 'BBL',
       'BCH', 'BCP', 'BCT', 'BH', 'BLA', 'CHG', 'CIMBT', 'CKP', 'CPNCG',
       'CPNREIT', 'DELTA', 'ESSO', 'FORTH', 'GLOBAL', 'GVREIT', 'INOX',
       'INTUCH', 'IVL', 'JMART', 'JMT', 'JWD', 'KKP', 'KTB', 'LANNA', 'LHFG',
       'MST', 'MTI', 'PSL', 'PTL', 'PTT', 'PTTEP', 'RBF', 'SAPPE', 'SAUCE',
       'SCB', 'SINGER', 'SPALI', 'SPI', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP',
       'TFFIF', 'TISCO', 'TOP', 'TPIPL', 'TQM', 'TTB', 'VIBHA', 'VNG', 'VNT'],
      dtype='object', name='name')

In [47]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['AMATA', 'ASK', 'BAM', 'BANPU', 'BAY', 'BCP', 'BH', 'BLA', 'CKP',
       'CPNCG', 'CPNREIT', 'DELTA', 'ESSO', 'INOX', 'IVL', 'JMART', 'JMT',
       'JWD', 'LANNA', 'MST', 'PSL', 'PTL', 'PTT', 'PTTEP', 'RBF', 'SAPPE',
       'SINGER', 'SPALI', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP', 'TFFIF',
       'TISCO', 'TOP', 'TPIPL', 'TTB', 'VNG'],
      dtype='object', name='name')

In [48]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'AMATA', 'ASK', 'BAM', 'BANPU', 'BAY', 'BBL', 'BCH', 'BCP',
       'BCT', 'BH', 'BLA', 'CHG', 'CKP', 'CPNCG', 'CPNREIT', 'DELTA', 'ESSO',
       'FORTH', 'GLOBAL', 'GVREIT', 'INOX', 'INTUCH', 'IVL', 'JMART', 'JMT',
       'JWD', 'KKP', 'KTB', 'LANNA', 'LHFG', 'MST', 'PSL', 'PTL', 'PTT',
       'PTTEP', 'RBF', 'SAPPE', 'SCB', 'SINGER', 'SPALI', 'SPRC', 'SSP',
       'STARK', 'SVI', 'TCAP', 'TFFIF', 'TISCO', 'TOP', 'TPIPL', 'TQM', 'TTB',
       'VIBHA', 'VNG'],
      dtype='object', name='name')

In [49]:
name = 'STANLY'
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND name = "%s"'''
sql = sql % (year, quarter, name)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.tail()

SELECT *
FROM epss
WHERE year = 2022 AND quarter = 1
AND name = "STANLY"

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,21686,STANLY,2022,1,317403,383485,317403,383485,4.14,5,4.14,5,482,2022-08-05