In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 1
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2022-05-09'

In [2]:
#today = date(2022, 5, 6)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-05-09'

In [3]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [ ]:
names = ('XXX','YYY')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [4]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

### End of Normal Process

In [5]:
strqtr = "Q" + str(quarter)
strqtr

'Q1'

In [6]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

49

In [7]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [8]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [9]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.tail().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [10]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.tail().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()

In [13]:
profits[profits['name'] == 'RJH'].style.format(format_dict)

In [14]:
criteria_1 = profits.latest_amt_y > 440000
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [15]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [16]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [17]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2
filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [18]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
#pre_final0 = filter.loc[[38,44,39,36,43,37,35],:]
#pre_final = pre_final0.drop(columns, axis=1)
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [19]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [20]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [21]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = (%s-1) AND B.quarter = 4'''
sql = sql % (year, quarter, year)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 1
AND B.year = (2022-1) AND B.quarter = 4

In [22]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

49

In [23]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

In [24]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [25]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [26]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_24964/170999467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [27]:
final2.kind.value_counts()

0    3
1    2
Name: kind, dtype: int64

In [28]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

C:\Users\User\AppData\Local\Temp/ipykernel_24964/553347636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
C:\Users\User\AppData\Local\Temp/ipykernel_24964/553347636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)
C:\Users\User\AppData\Local\Temp/ipykernel_24964/553347636.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
C:\Users\User\AppData\Local\Temp/ipykernel_24964/553347636.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [29]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [30]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

C:\Users\User\AppData\Local\Temp/ipykernel_24964/462442401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [31]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

    name    mean_pct
2    RJH  165.473567
1    ASK   17.215996
4  SYNEX    8.976035
0  ASIAN    7.152502
3     TU   -0.090286

In [32]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_24964/714542820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [33]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

    name     std_pct
3     TU    9.565644
0  ASIAN   10.788211
1    ASK   15.262283
4  SYNEX   20.394735
2    RJH  142.098240

In [34]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

[['ASIAN',
  2022,
  1,
  0,
  1077825,
  928093,
  149732,
  16.13,
  1077825,
  1044316,
  33509,
  3.21,
  248348,
  214839,
  33509,
  15.597261204902276,
  265123,
  -16775,
  -6.3272518793163925,
  36,
  7.152502331396471,
  10.788211390768701],
 ['ASK',
  2022,
  1,
  1,
  1277644,
  958779,
  318865,
  33.26,
  1277644,
  1202804,
  74840,
  6.22,
  351037,
  276197,
  74840,
  27.096601338899408,
  343187,
  7850,
  2.2873826805793924,
  38,
  17.2159960048697,
  15.262283030266712],
 ['RJH',
  2022,
  1,
  1,
  1377891,
  436349,
  941542,
  215.78,
  1377891,
  1011958,
  365933,
  36.16,
  472562,
  106629,
  365933,
  343.1833741289893,
  283360,
  189202,
  66.77089215132693,
  399,
  165.47356657007907,
  142.09823994165967],
 ['TU',
  2022,
  1,
  0,
  7955627,
  7032761,
  922866,
  13.12,
  7955627,
  8012996,
  -57369,
  -0.72,
  1745525,
  1802894,
  -57369,
  -3.182050636365754,
  1930444,
  -184919,
  -9.579091649382214,
  582,
  -0.09028557143699256,
  9.565644030278722],
 ['SYNEX',
  2022,
  1,
  0,
  897329,
  695419,
  201910,
  29.03,
  897329,
  860192,
  37137,
  4.32,
  222285,
  185148,
  37137,
  20.058007647935703,
  269449,
  -47164,
  -17.503869006750815,
  495,
  8.976034660296222,
  20.394734680947945]]

In [35]:
final3.sort_values(['name'],ascending=[True])

,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,ASIAN,2022,1,0,1077825,928093,149732,16.13,1077825,1044316,...,248348,214839,33509,15.597261,265123,-16775,-6.327252,36,7.152502,10.788211
1,ASK,2022,1,1,1277644,958779,318865,33.26,1277644,1202804,...,351037,276197,74840,27.096601,343187,7850,2.287383,38,17.215996,15.262283
2,RJH,2022,1,1,1377891,436349,941542,215.78,1377891,1011958,...,472562,106629,365933,343.183374,283360,189202,66.770892,399,165.473567,142.098240
4,SYNEX,2022,1,0,897329,695419,201910,29.03,897329,860192,...,222285,185148,37137,20.058008,269449,-47164,-17.503869,495,8.976035,20.394735
3,TU,2022,1,0,7955627,7032761,922866,13.12,7955627,8012996,...,1745525,1802894,-57369,-3.182051,1930444,-184919,-9.579092,582,-0.090286,9.565644

In [36]:
sr = final3['name']
names = sr.values.tolist()
names

['ASIAN', 'ASK', 'RJH', 'TU', 'SYNEX']

In [37]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ASIAN', 'ASK', 'RJH', 'TU', 'SYNEX'"

In [38]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('ASIAN', 'ASK', 'RJH', 'TU', 'SYNEX')
AND year = 2022 AND quarter = 1

In [39]:
rp = conlt.execute(sql)
rp.rowcount

1

In [40]:
for rcd in rcds:
    print(rcd)

['ASIAN', 2022, 1, 0, 1077825, 928093, 149732, 16.13, 1077825, 1044316, 33509, 3.21, 248348, 214839, 33509, 15.597261204902276, 265123, -16775, -6.3272518793163925, 36, 7.152502331396471, 10.788211390768701]
['ASK', 2022, 1, 1, 1277644, 958779, 318865, 33.26, 1277644, 1202804, 74840, 6.22, 351037, 276197, 74840, 27.096601338899408, 343187, 7850, 2.2873826805793924, 38, 17.2159960048697, 15.262283030266712]
['RJH', 2022, 1, 1, 1377891, 436349, 941542, 215.78, 1377891, 1011958, 365933, 36.16, 472562, 106629, 365933, 343.1833741289893, 283360, 189202, 66.77089215132693, 399, 165.47356657007907, 142.09823994165967]
['TU', 2022, 1, 0, 7955627, 7032761, 922866, 13.12, 7955627, 8012996, -57369, -0.72, 1745525, 1802894, -57369, -3.182050636365754, 1930444, -184919, -9.579091649382214, 582, -0.09028557143699256, 9.565644030278722]
['SYNEX', 2022, 1, 0, 897329, 695419, 201910, 29.03, 897329, 860192, 37137, 4.32, 222285, 185148, 37137, 20.058007647935703, 269449, -47164, -17.503869006750815, 495, 8.976034660296222, 20.394734680947945]

In [41]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [42]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [43]:
print(final3.name)

0    ASIAN
1      ASK
2      RJH
3       TU
4    SYNEX
Name: name, dtype: object

In [44]:
sr = final3['name']
names = sr.values.tolist()
names

['ASIAN', 'ASK', 'RJH', 'TU', 'SYNEX']

In [45]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'ASIAN', 'ASK', 'RJH', 'TU', 'SYNEX'"

In [46]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('ASIAN', 'ASK', 'RJH', 'TU', 'SYNEX') AND year = 2022 AND quarter = 1

In [47]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2366,ASIAN,2022,1,0,1077825,928093,149732,16.13,1077825,...,248348,214839,33509,15.597261,265123,-16775,-6.327252,36,7.152502,10.788211
3,2370,SYNEX,2022,1,0,897329,695419,201910,29.03,897329,...,222285,185148,37137,20.058008,269449,-47164,-17.503869,495,8.976035,20.394735
4,2369,TU,2022,1,0,7955627,7032761,922866,13.12,7955627,...,1745525,1802894,-57369,-3.182051,1930444,-184919,-9.579092,582,-0.090286,9.565644
1,2367,ASK,2022,1,1,1277644,958779,318865,33.26,1277644,...,351037,276197,74840,27.096601,343187,7850,2.287383,38,17.215996,15.262283
2,2368,RJH,2022,1,1,1377891,436349,941542,215.78,1377891,...,472562,106629,365933,343.183374,283360,189202,66.770892,399,165.473567,142.098240

In [48]:
rcds = profits_inp.values.tolist()
len(rcds)

5

In [49]:
for rcd in rcds:
    print(rcd)

[2366, 'ASIAN', 2022, 1, 0, 1077825, 928093, 149732, 16.13, 1077825, 1044316, 33509, 3.21, 248348, 214839, 33509, 15.597261204902276, 265123, -16775, -6.3272518793163925, 36, 7.152502331396471, 10.788211390768701]
[2367, 'ASK', 2022, 1, 1, 1277644, 958779, 318865, 33.26, 1277644, 1202804, 74840, 6.22, 351037, 276197, 74840, 27.096601338899408, 343187, 7850, 2.2873826805793924, 38, 17.2159960048697, 15.262283030266712]
[2368, 'RJH', 2022, 1, 1, 1377891, 436349, 941542, 215.78, 1377891, 1011958, 365933, 36.16, 472562, 106629, 365933, 343.1833741289893, 283360, 189202, 66.77089215132693, 399, 165.47356657007907, 142.09823994165967]
[2370, 'SYNEX', 2022, 1, 0, 897329, 695419, 201910, 29.03, 897329, 860192, 37137, 4.32, 222285, 185148, 37137, 20.058007647935703, 269449, -47164, -17.503869006750815, 495, 8.976034660296222, 20.394734680947945]
[2369, 'TU', 2022, 1, 0, 7955627, 7032761, 922866, 13.12, 7955627, 8012996, -57369, -0.72, 1745525, 1802894, -57369, -3.182050636365754, 1930444, -184919, -9.579091649382214, 582, -0.09028557143699256, 9.565644030278722]

In [50]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [55]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [56]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['AMATA', 'ASIAN', 'ASK', 'BAM', 'BAY', 'BBL', 'BCH', 'BDMS', 'BH',
       'CHG', 'COM7', 'COTTO', 'DOHOME', 'EA', 'GLOBAL', 'GULF', 'JMART',
       'JMT', 'KBANK', 'KCE', 'KKP', 'KTB', 'KTC', 'MAKRO', 'MCS', 'MEGA',
       'MST', 'NER', 'ORI', 'PTL', 'PTT', 'PTTEP', 'RATCH', 'RBF', 'RCL',
       'RJH', 'SCB', 'SCGP', 'SENA', 'SINGER', 'SIS', 'SMPC', 'SNC', 'SPALI',
       'STARK', 'SVI', 'SYNEX', 'TISCO', 'TMT', 'TPIPL', 'TQM', 'TTB', 'TU',
       'VIBHA'],
      dtype='object', name='name')

### After call 150-Export-to-PortPg

In [57]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('ASIAN', 'ASK', 'RJH', 'TU', 'SYNEX') AND year = 2022 AND quarter = 1

In [58]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
4  ASIAN         40
3    ASK         42
2    RJH        404
1  SYNEX        504
0     TU        591

In [55]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('MST')
ORDER BY name

In [56]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

  name   id market
0  MST  298    SET