In [59]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 1
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2022-05-17'

In [60]:
#today = date(2022, 5, 13)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-05-17'

In [61]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [ ]:
names = ('XXX','YYY')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [62]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

### End of Normal Process

In [63]:
strqtr = "Q" + str(quarter)
strqtr

'Q1'

In [64]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

212

In [65]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [66]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [67]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.tail().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [68]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.tail().style.format(format_dict)

### Delete duplicated year and quarter

In [69]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [71]:
profits[profits['name'] == 'SSP'].style.format(format_dict)

In [72]:
criteria_1 = profits.latest_amt_y > 440000
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [73]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [74]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [75]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [77]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2
filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [78]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [79]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [80]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [81]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = (%s-1) AND B.quarter = 4'''
sql = sql % (year, quarter, year)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 1
AND B.year = (2022-1) AND B.quarter = 4

In [82]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

212

In [83]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [84]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
0,FORTH,775107,722765,52342,7.24,775107,550368,224739,40.83,2022,1,236559,184217,185957
2,SSP,970687,859011,111676,13.00,970687,702436,268251,38.19,2022,1,294767,183091,149054

In [85]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [86]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [87]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_19764/170999467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [88]:
final2.kind.value_counts()

1    2
Name: kind, dtype: int64

In [89]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

C:\Users\User\AppData\Local\Temp/ipykernel_19764/553347636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
C:\Users\User\AppData\Local\Temp/ipykernel_19764/553347636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)
C:\Users\User\AppData\Local\Temp/ipykernel_19764/553347636.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
C:\Users\User\AppData\Local\Temp/ipykernel_19764/553347636.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [90]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [91]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

C:\Users\User\AppData\Local\Temp/ipykernel_19764/462442401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [92]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

    name   mean_pct
2    SSP  52.485834
0  FORTH  25.923724

In [93]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_19764/714542820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [94]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

    name    std_pct
0  FORTH  13.894064
2    SSP  35.988524

In [95]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

[['FORTH',
  2022,
  1,
  1,
  775107,
  550368,
  224739,
  40.83,
  775107,
  722765,
  52342,
  7.24,
  236559,
  184217,
  52342,
  28.41323004934398,
  185957,
  50602,
  27.21166721338804,
  176,
  25.923724315683003,
  13.894064017737744],
 ['SSP',
  2022,
  1,
  1,
  970687,
  702436,
  268251,
  38.19,
  970687,
  859011,
  111676,
  13.0,
  294767,
  183091,
  111676,
  60.99480586156611,
  149054,
  145713,
  97.7585304654689,
  643,
  52.48583408175875,
  35.9885241145309]]

In [96]:
final3.sort_values(['name'],ascending=[True])

,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,FORTH,2022,1,1,775107,550368,224739,40.83,775107,722765,...,236559,184217,52342,28.413230,185957,50602,27.211667,176,25.923724,13.894064
1,SSP,2022,1,1,970687,702436,268251,38.19,970687,859011,...,294767,183091,111676,60.994806,149054,145713,97.758530,643,52.485834,35.988524

In [97]:
sr = final3['name']
names = sr.values.tolist()
names

['FORTH', 'SSP']

In [98]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'FORTH', 'SSP'"

In [99]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('FORTH', 'SSP')
AND year = 2022 AND quarter = 1

In [100]:
rp = conlt.execute(sql)
rp.rowcount

1

In [101]:
for rcd in rcds:
    print(rcd)

['FORTH', 2022, 1, 1, 775107, 550368, 224739, 40.83, 775107, 722765, 52342, 7.24, 236559, 184217, 52342, 28.41323004934398, 185957, 50602, 27.21166721338804, 176, 25.923724315683003, 13.894064017737744]
['SSP', 2022, 1, 1, 970687, 702436, 268251, 38.19, 970687, 859011, 111676, 13.0, 294767, 183091, 111676, 60.99480586156611, 149054, 145713, 97.7585304654689, 643, 52.48583408175875, 35.9885241145309]

In [102]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [103]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [104]:
print(final3.name)

0    FORTH
1      SSP
Name: name, dtype: object

In [105]:
sr = final3['name']
names = sr.values.tolist()
names

['FORTH', 'SSP']

In [106]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'FORTH', 'SSP'"

In [107]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('FORTH', 'SSP')
AND year = 2022 AND quarter = 1

In [108]:
rp = conmy.execute(sql)
rp.rowcount

1

In [109]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('FORTH', 'SSP') AND year = 2022 AND quarter = 1

In [110]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2442,FORTH,2022,1,1,775107,550368,224739,40.83,775107,...,236559,184217,52342,28.413230,185957,50602,27.211667,176,25.923724,13.894064
1,2443,SSP,2022,1,1,970687,702436,268251,38.19,970687,...,294767,183091,111676,60.994806,149054,145713,97.758530,643,52.485834,35.988524

In [111]:
rcds = profits_inp.values.tolist()
len(rcds)

2

In [112]:
for rcd in rcds:
    print(rcd)

[2442, 'FORTH', 2022, 1, 1, 775107, 550368, 224739, 40.83, 775107, 722765, 52342, 7.24, 236559, 184217, 52342, 28.41323004934398, 185957, 50602, 27.21166721338804, 176, 25.923724315683003, 13.894064017737744]
[2443, 'SSP', 2022, 1, 1, 970687, 702436, 268251, 38.19, 970687, 859011, 111676, 13.0, 294767, 183091, 111676, 60.99480586156611, 149054, 145713, 97.7585304654689, 643, 52.48583408175875, 35.9885241145309]

In [113]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [114]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [115]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['AIT', 'ASK', 'BAY', 'BBL', 'BCPG', 'BDMS', 'BH', 'BPP', 'COTTO',
       'ESSO', 'FORTH', 'GGC', 'GLOBAL', 'GULF', 'IVL', 'KBANK', 'KKP', 'KTB',
       'KTC', 'MEGA', 'MST', 'RBF', 'RCL', 'RJH', 'SCB', 'SINGER', 'SIS',
       'SMPC', 'SNC', 'SPRC', 'SSP', 'TISCO', 'TOP', 'TPIPL', 'TTB'],
      dtype='object', name='name')

### After call 150-Export-to-PortPg

In [116]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('FORTH', 'SSP') AND year = 2022 AND quarter = 1

In [117]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
0  FORTH        181

In [118]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('FORTH', 'SSP')
ORDER BY name

In [119]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id          market
0  FORTH  181             SET
1    SSP  486  sSET / SETCLMV