In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 1
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2022-05-10'

In [2]:
#today = date(2022, 5, 6)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-05-10'

In [3]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [ ]:
names = ('XXX','YYY')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [4]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

### End of Normal Process

In [5]:
strqtr = "Q" + str(quarter)
strqtr

'Q1'

In [6]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

70

In [7]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [8]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [9]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.tail().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [10]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.tail().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()

In [13]:
profits[profits['name'] == 'KCE'].style.format(format_dict)

In [14]:
criteria_1 = profits.latest_amt_y > 440000
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [15]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [16]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [17]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2
filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [18]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
#pre_final0 = filter.loc[[38,44,39,36,43,37,35],:]
#pre_final = pre_final0.drop(columns, axis=1)
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [19]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [20]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [21]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = (%s-1) AND B.quarter = 4'''
sql = sql % (year, quarter, year)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 1
AND B.year = (2022-1) AND B.quarter = 4

In [22]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

70

In [23]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

In [24]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [25]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [26]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_7812/170999467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [27]:
final2.kind.value_counts()

0    5
1    3
Name: kind, dtype: int64

In [28]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

C:\Users\User\AppData\Local\Temp/ipykernel_7812/553347636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
C:\Users\User\AppData\Local\Temp/ipykernel_7812/553347636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)
C:\Users\User\AppData\Local\Temp/ipykernel_7812/553347636.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
C:\Users\User\AppData\Local\Temp/ipykernel_7812/553347636.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [29]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [30]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

C:\Users\User\AppData\Local\Temp/ipykernel_7812/462442401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [31]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

    name    mean_pct
5    GGC  316.263862
0    BPP  240.699549
7   BCPG  182.184566
6    KCE   28.337366
4  SPALI   20.745102
3    NER   19.646785
2  MAKRO   13.696186
1   IRPC  -26.935818

In [32]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_7812/714542820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [33]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

    name     std_pct
3    NER   38.013762
1   IRPC   40.250385
6    KCE   55.121939
4  SPALI   61.113282
2  MAKRO   77.583811
7   BCPG  201.403914
5    GGC  272.547915
0    BPP  304.589555

In [34]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

[['BPP',
  2022,
  1,
  1,
  5011201,
  3761295,
  1249906,
  33.23,
  5011201,
  3127027,
  1884174,
  60.25,
  2918337,
  1034163,
  1884174,
  182.19313589830617,
  370759,
  2547578,
  687.1250596748831,
  74,
  240.69954889329733,
  304.58955467531655],
 ['IRPC',
  2022,
  1,
  0,
  10424504,
  8334403,
  2090101,
  25.08,
  10424504,
  14504624,
  -4080120,
  -28.13,
  1501085,
  5581205,
  -4080120,
  -73.10464317293489,
  2194204,
  -693119,
  -31.588630774531445,
  227,
  -26.93581848686658,
  40.250384997836214],
 ['MAKRO',
  2022,
  1,
  0,
  14003291,
  6615551,
  7387740,
  111.67,
  14003291,
  13686726,
  316565,
  2.31,
  2050309,
  1733744,
  316565,
  18.25903939681983,
  9094011,
  -7043702,
  -77.45429382040554,
  283,
  13.696186394103574,
  77.58381073382131],
 ['NER',
  2022,
  1,
  0,
  1952582,
  1165281,
  787301,
  67.56,
  1952582,
  1850190,
  102392,
  5.53,
  468890,
  366496,
  102394,
  27.93864053086528,
  604563,
  -135673,
  -22.4414990662677,
  680,
  19.6467853661494,
  38.0137620437653],
 ['SPALI',
  2022,
  1,
  0,
  7507057,
  4242353,
  3264704,
  76.96,
  7507057,
  7070321,
  436736,
  6.18,
  1177815,
  741079,
  436736,
  58.932448497393665,
  2879183,
  -1701368,
  -59.09204104080915,
  462,
  20.745101864146125,
  61.113282230219625],
 ['GGC',
  2022,
  1,
  1,
  722960,
  415739,
  307221,
  73.9,
  722960,
  330219,
  392741,
  118.93,
  486982,
  94241,
  392741,
  416.7411211680691,
  -87668,
  574650,
  655.4843272345668,
  188,
  316.26386210065897,
  272.54791526095204],
 ['KCE',
  2022,
  1,
  0,
  2512732,
  1205287,
  1307445,
  108.48,
  2512732,
  2426284,
  86448,
  3.56,
  589771,
  503323,
  86448,
  17.17545194636446,
  700990,
  -111219,
  -15.865989529094565,
  249,
  28.337365604317473,
  55.121939418372534],
 ['BCPG',
  2022,
  1,
  1,
  2850502,
  1861919,
  988583,
  53.09,
  2850502,
  2010821,
  839681,
  41.76,
  1363036,
  523355,
  839681,
  160.44195622474228,
  237692,
  1125344,
  473.44630866836076,
  53,
  182.18456622327577,
  201.40391383905316]]

In [35]:
final3.sort_values(['name'],ascending=[True])

,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
7,BCPG,2022,1,1,2850502,1861919,988583,53.09,2850502,2010821,...,1363036,523355,839681,160.441956,237692,1125344,473.446309,53,182.184566,201.403914
0,BPP,2022,1,1,5011201,3761295,1249906,33.23,5011201,3127027,...,2918337,1034163,1884174,182.193136,370759,2547578,687.125060,74,240.699549,304.589555
5,GGC,2022,1,1,722960,415739,307221,73.90,722960,330219,...,486982,94241,392741,416.741121,-87668,574650,655.484327,188,316.263862,272.547915
1,IRPC,2022,1,0,10424504,8334403,2090101,25.08,10424504,14504624,...,1501085,5581205,-4080120,-73.104643,2194204,-693119,-31.588631,227,-26.935818,40.250385
6,KCE,2022,1,0,2512732,1205287,1307445,108.48,2512732,2426284,...,589771,503323,86448,17.175452,700990,-111219,-15.865990,249,28.337366,55.121939
2,MAKRO,2022,1,0,14003291,6615551,7387740,111.67,14003291,13686726,...,2050309,1733744,316565,18.259039,9094011,-7043702,-77.454294,283,13.696186,77.583811
3,NER,2022,1,0,1952582,1165281,787301,67.56,1952582,1850190,...,468890,366496,102394,27.938641,604563,-135673,-22.441499,680,19.646785,38.013762
4,SPALI,2022,1,0,7507057,4242353,3264704,76.96,7507057,7070321,...,1177815,741079,436736,58.932448,2879183,-1701368,-59.092041,462,20.745102,61.113282

In [36]:
sr = final3['name']
names = sr.values.tolist()
names

['BPP', 'IRPC', 'MAKRO', 'NER', 'SPALI', 'GGC', 'KCE', 'BCPG']

In [37]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BPP', 'IRPC', 'MAKRO', 'NER', 'SPALI', 'GGC', 'KCE', 'BCPG'"

In [38]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('BPP', 'IRPC', 'MAKRO', 'NER', 'SPALI', 'GGC', 'KCE', 'BCPG')
AND year = 2022 AND quarter = 1

In [39]:
rp = conlt.execute(sql)
rp.rowcount

0

In [40]:
for rcd in rcds:
    print(rcd)

['BPP', 2022, 1, 1, 5011201, 3761295, 1249906, 33.23, 5011201, 3127027, 1884174, 60.25, 2918337, 1034163, 1884174, 182.19313589830617, 370759, 2547578, 687.1250596748831, 74, 240.69954889329733, 304.58955467531655]
['IRPC', 2022, 1, 0, 10424504, 8334403, 2090101, 25.08, 10424504, 14504624, -4080120, -28.13, 1501085, 5581205, -4080120, -73.10464317293489, 2194204, -693119, -31.588630774531445, 227, -26.93581848686658, 40.250384997836214]
['MAKRO', 2022, 1, 0, 14003291, 6615551, 7387740, 111.67, 14003291, 13686726, 316565, 2.31, 2050309, 1733744, 316565, 18.25903939681983, 9094011, -7043702, -77.45429382040554, 283, 13.696186394103574, 77.58381073382131]
['NER', 2022, 1, 0, 1952582, 1165281, 787301, 67.56, 1952582, 1850190, 102392, 5.53, 468890, 366496, 102394, 27.93864053086528, 604563, -135673, -22.4414990662677, 680, 19.6467853661494, 38.0137620437653]
['SPALI', 2022, 1, 0, 7507057, 4242353, 3264704, 76.96, 7507057, 7070321, 436736, 6.18, 1177815, 741079, 436736, 58.932448497393665, 2879183, -1701368, -59.09204104080915, 462, 20.745101864146125, 61.113282230219625]
['GGC', 2022, 1, 1, 722960, 415739, 307221, 73.9, 722960, 330219, 392741, 118.93, 486982, 94241, 392741, 416.7411211680691, -87668, 574650, 655.4843272345668, 188, 316.26386210065897, 272.54791526095204]
['KCE', 2022, 1, 0, 2512732, 1205287, 1307445, 108.48, 2512732, 2426284, 86448, 3.56, 589771, 503323, 86448, 17.17545194636446, 700990, -111219, -15.865989529094565, 249, 28.337365604317473, 55.121939418372534]
['BCPG', 2022, 1, 1, 2850502, 1861919, 988583, 53.09, 2850502, 2010821, 839681, 41.76, 1363036, 523355, 839681, 160.44195622474228, 237692, 1125344, 473.44630866836076, 53, 182.18456622327577, 201.40391383905316]

In [41]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [42]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [43]:
print(final3.name)

0      BPP
1     IRPC
2    MAKRO
3      NER
4    SPALI
5      GGC
6      KCE
7     BCPG
Name: name, dtype: object

In [44]:
sr = final3['name']
names = sr.values.tolist()
names

['BPP', 'IRPC', 'MAKRO', 'NER', 'SPALI', 'GGC', 'KCE', 'BCPG']

In [45]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'BPP', 'IRPC', 'MAKRO', 'NER', 'SPALI', 'GGC', 'KCE', 'BCPG'"

In [46]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BPP', 'IRPC', 'MAKRO', 'NER', 'SPALI', 'GGC', 'KCE', 'BCPG') AND year = 2022 AND quarter = 1

In [47]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
3,2372,IRPC,2022,1,0,10424504,8334403,2090101,25.08,10424504,...,1501085,5581205,-4080120,-73.104643,2194204,-693119,-31.588631,227,-26.935818,40.250385
4,2377,KCE,2022,1,0,2512732,1205287,1307445,108.48,2512732,...,589771,503323,86448,17.175452,700990,-111219,-15.865990,249,28.337366,55.121939
5,2373,MAKRO,2022,1,0,14003291,6615551,7387740,111.67,14003291,...,2050309,1733744,316565,18.259039,9094011,-7043702,-77.454294,283,13.696186,77.583811
6,2374,NER,2022,1,0,1952582,1165281,787301,67.56,1952582,...,468890,366496,102394,27.938641,604563,-135673,-22.441499,680,19.646785,38.013762
7,2375,SPALI,2022,1,0,7507057,4242353,3264704,76.96,7507057,...,1177815,741079,436736,58.932448,2879183,-1701368,-59.092041,462,20.745102,61.113282
0,2378,BCPG,2022,1,1,2850502,1861919,988583,53.09,2850502,...,1363036,523355,839681,160.441956,237692,1125344,473.446309,53,182.184566,201.403914
1,2371,BPP,2022,1,1,5011201,3761295,1249906,33.23,5011201,...,2918337,1034163,1884174,182.193136,370759,2547578,687.125060,74,240.699549,304.589555
2,2376,GGC,2022,1,1,722960,415739,307221,73.90,722960,...,486982,94241,392741,416.741121,-87668,574650,655.484327,188,316.263862,272.547915

In [48]:
rcds = profits_inp.values.tolist()
len(rcds)

8

In [49]:
for rcd in rcds:
    print(rcd)

[2378, 'BCPG', 2022, 1, 1, 2850502, 1861919, 988583, 53.09, 2850502, 2010821, 839681, 41.76, 1363036, 523355, 839681, 160.44195622474228, 237692, 1125344, 473.44630866836076, 53, 182.18456622327577, 201.40391383905316]
[2371, 'BPP', 2022, 1, 1, 5011201, 3761295, 1249906, 33.23, 5011201, 3127027, 1884174, 60.25, 2918337, 1034163, 1884174, 182.19313589830617, 370759, 2547578, 687.1250596748831, 74, 240.69954889329733, 304.58955467531655]
[2376, 'GGC', 2022, 1, 1, 722960, 415739, 307221, 73.9, 722960, 330219, 392741, 118.93, 486982, 94241, 392741, 416.7411211680691, -87668, 574650, 655.4843272345668, 188, 316.26386210065897, 272.54791526095204]
[2372, 'IRPC', 2022, 1, 0, 10424504, 8334403, 2090101, 25.08, 10424504, 14504624, -4080120, -28.13, 1501085, 5581205, -4080120, -73.10464317293489, 2194204, -693119, -31.588630774531445, 227, -26.93581848686658, 40.250384997836214]
[2377, 'KCE', 2022, 1, 0, 2512732, 1205287, 1307445, 108.48, 2512732, 2426284, 86448, 3.56, 589771, 503323, 86448, 17.17545194636446, 700990, -111219, -15.865989529094565, 249, 28.337365604317473, 55.121939418372534]
[2373, 'MAKRO', 2022, 1, 0, 14003291, 6615551, 7387740, 111.67, 14003291, 13686726, 316565, 2.31, 2050309, 1733744, 316565, 18.25903939681983, 9094011, -7043702, -77.45429382040554, 283, 13.696186394103574, 77.58381073382131]
[2374, 'NER', 2022, 1, 0, 1952582, 1165281, 787301, 67.56, 1952582, 1850190, 102392, 5.53, 468890, 366496, 102394, 27.93864053086528, 604563, -135673, -22.4414990662677, 680, 19.6467853661494, 38.0137620437653]
[2375, 'SPALI', 2022, 1, 0, 7507057, 4242353, 3264704, 76.96, 7507057, 7070321, 436736, 6.18, 1177815, 741079, 436736, 58.932448497393665, 2879183, -1701368, -59.09204104080915, 462, 20.745101864146125, 61.113282230219625]

In [50]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [51]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [52]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['AMATA', 'ASIAN', 'ASK', 'BAM', 'BAY', 'BBL', 'BCH', 'BCPG', 'BDMS',
       'BH', 'BPP', 'CHG', 'COM7', 'COTTO', 'DOHOME', 'EA', 'GGC', 'GLOBAL',
       'GULF', 'IRPC', 'JMART', 'JMT', 'KBANK', 'KCE', 'KKP', 'KTB', 'KTC',
       'MAKRO', 'MCS', 'MEGA', 'MST', 'NER', 'ORI', 'PTL', 'PTT', 'PTTEP',
       'RATCH', 'RBF', 'RCL', 'RJH', 'SCB', 'SCGP', 'SENA', 'SINGER', 'SIS',
       'SMPC', 'SNC', 'SPALI', 'STARK', 'SVI', 'SYNEX', 'TISCO', 'TMT',
       'TPIPL', 'TQM', 'TTB', 'TU', 'VIBHA'],
      dtype='object', name='name')

### After call 150-Export-to-PortPg

In [57]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BPP', 'IRPC', 'MAKRO', 'NER', 'SPALI', 'GGC', 'KCE', 'BCPG') AND year = 2022 AND quarter = 1

In [58]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
7   BCPG         57
6    BPP         78
5    GGC        193
4   IRPC        234
3    KCE        256
2  MAKRO        291
1    NER        649
0  SPALI        470

In [59]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('BPP', 'IRPC', 'MAKRO', 'NER', 'SPALI', 'GGC', 'KCE', 'BCPG')
ORDER BY name

In [60]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id                              market
0   BCPG   57  SET100 / SETCLMV / SETHD / SETTHSI
1    BPP   78  SET100 / SETCLMV / SETHD / SETTHSI
2    GGC  193                                sSET
3   IRPC  234           SET50 / SETCLMV / SETTHSI
4    KCE  256                               SET50
5  MAKRO  291                                 SET
6    NER  649                                sSET
7  SPALI  470                      SET100 / SETHD