In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 1
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2022-05-14'

In [2]:
today = date(2022, 5, 13)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-05-13'

In [3]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [ ]:
names = ('XXX','YYY')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [4]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

### End of Normal Process

In [5]:
strqtr = "Q" + str(quarter)
strqtr

'Q1'

In [6]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

193

In [7]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [8]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [9]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.tail().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [10]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.tail().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
profits[profits['name'] == 'MEGA'].style.format(format_dict)

In [13]:
criteria_1 = profits.latest_amt_y > 440000
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [14]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [15]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [16]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [20]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2
filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [21]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [22]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [23]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [24]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = (%s-1) AND B.quarter = 4'''
sql = sql % (year, quarter, year)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 1
AND B.year = (2022-1) AND B.quarter = 4

In [25]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

193

In [26]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

In [27]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [28]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [29]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_15428/170999467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [30]:
final2.kind.value_counts()

0    9
1    3
Name: kind, dtype: int64

In [31]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

C:\Users\User\AppData\Local\Temp/ipykernel_15428/553347636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
C:\Users\User\AppData\Local\Temp/ipykernel_15428/553347636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)
C:\Users\User\AppData\Local\Temp/ipykernel_15428/553347636.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
C:\Users\User\AppData\Local\Temp/ipykernel_15428/553347636.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [32]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [33]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

C:\Users\User\AppData\Local\Temp/ipykernel_15428/462442401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [34]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

      name    mean_pct
3      BCH  273.478592
0      CHG  225.852891
2      RCL  151.946296
10   VIBHA  109.689731
11     WHA   90.245748
7    AMATA   66.214997
5    TPIPL   66.099006
8     MEGA   45.143561
9    STARK   15.190973
6   AIMIRT   14.721541
1      JMT   11.214309
4     SENA    7.347275

In [35]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_15428/714542820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [36]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

      name     std_pct
6   AIMIRT   18.960941
1      JMT   25.729800
8     MEGA   32.124887
4     SENA   39.670510
9    STARK   42.378798
5    TPIPL   77.665167
7    AMATA   95.461320
10   VIBHA  158.473063
2      RCL  181.430648
11     WHA  202.219407
0      CHG  261.202005
3      BCH  312.740027

In [37]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

[['CHG',
  2022,
  1,
  0,
  5308685,
  941917,
  4366768,
  463.6,
  5308685,
  4204072,
  1104613,
  26.27,
  1356398,
  251785,
  1104613,
  438.71279067458346,
  1812669,
  -456271,
  -25.17122541401657,
  98,
  225.85289131514173,
  261.2020049238311],
 ['JMT',
  2022,
  1,
  0,
  1484503,
  1123058,
  361445,
  32.18,
  1484503,
  1400374,
  84129,
  6.01,
  366955,
  282826,
  84129,
  29.745850805795786,
  477052,
  -110097,
  -23.078616167629527,
  237,
  11.214308659541564,
  25.729799775924914],
 ['RCL',
  2022,
  1,
  1,
  23253733,
  4674119,
  18579614,
  397.5,
  23253733,
  17972751,
  5280982,
  29.38,
  8222560,
  2941578,
  5280982,
  179.52887871747748,
  8110929,
  111631,
  1.3763035035814024,
  396,
  151.94629555526473,
  181.4306478823403],
 ['BCH',
  2022,
  1,
  0,
  8550561,
  1294039,
  7256522,
  560.77,
  8550561,
  6846002,
  1704559,
  24.9,
  2028333,
  323774,
  1704559,
  526.4656828528541,
  2480271,
  -451938,
  -18.2213153320746,
  51,
  273.47859188019487,
  312.7400270656423],
 ['SENA',
  2022,
  1,
  0,
  1357441,
  1118457,
  238984,
  21.37,
  1357441,
  1250415,
  107026,
  8.56,
  336344,
  229318,
  107026,
  46.671434427301826,
  637164,
  -300820,
  -47.21233465795305,
  437,
  7.347274942337194,
  39.67050978179847],
 ['TPIPL',
  2022,
  1,
  1,
  6306180,
  2259219,
  4046961,
  179.13,
  6306180,
  5670534,
  635646,
  11.21,
  1800127,
  1164481,
  635646,
  54.58620621547282,
  1506763,
  293364,
  19.469817084704097,
  559,
  66.09900582504423,
  77.66516679969435],
 ['AIMIRT',
  2022,
  1,
  0,
  524978,
  424083,
  100895,
  23.79,
  524978,
  487775,
  37203,
  7.63,
  142120,
  104917,
  37203,
  35.45945842904391,
  154467,
  -12347,
  -7.993293065832832,
  669,
  14.72154134080277,
  18.960940626469675],
 ['AMATA',
  2022,
  1,
  0,
  1770024,
  1066702,
  703322,
  65.93,
  1770024,
  1402287,
  367737,
  26.22,
  553466,
  185729,
  367737,
  197.99654335079606,
  740785,
  -187319,
  -25.286554128390833,
  21,
  66.2149973056013,
  95.46131996054486],
 ['MEGA',
  2022,
  1,
  1,
  2227269,
  1406222,
  821047,
  58.39,
  2227269,
  1946825,
  280444,
  14.41,
  613992,
  333548,
  280444,
  84.07905308981016,
  496375,
  117617,
  23.695190128431125,
  295,
  45.14356080456032,
  32.12488690118341],
 ['STARK',
  2022,
  1,
  0,
  2914824,
  1785803,
  1129021,
  63.22,
  2914824,
  2783108,
  131716,
  4.73,
  569792,
  438076,
  131716,
  30.06692902601375,
  908079,
  -338287,
  -37.253036354766486,
  735,
  15.190973167811817,
  42.37879806209778],
 ['VIBHA',
  2022,
  1,
  0,
  2067863,
  490651,
  1577212,
  321.45,
  2067863,
  1805051,
  262812,
  14.56,
  454710,
  191898,
  262812,
  136.95400681612108,
  691102,
  -236392,
  -34.205081160233945,
  610,
  109.68973141397178,
  158.4730628524306],
 ['WHA',
  2022,
  1,
  0,
  3111433,
  2559208,
  552225,
  21.58,
  3111433,
  2590071,
  521362,
  20.13,
  656070,
  134708,
  521362,
  387.03120824301453,
  2034844,
  -1378774,
  -67.75821635466896,
  619,
  90.24574797208639,
  202.21940661028594]]

In [38]:
final3.sort_values(['name'],ascending=[True])

,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
6,AIMIRT,2022,1,0,524978,424083,100895,23.79,524978,487775,...,142120,104917,37203,35.459458,154467,-12347,-7.993293,669,14.721541,18.960941
7,AMATA,2022,1,0,1770024,1066702,703322,65.93,1770024,1402287,...,553466,185729,367737,197.996543,740785,-187319,-25.286554,21,66.214997,95.461320
3,BCH,2022,1,0,8550561,1294039,7256522,560.77,8550561,6846002,...,2028333,323774,1704559,526.465683,2480271,-451938,-18.221315,51,273.478592,312.740027
0,CHG,2022,1,0,5308685,941917,4366768,463.60,5308685,4204072,...,1356398,251785,1104613,438.712791,1812669,-456271,-25.171225,98,225.852891,261.202005
1,JMT,2022,1,0,1484503,1123058,361445,32.18,1484503,1400374,...,366955,282826,84129,29.745851,477052,-110097,-23.078616,237,11.214309,25.729800
8,MEGA,2022,1,1,2227269,1406222,821047,58.39,2227269,1946825,...,613992,333548,280444,84.079053,496375,117617,23.695190,295,45.143561,32.124887
2,RCL,2022,1,1,23253733,4674119,18579614,397.50,23253733,17972751,...,8222560,2941578,5280982,179.528879,8110929,111631,1.376304,396,151.946296,181.430648
4,SENA,2022,1,0,1357441,1118457,238984,21.37,1357441,1250415,...,336344,229318,107026,46.671434,637164,-300820,-47.212335,437,7.347275,39.670510
9,STARK,2022,1,0,2914824,1785803,1129021,63.22,2914824,2783108,...,569792,438076,131716,30.066929,908079,-338287,-37.253036,735,15.190973,42.378798
5,TPIPL,2022,1,1,6306180,2259219,4046961,179.13,6306180,5670534,...,1800127,1164481,635646,54.586206,1506763,293364,19.469817,559,66.099006,77.665167
10,VIBHA,2022,1,0,2067863,490651,1577212,321.45,2067863,1805051,...,454710,191898,262812,136.954007,691102,-236392,-34.205081,610,109.689731,158.473063
11,WHA,2022,1,0,3111433,2559208,552225,21.58,3111433,2590071,...,656070,134708,521362,387.031208,2034844,-1378774,-67.758216,619,90.245748,202.219407

In [39]:
sr = final3['name']
names = sr.values.tolist()
names

['CHG',
 'JMT',
 'RCL',
 'BCH',
 'SENA',
 'TPIPL',
 'AIMIRT',
 'AMATA',
 'MEGA',
 'STARK',
 'VIBHA',
 'WHA']

In [40]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'CHG', 'JMT', 'RCL', 'BCH', 'SENA', 'TPIPL', 'AIMIRT', 'AMATA', 'MEGA', 'STARK', 'VIBHA', 'WHA'"

In [41]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('CHG', 'JMT', 'RCL', 'BCH', 'SENA', 'TPIPL', 'AIMIRT', 'AMATA', 'MEGA', 'STARK', 'VIBHA', 'WHA')
AND year = 2022 AND quarter = 1

In [42]:
rp = conlt.execute(sql)
rp.rowcount

6

In [43]:
for rcd in rcds:
    print(rcd)

['CHG', 2022, 1, 0, 5308685, 941917, 4366768, 463.6, 5308685, 4204072, 1104613, 26.27, 1356398, 251785, 1104613, 438.71279067458346, 1812669, -456271, -25.17122541401657, 98, 225.85289131514173, 261.2020049238311]
['JMT', 2022, 1, 0, 1484503, 1123058, 361445, 32.18, 1484503, 1400374, 84129, 6.01, 366955, 282826, 84129, 29.745850805795786, 477052, -110097, -23.078616167629527, 237, 11.214308659541564, 25.729799775924914]
['RCL', 2022, 1, 1, 23253733, 4674119, 18579614, 397.5, 23253733, 17972751, 5280982, 29.38, 8222560, 2941578, 5280982, 179.52887871747748, 8110929, 111631, 1.3763035035814024, 396, 151.94629555526473, 181.4306478823403]
['BCH', 2022, 1, 0, 8550561, 1294039, 7256522, 560.77, 8550561, 6846002, 1704559, 24.9, 2028333, 323774, 1704559, 526.4656828528541, 2480271, -451938, -18.2213153320746, 51, 273.47859188019487, 312.7400270656423]
['SENA', 2022, 1, 0, 1357441, 1118457, 238984, 21.37, 1357441, 1250415, 107026, 8.56, 336344, 229318, 107026, 46.671434427301826, 637164, -300820, -47.21233465795305, 437, 7.347274942337194, 39.67050978179847]
['TPIPL', 2022, 1, 1, 6306180, 2259219, 4046961, 179.13, 6306180, 5670534, 635646, 11.21, 1800127, 1164481, 635646, 54.58620621547282, 1506763, 293364, 19.469817084704097, 559, 66.09900582504423, 77.66516679969435]
['AIMIRT', 2022, 1, 0, 524978, 424083, 100895, 23.79, 524978, 487775, 37203, 7.63, 142120, 104917, 37203, 35.45945842904391, 154467, -12347, -7.993293065832832, 669, 14.72154134080277, 18.960940626469675]
['AMATA', 2022, 1, 0, 1770024, 1066702, 703322, 65.93, 1770024, 1402287, 367737, 26.22, 553466, 185729, 367737, 197.99654335079606, 740785, -187319, -25.286554128390833, 21, 66.2149973056013, 95.46131996054486]
['MEGA', 2022, 1, 1, 2227269, 1406222, 821047, 58.39, 2227269, 1946825, 280444, 14.41, 613992, 333548, 280444, 84.07905308981016, 496375, 117617, 23.695190128431125, 295, 45.14356080456032, 32.12488690118341]
['STARK', 2022, 1, 0, 2914824, 1785803, 1129021, 63.22, 2914824, 2783108, 131716, 4.73, 569792, 438076, 131716, 30.06692902601375, 908079, -338287, -37.253036354766486, 735, 15.190973167811817, 42.37879806209778]
['VIBHA', 2022, 1, 0, 2067863, 490651, 1577212, 321.45, 2067863, 1805051, 262812, 14.56, 454710, 191898, 262812, 136.95400681612108, 691102, -236392, -34.205081160233945, 610, 109.68973141397178, 158.4730628524306]
['WHA', 2022, 1, 0, 3111433, 2559208, 552225, 21.58, 3111433, 2590071, 521362, 20.13, 656070, 134708, 521362, 387.03120824301453, 2034844, -1378774, -67.75821635466896, 619, 90.24574797208639, 202.21940661028594]

In [44]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [45]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [46]:
print(final3.name)

0        CHG
1        JMT
2        RCL
3        BCH
4       SENA
5      TPIPL
6     AIMIRT
7      AMATA
8       MEGA
9      STARK
10     VIBHA
11       WHA
Name: name, dtype: object

In [47]:
sr = final3['name']
names = sr.values.tolist()
names

['CHG',
 'JMT',
 'RCL',
 'BCH',
 'SENA',
 'TPIPL',
 'AIMIRT',
 'AMATA',
 'MEGA',
 'STARK',
 'VIBHA',
 'WHA']

In [48]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'CHG', 'JMT', 'RCL', 'BCH', 'SENA', 'TPIPL', 'AIMIRT', 'AMATA', 'MEGA', 'STARK', 'VIBHA', 'WHA'"

In [49]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('CHG', 'JMT', 'RCL', 'BCH', 'SENA', 'TPIPL', 'AIMIRT', 'AMATA', 'MEGA', 'STARK', 'VIBHA', 'WHA')
AND year = 2022 AND quarter = 1

In [50]:
rp = conmy.execute(sql)
rp.rowcount

6

In [51]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('CHG', 'JMT', 'RCL', 'BCH', 'SENA', 'TPIPL', 'AIMIRT', 'AMATA', 'MEGA', 'STARK', 'VIBHA', 'WHA') AND year = 2022 AND quarter = 1

In [52]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2435,AIMIRT,2022,1,0,524978,424083,100895,23.79,524978,...,142120,104917,37203,35.459458,154467,-12347,-7.993293,669,14.721541,18.960941
1,2436,AMATA,2022,1,0,1770024,1066702,703322,65.93,1770024,...,553466,185729,367737,197.996543,740785,-187319,-25.286554,21,66.214997,95.461320
2,2432,BCH,2022,1,0,8550561,1294039,7256522,560.77,8550561,...,2028333,323774,1704559,526.465683,2480271,-451938,-18.221315,51,273.478592,312.740027
3,2429,CHG,2022,1,0,5308685,941917,4366768,463.60,5308685,...,1356398,251785,1104613,438.712791,1812669,-456271,-25.171225,98,225.852891,261.202005
4,2430,JMT,2022,1,0,1484503,1123058,361445,32.18,1484503,...,366955,282826,84129,29.745851,477052,-110097,-23.078616,237,11.214309,25.729800
7,2433,SENA,2022,1,0,1357441,1118457,238984,21.37,1357441,...,336344,229318,107026,46.671434,637164,-300820,-47.212335,437,7.347275,39.670510
8,2438,STARK,2022,1,0,2914824,1785803,1129021,63.22,2914824,...,569792,438076,131716,30.066929,908079,-338287,-37.253036,735,15.190973,42.378798
10,2439,VIBHA,2022,1,0,2067863,490651,1577212,321.45,2067863,...,454710,191898,262812,136.954007,691102,-236392,-34.205081,610,109.689731,158.473063
11,2440,WHA,2022,1,0,3111433,2559208,552225,21.58,3111433,...,656070,134708,521362,387.031208,2034844,-1378774,-67.758216,619,90.245748,202.219407
5,2437,MEGA,2022,1,1,2227269,1406222,821047,58.39,2227269,...,613992,333548,280444,84.079053,496375,117617,23.695190,295,45.143561,32.124887
6,2431,RCL,2022,1,1,23253733,4674119,18579614,397.50,23253733,...,8222560,2941578,5280982,179.528879,8110929,111631,1.376304,396,151.946296,181.430648
9,2434,TPIPL,2022,1,1,6306180,2259219,4046961,179.13,6306180,...,1800127,1164481,635646,54.586206,1506763,293364,19.469817,559,66.099006,77.665167

In [53]:
rcds = profits_inp.values.tolist()
len(rcds)

12

In [54]:
for rcd in rcds:
    print(rcd)

[2435, 'AIMIRT', 2022, 1, 0, 524978, 424083, 100895, 23.79, 524978, 487775, 37203, 7.63, 142120, 104917, 37203, 35.45945842904391, 154467, -12347, -7.993293065832832, 669, 14.72154134080277, 18.960940626469675]
[2436, 'AMATA', 2022, 1, 0, 1770024, 1066702, 703322, 65.93, 1770024, 1402287, 367737, 26.22, 553466, 185729, 367737, 197.99654335079606, 740785, -187319, -25.286554128390833, 21, 66.2149973056013, 95.46131996054486]
[2432, 'BCH', 2022, 1, 0, 8550561, 1294039, 7256522, 560.77, 8550561, 6846002, 1704559, 24.9, 2028333, 323774, 1704559, 526.4656828528541, 2480271, -451938, -18.2213153320746, 51, 273.47859188019487, 312.7400270656423]
[2429, 'CHG', 2022, 1, 0, 5308685, 941917, 4366768, 463.6, 5308685, 4204072, 1104613, 26.27, 1356398, 251785, 1104613, 438.71279067458346, 1812669, -456271, -25.17122541401657, 98, 225.85289131514173, 261.2020049238311]
[2430, 'JMT', 2022, 1, 0, 1484503, 1123058, 361445, 32.18, 1484503, 1400374, 84129, 6.01, 366955, 282826, 84129, 29.745850805795786, 477052, -110097, -23.078616167629527, 237, 11.214308659541564, 25.729799775924914]
[2437, 'MEGA', 2022, 1, 1, 2227269, 1406222, 821047, 58.39, 2227269, 1946825, 280444, 14.41, 613992, 333548, 280444, 84.07905308981016, 496375, 117617, 23.695190128431125, 295, 45.14356080456032, 32.12488690118341]
[2431, 'RCL', 2022, 1, 1, 23253733, 4674119, 18579614, 397.5, 23253733, 17972751, 5280982, 29.38, 8222560, 2941578, 5280982, 179.52887871747748, 8110929, 111631, 1.3763035035814024, 396, 151.94629555526473, 181.4306478823403]
[2433, 'SENA', 2022, 1, 0, 1357441, 1118457, 238984, 21.37, 1357441, 1250415, 107026, 8.56, 336344, 229318, 107026, 46.671434427301826, 637164, -300820, -47.21233465795305, 437, 7.347274942337194, 39.67050978179847]
[2438, 'STARK', 2022, 1, 0, 2914824, 1785803, 1129021, 63.22, 2914824, 2783108, 131716, 4.73, 569792, 438076, 131716, 30.06692902601375, 908079, -338287, -37.253036354766486, 735, 15.190973167811817, 42.37879806209778]
[2434, 'TPIPL', 2022, 1, 1, 6306180, 2259219, 4046961, 179.13, 6306180, 5670534, 635646, 11.21, 1800127, 1164481, 635646, 54.58620621547282, 1506763, 293364, 19.469817084704097, 559, 66.09900582504423, 77.66516679969435]
[2439, 'VIBHA', 2022, 1, 0, 2067863, 490651, 1577212, 321.45, 2067863, 1805051, 262812, 14.56, 454710, 191898, 262812, 136.95400681612108, 691102, -236392, -34.205081160233945, 610, 109.68973141397178, 158.4730628524306]
[2440, 'WHA', 2022, 1, 0, 3111433, 2559208, 552225, 21.58, 3111433, 2590071, 521362, 20.13, 656070, 134708, 521362, 387.03120824301453, 2034844, -1378774, -67.75821635466896, 619, 90.24574797208639, 202.21940661028594]

In [55]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [56]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [57]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['ACE', 'AIMIRT', 'AIT', 'AMATA', 'ASIAN', 'ASK', 'BAM', 'BAY', 'BBL',
       'BCH', 'BCPG', 'BDMS', 'BH', 'BPP', 'CHG', 'COM7', 'COTTO', 'DOHOME',
       'ESSO', 'GGC', 'GLOBAL', 'GULF', 'ICHI', 'IRPC', 'IVL', 'JMT', 'KBANK',
       'KCE', 'KKP', 'KTB', 'KTC', 'MAKRO', 'MCS', 'MEGA', 'MST', 'NER', 'PTL',
       'PTTEP', 'PTTGC', 'RBF', 'RCL', 'RJH', 'SCB', 'SCGP', 'SENA', 'SGP',
       'SINGER', 'SIS', 'SMPC', 'SNC', 'SPALI', 'SPRC', 'STARK', 'SVI',
       'SYNEX', 'TCAP', 'TISCO', 'TMT', 'TOP', 'TPIPL', 'TQM', 'TTB', 'TU',
       'VIBHA', 'WHA'],
      dtype='object', name='name')

### After call 150-Export-to-PortPg

In [58]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('CHG', 'JMT', 'RCL', 'BCH', 'SENA', 'TPIPL', 'AIMIRT', 'AMATA', 'MEGA', 'STARK', 'VIBHA', 'WHA') AND year = 2022 AND quarter = 1

In [59]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

      name  ticker_id
11  AIMIRT         13
10   AMATA         24
9      BCH         55
8      CHG        101
7      JMT        245
6     MEGA        303
5      RCL        401
4     SENA        443
3    STARK        712
2    TPIPL        568
1    VIBHA        619
0      WHA        628

In [60]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('CHG', 'JMT', 'RCL', 'BCH', 'SENA', 'TPIPL', 'AIMIRT', 'AMATA', 'MEGA', 'STARK', 'VIBHA', 'WHA')
ORDER BY name

In [61]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

      name   id                      market
0   AIMIRT   13                         SET
1    AMATA   24  SET100 / SETCLMV / SETTHSI
2      BCH   55              SET100 / SETWB
3      CHG  101              SET100 / SETWB
4      JMT  245                      SET100
5     MEGA  303    SET100 / SETCLMV / SETWB
6      RCL  401            SET100 / SETCLMV
7     SENA  443                        sSET
8    STARK  712            SET100 / SETCLMV
9    TPIPL  568                         SET
10   VIBHA  619                       SETWB
11     WHA  628    SET100 / SETHD / SETTHSI