In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 1
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2022-05-11'

In [2]:
#today = date(2022, 5, 6)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-05-11'

In [3]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [ ]:
names = ('XXX','YYY')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [4]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

### End of Normal Process

In [5]:
strqtr = "Q" + str(quarter)
strqtr

'Q1'

In [6]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

106

In [7]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [8]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [9]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.tail().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [10]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.tail().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()

In [13]:
profits[profits['name'] == 'SINGER'].style.format(format_dict)

In [14]:
criteria_1 = profits.latest_amt_y > 440000
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [15]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [16]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [17]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2
filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [18]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
#pre_final0 = filter.loc[[38,44,39,36,43,37,35],:]
#pre_final = pre_final0.drop(columns, axis=1)
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [19]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [20]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [21]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = (%s-1) AND B.quarter = 4'''
sql = sql % (year, quarter, year)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 1
AND B.year = (2022-1) AND B.quarter = 4

In [22]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

106

In [23]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

In [24]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [25]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [26]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_4948/170999467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [27]:
final2.kind.value_counts()

1    6
0    6
Name: kind, dtype: int64

In [28]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

C:\Users\User\AppData\Local\Temp/ipykernel_4948/553347636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
C:\Users\User\AppData\Local\Temp/ipykernel_4948/553347636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)
C:\Users\User\AppData\Local\Temp/ipykernel_4948/553347636.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
C:\Users\User\AppData\Local\Temp/ipykernel_4948/553347636.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [29]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [30]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

C:\Users\User\AppData\Local\Temp/ipykernel_4948/462442401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [31]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

      name   mean_pct
3     BDMS  70.525416
1     SMPC  59.230000
5      SNC  57.375765
6      TOP  51.402570
4      SVI  45.209073
0   SINGER  30.503313
7    PTTGC  18.102198
11    TCAP   1.697995
9      ACE  -2.493306
10     SGP  -3.665125
8     ICHI  -7.168272
2      TMT -15.791387

In [32]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_4948/714542820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [33]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

      name    std_pct
9      ACE  12.523578
8     ICHI  14.131980
10     SGP  18.587753
0   SINGER  28.565942
5      SNC  30.119297
11    TCAP  38.786601
6      TOP  42.716314
2      TMT  48.171922
3     BDMS  60.686988
1     SMPC  65.328881
7    PTTGC  71.515659
4      SVI  88.151489

In [34]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

[['SINGER',
  2022,
  1,
  1,
  775886,
  496524,
  279362,
  56.26,
  775886,
  700592,
  75294,
  10.75,
  215414,
  140120,
  75294,
  53.735369683128745,
  212717,
  2697,
  1.267881739588279,
  446,
  30.50331285567925,
  28.56594241634785],
 ['SMPC',
  2022,
  1,
  1,
  902756,
  586969,
  315787,
  53.8,
  902756,
  727778,
  174978,
  24.04,
  289552,
  114574,
  174978,
  152.72051250720057,
  272239,
  17313,
  6.359485599050833,
  455,
  59.22999952656285,
  65.32888136671762],
 ['TMT',
  2022,
  1,
  0,
  1233848,
  837567,
  396281,
  47.31,
  1233848,
  1530060,
  -296212,
  -19.36,
  126938,
  423150,
  -296212,
  -70.00165425971878,
  160913,
  -33975,
  -21.113893843256914,
  545,
  -15.791387025743923,
  48.17192195852335],
 ['BDMS',
  2022,
  1,
  1,
  10040447,
  5984852,
  4055595,
  67.76,
  10040447,
  7936077,
  2104370,
  26.52,
  3443034,
  1338664,
  2104370,
  157.19926732921778,
  2635868,
  807166,
  30.622398390207707,
  54,
  70.52541642985636,
  60.68698784636031],
 ['SVI',
  2022,
  1,
  0,
  1521472,
  608053,
  913419,
  150.22,
  1521472,
  1407622,
  113850,
  8.09,
  262003,
  148153,
  113850,
  76.84623328585988,
  573561,
  -311558,
  -54.3199415580906,
  491,
  45.20907293194232,
  88.15148896385973],
 ['SNC',
  2022,
  1,
  1,
  765084,
  434356,
  330728,
  76.14,
  765084,
  636352,
  128732,
  20.23,
  277001,
  148269,
  128732,
  86.82327391430441,
  189325,
  87676,
  46.30978476165325,
  457,
  57.37576466898942,
  30.119296541497377],
 ['TOP',
  2022,
  1,
  1,
  16400690,
  13813092,
  2587598,
  18.73,
  16400690,
  12578026,
  3822664,
  30.39,
  7182668,
  3360004,
  3822664,
  113.7696264647304,
  5032676,
  2149992,
  42.720651995081745,
  555,
  51.40256961495303,
  42.71631367026261],
 ['PTTGC',
  2022,
  1,
  1,
  39499189,
  18678590,
  20820599,
  111.47,
  39499189,
  44982388,
  -5483199,
  -12.19,
  4211669,
  9694868,
  -5483199,
  -56.557747872379494,
  3247576,
  964093,
  29.686541592868032,
  385,
  18.102198430122137,
  71.51565852810758],
 ['ICHI',
  2022,
  1,
  0,
  529124,
  477912,
  51212,
  10.72,
  529124,
  546771,
  -17647,
  -3.23,
  103930,
  121577,
  -17647,
  -14.515080977487518,
  132645,
  -28715,
  -21.64800784047646,
  216,
  -7.168272204490995,
  14.131980442170134],
 ['ACE',
  2022,
  1,
  0,
  1468062,
  1274421,
  193641,
  15.19,
  1468062,
  1505681,
  -37619,
  -2.5,
  322711,
  360330,
  -37619,
  -10.440152082812977,
  367649,
  -44938,
  -12.22307146218268,
  698,
  -2.4933058862489146,
  12.523578489024544],
 ['SGP',
  2022,
  1,
  0,
  3475743,
  2908691,
  567052,
  19.5,
  3475743,
  3808509,
  -332766,
  -8.74,
  989290,
  1322056,
  -332766,
  -25.1703407419958,
  991771,
  -2481,
  -0.2501585547470132,
  441,
  -3.6651248241857037,
  18.587752889678356],
 ['TCAP',
  2022,
  1,
  0,
  5245504,
  3431567,
  1813937,
  52.86,
  5245504,
  5287180,
  -41676,
  -0.79,
  1036445,
  1078121,
  -41676,
  -3.865614341989443,
  1769052,
  -732607,
  -41.41240619269529,
  503,
  1.6979948663288162,
  38.78660127176852]]

In [35]:
final3.sort_values(['name'],ascending=[True])

,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
9,ACE,2022,1,0,1468062,1274421,193641,15.19,1468062,1505681,...,322711,360330,-37619,-10.440152,367649,-44938,-12.223071,698,-2.493306,12.523578
3,BDMS,2022,1,1,10040447,5984852,4055595,67.76,10040447,7936077,...,3443034,1338664,2104370,157.199267,2635868,807166,30.622398,54,70.525416,60.686988
8,ICHI,2022,1,0,529124,477912,51212,10.72,529124,546771,...,103930,121577,-17647,-14.515081,132645,-28715,-21.648008,216,-7.168272,14.131980
7,PTTGC,2022,1,1,39499189,18678590,20820599,111.47,39499189,44982388,...,4211669,9694868,-5483199,-56.557748,3247576,964093,29.686542,385,18.102198,71.515659
10,SGP,2022,1,0,3475743,2908691,567052,19.50,3475743,3808509,...,989290,1322056,-332766,-25.170341,991771,-2481,-0.250159,441,-3.665125,18.587753
0,SINGER,2022,1,1,775886,496524,279362,56.26,775886,700592,...,215414,140120,75294,53.735370,212717,2697,1.267882,446,30.503313,28.565942
1,SMPC,2022,1,1,902756,586969,315787,53.80,902756,727778,...,289552,114574,174978,152.720513,272239,17313,6.359486,455,59.230000,65.328881
5,SNC,2022,1,1,765084,434356,330728,76.14,765084,636352,...,277001,148269,128732,86.823274,189325,87676,46.309785,457,57.375765,30.119297
4,SVI,2022,1,0,1521472,608053,913419,150.22,1521472,1407622,...,262003,148153,113850,76.846233,573561,-311558,-54.319942,491,45.209073,88.151489
11,TCAP,2022,1,0,5245504,3431567,1813937,52.86,5245504,5287180,...,1036445,1078121,-41676,-3.865614,1769052,-732607,-41.412406,503,1.697995,38.786601
2,TMT,2022,1,0,1233848,837567,396281,47.31,1233848,1530060,...,126938,423150,-296212,-70.001654,160913,-33975,-21.113894,545,-15.791387,48.171922
6,TOP,2022,1,1,16400690,13813092,2587598,18.73,16400690,12578026,...,7182668,3360004,3822664,113.769626,5032676,2149992,42.720652,555,51.402570,42.716314

In [36]:
sr = final3['name']
names = sr.values.tolist()
names

['SINGER',
 'SMPC',
 'TMT',
 'BDMS',
 'SVI',
 'SNC',
 'TOP',
 'PTTGC',
 'ICHI',
 'ACE',
 'SGP',
 'TCAP']

In [37]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SINGER', 'SMPC', 'TMT', 'BDMS', 'SVI', 'SNC', 'TOP', 'PTTGC', 'ICHI', 'ACE', 'SGP', 'TCAP'"

In [38]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('SINGER', 'SMPC', 'TMT', 'BDMS', 'SVI', 'SNC', 'TOP', 'PTTGC', 'ICHI', 'ACE', 'SGP', 'TCAP')
AND year = 2022 AND quarter = 1

In [39]:
rp = conlt.execute(sql)
rp.rowcount

8

In [40]:
for rcd in rcds:
    print(rcd)

['SINGER', 2022, 1, 1, 775886, 496524, 279362, 56.26, 775886, 700592, 75294, 10.75, 215414, 140120, 75294, 53.735369683128745, 212717, 2697, 1.267881739588279, 446, 30.50331285567925, 28.56594241634785]
['SMPC', 2022, 1, 1, 902756, 586969, 315787, 53.8, 902756, 727778, 174978, 24.04, 289552, 114574, 174978, 152.72051250720057, 272239, 17313, 6.359485599050833, 455, 59.22999952656285, 65.32888136671762]
['TMT', 2022, 1, 0, 1233848, 837567, 396281, 47.31, 1233848, 1530060, -296212, -19.36, 126938, 423150, -296212, -70.00165425971878, 160913, -33975, -21.113893843256914, 545, -15.791387025743923, 48.17192195852335]
['BDMS', 2022, 1, 1, 10040447, 5984852, 4055595, 67.76, 10040447, 7936077, 2104370, 26.52, 3443034, 1338664, 2104370, 157.19926732921778, 2635868, 807166, 30.622398390207707, 54, 70.52541642985636, 60.68698784636031]
['SVI', 2022, 1, 0, 1521472, 608053, 913419, 150.22, 1521472, 1407622, 113850, 8.09, 262003, 148153, 113850, 76.84623328585988, 573561, -311558, -54.3199415580906, 491, 45.20907293194232, 88.15148896385973]
['SNC', 2022, 1, 1, 765084, 434356, 330728, 76.14, 765084, 636352, 128732, 20.23, 277001, 148269, 128732, 86.82327391430441, 189325, 87676, 46.30978476165325, 457, 57.37576466898942, 30.119296541497377]
['TOP', 2022, 1, 1, 16400690, 13813092, 2587598, 18.73, 16400690, 12578026, 3822664, 30.39, 7182668, 3360004, 3822664, 113.7696264647304, 5032676, 2149992, 42.720651995081745, 555, 51.40256961495303, 42.71631367026261]
['PTTGC', 2022, 1, 1, 39499189, 18678590, 20820599, 111.47, 39499189, 44982388, -5483199, -12.19, 4211669, 9694868, -5483199, -56.557747872379494, 3247576, 964093, 29.686541592868032, 385, 18.102198430122137, 71.51565852810758]
['ICHI', 2022, 1, 0, 529124, 477912, 51212, 10.72, 529124, 546771, -17647, -3.23, 103930, 121577, -17647, -14.515080977487518, 132645, -28715, -21.64800784047646, 216, -7.168272204490995, 14.131980442170134]
['ACE', 2022, 1, 0, 1468062, 1274421, 193641, 15.19, 1468062, 1505681, -37619, -2.5, 322711, 360330, -37619, -10.440152082812977, 367649, -44938, -12.22307146218268, 698, -2.4933058862489146, 12.523578489024544]
['SGP', 2022, 1, 0, 3475743, 2908691, 567052, 19.5, 3475743, 3808509, -332766, -8.74, 989290, 1322056, -332766, -25.1703407419958, 991771, -2481, -0.2501585547470132, 441, -3.6651248241857037, 18.587752889678356]
['TCAP', 2022, 1, 0, 5245504, 3431567, 1813937, 52.86, 5245504, 5287180, -41676, -0.79, 1036445, 1078121, -41676, -3.865614341989443, 1769052, -732607, -41.41240619269529, 503, 1.6979948663288162, 38.78660127176852]

In [41]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [42]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [43]:
print(final3.name)

0     SINGER
1       SMPC
2        TMT
3       BDMS
4        SVI
5        SNC
6        TOP
7      PTTGC
8       ICHI
9        ACE
10       SGP
11      TCAP
Name: name, dtype: object

In [44]:
sr = final3['name']
names = sr.values.tolist()
names

['SINGER',
 'SMPC',
 'TMT',
 'BDMS',
 'SVI',
 'SNC',
 'TOP',
 'PTTGC',
 'ICHI',
 'ACE',
 'SGP',
 'TCAP']

In [45]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'SINGER', 'SMPC', 'TMT', 'BDMS', 'SVI', 'SNC', 'TOP', 'PTTGC', 'ICHI', 'ACE', 'SGP', 'TCAP'"

In [46]:
#in_p = "'ICHI', 'ACE', 'SGP', 'TCAP'"

In [47]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('ICHI', 'ACE', 'SGP', 'TCAP') AND year = 2022 AND quarter = 1

In [48]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2396,ACE,2022,1,0,1468062,1274421,193641,15.19,1468062,...,322711,360330,-37619,-10.440152,367649,-44938,-12.223071,698,-2.493306,12.523578
1,2395,ICHI,2022,1,0,529124,477912,51212,10.72,529124,...,103930,121577,-17647,-14.515081,132645,-28715,-21.648008,216,-7.168272,14.131980
2,2397,SGP,2022,1,0,3475743,2908691,567052,19.50,3475743,...,989290,1322056,-332766,-25.170341,991771,-2481,-0.250159,441,-3.665125,18.587753
3,2398,TCAP,2022,1,0,5245504,3431567,1813937,52.86,5245504,...,1036445,1078121,-41676,-3.865614,1769052,-732607,-41.412406,503,1.697995,38.786601

In [49]:
rcds = profits_inp.values.tolist()
len(rcds)

4

In [50]:
for rcd in rcds:
    print(rcd)

[2396, 'ACE', 2022, 1, 0, 1468062, 1274421, 193641, 15.19, 1468062, 1505681, -37619, -2.5, 322711, 360330, -37619, -10.440152082812977, 367649, -44938, -12.22307146218268, 698, -2.4933058862489146, 12.523578489024544]
[2395, 'ICHI', 2022, 1, 0, 529124, 477912, 51212, 10.72, 529124, 546771, -17647, -3.23, 103930, 121577, -17647, -14.515080977487518, 132645, -28715, -21.64800784047646, 216, -7.168272204490995, 14.131980442170134]
[2397, 'SGP', 2022, 1, 0, 3475743, 2908691, 567052, 19.5, 3475743, 3808509, -332766, -8.74, 989290, 1322056, -332766, -25.1703407419958, 991771, -2481, -0.2501585547470132, 441, -3.6651248241857037, 18.587752889678356]
[2398, 'TCAP', 2022, 1, 0, 5245504, 3431567, 1813937, 52.86, 5245504, 5287180, -41676, -0.79, 1036445, 1078121, -41676, -3.865614341989443, 1769052, -732607, -41.41240619269529, 503, 1.6979948663288162, 38.78660127176852]

In [51]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [52]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [53]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['ACE', 'AMATA', 'ASIAN', 'ASK', 'BAM', 'BAY', 'BBL', 'BCH', 'BCPG',
       'BDMS', 'BH', 'BPP', 'CHG', 'COM7', 'COTTO', 'DOHOME', 'EA', 'GGC',
       'GLOBAL', 'GULF', 'ICHI', 'IRPC', 'JMART', 'JMT', 'KBANK', 'KCE', 'KKP',
       'KTB', 'KTC', 'MAKRO', 'MCS', 'MEGA', 'MST', 'NER', 'ORI', 'PTL', 'PTT',
       'PTTEP', 'PTTGC', 'RATCH', 'RBF', 'RCL', 'RJH', 'SCB', 'SCGP', 'SENA',
       'SGP', 'SINGER', 'SIS', 'SMPC', 'SNC', 'SPALI', 'STARK', 'SVI', 'SYNEX',
       'TCAP', 'TISCO', 'TMT', 'TOP', 'TPIPL', 'TQM', 'TTB', 'TU', 'VIBHA'],
      dtype='object', name='name')

### After call 150-Export-to-PortPg

In [54]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('ICHI', 'ACE', 'SGP', 'TCAP') AND year = 2022 AND quarter = 1

In [55]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

   name  ticker_id
3   ACE        667
2  ICHI        223
1   SGP        447
0  TCAP        512

In [56]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('ICHI', 'ACE', 'SGP', 'TCAP')
ORDER BY name

In [57]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

   name   id          market
0   ACE  667          SET100
1  ICHI  223  sSET / SETCLMV
2   SGP  447             SET
3  TCAP  512  SET100 / SETHD