In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 2
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2022-07-30'

In [43]:
today = date(2022, 7, 20)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-07-20'

In [44]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [4]:
names = ('AP','BANPU')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [45]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

### End of Normal Process

In [46]:
strqtr = "Q" + str(quarter)
strqtr

'Q2'

In [47]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

22

In [48]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [49]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [50]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [51]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [52]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [53]:
profits[profits['name'] == 'TTB'].style.format(format_dict)

In [54]:
criteria_1 = profits.latest_amt_y > 440000
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [55]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [56]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [57]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [58]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_4
filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [59]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [60]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [61]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [62]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)'''
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 2
AND B.year = 2022 AND B.quarter = (2-1)

In [63]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

22

In [64]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [65]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
1,TTB,11791212,10886994,904218,8.31,11791212,8169846,3621366,44.33,2022,2,3438326,2534108,3194904

In [66]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [32]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [33]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

ValueError: Wrong number of items passed 2, placement implies 1

In [34]:
final2.kind.value_counts()

AttributeError: 'DataFrame' object has no attribute 'kind'

In [35]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [36]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

In [37]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [38]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

Empty DataFrame
Columns: [name, mean_pct]
Index: []

In [39]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [40]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

Empty DataFrame
Columns: [name, std_pct]
Index: []

In [41]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

KeyError: "['kind'] not in index"

In [42]:
final3.sort_values(['name'],ascending=[True])

NameError: name 'final3' is not defined

In [37]:
sr = final3['name']
names = sr.values.tolist()
names

['DELTA']

In [38]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'DELTA'"

In [39]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('DELTA')
AND year = 2022 AND quarter = 2

In [40]:
rp = conlt.execute(sql)
rp.rowcount

0

In [41]:
for rcd in rcds:
    print(rcd)

['DELTA', 2022, 2, 1, 10330437, 7635796, 2694641, 35.29, 10330437, 7722365, 2608072, 33.77, 4263457, 1655385, 2608072, 157.55078123820138, 2095587, 2167870, 103.44929606835697, 138, 82.51501932663959, 59.651456724049204]

In [42]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [43]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [44]:
print(final3.name)

0    DELTA
Name: name, dtype: object

In [45]:
sr = final3['name']
names = sr.values.tolist()
names

['DELTA']

In [46]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'DELTA'"

In [47]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('DELTA')
AND year = 2022 AND quarter = 2

In [48]:
rp = conmy.execute(sql)
rp.rowcount

0

In [49]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('DELTA') AND year = 2022 AND quarter = 2

In [50]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2453,DELTA,2022,2,1,10330437,7635796,2694641,35.29,10330437,...,4263457,1655385,2608072,157.550781,2095587,2167870,103.449296,138,82.515019,59.651457

In [51]:
rcds = profits_inp.values.tolist()
len(rcds)

1

In [52]:
for rcd in rcds:
    print(rcd)

[2453, 'DELTA', 2022, 2, 1, 10330437, 7635796, 2694641, 35.29, 10330437, 7722365, 2608072, 33.77, 4263457, 1655385, 2608072, 157.55078123820138, 2095587, 2167870, 103.44929606835697, 138, 82.51501932663959, 59.651456724049204]

In [53]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [54]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [55]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['AIT', 'AP', 'ASK', 'BANPU', 'BAY', 'BBL', 'BCPG', 'BDMS', 'BH', 'BPP',
       'DELTA', 'ESSO', 'GGC', 'GLOBAL', 'GULF', 'IVL', 'KKP', 'KTB', 'MEGA',
       'MST', 'RBF', 'RCL', 'RJH', 'SCB', 'SINGER', 'SIS', 'SMPC', 'SNC',
       'SPRC', 'SSP', 'STANLY', 'TISCO', 'TOP', 'TPIPL', 'TTB'],
      dtype='object', name='name')

### After call 250-Export-to-PortPg

In [56]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BBL', 'KTB', 'SCB') AND year = 2022 AND quarter = 2

In [57]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

  name  ticker_id
2  BBL         54
1  KTB        265
0  SCB        432

In [58]:
sql = """
SELECT * 
FROM profits 
WHERE year = %s AND quarter = %s"""
sql = sql % (year, quarter)
tmp = pd.read_sql(sql, conmy)
tmp.shape

(5, 23)

In [59]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('BBL', 'KTB', 'SCB')
ORDER BY name

In [60]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

  name   id                     market
0  BBL   54    SET50 / SETHD / SETTHSI
1  KTB  265    SET50 / SETHD / SETTHSI
2  SCB  432  SET50 / SETCLMV / SETTHSI