In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 2
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2022-08-15'

In [2]:
#today = date(2022, 8, 11)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-08-15'

In [3]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [4]:
names = ('AP','BANPU')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [62]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

### End of Normal Process

In [63]:
strqtr = "Q" + str(quarter)
strqtr

'Q2'

In [64]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

203

In [65]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [66]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [67]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [68]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [69]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [70]:
profits[profits['name'] == 'BCH'].style.format(format_dict)

In [71]:
criteria_1 = profits.latest_amt_y > 440000
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [72]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [73]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [74]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [75]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_3 & criteria_4

filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [76]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [77]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [78]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [79]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)'''
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 2
AND B.year = 2022 AND B.quarter = (2-1)

In [80]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

204

In [81]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [82]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
1,CRC,2819760,861862,1957898,227.17,2819760,1823748,996012,54.61,2022,2,1486407,-471491,1203906
2,ORI,3410091,3106807,303284,9.76,3410091,3036670,373421,12.30,2022,2,1155286,852002,737941

In [83]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [84]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [85]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_31308/170999467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [86]:
final2.kind.value_counts()

1    2
Name: kind, dtype: int64

In [87]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

C:\Users\User\AppData\Local\Temp/ipykernel_31308/553347636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
C:\Users\User\AppData\Local\Temp/ipykernel_31308/553347636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)
C:\Users\User\AppData\Local\Temp/ipykernel_31308/553347636.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
C:\Users\User\AppData\Local\Temp/ipykernel_31308/553347636.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [88]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [89]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

C:\Users\User\AppData\Local\Temp/ipykernel_31308/462442401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [90]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

  name    mean_pct
1  CRC  180.125519
2  ORI   28.552991

In [91]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_31308/714542820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [92]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

  name     std_pct
2  ORI   21.993032
1  CRC  180.551384

In [93]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

[['CRC',
  2022,
  2,
  1,
  2819760,
  1823748,
  996012,
  54.61,
  2819760,
  861862,
  1957898,
  227.17,
  1486407,
  -471491,
  1957898,
  415.25670691487215,
  1203906,
  282501,
  23.465370219934115,
  708,
  180.12551928370158,
  180.55138368199601],
 ['ORI',
  2022,
  2,
  1,
  3410091,
  3036670,
  373421,
  12.3,
  3410091,
  3106807,
  303284,
  9.76,
  1155286,
  852002,
  303284,
  35.59663005485903,
  737941,
  417345,
  56.55533436954987,
  339,
  28.552991106102226,
  21.99303156679005]]

In [94]:
final3.sort_values(['name'],ascending=[True])

,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,CRC,2022,2,1,2819760,1823748,996012,54.61,2819760,861862,...,1486407,-471491,1957898,415.256707,1203906,282501,23.465370,708,180.125519,180.551384
1,ORI,2022,2,1,3410091,3036670,373421,12.30,3410091,3106807,...,1155286,852002,303284,35.596630,737941,417345,56.555334,339,28.552991,21.993032

In [95]:
sr = final3['name']
names = sr.values.tolist()
names

['CRC', 'ORI']

In [96]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'CRC', 'ORI'"

In [97]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('CRC', 'ORI')
AND year = 2022 AND quarter = 2

In [98]:
rp = conlt.execute(sql)
rp.rowcount

2

In [99]:
for rcd in rcds:
    print(rcd)

['CRC', 2022, 2, 1, 2819760, 1823748, 996012, 54.61, 2819760, 861862, 1957898, 227.17, 1486407, -471491, 1957898, 415.25670691487215, 1203906, 282501, 23.465370219934115, 708, 180.12551928370158, 180.55138368199601]
['ORI', 2022, 2, 1, 3410091, 3036670, 373421, 12.3, 3410091, 3106807, 303284, 9.76, 1155286, 852002, 303284, 35.59663005485903, 737941, 417345, 56.55533436954987, 339, 28.552991106102226, 21.99303156679005]

In [100]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [101]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [102]:
print(final3.name)

0    CRC
1    ORI
Name: name, dtype: object

In [103]:
sr = final3['name']
names = sr.values.tolist()
names

['CRC', 'ORI']

In [104]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'CRC', 'ORI'"

In [105]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('CRC', 'ORI')
AND year = 2022 AND quarter = 2

In [106]:
rp = conmy.execute(sql)
rp.rowcount

2

In [107]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('CRC', 'ORI') AND year = 2022 AND quarter = 2

In [108]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2503,CRC,2022,2,1,2819760,1823748,996012,54.61,2819760,...,1486407,-471491,1957898,415.256707,1203906,282501,23.465370,708,180.125519,180.551384
1,2504,ORI,2022,2,1,3410091,3036670,373421,12.30,3410091,...,1155286,852002,303284,35.596630,737941,417345,56.555334,339,28.552991,21.993032

In [109]:
rcds = profits_inp.values.tolist()
len(rcds)

2

In [110]:
for rcd in rcds:
    print(rcd)

[2503, 'CRC', 2022, 2, 1, 2819760, 1823748, 996012, 54.61, 2819760, 861862, 1957898, 227.17, 1486407, -471491, 1957898, 415.25670691487215, 1203906, 282501, 23.465370219934115, 708, 180.12551928370158, 180.55138368199601]
[2504, 'ORI', 2022, 2, 1, 3410091, 3036670, 373421, 12.3, 3410091, 3106807, 303284, 9.76, 1155286, 852002, 303284, 35.59663005485903, 737941, 417345, 56.55533436954987, 339, 28.552991106102226, 21.99303156679005]

In [111]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [112]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [113]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['AMATA', 'ASK', 'BAM', 'BANPU', 'BCP', 'BH', 'BLA', 'CKP', 'CPNCG',
       'CPNREIT', 'CRC', 'DELTA', 'ESSO', 'INOX', 'IVL', 'JMART', 'JMT', 'JWD',
       'LANNA', 'ORI', 'PSL', 'PTL', 'PTT', 'PTTEP', 'SAPPE', 'SINGER',
       'SPALI', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP', 'TFFIF', 'TOP', 'TPIPL',
       'TTB', 'VNG'],
      dtype='object', name='name')

### After call 250-Export-to-PortPg

In [119]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('CRC', 'ORI') AND year = 2022 AND quarter = 2

In [120]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

  name  ticker_id
1  CRC        677
0  ORI        347

In [121]:
sql = """
SELECT * 
FROM profits 
WHERE year = %s AND quarter = %s"""
sql = sql % (year, quarter)
tmp = pd.read_sql(sql, conmy)
tmp.shape

(35, 23)

In [122]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('CRC', 'ORI')
ORDER BY name

In [123]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

  name   id                             market
0  CRC  677  SET50 / SETCLMV / SETTHSI / SETWB
1  ORI  347           SET100 / SETHD / SETTHSI