In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 2
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2022-08-12'

In [2]:
today = date(2022, 8, 11)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-08-11'

In [3]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [4]:
names = ('AP','BANPU')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [4]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

### End of Normal Process

In [5]:
strqtr = "Q" + str(quarter)
strqtr

'Q2'

In [6]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

174

In [7]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [8]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [9]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [10]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
profits[profits['name'] == 'GFPT'].style.format(format_dict)

In [13]:
criteria_1 = profits.latest_amt_y > 440000
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [14]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [15]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [16]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [17]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_3 & criteria_4

filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [18]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [19]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [20]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [21]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)'''
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 2
AND B.year = 2022 AND B.quarter = (2-1)

In [22]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

175

In [23]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

In [ ]:
### The fifth criteria, added on 2022q1

In [24]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
0,AMATA,2171767,1770024,401743,22.70,2171767,1098346,1073421,97.73,2022,2,648817,247074,553466
1,BAM,2705410,2665001,40409,1.52,2705410,2043406,662004,32.40,2022,2,830623,790214,311840
2,BCP,13208283,9696604,3511679,36.22,13208283,3652466,9555817,261.63,2022,2,5276226,1764547,4356316
4,BH,2799073,1849587,949486,51.34,2799073,702109,2096964,298.67,2022,2,1165953,216467,725041
5,CKP,2260212,2103140,157072,7.47,2260212,1660663,599549,36.10,2022,2,864030,706958,38726
7,CPNCG,533521,427156,106365,24.90,533521,429144,104377,24.32,2022,2,194815,88450,77560
9,JMART,2616411,2459247,157164,6.39,2616411,1098107,1518304,138.27,2022,2,389411,232247,325116
10,JMT,1629008,1484503,144505,9.73,1629008,1184917,444091,37.48,2022,2,433309,288804,366955
11,JWD,595153,556590,38563,6.93,595153,404672,190481,47.07,2022,2,154086,115523,125686
12,LANNA,2821353,1947761,873592,44.85,2821353,639500,2181853,341.18,2022,2,1196201,322609,615142
14,PTT,115615828,101346741,14269087,14.08,115615828,84433151,31182677,36.93,2022,2,38847751,24578664,25570943
15,SAPPE,518050,477634,40416,8.46,518050,428831,89219,20.81,2022,2,167282,126866,153388
18,SPRC,14407821,8025156,6382665,79.53,14407821,3908828,10498993,268.60,2022,2,7156085,773420,5284370
19,SSP,1375187,970687,404500,41.67,1375187,792740,582447,73.47,2022,2,644862,240362,294767
20,STARK,3081016,2914824,166192,5.70,3081016,1869756,1211260,64.78,2022,2,690637,524445,569792
21,SVI,1777672,1521472,256200,16.84,1777672,664787,1112885,167.40,2022,2,421586,165386,262003
22,TCAP,5910236,5245504,664732,12.67,5910236,3509142,2401094,68.42,2022,2,1771676,1106944,1036445

In [25]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [26]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [27]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_21632/170999467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [28]:
final2.kind.value_counts()

1    17
Name: kind, dtype: int64

In [29]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

C:\Users\User\AppData\Local\Temp/ipykernel_21632/553347636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
C:\Users\User\AppData\Local\Temp/ipykernel_21632/553347636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)
C:\Users\User\AppData\Local\Temp/ipykernel_21632/553347636.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
C:\Users\User\AppData\Local\Temp/ipykernel_21632/553347636.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [30]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [31]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

C:\Users\User\AppData\Local\Temp/ipykernel_21632/462442401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [32]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

     name    mean_pct
5     CKP  549.231179
18   SPRC  302.200490
4      BH  212.362632
12  LANNA  187.819761
2     BCP  129.494939
19    SSP  100.549478
21    SVI  100.014794
7   CPNCG   80.163528
0   AMATA   75.064563
9   JMART   58.026769
22   TCAP   53.019717
1     BAM   51.348899
14    PTT   40.246559
20  STARK   30.844434
10    JMT   28.831998
11    JWD   27.494306
15  SAPPE   17.546328

In [33]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_21632/714542820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [34]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

     name      std_pct
15  SAPPE    11.106536
11    JWD    16.977906
10    JMT    18.301413
14    PTT    19.571443
20  STARK    25.016179
22   TCAP    27.299361
19    SSP    55.137906
9   JMART    59.613936
7   CPNCG    65.378730
0   AMATA    68.952497
21    SVI    73.033343
1     BAM    77.905220
2     BCP   119.357309
12  LANNA   140.901738
4      BH   189.333122
18   SPRC   363.073029
5     CKP  1054.668471

In [35]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

[['AMATA',
  2022,
  2,
  1,
  2171767,
  1098346,
  1073421,
  97.73,
  2171767,
  1770024,
  401743,
  22.7,
  648817,
  247074,
  401743,
  162.60027360224063,
  553466,
  95351,
  17.227977870366022,
  21,
  75.06456286815167,
  68.95249742317426],
 ['BAM',
  2022,
  2,
  1,
  2705410,
  2043406,
  662004,
  32.4,
  2705410,
  2665001,
  40409,
  1.52,
  830623,
  790214,
  40409,
  5.113678066954015,
  311840,
  518783,
  166.36191636736788,
  709,
  51.34889860858048,
  77.90521969576973],
 ['BCP',
  2022,
  2,
  1,
  13208283,
  3652466,
  9555817,
  261.63,
  13208283,
  9696604,
  3511679,
  36.22,
  5276226,
  1764547,
  3511679,
  199.01306114260487,
  4356316,
  919910,
  21.116695850346943,
  52,
  129.49493924823796,
  119.35730879082757],
 ['BH',
  2022,
  2,
  1,
  2799073,
  702109,
  2096964,
  298.67,
  2799073,
  1849587,
  949486,
  51.34,
  1165953,
  216467,
  949486,
  438.6285207445015,
  725041,
  440912,
  60.812009251890586,
  61,
  212.362632499098,
  189.33312217004692],
 ['CKP',
  2022,
  2,
  1,
  2260212,
  1660663,
  599549,
  36.1,
  2260212,
  2103140,
  157072,
  7.47,
  864030,
  706958,
  157072,
  22.218010122242056,
  38726,
  825304,
  2131.136704023137,
  107,
  549.2311785363448,
  1054.668471164075],
 ['CPNCG',
  2022,
  2,
  1,
  533521,
  429144,
  104377,
  24.32,
  533521,
  427156,
  106365,
  24.9,
  194815,
  88450,
  106365,
  120.2543810062182,
  77560,
  117255,
  151.17973182052603,
  122,
  80.16352820668607,
  65.3787295847262],
 ['JMART',
  2022,
  2,
  1,
  2616411,
  1098107,
  1518304,
  138.27,
  2616411,
  2459247,
  157164,
  6.39,
  389411,
  232247,
  157164,
  67.67105710730387,
  325116,
  64295,
  19.77601840573826,
  236,
  58.02676887826053,
  59.61393642485461],
 ['JMT',
  2022,
  2,
  1,
  1629008,
  1184917,
  444091,
  37.48,
  1629008,
  1484503,
  144505,
  9.73,
  433309,
  288804,
  144505,
  50.03566432597887,
  366955,
  66354,
  18.082326170783883,
  237,
  28.831997624190688,
  18.301413208486572],
 ['JWD',
  2022,
  2,
  1,
  595153,
  404672,
  190481,
  47.07,
  595153,
  556590,
  38563,
  6.93,
  154086,
  115523,
  38563,
  33.381231443089256,
  125686,
  28400,
  22.5959931893767,
  242,
  27.49430615811649,
  16.97790560705766],
 ['LANNA',
  2022,
  2,
  1,
  2821353,
  639500,
  2181853,
  341.18,
  2821353,
  1947761,
  873592,
  44.85,
  1196201,
  322609,
  873592,
  270.78971758382437,
  615142,
  581059,
  94.45932809009953,
  264,
  187.819761418481,
  140.901738332286],
 ['PTT',
  2022,
  2,
  1,
  115615828,
  84433151,
  31182677,
  36.93,
  115615828,
  101346741,
  14269087,
  14.08,
  38847751,
  24578664,
  14269087,
  58.05477059290123,
  25570943,
  13276808,
  51.92146413998107,
  383,
  40.24655868322057,
  19.571443343692188],
 ['SAPPE',
  2022,
  2,
  1,
  518050,
  428831,
  89219,
  20.81,
  518050,
  477634,
  40416,
  8.46,
  167282,
  126866,
  40416,
  31.857235193038324,
  153388,
  13894,
  9.05807494719274,
  420,
  17.546327535057767,
  11.106535853922754],
 ['SPRC',
  2022,
  2,
  1,
  14407821,
  3908828,
  10498993,
  268.6,
  14407821,
  8025156,
  6382665,
  79.53,
  7156085,
  773420,
  6382665,
  825.252126916811,
  5284370,
  1871715,
  35.41983244927967,
  470,
  302.2004898415227,
  363.07302946268277],
 ['SSP',
  2022,
  2,
  1,
  1375187,
  792740,
  582447,
  73.47,
  1375187,
  970687,
  404500,
  41.67,
  644862,
  240362,
  404500,
  168.2878325192834,
  294767,
  350095,
  118.77007941865949,
  643,
  100.54947798448572,
  55.1379060397435],
 ['STARK',
  2022,
  2,
  1,
  3081016,
  1869756,
  1211260,
  64.78,
  3081016,
  2914824,
  166192,
  5.7,
  690637,
  524445,
  166192,
  31.68911897339092,
  569792,
  120845,
  21.208616477591825,
  735,
  30.84443386274569,
  25.01617925097098],
 ['SVI',
  2022,
  2,
  1,
  1777672,
  664787,
  1112885,
  167.4,
  1777672,
  1521472,
  256200,
  16.84,
  421586,
  165386,
  256200,
  154.9103309832755,
  262003,
  159583,
  60.90884455521501,
  491,
  100.01479388462262,
  73.03334308671421],
 ['TCAP',
  2022,
  2,
  1,
  5910236,
  3509142,
  2401094,
  68.42,
  5910236,
  5245504,
  664732,
  12.67,
  1771676,
  1106944,
  664732,
  60.05109562904718,
  1036445,
  735231,
  70.93777286783187,
  503,
  53.01971712421977,
  27.299361347645377]]

In [36]:
final3.sort_values(['name'],ascending=[True])

,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,AMATA,2022,2,1,2171767,1098346,1073421,97.73,2171767,1770024,...,648817,247074,401743,162.600274,553466,95351,17.227978,21,75.064563,68.952497
1,BAM,2022,2,1,2705410,2043406,662004,32.40,2705410,2665001,...,830623,790214,40409,5.113678,311840,518783,166.361916,709,51.348899,77.905220
2,BCP,2022,2,1,13208283,3652466,9555817,261.63,13208283,9696604,...,5276226,1764547,3511679,199.013061,4356316,919910,21.116696,52,129.494939,119.357309
3,BH,2022,2,1,2799073,702109,2096964,298.67,2799073,1849587,...,1165953,216467,949486,438.628521,725041,440912,60.812009,61,212.362632,189.333122
4,CKP,2022,2,1,2260212,1660663,599549,36.10,2260212,2103140,...,864030,706958,157072,22.218010,38726,825304,2131.136704,107,549.231179,1054.668471
5,CPNCG,2022,2,1,533521,429144,104377,24.32,533521,427156,...,194815,88450,106365,120.254381,77560,117255,151.179732,122,80.163528,65.378730
6,JMART,2022,2,1,2616411,1098107,1518304,138.27,2616411,2459247,...,389411,232247,157164,67.671057,325116,64295,19.776018,236,58.026769,59.613936
7,JMT,2022,2,1,1629008,1184917,444091,37.48,1629008,1484503,...,433309,288804,144505,50.035664,366955,66354,18.082326,237,28.831998,18.301413
8,JWD,2022,2,1,595153,404672,190481,47.07,595153,556590,...,154086,115523,38563,33.381231,125686,28400,22.595993,242,27.494306,16.977906
9,LANNA,2022,2,1,2821353,639500,2181853,341.18,2821353,1947761,...,1196201,322609,873592,270.789718,615142,581059,94.459328,264,187.819761,140.901738
10,PTT,2022,2,1,115615828,84433151,31182677,36.93,115615828,101346741,...,38847751,24578664,14269087,58.054771,25570943,13276808,51.921464,383,40.246559,19.571443
11,SAPPE,2022,2,1,518050,428831,89219,20.81,518050,477634,...,167282,126866,40416,31.857235,153388,13894,9.058075,420,17.546328,11.106536
12,SPRC,2022,2,1,14407821,3908828,10498993,268.60,14407821,8025156,...,7156085,773420,6382665,825.252127,5284370,1871715,35.419832,470,302.200490,363.073029
13,SSP,2022,2,1,1375187,792740,582447,73.47,1375187,970687,...,644862,240362,404500,168.287833,294767,350095,118.770079,643,100.549478,55.137906
14,STARK,2022,2,1,3081016,1869756,1211260,64.78,3081016,2914824,...,690637,524445,166192,31.689119,569792,120845,21.208616,735,30.844434,25.016179
15,SVI,2022,2,1,1777672,664787,1112885,167.40,1777672,1521472,...,421586,165386,256200,154.910331,262003,159583,60.908845,491,100.014794,73.033343
16,TCAP,2022,2,1,5910236,3509142,2401094,68.42,5910236,5245504,...,1771676,1106944,664732,60.051096,1036445,735231,70.937773,503,53.019717,27.299361

In [37]:
sr = final3['name']
names = sr.values.tolist()
names

['AMATA',
 'BAM',
 'BCP',
 'BH',
 'CKP',
 'CPNCG',
 'JMART',
 'JMT',
 'JWD',
 'LANNA',
 'PTT',
 'SAPPE',
 'SPRC',
 'SSP',
 'STARK',
 'SVI',
 'TCAP']

In [38]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AMATA', 'BAM', 'BCP', 'BH', 'CKP', 'CPNCG', 'JMART', 'JMT', 'JWD', 'LANNA', 'PTT', 'SAPPE', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP'"

In [39]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('AMATA', 'BAM', 'BCP', 'BH', 'CKP', 'CPNCG', 'JMART', 'JMT', 'JWD', 'LANNA', 'PTT', 'SAPPE', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP')
AND year = 2022 AND quarter = 2

In [40]:
rp = conlt.execute(sql)
rp.rowcount

0

In [41]:
for rcd in rcds:
    print(rcd)

['AMATA', 2022, 2, 1, 2171767, 1098346, 1073421, 97.73, 2171767, 1770024, 401743, 22.7, 648817, 247074, 401743, 162.60027360224063, 553466, 95351, 17.227977870366022, 21, 75.06456286815167, 68.95249742317426]
['BAM', 2022, 2, 1, 2705410, 2043406, 662004, 32.4, 2705410, 2665001, 40409, 1.52, 830623, 790214, 40409, 5.113678066954015, 311840, 518783, 166.36191636736788, 709, 51.34889860858048, 77.90521969576973]
['BCP', 2022, 2, 1, 13208283, 3652466, 9555817, 261.63, 13208283, 9696604, 3511679, 36.22, 5276226, 1764547, 3511679, 199.01306114260487, 4356316, 919910, 21.116695850346943, 52, 129.49493924823796, 119.35730879082757]
['BH', 2022, 2, 1, 2799073, 702109, 2096964, 298.67, 2799073, 1849587, 949486, 51.34, 1165953, 216467, 949486, 438.6285207445015, 725041, 440912, 60.812009251890586, 61, 212.362632499098, 189.33312217004692]
['CKP', 2022, 2, 1, 2260212, 1660663, 599549, 36.1, 2260212, 2103140, 157072, 7.47, 864030, 706958, 157072, 22.218010122242056, 38726, 825304, 2131.136704023137, 107, 549.2311785363448, 1054.668471164075]
['CPNCG', 2022, 2, 1, 533521, 429144, 104377, 24.32, 533521, 427156, 106365, 24.9, 194815, 88450, 106365, 120.2543810062182, 77560, 117255, 151.17973182052603, 122, 80.16352820668607, 65.3787295847262]
['JMART', 2022, 2, 1, 2616411, 1098107, 1518304, 138.27, 2616411, 2459247, 157164, 6.39, 389411, 232247, 157164, 67.67105710730387, 325116, 64295, 19.77601840573826, 236, 58.02676887826053, 59.61393642485461]
['JMT', 2022, 2, 1, 1629008, 1184917, 444091, 37.48, 1629008, 1484503, 144505, 9.73, 433309, 288804, 144505, 50.03566432597887, 366955, 66354, 18.082326170783883, 237, 28.831997624190688, 18.301413208486572]
['JWD', 2022, 2, 1, 595153, 404672, 190481, 47.07, 595153, 556590, 38563, 6.93, 154086, 115523, 38563, 33.381231443089256, 125686, 28400, 22.5959931893767, 242, 27.49430615811649, 16.97790560705766]
['LANNA', 2022, 2, 1, 2821353, 639500, 2181853, 341.18, 2821353, 1947761, 873592, 44.85, 1196201, 322609, 873592, 270.78971758382437, 615142, 581059, 94.45932809009953, 264, 187.819761418481, 140.901738332286]
['PTT', 2022, 2, 1, 115615828, 84433151, 31182677, 36.93, 115615828, 101346741, 14269087, 14.08, 38847751, 24578664, 14269087, 58.05477059290123, 25570943, 13276808, 51.92146413998107, 383, 40.24655868322057, 19.571443343692188]
['SAPPE', 2022, 2, 1, 518050, 428831, 89219, 20.81, 518050, 477634, 40416, 8.46, 167282, 126866, 40416, 31.857235193038324, 153388, 13894, 9.05807494719274, 420, 17.546327535057767, 11.106535853922754]
['SPRC', 2022, 2, 1, 14407821, 3908828, 10498993, 268.6, 14407821, 8025156, 6382665, 79.53, 7156085, 773420, 6382665, 825.252126916811, 5284370, 1871715, 35.41983244927967, 470, 302.2004898415227, 363.07302946268277]
['SSP', 2022, 2, 1, 1375187, 792740, 582447, 73.47, 1375187, 970687, 404500, 41.67, 644862, 240362, 404500, 168.2878325192834, 294767, 350095, 118.77007941865949, 643, 100.54947798448572, 55.1379060397435]
['STARK', 2022, 2, 1, 3081016, 1869756, 1211260, 64.78, 3081016, 2914824, 166192, 5.7, 690637, 524445, 166192, 31.68911897339092, 569792, 120845, 21.208616477591825, 735, 30.84443386274569, 25.01617925097098]
['SVI', 2022, 2, 1, 1777672, 664787, 1112885, 167.4, 1777672, 1521472, 256200, 16.84, 421586, 165386, 256200, 154.9103309832755, 262003, 159583, 60.90884455521501, 491, 100.01479388462262, 73.03334308671421]
['TCAP', 2022, 2, 1, 5910236, 3509142, 2401094, 68.42, 5910236, 5245504, 664732, 12.67, 1771676, 1106944, 664732, 60.05109562904718, 1036445, 735231, 70.93777286783187, 503, 53.01971712421977, 27.299361347645377]

In [42]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [43]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [44]:
print(final3.name)

0     AMATA
1       BAM
2       BCP
3        BH
4       CKP
5     CPNCG
6     JMART
7       JMT
8       JWD
9     LANNA
10      PTT
11    SAPPE
12     SPRC
13      SSP
14    STARK
15      SVI
16     TCAP
Name: name, dtype: object

In [45]:
sr = final3['name']
names = sr.values.tolist()
names

['AMATA',
 'BAM',
 'BCP',
 'BH',
 'CKP',
 'CPNCG',
 'JMART',
 'JMT',
 'JWD',
 'LANNA',
 'PTT',
 'SAPPE',
 'SPRC',
 'SSP',
 'STARK',
 'SVI',
 'TCAP']

In [46]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'AMATA', 'BAM', 'BCP', 'BH', 'CKP', 'CPNCG', 'JMART', 'JMT', 'JWD', 'LANNA', 'PTT', 'SAPPE', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP'"

In [47]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('AMATA', 'BAM', 'BCP', 'BH', 'CKP', 'CPNCG', 'JMART', 'JMT', 'JWD', 'LANNA', 'PTT', 'SAPPE', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP')
AND year = 2022 AND quarter = 2

In [48]:
rp = conmy.execute(sql)
rp.rowcount

0

In [49]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('AMATA', 'BAM', 'BCP', 'BH', 'CKP', 'CPNCG', 'JMART', 'JMT', 'JWD', 'LANNA', 'PTT', 'SAPPE', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP') AND year = 2022 AND quarter = 2

In [50]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2482,AMATA,2022,2,1,2171767,1098346,1073421,97.73,2171767,...,648817,247074,401743,162.600274,553466,95351,17.227978,21,75.064563,68.952497
1,2483,BAM,2022,2,1,2705410,2043406,662004,32.40,2705410,...,830623,790214,40409,5.113678,311840,518783,166.361916,709,51.348899,77.905220
2,2484,BCP,2022,2,1,13208283,3652466,9555817,261.63,13208283,...,5276226,1764547,3511679,199.013061,4356316,919910,21.116696,52,129.494939,119.357309
3,2485,BH,2022,2,1,2799073,702109,2096964,298.67,2799073,...,1165953,216467,949486,438.628521,725041,440912,60.812009,61,212.362632,189.333122
4,2486,CKP,2022,2,1,2260212,1660663,599549,36.10,2260212,...,864030,706958,157072,22.218010,38726,825304,2131.136704,107,549.231179,1054.668471
5,2487,CPNCG,2022,2,1,533521,429144,104377,24.32,533521,...,194815,88450,106365,120.254381,77560,117255,151.179732,122,80.163528,65.378730
6,2488,JMART,2022,2,1,2616411,1098107,1518304,138.27,2616411,...,389411,232247,157164,67.671057,325116,64295,19.776018,236,58.026769,59.613936
7,2489,JMT,2022,2,1,1629008,1184917,444091,37.48,1629008,...,433309,288804,144505,50.035664,366955,66354,18.082326,237,28.831998,18.301413
8,2490,JWD,2022,2,1,595153,404672,190481,47.07,595153,...,154086,115523,38563,33.381231,125686,28400,22.595993,242,27.494306,16.977906
9,2491,LANNA,2022,2,1,2821353,639500,2181853,341.18,2821353,...,1196201,322609,873592,270.789718,615142,581059,94.459328,264,187.819761,140.901738
10,2492,PTT,2022,2,1,115615828,84433151,31182677,36.93,115615828,...,38847751,24578664,14269087,58.054771,25570943,13276808,51.921464,383,40.246559,19.571443
11,2493,SAPPE,2022,2,1,518050,428831,89219,20.81,518050,...,167282,126866,40416,31.857235,153388,13894,9.058075,420,17.546328,11.106536
12,2494,SPRC,2022,2,1,14407821,3908828,10498993,268.60,14407821,...,7156085,773420,6382665,825.252127,5284370,1871715,35.419832,470,302.200490,363.073029
13,2495,SSP,2022,2,1,1375187,792740,582447,73.47,1375187,...,644862,240362,404500,168.287833,294767,350095,118.770079,643,100.549478,55.137906
14,2496,STARK,2022,2,1,3081016,1869756,1211260,64.78,3081016,...,690637,524445,166192,31.689119,569792,120845,21.208616,735,30.844434,25.016179
15,2497,SVI,2022,2,1,1777672,664787,1112885,167.40,1777672,...,421586,165386,256200,154.910331,262003,159583,60.908845,491,100.014794,73.033343
16,2498,TCAP,2022,2,1,5910236,3509142,2401094,68.42,5910236,...,1771676,1106944,664732,60.051096,1036445,735231,70.937773,503,53.019717,27.299361

In [51]:
rcds = profits_inp.values.tolist()
len(rcds)

17

In [52]:
for rcd in rcds:
    print(rcd)

[2482, 'AMATA', 2022, 2, 1, 2171767, 1098346, 1073421, 97.73, 2171767, 1770024, 401743, 22.7, 648817, 247074, 401743, 162.60027360224063, 553466, 95351, 17.227977870366022, 21, 75.06456286815167, 68.95249742317426]
[2483, 'BAM', 2022, 2, 1, 2705410, 2043406, 662004, 32.4, 2705410, 2665001, 40409, 1.52, 830623, 790214, 40409, 5.113678066954015, 311840, 518783, 166.36191636736788, 709, 51.34889860858048, 77.90521969576973]
[2484, 'BCP', 2022, 2, 1, 13208283, 3652466, 9555817, 261.63, 13208283, 9696604, 3511679, 36.22, 5276226, 1764547, 3511679, 199.01306114260487, 4356316, 919910, 21.116695850346943, 52, 129.49493924823796, 119.35730879082757]
[2485, 'BH', 2022, 2, 1, 2799073, 702109, 2096964, 298.67, 2799073, 1849587, 949486, 51.34, 1165953, 216467, 949486, 438.6285207445015, 725041, 440912, 60.812009251890586, 61, 212.362632499098, 189.33312217004692]
[2486, 'CKP', 2022, 2, 1, 2260212, 1660663, 599549, 36.1, 2260212, 2103140, 157072, 7.47, 864030, 706958, 157072, 22.218010122242056, 38726, 825304, 2131.136704023137, 107, 549.2311785363448, 1054.668471164075]
[2487, 'CPNCG', 2022, 2, 1, 533521, 429144, 104377, 24.32, 533521, 427156, 106365, 24.9, 194815, 88450, 106365, 120.2543810062182, 77560, 117255, 151.17973182052603, 122, 80.16352820668607, 65.3787295847262]
[2488, 'JMART', 2022, 2, 1, 2616411, 1098107, 1518304, 138.27, 2616411, 2459247, 157164, 6.39, 389411, 232247, 157164, 67.67105710730387, 325116, 64295, 19.77601840573826, 236, 58.02676887826053, 59.61393642485461]
[2489, 'JMT', 2022, 2, 1, 1629008, 1184917, 444091, 37.48, 1629008, 1484503, 144505, 9.73, 433309, 288804, 144505, 50.03566432597887, 366955, 66354, 18.082326170783883, 237, 28.831997624190688, 18.301413208486572]
[2490, 'JWD', 2022, 2, 1, 595153, 404672, 190481, 47.07, 595153, 556590, 38563, 6.93, 154086, 115523, 38563, 33.381231443089256, 125686, 28400, 22.5959931893767, 242, 27.49430615811649, 16.97790560705766]
[2491, 'LANNA', 2022, 2, 1, 2821353, 639500, 2181853, 341.18, 2821353, 1947761, 873592, 44.85, 1196201, 322609, 873592, 270.78971758382437, 615142, 581059, 94.45932809009953, 264, 187.819761418481, 140.901738332286]
[2492, 'PTT', 2022, 2, 1, 115615828, 84433151, 31182677, 36.93, 115615828, 101346741, 14269087, 14.08, 38847751, 24578664, 14269087, 58.05477059290123, 25570943, 13276808, 51.92146413998107, 383, 40.24655868322057, 19.571443343692188]
[2493, 'SAPPE', 2022, 2, 1, 518050, 428831, 89219, 20.81, 518050, 477634, 40416, 8.46, 167282, 126866, 40416, 31.857235193038324, 153388, 13894, 9.05807494719274, 420, 17.546327535057767, 11.106535853922754]
[2494, 'SPRC', 2022, 2, 1, 14407821, 3908828, 10498993, 268.6, 14407821, 8025156, 6382665, 79.53, 7156085, 773420, 6382665, 825.252126916811, 5284370, 1871715, 35.41983244927967, 470, 302.2004898415227, 363.07302946268277]
[2495, 'SSP', 2022, 2, 1, 1375187, 792740, 582447, 73.47, 1375187, 970687, 404500, 41.67, 644862, 240362, 404500, 168.2878325192834, 294767, 350095, 118.77007941865949, 643, 100.54947798448572, 55.1379060397435]
[2496, 'STARK', 2022, 2, 1, 3081016, 1869756, 1211260, 64.78, 3081016, 2914824, 166192, 5.7, 690637, 524445, 166192, 31.68911897339092, 569792, 120845, 21.208616477591825, 735, 30.84443386274569, 25.01617925097098]
[2497, 'SVI', 2022, 2, 1, 1777672, 664787, 1112885, 167.4, 1777672, 1521472, 256200, 16.84, 421586, 165386, 256200, 154.9103309832755, 262003, 159583, 60.90884455521501, 491, 100.01479388462262, 73.03334308671421]
[2498, 'TCAP', 2022, 2, 1, 5910236, 3509142, 2401094, 68.42, 5910236, 5245504, 664732, 12.67, 1771676, 1106944, 664732, 60.05109562904718, 1036445, 735231, 70.93777286783187, 503, 53.01971712421977, 27.299361347645377]

In [53]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [54]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [55]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['AMATA', 'ASK', 'BAM', 'BANPU', 'BAY', 'BCP', 'BH', 'BLA', 'CKP',
       'CPNCG', 'CPNREIT', 'DELTA', 'ESSO', 'INOX', 'IVL', 'JMART', 'JMT',
       'JWD', 'LANNA', 'MST', 'PSL', 'PTT', 'PTTEP', 'RBF', 'SAPPE', 'SINGER',
       'SPALI', 'SPRC', 'SSP', 'STANLY', 'STARK', 'SVI', 'TCAP', 'TISCO',
       'TOP', 'TPIPL', 'TTB', 'VNG'],
      dtype='object', name='name')

### After call 250-Export-to-PortPg

In [56]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('AMATA', 'BAM', 'BCP', 'BH', 'CKP', 'CPNCG', 'JMART', 'JMT', 'JWD', 'LANNA', 'PTT', 'SAPPE', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP') AND year = 2022 AND quarter = 2

In [57]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

     name  ticker_id
16  AMATA         24
15    BAM        680
14    BCP         56
13     BH         65
12    CKP        110
11  CPNCG        126
10  JMART        244
9     JMT        245
8     JWD        250
7   LANNA        272
6     PTT        389
5   SAPPE        426
4    SPRC        478
3     SSP        486
2   STARK        712
1     SVI        500
0    TCAP        512

In [58]:
sql = """
SELECT * 
FROM profits 
WHERE year = %s AND quarter = %s"""
sql = sql % (year, quarter)
tmp = pd.read_sql(sql, conmy)
tmp.shape

(33, 23)

In [59]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('AMATA', 'BAM', 'BCP', 'BH', 'CKP', 'CPNCG', 'JMART', 'JMT', 'JWD', 'LANNA', 'PTT', 'SAPPE', 'SPRC', 'SSP', 'STARK', 'SVI', 'TCAP')
ORDER BY name

In [60]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

     name   id                             market
0   AMATA   24         SET100 / SETCLMV / SETTHSI
1     BAM  680                             SET100
2     BCP   56         SET100 / SETCLMV / SETTHSI
3      BH   65            SET50 / SETCLMV / SETWB
4     CKP  110         SET100 / SETCLMV / SETTHSI
5   CPNCG  126                                SET
6   JMART  244                              SET50
7     JMT  245                              SET50
8     JWD  250                     sSET / SETTHSI
9   LANNA  272                               sSET
10    PTT  389  SET50 / SETCLMV / SETHD / SETTHSI
11  SAPPE  426                               sSET
12   SPRC  478                   SET100 / SETCLMV
13    SSP  486                     sSET / SETCLMV
14  STARK  712                   SET100 / SETCLMV
15    SVI  500                                SET
16   TCAP  512                     SET100 / SETHD