In [1]:
import pandas as pd
from sqlalchemy import create_engine
from glob import glob

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

data_path = "../data/"
irreg_path = "../data/irreg/"

In [2]:
year = 2022
quarter = 2
year, quarter

(2022, 2)

### Begin of Irregular quarter

### Irregular Quarter Plus 1

In [3]:
file_name   = 'P1-Stocks.csv'
input_file = irreg_path + file_name
col_names   = ['name']
data_ins = pd.read_csv(input_file, sep=',', index_col=None)
data_ins

      name
0      AOT
1     CITY
2   GVREIT
3      IRC
4     KTIS
5       MC
6    OISHI
7     PICO
8      SSC
9    TFFIF
10      UV

In [4]:
sr = data_ins["name"]
names = sr.values.tolist()
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'AOT', 'CITY', 'GVREIT', 'IRC', 'KTIS', 'MC', 'OISHI', 'PICO', 'SSC', 'TFFIF', 'UV'"

In [5]:
sql = '''
SELECT name, COUNT(*) FROM epss 
WHERE name in (%s)
AND ((year = %s AND quarter <= %s + 1)
OR (year = %s - 1 AND quarter > %s + 1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name'''
sql = sql % (in_p, year, quarter, year, quarter)
print(sql)

SELECT name, COUNT(*) FROM epss
WHERE name in ('AOT', 'CITY', 'GVREIT', 'IRC', 'KTIS', 'MC', 'OISHI', 'PICO', 'SSC', 'TFFIF', 'UV')
AND ((year = 2022 AND quarter <= 2 + 1)
OR (year = 2022 - 1 AND quarter > 2 + 1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name

In [6]:
df = pd.read_sql(sql, conlt)
df

Empty DataFrame
Columns: [name, COUNT(*)]
Index: []

### Irregular Quarter Minus 1

In [7]:
file_name   = 'M1-Stocks.csv'
input_file = irreg_path + file_name
col_names   = ['name']
data_ins = pd.read_csv(input_file, sep=',', index_col=None)
data_ins

      name
0   AEONTS
1      BCT
2    BLAND
3      BTS
4   BTSGIF
5      EPG
6   IMPACT
7    INGRS
8      KYE
9      LHK
10     LPF
11    MACO
12     PTL
13     SFP
14  STANLY
15    TIF1
16    TLGF
17     TMW
18      TR
19    TSTH
20     VGI

In [8]:
sr = data_ins["name"]
names = sr.values.tolist()
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'AEONTS', 'BCT', 'BLAND', 'BTS', 'BTSGIF', 'EPG', 'IMPACT', 'INGRS', 'KYE', 'LHK', 'LPF', 'MACO', 'PTL', 'SFP', 'STANLY', 'TIF1', 'TLGF', 'TMW', 'TR', 'TSTH', 'VGI'"

In [9]:
sql = '''
SELECT name, COUNT(*) 
FROM epss 
WHERE name in (%s)
AND ((year = %s AND quarter <= %s-1)
OR (year = %s - 1 AND quarter >= %s))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name'''
sql = sql % (in_p, year, quarter, year, quarter)
print(sql)

SELECT name, COUNT(*)
FROM epss
WHERE name in ('AEONTS', 'BCT', 'BLAND', 'BTS', 'BTSGIF', 'EPG', 'IMPACT', 'INGRS', 'KYE', 'LHK', 'LPF', 'MACO', 'PTL', 'SFP', 'STANLY', 'TIF1', 'TLGF', 'TMW', 'TR', 'TSTH', 'VGI')
AND ((year = 2022 AND quarter <= 2-1)
OR (year = 2022 - 1 AND quarter >= 2))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name

In [10]:
df = pd.read_sql(sql, conlt)
df

Empty DataFrame
Columns: [name, COUNT(*)]
Index: []

### End of Irregular quarter

### Normal Quarter Stocks

In [11]:
irreg_files = sorted(glob('../data/irreg/*.csv'))
irreg_files

['../data/irreg\\M1-Stocks.csv', '../data/irreg\\P1-Stocks.csv']

In [12]:
col_names = ['name']
df_tmp = pd.concat((pd.read_csv(file) for file in irreg_files), ignore_index=True)
df_tmp

      name
0   AEONTS
1      BCT
2    BLAND
3      BTS
4   BTSGIF
5      EPG
6   IMPACT
7    INGRS
8      KYE
9      LHK
10     LPF
11    MACO
12     PTL
13     SFP
14  STANLY
15    TIF1
16    TLGF
17     TMW
18      TR
19    TSTH
20     VGI
21     AOT
22    CITY
23  GVREIT
24     IRC
25    KTIS
26      MC
27   OISHI
28    PICO
29     SSC
30   TFFIF
31      UV

In [13]:
sr = df_tmp['name']
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AEONTS', 'BCT', 'BLAND', 'BTS', 'BTSGIF', 'EPG', 'IMPACT', 'INGRS', 'KYE', 'LHK', 'LPF', 'MACO', 'PTL', 'SFP', 'STANLY', 'TIF1', 'TLGF', 'TMW', 'TR', 'TSTH', 'VGI', 'AOT', 'CITY', 'GVREIT', 'IRC', 'KTIS', 'MC', 'OISHI', 'PICO', 'SSC', 'TFFIF', 'UV'"

In [14]:
sql = """
SELECT name, COUNT(*) AS quarters 
FROM epss 
WHERE name NOT IN (%s)
AND ((year = %s AND quarter <= %s) OR (year = %s-1 AND quarter >= %s+1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name"""
sql = sql % (in_p, year, quarter, year, quarter)
print(sql)

SELECT name, COUNT(*) AS quarters
FROM epss
WHERE name NOT IN ('AEONTS', 'BCT', 'BLAND', 'BTS', 'BTSGIF', 'EPG', 'IMPACT', 'INGRS', 'KYE', 'LHK', 'LPF', 'MACO', 'PTL', 'SFP', 'STANLY', 'TIF1', 'TLGF', 'TMW', 'TR', 'TSTH', 'VGI', 'AOT', 'CITY', 'GVREIT', 'IRC', 'KTIS', 'MC', 'OISHI', 'PICO', 'SSC', 'TFFIF', 'UV')
AND ((year = 2022 AND quarter <= 2) OR (year = 2022-1 AND quarter >= 2+1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name

In [15]:
df = pd.read_sql(sql, conlt)
df

  name  quarters
0  KGI         3

### End of Normal Quarter stocks

### Profits table

In [17]:
pd.set_option('display.max_rows',None)
sql = '''
SELECT * 
FROM profits
ORDER BY name, year, quarter
'''
profits = pd.read_sql(sql, conmy)
profits

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2482,AMATA,2022,2,1,2171767,1098346,1073421,97.73,2171767,...,648817,247074,401743,162.600274,553466,95351,17.227978,21,75.064563,68.952497
1,2475,ASK,2022,2,1,1367575,997509,370066,37.10,1367575,...,359015,269084,89931,33.421162,351037,7978,2.272695,38,19.958464,17.839559
2,2483,BAM,2022,2,1,2705410,2043406,662004,32.40,2705410,...,830623,790214,40409,5.113678,311840,518783,166.361916,709,51.348899,77.905220
3,2479,BANPU,2022,2,1,30044483,1875967,28168516,1501.55,30044483,...,12789043,1325456,11463587,864.878729,10264206,2524837,24.598464,47,613.181798,707.839888
4,2484,BCP,2022,2,1,13208283,3652466,9555817,261.63,13208283,...,5276226,1764547,3511679,199.013061,4356316,919910,21.116696,52,129.494939,119.357309
5,2505,BCT,2022,1,1,5136900,2684883,2452017,91.33,5136900,...,1788489,938913,849576,90.485061,1185792,602697,50.826536,729,63.115399,34.499613
6,2485,BH,2022,2,1,2799073,702109,2096964,298.67,2799073,...,1165953,216467,949486,438.628521,725041,440912,60.812009,61,212.362632,189.333122
7,2476,BLA,2022,2,1,3444585,2488156,956429,38.44,3444585,...,1189117,751405,437712,58.252474,800662,388455,48.516727,70,39.942300,18.755455
8,2486,CKP,2022,2,1,2260212,1660663,599549,36.10,2260212,...,864030,706958,157072,22.218010,38726,825304,2131.136704,107,549.231179,1054.668471
9,2487,CPNCG,2022,2,1,533521,429144,104377,24.32,533521,...,194815,88450,106365,120.254381,77560,117255,151.179732,122,80.163528,65.378730
10,2458,CPNREIT,2022,2,1,1624073,22899,1601174,6992.33,1624073,...,856120,101835,754285,740.693278,465714,390406,83.829561,647,1975.893210,3358.533272
11,2503,CRC,2022,2,1,2819760,1823748,996012,54.61,2819760,...,1486407,-471491,1957898,415.256707,1203906,282501,23.465370,708,180.125519,180.551384
12,2453,DELTA,2022,2,1,10330437,7635796,2694641,35.29,10330437,...,4263457,1655385,2608072,157.550781,2095587,2167870,103.449296,138,82.515019,59.651457
13,2477,ESSO,2022,2,1,14995042,4546503,10448539,229.81,14995042,...,8298635,858118,7440517,867.073876,5899724,2398911,40.661411,165,309.008822,380.367176
14,2463,INOX,2022,2,1,1333707,472680,861027,182.16,1333707,...,460736,208341,252395,121.145142,358147,102589,28.644383,674,88.822381,76.737660
15,2478,IVL,2022,2,1,46287387,16038471,30248916,188.60,46287387,...,20277879,8339617,11938262,143.151202,14069905,6207974,44.122359,231,102.658390,75.415044
16,2488,JMART,2022,2,1,2616411,1098107,1518304,138.27,2616411,...,389411,232247,157164,67.671057,325116,64295,19.776018,236,58.026769,59.613936
17,2489,JMT,2022,2,1,1629008,1184917,444091,37.48,1629008,...,433309,288804,144505,50.035664,366955,66354,18.082326,237,28.831998,18.301413
18,2490,JWD,2022,2,1,595153,404672,190481,47.07,595153,...,154086,115523,38563,33.381231,125686,28400,22.595993,242,27.494306,16.977906
19,2507,KSL,2022,2,1,951975,703047,248928,35.41,951975,...,415148,102473,312675,305.129156,332072,83076,25.017466,257,103.616656,134.697298
20,2491,LANNA,2022,2,1,2821353,639500,2181853,341.18,2821353,...,1196201,322609,873592,270.789718,615142,581059,94.459328,264,187.819761,140.901738
21,2506,OISHI,2022,3,1,1028962,730662,298300,40.83,1028962,...,357102,162306,194796,120.017744,264766,92336,34.874568,338,54.768078,44.100780
22,2504,ORI,2022,2,1,3410091,3036670,373421,12.30,3410091,...,1155286,852002,303284,35.596630,737941,417345,56.555334,339,28.552991,21.993032
23,2456,PSL,2022,2,1,6227064,1206757,5020307,416.02,6227064,...,1659652,826308,833344,100.851498,1293922,365730,28.265228,734,140.146682,187.720467
24,2500,PTL,2022,1,1,4046768,2407606,1639162,68.08,4046768,...,1153220,656239,496981,75.731708,976015,177205,18.155971,382,43.991920,32.427669
25,2492,PTT,2022,2,1,115615828,84433151,31182677,36.93,115615828,...,38847751,24578664,14269087,58.054771,25570943,13276808,51.921464,383,40.246559,19.571443
26,2455,PTTEP,2022,2,1,51309276,28401949,22907327,80.65,51309276,...,20599944,7139604,13460340,188.530624,10519023,10080921,95.835146,384,100.143942,64.243990
27,2493,SAPPE,2022,2,1,518050,428831,89219,20.81,518050,...,167282,126866,40416,31.857235,153388,13894,9.058075,420,17.546328,11.106536
28,2480,SINGER,2022,2,1,858675,564141,294534,52.21,858675,...,265417,182628,82789,45.332041,215414,50003,23.212512,446,32.856138,19.282500
29,2461,SPALI,2022,2,1,7851676,5552726,2298950,41.40,7851676,...,2075084,1730465,344619,19.914821,1177815,897269,76.180809,462,35.521407,31.027205
30,2494,SPRC,2022,2,1,14407821,3908828,10498993,268.60,14407821,...,7156085,773420,6382665,825.252127,5284370,1871715,35.419832,470,302.200490,363.073029
31,2495,SSP,2022,2,1,1375187,792740,582447,73.47,1375187,...,644862,240362,404500,168.287833,294767,350095,118.770079,643,100.549478,55.137906
32,2496,STARK,2022,2,1,3081016,1869756,1211260,64.78,3081016,...,690637,524445,166192,31.689119,569792,120845,21.208616,735,30.844434,25.016179
33,2497,SVI,2022,2,1,1777672,664787,1112885,167.40,1777672,...,421586,165386,256200,154.910331,262003,159583,60.908845,491,100.014794,73.033343
34,2498,TCAP,2022,2,1,5910236,3509142,2401094,68.42,5910236,...,1771676,1106944,664732,60.051096,1036445,735231,70.937773,503,53.019717,27.299361
35,2499,TFFIF,2022,3,1,1390654,1086172,304482,28.03,1390654,...,421327,240117,181210,75.467376,397594,23733,5.969154,686,31.111633,30.926268
36,2462,TOP,2022,2,1,39604949,13455400,26149549,194.34,39604949,...,25326935,2122676,23204259,1093.160661,7182668,18144267,252.611801,555,420.398116,450.799023
37,2481,TPIPL,2022,2,1,6941060,3387423,3553637,104.91,6941060,...,2425818,1790938,634880,35.449580,1800127,625691,34.758159,559,46.296935,40.819483
38,2454,TTB,2022,2,1,11791212,8169846,3621366,44.33,11791212,...,3438326,2534108,904218,35.681905,3194904,243422,7.619071,541,23.985244,18.835126
39,2457,VNG,2022,2,1,1502115,102807,1399308,1361.10,1502115,...,359706,339705,20001,5.887756,317574,42132,13.266829,726,345.401146,677.150377