In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2021"
quarter = "3"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-07'

In [2]:
#today = date(2022, 1, 7)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-01-20'

### Tables in the process

In [2]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

In [3]:
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:,.2f}%','acc_pct':'{:,.2f}%'
              }

In [4]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 1', conlt).style.format(format_dict)

In [5]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2021 AND quarter = 3
AND publish_date >= '2022-02-07'

In [6]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.style.format(format_dict)

In [7]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [8]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [9]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [10]:
#df_pct_criteria = criteria_1 & criteria_2 & criteria_3
df_pct_criteria = criteria_1 & criteria_3 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [11]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [12]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

### If new records pass filter criteria then proceed to create quarterly profits process.

In [16]:
name = "TSTH"
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name = '%s'
ORDER BY year DESC, quarter DESC LIMIT 4
"""
sql = sql % (name)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name = 'TSTH'
ORDER BY year DESC, quarter DESC LIMIT 4

In [17]:
epss.q_eps.sum()

0.323

### Delete from profits of older profit stocks

In [18]:
sqlDel = """
DELETE FROM profits
WHERE name = '%s'
AND quarter < %s
"""
sqlDel = sqlDel % (name, quarter)
print(sqlDel)

DELETE FROM profits
WHERE name = 'TSTH'
AND quarter < 3

In [19]:
rp = conlt.execute(sqlDel)
rp.rowcount

1

In [20]:
rp = conmy.execute(sqlDel)
rp.rowcount

1

In [21]:
rp = conpg.execute(sqlDel)
rp.rowcount

1

In [22]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['ADVANC', 'AEONTS', 'AIT', 'AMATA', 'AP', 'ASIAN', 'ASK', 'BAY', 'BBL',
       'BCH',
       ...
       'TPIPP', 'TQM', 'TSE', 'TTW', 'TU', 'TVO', 'TYCN', 'UOBKH', 'VNT',
       'WHART'],
      dtype='object', name='name', length=116)

In [23]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['AEONTS', 'ASK', 'BCH', 'BGRIM', 'BLA', 'CKP', 'DOHOME', 'EPG',
       'GLOBAL', 'GULF', 'IMH', 'IP', 'IVL', 'JMT', 'KBANK', 'KCE', 'LANNA',
       'LPF', 'MCS', 'MEGA', 'NER', 'PTL', 'PTT', 'RATCH', 'RCL', 'RJH',
       'ROJNA', 'SAT', 'SINGER', 'SIS', 'SMT', 'SPALI', 'STA', 'STARK', 'SVI',
       'SYNEX', 'TISCO', 'TKS', 'TOP', 'TQM', 'TSE'],
      dtype='object', name='name')

In [24]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'AEONTS', 'AIT', 'AMATA', 'AP', 'ASIAN', 'ASK', 'BAY', 'BBL',
       'BCH',
       ...
       'TPIPP', 'TQM', 'TSE', 'TTW', 'TU', 'TVO', 'TYCN', 'UOBKH', 'VNT',
       'WHART'],
      dtype='object', name='name', length=116)