In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2021"
quarter = "3"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-01-09'

In [2]:
today = date(2022, 1, 7)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-01-07'

### Tables in the process

In [7]:
cols = ['name','year','quarter','q_amt','y_amt','yoy_gain','yoy_pct']

In [3]:
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [4]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 1', conlt).style.format(format_dict)

In [5]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"'''
sql = sql % (year, quarter, today_str)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2021 AND quarter = 3
AND publish_date >= "2022-01-07"

In [6]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct.style.format(format_dict)

In [8]:
criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [9]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [10]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [11]:
#df_pct_criteria = criteria_1 & criteria_2 & criteria_3
df_pct_criteria = criteria_1 & criteria_2 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [12]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [13]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

### If new records pass filter criteria then proceed to create quarterly profits process.

In [14]:
name = "AEONTS"
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name = '%s'
ORDER BY year DESC, quarter DESC LIMIT 4
"""
sql = sql % (name)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

In [15]:
epss.q_eps.sum()

15.31

### Delete from profits for poorer performance stocks

In [16]:
sqlDel = '''
DELETE FROM profits
WHERE name = '%s'
AND quarter < %s
'''
sqlDel = sqlDel % (name, quarter)
print(sqlDel)

DELETE FROM profits
WHERE name = 'AEONTS'
AND quarter < 3

In [17]:
rp = conlt.execute(sqlDel)
rp.rowcount

0

In [18]:
rp = conmy.execute(sqlDel)
rp.rowcount

0

In [19]:
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [20]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index('name', inplace=True)
lt_profits.index

Index(['ADVANC', 'AEONTS', 'AIT', 'AMATA', 'AP', 'ASIAN', 'ASK', 'BAY', 'BBL',
       'BCH',
       ...
       'TQM', 'TSE', 'TSTH', 'TTW', 'TU', 'TVO', 'TYCN', 'UOBKH', 'VNT',
       'WHART'],
      dtype='object', name='name', length=116)