In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2022"
quarter = "3"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-11-14'

In [2]:
#today = date(2022, 11, 11)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-11-14'

### Tables in the process

In [3]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:,.2f}%','acc_pct':'{:,.2f}%'
              }

In [4]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 1', conlt).style.format(format_dict)

In [5]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
ORDER BY name
"""
sql = sql % (year, quarter, today_str)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2022 AND quarter = 3
AND publish_date >= '2022-11-14'
ORDER BY name

In [6]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.style.format(format_dict)

In [7]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [8]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [9]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [10]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_3 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [11]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [12]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [13]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'AIE', 'AIMIRT', 'AMATA', 'BA', 'BDMS', 'BEAUTY', 'CK', 'CPF', 'CRC', 'DCON', 'EGCO', 'FORTH', 'GRAMMY', 'HANA', 'LALIN', 'MCS', 'MEGA', 'ORI', 'PCSGH', 'PLANB', 'PTG', 'RATCH', 'ROJNA', 'RS', 'SAWAD', 'SENA', 'SIRI', 'SPC', 'SPCG', 'SSP', 'STARK', 'STEC', 'SUPER', 'SUPEREIF', 'TOA', 'TPIPL', 'TQM', 'TRUE', 'VIBHA', 'WHART'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [14]:
#name = "TSTH"
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
LIMIT 12
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('AH', 'AIE', 'AIMIRT', 'AMATA', 'BA', 'BDMS', 'BEAUTY', 'CK', 'CPF', 'CRC', 'DCON', 'EGCO', 'FORTH', 'GRAMMY', 'HANA', 'LALIN', 'MCS', 'MEGA', 'ORI', 'PCSGH', 'PLANB', 'PTG', 'RATCH', 'ROJNA', 'RS', 'SAWAD', 'SENA', 'SIRI', 'SPC', 'SPCG', 'SSP', 'STARK', 'STEC', 'SUPER', 'SUPEREIF', 'TOA', 'TPIPL', 'TQM', 'TRUE', 'VIBHA', 'WHART')
ORDER BY E.name, year DESC, quarter DESC
LIMIT 12

### Delete from profits of older profit stocks

In [15]:
#in_p = "'KTC'"
in_p

"'AH', 'AIE', 'AIMIRT', 'AMATA', 'BA', 'BDMS', 'BEAUTY', 'CK', 'CPF', 'CRC', 'DCON', 'EGCO', 'FORTH', 'GRAMMY', 'HANA', 'LALIN', 'MCS', 'MEGA', 'ORI', 'PCSGH', 'PLANB', 'PTG', 'RATCH', 'ROJNA', 'RS', 'SAWAD', 'SENA', 'SIRI', 'SPC', 'SPCG', 'SSP', 'STARK', 'STEC', 'SUPER', 'SUPEREIF', 'TOA', 'TPIPL', 'TQM', 'TRUE', 'VIBHA', 'WHART'"

In [16]:
sql = """
SELECT * FROM profits
WHERE name IN (%s)
AND quarter < %s
"""
sql = sql % (in_p, quarter)
df_temp = pd.read_sql(sql, conlt)
df_temp

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2482,AMATA,2022,2,1,2171767,1098346,1073421,97.73,2171767,...,648817,247074,401743,162.600274,553466,95351,17.227978,21,75.064563,68.952497
1,2503,CRC,2022,2,1,2819760,1823748,996012,54.61,2819760,...,1486407,-471491,1957898,415.256707,1203906,282501,23.465370,708,180.125519,180.551384
2,2504,ORI,2022,2,1,3410091,3036670,373421,12.30,3410091,...,1155286,852002,303284,35.596630,737941,417345,56.555334,339,28.552991,21.993032
3,2495,SSP,2022,2,1,1375187,792740,582447,73.47,1375187,...,644862,240362,404500,168.287833,294767,350095,118.770079,643,100.549478,55.137906
4,2496,STARK,2022,2,1,3081016,1869756,1211260,64.78,3081016,...,690637,524445,166192,31.689119,569792,120845,21.208616,735,30.844434,25.016179
5,2481,TPIPL,2022,2,1,6941060,3387423,3553637,104.91,6941060,...,2425818,1790938,634880,35.449580,1800127,625691,34.758159,559,46.296935,40.819483

In [17]:
sqlDel = """
DELETE FROM profits
WHERE name IN (%s)
AND quarter < %s
"""
sqlDel = sqlDel % (in_p, quarter)
print(sqlDel)

DELETE FROM profits
WHERE name IN ('AH', 'AIE', 'AIMIRT', 'AMATA', 'BA', 'BDMS', 'BEAUTY', 'CK', 'CPF', 'CRC', 'DCON', 'EGCO', 'FORTH', 'GRAMMY', 'HANA', 'LALIN', 'MCS', 'MEGA', 'ORI', 'PCSGH', 'PLANB', 'PTG', 'RATCH', 'ROJNA', 'RS', 'SAWAD', 'SENA', 'SIRI', 'SPC', 'SPCG', 'SSP', 'STARK', 'STEC', 'SUPER', 'SUPEREIF', 'TOA', 'TPIPL', 'TQM', 'TRUE', 'VIBHA', 'WHART')
AND quarter < 3

In [18]:
rp = conlt.execute(sqlDel)
rp.rowcount

6

In [19]:
rp = conmy.execute(sqlDel)
rp.rowcount

5

In [20]:
rp = conpg.execute(sqlDel)
rp.rowcount

6

In [21]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'AIT', 'ASK', 'AYUD', 'BANPU', 'BBL', 'BCPG', 'BCT',
       'BEM', 'BH', 'BPP', 'CIMBT', 'CKP', 'COM7', 'CPALL', 'CPN', 'EA',
       'GFPT', 'GVREIT', 'HMPRO', 'ICHI', 'III', 'INTUCH', 'JMART', 'JMT',
       'KCE', 'KKP', 'KSL', 'KTB', 'LH', 'LHFG', 'MAKRO', 'MTI', 'NER',
       'OISHI', 'PSH', 'PTL', 'PTTEP', 'QH', 'SABUY', 'SAPPE', 'SAUCE', 'SC',
       'SCB', 'SKR', 'SPALI', 'SPI', 'SVI', 'SYNEX', 'TFFIF', 'TFG', 'THG',
       'TTA', 'TTB', 'VNT'],
      dtype='object', name='name')

In [22]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['AIT', 'ASK', 'BANPU', 'BBL', 'BEM', 'BH', 'BPP', 'CKP', 'COM7',
       'CPALL', 'CPN', 'EA', 'GFPT', 'HMPRO', 'ICHI', 'III', 'JMART', 'JMT',
       'KCE', 'KKP', 'KSL', 'KTB', 'LH', 'MAKRO', 'NER', 'OISHI', 'PSH', 'PTL',
       'PTTEP', 'QH', 'SABUY', 'SAPPE', 'SC', 'SCB', 'SPALI', 'SVI', 'SYNEX',
       'TFFIF', 'TFG', 'TTB'],
      dtype='object', name='name')

In [23]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'AIT', 'ASK', 'BANPU', 'BBL', 'BCPG', 'BCT', 'BEM', 'BH',
       'BPP', 'CKP', 'COM7', 'CPALL', 'CPN', 'EA', 'GFPT', 'GVREIT', 'HMPRO',
       'ICHI', 'III', 'INTUCH', 'JMART', 'JMT', 'KCE', 'KKP', 'KSL', 'KTB',
       'LH', 'LHFG', 'MAKRO', 'NER', 'OISHI', 'PSH', 'PTL', 'PTTEP', 'QH',
       'SABUY', 'SAPPE', 'SC', 'SCB', 'SKR', 'SPALI', 'SVI', 'SYNEX', 'TFFIF',
       'TFG', 'THG', 'TTA', 'TTB'],
      dtype='object', name='name')