### Re-run the whole notebook

In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
year = 2021
quarter = 3

In [2]:
sql = """
SELECT name,year,quarter,q_amt
FROM epss 
WHERE (year = %s AND quarter <= %s) 
OR (year = %s-1 AND quarter >= %s+1)
ORDER BY year DESC, quarter DESC"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT name,year,quarter,q_amt
FROM epss
WHERE (year = 2021 AND quarter <= 3)
OR (year = 2021-1 AND quarter >= 3+1)
ORDER BY year DESC, quarter DESC

In [3]:
dfc = pd.read_sql(sql, conlt)
dfc["Counter"] = 1
dfc_grp = dfc.groupby(["name"], as_index=False).sum()
dfc_grp = dfc_grp[dfc_grp["Counter"] == 4]
dfc_grp.shape

(319, 5)

In [4]:
sql = """
SELECT name,year,quarter,q_amt
FROM epss 
WHERE (year = %s-1 AND quarter <= %s) 
OR (year = %s-2 AND quarter >= %s+1)
ORDER BY year DESC, quarter DESC"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT name,year,quarter,q_amt
FROM epss
WHERE (year = 2021-1 AND quarter <= 3)
OR (year = 2021-2 AND quarter >= 3+1)
ORDER BY year DESC, quarter DESC

In [5]:
dfp = pd.read_sql(sql, conlt)
dfp["Counter"] = 1
dfp_grp = dfp.groupby(["name"], as_index=False).sum()
dfp_grp = dfp_grp[dfp_grp["Counter"] == 4]
dfp_grp.shape

(328, 5)

In [6]:
dfm = pd.merge(dfc_grp, dfp_grp, on="name", suffixes=(["_c", "_p"]), how="inner")
dfm["inc_profit"] = dfm["q_amt_c"] - dfm["q_amt_p"]
dfm["Pct"] = dfm["inc_profit"] / abs(dfm["q_amt_p"]) * 100
dfm["year"] = year
dfm["quarter"] = "Q" + str(quarter)
df_pct = dfm[["name", "year", "quarter", "q_amt_c", "q_amt_p", "inc_profit", "Pct"]]
df_pct.shape

(313, 7)

In [7]:
sql = '''
DELETE FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
rp = conlt.execute(sql)
rp.rowcount

312

In [8]:
sql = "SELECT name, id FROM tickers"
tickers = pd.read_sql(sql, conlt)
df_ins = pd.merge(df_pct, tickers, on="name", how="inner")
rcds = df_ins.values.tolist()
len(rcds)

313

In [9]:
for rcd in rcds:
    print(rcd)

['2S', 2021, 'Q3', 788297, 319496, 468801, 146.73141447780253, 727]
['AAV', 2021, 'Q3', -6769190, -3721734, -3047456, -81.88269231492632, 732]
['ACE', 2021, 'Q3', 1392091, 1498905, -106814, -7.126135412184227, 698]
['ADVANC', 2021, 'Q3', 27223149, 27334917, -111768, -0.4088836267547474, 6]
['AEONTS', 2021, 'Q3', 3826113, 3561748, 264365, 7.422338694371415, 7]
['AH', 2021, 'Q3', 1041977, -750691, 1792668, 238.80238340409034, 9]
['AIE', 2021, 'Q3', 522478, 219664, 302814, 137.85326680748778, 720]
['AIMIRT', 2021, 'Q3', 437639, 491527, -53888, -10.963385531211916, 669]
['AIT', 2021, 'Q3', 522365, 380169, 142196, 37.40336534541217, 11]
['AJ', 2021, 'Q3', 389174, 582318, -193144, -33.168131502031535, 12]
['AKR', 2021, 'Q3', 123963, 68139, 55824, 81.92664993615992, 14]
['ALUCON', 2021, 'Q3', 725936, 665303, 60633, 9.113591852133538, 17]
['AMANAH', 2021, 'Q3', 307691, 283638, 24053, 8.480175434885313, 19]
['AMARIN', 2021, 'Q3', 367215, 147666, 219549, 148.6794522774369, 20]
['AMATA', 2021, 'Q3', 1058096, 957203, 100893, 10.540397386970161, 21]
['AMC', 2021, 'Q3', 809057, 74387, 734670, 987.63224757014, 22]
['ANAN', 2021, 'Q3', -311727, -13641, -298086, -2185.2210248515503, 23]
['AOT', 2021, 'Q3', -14892318, 13169635, -28061953, -213.08071939731056, 24]
['AP', 2021, 'Q3', 4491151, 4166157, 324994, 7.8008101951030655, 25]
['APCS', 2021, 'Q3', 255805, 10400, 245405, 2359.6634615384614, 27]
['APURE', 2021, 'Q3', 354554, 231161, 123393, 53.37967909811776, 28]
['ARROW', 2021, 'Q3', 157109, 175791, -18682, -10.62739275617068, 31]
['ASIAN', 2021, 'Q3', 989973, 624156, 365817, 58.60986676407821, 36]
['ASK', 2021, 'Q3', 1080308, 903132, 177176, 19.617951750131763, 38]
['ASP', 2021, 'Q3', 907856, 367461, 540395, 147.06186506867397, 40]
['AWC', 2021, 'Q3', -597662, -906573, 308911, 34.07458638190196, 699]
['AYUD', 2021, 'Q3', 1332945, 249967, 1082978, 433.24838878731987, 44]
['BA', 2021, 'Q3', -8809152, -4400123, -4409029, -100.20240343281313, 45]
['BAM', 2021, 'Q3', 2321436, 2799788, -478352, -17.085293600801204, 709]
['BANPU', 2021, 'Q3', 5897490, -2767210, 8664700, 313.1204353843763, 47]
['BAY', 2021, 'Q3', 30793995, 26092193, 4701802, 18.01995715729989, 49]
['BBL', 2021, 'Q3', 22586660, 22785369, -198709, -0.8720903312998793, 50]
['BCH', 2021, 'Q3', 4644042, 1191940, 3452102, 289.62045069382685, 51]
['BCP', 2021, 'Q3', 6119569, -6598807, 12718376, 192.7375054309059, 52]
['BCPG', 2021, 'Q3', 2083827, 2046389, 37438, 1.829466440642517, 53]
['BDMS', 2021, 'Q3', 7687881, 7149133, 538748, 7.535850850725535, 54]
['BEAUTY', 2021, 'Q3', -53418, -58383, 4965, 8.504187862905297, 55]
['BEC', 2021, 'Q3', 733898, -740885, 1474783, 199.05693866119574, 56]
['BEM', 2021, 'Q3', 1183772, 2002823, -819051, -40.894826951757594, 57]
['BEYOND', 2021, 'Q3', 290578, 118219, 172359, 145.79636099104206, 348]
['BFIT', 2021, 'Q3', 924632, 1706162, -781530, -45.80631850902787, 58]
['BGC', 2021, 'Q3', 550097, 583090, -32993, -5.658303177897066, 677]
['BGRIM', 2021, 'Q3', 2656572, 2008068, 648504, 32.29492228350833, 59]
['BH', 2021, 'Q3', 776568, 1917008, -1140440, -59.490622887332755, 61]
['BJC', 2021, 'Q3', 3555645, 5120485, -1564840, -30.560386369650534, 65]
['BKI', 2021, 'Q3', 1167613, 2944325, -1776712, -60.343610165318026, 68]
['BLA', 2021, 'Q3', 3085271, 2098603, 986668, 47.01546695587493, 70]
['BPP', 2021, 'Q3', 3957525, 2132501, 1825024, 85.58139011423675, 74]
['BRR', 2021, 'Q3', 60421, -373714, 434135, 116.16771113739384, 78]
['BSBM', 2021, 'Q3', 85267, 68800, 16467, 23.934593023255815, 79]
['CBG', 2021, 'Q3', 3141225, 3454727, -313502, -9.07458100162473, 87]
['CCET', 2021, 'Q3', 526537, 78148, 448389, 573.7690024056918, 88]
['CENTEL', 2021, 'Q3', -3252627, -937110, -2315517, -247.09126996830682, 92]
['CGH', 2021, 'Q3', 654014, 115121, 538893, 468.11007548579323, 95]
['CHAYO', 2021, 'Q3', 206771, 138606, 68165, 49.17896772145506, 671]
['CHG', 2021, 'Q3', 2644996, 757353, 1887643, 249.24216316565722, 98]
['CIMBT', 2021, 'Q3', 1531200, 2241065, -709865, -31.675341857554333, 104]
['CK', 2021, 'Q3', 688655, 981936, -293281, -29.867628847501265, 106]
['CKP', 2021, 'Q3', 2064271, 909324, 1154947, 127.01160422467679, 107]
['COM7', 2021, 'Q3', 2279167, 1319735, 959432, 72.69883726657245, 114]
['CPALL', 2021, 'Q3', 9854339, 18697292, -8842953, -47.29536769281883, 116]
['CPF', 2021, 'Q3', 12716970, 23624279, -10907309, -46.16991274104069, 117]
['CPI', 2021, 'Q3', 318049, 70841, 247208, 348.9617594330967, 119]
['CPN', 2021, 'Q3', 7349847, 11210478, -3860631, -34.43770194277175, 121]
['CPNCG', 2021, 'Q3', 402489, 495090, -92601, -18.7038720232685, 122]
['CPNREIT', 2021, 'Q3', -329271, 925530, -1254801, -135.5764805030631, 647]
['CPTGF', 2021, 'Q3', 681239, 566186, 115053, 20.32070732939352, 690]
['CRC', 2021, 'Q3', 3227788, 5268455, -2040667, -38.73368947822464, 708]
['CSP', 2021, 'Q3', 438381, -26154, 464535, 1776.1527873365453, 129]
['CSS', 2021, 'Q3', 85427, 129421, -43994, -33.992937776713205, 131]
['CWT', 2021, 'Q3', 208170, 63944, 144226, 225.55048167146253, 134]
['DCC', 2021, 'Q3', 1674358, 1462034, 212324, 14.522507684499814, 135]
['DCON', 2021, 'Q3', 111660, 79435, 32225, 40.567759803613015, 136]
['DDD', 2021, 'Q3', 180492, -89565, 270057, 301.5206833026294, 665]
['DELTA', 2021, 'Q3', 6184967, 5903017, 281950, 4.776371133608459, 138]
['DEMCO', 2021, 'Q3', 91260, -32893, 124153, 377.44504909859245, 139]
['DIF', 2021, 'Q3', 13757407, 17689653, -3932246, -22.229073685051933, 140]
['DOHOME', 2021, 'Q3', 1700256, 663644, 1036612, 156.20001084919022, 701]
['DRT', 2021, 'Q3', 588536, 559541, 28995, 5.181925899978732, 143]
['DTAC', 2021, 'Q3', 3465917, 5327983, -1862066, -34.94879769698965, 144]
['DUSIT', 2021, 'Q3', -737049, -608856, -128193, -21.054732153415586, 145]
['EA', 2021, 'Q3', 5702847, 5470208, 232639, 4.252836455213403, 148]
['EASTW', 2021, 'Q3', 1036000, 811874, 224126, 27.606007828801022, 151]
['ECL', 2021, 'Q3', 148542, 71704, 76838, 107.15999107441705, 153]
['EGATIF', 2021, 'Q3', 639121, 1795476, -1156355, -64.40381269368123, 156]
['EGCO', 2021, 'Q3', 4973588, 9467960, -4494372, -47.4692753243571, 157]
['EKH', 2021, 'Q3', 300437, 56136, 244301, 435.19488385349865, 159]
['EMC', 2021, 'Q3', 63809, 10361, 53448, 515.8575427082328, 691]
['ESSO', 2021, 'Q3', 4126097, -10214505, 14340602, 140.39448803441772, 165]
['FORTH', 2021, 'Q3', 725253, 318641, 406612, 127.60818601498238, 176]
['FPI', 2021, 'Q3', 215039, 38747, 176292, 454.9823212119648, 177]
['FSMART', 2021, 'Q3', 429577, 499460, -69883, -13.991711047931766, 178]
['FSS', 2021, 'Q3', 260306, -7381, 267687, 3626.703698685815, 179]
['GBX', 2021, 'Q3', 129832, 7822, 122010, 1559.8312452058296, 182]
['GC', 2021, 'Q3', 193488, 119808, 73680, 61.49839743589743, 183]
['GFPT', 2021, 'Q3', 617194, 1140174, -522980, -45.868437624432765, 187]
['GGC', 2021, 'Q3', 983347, 185849, 797498, 429.11072967839476, 188]
['GLAND', 2021, 'Q3', 511497, 1545897, -1034400, -66.91260801980987, 192]
['GLOBAL', 2021, 'Q3', 2974789, 2172135, 802654, 36.952307292134236, 193]
['GPI', 2021, 'Q3', 41765, 24337, 17428, 71.61112709043843, 652]
['GPSC', 2021, 'Q3', 7608216, 7194814, 413402, 5.7458330402981925, 197]
['GRAMMY', 2021, 'Q3', 136116, 237376, -101260, -42.65806147209491, 198]
['GULF', 2021, 'Q3', 6471046, 3342750, 3128296, 93.58450377683045, 653]
['GUNKUL', 2021, 'Q3', 3414243, 2246864, 1167379, 51.95592612636991, 202]
['GVREIT', 2021, 'Q3', 823986, 855366, -31380, -3.6686050182027343, 654]
['HANA', 2021, 'Q3', 2303427, 1764533, 538894, 30.540318599878834, 205]
['HFT', 2021, 'Q3', 493119, 365812, 127307, 34.80120936437296, 207]
['HMPRO', 2021, 'Q3', 5210457, 5357590, -147133, -2.7462534460457033, 208]
['HREIT', 2021, 'Q3', 786155, 512700, 273455, 53.3362590208699, 211]
['HTC', 2021, 'Q3', 545441, 509231, 36210, 7.110721853147196, 212]
['HTECH', 2021, 'Q3', 120176, 53289, 66887, 125.51746138978027, 213]
['HUMAN', 2021, 'Q3', 172008, 161957, 10051, 6.2059682508320115, 655]
['ICC', 2021, 'Q3', -1631, -51368, 49737, 96.82487151534029, 215]
['ICHI', 2021, 'Q3', 498194, 515314, -17120, -3.3222462420970515, 216]
['IFS', 2021, 'Q3', 143451, 150310, -6859, -4.563235978976781, 219]
['IHL', 2021, 'Q3', 114234, -45734, 159968, 349.77915773822536, 220]
['III', 2021, 'Q3', 311728, 142622, 169106, 118.56936517507819, 637]
['ILINK', 2021, 'Q3', 246256, 225538, 20718, 9.186035169239773, 221]
['ILM', 2021, 'Q3', 445215, 418906, 26309, 6.280406582861072, 725]
['IMH', 2021, 'Q3', 290497, -20007, 310504, 1551.976808117159, 730]
['INET', 2021, 'Q3', 161658, 152088, 9570, 6.292409657566672, 223]
['INOX', 2021, 'Q3', 675829, -100465, 776294, 772.7009406260887, 674]
['INTUCH', 2021, 'Q3', 10801621, 10272171, 529450, 5.1542171562369825, 224]
['IP', 2021, 'Q3', 73677, 61952, 11725, 18.925942665289256, 736]
['IRC', 2021, 'Q3', 392322, 183036, 209286, 114.34144102799448, 225]
['IRPC', 2021, 'Q3', 13918559, -8272999, 22191558, 268.2407915194961, 227]
['IVL', 2021, 'Q3', 22206460, -411281, 22617741, 5499.340110532702, 231]
['J', 2021, 'Q3', 58056, 98758, -40702, -41.2138763441949, 232]
['JAS', 2021, 'Q3', -2472905, 1942976, -4415881, -227.2740888204486, 233]
['JASIF', 2021, 'Q3', 8129081, 12295179, -4166098, -33.88399632083437, 234]
['JMART', 2021, 'Q3', 1106720, 680728, 425992, 62.57888613366867, 236]
['JMT', 2021, 'Q3', 1253443, 915666, 337777, 36.888669012500195, 237]
['JTS', 2021, 'Q3', 166466, 29026, 137440, 473.5065114035693, 239]
['JUBILE', 2021, 'Q3', 206275, 256873, -50598, -19.69767161204175, 240]
['JWD', 2021, 'Q3', 471206, 332894, 138312, 41.5483607394546, 242]
['KAMART', 2021, 'Q3', 270164, 162216, 107948, 66.54584011441534, 243]
['KBANK', 2021, 'Q3', 41409930, 24237679, 17172251, 70.8494035258079, 245]
['KCE', 2021, 'Q3', 2105875, 997996, 1107879, 111.01036477100108, 249]
['KGI', 2021, 'Q3', 1945930, 393729, 1552201, 394.23080342062684, 252]
['KKP', 2021, 'Q3', 5402784, 5695015, -292231, -5.131347327443387, 255]
['KSL', 2021, 'Q3', 563233, -82728, 645961, 780.8251136253747, 257]
['KTB', 2021, 'Q3', 20096874, 20426729, -329855, -1.614820463912749, 258]
['KTC', 2021, 'Q3', 5952204, 5330560, 621644, 11.661889182374836, 259]
['LALIN', 2021, 'Q3', 1393010, 1200162, 192848, 16.068497419515033, 263]
['LANNA', 2021, 'Q3', 1312902, 267297, 1045605, 391.1772298230059, 264]
['LH', 2021, 'Q3', 7278457, 8933334, -1654877, -18.524741154870064, 267]
['LHFG', 2021, 'Q3', 1960994, 1195126, 765868, 64.08261555685341, 268]
['LHHOTEL', 2021, 'Q3', -391459, -259014, -132445, -51.13430162076181, 679]
['LIT', 2021, 'Q3', 20737, 52298, -31561, -60.34838808367433, 273]
['LPH', 2021, 'Q3', 467564, 120493, 347071, 288.0424588980273, 275]
['LPN', 2021, 'Q3', 513712, 1086586, -572874, -52.722380004896074, 276]
['LST', 2021, 'Q3', 548673, 362896, 185777, 51.19290375203916, 278]
['M', 2021, 'Q3', 81302, 1213928, -1132626, -93.30256819185323, 279]
['MAJOR', 2021, 'Q3', 2278649, -590607, 2869256, 485.81476345522486, 282]
['MAKRO', 2021, 'Q3', 6722588, 6491859, 230729, 3.5541283321156545, 283]
['MBAX', 2021, 'Q3', 40794, 181979, -141185, -77.58312772352855, 288]
['MC', 2021, 'Q3', 466243, 252159, 214084, 84.90040014435336, 291]
['MCS', 2021, 'Q3', 1288181, 950557, 337624, 35.51854333827429, 293]
['MDX', 2021, 'Q3', 382593, 74880, 307713, 410.94150641025647, 294]
['MEGA', 2021, 'Q3', 1877717, 1347667, 530050, 39.330932641372094, 295]
['MFC', 2021, 'Q3', 298903, 132203, 166700, 126.09396155911743, 296]
['MFEC', 2021, 'Q3', 272513, 253739, 18774, 7.398941431943848, 297]
['MINT', 2021, 'Q3', -17200136, -12047952, -5152184, -42.7639817954122, 301]
['MSC', 2021, 'Q3', 162475, 208325, -45850, -22.00888035521421, 313]
['MST', 2021, 'Q3', 805716, 416124, 389592, 93.62401591833203, 290]
['MTC', 2021, 'Q3', 5214552, 4974792, 239760, 4.819497981021116, 315]
['MTI', 2021, 'Q3', 716504, 637767, 78737, 12.345731278037277, 314]
['NCH', 2021, 'Q3', 218968, 51797, 167171, 322.7426298820395, 317]
['NER', 2021, 'Q3', 1667199, 561189, 1106010, 197.08333556074692, 680]
['NNCL', 2021, 'Q3', 646661, 347074, 299587, 86.31790338659768, 327]
['NOBLE', 2021, 'Q3', 1575515, 1684168, -108653, -6.451434773728036, 328]
['NYT', 2021, 'Q3', 272284, 216025, 56259, 26.042819118157624, 336]
['OISHI', 2021, 'Q3', 730662, 951397, -220735, -23.201145263228703, 338]
['ORI', 2021, 'Q3', 3028548, 2901368, 127180, 4.383449462460467, 339]
['OSP', 2021, 'Q3', 3254813, 3476284, -221471, -6.370912157924957, 681]
['PAP', 2021, 'Q3', 655840, 156547, 499293, 318.9412764217775, 342]
['PB', 2021, 'Q3', 1671240, 1750200, -78960, -4.511484401782654, 344]
['PCSGH', 2021, 'Q3', 661677, 110493, 551184, 498.8406505389482, 346]
['PDG', 2021, 'Q3', 63847, 86066, -22219, -25.81623405293612, 347]
['PDJ', 2021, 'Q3', 81732, -52931, 134663, 254.41234815136687, 371]
['PERM', 2021, 'Q3', 453054, -75849, 528903, 697.3104457540641, 350]
['PL', 2021, 'Q3', 111771, 93054, 18717, 20.11412728093365, 357]
['PLANB', 2021, 'Q3', 53022, 223095, -170073, -76.23344315202044, 358]
['PLE', 2021, 'Q3', -213019, -138887, -74132, -53.37576591041638, 360]
['POPF', 2021, 'Q3', 369438, 572889, -203451, -35.51316223561633, 364]
['PR9', 2021, 'Q3', 214433, 194790, 19643, 10.0841932337389, 682]
['PREB', 2021, 'Q3', 212139, 170540, 41599, 24.392517884367305, 372]
['PRG', 2021, 'Q3', 424800, 218819, 205981, 94.1330506034668, 374]
['PRM', 2021, 'Q3', 1646842, 1385819, 261023, 18.835288013802668, 639]
['PSH', 2021, 'Q3', 2192693, 3767242, -1574549, -41.79580180938734, 377]
['PSL', 2021, 'Q3', 2730124, -1296141, 4026265, 310.63479976329734, 734]
['PTG', 2021, 'Q3', 1763890, 1578701, 185189, 11.730467010535877, 381]
['PTT', 2021, 'Q3', 93965796, 42065023, 51900773, 123.38225275664297, 383]
['PTTEP', 2021, 'Q3', 30745139, 31757559, -1012420, -3.1879654226573266, 384]
['PTTGC', 2021, 'Q3', 48139410, -5831169, 53970579, 925.5533324450038, 385]
['QH', 2021, 'Q3', 1755538, 2218675, -463137, -20.874485898114866, 388]
['RATCH', 2021, 'Q3', 7778282, 5062076, 2716206, 53.657945870429444, 394]
['RBF', 2021, 'Q3', 438351, 496532, -58181, -11.717472388486543, 703]
['RCL', 2021, 'Q3', 11122259, 315618, 10806641, 3423.962194805112, 396]
['RICHY', 2021, 'Q3', 250028, 83224, 166804, 200.42776122272423, 398]
['RJH', 2021, 'Q3', 873088, 313743, 559345, 178.28126842670594, 399]
['ROJNA', 2021, 'Q3', 2184589, 817176, 1367413, 167.33396477625385, 404]
['RPC', 2021, 'Q3', 796080, 338209, 457871, 135.3810809292479, 406]
['RS', 2021, 'Q3', 296042, 491366, -195324, -39.75122413842227, 408]
['RSP', 2021, 'Q3', 24184, -4371, 28555, 653.2830016014642, 659]
['S', 2021, 'Q3', -1966174, -86237, -1879937, -2179.9656759859454, 410]
['S & J', 2021, 'Q3', 330438, 314351, 16087, 5.117527858985657, 693]
['S11', 2021, 'Q3', 397455, 529006, -131551, -24.867581842171923, 412]
['SAMTEL', 2021, 'Q3', -7982, -64226, 56244, 87.57201133497338, 418]
['SAPPE', 2021, 'Q3', 438058, 347454, 90604, 26.07654538442499, 420]
['SAT', 2021, 'Q3', 1012725, 361576, 651149, 180.0863442263867, 421]
['SAUCE', 2021, 'Q3', 611283, 509300, 101983, 20.02415079520911, 422]
['SAWAD', 2021, 'Q3', 4867806, 4311736, 556070, 12.896661576682803, 423]
['SC', 2021, 'Q3', 1938908, 2428184, -489276, -20.14987332096744, 425]
['SCB', 2021, 'Q3', 32685706, 27758041, 4927665, 17.752207369388927, 426]
['SCC', 2021, 'Q3', 46914714, 33200748, 13713966, 41.30619587245444, 427]
['SCCC', 2021, 'Q3', 4117213, 3227562, 889651, 27.564180021948452, 428]
['SENA', 2021, 'Q3', 995193, 1236303, -241110, -19.502500600580923, 437]
['SF', 2021, 'Q3', 2069519, 2015228, 54291, 2.694037597730877, 438]
['SFLEX', 2021, 'Q3', 160962, 134617, 26345, 19.570336584532413, 731]
['SGP', 2021, 'Q3', 3833362, 2184000, 1649362, 75.52023809523808, 441]
['SHANG', 2021, 'Q3', -1126073, -15556, -1110517, -7138.8338904602715, 442]
['SINGER', 2021, 'Q3', 611964, 360808, 251156, 69.6093213010798, 446]
['SIRI', 2021, 'Q3', 2262454, 2336346, -73892, -3.162716481206123, 447]
['SIS', 2021, 'Q3', 770111, 565735, 204376, 36.12574792084634, 449]
['SISB', 2021, 'Q3', 244084, 157833, 86251, 54.64700031045472, 683]
['SKN', 2021, 'Q3', 498309, 140704, 357605, 254.15411075733454, 642]
['SKR', 2021, 'Q3', 671172, 299154, 372018, 124.35668585410859, 451]
['SMART', 2021, 'Q3', 46257, 51009, -4752, -9.316003058283833, 453]
['SMPC', 2021, 'Q3', 565282, 587134, -21852, -3.7218079688793355, 455]
['SMT', 2021, 'Q3', 195971, 26953, 169018, 627.0841835788224, 456]
['SNC', 2021, 'Q3', 562811, 329902, 232909, 70.59945074597911, 457]
['SNP', 2021, 'Q3', 324563, 161948, 162615, 100.41186059722872, 694]
['SPALI', 2021, 'Q3', 6055750, 4225688, 1830062, 43.30802463409509, 462]
['SPC', 2021, 'Q3', 1777920, 1671384, 106536, 6.374118694447237, 463]
['SPCG', 2021, 'Q3', 2512467, 2843643, -331176, -11.646187654357457, 464]
['SPG', 2021, 'Q3', 483045, 379260, 103785, 27.36513209935137, 466]
['SPI', 2021, 'Q3', 3111018, 2276757, 834261, 36.642513891469314, 467]
['SPRC', 2021, 'Q3', 3754127, -9841859, 13595986, 138.1444907918311, 470]
['SPRIME', 2021, 'Q3', 403255, 519082, -115827, -22.313815543594266, 705]
['SQ', 2021, 'Q3', 380380, 286156, 94224, 32.92749409413047, 472]
['SRICHA', 2021, 'Q3', 415164, 66487, 348677, 524.4288357122444, 474]
['SSP', 2021, 'Q3', 851710, 711737, 139973, 19.66639362573535, 643]
['SSSC', 2021, 'Q3', 209453, 76300, 133153, 174.51245085190038, 478]
['STA', 2021, 'Q3', 19731941, 4106267, 15625674, 380.53234239273775, 481]
['STARK', 2021, 'Q3', 2319803, 1236223, 1083580, 87.6524704685158, 735]
['STEC', 2021, 'Q3', 803325, 1225119, -421794, -34.42881875148455, 484]
['SUC', 2021, 'Q3', 907412, 646555, 260857, 40.34567824856354, 486]
['SUPER', 2021, 'Q3', 2041485, 1646863, 394622, 23.962041772752197, 487]
['SUPEREIF', 2021, 'Q3', 392187, 765313, -373126, -48.75469252449651, 706]
['SUSCO', 2021, 'Q3', 313709, 171977, 141732, 82.41334597068213, 488]
['SVH', 2021, 'Q3', 1421797, 1578262, -156465, -9.913753229818623, 490]
['SVI', 2021, 'Q3', 935897, 613119, 322778, 52.64524505030834, 491]
['SVOA', 2021, 'Q3', 171631, 90931, 80700, 88.7486115846081, 492]
['SYNEX', 2021, 'Q3', 764070, 595916, 168154, 28.217735385524133, 495]
['TACC', 2021, 'Q3', 207646, 181833, 25813, 14.195993026568335, 498]
['TASCO', 2021, 'Q3', 2462389, 3438185, -975796, -28.3811371406716, 502]
['TCAP', 2021, 'Q3', 4203625, 10403481, -6199856, -59.59405318277603, 503]
['TCCC', 2021, 'Q3', 1548900, 1476090, 72810, 4.932626059386623, 506]
['TFFIF', 2021, 'Q3', 1086172, 9843969, -8757797, -88.96611722365238, 686]
['TFG', 2021, 'Q3', 847771, 2262822, -1415051, -62.534790628692846, 513]
['TFMAMA', 2021, 'Q3', 3662185, 4174300, -512115, -12.268284502790888, 695]
['THANI', 2021, 'Q3', 1735286, 1862000, -126714, -6.8052631578947365, 522]
['THE', 2021, 'Q3', 888883, -157970, 1046853, 662.6910172817624, 524]
['THG', 2021, 'Q3', 732990, 114152, 618838, 542.1175275071834, 661]
['THREL', 2021, 'Q3', 134762, 88779, 45983, 51.794906453102655, 526]
['TIPCO', 2021, 'Q3', 431040, 336587, 94453, 28.061986945425698, 530]
['TIPH', 2021, 'Q3', 2084102, 2059867, 24235, 1.17653227125829, 529]
['TISCO', 2021, 'Q3', 6626944, 6293636, 333308, 5.295952927687588, 531]
['TK', 2021, 'Q3', 461919, 394978, 66941, 16.94803254864828, 532]
['TKN', 2021, 'Q3', 76824, 381304, -304480, -79.85229633048696, 533]
['TKS', 2021, 'Q3', 1147647, 214552, 933095, 434.9038927625937, 534]
['TMT', 2021, 'Q3', 1542586, 384989, 1157597, 300.68313640129975, 545]
['TNITY', 2021, 'Q3', 311293, 63249, 248044, 392.1706272035922, 549]
['TNPC', 2021, 'Q3', 144118, -92095, 236213, 256.48840870839894, 552]
['TNR', 2021, 'Q3', 162623, 128344, 34279, 26.708689147914978, 553]
['TOA', 2021, 'Q3', 1975548, 2046315, -70767, -3.4582652230961513, 645]
['TOG', 2021, 'Q3', 296941, 18301, 278640, 1522.5397519261244, 554]
['TOP', 2021, 'Q3', 14802781, -8574769, 23377550, 272.6318341636958, 555]
['TPIPL', 2021, 'Q3', 3930600, 1990799, 1939801, 97.43831496801033, 559]
['TPIPP', 2021, 'Q3', 4352748, 4619867, -267119, -5.781962987246169, 560]
['TQM', 2021, 'Q3', 856279, 662852, 193427, 29.181023818288242, 688]
['TR', 2021, 'Q3', 4526722, 37727, 4488995, 11898.626978026346, 564]

In [10]:
sql = """
INSERT INTO yr_profits (name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) 
VALUES (?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO yr_profits (name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)

In [11]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of loop

In [12]:
cols = ["name", "year", "quarter", "q_amt_c", "q_amt_p", "inc_profit", "Pct"]

criteria_1 = df_ins.q_amt_c > 440000
df_ins.loc[criteria_1, cols].head()

     name  year quarter   q_amt_c   q_amt_p  inc_profit         Pct
0      2S  2021      Q3    788297    319496      468801  146.731414
2     ACE  2021      Q3   1392091   1498905     -106814   -7.126135
3  ADVANC  2021      Q3  27223149  27334917     -111768   -0.408884
4  AEONTS  2021      Q3   3826113   3561748      264365    7.422339
5      AH  2021      Q3   1041977   -750691     1792668  238.802383

In [13]:
criteria_2 = df_ins.q_amt_p > 400000
df_ins.loc[criteria_2, cols].head()

     name  year quarter   q_amt_c   q_amt_p  inc_profit        Pct
2     ACE  2021      Q3   1392091   1498905     -106814  -7.126135
3  ADVANC  2021      Q3  27223149  27334917     -111768  -0.408884
4  AEONTS  2021      Q3   3826113   3561748      264365   7.422339
7  AIMIRT  2021      Q3    437639    491527      -53888 -10.963386
9      AJ  2021      Q3    389174    582318     -193144 -33.168132

In [14]:
criteria_3 = df_ins.Pct > 10
df_ins.loc[criteria_3, cols].head()

   name  year quarter  q_amt_c  q_amt_p  inc_profit         Pct
0    2S  2021      Q3   788297   319496      468801  146.731414
5    AH  2021      Q3  1041977  -750691     1792668  238.802383
6   AIE  2021      Q3   522478   219664      302814  137.853267
8   AIT  2021      Q3   522365   380169      142196   37.403365
10  AKR  2021      Q3   123963    68139       55824   81.926650

In [15]:
final_criteria = criteria_1 & criteria_2 & criteria_3
df_ins.loc[final_criteria, cols].sort_values(by=["Pct"], ascending=[False]).head()

      name  year quarter   q_amt_c  q_amt_p  inc_profit         Pct
244    STA  2021      Q3  19731941  4106267    15625674  380.532342
32     BCH  2021      Q3   4644042  1191940     3452102  289.620451
55     CHG  2021      Q3   2644996   757353     1887643  249.242163
168    NER  2021      Q3   1667199   561189     1106010  197.083336
201  ROJNA  2021      Q3   2184589   817176     1367413  167.333965

In [16]:
df_ins.loc[final_criteria, cols].sort_values(by=["name"], ascending=[True]).head()

     name  year quarter   q_amt_c   q_amt_p  inc_profit         Pct
14  AMATA  2021      Q3   1058096    957203      100893   10.540397
22  ASIAN  2021      Q3    989973    624156      365817   58.609867
23    ASK  2021      Q3   1080308    903132      177176   19.617952
30    BAY  2021      Q3  30793995  26092193     4701802   18.019957
32    BCH  2021      Q3   4644042   1191940     3452102  289.620451

In [17]:
df_ins.loc[final_criteria, cols].sort_values(by=["name"], ascending=[True]).head()

     name  year quarter   q_amt_c   q_amt_p  inc_profit         Pct
14  AMATA  2021      Q3   1058096    957203      100893   10.540397
22  ASIAN  2021      Q3    989973    624156      365817   58.609867
23    ASK  2021      Q3   1080308    903132      177176   19.617952
30    BAY  2021      Q3  30793995  26092193     4701802   18.019957
32    BCH  2021      Q3   4644042   1191940     3452102  289.620451