In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 3
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-11-10'

In [2]:
#today = date(2022, 11, 4)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-11-10'

In [3]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

### Process for specified stocks

In [ ]:
names = """
IP
""".split()
names

In [ ]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

In [ ]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [4]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2022 AND quarter = 3
AND publish_date >= '2022-11-10'

### End of Normal Process

In [5]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2022 AND quarter = 'Q3'

In [6]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head().style.format(format_dict)

### Delete duplicated year and quarter

In [7]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.style.format(format_dict)

In [8]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2022 AND quarter = 'Q3'

In [9]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [10]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent

In [11]:
profits[profits["name"] == "IVL"].style.format(format_dict)

In [12]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [13]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [14]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [15]:
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [16]:
final = filter.drop(colt, axis=1)
final.style.format(format_dict)

In [17]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [18]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 3
AND B.year = 2022 AND B.quarter = (3-1)

In [19]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [20]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [21]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
0,BH,4004426,2799073,1205353,43.06,4004426,776568,3227858,415.66,2022,3,1501337,295984,1165953
1,CPN,9769856,7126930,2642926,37.08,9769856,7349847,2420009,32.93,2022,3,2872109,229183,2753440
3,GFPT,1646990,876315,770675,87.94,1646990,617194,1029796,166.85,2022,3,683389,-87286,453667
5,JMT,1732849,1629008,103841,6.37,1732849,1253443,479406,38.25,2022,3,455533,351692,433309
6,SAPPE,554191,518050,36141,6.98,554191,438058,116133,26.51,2022,3,178141,142000,167282
7,SKR,1676234,1707617,-31383,-1.84,1676234,671172,1005062,149.75,2022,3,307771,339154,171726
8,AIT,582222,556639,25583,4.60,582222,522365,59857,11.46,2022,3,142739,117156,121610
10,BANPU,44283431,30044483,14238948,47.39,44283431,5897490,38385941,650.89,2022,3,17743984,3505036,12789043
11,BPP,6289501,4570808,1718693,37.60,6289501,3957525,2331976,58.93,2022,3,2315177,596484,685228
12,JMART,2909974,2616411,293563,11.22,2909974,1106720,1803254,162.94,2022,3,563490,269927,389411
13,LH,8334140,7392926,941214,12.73,8334140,7278457,1055683,14.50,2022,3,2248826,1307612,2139239
14,MAKRO,14319482,14289142,30340,0.21,14319482,6722588,7596894,113.01,2022,3,1602194,1571854,1572968
15,SYNEX,899451,878452,20999,2.39,899451,764070,135381,17.72,2022,3,215475,194476,192242
17,TTA,4988042,5153711,-165669,-3.21,4988042,2443976,2544066,104.10,2022,3,1448728,1614397,1034663

In [22]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

In [23]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [24]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [25]:
final2.kind.value_counts()

1    14
Name: kind, dtype: int64

In [26]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [27]:
import numpy as np

final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [28]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [29]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

     name    mean_pct
1     CPN  306.878613
3    GFPT  297.089381
10  BANPU  285.816551
0      BH  223.680165
11    BPP  155.634226
12  JMART   81.904899
7     SKR   54.469704
17    TTA   32.661834
14  MAKRO   29.252055
13     LH   26.083080
5     JMT   19.818756
6   SAPPE   16.358211
8     AIT   13.817772
15  SYNEX   10.748255

In [30]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [31]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

     name     std_pct
15  SYNEX    6.331292
8     AIT    7.471705
6   SAPPE   11.121289
5     JMT   16.639356
13     LH   30.866924
17    TTA   52.557225
14  MAKRO   55.844281
12  JMART   67.498192
7     SKR   75.105313
11    BPP  125.967601
0      BH  216.921335
10  BANPU  297.586564
3    GFPT  393.554266
1     CPN  564.398724

In [32]:
sql = "SELECT name, id FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [33]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [34]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [35]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [36]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
6,AIT,2022,3,1.0,582222.0,522365.0,59857.0,11.46,582222.0,556639.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,BANPU,2022,3,1.0,44283431.0,5897490.0,38385941.0,650.89,44283431.0,30044483.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,BPP,2022,3,1.0,6289501.0,3957525.0,2331976.0,58.93,6289501.0,4570808.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,JMART,2022,3,1.0,2909974.0,1106720.0,1803254.0,162.94,2909974.0,2616411.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,LH,2022,3,1.0,8334140.0,7278457.0,1055683.0,14.50,8334140.0,7392926.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,MAKRO,2022,3,1.0,14319482.0,6722588.0,7596894.0,113.01,14319482.0,14289142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,SYNEX,2022,3,1.0,899451.0,764070.0,135381.0,17.72,899451.0,878452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,TTA,2022,3,1.0,4988042.0,2443976.0,2544066.0,104.10,4988042.0,5153711.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [37]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
6,AIT,2022,3,1.0,582222.0,522365.0,59857.0,11.46,582222.0,556639.0,...,142739.0,117156.0,25583.0,21.836696,121610.0,21129.0,17.374394,11.0,13.817772,7.471705
7,BANPU,2022,3,1.0,44283431.0,5897490.0,38385941.0,650.89,44283431.0,30044483.0,...,17743984.0,3505036.0,14238948.0,406.242561,12789043.0,4954941.0,38.743642,47.0,285.816551,297.586564
8,BPP,2022,3,1.0,6289501.0,3957525.0,2331976.0,58.93,6289501.0,4570808.0,...,2315177.0,596484.0,1718693.0,288.137318,685228.0,1629949.0,237.869585,74.0,155.634226,125.967601
9,JMART,2022,3,1.0,2909974.0,1106720.0,1803254.0,162.94,2909974.0,2616411.0,...,563490.0,269927.0,293563.0,108.756442,389411.0,174079.0,44.703154,236.0,81.904899,67.498192
10,LH,2022,3,1.0,8334140.0,7278457.0,1055683.0,14.50,8334140.0,7392926.0,...,2248826.0,1307612.0,941214.0,71.979609,2139239.0,109587.0,5.122710,267.0,26.083080,30.866924
11,MAKRO,2022,3,1.0,14319482.0,6722588.0,7596894.0,113.01,14319482.0,14289142.0,...,1602194.0,1571854.0,30340.0,1.930205,1572968.0,29226.0,1.858016,283.0,29.252055,55.844281
12,SYNEX,2022,3,1.0,899451.0,764070.0,135381.0,17.72,899451.0,878452.0,...,215475.0,194476.0,20999.0,10.797733,192242.0,23233.0,12.085288,495.0,10.748255,6.331292
13,TTA,2022,3,1.0,4988042.0,2443976.0,2544066.0,104.10,4988042.0,5153711.0,...,1448728.0,1614397.0,-165669.0,-10.261974,1034663.0,414065.0,40.019311,579.0,32.661834,52.557225

In [38]:
rcds = final5.values.tolist()
len(rcds)

8

In [39]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2022 AND quarter = 3
ORDER BY name

In [40]:
for rcd in rcds:
    print(rcd)

['AIT', 2022, 3, 1.0, 582222.0, 522365.0, 59857.0, 11.46, 582222.0, 556639.0, 25583.0, 4.6, 142739.0, 117156.0, 25583.0, 21.836696370651097, 121610.0, 21129.0, 17.374393553161745, 11.0, 13.817772480953211, 7.47170472254277]
['BANPU', 2022, 3, 1.0, 44283431.0, 5897490.0, 38385941.0, 650.89, 44283431.0, 30044483.0, 14238948.0, 47.39, 17743984.0, 3505036.0, 14238948.0, 406.2425607040841, 12789043.0, 4954941.0, 38.743641725186166, 47.0, 285.81655060731754, 297.586564267318]
['BPP', 2022, 3, 1.0, 6289501.0, 3957525.0, 2331976.0, 58.93, 6289501.0, 4570808.0, 1718693.0, 37.6, 2315177.0, 596484.0, 1718693.0, 288.13731801691245, 685228.0, 1629949.0, 237.86958501403913, 74.0, 155.63422575773788, 125.96760099312367]
['JMART', 2022, 3, 1.0, 2909974.0, 1106720.0, 1803254.0, 162.94, 2909974.0, 2616411.0, 293563.0, 11.22, 563490.0, 269927.0, 293563.0, 108.75644155642081, 389411.0, 174079.0, 44.70315425090714, 236.0, 81.90489895183198, 67.49819180480895]
['LH', 2022, 3, 1.0, 8334140.0, 7278457.0, 1055683.0, 14.5, 8334140.0, 7392926.0, 941214.0, 12.73, 2248826.0, 1307612.0, 941214.0, 71.97960863008292, 2139239.0, 109587.0, 5.122709524274754, 267.0, 26.08307953858942, 30.866923821163194]
['MAKRO', 2022, 3, 1.0, 14319482.0, 6722588.0, 7596894.0, 113.01, 14319482.0, 14289142.0, 30340.0, 0.21, 1602194.0, 1571854.0, 30340.0, 1.9302047136693357, 1572968.0, 29226.0, 1.8580161834188615, 283.0, 29.25205522427205, 55.84428104112086]
['SYNEX', 2022, 3, 1.0, 899451.0, 764070.0, 135381.0, 17.72, 899451.0, 878452.0, 20999.0, 2.39, 215475.0, 194476.0, 20999.0, 10.79773339640881, 192242.0, 23233.0, 12.085288334495063, 495.0, 10.748255432725967, 6.331291633342848]
['TTA', 2022, 3, 1.0, 4988042.0, 2443976.0, 2544066.0, 104.1, 4988042.0, 5153711.0, -165669.0, -3.21, 1448728.0, 1614397.0, -165669.0, -10.261973975422402, 1034663.0, 414065.0, 40.01931063544362, 579.0, 32.6618341650053, 52.55722528672642]

In [41]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [42]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [43]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(401, 2)

In [44]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [45]:
print(final3.name)

0        BH
1       CPN
2      GFPT
3       JMT
4     SAPPE
5       SKR
6       AIT
7     BANPU
8       BPP
9     JMART
10       LH
11    MAKRO
12    SYNEX
13      TTA
Name: name, dtype: object

In [46]:
sr = final3['name']
names = sr.values.tolist()
names

['BH',
 'CPN',
 'GFPT',
 'JMT',
 'SAPPE',
 'SKR',
 'AIT',
 'BANPU',
 'BPP',
 'JMART',
 'LH',
 'MAKRO',
 'SYNEX',
 'TTA']

In [47]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BH', 'CPN', 'GFPT', 'JMT', 'SAPPE', 'SKR', 'AIT', 'BANPU', 'BPP', 'JMART', 'LH', 'MAKRO', 'SYNEX', 'TTA'"

In [48]:
sqlDel = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sqlDel = sqlDel % (in_p, year, quarter)
print(sqlDel)

DELETE FROM profits
WHERE name IN ('BH', 'CPN', 'GFPT', 'JMT', 'SAPPE', 'SKR', 'AIT', 'BANPU', 'BPP', 'JMART', 'LH', 'MAKRO', 'SYNEX', 'TTA')
AND year = 2022 AND quarter = 3

In [49]:
rp = conmy.execute(sqlDel)
rp.rowcount

6

In [50]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BH', 'CPN', 'GFPT', 'JMT', 'SAPPE', 'SKR', 'AIT', 'BANPU', 'BPP', 'JMART', 'LH', 'MAKRO', 'SYNEX', 'TTA') AND year = 2022 AND quarter = 3

In [51]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [52]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [53]:
rcds = profits_inp.values.tolist()
len(rcds)

14

In [54]:
for rcd in rcds:
    print(rcd)

[2532, 'AIT', 2022, 3, 1, 582222, 522365, 59857, 11.46, 582222, 556639, 25583, 4.6, 142739, 117156, 25583, 21.836696370651097, 121610, 21129, 17.374393553161745, 11, 13.817772480953211, 7.47170472254277]
[2533, 'BANPU', 2022, 3, 1, 44283431, 5897490, 38385941, 650.89, 44283431, 30044483, 14238948, 47.39, 17743984, 3505036, 14238948, 406.2425607040841, 12789043, 4954941, 38.743641725186166, 47, 285.81655060731754, 297.586564267318]
[2526, 'BH', 2022, 3, 1, 4004426, 776568, 3227858, 415.66, 4004426, 2799073, 1205353, 43.06, 1501337, 295984, 1205353, 407.2358641007622, 1165953, 335384, 28.764795836538866, 61, 223.68016498432527, 216.92133509619902]
[2534, 'BPP', 2022, 3, 1, 6289501, 3957525, 2331976, 58.93, 6289501, 4570808, 1718693, 37.6, 2315177, 596484, 1718693, 288.13731801691245, 685228, 1629949, 237.86958501403913, 74, 155.63422575773788, 125.96760099312367]
[2527, 'CPN', 2022, 3, 1, 9769856, 7349847, 2420009, 32.93, 9769856, 7126930, 2642926, 37.08, 2872109, 229183, 2642926, 1153.1946086751634, 2753440, 118669, 4.3098451391713635, 121, 306.8786134535837, 564.3987237056826]
[2528, 'GFPT', 2022, 3, 1, 1646990, 617194, 1029796, 166.85, 1646990, 876315, 770675, 87.94, 683389, -87286, 770675, 882.9308251036821, 453667, 229722, 50.63670048736187, 187, 297.089381397761, 393.5542661850242]
[2535, 'JMART', 2022, 3, 1, 2909974, 1106720, 1803254, 162.94, 2909974, 2616411, 293563, 11.22, 563490, 269927, 293563, 108.75644155642081, 389411, 174079, 44.70315425090714, 236, 81.90489895183198, 67.49819180480895]
[2529, 'JMT', 2022, 3, 1, 1732849, 1253443, 479406, 38.25, 1732849, 1629008, 103841, 6.37, 455533, 351692, 103841, 29.526119445423838, 433309, 22224, 5.1289033922674125, 237, 19.818755709422813, 16.639355636898227]
[2536, 'LH', 2022, 3, 1, 8334140, 7278457, 1055683, 14.5, 8334140, 7392926, 941214, 12.73, 2248826, 1307612, 941214, 71.97960863008292, 2139239, 109587, 5.122709524274754, 267, 26.08307953858942, 30.866923821163194]
[2537, 'MAKRO', 2022, 3, 1, 14319482, 6722588, 7596894, 113.01, 14319482, 14289142, 30340, 0.21, 1602194, 1571854, 30340, 1.9302047136693357, 1572968, 29226, 1.8580161834188615, 283, 29.25205522427205, 55.84428104112086]
[2530, 'SAPPE', 2022, 3, 1, 554191, 438058, 116133, 26.51, 554191, 518050, 36141, 6.98, 178141, 142000, 36141, 25.45140845070423, 167282, 10859, 6.491433627048935, 420, 16.35821051943829, 11.121288850157523]
[2531, 'SKR', 2022, 3, 1, 1676234, 671172, 1005062, 149.75, 1676234, 1707617, -31383, -1.84, 307771, 339154, -31383, -9.253318551454502, 171726, 136045, 79.2221329326951, 451, 54.46970359531015, 75.10531253197414]
[2538, 'SYNEX', 2022, 3, 1, 899451, 764070, 135381, 17.72, 899451, 878452, 20999, 2.39, 215475, 194476, 20999, 10.79773339640881, 192242, 23233, 12.085288334495063, 495, 10.748255432725967, 6.331291633342848]
[2539, 'TTA', 2022, 3, 1, 4988042, 2443976, 2544066, 104.1, 4988042, 5153711, -165669, -3.21, 1448728, 1614397, -165669, -10.261973975422402, 1034663, 414065, 40.01931063544362, 579, 32.6618341650053, 52.55722528672642]

In [55]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [56]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [57]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['AIT', 'AMATA', 'ASK', 'BANPU', 'BBL', 'BCPG', 'BH', 'BLA', 'BPP',
       'CKP', 'CPN', 'CPNCG', 'CRC', 'GFPT', 'HMPRO', 'ICHI', 'III', 'INOX',
       'JMART', 'JMT', 'JWD', 'KCE', 'KKP', 'KSL', 'KTB', 'LANNA', 'LH',
       'MAKRO', 'NER', 'OISHI', 'ORI', 'PTL', 'PTTEP', 'QH', 'SABUY', 'SAPPE',
       'SC', 'SCB', 'SKR', 'SPALI', 'SSP', 'STARK', 'SVI', 'SYNEX', 'TFFIF',
       'TFG', 'TTA', 'TTB'],
      dtype='object', name='name')

### After call 35-Export-to-PortPg

In [58]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BH', 'CPN', 'GFPT', 'JMT', 'SAPPE', 'SKR', 'AIT', 'BANPU', 'BPP', 'JMART', 'LH', 'MAKRO', 'SYNEX', 'TTA') AND year = 2022 AND quarter = 3

In [59]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

     name  ticker_id
13    AIT         14
12  BANPU         51
11     BH         65
10    BPP         78
9     CPN        125
8    GFPT        192
7   JMART        244
6     JMT        245
5      LH        275
4   MAKRO        291
3   SAPPE        426
2     SKR        459
1   SYNEX        504
0     TTA        588

In [60]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('BH', 'CPN', 'GFPT', 'JMT', 'SAPPE', 'SKR', 'AIT', 'BANPU', 'BPP', 'JMART', 'LH', 'MAKRO', 'SYNEX', 'TTA')
ORDER BY name

In [61]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

     name   id
0     AIT   14
1   BANPU   51
2      BH   65
3     BPP   78
4     CPN  125
5    GFPT  192
6   JMART  244
7     JMT  245
8      LH  275
9   MAKRO  291
10  SAPPE  426
11    SKR  459
12  SYNEX  504
13    TTA  588

In [62]:
sql = """
SELECT * 
FROM profits 
WHERE year = %s AND quarter = %s"""
sql = sql % (year, quarter)
tmp = pd.read_sql(sql, conmy)
tmp.shape

(34, 23)

In [63]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('BH', 'CPN', 'GFPT', 'JMT', 'SAPPE', 'SKR', 'AIT', 'BANPU', 'BPP', 'JMART', 'LH', 'MAKRO', 'SYNEX', 'TTA')
ORDER BY name

In [64]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

     name   id                     market
0     AIT   14                       sSET
1   BANPU   51  SET50 / SETCLMV / SETTHSI
2      BH   65    SET50 / SETCLMV / SETWB
3     BPP   78    SET / SETCLMV / SETTHSI
4     CPN  125            SET50 / SETTHSI
5    GFPT  192             sSET / SETTHSI
6   JMART  244                      SET50
7     JMT  245                      SET50
8      LH  275              SET50 / SETHD
9   MAKRO  291                        SET
10  SAPPE  426                       sSET
11    SKR  459                        SET
12  SYNEX  504           SET100 / SETTHSI
13    TTA  588             SET100 / SETWB