### Restart and Run All Cells

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-11-16'

In [2]:
format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

In [3]:
sql = """
SELECT name, id AS ticker_id
FROM tickers"""

tickers = pd.read_sql(sql, conpg)
tickers.shape

(403, 2)

In [4]:
sql = """
DELETE FROM epss"""
rp = conpg.execute(sql)
rp.rowcount

7590

In [5]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,publish_date
FROM epss 
ORDER BY year, quarter, name"""

df_inp = pd.read_sql(sql, conlt)
df_inp.shape

(7595, 12)

In [6]:
df_merge = pd.merge(df_inp, tickers, on="name", how="outer", indicator=True)
df_merge.shape

(7765, 14)

In [7]:
df_left = df_merge[df_merge["_merge"] == "left_only"]
df_left["name"].unique()
df_left

Empty DataFrame
Columns: [name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, publish_date, ticker_id, _merge]
Index: []

In [8]:
cols = 'name year quarter q_amt y_amt aq_amt ay_amt q_eps y_eps aq_eps ay_eps ticker_id publish_date'.split()
cols

['name',
 'year',
 'quarter',
 'q_amt',
 'y_amt',
 'aq_amt',
 'ay_amt',
 'q_eps',
 'y_eps',
 'aq_eps',
 'ay_eps',
 'ticker_id',
 'publish_date']

In [9]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[cols]
df_eps.shape

(7595, 13)

In [10]:
rcds = df_eps.values.tolist()
len(rcds)

7595

In [11]:
#for rcd in rcds:
#    print(rcd)

In [12]:
for rcd in rcds:
    conpg.execute(
        """INSERT INTO epss (name, year, quarter, \
q_amt, y_amt, aq_amt, ay_amt, \
q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date) \
VALUES( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",
        rcd,
    )

### Start of Yearly Profit Section

In [13]:
sql = """
DELETE FROM yr_profits"""
rp = conpg.execute(sql)
rp.rowcount

5074

In [14]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
ORDER BY year desc, quarter desc, name"""
df_year = pd.read_sql(sql, conlt)
df_year.shape

(5077, 7)

In [15]:
# Extract numeric portion from Q9 format
df_year["qtr_int"] = df_year["quarter"].str[1:]
df_year.shape

(5077, 8)

In [16]:
df_merge = pd.merge(df_year, tickers, on="name", how="outer", indicator=True)
df_merge.shape

(5252, 10)

In [17]:
df_left = df_merge[df_merge["_merge"] == "left_only"]
df_left

Empty DataFrame
Columns: [name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, qtr_int, ticker_id, _merge]
Index: []

In [18]:
colt = 'name year qtr_int latest_amt previous_amt inc_amt inc_pct ticker_id'.split()
colt

['name',
 'year',
 'qtr_int',
 'latest_amt',
 'previous_amt',
 'inc_amt',
 'inc_pct',
 'ticker_id']

In [19]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[colt]
df_eps.shape

(5077, 8)

In [20]:
rcds = df_eps.values.tolist()
len(rcds)

5077

In [21]:
#for rcd in rcds:
#    print(rcd)

In [22]:
for rcd in rcds:
    conpg.execute(
        """INSERT INTO yr_profits (name, year, quarter, \
latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) \
VALUES( %s, %s, %s, %s, %s, %s, %s, %s)""",
        rcd,
    )

### Start of Profits section

In [23]:
sql = """
SELECT name, id AS ticker_id
FROM tickers"""
tickers = pd.read_sql(sql, conpg)
tickers.shape

(403, 2)

In [24]:
sql = """
DELETE FROM profits"""
rp = conpg.execute(sql)
rp.rowcount

58

In [25]:
sql = """
SELECT *
FROM profits 
ORDER BY year desc, quarter desc, name"""
profits = pd.read_sql(sql, conlt)
profits.shape

(66, 23)

In [26]:
sql = """
SELECT name, year, quarter, publish_date
FROM epss"""
epss = pd.read_sql(sql, conlt)
epss.shape

(7595, 4)

In [27]:
df_merge = pd.merge(
    profits, epss, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.shape

(7602, 25)

In [28]:
prf_eps = df_merge[df_merge["_merge"] == "both"]
prf_eps.shape

(59, 25)

In [29]:
columns = ["id", "ticker_id", "_merge"]
prf_eps_2 = prf_eps.drop(columns, axis=1)
prf_eps_2.shape

(59, 22)

In [30]:
df_merge = pd.merge(prf_eps_2, tickers, on="name", how="inner")
df_merge.shape

(59, 23)

In [31]:
rcds = df_merge.values.tolist()
len(rcds)

59

In [32]:
#for rcd in rcds:
#    print(rcd)

In [33]:
for rcd in rcds:
    conpg.execute(
        """INSERT INTO profits (name, year, quarter, kind,\
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,\
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,\
q_amt_c, y_amt, inc_amt_py, inc_pct_py,\
q_amt_p, inc_amt_pq, inc_pct_pq,\
mean_pct, std_pct, publish_date, ticker_id)\
VALUES( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",
        rcd,
    )

### End of Profits section

In [34]:
sql = '''
SELECT * FROM profits
ORDER BY name, year DESC, quarter DESC'''
profits = pd.read_sql(sql, conpg)
profits.shape

(59, 24)

In [35]:
profits2 = profits.drop('id',axis=1)
profits2.shape

(59, 23)

In [36]:
dfc_hi = profits2.sort_values(['name','year','quarter'], ascending=False)
dfc_hi.shape

(59, 23)

In [37]:
dfc_hi_uniq = dfc_hi.drop_duplicates(subset='name')
dfc_hi_uniq.shape

(58, 23)

In [38]:
rcds = dfc_hi_uniq.values.tolist()
len(rcds)

58

In [39]:
#for rcd in rcds:
#    print(rcd)

In [40]:
sql = '''
DELETE FROM profits'''
print(sql)

DELETE FROM profits

In [41]:
rp = conpg.execute(sql)
rp.rowcount

59

In [42]:
for rcd in rcds:
    conpg.execute("""INSERT INTO profits (name, year, quarter, kind,\
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,\
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,\
q_amt_c, y_amt, inc_amt_py, inc_pct_py,\
q_amt_p, inc_amt_pq, inc_pct_pq,\
mean_pct, std_pct, publish_date, ticker_id)\
VALUES( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""", rcd)

In [43]:
sql = '''
SELECT * FROM profits
ORDER BY name'''
profits = pd.read_sql(sql, conpg)
profits.head().style.format(format_dict)