In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2021"
quarter = "4"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-19'

In [2]:
today = date(2022, 2, 18)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-18'

### Tables in the process

In [3]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

In [4]:
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [5]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 1', conlt).style.format(format_dict)

In [6]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2021 AND quarter = 4
AND publish_date >= '2022-02-18'

In [7]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.style.format(format_dict)

In [8]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [9]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [10]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [11]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_2 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [12]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [13]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [14]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SVI', 'TMT', 'ASK', 'GULF', 'AWC', 'TIPCO', 'PSH', 'CBG', 'MAKRO', 'ICC', 'BEC', 'APCS', 'TRUE', 'YUASA', 'AIE', 'INOX', 'CPNREIT', 'SUPEREIF', 'INSET'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [15]:
#name = "TTB"
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.shape

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('SVI', 'TMT', 'ASK', 'GULF', 'AWC', 'TIPCO', 'PSH', 'CBG', 'MAKRO', 'ICC', 'BEC', 'APCS', 'TRUE', 'YUASA', 'AIE', 'INOX', 'CPNREIT', 'SUPEREIF', 'INSET')
ORDER BY E.name, year DESC, quarter DESC

(484, 11)

### Delete from profits of older profit stocks

In [7]:
in_p = "'TSTH'"
in_p

"'TSTH'"

In [8]:
sqlDel = """
DELETE FROM profits
WHERE name IN (%s)
AND quarter <= %s
"""
sqlDel = sqlDel % (in_p, quarter)
print(sqlDel)

DELETE FROM profits
WHERE name IN ('TSTH')
AND quarter <= 4

In [9]:
rp = conlt.execute(sqlDel)
rp.rowcount

1

In [10]:
rp = conmy.execute(sqlDel)
rp.rowcount

1

In [11]:
rp = conpg.execute(sqlDel)
rp.rowcount

1

In [12]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['ADVANC', 'AEONTS', 'AIT', 'AMATA', 'AP', 'ASIAN', 'ASK', 'ASP', 'BAY',
       'BBL',
       ...
       'TPIPL', 'TQM', 'TSE', 'TTW', 'TU', 'TVO', 'TYCN', 'UOBKH', 'VNT',
       'WHART'],
      dtype='object', name='name', length=106)

In [13]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['ASK', 'ASP', 'BAY', 'BBL', 'BCH', 'BGRIM', 'BLA', 'CIMBT', 'CKP',
       'COTTO', 'DOHOME', 'GLOBAL', 'GULF', 'IMH', 'IP', 'IVL', 'JMT', 'KBANK',
       'KCE', 'KKP', 'KTB', 'LANNA', 'LPF', 'MAKRO', 'MCS', 'MEGA', 'NER',
       'PTL', 'PTT', 'PTTEP', 'RATCH', 'RCL', 'RJH', 'ROJNA', 'SAT', 'SCB',
       'SCC', 'SCCC', 'SINGER', 'SIS', 'SMPC', 'SNC', 'SPALI', 'STA', 'STARK',
       'STGT', 'SVI', 'SYNEX', 'TISCO', 'TKS', 'TMT', 'TQM', 'TSE'],
      dtype='object', name='name')

In [14]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'AEONTS', 'AIT', 'AMATA', 'AP', 'ASIAN', 'ASK', 'ASP', 'BAY',
       'BBL',
       ...
       'TPIPL', 'TQM', 'TSE', 'TTW', 'TU', 'TVO', 'TYCN', 'UOBKH', 'VNT',
       'WHART'],
      dtype='object', name='name', length=106)