In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2021
quarter = 4
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-23'

In [2]:
#today = date(2022, 2, 18)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-23'

In [3]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

In [4]:
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [5]:
names = """
IP
""".split()
names

['IP']

In [ ]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

In [ ]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [5]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2021 AND quarter = 4
AND publish_date >= '2022-02-23'

### End of Normal Process

In [6]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2021 AND quarter = 'Q4'

In [7]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head().style.format(format_dict)

### Delete duplicated year and quarter

In [8]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.head().style.format(format_dict)

In [9]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2021 AND quarter = 'Q4'

In [10]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
profits[profits["name"] == "SINGER"].style.format(format_dict)

In [13]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [14]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [15]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [16]:
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [17]:
final = filter.drop(colt, axis=1)
final.style.format(format_dict)

In [18]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [19]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2021 AND A.quarter = 4
AND B.year = 2021 AND B.quarter = (4-1)

In [20]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [21]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

In [22]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

In [23]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [24]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [25]:
final2.kind.value_counts()

1    4
0    3
Name: kind, dtype: int64

In [26]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [27]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [28]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [29]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

     name    mean_pct
3   TPIPL  273.417712
6     KGI   45.098436
4  SINGER   43.190793
1   RATCH   17.723694
0      TU   16.670703
2    MEGA   10.167541
5    BDMS    7.168886

In [30]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [31]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

     name     std_pct
5    BDMS    3.583447
0      TU   16.136274
1   RATCH   22.886696
2    MEGA   24.528254
4  SINGER   26.130282
6     KGI  121.763371
3   TPIPL  335.621364

In [32]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [33]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [34]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [35]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [36]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [37]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
0,TU,2021,4,0.0,8012996.0,6246090.0,1766906.0,28.29,8012996.0,7540034.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,RATCH,2021,4,1.0,7772022.0,6286678.0,1485344.0,23.63,7772022.0,7778282.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,MEGA,2021,4,0.0,1946825.0,1392651.0,554174.0,39.79,1946825.0,1877717.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,TPIPL,2021,4,1.0,5670534.0,1498152.0,4172382.0,278.50,5670534.0,3930600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,SINGER,2021,4,1.0,700592.0,443298.0,257294.0,58.04,700592.0,611964.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,BDMS,2021,4,1.0,7936077.0,7214236.0,721841.0,10.01,7936077.0,7687881.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,KGI,2021,4,0.0,1858088.0,567598.0,1290490.0,227.36,1858088.0,1945930.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [38]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
5,BDMS,2021,4,1.0,7936077.0,7214236.0,721841.0,10.01,7936077.0,7687881.0,...,2635868.0,2387672.0,248196.0,10.394895,2509379.0,126489.0,5.040649,54.0,7.168886,3.583447
6,KGI,2021,4,0.0,1858088.0,567598.0,1290490.0,227.36,1858088.0,1945930.0,...,319118.0,406960.0,-87842.0,-21.584922,403290.0,-84172.0,-20.871333,252.0,45.098436,121.763371
2,MEGA,2021,4,0.0,1946825.0,1392651.0,554174.0,39.79,1946825.0,1877717.0,...,496375.0,427267.0,69108.0,16.174430,612614.0,-116239.0,-18.974264,295.0,10.167541,24.528254
1,RATCH,2021,4,1.0,7772022.0,6286678.0,1485344.0,23.63,7772022.0,7778282.0,...,2123212.0,2129472.0,-6260.0,-0.293970,1438113.0,685099.0,47.638746,394.0,17.723694,22.886696
4,SINGER,2021,4,1.0,700592.0,443298.0,257294.0,58.04,700592.0,611964.0,...,212717.0,124089.0,88628.0,71.422930,165127.0,47590.0,28.820241,446.0,43.190793,26.130282
3,TPIPL,2021,4,1.0,5670534.0,1498152.0,4172382.0,278.50,5670534.0,3930600.0,...,1506763.0,-233171.0,1739934.0,746.205146,1208352.0,298411.0,24.695701,559.0,273.417712,335.621364
0,TU,2021,4,0.0,8012996.0,6246090.0,1766906.0,28.29,8012996.0,7540034.0,...,1930444.0,1457482.0,472962.0,32.450624,1936793.0,-6349.0,-0.327810,582.0,16.670703,16.136274

In [39]:
rcds = final5.values.tolist()
len(rcds)

7

In [40]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [41]:
for rcd in rcds:
    print(rcd)

['TU', 2021, 4, 0.0, 8012996.0, 6246090.0, 1766906.0, 28.29, 8012996.0, 7540034.0, 472962.0, 6.27, 1930444.0, 1457482.0, 472962.0, 32.45062374698281, 1936793.0, -6349.0, -0.32780994148574477, 582.0, 16.67070345137427, 16.13627411219139]
['RATCH', 2021, 4, 1.0, 7772022.0, 6286678.0, 1485344.0, 23.63, 7772022.0, 7778282.0, -6260.0, -0.08, 2123212.0, 2129472.0, -6260.0, -0.29396958494875725, 1438113.0, 685099.0, 47.6387460512491, 394.0, 17.723694116575086, 22.886695632329012]
['MEGA', 2021, 4, 0.0, 1946825.0, 1392651.0, 554174.0, 39.79, 1946825.0, 1877717.0, 69108.0, 3.68, 496375.0, 427267.0, 69108.0, 16.174429572141076, 612614.0, -116239.0, -18.974264381813015, 295.0, 10.167541297582016, 24.528254433495988]
['TPIPL', 2021, 4, 1.0, 5670534.0, 1498152.0, 4172382.0, 278.5, 5670534.0, 3930600.0, 1739934.0, 44.27, 1506763.0, -233171.0, 1739934.0, 746.2051455798534, 1208352.0, 298411.0, 24.69570125261513, 559.0, 273.4177117081171, 335.62136381513636]
['SINGER', 2021, 4, 1.0, 700592.0, 443298.0, 257294.0, 58.04, 700592.0, 611964.0, 88628.0, 14.48, 212717.0, 124089.0, 88628.0, 71.42293031614406, 165127.0, 47590.0, 28.820241389960454, 446.0, 43.19079292652612, 26.130282012970586]
['BDMS', 2021, 4, 1.0, 7936077.0, 7214236.0, 721841.0, 10.01, 7936077.0, 7687881.0, 248196.0, 3.23, 2635868.0, 2387672.0, 248196.0, 10.394895111221308, 2509379.0, 126489.0, 5.040649499338282, 54.0, 7.168886152639898, 3.5834469937209725]
['KGI', 2021, 4, 0.0, 1858088.0, 567598.0, 1290490.0, 227.36, 1858088.0, 1945930.0, -87842.0, -4.51, 319118.0, 406960.0, -87842.0, -21.584922351091016, 403290.0, -84172.0, -20.87133328374123, 252.0, 45.098436091291944, 121.76337075714008]

In [42]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [43]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [44]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(403, 2)

In [45]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [46]:
names = """
BDMS
KGI
MEGA
RATCH
SINGER
TPIPL
TU
""".split()
names

['BDMS', 'KGI', 'MEGA', 'RATCH', 'SINGER', 'TPIPL', 'TU']

In [47]:
#names = final5.name
names

['BDMS', 'KGI', 'MEGA', 'RATCH', 'SINGER', 'TPIPL', 'TU']

In [48]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BDMS', 'KGI', 'MEGA', 'RATCH', 'SINGER', 'TPIPL', 'TU'"

In [49]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BDMS', 'KGI', 'MEGA', 'RATCH', 'SINGER', 'TPIPL', 'TU') AND year = 2021 AND quarter = 4

In [50]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [51]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [52]:
rcds = profits_inp.values.tolist()
len(rcds)

7

In [53]:
for rcd in rcds:
    print(rcd)

[2299, 'BDMS', 2021, 4, 1, 7936077, 7214236, 721841, 10.01, 7936077, 7687881, 248196, 3.23, 2635868, 2387672, 248196, 10.394895111221308, 2509379, 126489, 5.040649499338282, 54, 7.168886152639898, 3.5834469937209725]
[2300, 'KGI', 2021, 4, 0, 1858088, 567598, 1290490, 227.36, 1858088, 1945930, -87842, -4.51, 319118, 406960, -87842, -21.584922351091016, 403290, -84172, -20.87133328374123, 252, 45.098436091291944, 121.76337075714008]
[2296, 'MEGA', 2021, 4, 0, 1946825, 1392651, 554174, 39.79, 1946825, 1877717, 69108, 3.68, 496375, 427267, 69108, 16.174429572141076, 612614, -116239, -18.974264381813015, 295, 10.167541297582016, 24.528254433495988]
[2295, 'RATCH', 2021, 4, 1, 7772022, 6286678, 1485344, 23.63, 7772022, 7778282, -6260, -0.08, 2123212, 2129472, -6260, -0.29396958494875725, 1438113, 685099, 47.6387460512491, 394, 17.723694116575086, 22.886695632329012]
[2298, 'SINGER', 2021, 4, 1, 700592, 443298, 257294, 58.04, 700592, 611964, 88628, 14.48, 212717, 124089, 88628, 71.42293031614406, 165127, 47590, 28.820241389960454, 446, 43.19079292652612, 26.130282012970586]
[2297, 'TPIPL', 2021, 4, 1, 5670534, 1498152, 4172382, 278.5, 5670534, 3930600, 1739934, 44.27, 1506763, -233171, 1739934, 746.2051455798534, 1208352, 298411, 24.69570125261513, 559, 273.4177117081171, 335.62136381513636]
[2294, 'TU', 2021, 4, 0, 8012996, 6246090, 1766906, 28.29, 8012996, 7540034, 472962, 6.27, 1930444, 1457482, 472962, 32.45062374698281, 1936793, -6349, -0.32780994148574477, 582, 16.67070345137427, 16.13627411219139]

In [54]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [55]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [56]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['ASIAN', 'ASK', 'ASP', 'BAY', 'BBL', 'BCH', 'BDMS', 'BGRIM', 'BLA',
       'CIMBT', 'CKP', 'COTTO', 'DOHOME', 'GLOBAL', 'GULF', 'HREIT', 'IMH',
       'IP', 'IVL', 'JMT', 'KBANK', 'KCE', 'KGI', 'KKP', 'KTB', 'LANNA', 'LPF',
       'MAKRO', 'MCS', 'MEGA', 'NER', 'PTL', 'PTT', 'PTTEP', 'RATCH', 'RCL',
       'RJH', 'ROJNA', 'SCB', 'SCC', 'SCCC', 'SGP', 'SINGER', 'SIS', 'SMPC',
       'SNC', 'SPALI', 'STA', 'STARK', 'STGT', 'SVI', 'SYNEX', 'TISCO', 'TKS',
       'TMT', 'TPIPL', 'TQM', 'TSE', 'TU'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [57]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BDMS', 'KGI', 'MEGA', 'RATCH', 'SINGER', 'TPIPL', 'TU') AND year = 2021 AND quarter = 4

In [58]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

     name  ticker_id
6    BDMS         58
5     KGI        259
4    MEGA        303
3   RATCH        399
2  SINGER        452
1   TPIPL        568
0      TU        591

In [59]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('BDMS', 'KGI', 'MEGA', 'RATCH', 'SINGER', 'TPIPL', 'TU')
ORDER BY name

In [60]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

     name   id                                     market
0    BDMS   58          SET50 / SETCLMV / SETTHSI / SETWB
1     KGI  259                                       sSET
2    MEGA  303                   SET100 / SETCLMV / SETWB
3   RATCH  399          SET50 / SETCLMV / SETHD / SETTHSI
4  SINGER  452                                     SET100
5   TPIPL  568                                        SET
6      TU  591  SET50 / SETCLMV / SETHD / SETTHSI / SETWB

### Additional process to find stocks in SET50 & SET100

In [61]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'TU', 'RATCH', 'MEGA', 'TPIPL', 'SINGER', 'BANPU', 'BJC', 'QH', 'ICHI', 'GUNKUL', 'BDMS', 'KGI', 'OSP', 'UTP', 'HMPRO', 'BEM', 'BPP', 'ASW', 'WICE', 'ARROW', 'SKN', 'DCON', 'TIPH', 'AMARIN', 'TNR', 'LIT', 'RPC', 'ILINK', 'WIIK', 'MFEC', 'JUBILE', 'III'"

In [62]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('TU', 'RATCH', 'MEGA', 'TPIPL', 'SINGER', 'BANPU', 'BJC', 'QH', 'ICHI', 'GUNKUL', 'BDMS', 'KGI', 'OSP', 'UTP', 'HMPRO', 'BEM', 'BPP', 'ASW', 'WICE', 'ARROW', 'SKN', 'DCON', 'TIPH', 'AMARIN', 'TNR', 'LIT', 'RPC', 'ILINK', 'WIIK', 'MFEC', 'JUBILE', 'III')
ORDER BY name

In [63]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,20,AMARIN,AMARIN PRINTING AND PUBLISHING PUBLIC COMPANY ...,Services,Media & Publishing,SET,www.amarin.com,2017-07-23 06:30:45.119467,2018-08-12 12:53:41.245572
1,31,ARROW,ARROW SYNDICATE PUBLIC COMPANY LIMITED,Property & Construction,Property & Construction,mai,www.arrowpipe.com,2017-07-23 06:30:46.343810,2022-01-15 03:54:12.624187
2,728,ASW,ASSETWISE PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.assetwise.co.th,2021-08-22 15:11:51.493365,2022-01-15 03:54:12.640882
3,47,BANPU,BANPU PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETTHSI,www.banpu.com,2017-07-23 06:30:48.193688,2022-01-15 03:54:12.658443
4,54,BDMS,BANGKOK DUSIT MEDICAL SERVICES PUBLIC COMPANY ...,Services,Health Care Services,SET50 / SETCLMV / SETTHSI / SETWB,www.bangkokhospital.com,2017-07-23 06:30:48.969723,2021-01-26 15:41:59.223067
5,57,BEM,BANGKOK EXPRESSWAY AND METRO PUBLIC COMPANY L...,Services,Transportation & Logistics,SET50 / SETTHSI / SETWB,www.bemplc.co.th,2017-07-23 06:30:49.335385,2019-11-19 07:11:18.757558
6,65,BJC,BERLI JUCKER PUBLIC COMPANY LIMITED,Services,Commerce,SETCLMV / SETTHSI / SETWB,www.bjc.co.th,2017-07-23 06:30:50.362737,2022-01-15 03:54:12.695208
7,74,BPP,BANPU POWER PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETHD / SETTHSI,www.banpupower.com,2017-07-23 06:30:51.577768,2022-01-15 03:54:12.707083
8,136,DCON,DCON PRODUCTS PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET,www.dconproduct.com,2017-07-23 06:31:00.634999,2017-07-23 06:31:00.634999
9,202,GUNKUL,GUNKUL ENGINEERING PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETHD / SETTHSI,www.gunkul.com,2017-07-23 06:31:13.085136,2022-01-15 03:54:12.821426
10,208,HMPRO,HOME PRODUCT CENTER PUBLIC COMPANY LIMITED,Services,Commerce,SET50 / SETTHSI / SETWB,www.homepro.co.th,2017-07-23 06:31:14.102242,2019-11-19 07:11:22.113622
11,216,ICHI,ICHITAN GROUP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,sSET / SETCLMV,www.ichitangroup.com,2017-07-23 06:31:15.468451,2022-01-15 03:54:12.839128
12,637,III,TRIPLE I LOGISTICS PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET,www.iii-logistics.com,2017-09-01 02:49:07.120556,2018-08-12 12:53:54.151421
13,221,ILINK,INTERLINK COMMUNICATION PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,sSET,www.interlink.co.th,2017-07-23 06:31:16.093079,2022-01-15 03:54:12.846721
14,240,JUBILE,JUBILEE ENTERPRISE PUBLIC COMPANY LIMITED,Consumer Products,Consumer Products,mai,www.jubileediamond.co.th,2017-07-23 06:31:18.609861,2022-01-15 03:54:12.886322
15,252,KGI,KGI SECURITIES (THAILAND) PUBLIC COMPANY LIMITED,Financials,Finance & Securities,sSET,www.kgieworld.co.th,2017-07-23 06:31:20.067638,2017-12-27 02:26:15.538255
16,273,LIT,LEASE IT PUBLIC COMPANY LIMITED,Financials,Financials,mai,www.leaseit.co.th,2017-07-23 06:31:22.751914,2022-01-15 03:54:12.908594
17,295,MEGA,MEGA LIFESCIENCES PUBLIC COMPANY LIMITED,Services,Commerce,SET100 / SETCLMV / SETWB,www.megawecare.com,2017-07-23 06:31:25.351627,2019-11-19 07:11:23.553810
18,297,MFEC,MFEC PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,sSET,www.mfec.co.th,2017-07-23 06:31:25.601638,2022-01-15 03:54:12.939696
19,681,OSP,OSOTSPA PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,www.osotspa.com,2019-03-03 03:43:42.797117,2022-01-15 03:54:12.974471
20,388,QH,QUALITY HOUSES PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD,www.qh.co.th,2017-07-23 06:31:38.049820,2017-07-23 06:31:38.049820
21,394,RATCH,RATCH GROUP PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETHD / SETTHSI,www.ratch.co.th,2017-07-23 06:31:39.066150,2021-07-07 03:34:13.928033
22,406,RPC,RPCG PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET,www.rpcthai.com,2017-07-23 06:31:41.090514,2017-07-23 06:31:41.090514
23,446,SINGER,SINGER THAILAND PUBLIC COMPANY LIMITED,Services,Commerce,SET100,www.singerthai.co.th,2017-07-23 06:31:47.349266,2021-07-07 03:34:13.974195
24,642,SKN,S.KIJCHAI ENTERPRISE PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,sSET,www.skn.co.th,2017-10-13 05:33:23.808784,2021-07-07 03:34:13.989298
25,529,TIPH,DHIPAYA GROUP HOLDINGS PUBLIC COMPANY LIMITED,Financials,Insurance,SET,www.dhipayagroup.co.th,2017-07-23 06:31:59.464594,2022-01-15 03:54:13.173822
26,553,TNR,THAI NIPPON RUBBER INDUSTRY PUBLIC COMPANY LIM...,Consumer Products,Personal Products & Pharmaceuticals,sSET,www.tnrcondom.com,2017-07-23 06:32:03.581402,2021-07-07 03:34:14.092204
27,559,TPIPL,TPI POLENE PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET,www.tpipolene.co.th,2017-07-23 06:32:05.279713,2019-03-03 03:43:45.671381
28,582,TU,THAI UNION GROUP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,thaiunion.com,2017-07-23 06:32:09.503438,2021-07-07 03:34:14.154419
29,605,UTP,UNITED PAPER PUBLIC COMPANY LIMITED,Industrials,Paper & Printing Materials,sSET / SETCLMV,www.unitedpaper.co.th,2017-07-23 06:32:13.163845,2018-08-12 12:54:15.398741
30,624,WICE,WICE LOGISTICS PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET,www.wice.co.th,2017-07-23 06:32:16.329569,2021-01-26 15:42:00.303670
31,625,WIIK,WIIK PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET,www.wiik.co.th,2017-07-23 06:32:16.429218,2021-01-26 15:42:00.310844