In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2021
quarter = 4
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-16'

In [2]:
today = date(2022, 2, 15)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-15'

In [3]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

In [4]:
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [5]:
names = """
IP
""".split()
names

['IP']

In [ ]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

In [ ]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [5]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2021 AND quarter = 4
AND publish_date >= '2022-02-15'

### End of Normal Process

In [6]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2021 AND quarter = 'Q4'

In [7]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head().style.format(format_dict)

### Delete duplicated year and quarter

In [8]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.style.format(format_dict)

In [9]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2021 AND quarter = 'Q4'

In [10]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
profits[profits["name"] == "THG"].style.format(format_dict)

In [13]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [14]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [15]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [16]:
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [17]:
final = filter.drop(colt, axis=1)
final.style.format(format_dict)

In [18]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [19]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2021 AND A.quarter = 4
AND B.year = 2021 AND B.quarter = (4-1)

In [20]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [21]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

In [22]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

In [23]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [24]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

ValueError: Wrong number of items passed 2, placement implies 1

In [25]:
final2.kind.value_counts()

AttributeError: 'DataFrame' object has no attribute 'kind'

In [26]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [27]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [28]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [29]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

     name   mean_pct
1    SMPC  64.392132
0  GLOBAL  48.560744

In [30]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [31]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

     name    std_pct
0  GLOBAL  42.692068
1    SMPC  59.049682

In [26]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [33]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [27]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [28]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [29]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

NameError: name 'final3' is not defined

In [37]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
0,GLOBAL,2021,4,1.0,3343575.0,1955963.0,1387612.0,70.94,3343575.0,2974789.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,SMPC,2021,4,1.0,727778.0,618711.0,109067.0,17.63,727778.0,565282.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [38]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
0,GLOBAL,2021,4,1.0,3343575.0,1955963.0,1387612.0,70.94,3343575.0,2974789.0,...,746378.0,377592.0,368786.0,97.667853,659140.0,87238.0,13.235125,193.0,48.560744,42.692068
1,SMPC,2021,4,1.0,727778.0,618711.0,109067.0,17.63,727778.0,565282.0,...,272239.0,109743.0,162496.0,148.069581,166896.0,105343.0,63.118948,455.0,64.392132,59.049682

In [39]:
rcds = final5.values.tolist()
len(rcds)

2

In [40]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [41]:
for rcd in rcds:
    print(rcd)

['GLOBAL', 2021, 4, 1.0, 3343575.0, 1955963.0, 1387612.0, 70.94, 3343575.0, 2974789.0, 368786.0, 12.4, 746378.0, 377592.0, 368786.0, 97.66785313248162, 659140.0, 87238.0, 13.235124556239949, 193.0, 48.56074442218039, 42.69206820234836]
['SMPC', 2021, 4, 1.0, 727778.0, 618711.0, 109067.0, 17.63, 727778.0, 565282.0, 162496.0, 28.75, 272239.0, 109743.0, 162496.0, 148.069580747747, 166896.0, 105343.0, 63.11894832710191, 455.0, 64.39213226871223, 59.04968243856922]

In [42]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [43]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [44]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(403, 2)

In [45]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [46]:
names = """
GLOBAL
SMPC
""".split()
names

['GLOBAL', 'SMPC']

In [47]:
#names = final5.name
names

['GLOBAL', 'SMPC']

In [48]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'GLOBAL', 'SMPC'"

In [49]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('GLOBAL', 'SMPC') AND year = 2021 AND quarter = 4

In [50]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [51]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [52]:
rcds = profits_inp.values.tolist()
len(rcds)

2

In [53]:
for rcd in rcds:
    print(rcd)

[2266, 'GLOBAL', 2021, 4, 1, 3343575, 1955963, 1387612, 70.94, 3343575, 2974789, 368786, 12.4, 746378, 377592, 368786, 97.66785313248162, 659140, 87238, 13.235124556239949, 193, 48.56074442218039, 42.69206820234836]
[2267, 'SMPC', 2021, 4, 1, 727778, 618711, 109067, 17.63, 727778, 565282, 162496, 28.75, 272239, 109743, 162496, 148.069580747747, 166896, 105343, 63.11894832710191, 455, 64.39213226871223, 59.04968243856922]

In [54]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [55]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [56]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['ASK', 'ASP', 'BAY', 'BBL', 'BCH', 'BGRIM', 'BLA', 'CIMBT', 'CKP',
       'DOHOME', 'GLOBAL', 'GULF', 'IMH', 'IP', 'IVL', 'JMT', 'KBANK', 'KCE',
       'KKP', 'KTB', 'LANNA', 'LPF', 'MCS', 'MEGA', 'NER', 'PTL', 'PTT',
       'PTTEP', 'RATCH', 'RCL', 'RJH', 'ROJNA', 'SAT', 'SCB', 'SCC', 'SCCC',
       'SINGER', 'SIS', 'SMPC', 'SMT', 'SPALI', 'STA', 'STARK', 'SVI', 'SYNEX',
       'TISCO', 'TKS', 'TOP', 'TQM', 'TSE', 'TSTH'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [57]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('GLOBAL', 'SMPC') AND year = 2021 AND quarter = 4

In [58]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

     name  ticker_id
1  GLOBAL        198
0    SMPC        463

In [59]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('GLOBAL', 'SMPC')
ORDER BY name

In [30]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

KeyError: "['market'] not in index"

### Additional process to find stocks in SET50 & SET100

In [33]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'JTS', 'THG', 'AMANAH', 'OR', 'TOP', 'DELTA', 'SF', 'GC', 'DCC', 'EGATIF', 'SPG'"

In [34]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('JTS', 'THG', 'AMANAH', 'OR', 'TOP', 'DELTA', 'SF', 'GC', 'DCC', 'EGATIF', 'SPG')
ORDER BY name

In [35]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,19,AMANAH,AMANAH LEASING PUBLIC COMPANY LIMITED,Financials,Finance & Securities,sSET,www.amanah.co.th,2017-07-23 06:30:45.011140,2021-01-26 15:41:59.148168
1,135,DCC,DYNASTY CERAMIC PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET,www.dynastyceramic.com,2017-07-23 06:31:00.517312,2021-01-26 15:41:59.405135
2,138,DELTA,DELTA ELECTRONICS (THAILAND) PUBLIC COMPANY LI...,Technology,Electronic Components,SET,www.deltathailand.com,2017-07-23 06:31:00.997874,2022-01-15 03:54:12.754970
3,156,EGATIF,NORTH BANGKOK POWER PLANT BLOCK 1 INFRASTRUCTU...,Resources,Energy & Utilities,SET,www.ktam.co.th,2017-07-23 06:31:03.927442,2017-07-23 06:31:03.927442
4,183,GC,GLOBAL CONNECTIONS PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET,www.gc.co.th,2017-07-23 06:31:07.933967,2017-07-23 06:31:07.933967
5,239,JTS,JASMINE TECHNOLOGY SOLUTION PUBLIC COMPANY LIM...,Technology,Information & Communication Technology,SET,www.jts.co.th,2017-07-23 06:31:18.426456,2022-01-15 03:54:12.881417
6,715,OR,PTT OIL AND RETAIL BUSINESS PUBLIC COMPANY LIM...,Resources,Energy & Utilities,SET50 / SETCLMV,www.pttor.com,2021-02-12 02:29:19.989397,2022-01-15 03:54:12.962274
7,438,SF,SIAM FUTURE DEVELOPMENT PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET,www.siamfuture.com,2017-07-23 06:31:46.165037,2022-01-15 03:54:13.075119
8,466,SPG,THE SIAM PAN GROUP PUBLIC COMPANY LIMITED,Industrials,Automotive,SET,www.siampangroup.com,2017-07-23 06:31:50.006896,2017-07-23 06:31:50.006896
9,661,THG,THONBURI HEALTHCARE GROUP PUBLIC COMPANY LIMITED,Services,Health Care Services,SETCLMV / SETWB,www.thg.co.th/,2017-12-21 13:43:31.763390,2021-07-07 03:34:14.064543
10,555,TOP,THAI OIL PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETTHSI,www.thaioilgroup.com,2017-07-23 06:32:04.097316,2021-07-07 03:34:14.109110