In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2021
quarter = 4
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-19'

In [2]:
today = date(2022, 2, 18)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-18'

In [3]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

In [4]:
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [5]:
names = """
IP
""".split()
names

['IP']

In [ ]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

In [ ]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [5]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2021 AND quarter = 4
AND publish_date >= '2022-02-18'

### End of Normal Process

In [6]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2021 AND quarter = 'Q4'

In [7]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head().style.format(format_dict)

### Delete duplicated year and quarter

In [8]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.style.format(format_dict)

In [9]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2021 AND quarter = 'Q4'

In [10]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
profits[profits["name"] == "MAKRO"].style.format(format_dict)

In [13]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [14]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [15]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [16]:
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [17]:
final = filter.drop(colt, axis=1)
final.style.format(format_dict)

In [18]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [19]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2021 AND A.quarter = 4
AND B.year = 2021 AND B.quarter = (4-1)

In [20]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [21]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

In [22]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

In [23]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [24]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [25]:
final2.kind.value_counts()

1    4
0    1
Name: kind, dtype: int64

In [26]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [27]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [28]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [29]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

    name    mean_pct
4  MAKRO  254.416873
0    SVI  157.214964
3   GULF   63.577065
1    TMT   30.892460
2    ASK   28.058514

In [30]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [31]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

    name     std_pct
2    ASK   22.028468
3   GULF   31.936609
1    TMT  104.968093
4  MAKRO  182.142390
0    SVI  207.674693

In [32]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [33]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [34]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [35]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [36]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [37]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
0,SVI,2021,4,1.0,1407622.0,686488.0,721134.0,105.05,1407622.0,935897.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,TMT,2021,4,0.0,1530060.0,537878.0,992182.0,184.46,1530060.0,1542586.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,ASK,2021,4,1.0,1202804.0,883064.0,319740.0,36.21,1202804.0,1080308.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,GULF,2021,4,1.0,7670298.0,4282115.0,3388183.0,79.12,7670298.0,6471046.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,MAKRO,2021,4,1.0,13686726.0,6562667.0,7124059.0,108.55,13686726.0,6722588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [38]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
2,ASK,2021,4,1.0,1202804.0,883064.0,319740.0,36.21,1202804.0,1080308.0,...,343187.0,220691.0,122496.0,55.505662,314336.0,28851.0,9.178395,38.0,28.058514,22.028468
3,GULF,2021,4,1.0,7670298.0,4282115.0,3388183.0,79.12,7670298.0,6471046.0,...,3043425.0,1844173.0,1199252.0,65.029257,1588186.0,1455239.0,91.629003,653.0,63.577065,31.936609
4,MAKRO,2021,4,1.0,13686726.0,6562667.0,7124059.0,108.55,13686726.0,6722588.0,...,9094011.0,2129873.0,6964138.0,326.974331,1571854.0,7522157.0,478.553161,283.0,254.416873,182.142390
0,SVI,2021,4,1.0,1407622.0,686488.0,721134.0,105.05,1407622.0,935897.0,...,573561.0,101836.0,471725.0,463.220276,520522.0,53039.0,10.189579,491.0,157.214964,207.674693
1,TMT,2021,4,0.0,1530060.0,537878.0,992182.0,184.46,1530060.0,1542586.0,...,160913.0,173439.0,-12526.0,-7.222136,341337.0,-180424.0,-52.858026,545.0,30.892460,104.968093

In [39]:
rcds = final5.values.tolist()
len(rcds)

5

In [40]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [41]:
for rcd in rcds:
    print(rcd)

['SVI', 2021, 4, 1.0, 1407622.0, 686488.0, 721134.0, 105.05, 1407622.0, 935897.0, 471725.0, 50.4, 573561.0, 101836.0, 471725.0, 463.22027573746027, 520522.0, 53039.0, 10.18957892269683, 491.0, 157.21496366503928, 207.6746932681914]
['TMT', 2021, 4, 0.0, 1530060.0, 537878.0, 992182.0, 184.46, 1530060.0, 1542586.0, -12526.0, -0.81, 160913.0, 173439.0, -12526.0, -7.22213573648372, 341337.0, -180424.0, -52.85802593917448, 545.0, 30.89245958108545, 104.9680929535362]
['ASK', 2021, 4, 1.0, 1202804.0, 883064.0, 319740.0, 36.21, 1202804.0, 1080308.0, 122496.0, 11.34, 343187.0, 220691.0, 122496.0, 55.505661762373634, 314336.0, 28851.0, 9.178395093148731, 38.0, 28.058514213880592, 22.02846828237502]
['GULF', 2021, 4, 1.0, 7670298.0, 4282115.0, 3388183.0, 79.12, 7670298.0, 6471046.0, 1199252.0, 18.53, 3043425.0, 1844173.0, 1199252.0, 65.02925701655973, 1588186.0, 1455239.0, 91.62900315202376, 653.0, 63.577065042145875, 31.93660903136282]
['MAKRO', 2021, 4, 1.0, 13686726.0, 6562667.0, 7124059.0, 108.55, 13686726.0, 6722588.0, 6964138.0, 103.59, 9094011.0, 2129873.0, 6964138.0, 326.97433133337057, 1571854.0, 7522157.0, 478.55316078974255, 283.0, 254.41687303077828, 182.14238983253492]

In [42]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [43]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [44]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(403, 2)

In [45]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [47]:
names = """
ASK
GULF
MAKRO
SVI
TMT
""".split()
names

['ASK', 'GULF', 'MAKRO', 'SVI', 'TMT']

In [48]:
#names = final5.name
names

['ASK', 'GULF', 'MAKRO', 'SVI', 'TMT']

In [49]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ASK', 'GULF', 'MAKRO', 'SVI', 'TMT'"

In [50]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('ASK', 'GULF', 'MAKRO', 'SVI', 'TMT') AND year = 2021 AND quarter = 4

In [51]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [52]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [53]:
rcds = profits_inp.values.tolist()
len(rcds)

5

In [54]:
for rcd in rcds:
    print(rcd)

[2283, 'ASK', 2021, 4, 1, 1202804, 883064, 319740, 36.21, 1202804, 1080308, 122496, 11.34, 343187, 220691, 122496, 55.505661762373634, 314336, 28851, 9.178395093148731, 38, 28.058514213880592, 22.02846828237502]
[2284, 'GULF', 2021, 4, 1, 7670298, 4282115, 3388183, 79.12, 7670298, 6471046, 1199252, 18.53, 3043425, 1844173, 1199252, 65.02925701655973, 1588186, 1455239, 91.62900315202376, 653, 63.577065042145875, 31.93660903136282]
[2285, 'MAKRO', 2021, 4, 1, 13686726, 6562667, 7124059, 108.55, 13686726, 6722588, 6964138, 103.59, 9094011, 2129873, 6964138, 326.97433133337057, 1571854, 7522157, 478.55316078974255, 283, 254.41687303077828, 182.14238983253492]
[2281, 'SVI', 2021, 4, 1, 1407622, 686488, 721134, 105.05, 1407622, 935897, 471725, 50.4, 573561, 101836, 471725, 463.22027573746027, 520522, 53039, 10.18957892269683, 491, 157.21496366503928, 207.6746932681914]
[2282, 'TMT', 2021, 4, 0, 1530060, 537878, 992182, 184.46, 1530060, 1542586, -12526, -0.81, 160913, 173439, -12526, -7.22213573648372, 341337, -180424, -52.85802593917448, 545, 30.89245958108545, 104.9680929535362]

In [55]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [56]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [57]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['ASK', 'ASP', 'BAY', 'BBL', 'BCH', 'BCT', 'BGRIM', 'BLA', 'CIMBT',
       'CKP', 'COTTO', 'DOHOME', 'GLOBAL', 'GULF', 'IMH', 'IP', 'IVL', 'JMT',
       'KBANK', 'KCE', 'KKP', 'KTB', 'LANNA', 'LPF', 'MAKRO', 'MCS', 'MEGA',
       'NER', 'PTL', 'PTT', 'PTTEP', 'RATCH', 'RCL', 'RJH', 'ROJNA', 'SAT',
       'SCB', 'SCC', 'SCCC', 'SINGER', 'SIS', 'SMPC', 'SNC', 'SPALI', 'STA',
       'STARK', 'STGT', 'SVI', 'SYNEX', 'TISCO', 'TKS', 'TMT', 'TQM', 'TSE',
       'TSTH'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [58]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('ASK', 'GULF', 'MAKRO', 'SVI', 'TMT') AND year = 2021 AND quarter = 4

In [59]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
4    ASK         42
3   GULF        207
2  MAKRO        291
1    SVI        500
0    TMT        553

In [60]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('ASK', 'GULF', 'MAKRO', 'SVI', 'TMT')
ORDER BY name

In [61]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id                     market
0    ASK   42                        SET
1   GULF  207  SET50 / SETCLMV / SETTHSI
2  MAKRO  291                        SET
3    SVI  500                        SET
4    TMT  553             sSET / SETTHSI

### Additional process to find stocks in SET50 & SET100

In [62]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SVI', 'TMT', 'ASK', 'GULF', 'AWC', 'TIPCO', 'PSH', 'CBG', 'MAKRO', 'ICC', 'BEC', 'APCS', 'TRUE', 'YUASA', 'AIE', 'INOX', 'CPNREIT', 'SUPEREIF', 'INSET'"

In [63]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('SVI', 'TMT', 'ASK', 'GULF', 'AWC', 'TIPCO', 'PSH', 'CBG', 'MAKRO', 'ICC', 'BEC', 'APCS', 'TRUE', 'YUASA', 'AIE', 'INOX', 'CPNREIT', 'SUPEREIF', 'INSET')
ORDER BY name

In [64]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,720,AIE,AI ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.aienergy.co.th,2021-02-21 16:12:17.821078,2022-01-15 03:54:12.607554
1,27,APCS,ASIA PRECISION PUBLIC COMPANY LIMITED,Property & Construction,Construction Services,sSET,www.asiaprecision.com,2017-07-23 06:30:45.910731,2021-07-07 03:34:13.563548
2,38,ASK,ASIA SERMKIJ LEASING PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET,www.ask.co.th,2017-07-23 06:30:47.135935,2022-01-15 03:54:12.634778
3,699,AWC,ASSET WORLD CORP PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET50 / SETTHSI,https://www.assetworldcorp-th.com,2019-11-19 07:11:17.786612,2022-01-15 03:54:12.645916
4,56,BEC,BEC WORLD PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.becworld.com,2017-07-23 06:30:49.218292,2021-07-07 03:34:13.608165
5,87,CBG,CARABAO GROUP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET50 / SETCLMV / SETWB,www.carabaogroup.com,2017-07-23 06:30:54.027998,2019-11-19 07:11:19.512684
6,647,CPNREIT,CPN RETAIL GROWTH LEASEHOLD REIT,Property & Construction,Property Fund & REITs,SET,www.cpnreit.com,2017-12-21 13:43:29.709328,2017-12-21 13:43:29.709328
7,653,GULF,GULF ENERGY DEVELOPMENT PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETTHSI,www.gulf.co.th,2017-12-21 13:43:30.426842,2021-01-26 15:41:59.507480
8,215,ICC,I.C.C. INTERNATIONAL PUBLIC COMPANY LIMITED,Consumer Products,Fashion,SET,www.icc.co.th,2017-07-23 06:31:15.310358,2017-07-23 06:31:15.310358
9,674,INOX,POSCO-THAINOX PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,SET,www.poscothainox.com,2018-08-12 12:53:54.698730,2021-08-22 18:21:29.908036
10,738,INSET,INFRASET PUBLIC COMPANY LIMITED,Technology,Technology,mai,www.infraset.co.th,2021-11-27 02:52:23.150933,2021-11-27 02:52:23.150933
11,283,MAKRO,SIAM MAKRO PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.siammakro.co.th,2017-07-23 06:31:23.967729,2017-07-23 06:31:23.967729
12,377,PSH,PRUKSA HOLDING PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SETTHSI,www.psh.co.th,2017-07-23 06:31:36.425256,2021-01-26 15:41:59.827209
13,706,SUPEREIF,SUPER ENERGY POWER PLANT INFRASTRUCTURE FUND,Resources,Energy & Utilities,SET,www.supereif.com,2019-11-19 07:11:27.915718,2022-01-15 03:54:13.142504
14,491,SVI,SVI PUBLIC COMPANY LIMITED,Technology,Electronic Components,SET,www.svi.co.th,2017-07-23 06:31:53.439633,2021-01-26 15:42:00.068374
15,530,TIPCO,TIPCO FOODS PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,sSET,www.tipco.net,2017-07-23 06:31:59.622355,2017-12-27 02:26:23.098918
16,545,TMT,TMT STEEL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,sSET / SETTHSI,www.tmtsteel.co.th,2017-07-23 06:32:02.297024,2022-01-15 03:54:13.186946
17,571,TRUE,TRUE CORPORATION PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET50 / SETTHSI,www.truecorp.co.th,2017-07-23 06:32:07.647453,2019-03-03 03:43:45.971874
18,630,YUASA,YUASA BATTERY (THAILAND) PUBLIC COMPANY LIMITED,Industrial,Industrial,mai,www.yuasathai.com,2017-07-23 06:32:17.287814,2022-01-15 03:54:13.280347