In [3]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2021
quarter = 4
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-03-01'

In [4]:
#today = date(2022, 2, 25)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-03-01'

In [5]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

In [6]:
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [7]:
names = """
IP
""".split()
names

['IP']

In [ ]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

In [ ]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [8]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2021 AND quarter = 4
AND publish_date >= '2022-03-01'

### End of Normal Process

In [9]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2021 AND quarter = 'Q4'

In [10]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.head().style.format(format_dict)

In [12]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2021 AND quarter = 'Q4'

In [13]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [14]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent

In [15]:
profits[profits["name"] == "RCL"].style.format(format_dict)

In [16]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [17]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [18]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [19]:
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [20]:
final = filter.drop(colt, axis=1)
final.style.format(format_dict)

In [21]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [22]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2021 AND A.quarter = 4
AND B.year = 2021 AND B.quarter = (4-1)

In [23]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [24]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

In [25]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

In [26]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [27]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [28]:
final2.kind.value_counts()

0    1
Name: kind, dtype: int64

In [29]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [30]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [31]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [32]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

   name   mean_pct
0  SIRI -19.342536

In [33]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [34]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

   name    std_pct
0  SIRI  30.791107

In [35]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [36]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [37]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [38]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [39]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [40]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
0,SIRI,2021,4,0.0,2017279.0,1673086.0,344193.0,20.57,2017279.0,2262454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [41]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
0,SIRI,2021,4,0.0,2017279.0,1673086.0,344193.0,20.57,2017279.0,2262454.0,...,342999.0,588174.0,-245175.0,-41.684093,628388.0,-285389.0,-45.416049,447.0,-19.342536,30.791107

In [42]:
rcds = final5.values.tolist()
len(rcds)

1

In [43]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [44]:
for rcd in rcds:
    print(rcd)

['SIRI', 2021, 4, 0.0, 2017279.0, 1673086.0, 344193.0, 20.57, 2017279.0, 2262454.0, -245175.0, -10.84, 342999.0, 588174.0, -245175.0, -41.68409348254088, 628388.0, -285389.0, -45.41604868329758, 447.0, -19.342535541459615, 30.79110749753544]

In [45]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [46]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [47]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(403, 2)

In [48]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [49]:
names = """
BDMS
KGI
MEGA
RATCH
SINGER
TPIPL
TU
""".split()
names

['BDMS', 'KGI', 'MEGA', 'RATCH', 'SINGER', 'TPIPL', 'TU']

In [50]:
names = final5.name
names

0    SIRI
Name: name, dtype: object

In [51]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SIRI'"

In [52]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('SIRI') AND year = 2021 AND quarter = 4

In [53]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [54]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [55]:
rcds = profits_inp.values.tolist()
len(rcds)

1

In [56]:
for rcd in rcds:
    print(rcd)

[2346, 'SIRI', 2021, 4, 0, 2017279, 1673086, 344193, 20.57, 2017279, 2262454, -245175, -10.84, 342999, 588174, -245175, -41.68409348254088, 628388, -285389, -45.41604868329758, 447, -19.342535541459615, 30.79110749753544]

In [57]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [58]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [59]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['AIMIRT', 'AMATA', 'ASIAN', 'ASK', 'ASP', 'AYUD', 'BAM', 'BAY', 'BBL',
       'BCH', 'BDMS', 'BLA', 'CHG', 'CK', 'COM7', 'COTTO', 'DOHOME', 'EA',
       'FORTH', 'GLOBAL', 'GULF', 'IVL', 'JMART', 'JMT', 'KBANK', 'KCE', 'KKP',
       'LPF', 'MAKRO', 'MCS', 'MEGA', 'NER', 'ORI', 'PTL', 'PTT', 'PTTEP',
       'RATCH', 'RCL', 'RJH', 'SCB', 'SCC', 'SCCC', 'SENA', 'SINGER', 'SIRI',
       'SIS', 'SMPC', 'SNC', 'SPALI', 'SPI', 'SSP', 'STA', 'STARK', 'SVI',
       'SYNEX', 'TISCO', 'TMT', 'TPIPL', 'TQM', 'TU', 'VIBHA'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [60]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('SIRI') AND year = 2021 AND quarter = 4

In [61]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

   name  ticker_id
0  SIRI        453

In [62]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('SIRI')
ORDER BY name

In [63]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

   name   id                    market
0  SIRI  453  SET100 / SETHD / SETTHSI

### Additional process to find stocks in SET50 & SET100

In [64]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SIRI', 'THE', 'TYCN', 'TNPC', 'NRF'"

In [65]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('SIRI', 'THE', 'TYCN', 'TNPC', 'NRF')
ORDER BY name

In [66]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,733,NRF,NR INSTANT PRODUCE PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET,https://www.nrinstant.com/,2021-08-29 06:31:32.532534,2022-01-15 03:54:12.955641
1,447,SIRI,SANSIRI PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.sansiri.com,2017-07-23 06:31:47.490953,2022-01-15 03:54:13.083352
2,524,THE,THE STEEL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,SET,www.thesteel.co.th,2017-07-23 06:31:58.614198,2021-08-22 18:21:30.071444
3,552,TNPC,THAI NAM PLASTIC PUBLIC COMPANY LIMITED,Industrials,Automotive,SET,www.thainam.com,2017-07-23 06:32:03.445878,2017-07-23 06:32:03.445878
4,737,TYCN,"TYCOONS WORLDWIDE GROUP (THAILAND) PUBLIC CO.,...",Industrials,Steel and Metal Products,SET,www.tycons.com,2021-11-04 15:13:03.928246,2021-11-04 15:13:03.928246