In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2021
quarter = 4
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-21'

In [2]:
#today = date(2022, 2, 18)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-21'

In [3]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

In [4]:
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [5]:
names = """
IP
""".split()
names

['IP']

In [ ]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

In [ ]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [5]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2021 AND quarter = 4
AND publish_date >= '2022-02-21'

### End of Normal Process

In [6]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2021 AND quarter = 'Q4'

In [7]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head().style.format(format_dict)

### Delete duplicated year and quarter

In [8]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.style.format(format_dict)

In [9]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2021 AND quarter = 'Q4'

In [10]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
profits[profits["name"] == "NER"].style.format(format_dict)

In [13]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [14]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [15]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [16]:
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [17]:
final = filter.drop(colt, axis=1)
final.style.format(format_dict)

In [18]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [19]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2021 AND A.quarter = 4
AND B.year = 2021 AND B.quarter = (4-1)

In [20]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [21]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

In [22]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

In [23]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [24]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [25]:
final2.kind.value_counts()

0    3
1    3
Name: kind, dtype: int64

In [26]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [27]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [28]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [29]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

    name    mean_pct
3    CKP  456.330378
2  HREIT   60.571755
0    RJH   53.965086
1    NER   51.790659
5  ASIAN   14.185843
4  CPTGF    9.680605

In [30]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [31]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

    name     std_pct
4  CPTGF   14.670338
5  ASIAN   14.829664
1    NER   44.723848
2  HREIT   52.138942
0    RJH   83.032707
3    CKP  714.726172

In [32]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [33]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [34]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [35]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [36]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [37]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
0,RJH,2021,4,0.0,1011958.0,412494.0,599464.0,145.33,1011958.0,873088.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,NER,2021,4,1.0,1850190.0,858677.0,991513.0,115.47,1850190.0,1667199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,HREIT,2021,4,1.0,892581.0,609075.0,283506.0,46.55,892581.0,786155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,CKP,2021,4,0.0,2179013.0,404714.0,1774299.0,438.41,2179013.0,2064271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,CPTGF,2021,4,1.0,676417.0,524188.0,152229.0,29.04,676417.0,681239.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,ASIAN,2021,4,0.0,1044316.0,818056.0,226260.0,27.66,1044316.0,989973.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [38]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
5,ASIAN,2021,4,0.0,1044316.0,818056.0,226260.0,27.66,1044316.0,989973.0,...,265123.0,210780.0,54343.0,25.781858,271055.0,-5932.0,-2.188486,36.0,14.185843,14.829664
3,CKP,2021,4,0.0,2179013.0,404714.0,1774299.0,438.41,2179013.0,2064271.0,...,122540.0,7798.0,114742.0,1471.428571,1234916.0,-1112376.0,-90.077058,107.0,456.330378,714.726172
4,CPTGF,2021,4,1.0,676417.0,524188.0,152229.0,29.04,676417.0,681239.0,...,178109.0,182931.0,-4822.0,-2.635967,157579.0,20530.0,13.028386,690.0,9.680605,14.670338
2,HREIT,2021,4,1.0,892581.0,609075.0,283506.0,46.55,892581.0,786155.0,...,332692.0,226266.0,106426.0,47.035790,141474.0,191218.0,135.161231,211.0,60.571755,52.138942
1,NER,2021,4,1.0,1850190.0,858677.0,991513.0,115.47,1850190.0,1667199.0,...,604563.0,421572.0,182991.0,43.406820,440304.0,164259.0,37.305816,680.0,51.790659,44.723848
0,RJH,2021,4,0.0,1011958.0,412494.0,599464.0,145.33,1011958.0,873088.0,...,283360.0,144491.0,138869.0,96.109100,484283.0,-200923.0,-41.488758,399.0,53.965086,83.032707

In [39]:
rcds = final5.values.tolist()
len(rcds)

6

In [40]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [41]:
for rcd in rcds:
    print(rcd)

['RJH', 2021, 4, 0.0, 1011958.0, 412494.0, 599464.0, 145.33, 1011958.0, 873088.0, 138870.0, 15.91, 283360.0, 144491.0, 138869.0, 96.109100220775, 484283.0, -200923.0, -41.48875760660605, 399.0, 53.965085653542246, 83.03270695858366]
['NER', 2021, 4, 1.0, 1850190.0, 858677.0, 991513.0, 115.47, 1850190.0, 1667199.0, 182991.0, 10.98, 604563.0, 421572.0, 182991.0, 43.40682018729897, 440304.0, 164259.0, 37.30581598168538, 680.0, 51.79065904224609, 44.723848182340525]
['HREIT', 2021, 4, 1.0, 892581.0, 609075.0, 283506.0, 46.55, 892581.0, 786155.0, 106426.0, 13.54, 332692.0, 226266.0, 106426.0, 47.03578973420664, 141474.0, 191218.0, 135.16123103891883, 211.0, 60.57175519328136, 52.13894220604934]
['CKP', 2021, 4, 0.0, 2179013.0, 404714.0, 1774299.0, 438.41, 2179013.0, 2064271.0, 114742.0, 5.56, 122540.0, 7798.0, 114742.0, 1471.4285714285713, 1234916.0, -1112376.0, -90.0770578727622, 107.0, 456.3303783889523, 714.7261717863054]
['CPTGF', 2021, 4, 1.0, 676417.0, 524188.0, 152229.0, 29.04, 676417.0, 681239.0, -4822.0, -0.71, 178109.0, 182931.0, -4822.0, -2.6359665666289476, 157579.0, 20530.0, 13.028385762062204, 690.0, 9.680604798858313, 14.670337626412195]
['ASIAN', 2021, 4, 0.0, 1044316.0, 818056.0, 226260.0, 27.66, 1044316.0, 989973.0, 54343.0, 5.49, 265123.0, 210780.0, 54343.0, 25.781857861277164, 271055.0, -5932.0, -2.188485731678073, 36.0, 14.185843032399774, 14.829663902881919]

In [42]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [43]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [44]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(403, 2)

In [45]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [46]:
names = """
ASIAN
CKP
CPTGF
HREIT
NER
RJH
""".split()
names

['ASIAN', 'CKP', 'CPTGF', 'HREIT', 'NER', 'RJH']

In [47]:
#names = final5.name
names

['ASIAN', 'CKP', 'CPTGF', 'HREIT', 'NER', 'RJH']

In [48]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ASIAN', 'CKP', 'CPTGF', 'HREIT', 'NER', 'RJH'"

In [49]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('ASIAN', 'CKP', 'CPTGF', 'HREIT', 'NER', 'RJH') AND year = 2021 AND quarter = 4

In [50]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [51]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [52]:
rcds = profits_inp.values.tolist()
len(rcds)

6

In [53]:
for rcd in rcds:
    print(rcd)

[2291, 'ASIAN', 2021, 4, 0, 1044316, 818056, 226260, 27.66, 1044316, 989973, 54343, 5.49, 265123, 210780, 54343, 25.781857861277164, 271055, -5932, -2.188485731678073, 36, 14.185843032399774, 14.829663902881919]
[2289, 'CKP', 2021, 4, 0, 2179013, 404714, 1774299, 438.41, 2179013, 2064271, 114742, 5.56, 122540, 7798, 114742, 1471.4285714285713, 1234916, -1112376, -90.0770578727622, 107, 456.3303783889523, 714.7261717863054]
[2290, 'CPTGF', 2021, 4, 1, 676417, 524188, 152229, 29.04, 676417, 681239, -4822, -0.71, 178109, 182931, -4822, -2.6359665666289476, 157579, 20530, 13.028385762062204, 690, 9.680604798858313, 14.670337626412195]
[2288, 'HREIT', 2021, 4, 1, 892581, 609075, 283506, 46.55, 892581, 786155, 106426, 13.54, 332692, 226266, 106426, 47.03578973420664, 141474, 191218, 135.16123103891883, 211, 60.57175519328136, 52.13894220604934]
[2287, 'NER', 2021, 4, 1, 1850190, 858677, 991513, 115.47, 1850190, 1667199, 182991, 10.98, 604563, 421572, 182991, 43.40682018729897, 440304, 164259, 37.30581598168538, 680, 51.79065904224609, 44.723848182340525]
[2286, 'RJH', 2021, 4, 0, 1011958, 412494, 599464, 145.33, 1011958, 873088, 138870, 15.91, 283360, 144491, 138869, 96.109100220775, 484283, -200923, -41.48875760660605, 399, 53.965085653542246, 83.03270695858366]

In [54]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [55]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [56]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['ASIAN', 'ASK', 'ASP', 'BAY', 'BBL', 'BCH', 'BGRIM', 'BLA', 'CIMBT',
       'CKP', 'COTTO', 'CPTGF', 'DOHOME', 'GLOBAL', 'GULF', 'HREIT', 'IMH',
       'IP', 'IVL', 'JMT', 'KBANK', 'KCE', 'KKP', 'KTB', 'LANNA', 'LPF',
       'MAKRO', 'MCS', 'MEGA', 'NER', 'PTL', 'PTT', 'PTTEP', 'RATCH', 'RCL',
       'RJH', 'ROJNA', 'SAT', 'SCB', 'SCC', 'SCCC', 'SINGER', 'SIS', 'SMPC',
       'SNC', 'SPALI', 'STA', 'STARK', 'STGT', 'SVI', 'SYNEX', 'TISCO', 'TKS',
       'TMT', 'TQM', 'TSE'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [57]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('ASIAN', 'CKP', 'CPTGF', 'HREIT', 'NER', 'RJH') AND year = 2021 AND quarter = 4

In [58]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
5  ASIAN         40
4    CKP        110
3  CPTGF        659
2  HREIT        217
1    NER        649
0    RJH        404

In [59]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('ASIAN', 'CKP', 'CPTGF', 'HREIT', 'NER', 'RJH')
ORDER BY name

In [60]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id                      market
0  ASIAN   40              sSET / SETTHSI
1    CKP  110  SET100 / SETCLMV / SETTHSI
2  CPTGF  659                         SET
3  HREIT  217                         SET
4    NER  649                        sSET
5    RJH  404                        sSET

### Additional process to find stocks in SET50 & SET100

In [61]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'RJH', 'JASIF', 'NER', 'HREIT', 'CKP', 'RBF', 'TIDLOR', 'NYT', 'TQR', 'AIT', 'SNP', 'PB', 'BSBM', 'SHANG', 'SVH', 'CPTGF', 'CPN', 'ASIAN'"

In [62]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('RJH', 'JASIF', 'NER', 'HREIT', 'CKP', 'RBF', 'TIDLOR', 'NYT', 'TQR', 'AIT', 'SNP', 'PB', 'BSBM', 'SHANG', 'SVH', 'CPTGF', 'CPN', 'ASIAN')
ORDER BY name

In [63]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,11,AIT,"ADVANCED INFORMATION TECHNOLOGY PUBLIC CO.,LTD.",Technology,Information & Communication Technology,sSET,www.ait.co.th,2017-07-23 06:30:44.134557,2017-12-27 02:26:11.417971
1,36,ASIAN,ASIAN SEA CORPORATION PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,sSET / SETTHSI,www.asianseafoods.co.th,2017-07-23 06:30:46.928337,2022-01-15 03:54:12.629742
2,79,BSBM,BANGSAPHAN BARMILL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,SET,www.bsbm.co.th,2017-07-23 06:30:52.452935,2021-08-22 18:21:29.831130
3,107,CKP,CK POWER PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETTHSI,www.ckpower.co.th,2017-07-23 06:30:56.987542,2021-01-26 15:41:59.340667
4,121,CPN,CENTRAL PATTANA PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET50 / SETTHSI,www.centralpattana.co.th,2017-07-23 06:30:58.911154,2021-01-26 15:41:59.378040
5,690,CPTGF,C.P. TOWER GROWTH LEASEHOLD PROPERTY FUND,Property & Construction,Property Fund & REITs,SET,www.ktam.co.th,2019-03-03 09:02:38.927401,2019-03-03 09:02:38.927401
6,211,HREIT,HEMARAJ LEASEHOLD REAL ESTATE INVESTMENT TRUST,Property & Construction,Property Fund & REITs,SET,www.hemarajreit.com,2017-07-23 06:31:14.694180,2017-07-23 06:31:14.694180
7,234,JASIF,JASMINE BROADBAND INTERNET INFRASTRUCTURE FUND,Technology,Information & Communication Technology,SET,www.jas-if.com,2017-07-23 06:31:17.769146,2019-03-03 03:43:41.108383
8,680,NER,NORTH EAST RUBBER PUBLIC COMPANY LIMITED,Agro & Food Industry,Agribusiness,sSET,www.nerubber.com,2019-03-03 03:43:42.465733,2019-11-19 07:11:24.050281
9,336,NYT,NAMYONG TERMINAL PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET / SETTHSI,www.namyongterminal.com,2017-07-23 06:31:30.776642,2021-07-07 03:34:13.857109
10,344,PB,PRESIDENT BAKERY PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET,www.farmhouse.co.th,2017-07-23 06:31:31.855545,2017-07-23 06:31:31.855545
11,703,RBF,R&B FOOD SUPPLY PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET100 / SETCLMV / SETWB,https://www.rbfoodsupply.co.th,2019-11-19 07:11:25.552170,2021-01-26 15:41:59.865078
12,399,RJH,RAJTHANEE HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,sSET,www.rajthanee.com,2017-07-23 06:31:39.891624,2017-12-27 02:26:19.042854
13,442,SHANG,SHANGRI-LA HOTEL PUBLIC COMPANY LIMITED,Services,Tourism & Leisure,SET,www.shangri-la.com,2017-07-23 06:31:46.804714,2017-07-23 06:31:46.804714
14,694,SNP,S & P SYNDICATE PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET,www.snpfood.com,2019-03-03 09:02:39.798678,2019-03-03 09:02:39.798678
15,490,SVH,SAMITIVEJ PUBLIC COMPANY LIMITED,Services,Health Care Services,SET,www.samitivejhospitals.com,2017-07-23 06:31:53.248804,2021-07-07 03:34:14.040176
16,723,TIDLOR,NGERN TID LOR PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET50,www.ngerntidlor.com/th/home.html,2021-05-10 23:19:52.787664,2022-01-15 03:54:13.168709
17,716,TQR,TQR PUBLIC COMPANY LIMITED,Financials,Financials,mai,https://www.tqr.co.th,2021-02-18 03:19:37.046524,2022-01-15 03:54:13.213584