In [5]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2021
quarter = 4
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-01-22'

In [6]:
today = date(2022, 1, 21)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-01-21'

In [7]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

In [8]:
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [5]:
names = """
IP
""".split()
names

['IP']

In [ ]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

In [ ]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [9]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2021 AND quarter = 4
AND publish_date >= '2022-01-21'

### End of Normal Process

In [10]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2021 AND quarter = 'Q4'

In [11]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head().style.format(format_dict)

### Delete duplicated year and quarter

In [12]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.style.format(format_dict)

In [13]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2021 AND quarter = 'Q4'

In [14]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [15]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent

In [16]:
profits[profits["name"] == "BBL"].style.format(format_dict)

In [17]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [18]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [19]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [20]:
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [21]:
final = filter.drop(colt, axis=1)
final.style.format(format_dict)

In [22]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [23]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2021 AND A.quarter = 4
AND B.year = 2021 AND B.quarter = (4-1)

In [24]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [25]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

In [26]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

In [27]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [28]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [29]:
final2.kind.value_counts()

0    5
1    1
Name: kind, dtype: int64

In [30]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [31]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [32]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [33]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

    name    mean_pct
5  CIMBT  164.903255
0    BBL   56.648974
3    SCB   21.928686
1    KTB   19.972610
4  KBANK    3.477550
2    KTC   -0.449828

In [34]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [35]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

    name     std_pct
2    KTC    7.392600
1    KTB   20.982424
4  KBANK   25.425462
3    SCB   29.773148
0    BBL   75.764997
5  CIMBT  235.798087

In [36]:
sql = "SELECT name, id FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [37]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [38]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [39]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [40]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [41]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

Empty DataFrame
Columns: [name, year, quarter, kind_x, latest_amt_y_x, previous_amt_y_x, inc_amt_y_x, inc_pct_y_x, latest_amt_q_x, previous_amt_q_x, inc_amt_q_x, inc_pct_q_x, q_amt_c_x, y_amt_x, inc_amt_py_x, inc_pct_py_x, q_amt_p_x, inc_amt_pq_x, inc_pct_pq_x, ticker_id_x, mean_pct_x, std_pct_x, id, kind_y, latest_amt_y_y, previous_amt_y_y, inc_amt_y_y, inc_pct_y_y, latest_amt_q_y, previous_amt_q_y, inc_amt_q_y, inc_pct_q_y, q_amt_c_y, y_amt_y, inc_amt_py_y, inc_pct_py_y, q_amt_p_y, inc_amt_pq_y, inc_pct_pq_y, ticker_id_y, mean_pct_y, std_pct_y, _merge]
Index: []

[0 rows x 43 columns]

In [42]:
final5 = final4[colw]
final5.sort_values('name')

Empty DataFrame
Columns: [name, year, quarter, kind_x, latest_amt_y_x, previous_amt_y_x, inc_amt_y_x, inc_pct_y_x, latest_amt_q_x, previous_amt_q_x, inc_amt_q_x, inc_pct_q_x, q_amt_c_x, y_amt_x, inc_amt_py_x, inc_pct_py_x, q_amt_p_x, inc_amt_pq_x, inc_pct_pq_x, ticker_id_x, mean_pct_x, std_pct_x]
Index: []

[0 rows x 22 columns]

In [43]:
rcds = final5.values.tolist()
len(rcds)

0

In [44]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2021 AND quarter = 4
ORDER BY name

In [45]:
for rcd in rcds:
    print(rcd)

In [43]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [44]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [46]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(403, 2)

In [47]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [59]:
names = """
BBL
CIMBT
KBANK
KTB
KTC
SCB
""".split()
names

['BBL', 'CIMBT', 'KBANK', 'KTB', 'KTC', 'SCB']

In [57]:
#names = final5.name
names

Series([], Name: name, dtype: object)

In [60]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BBL', 'CIMBT', 'KBANK', 'KTB', 'KTC', 'SCB'"

In [51]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN () AND year = 2021 AND quarter = 4

In [52]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [53]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [54]:
rcds = profits_inp.values.tolist()
len(rcds)

0

In [54]:
for rcd in rcds:
    print(rcd)

[2254, 'BBL', 2021, 4, 0, 26507039, 17180582, 9326457, 54.28, 26507039, 22586660, 3920379, 17.36, 6317973, 2397594, 3920379, 163.51304682944652, 6909204, -591231, -8.557150722427648, 50, 56.648974026754715, 75.7649969286596]
[2259, 'CIMBT', 2021, 4, 0, 2440554, 1290582, 1149972, 89.1, 2440554, 1531200, 909354, 59.39, 732405, -176949, 909354, 513.9073970466067, 753382, -20977, -2.784377646399834, 104, 164.9032548500517, 235.79808718303323]
[2258, 'KBANK', 2021, 4, 1, 38052722, 28693918, 9358804, 32.62, 38052722, 41409930, -3357208, -8.11, 9901171, 13258379, -3357208, -25.32140618396864, 8630607, 1270564, 14.721606487237803, 245, 3.47755007581729, 25.4254622414837]
[2255, 'KTB', 2021, 4, 0, 21588288, 16420440, 5167848, 31.47, 21588288, 20096874, 1491414, 7.42, 4943839, 3452425, 1491414, 43.199026771037744, 5054977, -111138, -2.1985856711118568, 258, 19.97261027498147, 20.98242397923297]
[2256, 'KTC', 2021, 4, 0, 5878692, 5332865, 545827, 10.24, 5878692, 5952204, -73512, -1.24, 1247982, 1321494, -73512, -5.562794836752947, 1316944, -68962, -5.2365172702863605, 259, -0.4498280267598269, 7.392600320662502]
[2257, 'SCB', 2021, 4, 0, 35598816, 27217602, 8381214, 30.79, 35598816, 32685706, 2913110, 8.91, 7878555, 4965445, 2913110, 58.667652143966954, 8817920, -939365, -10.65290907606329, 426, 21.928685766975914, 29.773148092429942]

In [55]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [56]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [57]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['AEONTS', 'ASK', 'BAY', 'BBL', 'BCH', 'BGRIM', 'BLA', 'CIMBT', 'CKP',
       'DOHOME', 'EPG', 'GLOBAL', 'GULF', 'IMH', 'IP', 'IVL', 'JMT', 'KBANK',
       'KCE', 'KKP', 'KTB', 'KTC', 'LANNA', 'LPF', 'MCS', 'MEGA', 'NER', 'PTL',
       'PTT', 'RATCH', 'RCL', 'RJH', 'ROJNA', 'SAT', 'SCB', 'SINGER', 'SIS',
       'SMT', 'SPALI', 'STA', 'STARK', 'SVI', 'SYNEX', 'TISCO', 'TKS', 'TOP',
       'TQM', 'TSE', 'TSTH'],
      dtype='object', name='name')

### After call 35-Export-to-PortPg

In [61]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BBL', 'CIMBT', 'KBANK', 'KTB', 'KTC', 'SCB') AND year = 2021 AND quarter = 4

In [64]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
5    BBL         54
4  CIMBT        107
3  KBANK        253
2    KTB        265
1    KTC        266
0    SCB        432

In [65]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('BBL', 'CIMBT', 'KBANK', 'KTB', 'KTC', 'SCB')
ORDER BY name

In [67]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id                     market
0    BBL   54    SET50 / SETHD / SETTHSI
1  CIMBT  107                        SET
2  KBANK  253  SET50 / SETCLMV / SETTHSI
3    KTB  265    SET50 / SETHD / SETTHSI
4    KTC  266            SET50 / SETTHSI
5    SCB  432  SET50 / SETCLMV / SETTHSI