In [1]:
import pandas as pd
from sqlalchemy import create_engine
from glob import glob

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

data_path = "../data/"
irreg_path = "../data/irreg/"

year = 2021
quarter = 4
year, quarter

(2021, 4)

### Begin of Irregular quarter

### Irregular Quarter Plus 1

In [2]:
file_name   = 'P1-Stocks.csv'
input_file = irreg_path + file_name
col_names   = ['name']
data_ins = pd.read_csv(input_file, sep=',', index_col=None)
data_ins

     name
0     AOT
1    CITY
2  GVREIT
3     IRC
4    KTIS
5   OISHI
6    PICO
7     SSC
8   TFFIF
9      UV

In [3]:
names = data_ins["name"].values.tolist()
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'AOT', 'CITY', 'GVREIT', 'IRC', 'KTIS', 'OISHI', 'PICO', 'SSC', 'TFFIF', 'UV'"

In [4]:
sql = '''
SELECT name, COUNT(*) FROM epss 
WHERE name in (%s)
AND ((year = %s AND quarter <= %s + 1)
OR (year = %s - 1 AND quarter > %s + 1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name'''
sql = sql % (in_p, year, quarter, year, quarter)
print(sql)

SELECT name, COUNT(*) FROM epss
WHERE name in ('AOT', 'CITY', 'GVREIT', 'IRC', 'KTIS', 'OISHI', 'PICO', 'SSC', 'TFFIF', 'UV')
AND ((year = 2021 AND quarter <= 4 + 1)
OR (year = 2021 - 1 AND quarter > 4 + 1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name

In [5]:
df = pd.read_sql(sql, conlt)
df

Empty DataFrame
Columns: [name, COUNT(*)]
Index: []

### Irregular Quarter Minus 1

In [6]:
file_name   = 'M1-Stocks.csv'
input_file = irreg_path + file_name
col_names   = ['name']
data_ins = pd.read_csv(input_file, sep=',', index_col=None)
data_ins

      name
0   AEONTS
1      BCT
2    BLAND
3      BTS
4   BTSGIF
5      EPG
6   IMPACT
7    INGRS
8      KYE
9      LHK
10     LPF
11    MACO
12     PTL
13     SFP
14  STANLY
15    TIF1
16    TLGF
17     TMW
18      TR
19    TSTH
20     VGI

In [7]:
names = data_ins["name"].values.tolist()
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'AEONTS', 'BCT', 'BLAND', 'BTS', 'BTSGIF', 'EPG', 'IMPACT', 'INGRS', 'KYE', 'LHK', 'LPF', 'MACO', 'PTL', 'SFP', 'STANLY', 'TIF1', 'TLGF', 'TMW', 'TR', 'TSTH', 'VGI'"

In [8]:
sql = '''
SELECT name, COUNT(*) 
FROM epss 
WHERE name in (%s)
AND ((year = %s AND quarter <= %s - 1)
OR (year = %s - 1 AND quarter > %s - 1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name'''
sql = sql % (in_p, year, quarter, year, quarter)
print(sql)

SELECT name, COUNT(*)
FROM epss
WHERE name in ('AEONTS', 'BCT', 'BLAND', 'BTS', 'BTSGIF', 'EPG', 'IMPACT', 'INGRS', 'KYE', 'LHK', 'LPF', 'MACO', 'PTL', 'SFP', 'STANLY', 'TIF1', 'TLGF', 'TMW', 'TR', 'TSTH', 'VGI')
AND ((year = 2021 AND quarter <= 4 - 1)
OR (year = 2021 - 1 AND quarter > 4 - 1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name

In [9]:
df = pd.read_sql(sql, conlt)
df

Empty DataFrame
Columns: [name, COUNT(*)]
Index: []

### End of Irregular quarter

### Normal Quarter Stocks

In [10]:
irreg_files = sorted(glob('../data/irreg/*.csv'))
irreg_files

['../data/irreg\\M1-Stocks.csv', '../data/irreg\\P1-Stocks.csv']

In [11]:
col_names = ['name']
df_tmp = pd.concat((pd.read_csv(file) for file in irreg_files), ignore_index=True)
df_tmp

      name
0   AEONTS
1      BCT
2    BLAND
3      BTS
4   BTSGIF
5      EPG
6   IMPACT
7    INGRS
8      KYE
9      LHK
10     LPF
11    MACO
12     PTL
13     SFP
14  STANLY
15    TIF1
16    TLGF
17     TMW
18      TR
19    TSTH
20     VGI
21     AOT
22    CITY
23  GVREIT
24     IRC
25    KTIS
26   OISHI
27    PICO
28     SSC
29   TFFIF
30      UV

In [12]:
names = df_tmp['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AEONTS', 'BCT', 'BLAND', 'BTS', 'BTSGIF', 'EPG', 'IMPACT', 'INGRS', 'KYE', 'LHK', 'LPF', 'MACO', 'PTL', 'SFP', 'STANLY', 'TIF1', 'TLGF', 'TMW', 'TR', 'TSTH', 'VGI', 'AOT', 'CITY', 'GVREIT', 'IRC', 'KTIS', 'OISHI', 'PICO', 'SSC', 'TFFIF', 'UV'"

In [13]:
sql = """
SELECT name, COUNT(*) AS quarters 
FROM epss 
WHERE name NOT IN (%s)
AND ((year = %s AND quarter <= %s) OR (year = %s-1 AND quarter >= %s+1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name"""
sql = sql % (in_p, year, quarter, year, quarter)
print(sql)

SELECT name, COUNT(*) AS quarters
FROM epss
WHERE name NOT IN ('AEONTS', 'BCT', 'BLAND', 'BTS', 'BTSGIF', 'EPG', 'IMPACT', 'INGRS', 'KYE', 'LHK', 'LPF', 'MACO', 'PTL', 'SFP', 'STANLY', 'TIF1', 'TLGF', 'TMW', 'TR', 'TSTH', 'VGI', 'AOT', 'CITY', 'GVREIT', 'IRC', 'KTIS', 'OISHI', 'PICO', 'SSC', 'TFFIF', 'UV')
AND ((year = 2021 AND quarter <= 4) OR (year = 2021-1 AND quarter >= 4+1))
GROUP BY name
HAVING COUNT(*) < 4
ORDER BY name

In [14]:
df = pd.read_sql(sql, conlt)
df

Empty DataFrame
Columns: [name, quarters]
Index: []

### End of Normal Quarter stocks

### New stocks with less than 4 quarters EPS

In [15]:
sql = '''
SELECT name, COUNT(*) FROM epss 
WHERE (year = %s AND quarter <= %s) 
OR (year = %s-1 AND quarter > %s)
GROUP BY name 
HAVING MAX(quarter) < 4 
ORDER BY name'''
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT name, COUNT(*) FROM epss
WHERE (year = 2021 AND quarter <= 4)
OR (year = 2021-1 AND quarter > 4)
GROUP BY name
HAVING MAX(quarter) < 4
ORDER BY name

In [16]:
df_tmp = pd.read_sql(sql, conlt)
df_tmp

      name  COUNT(*)
0      BCT         3
1    BLAND         3
2      BTS         3
3   BTSGIF         3
4      EPG         3
5   IMPACT         3
6    INGRS         3
7      KYE         3
8      LHK         3
9     MACO         3
10     PTL         3
11  STANLY         3
12     TMW         3
13      TR         3
14     VGI         3

### Delete EPSS record that unmatch with Tickers in PortPg

In [17]:
sql = '''
SELECT *
FROM epss E
WHERE E.ticker_id NOT IN
(SELECT id FROM tickers)
'''
df = pd.read_sql(sql, conpg)
df.shape

(0, 14)

In [18]:
rp = conpg.execute(sql)
rp.rowcount

0

In [19]:
sql = '''
SELECT *
FROM epss
'''
epss = pd.read_sql(sql, conlt)
epss.shape

(9462, 14)

In [20]:
sql = '''
SELECT *
FROM tickers
'''
tickers = pd.read_sql(sql, conpg)
tickers.shape

(403, 9)

In [21]:
df_merge = pd.merge(epss, tickers, on='name', how='outer', indicator = True)
df_merge.shape

(9527, 23)

In [22]:
df_left = df_merge[df_merge['_merge'] == 'left_only']
df_left

Empty DataFrame
Columns: [id_x, name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date, id_y, full_name, sector, subsector, market, website, created_at, updated_at, _merge]
Index: []

[0 rows x 23 columns]

In [23]:
name_ary = df_left['name'].unique()
name_ary

array([], dtype=object)

In [24]:
sql = '''
SELECT *
FROM epss
WHERE name IN (%s)
'''
in_p = ', '.join(map(lambda name: "'%s'" % name, name_ary))
sql = sql % (in_p)
errors = pd.read_sql(sql, conlt)
errors

Empty DataFrame
Columns: [id, name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date]
Index: []

### Delete YR_PROFITS record that unmatch with Tickers in PortPg

In [25]:
sql = """
SELECT name, sector, subsector 
FROM tickers
"""
tickers = pd.read_sql(sql, conpg)
tickers.shape

(403, 3)

In [26]:
sql = '''
SELECT *
FROM yr_profits
'''
yr_profits = pd.read_sql(sql, conlt)
yr_profits.shape

(6137, 9)

In [27]:
df_merge = pd.merge(yr_profits, tickers, on="name", how="outer", indicator=True)
df_merge.shape

(6208, 12)

In [28]:
df_left = df_merge[df_merge["_merge"] == "left_only"]
df_left.shape

(0, 12)

In [29]:
name_ary = df_left["name"].unique()
name_ary

array([], dtype=object)

In [30]:
sql = '''
SELECT *
FROM yr_profits
WHERE name IN (%s)
'''
in_p = ', '.join(map(lambda name: "'%s'" % name, name_ary))
sql = sql % (in_p)
print(sql)

SELECT *
FROM yr_profits
WHERE name IN ()

In [31]:
errors = pd.read_sql(sql, conlt)
errors

Empty DataFrame
Columns: [id, name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id]
Index: []

In [32]:
sql = '''
DELETE
FROM yr_profits
WHERE name IN (%s)
'''
in_p = ', '.join(map(lambda name: "'%s'" % name, name_ary))
sql = sql % (in_p)
print(sql)

DELETE
FROM yr_profits
WHERE name IN ()

In [33]:
rp = conlt.execute(sql)
rp.rowcount

0

### Profits table

In [34]:
pd.set_option('display.max_rows',None)
sql = '''
SELECT * 
FROM profits
ORDER BY name, year, quarter
'''
profits = pd.read_sql(sql, conmy)
profits

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2339,AMATA,2021,4,1,1402287,1103439,298848,27.08,1402287,...,740785,396594,344191,86.786739,228699,512086,223.912654,21,92.577348,91.611645
1,2291,ASIAN,2021,4,0,1044316,818056,226260,27.66,1044316,...,265123,210780,54343,25.781858,271055,-5932,-2.188486,36,14.185843,14.829664
2,2283,ASK,2021,4,1,1202804,883064,319740,36.21,1202804,...,343187,220691,122496,55.505662,314336,28851,9.178395,38,28.058514,22.028468
3,2331,BAM,2021,4,1,2600215,1840621,759594,41.27,2600215,...,986621,795172,191449,24.076426,576326,410295,71.191478,709,37.136976,25.682250
4,2349,BAY,2022,1,1,34707618,22512053,12195565,54.17,34707618,...,7418285,6504855,913430,14.042281,6384972,1033313,16.183517,49,21.773949,22.393089
5,2353,BBL,2022,1,1,26702007,16433170,10268837,62.49,26702007,...,7118064,6923096,194968,2.816197,6317973,800091,12.663729,50,19.677482,29.011696
6,2343,BCH,2021,4,0,6846002,1229405,5616597,456.85,6846002,...,2480271,278311,2201960,791.186838,2896236,-415965,-14.362262,51,320.271144,377.203789
7,2299,BDMS,2021,4,1,7936077,7214236,721841,10.01,7936077,...,2635868,2387672,248196,10.394895,2509379,126489,5.040649,54,7.168886,3.583447
8,2360,BH,2022,1,1,1849587,530070,1319517,248.93,1849587,...,725041,91132,633909,695.594303,612095,112946,18.452364,61,253.779167,311.587968
9,2322,CHG,2021,4,1,4204072,876617,3327455,379.58,4204072,...,1812669,253592,1559077,614.797391,1563537,249132,15.933873,98,267.312816,282.819173
10,2356,CIMBT,2022,1,1,3160276,552067,2608209,472.44,3160276,...,1061041,341319,719722,210.864909,732405,328636,44.870802,104,189.416428,205.776805
11,2335,COM7,2021,4,1,2630392,1490682,1139710,76.46,2630392,...,907227,556002,351225,63.169737,570507,336720,59.021186,114,53.515231,26.470084
12,2357,COTTO,2022,1,1,608126,482435,125691,26.05,608126,...,211582,187060,24522,13.109163,57441,154141,268.346651,710,77.926454,127.263361
13,2272,DOHOME,2021,4,0,1818063,726680,1091383,150.19,1818063,...,333207,215400,117807,54.692201,340393,-7186,-2.111089,701,52.425278,69.778496
14,2302,EA,2021,4,1,6100068,5204566,895502,17.21,6100068,...,1881308,1484087,397221,26.765345,1616256,265052,16.399135,148,16.836120,8.088275
15,2266,GLOBAL,2021,4,1,3343575,1955963,1387612,70.94,3343575,...,746378,377592,368786,97.667853,659140,87238,13.235125,193,48.560744,42.692068
16,2284,GULF,2021,4,1,7670298,4282115,3388183,79.12,7670298,...,3043425,1844173,1199252,65.029257,1588186,1455239,91.629003,653,63.577065,31.936609
17,2306,JMART,2021,4,1,2467595,797871,1669724,209.27,2467595,...,1631957,271082,1360875,502.015995,269927,1362030,504.591982,236,334.709494,197.842058
18,2308,JMT,2021,4,1,1400374,1047041,353333,33.75,1400374,...,477052,330121,146931,44.508226,351692,125360,35.644826,237,31.405763,13.936390
19,2355,KBANK,2022,1,1,38636812,32739104,5897708,18.01,38636812,...,11210956,10626866,584090,5.496352,9901171,1309785,13.228587,245,9.566235,7.435388
20,2264,KCE,2021,4,1,2426284,1126787,1299497,115.33,2426284,...,700990,380581,320409,84.189437,604135,96855,16.032013,249,57.692862,50.211813
21,2348,KKP,2022,1,1,6910731,5101876,1808855,35.45,6910731,...,2055354,1462675,592679,40.520211,2023347,32007,1.581884,255,21.733024,19.146623
22,2352,KTB,2022,1,1,24790196,15917212,8872984,55.74,24790196,...,8780344,5578436,3201908,57.397952,4943839,3836505,77.601738,258,51.392422,26.323037
23,2350,KTC,2022,1,1,5992158,5325531,666627,12.52,5992158,...,1747272,1633806,113466,6.944888,1247982,499290,40.007789,259,15.350669,16.997625
24,2285,MAKRO,2021,4,1,13686726,6562667,7124059,108.55,13686726,...,9094011,2129873,6964138,326.974331,1571854,7522157,478.553161,283,254.416873,182.142390
25,2336,MCS,2021,4,0,1415771,954078,461693,48.39,1415771,...,351315,223725,127590,57.029836,422204,-70889,-16.790225,293,24.632403,34.384565
26,2296,MEGA,2021,4,0,1946825,1392651,554174,39.79,1946825,...,496375,427267,69108,16.174430,612614,-116239,-18.974264,295,10.167541,24.528254
27,2361,MST,2022,1,1,765658,626511,139147,22.21,765658,...,281599,276734,4865,1.758006,129111,152488,118.106126,290,35.678533,55.839085
28,2287,NER,2021,4,1,1850190,858677,991513,115.47,1850190,...,604563,421572,182991,43.406820,440304,164259,37.305816,680,51.790659,44.723848
29,2337,ORI,2021,4,1,3193935,2661894,532041,19.99,3193935,...,807848,642461,165387,25.742730,709016,98832,13.939319,339,16.283012,8.676760
30,2269,PTL,2021,3,1,3308616,2250149,1058467,47.04,3308616,...,1122300,724241,398059,54.962229,795233,327067,41.128449,382,39.202670,17.934164
31,2275,PTT,2021,4,1,108363411,37765808,70597603,186.94,108363411,...,27544306,13146691,14397615,109.515124,23652828,3891478,16.452485,383,82.056902,82.688516
32,2359,PTTEP,2022,1,0,37848936,25585211,12263725,47.93,37848936,...,10519023,11533682,-1014659,-8.797355,10645266,-126243,-1.185907,384,8.834184,26.272454
33,2295,RATCH,2021,4,1,7772022,6286678,1485344,23.63,7772022,...,2123212,2129472,-6260,-0.293970,1438113,685099,47.638746,394,17.723694,22.886696
34,2320,RCL,2021,4,1,17972751,1744794,16227957,930.08,17972751,...,8110929,1260437,6850492,543.501341,3731149,4379780,117.384216,396,413.138889,406.316760
35,2286,RJH,2021,4,0,1011958,412494,599464,145.33,1011958,...,283360,144491,138869,96.109100,484283,-200923,-41.488758,399,53.965086,83.032707
36,2354,SCB,2022,1,1,35703880,28054402,7649478,27.27,35703880,...,10192863,10087799,105064,1.041496,7878555,2314308,29.374777,426,14.496568,15.990656
37,2265,SCCC,2021,4,1,4247718,3680464,567254,15.41,4247718,...,1062661,896156,166505,18.579912,676407,386254,57.103785,428,23.565924,23.324960
38,2358,SCGP,2022,1,0,7817594,6860082,957512,13.96,7817594,...,1657958,2134731,-476773,-22.334102,2115508,-457550,-21.628375,713,-8.938119,17.078085
39,2324,SENA,2021,4,1,1250415,1119418,130997,11.70,1250415,...,637164,381942,255222,66.822188,166420,470744,282.865040,437,96.759307,126.257930
40,2298,SINGER,2021,4,1,700592,443298,257294,58.04,700592,...,212717,124089,88628,71.422930,165127,47590,28.820241,446,43.190793,26.130282
41,2303,SIS,2021,4,0,792621,597497,195124,32.66,792621,...,189248,166738,22510,13.500222,215173,-25925,-12.048445,449,9.257944,18.795255
42,2267,SMPC,2021,4,1,727778,618711,109067,17.63,727778,...,272239,109743,162496,148.069581,166896,105343,63.118948,455,64.392132,59.049682
43,2277,SNC,2021,4,1,636352,407665,228687,56.10,636352,...,189325,115784,73541,63.515684,134518,54807,40.743246,457,43.357233,22.307627
44,2292,SPALI,2021,4,1,7070321,4251230,2819091,66.31,7070321,...,2879183,1864612,1014571,54.411910,1719594,1159589,67.433883,462,51.226448,23.727390
45,2305,STARK,2021,4,0,2783108,1608659,1174449,73.01,2783108,...,908079,437409,470670,107.604096,912508,-4429,-0.485366,735,50.024683,49.322958
46,2281,SVI,2021,4,1,1407622,686488,721134,105.05,1407622,...,573561,101836,471725,463.220276,520522,53039,10.189579,491,157.214964,207.674693
47,2301,SYNEX,2021,4,1,860192,641951,218241,34.00,860192,...,269449,173327,96122,55.457026,194476,74973,38.551287,495,35.147078,17.650981
48,2347,TISCO,2022,1,1,6813664,6345021,468643,7.39,6813664,...,1795491,1763627,31864,1.806731,1791340,4151,0.231726,531,2.474614,3.349433
49,2282,TMT,2021,4,0,1530060,537878,992182,184.46,1530060,...,160913,173439,-12526,-7.222136,341337,-180424,-52.858026,545,30.892460,104.968093
50,2297,TPIPL,2021,4,1,5670534,1498152,4172382,278.50,5670534,...,1506763,-233171,1739934,746.205146,1208352,298411,24.695701,559,273.417712,335.621364
51,2321,TQM,2021,4,0,890431,701995,188436,26.84,890431,...,224171,190019,34152,17.972940,242947,-18776,-7.728435,688,10.268626,15.245570
52,2351,TTB,2022,1,1,10886994,8730675,2156319,24.70,10886994,...,3194904,2781955,412949,14.843842,2799333,395571,14.130902,541,14.403686,8.480781
53,2294,TU,2021,4,0,8012996,6246090,1766906,28.29,8012996,...,1930444,1457482,472962,32.450624,1936793,-6349,-0.327810,582,16.670703,16.136274
54,2328,VIBHA,2021,4,1,1805051,449801,1355250,301.30,1805051,...,691102,312529,378573,121.132119,650542,40560,6.234801,610,113.576730,134.848394

### End of Delete Profits records

In [35]:
sql = """
SELECT * 
FROM tickers
LIMIT 1"""
tickers = pd.read_sql(sql, conlt)
tickers.dtypes

id             int64
name          object
full_name     object
sector        object
subsector     object
market        object
website       object
created_at    object
updated_at    object
dtype: object

In [36]:
sql = """
SELECT DISTINCT T.sector, T.subsector
FROM profits P
JOIN tickers T ON P.ticker_id = T.id
ORDER BY T.sector, T.subsector
"""
pwc = pd.read_sql(sql, conlt)
pwc

                     sector                               subsector
0      Agro & Food Industry                            Agribusiness
1      Agro & Food Industry                         Food & Beverage
2         Consumer Products     Personal Products & Pharmaceuticals
3                Financials                                 Banking
4                Financials                    Finance & Securities
5                Financials                               Insurance
6               Industrials                              Automotive
7               Industrials        Industrial Materials & Machinery
8               Industrials                               Packaging
9               Industrials              Petrochemicals & Chemicals
10              Industrials                Steel and Metal Products
11  Property & Construction                  Construction Materials
12  Property & Construction                   Construction Services
13  Property & Construction                    Property Development
14  Property & Construction                   Property Fund & REITs
15                Resources                      Energy & Utilities
16                 Services                                Commerce
17                 Services                    Health Care Services
18                 Services              Transportation & Logistics
19               Technology                   Electronic Components
20               Technology  Information & Communication Technology

In [37]:
sql = """
SELECT * 
FROM consensus
LIMIT 1"""
consensus = pd.read_sql(sql, conlt)
consensus

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,2,ADVANC,218,8,1,0,9.54,10.19,22.9,7.4,3.5,249,X,6,2017-07-23 09:50:15.621932,2022-04-23 00:24:28.576226

In [38]:
sql = """
SELECT P.name, year, quarter, C.buy, C.hold, C.sell
FROM profits P
JOIN tickers T ON P.ticker_id = T.id
JOIN consensus C ON C.ticker_id = T.id
ORDER BY C.buy DESC
"""
pwc = pd.read_sql(sql, conlt)
pwc

      name  year  quarter  buy  hold  sell
0       CK  2021        4   13     0     0
1      BCH  2021        4   13     2     1
2    KBANK  2022        1   13     0     0
3      IVL  2021        4   12     2     0
4    PTTEP  2022        1   12     4     0
5    TISCO  2022        1   11     1     0
6     BDMS  2021        4   10     2     0
7      KKP  2022        1   10     1     0
8      KTB  2022        1   10     3     0
9      BBL  2022        1   10     1     0
10      TU  2021        4    9     4     0
11     SCB  2022        1    9     0     0
12    SCGP  2022        1    9     2     0
13  ADVANC  2021        3    8     1     0
14  GLOBAL  2021        4    8     1     0
15     ORI  2021        4    8     1     0
16   AMATA  2021        4    7     0     1
17     TTB  2022        1    7     3     1
18     PTT  2021        4    6     0     0
19     CKP  2021        4    6     0     0
20     KTC  2022        1    6     1     2
21   MAKRO  2021        4    5     1     0
22   SPALI  2021        4    5     2     0
23  DOHOME  2021        4    4     3     0
24   RATCH  2021        4    4     1     0
25      EA  2021        4    4     3     0
26     JMT  2021        4    4     0     0
27     CHG  2021        4    4     2     1
28  SINGER  2021        4    3     0     0
29   SYNEX  2021        4    3     0     0
30     SIS  2021        4    3     0     0
31     TQM  2021        4    3     0     0
32  INTUCH  2021        3    2     1     0
33     KCE  2021        4    2     4     0
34     SNC  2021        4    2     0     0
35     SVI  2021        4    2     0     0
36    GULF  2021        4    2     1     0
37     NER  2021        4    2     0     0
38   HREIT  2021        4    2     0     0
39   ASIAN  2021        4    2     0     0
40    MEGA  2021        4    2     1     0
41   TPIPL  2021        4    2     0     0
42     TSE  2021        4    2     0     0
43   JMART  2021        4    2     0     0
44   ROJNA  2021        4    2     0     0
45    SENA  2021        4    2     1     0
46     TVO  2021        4    2     0     0
47     BAM  2021        4    2     0     0
48     MCS  2021        4    2     0     0
49     SSP  2021        4    2     0     0
50      BH  2022        1    2     2     1
51    SCCC  2021        4    1     1     0
52    SMPC  2021        4    1     0     0
53     PTL  2021        3    1     0     0
54     STA  2021        4    1     2     0
55     ASK  2021        4    1     0     0
56     RJH  2021        4    1     2     0
57     SGP  2021        4    1     0     0
58   STARK  2021        4    1     0     0
59     RCL  2021        4    1     0     0
60   EASTW  2021        4    1     1     0
61     BLA  2021        4    1     0     0
62   VIBHA  2021        4    1     0     0
63   SUPER  2021        4    1     0     0
64     HFT  2021        4    1     0     0
65    COM7  2021        4    1     1     0
66  AIMIRT  2021        4    1     0     0
67    SIRI  2021        4    1     4     0
68    LHFG  2021        3    0     1     0
69  GVREIT  2021        3    0     2     0
70    STGT  2021        4    0     0     3
71     TMT  2021        4    0     1     0
72     KGI  2021        4    0     1     0
73     VNT  2021        4    0     1     0
74   FORTH  2021        4    0     0     1
75     BAY  2022        1    0     2     0
76   COTTO  2022        1    0     1     0
77     MST  2022        1    0     1     0

### Delete Profits records by Name

In [39]:
sql = '''
SELECT * 
FROM profits
ORDER BY name, year, quarter'''
profits = pd.read_sql(sql, conlt)
profits.shape

(84, 23)

In [40]:
names = '''
'''.split()
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

''

In [41]:
sql = '''
DELETE FROM profits
WHERE name IN (%s)'''
sql = sql % in_p
print(sql)

DELETE FROM profits
WHERE name IN ()

In [42]:
rp = conlt.execute(sql)
rp.rowcount

0

### Delete profits by year

In [43]:
sql = '''
DELETE FROM profits
WHERE year = 2020'''
#sql = sql % in_p
print(sql)

DELETE FROM profits
WHERE year = 2020

In [44]:
#rp = conlt.execute(sql)
rp.rowcount

0

### End of Delete profits by year