In [1]:
import pandas as pd
from sqlalchemy import create_engine
from glob import glob

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

In [2]:
year = 2021
quarter = 4
year, quarter

(2021, 4)

In [3]:
format_dict = {
    'q_amt':'{:,}','y_amt': '{:,}',   
    'aq_amt':'{:,}','ay_amt':'{:,}','yoy_gain':'{:,}','acc_gain':'{:,}', 
    'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}', 
    'daily_volume':'{:.2f}','beta':'{:.2f}',
    'publish_date':'{:%Y-%m-%d}',    
}

### Classify performance after input all EPS

In [4]:
sql = """
SELECT name, q_amt, y_amt, aq_amt, ay_amt
FROM epss
WHERE year = %s AND quarter = %s
ORDER BY name
"""
sql = sql % (year, quarter)
epss = pd.read_sql(sql, conlt)
epss.shape

(323, 5)

### Merge with stocks to get market information

In [5]:
sql = '''
SELECT name, price, market, daily_volume, beta
FROM stocks
'''
stocks = pd.read_sql(sql, conlt)
stocks.shape

(339, 5)

In [6]:
df_merge1 = pd.merge(epss, stocks, on='name', how='inner')
df_merge1.shape

(323, 9)

In [7]:
set50 = df_merge1.market.str.contains('SET50')
set100 = df_merge1.market.str.contains('SET100')
mai = df_merge1.market.str.contains('mai')
set = ~(set50 | set100 | mai)

### Exclude SET50 & SET100 from exempts file

In [8]:
cdd1 = df_merge1[~(set50 | set100)].copy()
cdd1.shape

(227, 9)

In [9]:
def grade(vals):
    qc, qp, aqc, aqp = vals
    if (aqc < 400_000) & (aqp < 400_000):
            return 1
    else:
            return 4

In [10]:
cdd1['grade'] = 0
cdd1.shape

(227, 10)

In [11]:
cdd1["grade"] = cdd1[["q_amt", "y_amt","aq_amt", "ay_amt"]].apply(grade, axis=1)
cdd1.shape[0]

227

In [12]:
pd.set_option('display.max_rows',None)
mask_grade_1 = ( cdd1["grade"] == 1)
cdd2 = cdd1[mask_grade_1].copy()
cdd2

,name,q_amt,y_amt,aq_amt,ay_amt,price,market,daily_volume,beta,grade
1,AAV,-992745,-1114449,-6647486,-4764092,2.94,sSET / SETTHSI,52.80,1.65,1
10,AKR,34225,68295,89892,98443,1.02,SET,28.60,0.94,1
12,AMANAH,76563,77090,307164,290708,6.20,sSET,49.22,1.65,1
13,AMARIN,98438,152540,313113,170669,6.35,SET,0.26,0.18,1
16,ANAN,-220012,-74397,-457342,-206577,1.26,sSET,25.30,1.49,1
19,APCS,1822,47018,210608,14072,5.85,sSET,21.16,0.90,1
20,APURE,53033,110363,297224,319617,6.20,sSET,21.60,0.83,1
21,ARROW,4314,32685,128738,168984,8.25,mai,0.59,0.37,1
28,BA,-141403,-400693,-8549862,-5283182,11.50,SETWB,55.28,1.67,1
37,BEAUTY,-8440,18911,-80768,-104882,1.50,SET,20.24,1.54,1
49,BRR,16754,-52136,129311,6137,5.05,sSET,1.22,1.00,1
50,BSBM,5562,18711,72120,84018,1.36,SET,2.61,1.24,1
52,CCET,-291983,-38399,272953,209607,2.62,sSET,18.12,1.24,1
55,CHAYO,48584,36356,218999,155354,12.60,SET,88.06,1.67,1
64,CPI,56762,82548,292263,159055,3.80,SET,45.57,0.60,1
71,CSS,162433,1770,246089,92701,2.28,SET,51.86,1.26,1
72,CWT,39577,75595,172152,117031,3.84,SET,136.20,1.05,1
74,DCON,44421,39330,116751,92434,0.49,SET,8.78,1.38,1
75,DDD,104684,203857,81319,169253,16.10,sSET,4.78,1.34,1
77,DEMCO,70119,60515,100864,55201,3.48,sSET,37.31,1.50,1
82,DUSIT,-391412,-133464,-994997,-1011135,9.90,SET,0.83,0.39,1
85,ECL,72500,27029,194013,61679,2.68,SET,70.01,1.54,1
88,EKH,89573,45180,344830,72104,8.20,sSET,50.30,0.27,1
89,EMC,-117168,32308,-85707,58933,0.22,SET,10.76,0.94,1
92,FPI,140784,35278,328979,27181,3.08,mai,16.69,0.81,1
94,FSS,72555,32735,300127,82420,5.50,SET,92.39,1.85,1
95,GBX,34266,26271,137827,43206,1.40,SET,59.45,0.78,1
96,GC,40341,44700,189129,136044,6.35,SET,2.90,1.00,1
101,GPI,-45602,-34630,30794,34092,1.81,SET,5.59,1.32,1
112,HTECH,32646,14505,135282,52991,4.70,SET,11.70,1.38,1
113,HUMAN,42235,44421,169822,165754,12.10,sSET,112.20,0.85,1
114,ICC,163925,40750,121544,-52359,29.75,SET,0.10,0.08,1
116,IFS,43742,34369,152824,133616,3.12,SET,6.06,0.79,1
117,IHL,35908,9400,140742,-44306,3.78,SET,1.95,1.20,1
118,III,113904,48290,377341,162491,14.80,sSET,163.20,1.31,1
119,ILINK,117947,11095,353108,195892,10.30,sSET,55.53,1.96,1
122,INET,35767,-57681,162886,10242,7.05,SET,95.32,1.47,1
124,INSET,39694,33290,170539,135491,5.40,SET,81.36,0.00,1
126,IP,36063,3285,105216,52537,19.90,mai,22.77,0.55,1
127,IRC,29268,81559,340031,219063,14.90,SET,2.82,0.40,1
130,J,112165,8781,161440,56437,5.04,SET,65.39,1.55,1
131,JAS,45098,-935370,-1500704,-3134017,3.62,SET,587.00,1.22,1
135,JTS,70596,16021,221042,44166,586.00,SET,413983.98,400.40,1
136,JUBILE,106939,87966,225248,266789,23.70,mai,2.31,0.33,1
138,KAMART,61062,38353,292873,132824,5.25,sSET,45.55,0.79,1
150,LHHOTEL,-108174,-62609,-437024,-484970,9.10,SET,2.10,0.66,1
151,LIT,-96866,19364,-95493,71241,2.44,mai,14.21,1.14,1
159,MBAX,37357,15743,62408,176063,5.15,mai,2.83,0.62,1
164,MFC,54872,47626,306149,148103,28.75,SET,3.24,0.15,1
165,MFEC,101504,117029,256988,244622,10.10,sSET,57.04,1.37,1
167,MSC,56754,21943,197286,155795,9.40,SET,24.02,0.73,1
171,NCH,80319,47355,251932,115278,1.87,SET,34.51,1.41,1
175,NRF,135179,35176,220784,124391,7.30,SET,60.10,1.48,1
176,NYT,61070,90711,242643,228568,4.80,sSET / SETTHSI,15.94,1.33,1
184,PDG,12597,21202,55242,98255,3.82,mai,0.78,0.37,1
185,PDJ,58771,2335,138168,-95103,3.12,SET,22.58,1.26,1
187,PL,34063,23691,120133,76061,2.80,SET,1.36,0.66,1
189,PLE,146182,-215824,153247,-436363,0.80,SET,2.27,1.58,1
191,PR9,115897,81161,249169,202055,13.40,sSET / SETTHSI,23.20,0.28,1
192,PREB,86023,56540,241622,165666,9.00,SET,1.21,0.55,1
205,RICHY,-4944,42995,202089,101516,1.18,SET,29.44,0.85,1
210,RSP,32897,27512,29569,4288,2.64,SET,12.57,1.57,1
211,S,96657,53928,373167,275907,2.00,sSET / SETTHSI,9.09,1.25,1
212,S & J,96657,53928,373167,275907,2.00,sSET / SETTHSI,9.09,1.25,1
214,SABUY,76782,31796,213605,102058,27.50,SET,389.10,1.69,1
215,SAMTEL,-12767,-82134,61385,-287504,6.90,sSET,17.78,1.01,1
227,SFLEX,28831,40378,149415,142805,4.50,sSET,22.93,0.49,1
229,SHANG,-181329,-814592,-492810,-983114,55.50,SET,0.26,0.31,1
233,SISB,26589,68077,208753,159933,14.10,sSET,31.83,0.44,1
236,SMART,9410,15798,39869,45807,0.90,mai,6.42,0.77,1
238,SMT,46018,32286,209703,81388,5.05,sSET,25.47,1.39,1
240,SNP,122433,106977,340020,183025,16.50,SET,0.30,0.30,1
248,SQ,41962,71590,350752,240988,2.08,SET,10.66,1.44,1
249,SRICHA,-4860,68787,341517,142245,13.20,sSET,7.44,0.95,1
251,SSSC,59886,34282,235057,75433,3.26,SET,0.71,0.65,1
259,SUSCO,18939,99121,233527,217655,3.30,sSET,15.36,0.62,1
262,SVOA,57645,69369,159907,138879,3.96,SET,255.74,1.82,1
264,TACC,57838,51244,214239,188380,7.45,mai,13.30,0.52,1
274,THREL,12543,48809,98496,121435,6.10,SET,80.25,0.96,1
280,TKN,84430,-20871,182125,242621,8.05,sSET,67.86,1.64,1
283,TNITY,76401,137550,250144,130447,10.80,SET,59.49,1.12,1
284,TNPC,10308,68079,86348,2319,3.50,SET,29.38,0.80,1
285,TNR,-584288,43177,-464842,111431,7.80,sSET,0.66,0.36,1
287,TOG,76237,63057,310121,68781,9.95,sSET,16.76,1.63,1
292,TQR,-27,5438,97483,74055,12.70,mai,3.94,0.73,1
298,TTCL,130537,-40708,289131,128660,4.82,SET,65.09,1.84,1
299,TTLPF,52121,70061,280884,246627,23.00,SET,0.16,0.07,1
304,TYCN,-158531,-98128,376960,-321049,3.54,SET,2.06,0.27,1
305,U,899292,-3839757,88157,-6610751,1.75,SET,162.06,1.33,1
306,UAC,54586,107625,246813,271172,6.15,sSET,32.79,0.93,1
307,UOBKH,75630,53508,381045,239646,4.98,SET,5.53,0.40,1
308,UPOIC,110160,76403,306814,125099,7.70,SET,1.26,0.42,1
315,WACOAL,-21449,-144923,-144441,-314884,34.50,SET,0.02,0.01,1
320,WIIK,11355,30899,91417,109342,2.16,SET,3.06,1.14,1
321,WORK,-17462,34949,324206,159114,29.25,SET,83.59,1.10,1
322,YUASA,24367,59198,97682,158177,14.90,mai,0.84,0.30,1

In [13]:
#cdd2.drop(index = [126,184,299], inplace=True)
cdd2.shape[0]

96

In [14]:
mask_grade_4 = cdd1["grade"] == 4
cdd3 = cdd1[mask_grade_4].copy()
cdd3.shape

(131, 10)

In [15]:
sql = """
SELECT name, price, buy, hold, sell, yield, target_price
FROM consensus"""
consensus = pd.read_sql(sql, conlt)
consensus.shape

(288, 7)

In [16]:
df_merge2 = pd.merge(cdd3, consensus, on='name', how='outer', indicator=True)
df_merge2.shape

(315, 17)

In [17]:
cdd4 = df_merge2[df_merge2['_merge'] == 'left_only'].copy()
cdd4

,name,q_amt,y_amt,aq_amt,ay_amt,price_x,market,daily_volume,beta,grade,price_y,buy,hold,sell,yield,target_price,_merge
0,2S,50123.0,100904.0,737515.0,410165.0,5.35,SET,6.17,0.85,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,AMC,194713.0,63424.0,940346.0,133051.0,5.40,SET,22.51,1.27,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,AYUD,68095.0,171011.0,1230029.0,631114.0,44.75,SET,1.44,0.29,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,BEYOND,569204.0,-17950.0,877732.0,80435.0,12.90,SET,13.42,1.42,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,CGH,145310.0,34575.0,764749.0,142178.0,1.29,sSET,214.24,1.80,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,CIMBT,732405.0,-176949.0,2440555.0,1290582.0,0.87,SET,34.16,1.45,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,CPNCG,165405.0,122343.0,445551.0,501658.0,12.20,SET,2.92,0.46,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,CSP,66476.0,66591.0,438266.0,84304.0,2.64,SET,7.42,1.42,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
36,GLAND,119384.0,57062.0,573818.0,715949.0,2.22,SET,0.64,0.65,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
56,LST,524775.0,154817.0,558631.0,383022.0,6.35,sSET,7.51,0.51,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
61,MDX,63074.0,41774.0,403893.0,148855.0,5.35,SET,10.16,1.44,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
63,MTI,141490.0,90549.0,767446.0,590903.0,109.50,sSET,3.90,0.16,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
65,NNCL,70281.0,77529.0,439413.0,352405.0,2.38,sSET,2.24,0.73,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
69,PB,411763.0,395329.0,1687674.0,1678665.0,68.00,SET,0.42,0.06,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
71,PERM,137438.0,61997.0,528495.0,28222.0,2.38,SET,13.09,1.29,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
72,POPF,111883.0,115712.0,365609.0,574682.0,11.80,SET,4.47,0.27,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
73,PRG,185687.0,194082.0,416405.0,405187.0,11.00,SET,0.05,0.28,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
79,RPC,-37853.0,62273.0,695954.0,44333.0,1.52,SET,52.25,2.29,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
83,SAUCE,162929.0,155284.0,618928.0,543413.0,31.25,SET,0.77,0.29,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
96,SPG,77986.0,100997.0,460034.0,372859.0,17.90,SET,0.04,0.36,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
97,SPI,988909.0,599367.0,3500560.0,2305575.0,63.50,SET,0.36,-0.07,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
100,SUC,94538.0,400700.0,601249.0,845090.0,31.25,SET,1.84,0.44,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
102,SVH,413724.0,344231.0,1491290.0,1447400.0,412.00,SET,0.71,0.16,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
104,TCCC,140966.0,111192.0,1578674.0,1472325.0,35.25,SET,1.62,0.18,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
108,THE,269667.0,27536.0,1131014.0,-130572.0,2.50,SET,8.64,1.17,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
123,UVAN,123502.0,-2626.0,839271.0,329118.0,8.40,sSET,16.94,0.91,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
125,VIH,61019.0,66257.0,1255182.0,186278.0,10.20,sSET,15.41,-0.16,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [18]:
#cdd3.drop(index = [22,71], inplace=True)
cdd4.shape[0]

27

### Combine dataframes

In [19]:
frames = [cdd2, cdd4]
cdd = pd.concat(frames, sort=False)
cdd_final = cdd.sort_values(['name'],ascending=[True])
cdd_final.style.format(format_dict)

In [20]:
sr = cdd_final['name']
sr

0           2S
1          AAV
10         AKR
12      AMANAH
13      AMARIN
7          AMC
16        ANAN
19        APCS
20       APURE
21       ARROW
12        AYUD
28          BA
37      BEAUTY
14      BEYOND
49         BRR
50        BSBM
52        CCET
19         CGH
55       CHAYO
20       CIMBT
64         CPI
22       CPNCG
25         CSP
71         CSS
72         CWT
74        DCON
75         DDD
77       DEMCO
82       DUSIT
85         ECL
88         EKH
89         EMC
92         FPI
94         FSS
95         GBX
96          GC
36       GLAND
101        GPI
112      HTECH
113      HUMAN
114        ICC
116        IFS
117        IHL
118        III
119      ILINK
122       INET
124      INSET
126         IP
127        IRC
130          J
131        JAS
135        JTS
136     JUBILE
138     KAMART
150    LHHOTEL
151        LIT
56         LST
159       MBAX
61         MDX
164        MFC
165       MFEC
167        MSC
63         MTI
171        NCH
65        NNCL
175        NRF
176        NYT
69          PB
184        PDG
185        PDJ
71        PERM
187         PL
189        PLE
72        POPF
191        PR9
192       PREB
73         PRG
205      RICHY
79         RPC
210        RSP
211          S
212      S & J
214      SABUY
215     SAMTEL
83       SAUCE
227      SFLEX
229      SHANG
233       SISB
236      SMART
238        SMT
240        SNP
96         SPG
97         SPI
248         SQ
249     SRICHA
251       SSSC
100        SUC
259      SUSCO
102        SVH
262       SVOA
264       TACC
104       TCCC
108        THE
274      THREL
280        TKN
283      TNITY
284       TNPC
285        TNR
287        TOG
292        TQR
298       TTCL
299      TTLPF
304       TYCN
305          U
306        UAC
307      UOBKH
308      UPOIC
123       UVAN
125        VIH
315     WACOAL
320       WIIK
321       WORK
322      YUASA
Name: name, dtype: object

In [21]:
file_name = 'new-exempts-q4.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

In [22]:
sr.to_csv(output_file,index=False)
sr.to_csv(box_file,index=False)
sr.to_csv(data_file,index=False)
sr.to_csv(one_file,index=False)

### Backup exempts before insert new records

In [23]:
sql = '''
SELECT name
FROM exempts
ORDER BY name'''
exempts = pd.read_sql(sql, conlt)
exempts.tail()

      name
294    WPH
295     XO
296    ZEN
297   ZIGA
298  ZMICO

In [24]:
file_name = 'exempts-21q4.csv'
data_file = data_path + file_name
data_file

'../data/exempts-21q4.csv'

In [25]:
exempts.to_csv(data_file, index=False, header=False)

### End of Backup exempts before insert new records

### Check whether record already existed

In [26]:
cdd_final.drop(columns=['_merge'],inplace=True)

In [27]:
df_merge3 = pd.merge(cdd_final, exempts, on='name', how='outer', indicator=True)

In [28]:
df_merge4 = df_merge3[df_merge3['_merge'] == 'left_only']
df_merge4.shape

(123, 18)

### Check with buys table in Portfolio database

In [29]:
sql = '''
SELECT DISTINCT name 
FROM buys B
JOIN stocks S
ON B.stock_id = S.id
ORDER BY name'''
buys = pd.read_sql(sql, conpf)
buys.shape

(139, 1)

In [30]:
df_merge5 = df_merge4.drop('_merge', 1)
df_merge5.shape

C:\Users\User\AppData\Local\Temp/ipykernel_6784/3862403698.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_merge5 = df_merge4.drop('_merge', 1)

(123, 17)

In [31]:
df_merge6 = pd.merge(df_merge5, buys, on='name', how='outer', indicator=True)
final2 = df_merge6[df_merge6['_merge'] == 'left_only']
final2.shape

(106, 18)

In [32]:
#df_merge2 = pd.merge(df_merge1, buys, on='name', how='outer', indicator=True)
df_tmp = df_merge6[df_merge6['_merge'] == 'both']
df_tmp

,name,q_amt,y_amt,aq_amt,ay_amt,price,market,daily_volume,beta,grade,price_x,price_y,buy,hold,sell,yield,target_price,_merge
6,ANAN,-220012.0,-74397.0,-457342.0,-206577.0,1.26,sSET,25.30,1.49,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
11,BA,-141403.0,-400693.0,-8549862.0,-5283182.0,11.50,SETWB,55.28,1.67,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
12,BEAUTY,-8440.0,18911.0,-80768.0,-104882.0,1.50,SET,20.24,1.54,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
21,CPNCG,165405.0,122343.0,445551.0,501658.0,NaN,SET,2.92,0.46,4.0,12.2,NaN,NaN,NaN,NaN,NaN,NaN,both
25,DCON,44421.0,39330.0,116751.0,92434.0,0.49,SET,8.78,1.38,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
29,ECL,72500.0,27029.0,194013.0,61679.0,2.68,SET,70.01,1.54,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
35,GC,40341.0,44700.0,189129.0,136044.0,6.35,SET,2.90,1.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
47,IP,36063.0,3285.0,105216.0,52537.0,19.90,mai,22.77,0.55,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
55,LIT,-96866.0,19364.0,-95493.0,71241.0,2.44,mai,14.21,1.14,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
57,MBAX,37357.0,15743.0,62408.0,176063.0,5.15,mai,2.83,0.62,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
68,PDG,12597.0,21202.0,55242.0,98255.0,3.82,mai,0.78,0.37,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
73,POPF,111883.0,115712.0,365609.0,574682.0,NaN,SET,4.47,0.27,4.0,11.8,NaN,NaN,NaN,NaN,NaN,NaN,both
75,PREB,86023.0,56540.0,241622.0,165666.0,9.00,SET,1.21,0.55,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
104,TKN,84430.0,-20871.0,182125.0,242621.0,8.05,sSET,67.86,1.64,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
111,TTLPF,52121.0,70061.0,280884.0,246627.0,23.00,SET,0.16,0.07,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
112,TYCN,-158531.0,-98128.0,376960.0,-321049.0,3.54,SET,2.06,0.27,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
121,WORK,-17462.0,34949.0,324206.0,159114.0,29.25,SET,83.59,1.10,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both

### Should delete above records from exempt candidates as there are historical transactions

In [33]:
final2

,name,q_amt,y_amt,aq_amt,ay_amt,price,market,daily_volume,beta,grade,price_x,price_y,buy,hold,sell,yield,target_price,_merge
0,2S,50123.0,100904.0,737515.0,410165.0,NaN,SET,6.17,0.85,4.0,5.35,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,AAV,-992745.0,-1114449.0,-6647486.0,-4764092.0,2.94,sSET / SETTHSI,52.80,1.65,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,AKR,34225.0,68295.0,89892.0,98443.0,1.02,SET,28.60,0.94,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,AMANAH,76563.0,77090.0,307164.0,290708.0,6.20,sSET,49.22,1.65,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,AMARIN,98438.0,152540.0,313113.0,170669.0,6.35,SET,0.26,0.18,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,AMC,194713.0,63424.0,940346.0,133051.0,NaN,SET,22.51,1.27,4.0,5.40,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,APCS,1822.0,47018.0,210608.0,14072.0,5.85,sSET,21.16,0.90,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,APURE,53033.0,110363.0,297224.0,319617.0,6.20,sSET,21.60,0.83,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,ARROW,4314.0,32685.0,128738.0,168984.0,8.25,mai,0.59,0.37,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,AYUD,68095.0,171011.0,1230029.0,631114.0,NaN,SET,1.44,0.29,4.0,44.75,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,BEYOND,569204.0,-17950.0,877732.0,80435.0,NaN,SET,13.42,1.42,4.0,12.90,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,BRR,16754.0,-52136.0,129311.0,6137.0,5.05,sSET,1.22,1.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
15,BSBM,5562.0,18711.0,72120.0,84018.0,1.36,SET,2.61,1.24,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
16,CCET,-291983.0,-38399.0,272953.0,209607.0,2.62,sSET,18.12,1.24,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,CGH,145310.0,34575.0,764749.0,142178.0,NaN,sSET,214.24,1.80,4.0,1.29,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,CHAYO,48584.0,36356.0,218999.0,155354.0,12.60,SET,88.06,1.67,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,CIMBT,732405.0,-176949.0,2440555.0,1290582.0,NaN,SET,34.16,1.45,4.0,0.87,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,CPI,56762.0,82548.0,292263.0,159055.0,3.80,SET,45.57,0.60,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,CSP,66476.0,66591.0,438266.0,84304.0,NaN,SET,7.42,1.42,4.0,2.64,NaN,NaN,NaN,NaN,NaN,NaN,left_only
23,CSS,162433.0,1770.0,246089.0,92701.0,2.28,SET,51.86,1.26,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,CWT,39577.0,75595.0,172152.0,117031.0,3.84,SET,136.20,1.05,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,DDD,104684.0,203857.0,81319.0,169253.0,16.10,sSET,4.78,1.34,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,DEMCO,70119.0,60515.0,100864.0,55201.0,3.48,sSET,37.31,1.50,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
28,DUSIT,-391412.0,-133464.0,-994997.0,-1011135.0,9.90,SET,0.83,0.39,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,EKH,89573.0,45180.0,344830.0,72104.0,8.20,sSET,50.30,0.27,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
31,EMC,-117168.0,32308.0,-85707.0,58933.0,0.22,SET,10.76,0.94,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
32,FPI,140784.0,35278.0,328979.0,27181.0,3.08,mai,16.69,0.81,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
33,FSS,72555.0,32735.0,300127.0,82420.0,5.50,SET,92.39,1.85,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
34,GBX,34266.0,26271.0,137827.0,43206.0,1.40,SET,59.45,0.78,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
36,GLAND,119384.0,57062.0,573818.0,715949.0,NaN,SET,0.64,0.65,4.0,2.22,NaN,NaN,NaN,NaN,NaN,NaN,left_only
37,GPI,-45602.0,-34630.0,30794.0,34092.0,1.81,SET,5.59,1.32,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
38,HTECH,32646.0,14505.0,135282.0,52991.0,4.70,SET,11.70,1.38,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
39,HUMAN,42235.0,44421.0,169822.0,165754.0,12.10,sSET,112.20,0.85,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
40,ICC,163925.0,40750.0,121544.0,-52359.0,29.75,SET,0.10,0.08,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
41,IFS,43742.0,34369.0,152824.0,133616.0,3.12,SET,6.06,0.79,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
42,IHL,35908.0,9400.0,140742.0,-44306.0,3.78,SET,1.95,1.20,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
43,III,113904.0,48290.0,377341.0,162491.0,14.80,sSET,163.20,1.31,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
44,ILINK,117947.0,11095.0,353108.0,195892.0,10.30,sSET,55.53,1.96,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
45,INET,35767.0,-57681.0,162886.0,10242.0,7.05,SET,95.32,1.47,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46,INSET,39694.0,33290.0,170539.0,135491.0,5.40,SET,81.36,0.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
48,IRC,29268.0,81559.0,340031.0,219063.0,14.90,SET,2.82,0.40,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
49,J,112165.0,8781.0,161440.0,56437.0,5.04,SET,65.39,1.55,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
50,JAS,45098.0,-935370.0,-1500704.0,-3134017.0,3.62,SET,587.00,1.22,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
51,JTS,70596.0,16021.0,221042.0,44166.0,586.00,SET,413983.98,400.40,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
52,JUBILE,106939.0,87966.0,225248.0,266789.0,23.70,mai,2.31,0.33,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
53,KAMART,61062.0,38353.0,292873.0,132824.0,5.25,sSET,45.55,0.79,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
54,LHHOTEL,-108174.0,-62609.0,-437024.0,-484970.0,9.10,SET,2.10,0.66,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
56,LST,524775.0,154817.0,558631.0,383022.0,NaN,sSET,7.51,0.51,4.0,6.35,NaN,NaN,NaN,NaN,NaN,NaN,left_only
58,MDX,63074.0,41774.0,403893.0,148855.0,NaN,SET,10.16,1.44,4.0,5.35,NaN,NaN,NaN,NaN,NaN,NaN,left_only
59,MFC,54872.0,47626.0,306149.0,148103.0,28.75,SET,3.24,0.15,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
60,MFEC,101504.0,117029.0,256988.0,244622.0,10.10,sSET,57.04,1.37,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
61,MSC,56754.0,21943.0,197286.0,155795.0,9.40,SET,24.02,0.73,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
62,MTI,141490.0,90549.0,767446.0,590903.0,NaN,sSET,3.90,0.16,4.0,109.50,NaN,NaN,NaN,NaN,NaN,NaN,left_only
63,NCH,80319.0,47355.0,251932.0,115278.0,1.87,SET,34.51,1.41,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
64,NNCL,70281.0,77529.0,439413.0,352405.0,NaN,sSET,2.24,0.73,4.0,2.38,NaN,NaN,NaN,NaN,NaN,NaN,left_only
65,NRF,135179.0,35176.0,220784.0,124391.0,7.30,SET,60.10,1.48,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
66,NYT,61070.0,90711.0,242643.0,228568.0,4.80,sSET / SETTHSI,15.94,1.33,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
67,PB,411763.0,395329.0,1687674.0,1678665.0,NaN,SET,0.42,0.06,4.0,68.00,NaN,NaN,NaN,NaN,NaN,NaN,left_only
69,PDJ,58771.0,2335.0,138168.0,-95103.0,3.12,SET,22.58,1.26,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
70,PERM,137438.0,61997.0,528495.0,28222.0,NaN,SET,13.09,1.29,4.0,2.38,NaN,NaN,NaN,NaN,NaN,NaN,left_only
71,PL,34063.0,23691.0,120133.0,76061.0,2.80,SET,1.36,0.66,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
72,PLE,146182.0,-215824.0,153247.0,-436363.0,0.80,SET,2.27,1.58,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
74,PR9,115897.0,81161.0,249169.0,202055.0,13.40,sSET / SETTHSI,23.20,0.28,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
76,PRG,185687.0,194082.0,416405.0,405187.0,NaN,SET,0.05,0.28,4.0,11.00,NaN,NaN,NaN,NaN,NaN,NaN,left_only
77,RICHY,-4944.0,42995.0,202089.0,101516.0,1.18,SET,29.44,0.85,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
78,RPC,-37853.0,62273.0,695954.0,44333.0,NaN,SET,52.25,2.29,4.0,1.52,NaN,NaN,NaN,NaN,NaN,NaN,left_only
79,RSP,32897.0,27512.0,29569.0,4288.0,2.64,SET,12.57,1.57,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
80,S,96657.0,53928.0,373167.0,275907.0,2.00,sSET / SETTHSI,9.09,1.25,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
81,S & J,96657.0,53928.0,373167.0,275907.0,2.00,sSET / SETTHSI,9.09,1.25,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
82,SABUY,76782.0,31796.0,213605.0,102058.0,27.50,SET,389.10,1.69,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
83,SAMTEL,-12767.0,-82134.0,61385.0,-287504.0,6.90,sSET,17.78,1.01,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
84,SAUCE,162929.0,155284.0,618928.0,543413.0,NaN,SET,0.77,0.29,4.0,31.25,NaN,NaN,NaN,NaN,NaN,NaN,left_only
85,SFLEX,28831.0,40378.0,149415.0,142805.0,4.50,sSET,22.93,0.49,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
86,SHANG,-181329.0,-814592.0,-492810.0,-983114.0,55.50,SET,0.26,0.31,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
87,SISB,26589.0,68077.0,208753.0,159933.0,14.10,sSET,31.83,0.44,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
88,SMART,9410.0,15798.0,39869.0,45807.0,0.90,mai,6.42,0.77,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
89,SMT,46018.0,32286.0,209703.0,81388.0,5.05,sSET,25.47,1.39,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
90,SNP,122433.0,106977.0,340020.0,183025.0,16.50,SET,0.30,0.30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
91,SPG,77986.0,100997.0,460034.0,372859.0,NaN,SET,0.04,0.36,4.0,17.90,NaN,NaN,NaN,NaN,NaN,NaN,left_only
92,SPI,988909.0,599367.0,3500560.0,2305575.0,NaN,SET,0.36,-0.07,4.0,63.50,NaN,NaN,NaN,NaN,NaN,NaN,left_only
93,SQ,41962.0,71590.0,350752.0,240988.0,2.08,SET,10.66,1.44,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
94,SRICHA,-4860.0,68787.0,341517.0,142245.0,13.20,sSET,7.44,0.95,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
95,SSSC,59886.0,34282.0,235057.0,75433.0,3.26,SET,0.71,0.65,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
96,SUC,94538.0,400700.0,601249.0,845090.0,NaN,SET,1.84,0.44,4.0,31.25,NaN,NaN,NaN,NaN,NaN,NaN,left_only
97,SUSCO,18939.0,99121.0,233527.0,217655.0,3.30,sSET,15.36,0.62,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
98,SVH,413724.0,344231.0,1491290.0,1447400.0,NaN,SET,0.71,0.16,4.0,412.00,NaN,NaN,NaN,NaN,NaN,NaN,left_only
99,SVOA,57645.0,69369.0,159907.0,138879.0,3.96,SET,255.74,1.82,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
100,TACC,57838.0,51244.0,214239.0,188380.0,7.45,mai,13.30,0.52,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
101,TCCC,140966.0,111192.0,1578674.0,1472325.0,NaN,SET,1.62,0.18,4.0,35.25,NaN,NaN,NaN,NaN,NaN,NaN,left_only
102,THE,269667.0,27536.0,1131014.0,-130572.0,NaN,SET,8.64,1.17,4.0,2.50,NaN,NaN,NaN,NaN,NaN,NaN,left_only
103,THREL,12543.0,48809.0,98496.0,121435.0,6.10,SET,80.25,0.96,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
105,TNITY,76401.0,137550.0,250144.0,130447.0,10.80,SET,59.49,1.12,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
106,TNPC,10308.0,68079.0,86348.0,2319.0,3.50,SET,29.38,0.80,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
107,TNR,-584288.0,43177.0,-464842.0,111431.0,7.80,sSET,0.66,0.36,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
108,TOG,76237.0,63057.0,310121.0,68781.0,9.95,sSET,16.76,1.63,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
109,TQR,-27.0,5438.0,97483.0,74055.0,12.70,mai,3.94,0.73,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
110,TTCL,130537.0,-40708.0,289131.0,128660.0,4.82,SET,65.09,1.84,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
113,U,899292.0,-3839757.0,88157.0,-6610751.0,1.75,SET,162.06,1.33,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
114,UAC,54586.0,107625.0,246813.0,271172.0,6.15,sSET,32.79,0.93,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
115,UOBKH,75630.0,53508.0,381045.0,239646.0,4.98,SET,5.53,0.40,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
116,UPOIC,110160.0,76403.0,306814.0,125099.0,7.70,SET,1.26,0.42,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
117,UVAN,123502.0,-2626.0,839271.0,329118.0,NaN,sSET,16.94,0.91,4.0,8.40,NaN,NaN,NaN,NaN,NaN,NaN,left_only
118,VIH,61019.0,66257.0,1255182.0,186278.0,NaN,sSET,15.41,-0.16,4.0,10.20,NaN,NaN,NaN,NaN,NaN,NaN,left_only
119,WACOAL,-21449.0,-144923.0,-144441.0,-314884.0,34.50,SET,0.02,0.01,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
120,WIIK,11355.0,30899.0,91417.0,109342.0,2.16,SET,3.06,1.14,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
122,YUASA,24367.0,59198.0,97682.0,158177.0,14.90,mai,0.84,0.30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [37]:
sr_new = final2['name']
sr_new

0           2S
1          AAV
2          AKR
3       AMANAH
4       AMARIN
5          AMC
7         APCS
8        APURE
9        ARROW
10        AYUD
13      BEYOND
14         BRR
15        BSBM
16        CCET
17         CGH
18       CHAYO
19       CIMBT
20         CPI
22         CSP
23         CSS
24         CWT
26         DDD
27       DEMCO
28       DUSIT
30         EKH
31         EMC
32         FPI
33         FSS
34         GBX
36       GLAND
37         GPI
38       HTECH
39       HUMAN
40         ICC
41         IFS
42         IHL
43         III
44       ILINK
45        INET
46       INSET
48         IRC
49           J
50         JAS
51         JTS
52      JUBILE
53      KAMART
54     LHHOTEL
56         LST
58         MDX
59         MFC
60        MFEC
61         MSC
62         MTI
63         NCH
64        NNCL
65         NRF
66         NYT
67          PB
69         PDJ
70        PERM
71          PL
72         PLE
74         PR9
76         PRG
77       RICHY
78         RPC
79         RSP
80           S
81       S & J
82       SABUY
83      SAMTEL
84       SAUCE
85       SFLEX
86       SHANG
87        SISB
88       SMART
89         SMT
90         SNP
91         SPG
92         SPI
93          SQ
94      SRICHA
95        SSSC
96         SUC
97       SUSCO
98         SVH
99        SVOA
100       TACC
101       TCCC
102        THE
103      THREL
105      TNITY
106       TNPC
107        TNR
108        TOG
109        TQR
110       TTCL
113          U
114        UAC
115      UOBKH
116      UPOIC
117       UVAN
118        VIH
119     WACOAL
120       WIIK
122      YUASA
Name: name, dtype: object

In [35]:
file_name = 'new-exempts-q4.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

In [38]:
sr_new.to_csv(output_file,index=False)
sr_new.to_csv(box_file,index=False)
sr_new.to_csv(data_file,index=False)
sr_new.to_csv(one_file,index=False)

In [39]:
sql = '''
SELECT name
FROM exempts
ORDER BY name'''
exempts = pd.read_sql(sql, conlt)
exempts.tail()

      name
294    WPH
295     XO
296    ZEN
297   ZIGA
298  ZMICO

In [41]:
sr_old = exempts['name']
sr_old

0             A
1           ABM
2         ABPIF
3          ACAP
4           ACC
5           ADB
6           AGE
7           AHC
8            AI
9           AKP
10         ALLA
11          ALT
12          AMA
13       AMATAV
14         APCO
15         AQUA
16         ARIP
17         ASAP
18        ASEFA
19         ASIA
20       ASIMAR
21          ASN
22        ATP30
23           AU
24         AUCT
25         BAFS
26          BGT
27          BIG
28          BIZ
29        BJCHI
30          BKD
31           BM
32      BOFFICE
33          BOL
34           BR
35        BROCK
36        BROOK
37          BSM
38         BTNC
39          BTW
40          BWG
41          CCP
42          CEN
43       CFRESH
44          CGD
45       CHARAN
46        CHEWA
47          CHO
48        CHOTI
49         CHOW
50           CI
51          CIG
52         CITY
53           CM
54         CMAN
55          CMC
56          CMO
57          CNT
58        COLOR
59        COMAN
60          CPH
61          CPL
62          CPR
63          CPT
64          CPW
65        CRANE
66          CRD
67          CSC
68          CSR
69          CTW
70        DCORP
71          DOD
72         DTCI
73        EASON
74          ECF
75           EE
76           EP
77          ERW
78        ESTAR
79          ETE
80         EVER
81        FANCY
82           FE
83        FLOYD
84          FMT
85           FN
86          FNS
87     FUTUREPF
88          FVC
89      GAHREIT
90         GCAP
91          GEL
92        GENCO
93         GIFT
94        GRAND
95          GTB
96          GYT
97         HARN
98          HPT
99         IRCP
100          IT
101         ITD
102        ITEL
103         JCT
104         JKN
105         JSP
106       JUTHA
107       KASET
108         KBS
109        KCAR
110         KCM
111         KDH
112        KIAT
113         KKC
114        KOOL
115        KTIS
116         KWC
117         KWG
118         LDC
119         LEE
120        LHPF
121        LHSC
122      LOXLEY
123         LRH
124      M-CHAI
125       MALEE
126       MATCH
127        MATI
128         MAX
129         MBK
130        MCOT
131        META
132         MGT
133        MIDA
134        MILL
135         MIT
136         MJD
137          MK
138          ML
139          MM
140      MODERN
141        MONO
142       MOONG
143         NCL
144         NDR
145      NETBAY
146         NEW
147        NINE
148         NKI
149         NSI
150         NTV
151        NUSA
152         NVD
153         NWR
154       OCEAN
155         OTO
156        PATO
157          PF
158          PG
159        PHOL
160        PICO
161        PIMO
162         PJW
163        PLAT
164          PM
165        PMTA
166        PORT
167         PPM
168         PPP
169         PPS
170      PRECHA
171        PRIN
172       PRINC
173        PSTC
174          PT
175       PYLON
176       Q-CON
177        QHHR
178         QLT
179         QTC
180         RCI
181         RML
182        ROCK
183         ROH
184          RP
185         RPH
186          RT
187         RWI
188      SABINA
189       SALEE
190         SAM
191      SAMART
192       SAMCO
193       SANKO
194      SAWANG
195         SCG
196         SCI
197         SCN
198         SCP
199       SE-ED
200      SEAFCO
201      SEAOIL
202       SELIC
203         SFP
204         SGF
205         SHR
206        SIAM
207       SIMAT
208      SITHAI
209         SKE
210         SLP
211         SMK
212       SOLAR
213       SONIC
214      SORKON
215         SPA
216       SPACK
217        SPVI
218          SR
219         SSC
220         SSF
221         SST
222        STAR
223         STI
224        STPI
225         SUN
226       SUTHA
227         SWC
228        SYMC
229      SYNTEC
230         TAE
231      TAKUNI
232       TAPAC
233         TCC
234         TCJ
235        TCMC
236       TCOAT
237        TEAM
238       TEAMG
239       TGPRO
240          TH
241        THAI
242       THCOM
243       THMUI
244        THRE
245        TIF1
246       TIGER
247       TITLE
248         TKT
249          TM
250         TMC
251         TMD
252         TMI
253       TMILL
254        TNDT
255         TNH
256         TNL
257         TNP
258        TOPP
259        TPBI
260        TPCH
261       TPOLY
262         TPP
263      TPRIME
264         TRC
265       TRITN
266         TRT
267         TRU
268       TRUBB
269         TSC
270         TSR
271        TSTE
272         TVD
273         TVT
274         TWP
275        TWPC
276         TWZ
277        UBIS
278         UEC
279        UKEM
280         UMI
281        UNIQ
282          UP
283         UPA
284         UPF
285       UREKA
286          UV
287         UWC
288        VCOM
289         VPO
290        WAVE
291         WIN
292      WINNER
293          WP
294         WPH
295          XO
296         ZEN
297        ZIGA
298       ZMICO
Name: name, dtype: object

In [44]:
df_exempts = pd.DataFrame(sr_old.append(sr_new, 
                  ignore_index = True),columns=['name'])
ttl_exempts = df_exempts.sort_values('name',ascending=True)
ttl_exempts

         name
299        2S
0           A
300       AAV
1         ABM
2       ABPIF
3        ACAP
4         ACC
5         ADB
6         AGE
7         AHC
8          AI
9         AKP
301       AKR
10       ALLA
11        ALT
12        AMA
302    AMANAH
303    AMARIN
13     AMATAV
304       AMC
14       APCO
305      APCS
306     APURE
15       AQUA
16       ARIP
307     ARROW
17       ASAP
18      ASEFA
19       ASIA
20     ASIMAR
21        ASN
22      ATP30
23         AU
24       AUCT
308      AYUD
25       BAFS
309    BEYOND
26        BGT
27        BIG
28        BIZ
29      BJCHI
30        BKD
31         BM
32    BOFFICE
33        BOL
34         BR
35      BROCK
36      BROOK
310       BRR
311      BSBM
37        BSM
38       BTNC
39        BTW
40        BWG
312      CCET
41        CCP
42        CEN
43     CFRESH
44        CGD
313       CGH
45     CHARAN
314     CHAYO
46      CHEWA
47        CHO
48      CHOTI
49       CHOW
50         CI
51        CIG
315     CIMBT
52       CITY
53         CM
54       CMAN
55        CMC
56        CMO
57        CNT
58      COLOR
59      COMAN
60        CPH
316       CPI
61        CPL
62        CPR
63        CPT
64        CPW
65      CRANE
66        CRD
67        CSC
317       CSP
68        CSR
318       CSS
69        CTW
319       CWT
70      DCORP
320       DDD
321     DEMCO
71        DOD
72       DTCI
322     DUSIT
73      EASON
74        ECF
75         EE
323       EKH
324       EMC
76         EP
77        ERW
78      ESTAR
79        ETE
80       EVER
81      FANCY
82         FE
83      FLOYD
84        FMT
85         FN
86        FNS
325       FPI
326       FSS
87   FUTUREPF
88        FVC
89    GAHREIT
327       GBX
90       GCAP
91        GEL
92      GENCO
93       GIFT
328     GLAND
329       GPI
94      GRAND
95        GTB
96        GYT
97       HARN
98        HPT
330     HTECH
331     HUMAN
332       ICC
333       IFS
334       IHL
335       III
336     ILINK
337      INET
338     INSET
339       IRC
99       IRCP
100        IT
101       ITD
102      ITEL
340         J
341       JAS
103       JCT
104       JKN
105       JSP
342       JTS
343    JUBILE
106     JUTHA
344    KAMART
107     KASET
108       KBS
109      KCAR
110       KCM
111       KDH
112      KIAT
113       KKC
114      KOOL
115      KTIS
116       KWC
117       KWG
118       LDC
119       LEE
345   LHHOTEL
120      LHPF
121      LHSC
122    LOXLEY
123       LRH
346       LST
124    M-CHAI
125     MALEE
126     MATCH
127      MATI
128       MAX
129       MBK
130      MCOT
347       MDX
131      META
348       MFC
349      MFEC
132       MGT
133      MIDA
134      MILL
135       MIT
136       MJD
137        MK
138        ML
139        MM
140    MODERN
141      MONO
142     MOONG
350       MSC
351       MTI
352       NCH
143       NCL
144       NDR
145    NETBAY
146       NEW
147      NINE
148       NKI
353      NNCL
354       NRF
149       NSI
150       NTV
151      NUSA
152       NVD
153       NWR
355       NYT
154     OCEAN
155       OTO
156      PATO
356        PB
357       PDJ
358      PERM
157        PF
158        PG
159      PHOL
160      PICO
161      PIMO
162       PJW
359        PL
163      PLAT
360       PLE
164        PM
165      PMTA
166      PORT
167       PPM
168       PPP
169       PPS
361       PR9
170    PRECHA
362       PRG
171      PRIN
172     PRINC
173      PSTC
174        PT
175     PYLON
176     Q-CON
177      QHHR
178       QLT
179       QTC
180       RCI
363     RICHY
181       RML
182      ROCK
183       ROH
184        RP
364       RPC
185       RPH
365       RSP
186        RT
187       RWI
366         S
367     S & J
188    SABINA
368     SABUY
189     SALEE
190       SAM
191    SAMART
192     SAMCO
369    SAMTEL
193     SANKO
370     SAUCE
194    SAWANG
195       SCG
196       SCI
197       SCN
198       SCP
199     SE-ED
200    SEAFCO
201    SEAOIL
202     SELIC
371     SFLEX
203       SFP
204       SGF
372     SHANG
205       SHR
206      SIAM
207     SIMAT
373      SISB
208    SITHAI
209       SKE
210       SLP
374     SMART
211       SMK
375       SMT
376       SNP
212     SOLAR
213     SONIC
214    SORKON
215       SPA
216     SPACK
377       SPG
378       SPI
217      SPVI
379        SQ
218        SR
380    SRICHA
219       SSC
220       SSF
381      SSSC
221       SST
222      STAR
223       STI
224      STPI
382       SUC
225       SUN
383     SUSCO
226     SUTHA
384       SVH
385      SVOA
227       SWC
228      SYMC
229    SYNTEC
386      TACC
230       TAE
231    TAKUNI
232     TAPAC
233       TCC
387      TCCC
234       TCJ
235      TCMC
236     TCOAT
237      TEAM
238     TEAMG
239     TGPRO
240        TH
241      THAI
242     THCOM
388       THE
243     THMUI
244      THRE
389     THREL
245      TIF1
246     TIGER
247     TITLE
248       TKT
249        TM
250       TMC
251       TMD
252       TMI
253     TMILL
254      TNDT
255       TNH
390     TNITY
256       TNL
257       TNP
391      TNPC
392       TNR
393       TOG
258      TOPP
259      TPBI
260      TPCH
261     TPOLY
262       TPP
263    TPRIME
394       TQR
264       TRC
265     TRITN
266       TRT
267       TRU
268     TRUBB
269       TSC
270       TSR
271      TSTE
395      TTCL
272       TVD
273       TVT
274       TWP
275      TWPC
276       TWZ
396         U
397       UAC
277      UBIS
278       UEC
279      UKEM
280       UMI
281      UNIQ
398     UOBKH
282        UP
283       UPA
284       UPF
399     UPOIC
285     UREKA
286        UV
400      UVAN
287       UWC
288      VCOM
401       VIH
289       VPO
402    WACOAL
290      WAVE
403      WIIK
291       WIN
292    WINNER
293        WP
294       WPH
295        XO
404     YUASA
296       ZEN
297      ZIGA
298     ZMICO

In [45]:
sr = ttl_exempts['name']
file_name = 'exempts.csv'
data_file = data_path + file_name
sr.to_csv(data_file, index=False, header=False)

In [46]:
rcds = sr.values.tolist()
rcds

['2S',
 'A',
 'AAV',
 'ABM',
 'ABPIF',
 'ACAP',
 'ACC',
 'ADB',
 'AGE',
 'AHC',
 'AI',
 'AKP',
 'AKR',
 'ALLA',
 'ALT',
 'AMA',
 'AMANAH',
 'AMARIN',
 'AMATAV',
 'AMC',
 'APCO',
 'APCS',
 'APURE',
 'AQUA',
 'ARIP',
 'ARROW',
 'ASAP',
 'ASEFA',
 'ASIA',
 'ASIMAR',
 'ASN',
 'ATP30',
 'AU',
 'AUCT',
 'AYUD',
 'BAFS',
 'BEYOND',
 'BGT',
 'BIG',
 'BIZ',
 'BJCHI',
 'BKD',
 'BM',
 'BOFFICE',
 'BOL',
 'BR',
 'BROCK',
 'BROOK',
 'BRR',
 'BSBM',
 'BSM',
 'BTNC',
 'BTW',
 'BWG',
 'CCET',
 'CCP',
 'CEN',
 'CFRESH',
 'CGD',
 'CGH',
 'CHARAN',
 'CHAYO',
 'CHEWA',
 'CHO',
 'CHOTI',
 'CHOW',
 'CI',
 'CIG',
 'CIMBT',
 'CITY',
 'CM',
 'CMAN',
 'CMC',
 'CMO',
 'CNT',
 'COLOR',
 'COMAN',
 'CPH',
 'CPI',
 'CPL',
 'CPR',
 'CPT',
 'CPW',
 'CRANE',
 'CRD',
 'CSC',
 'CSP',
 'CSR',
 'CSS',
 'CTW',
 'CWT',
 'DCORP',
 'DDD',
 'DEMCO',
 'DOD',
 'DTCI',
 'DUSIT',
 'EASON',
 'ECF',
 'EE',
 'EKH',
 'EMC',
 'EP',
 'ERW',
 'ESTAR',
 'ETE',
 'EVER',
 'FANCY',
 'FE',
 'FLOYD',
 'FMT',
 'FN',
 'FNS',
 'FPI',
 'FSS',
 'FUTUREPF',
 'FVC',
 'GAHREIT',
 'GBX',
 'GCAP',
 'GEL',
 'GENCO',
 'GIFT',
 'GLAND',
 'GPI',
 'GRAND',
 'GTB',
 'GYT',
 'HARN',
 'HPT',
 'HTECH',
 'HUMAN',
 'ICC',
 'IFS',
 'IHL',
 'III',
 'ILINK',
 'INET',
 'INSET',
 'IRC',
 'IRCP',
 'IT',
 'ITD',
 'ITEL',
 'J',
 'JAS',
 'JCT',
 'JKN',
 'JSP',
 'JTS',
 'JUBILE',
 'JUTHA',
 'KAMART',
 'KASET',
 'KBS',
 'KCAR',
 'KCM',
 'KDH',
 'KIAT',
 'KKC',
 'KOOL',
 'KTIS',
 'KWC',
 'KWG',
 'LDC',
 'LEE',
 'LHHOTEL',
 'LHPF',
 'LHSC',
 'LOXLEY',
 'LRH',
 'LST',
 'M-CHAI',
 'MALEE',
 'MATCH',
 'MATI',
 'MAX',
 'MBK',
 'MCOT',
 'MDX',
 'META',
 'MFC',
 'MFEC',
 'MGT',
 'MIDA',
 'MILL',
 'MIT',
 'MJD',
 'MK',
 'ML',
 'MM',
 'MODERN',
 'MONO',
 'MOONG',
 'MSC',
 'MTI',
 'NCH',
 'NCL',
 'NDR',
 'NETBAY',
 'NEW',
 'NINE',
 'NKI',
 'NNCL',
 'NRF',
 'NSI',
 'NTV',
 'NUSA',
 'NVD',
 'NWR',
 'NYT',
 'OCEAN',
 'OTO',
 'PATO',
 'PB',
 'PDJ',
 'PERM',
 'PF',
 'PG',
 'PHOL',
 'PICO',
 'PIMO',
 'PJW',
 'PL',
 'PLAT',
 'PLE',
 'PM',
 'PMTA',
 'PORT',
 'PPM',
 'PPP',
 'PPS',
 'PR9',
 'PRECHA',
 'PRG',
 'PRIN',
 'PRINC',
 'PSTC',
 'PT',
 'PYLON',
 'Q-CON',
 'QHHR',
 'QLT',
 'QTC',
 'RCI',
 'RICHY',
 'RML',
 'ROCK',
 'ROH',
 'RP',
 'RPC',
 'RPH',
 'RSP',
 'RT',
 'RWI',
 'S',
 'S & J',
 'SABINA',
 'SABUY',
 'SALEE',
 'SAM',
 'SAMART',
 'SAMCO',
 'SAMTEL',
 'SANKO',
 'SAUCE',
 'SAWANG',
 'SCG',
 'SCI',
 'SCN',
 'SCP',
 'SE-ED',
 'SEAFCO',
 'SEAOIL',
 'SELIC',
 'SFLEX',
 'SFP',
 'SGF',
 'SHANG',
 'SHR',
 'SIAM',
 'SIMAT',
 'SISB',
 'SITHAI',
 'SKE',
 'SLP',
 'SMART',
 'SMK',
 'SMT',
 'SNP',
 'SOLAR',
 'SONIC',
 'SORKON',
 'SPA',
 'SPACK',
 'SPG',
 'SPI',
 'SPVI',
 'SQ',
 'SR',
 'SRICHA',
 'SSC',
 'SSF',
 'SSSC',
 'SST',
 'STAR',
 'STI',
 'STPI',
 'SUC',
 'SUN',
 'SUSCO',
 'SUTHA',
 'SVH',
 'SVOA',
 'SWC',
 'SYMC',
 'SYNTEC',
 'TACC',
 'TAE',
 'TAKUNI',
 'TAPAC',
 'TCC',
 'TCCC',
 'TCJ',
 'TCMC',
 'TCOAT',
 'TEAM',
 'TEAMG',
 'TGPRO',
 'TH',
 'THAI',
 'THCOM',
 'THE',
 'THMUI',
 'THRE',
 'THREL',
 'TIF1',
 'TIGER',
 'TITLE',
 'TKT',
 'TM',
 'TMC',
 'TMD',
 'TMI',
 'TMILL',
 'TNDT',
 'TNH',
 'TNITY',
 'TNL',
 'TNP',
 'TNPC',
 'TNR',
 'TOG',
 'TOPP',
 'TPBI',
 'TPCH',
 'TPOLY',
 'TPP',
 'TPRIME',
 'TQR',
 'TRC',
 'TRITN',
 'TRT',
 'TRU',
 'TRUBB',
 'TSC',
 'TSR',
 'TSTE',
 'TTCL',
 'TVD',
 'TVT',
 'TWP',
 'TWPC',
 'TWZ',
 'U',
 'UAC',
 'UBIS',
 'UEC',
 'UKEM',
 'UMI',
 'UNIQ',
 'UOBKH',
 'UP',
 'UPA',
 'UPF',
 'UPOIC',
 'UREKA',
 'UV',
 'UVAN',
 'UWC',
 'VCOM',
 'VIH',
 'VPO',
 'WACOAL',
 'WAVE',
 'WIIK',
 'WIN',
 'WINNER',
 'WP',
 'WPH',
 'XO',
 'YUASA',
 'ZEN',
 'ZIGA',
 'ZMICO']

In [47]:
for rcd in rcds:
    print(rcd)

2S
A
AAV
ABM
ABPIF
ACAP
ACC
ADB
AGE
AHC
AI
AKP
AKR
ALLA
ALT
AMA
AMANAH
AMARIN
AMATAV
AMC
APCO
APCS
APURE
AQUA
ARIP
ARROW
ASAP
ASEFA
ASIA
ASIMAR
ASN
ATP30
AU
AUCT
AYUD
BAFS
BEYOND
BGT
BIG
BIZ
BJCHI
BKD
BM
BOFFICE
BOL
BR
BROCK
BROOK
BRR
BSBM
BSM
BTNC
BTW
BWG
CCET
CCP
CEN
CFRESH
CGD
CGH
CHARAN
CHAYO
CHEWA
CHO
CHOTI
CHOW
CI
CIG
CIMBT
CITY
CM
CMAN
CMC
CMO
CNT
COLOR
COMAN
CPH
CPI
CPL
CPR
CPT
CPW
CRANE
CRD
CSC
CSP
CSR
CSS
CTW
CWT
DCORP
DDD
DEMCO
DOD
DTCI
DUSIT
EASON
ECF
EE
EKH
EMC
EP
ERW
ESTAR
ETE
EVER
FANCY
FE
FLOYD
FMT
FN
FNS
FPI
FSS
FUTUREPF
FVC
GAHREIT
GBX
GCAP
GEL
GENCO
GIFT
GLAND
GPI
GRAND
GTB
GYT
HARN
HPT
HTECH
HUMAN
ICC
IFS
IHL
III
ILINK
INET
INSET
IRC
IRCP
IT
ITD
ITEL
J
JAS
JCT
JKN
JSP
JTS
JUBILE
JUTHA
KAMART
KASET
KBS
KCAR
KCM
KDH
KIAT
KKC
KOOL
KTIS
KWC
KWG
LDC
LEE
LHHOTEL
LHPF
LHSC
LOXLEY
LRH
LST
M-CHAI
MALEE
MATCH
MATI
MAX
MBK
MCOT
MDX
META
MFC
MFEC
MGT
MIDA
MILL
MIT
MJD
MK
ML
MM
MODERN
MONO
MOONG
MSC
MTI
NCH
NCL
NDR
NETBAY
NEW
NINE
NKI
NNCL
NRF
NSI
NTV
NUSA
NVD
NWR
NYT
OCEAN
OTO
PATO
PB
PDJ
PERM
PF
PG
PHOL
PICO
PIMO
PJW
PL
PLAT
PLE
PM
PMTA
PORT
PPM
PPP
PPS
PR9
PRECHA
PRG
PRIN
PRINC
PSTC
PT
PYLON
Q-CON
QHHR
QLT
QTC
RCI
RICHY
RML
ROCK
ROH
RP
RPC
RPH
RSP
RT
RWI
S
S & J
SABINA
SABUY
SALEE
SAM
SAMART
SAMCO
SAMTEL
SANKO
SAUCE
SAWANG
SCG
SCI
SCN
SCP
SE-ED
SEAFCO
SEAOIL
SELIC
SFLEX
SFP
SGF
SHANG
SHR
SIAM
SIMAT
SISB
SITHAI
SKE
SLP
SMART
SMK
SMT
SNP
SOLAR
SONIC
SORKON
SPA
SPACK
SPG
SPI
SPVI
SQ
SR
SRICHA
SSC
SSF
SSSC
SST
STAR
STI
STPI
SUC
SUN
SUSCO
SUTHA
SVH
SVOA
SWC
SYMC
SYNTEC
TACC
TAE
TAKUNI
TAPAC
TCC
TCCC
TCJ
TCMC
TCOAT
TEAM
TEAMG
TGPRO
TH
THAI
THCOM
THE
THMUI
THRE
THREL
TIF1
TIGER
TITLE
TKT
TM
TMC
TMD
TMI
TMILL
TNDT
TNH
TNITY
TNL
TNP
TNPC
TNR
TOG
TOPP
TPBI
TPCH
TPOLY
TPP
TPRIME
TQR
TRC
TRITN
TRT
TRU
TRUBB
TSC
TSR
TSTE
TTCL
TVD
TVT
TWP
TWPC
TWZ
U
UAC
UBIS
UEC
UKEM
UMI
UNIQ
UOBKH
UP
UPA
UPF
UPOIC
UREKA
UV
UVAN
UWC
VCOM
VIH
VPO
WACOAL
WAVE
WIIK
WIN
WINNER
WP
WPH
XO
YUASA
ZEN
ZIGA
ZMICO

In [48]:
sqlDel = '''
DELETE FROM exempts'''
rp = conlt.execute(sqlDel)
rp.rowcount

302

In [49]:
for rcd in rcds:
    conlt.execute("""INSERT INTO exempts (name) \
VALUES(?)""", rcd)

In [50]:
sql = '''
SELECT COUNT(*)
FROM exempts'''
tmp_df = pd.read_sql(sql, conlt)
tmp_df

   COUNT(*)
0       405