In [36]:
import pandas as pd
from sqlalchemy import create_engine
from glob import glob

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

In [2]:
year = 2021
quarter = 4
year, quarter

(2021, 4)

In [3]:
format_dict = {
    'q_amt':'{:,}','y_amt': '{:,}',   
    'aq_amt':'{:,}','ay_amt':'{:,}','yoy_gain':'{:,}','acc_gain':'{:,}', 
    'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}', 
    'daily_volume':'{:.2f}','beta':'{:.2f}',
    'publish_date':'{:%Y-%m-%d}',    
}

### Classify performance after input all EPS

In [4]:
sql = """
SELECT name, q_amt, y_amt, aq_amt, ay_amt
FROM epss
WHERE year = %s AND quarter = %s
ORDER BY name
"""
sql = sql % (year, quarter)
epss = pd.read_sql(sql, conlt)
epss.shape

(323, 5)

### Merge with stocks to get market information

In [5]:
sql = '''
SELECT name, price, market, daily_volume, beta
FROM stocks
'''
stocks = pd.read_sql(sql, conlt)
stocks.shape

(339, 5)

In [6]:
df_merge1 = pd.merge(epss, stocks, on='name', how='inner')
df_merge1.shape

(323, 9)

In [7]:
set50 = df_merge1.market.str.contains('SET50')
set100 = df_merge1.market.str.contains('SET100')
mai = df_merge1.market.str.contains('mai')
set = ~(set50 | set100 | mai)

In [8]:
cdd1 = df_merge1[~(set50 | set100)].copy()
cdd1.shape

(227, 9)

In [9]:
def grade(vals):
    qc, qp, aqc, aqp = vals
    if (aqc < 400_000) & (aqp < 400_000):
            return 1
    else:
            return 4

In [10]:
cdd1['grade'] = 0
cdd1.shape

(227, 10)

In [11]:
cdd1["grade"] = cdd1[["q_amt", "y_amt","aq_amt", "ay_amt"]].apply(grade, axis=1)
cdd1.shape[0]

227

In [12]:
pd.set_option('display.max_rows',None)
mask_grade_1 = ( cdd1["grade"] == 1)
cdd2 = cdd1[mask_grade_1].copy()
cdd2

,name,q_amt,y_amt,aq_amt,ay_amt,price,market,daily_volume,beta,grade
1,AAV,-992745,-1114449,-6647486,-4764092,2.94,sSET / SETTHSI,52.80,1.65,1
10,AKR,34225,68295,89892,98443,1.02,SET,28.60,0.94,1
12,AMANAH,76563,77090,307164,290708,6.20,sSET,49.22,1.65,1
13,AMARIN,98438,152540,313113,170669,6.35,SET,0.26,0.18,1
16,ANAN,-220012,-74397,-457342,-206577,1.26,sSET,25.30,1.49,1
19,APCS,1822,47018,210608,14072,5.85,sSET,21.16,0.90,1
20,APURE,53033,110363,297224,319617,6.20,sSET,21.60,0.83,1
21,ARROW,4314,32685,128738,168984,8.25,mai,0.59,0.37,1
28,BA,-141403,-400693,-8549862,-5283182,11.50,SETWB,55.28,1.67,1
37,BEAUTY,-8440,18911,-80768,-104882,1.50,SET,20.24,1.54,1
49,BRR,16754,-52136,129311,6137,5.05,sSET,1.22,1.00,1
50,BSBM,5562,18711,72120,84018,1.36,SET,2.61,1.24,1
52,CCET,-291983,-38399,272953,209607,2.62,sSET,18.12,1.24,1
55,CHAYO,48584,36356,218999,155354,12.60,SET,88.06,1.67,1
64,CPI,56762,82548,292263,159055,3.80,SET,45.57,0.60,1
71,CSS,162433,1770,246089,92701,2.28,SET,51.86,1.26,1
72,CWT,39577,75595,172152,117031,3.84,SET,136.20,1.05,1
74,DCON,44421,39330,116751,92434,0.49,SET,8.78,1.38,1
75,DDD,104684,203857,81319,169253,16.10,sSET,4.78,1.34,1
77,DEMCO,70119,60515,100864,55201,3.48,sSET,37.31,1.50,1
82,DUSIT,-391412,-133464,-994997,-1011135,9.90,SET,0.83,0.39,1
85,ECL,72500,27029,194013,61679,2.68,SET,70.01,1.54,1
88,EKH,89573,45180,344830,72104,8.20,sSET,50.30,0.27,1
89,EMC,-117168,32308,-85707,58933,0.22,SET,10.76,0.94,1
92,FPI,140784,35278,328979,27181,3.08,mai,16.69,0.81,1
94,FSS,72555,32735,300127,82420,5.50,SET,92.39,1.85,1
95,GBX,34266,26271,137827,43206,1.40,SET,59.45,0.78,1
96,GC,40341,44700,189129,136044,6.35,SET,2.90,1.00,1
101,GPI,-45602,-34630,30794,34092,1.81,SET,5.59,1.32,1
112,HTECH,32646,14505,135282,52991,4.70,SET,11.70,1.38,1
113,HUMAN,42235,44421,169822,165754,12.10,sSET,112.20,0.85,1
114,ICC,163925,40750,121544,-52359,29.75,SET,0.10,0.08,1
116,IFS,43742,34369,152824,133616,3.12,SET,6.06,0.79,1
117,IHL,35908,9400,140742,-44306,3.78,SET,1.95,1.20,1
118,III,113904,48290,377341,162491,14.80,sSET,163.20,1.31,1
119,ILINK,117947,11095,353108,195892,10.30,sSET,55.53,1.96,1
122,INET,35767,-57681,162886,10242,7.05,SET,95.32,1.47,1
124,INSET,39694,33290,170539,135491,5.40,SET,81.36,0.00,1
126,IP,36063,3285,105216,52537,19.90,mai,22.77,0.55,1
127,IRC,29268,81559,340031,219063,14.90,SET,2.82,0.40,1
130,J,112165,8781,161440,56437,5.04,SET,65.39,1.55,1
131,JAS,45098,-935370,-1500704,-3134017,3.62,SET,587.00,1.22,1
135,JTS,70596,16021,221042,44166,586.00,SET,413983.98,400.40,1
136,JUBILE,106939,87966,225248,266789,23.70,mai,2.31,0.33,1
138,KAMART,61062,38353,292873,132824,5.25,sSET,45.55,0.79,1
150,LHHOTEL,-108174,-62609,-437024,-484970,9.10,SET,2.10,0.66,1
151,LIT,-96866,19364,-95493,71241,2.44,mai,14.21,1.14,1
159,MBAX,37357,15743,62408,176063,5.15,mai,2.83,0.62,1
164,MFC,54872,47626,306149,148103,28.75,SET,3.24,0.15,1
165,MFEC,101504,117029,256988,244622,10.10,sSET,57.04,1.37,1
167,MSC,56754,21943,197286,155795,9.40,SET,24.02,0.73,1
171,NCH,80319,47355,251932,115278,1.87,SET,34.51,1.41,1
175,NRF,135179,35176,220784,124391,7.30,SET,60.10,1.48,1
176,NYT,61070,90711,242643,228568,4.80,sSET / SETTHSI,15.94,1.33,1
184,PDG,12597,21202,55242,98255,3.82,mai,0.78,0.37,1
185,PDJ,58771,2335,138168,-95103,3.12,SET,22.58,1.26,1
187,PL,34063,23691,120133,76061,2.80,SET,1.36,0.66,1
189,PLE,146182,-215824,153247,-436363,0.80,SET,2.27,1.58,1
191,PR9,115897,81161,249169,202055,13.40,sSET / SETTHSI,23.20,0.28,1
192,PREB,86023,56540,241622,165666,9.00,SET,1.21,0.55,1
205,RICHY,-4944,42995,202089,101516,1.18,SET,29.44,0.85,1
210,RSP,32897,27512,29569,4288,2.64,SET,12.57,1.57,1
211,S,96657,53928,373167,275907,2.00,sSET / SETTHSI,9.09,1.25,1
212,S & J,96657,53928,373167,275907,2.00,sSET / SETTHSI,9.09,1.25,1
214,SABUY,76782,31796,213605,102058,27.50,SET,389.10,1.69,1
215,SAMTEL,-12767,-82134,61385,-287504,6.90,sSET,17.78,1.01,1
227,SFLEX,28831,40378,149415,142805,4.50,sSET,22.93,0.49,1
229,SHANG,-181329,-814592,-492810,-983114,55.50,SET,0.26,0.31,1
233,SISB,26589,68077,208753,159933,14.10,sSET,31.83,0.44,1
236,SMART,9410,15798,39869,45807,0.90,mai,6.42,0.77,1
238,SMT,46018,32286,209703,81388,5.05,sSET,25.47,1.39,1
240,SNP,122433,106977,340020,183025,16.50,SET,0.30,0.30,1
248,SQ,41962,71590,350752,240988,2.08,SET,10.66,1.44,1
249,SRICHA,-4860,68787,341517,142245,13.20,sSET,7.44,0.95,1
251,SSSC,59886,34282,235057,75433,3.26,SET,0.71,0.65,1
259,SUSCO,18939,99121,233527,217655,3.30,sSET,15.36,0.62,1
262,SVOA,57645,69369,159907,138879,3.96,SET,255.74,1.82,1
264,TACC,57838,51244,214239,188380,7.45,mai,13.30,0.52,1
274,THREL,12543,48809,98496,121435,6.10,SET,80.25,0.96,1
280,TKN,84430,-20871,182125,242621,8.05,sSET,67.86,1.64,1
283,TNITY,76401,137550,250144,130447,10.80,SET,59.49,1.12,1
284,TNPC,10308,68079,86348,2319,3.50,SET,29.38,0.80,1
285,TNR,-584288,43177,-464842,111431,7.80,sSET,0.66,0.36,1
287,TOG,76237,63057,310121,68781,9.95,sSET,16.76,1.63,1
292,TQR,-27,5438,97483,74055,12.70,mai,3.94,0.73,1
298,TTCL,130537,-40708,289131,128660,4.82,SET,65.09,1.84,1
299,TTLPF,52121,70061,280884,246627,23.00,SET,0.16,0.07,1
304,TYCN,-158531,-98128,376960,-321049,3.54,SET,2.06,0.27,1
305,U,899292,-3839757,88157,-6610751,1.75,SET,162.06,1.33,1
306,UAC,54586,107625,246813,271172,6.15,sSET,32.79,0.93,1
307,UOBKH,75630,53508,381045,239646,4.98,SET,5.53,0.40,1
308,UPOIC,110160,76403,306814,125099,7.70,SET,1.26,0.42,1
315,WACOAL,-21449,-144923,-144441,-314884,34.50,SET,0.02,0.01,1
320,WIIK,11355,30899,91417,109342,2.16,SET,3.06,1.14,1
321,WORK,-17462,34949,324206,159114,29.25,SET,83.59,1.10,1
322,YUASA,24367,59198,97682,158177,14.90,mai,0.84,0.30,1

In [13]:
cdd2.drop(index = [126,184,299], inplace=True)
cdd2.shape[0]

93

In [14]:
mask_grade_4 = cdd1["grade"] == 4
cdd3 = cdd1[mask_grade_4].copy()
cdd3.shape

(131, 10)

In [15]:
sql = """
SELECT name, price, buy, hold, sell, yield, target_price
FROM consensus"""
consensus = pd.read_sql(sql, conlt)
consensus.shape

(288, 7)

In [16]:
df_merge2 = pd.merge(cdd3, consensus, on='name', how='outer', indicator=True)
df_merge2.shape

(315, 17)

In [17]:
cdd4 = df_merge2[df_merge2['_merge'] == 'left_only'].copy()
cdd4

,name,q_amt,y_amt,aq_amt,ay_amt,price_x,market,daily_volume,beta,grade,price_y,buy,hold,sell,yield,target_price,_merge
0,2S,50123.0,100904.0,737515.0,410165.0,5.35,SET,6.17,0.85,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,AMC,194713.0,63424.0,940346.0,133051.0,5.40,SET,22.51,1.27,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,AYUD,68095.0,171011.0,1230029.0,631114.0,44.75,SET,1.44,0.29,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,BEYOND,569204.0,-17950.0,877732.0,80435.0,12.90,SET,13.42,1.42,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,CGH,145310.0,34575.0,764749.0,142178.0,1.29,sSET,214.24,1.80,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,CIMBT,732405.0,-176949.0,2440555.0,1290582.0,0.87,SET,34.16,1.45,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,CPNCG,165405.0,122343.0,445551.0,501658.0,12.20,SET,2.92,0.46,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,CSP,66476.0,66591.0,438266.0,84304.0,2.64,SET,7.42,1.42,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
36,GLAND,119384.0,57062.0,573818.0,715949.0,2.22,SET,0.64,0.65,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
56,LST,524775.0,154817.0,558631.0,383022.0,6.35,sSET,7.51,0.51,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
61,MDX,63074.0,41774.0,403893.0,148855.0,5.35,SET,10.16,1.44,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
63,MTI,141490.0,90549.0,767446.0,590903.0,109.50,sSET,3.90,0.16,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
65,NNCL,70281.0,77529.0,439413.0,352405.0,2.38,sSET,2.24,0.73,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
69,PB,411763.0,395329.0,1687674.0,1678665.0,68.00,SET,0.42,0.06,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
71,PERM,137438.0,61997.0,528495.0,28222.0,2.38,SET,13.09,1.29,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
72,POPF,111883.0,115712.0,365609.0,574682.0,11.80,SET,4.47,0.27,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
73,PRG,185687.0,194082.0,416405.0,405187.0,11.00,SET,0.05,0.28,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
79,RPC,-37853.0,62273.0,695954.0,44333.0,1.52,SET,52.25,2.29,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
83,SAUCE,162929.0,155284.0,618928.0,543413.0,31.25,SET,0.77,0.29,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
96,SPG,77986.0,100997.0,460034.0,372859.0,17.90,SET,0.04,0.36,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
97,SPI,988909.0,599367.0,3500560.0,2305575.0,63.50,SET,0.36,-0.07,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
100,SUC,94538.0,400700.0,601249.0,845090.0,31.25,SET,1.84,0.44,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
102,SVH,413724.0,344231.0,1491290.0,1447400.0,412.00,SET,0.71,0.16,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
104,TCCC,140966.0,111192.0,1578674.0,1472325.0,35.25,SET,1.62,0.18,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
108,THE,269667.0,27536.0,1131014.0,-130572.0,2.50,SET,8.64,1.17,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
123,UVAN,123502.0,-2626.0,839271.0,329118.0,8.40,sSET,16.94,0.91,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
125,VIH,61019.0,66257.0,1255182.0,186278.0,10.20,sSET,15.41,-0.16,4.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [18]:
#cdd3.drop(index = [22,71], inplace=True)
cdd4.shape[0]

27

### Done fo far

### Combine dataframes

In [19]:
frames = [cdd2, cdd4]
cdd = pd.concat(frames, sort=False)
cdd_final = cdd.sort_values(['name'],ascending=[True])
cdd_final.style.format(format_dict)

In [20]:
sr = cdd_final['name']
sr

0           2S
1          AAV
10         AKR
12      AMANAH
13      AMARIN
7          AMC
16        ANAN
19        APCS
20       APURE
21       ARROW
12        AYUD
28          BA
37      BEAUTY
14      BEYOND
49         BRR
50        BSBM
52        CCET
19         CGH
55       CHAYO
20       CIMBT
64         CPI
22       CPNCG
25         CSP
71         CSS
72         CWT
74        DCON
75         DDD
77       DEMCO
82       DUSIT
85         ECL
88         EKH
89         EMC
92         FPI
94         FSS
95         GBX
96          GC
36       GLAND
101        GPI
112      HTECH
113      HUMAN
114        ICC
116        IFS
117        IHL
118        III
119      ILINK
122       INET
124      INSET
127        IRC
130          J
131        JAS
135        JTS
136     JUBILE
138     KAMART
150    LHHOTEL
151        LIT
56         LST
159       MBAX
61         MDX
164        MFC
165       MFEC
167        MSC
63         MTI
171        NCH
65        NNCL
175        NRF
176        NYT
69          PB
185        PDJ
71        PERM
187         PL
189        PLE
72        POPF
191        PR9
192       PREB
73         PRG
205      RICHY
79         RPC
210        RSP
211          S
212      S & J
214      SABUY
215     SAMTEL
83       SAUCE
227      SFLEX
229      SHANG
233       SISB
236      SMART
238        SMT
240        SNP
96         SPG
97         SPI
248         SQ
249     SRICHA
251       SSSC
100        SUC
259      SUSCO
102        SVH
262       SVOA
264       TACC
104       TCCC
108        THE
274      THREL
280        TKN
283      TNITY
284       TNPC
285        TNR
287        TOG
292        TQR
298       TTCL
304       TYCN
305          U
306        UAC
307      UOBKH
308      UPOIC
123       UVAN
125        VIH
315     WACOAL
320       WIIK
321       WORK
322      YUASA
Name: name, dtype: object

In [21]:
file_name = 'new-exempts-q4.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

In [22]:
sr.to_csv(output_file,index=False)
sr.to_csv(box_file,index=False)
sr.to_csv(data_file,index=False)
sr.to_csv(one_file,index=False)

### Backup exempts before insert new records

In [23]:
sql = '''
SELECT name
FROM exempts
ORDER BY name'''
exempts = pd.read_sql(sql, conlt)
exempts.tail()

      name
294    WPH
295     XO
296    ZEN
297   ZIGA
298  ZMICO

In [24]:
file_name = 'exempts-21q4.csv'
data_file = data_path + file_name
data_file

'../data/exempts-21q4.csv'

In [26]:
exempts.to_csv(data_file, index=False, header=False)

### End of Backup exempts before insert new records

### Check whether record already existed

In [30]:
cdd_final.drop(columns=['_merge'],inplace=True)

In [31]:
df_merge = pd.merge(cdd_final, exempts, on='name', how='outer', indicator=True)

In [34]:
df_merge1 = df_merge[df_merge['_merge'] == 'left_only']
df_merge1.shape

(120, 18)

### Check with buys table in Portfolio database

In [37]:
sql = '''
SELECT DISTINCT name 
FROM buys B
JOIN stocks S
ON B.stock_id = S.id
ORDER BY name'''
buys = pd.read_sql(sql, conpf)
buys.shape

(139, 1)

In [39]:
df_merge1 = df_merge1.drop('_merge', 1)
df_merge1.shape

C:\Users\User\AppData\Local\Temp/ipykernel_13392/3427655093.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_merge1 = df_merge1.drop('_merge', 1)

(120, 17)

In [40]:
df_merge2 = pd.merge(df_merge1, buys, on='name', how='outer', indicator=True)
final2 = df_merge2[df_merge2['_merge'] == 'left_only']
final2.shape

(106, 18)

In [41]:
df_merge2 = pd.merge(df_merge1, buys, on='name', how='outer', indicator=True)
tmp = df_merge2[df_merge2['_merge'] == 'both']
tmp

,name,q_amt,y_amt,aq_amt,ay_amt,price,market,daily_volume,beta,grade,price_x,price_y,buy,hold,sell,yield,target_price,_merge
6,ANAN,-220012.0,-74397.0,-457342.0,-206577.0,1.26,sSET,25.30,1.49,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
11,BA,-141403.0,-400693.0,-8549862.0,-5283182.0,11.50,SETWB,55.28,1.67,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
12,BEAUTY,-8440.0,18911.0,-80768.0,-104882.0,1.50,SET,20.24,1.54,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
21,CPNCG,165405.0,122343.0,445551.0,501658.0,NaN,SET,2.92,0.46,4.0,12.2,NaN,NaN,NaN,NaN,NaN,NaN,both
25,DCON,44421.0,39330.0,116751.0,92434.0,0.49,SET,8.78,1.38,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
29,ECL,72500.0,27029.0,194013.0,61679.0,2.68,SET,70.01,1.54,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
35,GC,40341.0,44700.0,189129.0,136044.0,6.35,SET,2.90,1.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
54,LIT,-96866.0,19364.0,-95493.0,71241.0,2.44,mai,14.21,1.14,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
56,MBAX,37357.0,15743.0,62408.0,176063.0,5.15,mai,2.83,0.62,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
71,POPF,111883.0,115712.0,365609.0,574682.0,NaN,SET,4.47,0.27,4.0,11.8,NaN,NaN,NaN,NaN,NaN,NaN,both
73,PREB,86023.0,56540.0,241622.0,165666.0,9.00,SET,1.21,0.55,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
102,TKN,84430.0,-20871.0,182125.0,242621.0,8.05,sSET,67.86,1.64,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
109,TYCN,-158531.0,-98128.0,376960.0,-321049.0,3.54,SET,2.06,0.27,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
118,WORK,-17462.0,34949.0,324206.0,159114.0,29.25,SET,83.59,1.10,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both

### Should delete above records from exempt candidates as there are historical transactions