### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 1, 15), '2022-02')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 1, 14), datetime.date(2022, 1, 7))

In [5]:
format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

In [23]:
sql = """
SELECT * FROM profits 
ORDER BY id 
DESC LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [24]:
names = tmp['name']
name = names.to_string(index=False)
name

'TISCO'

In [25]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'TISCO'

In [26]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'TISCO'

In [27]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'TISCO'

In [28]:
cols = 'quarter price target upside buy hold sell yield max min pe pbv dly_vol beta'.split()
colt = 'name price target upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target upside buy hold sell mrkt yield'.split()

In [29]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(42, 4)

In [30]:
sql = """
SELECT name, price, target_price AS target, 
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) < 15"""
sql = sql % (today, today)
print(sql)

consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['upside'] = consensus['upside'].astype(int)
consensus.shape

SELECT name, price, target_price AS target,
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield,
date(updated_at), ('2022-01-14'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('2022-01-14'::date - date(updated_at)::date) < 15

(226, 9)

In [13]:
#consensus.loc['TSTH',['target','upside']] = [1.89,21]

In [31]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.tail()

,name,kind,year,quarter,price,target,upside,buy,hold,sell,yield,date,days
33,SYNEX,0,2021,3,37.00,28.67,-23,2,0,3,2.3,2022-01-14,0
34,TISCO,1,2021,4,98.25,108.50,10,7,0,0,7.4,2022-01-14,0
35,TOP,0,2021,3,52.25,59.60,14,2,1,0,3.0,2022-01-14,0
36,TQM,1,2021,3,49.00,115.40,136,3,0,0,5.5,2022-01-14,0
37,TSE,1,2021,3,2.66,3.52,32,2,0,0,3.3,2022-01-13,1

In [32]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [33]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

,name,kind,year,quarter,price,target,upside,buy,hold,sell,yield,date,days,_merge
16,LANNA,1.0,2021.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,RCL,1.0,2021.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
37,TKS,1.0,2021.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
41,TSTH,1.0,2021.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Start of Gain Percentage Calculation

In [135]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape[0]

358

In [136]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [137]:
my_stocks["mrkt"].value_counts()

SET999    243
SET50      50
SET100     49
mai        16
Name: mrkt, dtype: int64

In [40]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(38, 20)

In [41]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= 5)
flt_set50 = consensus2[set50]
flt_set50[cols].style.format(format_dict)

In [43]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < 5)]\
    [cols].style.format(format_dict)

In [44]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= 10)
flt_set100 = consensus2[set100]
flt_set100[cols].style.format(format_dict)

In [24]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < 10)]\
    [cols].style.format(format_dict)

In [25]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= 15) 
flt_set999 = consensus2[set999]
flt_set999[cols].style.format(format_dict)

In [26]:
consensus2.loc\
    [(consensus2.mrkt.str.contains('SET999')) & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [27]:
mai = consensus2.mrkt.str.contains('mai') & (consensus2.upside >= 15)
flt_mai = consensus2[mai]
flt_mai[cols].style.format(format_dict)

In [28]:
consensus2.loc\
    [consensus2.mrkt.str.contains('mai') & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [29]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [30]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [31]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 27 stocks'

In [32]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

402

In [33]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to input to port_lite stocks

In [34]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [35]:
final.shape

(27, 23)

In [36]:
file_name = 'consensus.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

final[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)

In [138]:
sql = """
SELECT *
FROM tickers"""
tickers = pd.read_sql(sql, conmy)
tickers.dtypes

id             int64
name          object
full_name     object
sector        object
subsector     object
market        object
website       object
created_at    object
updated_at    object
dtype: object

In [139]:
mask = tickers.market.str.contains('SET100')
tickers_100 = tickers[mask]
tickers_100.shape

(50, 9)

In [140]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conmy)
stocks.dtypes

id                int64
name             object
market           object
price           float64
max_price       float64
min_price       float64
pe              float64
pbv             float64
paid_up         float64
market_cap      float64
daily_volume    float64
beta            float64
ticker_id         int64
created_at       object
updated_at       object
dtype: object

In [141]:
mask100 = stocks.market.str.contains('SET100')
stocks_100 = stocks[mask100]
stocks_100.shape

(50, 15)

In [142]:
mask50 = stocks.market.str.contains('SET50')
stocks_50 = stocks[mask50]
stocks_50.shape

(50, 15)

In [143]:
stocks[mask50 | mask100].index.sort_values('index')

(Int64Index([  0,   1,   9,  12,  13,  22,  25,  26,  27,  28,  29,  31,  32,
              34,  35,  38,  40,  44,  46,  48,  50,  52,  53,  55,  56,  57,
              59,  71,  73,  77,  80,  81,  93,  94,  96,  97,  99, 110, 112,
             113, 117, 118, 123, 124, 126, 128, 129, 133, 142, 149, 152, 155,
             162, 170, 177, 179, 180, 181, 182, 183, 184, 189, 196, 198, 199,
             205, 206, 214, 220, 225, 227, 229, 234, 236, 237, 242, 248, 253,
             260, 264, 267, 270, 272, 279, 285, 302, 317, 324, 325, 326, 327,
             328, 332, 333, 335, 336, 338, 341, 353, 358],
            dtype='int64'),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
        51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
        68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
        85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
       dtype=int64))

In [146]:
stocks[stocks['name'] == 'KEX']

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
358,740,KEX,SET100 / SETTHSI / SETWB,29.25,61.25,28.75,49.67,5.19,871.29,50970.38,95.86,1.18,740,2022-01-15 04:57:03.538560,2022-01-15 04:57:03.538560

In [147]:
df_merge = pd.merge(tickers_100,stocks_100,on='name',how='outer',indicator=True)

In [148]:
df_merge[df_merge['_merge']=='left_only']

Empty DataFrame
Columns: [id_x, name, full_name, sector, subsector, market_x, website, created_at_x, updated_at_x, id_y, market_y, price, max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, created_at_y, updated_at_y, _merge]
Index: []

In [149]:
tickers.set_index('name',inplace=True)

In [150]:
stocks.set_index('name',inplace=True)

In [152]:
tickers.loc['KEX']

id                                                        740
full_name     KERRY EXPRESS (THAILAND) PUBLIC COMPANY LIMITED
sector                                               Services
subsector                          Transportation & Logistics
market                               SET100 / SETTHSI / SETWB
website                   https://th.kerryexpress.com/th/home
created_at                         2022-01-15 04:27:58.274302
updated_at                         2022-01-15 04:27:58.274302
Name: KEX, dtype: object

In [153]:
stocks.loc['KEX']

id                                       740
market          SET100 / SETTHSI / SETWB
price                                  29.25
max_price                              61.25
min_price                              28.75
pe                                     49.67
pbv                                     5.19
paid_up                               871.29
market_cap                          50970.38
daily_volume                           95.86
beta                                    1.18
ticker_id                                740
created_at        2022-01-15 04:57:03.538560
updated_at        2022-01-15 04:57:03.538560
Name: KEX, dtype: object

In [154]:
df_merge.shape

(50, 24)

In [113]:
df_merge.sort_values('name')

,id_x,name,full_name,sector,subsector,market_x,website,created_at_x,updated_at_x,id_y,market_y,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at_y,updated_at_y,_merge
44,698,ACE,ABSOLUTE CLEAN ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100,www.ace-energy.co.th,2019-11-19 07:12:33.741655,2021-01-26 15:42:21.079392,697,SET100,3.40,4.60,3.34,24.85,2.67,5088.00,34598.40,96.90,0.68,698,2019-11-20 04:28:12.244554,2022-01-14 23:24:44.972974,both
0,7,AEONTS,AEON THANA SINSAP (THAILAND) PUBLIC COMPANY LI...,Financials,Finance & Securities,SET100,www.aeon.co.th,2017-07-23 06:30:43.592682,2019-03-03 03:44:23.392882,7,SET100,187.50,244.00,168.00,12.25,2.51,250.00,46875.00,106.38,1.38,7,2017-07-23 07:24:21.066435,2022-01-14 23:24:44.987050,both
1,21,AMATA,AMATA CORPORATION PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETCLMV / SETTHSI,www.amata.com,2017-07-23 06:30:45.227516,2019-03-03 03:44:23.708646,21,SET100 / SETCLMV / SETTHSI,20.90,22.00,15.90,22.72,1.41,1150.00,24035.00,274.13,1.27,21,2017-07-23 07:24:22.672618,2022-01-14 23:24:45.048477,both
2,25,AP,AP (THAILAND) PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD,www.apthai.com,2017-07-23 06:30:45.709407,2017-07-23 06:30:45.709407,25,SET100 / SETHD,9.55,9.90,7.10,6.69,0.96,3145.90,30043.34,114.35,0.67,25,2017-07-23 07:24:23.155772,2022-01-14 23:24:45.073793,both
47,709,BAM,BANGKOK COMMERCIAL ASSET MANAGEMENT PUBLIC COM...,Financials,Finance & Securities,SET100,www.bam.co.th,2021-01-26 15:42:21.174974,2021-07-07 03:34:31.072742,708,SET100,20.60,23.30,15.80,28.68,1.59,16160.21,66580.07,483.12,1.12,709,2021-01-26 16:02:29.385506,2022-01-14 23:24:45.146039,both
3,51,BCH,BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,SET100 / SETWB,www.bangkokchainhospital.com,2017-07-23 06:30:48.660793,2019-11-19 07:12:35.210408,51,SET100 / SETWB,19.90,26.75,13.60,10.69,4.70,2493.75,49625.58,783.32,-0.25,51,2017-07-23 07:24:26.361750,2022-01-14 23:24:45.172351,both
4,52,BCP,BANGCHAK CORPORATION PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETTHSI,www.bangchak.co.th,2017-07-23 06:30:48.761380,2021-07-07 03:34:31.082261,52,SET100 / SETCLMV / SETTHSI,26.75,30.75,22.60,5.93,0.70,1376.92,36832.69,141.69,1.36,52,2017-07-23 07:24:26.477626,2022-01-14 23:24:45.179052,both
5,53,BCPG,BCPG PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETHD / SETTHSI,www.bcpggroup.com,2017-07-23 06:30:48.869670,2022-01-15 03:54:33.520618,53,SET100 / SETCLMV / SETHD / SETTHSI,12.30,16.40,11.70,17.08,1.39,14470.06,35596.35,192.29,0.82,53,2017-07-23 07:24:26.597527,2022-01-14 23:24:45.184970,both
6,56,BEC,BEC WORLD PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.becworld.com,2017-07-23 06:30:49.218292,2021-07-07 03:34:31.091320,56,SET100,14.30,15.80,7.50,38.97,4.85,2000.00,28600.00,182.38,0.99,56,2017-07-23 07:24:26.896492,2022-01-14 23:24:45.211760,both
7,70,BLA,BANGKOK LIFE ASSURANCE PUBLIC COMPANY LIMITED,Financials,Insurance,SET100 / SETTHSI,www.bangkoklife.com,2017-07-23 06:30:51.035886,2022-01-15 03:54:33.554614,70,SET100 / SETTHSI,44.50,45.50,23.00,24.63,1.60,1707.57,75986.69,529.11,0.61,70,2017-07-23 07:24:28.700670,2022-01-14 23:24:45.275475,both
8,74,BPP,BANPU POWER PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETHD / SETTHSI,www.banpupower.com,2017-07-23 06:30:51.577768,2022-01-15 03:54:33.560403,74,SET100 / SETCLMV / SETHD / SETTHSI,17.10,21.60,15.50,13.17,1.14,30477.32,52116.21,36.59,0.77,74,2017-07-23 07:24:29.294209,2022-01-14 23:24:45.288103,both
9,92,CENTEL,CENTRAL PLAZA HOTEL PUBLIC COMPANY LIMITED,Services,Tourism & Leisure,SET100 / SETTHSI / SETWB,www.centarahotelsresorts.com,2017-07-23 06:30:54.851897,2019-11-19 07:12:36.669489,92,SET100 / SETTHSI / SETWB,34.00,38.00,23.90,999.99,2.55,1350.00,45900.00,151.92,1.66,92,2017-07-23 07:24:31.721637,2022-01-14 23:24:45.335080,both
10,98,CHG,CHULARAT HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,SET100 / SETWB,www.chularat.com,2017-07-23 06:30:55.787454,2019-11-19 07:12:36.867975,98,SET100 / SETWB,3.54,4.44,2.52,14.72,6.76,1100.00,38940.00,298.80,-0.13,98,2017-07-23 07:24:32.443979,2022-01-14 23:24:45.353649,both
11,106,CK,CH. KARNCHANG PUBLIC COMPANY LIMITED,Property & Construction,Construction Services,SET100 / SETCLMV / SETTHSI,www.ch-karnchang.co.th,2017-07-23 06:30:56.836747,2019-03-03 03:44:25.426986,106,SET100 / SETCLMV / SETTHSI,21.90,23.70,14.90,52.72,1.40,1693.90,37096.34,235.30,0.97,106,2017-07-23 07:24:33.396161,2022-01-14 23:24:45.366553,both
12,107,CKP,CK POWER PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETTHSI,www.ckpower.co.th,2017-07-23 06:30:56.987542,2021-01-26 15:42:21.313500,107,SET100 / SETCLMV / SETTHSI,5.00,6.30,4.16,19.69,1.66,8129.38,40646.91,43.20,1.04,107,2017-07-23 07:24:33.505549,2022-01-14 23:24:45.372515,both
45,701,DOHOME,DOHOME PUBLIC COMPANY LIMITED,Services,Commerce,SET100 / SETWB,https://www.dohome.co.th/,2019-11-19 07:12:37.497401,2021-01-26 15:42:21.391639,700,SET100 / SETWB,22.70,30.75,13.66,32.34,5.21,2422.17,54983.26,162.87,0.87,701,2019-11-20 04:28:28.900573,2022-01-14 23:24:45.501860,both
13,162,EPG,EASTERN POLYMER GROUP PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET100 / SETTHSI,www.epg.co.th,2017-07-23 06:31:05.010998,2022-01-15 03:54:33.638351,162,SET100 / SETTHSI,12.30,13.70,7.70,20.31,3.00,2800.00,34440.00,236.20,0.41,162,2017-07-23 07:24:41.080650,2022-01-14 23:24:45.575516,both
14,165,ESSO,ESSO (THAILAND) PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100,www.esso.co.th,2017-07-23 06:31:05.394399,2018-06-21 02:39:11.466225,165,SET100,7.70,9.40,7.00,6.46,1.46,17075.18,26648.61,139.09,1.21,165,2017-07-23 07:24:41.623403,2022-01-14 23:24:45.583127,both
15,202,GUNKUL,GUNKUL ENGINEERING PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETHD / SETTHSI,www.gunkul.com,2017-07-23 06:31:13.085136,2022-01-15 03:54:33.674084,202,SET100 / SETCLMV / SETHD / SETTHSI,5.75,6.05,2.48,14.96,3.97,2220.63,51074.55,751.89,1.31,202,2017-07-23 07:24:48.612669,2022-01-14 23:24:45.676178,both
16,205,HANA,HANA MICROELECTRONICS PUBLIC COMPANY LIMITED,Technology,Electronic Components,SET100 / SETTHSI,www.hanagroup.com,2017-07-23 06:31:13.593731,2022-01-15 03:54:33.680594,205,SET100 / SETTHSI,80.25,96.25,48.00,28.04,2.70,804.88,64591.53,873.96,0.49,205,2017-07-23 07:24:49.153281,2022-01-14 23:24:45.688450,both
17,236,JMART,JAY MART PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET100,www.jaymart.co.th,2017-07-23 06:31:18.044352,2021-01-26 15:42:21.559740,236,SET100,56.00,59.75,21.50,70.61,14.86,1395.47,78146.26,598.85,1.58,236,2017-07-23 07:24:53.235194,2022-01-14 23:24:45.865790,both
18,237,JMT,JMT NETWORK SERVICES PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET100,www.jmtnetwork.co.th,2017-07-23 06:31:18.198992,2021-01-26 15:42:21.564813,237,SET100,66.00,70.75,34.44,72.14,10.68,685.06,90428.38,695.48,1.19,237,2017-07-23 07:24:53.358953,2022-01-14 23:24:45.871750,both
19,255,KKP,KIATNAKIN PHATRA BANK PUBLIC COMPANY LIMITED,Financials,Banking,SET100 / SETCLMV / SETHD / SETTHSI,https://bank.kkpfg.com/,2017-07-23 06:31:20.501543,2021-01-26 15:42:21.597784,255,SET100 / SETCLMV / SETHD / SETTHSI,66.75,66.75,49.75,10.46,1.15,8467.51,56520.64,381.38,1.01,255,2017-07-23 07:24:55.554025,2022-01-14 23:24:45.921416,both
20,282,MAJOR,MAJOR CINEPLEX GROUP PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100 / SETCLMV / SETTHSI,www.majorcineplex.com,2017-07-23 06:31:23.860123,2021-07-07 03:34:31.301054,282,SET100 / SETCLMV / SETTHSI,19.20,26.25,17.60,9.50,2.15,894.67,17177.62,81.32,1.05,282,2017-07-23 07:24:58.919062,2022-01-14 23:24:46.032390,both
21,295,MEGA,MEGA LIFESCIENCES PUBLIC COMPANY LIMITED,Services,Commerce,SET100 / SETCLMV / SETWB,www.megawecare.com,2017-07-23 06:31:25.351627,2019-11-19 07:12:40.271241,295,SET100 / SETCLMV / SETWB,48.75,56.50,32.25,22.64,5.69,435.93,42503.64,235.92,0.46,295,2017-07-23 07:25:00.817927,2022-01-14 23:24:46.076498,both
22,339,ORI,ORIGIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.origin.co.th,2017-07-23 06:31:31.201362,2022-01-15 03:54:33.819163,339,SET100 / SETHD / SETTHSI,11.20,12.00,6.70,9.07,2.20,1226.43,27472.06,130.29,1.03,339,2017-07-23 07:25:07.542864,2022-01-14 23:24:46.174118,both
23,358,PLANB,PLAN B MEDIA PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100 / SETTHSI,www.planbmedia.co.th,2017-07-23 06:31:33.542008,2022-01-15 03:54:33.844719,358,SET100 / SETTHSI,8.15,8.65,4.89,644.55,6.57,419.32,34174.36,301.79,1.44,358,2017-07-23 07:25:11.061904,2022-01-14 23:24:46.229788,both
24,381,PTG,PTG ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETHD / SETTHSI,www.ptgenergy.co.th,2017-07-23 06:31:37.033593,2022-01-15 03:54:33.870627,381,SET100 / SETHD / SETTHSI,15.10,21.90,14.00,14.30,3.08,1670.00,25217.00,253.99,1.07,381,2017-07-23 07:25:15.301004,2022-01-14 23:24:46.281282,both
25,388,QH,QUALITY HOUSES PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD,www.qh.co.th,2017-07-23 06:31:38.049820,2017-07-23 06:31:38.049820,388,SET100 / SETHD,2.30,2.58,2.14,14.04,0.93,10714.38,24643.08,64.19,0.41,388,2017-07-23 07:25:16.740132,2022-01-14 23:24:46.311391,both
46,703,RBF,R&B FOOD SUPPLY PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET100 / SETCLMV / SETWB,https://www.rbfoodsupply.co.th,2019-11-19 07:12:42.164667,2021-01-26 15:42:21.835422,702,SET100 / SETCLMV / SETWB,22.60,24.50,8.70,103.11,10.93,2000.00,45200.00,226.13,0.65,703,2019-11-20 04:28:54.041765,2022-01-14 23:24:46.324324,both
26,396,RCL,REGIONAL CONTAINER LINES PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100 / SETCLMV,www.rclgroup.com,2017-07-23 06:31:39.448926,2022-01-15 03:54:33.885404,396,SET100 / SETCLMV,50.50,67.75,17.40,3.76,2.19,828.75,41851.88,527.23,0.66,396,2017-07-23 07:25:18.161903,2022-01-14 23:24:46.330192,both
27,408,RS,RS PUBLIC COMPANY LIMITED,Services,Commerce,SET100 / SETTHSI,www.rs.co.th,2017-07-23 06:31:41.422986,2022-01-15 03:54:33.893422,408,SET100 / SETTHSI,20.70,30.00,16.80,66.95,9.03,972.50,20130.69,278.72,0.83,408,2017-07-23 07:25:20.501321,2022-01-14 23:24:46.361223,both
28,446,SINGER,SINGER THAILAND PUBLIC COMPANY LIMITED,Services,Commerce,SET100,www.singerthai.co.th,2017-07-23 06:31:47.349266,2021-07-07 03:34:31.443946,446,SET100,51.25,55.00,24.17,67.92,10.83,811.05,41566.54,163.77,1.24,446,2017-07-23 07:25:25.725583,2022-01-14 23:24:46.494522,both
29,447,SIRI,SANSIRI PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.sansiri.com,2017-07-23 06:31:47.490953,2022-01-15 03:54:33.933014,447,SET100 / SETHD / SETTHSI,1.34,1.52,0.82,8.81,0.51,15924.87,19943.29,276.77,1.42,447,2017-07-23 07:25:25.893076,2022-01-14 23:24:46.500652,both
30,462,SPALI,SUPALAI PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD,www.supalai.com,2017-07-23 06:31:49.499207,2022-01-15 03:54:33.954571,462,SET100 / SETHD,22.30,23.60,19.00,7.17,1.11,2143.08,47790.67,146.42,0.61,462,2017-07-23 07:25:28.119924,2022-01-14 23:24:46.561162,both
31,470,SPRC,STAR PETROLEUM REFINING PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV,www.sprc.co.th,2017-07-23 06:31:50.615829,2021-01-26 15:42:21.979900,470,SET100 / SETCLMV,10.70,11.50,7.75,12.36,1.41,30004.44,46394.15,248.89,1.36,470,2017-07-23 07:25:29.084945,2022-01-14 23:24:46.593511,both
32,481,STA,SRI TRANG AGRO-INDUSTRY PUBLIC COMPANY LIMITED,Agro & Food Industry,Agribusiness,SET100 / SETTHSI / SETWB,www.sritranggroup.com,2017-07-23 06:31:51.957277,2022-01-15 03:54:33.967192,481,SET100 / SETTHSI / SETWB,31.50,56.75,28.00,2.45,1.04,1536.00,48384.00,216.72,0.09,481,2017-07-23 07:25:30.398837,2022-01-14 23:24:46.630610,both
48,735,STARK,STARK CORPORATION PUBLIC COMPANY LIMITED,Industrials,Industrial Materials & Machinery,SET100 / SETCLMV,www.starkcorporation.com,2021-08-29 06:31:50.811900,2022-01-15 03:54:33.973116,735,SET100 / SETCLMV,4.52,5.45,3.68,23.20,9.27,11906.40,53816.95,290.73,0.67,735,2021-08-29 06:32:49.488253,2022-01-14 23:24:46.642322,both
33,484,STEC,SINO-THAI ENGINEERING AND CONSTRUCTION PUBLIC ...,Property & Construction,Construction Services,SET100,www.stecon.co.th,2017-07-23 06:31:52.331814,2017-07-23 06:31:52.331814,484,SET100,15.10,16.30,11.40,28.67,1.45,1525.11,23029.11,227.20,1.13,484,2017-07-23 07:25:30.758858,2022-01-14 23:24:46.648065,both
34,487,SUPER,SUPER ENERGY CORPORATION PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV,www.supercorp.co.th,2017-07-23 06:31:52.722805,2021-01-26 15:42:22.025063,487,SET100 / SETCLMV,0.94,1.07,0.88,12.59,1.32,2734.95,25708.50,279.23,0.83,487,2017-07-23 07:25:31.167081,2022-01-14 23:24:46.667367,both
35,495,SYNEX,SYNNEX (THAILAND) PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET100 / SETTHSI,www.synnex.co.th,2017-07-23 06:31:54.023006,2021-07-07 03:34:31.517285,495,SET100 / SETTHSI,34.00,37.00,16.10,37.71,7.98,847.36,28810.28,172.74,1.73,495,2017-07-23 07:25:32.155841,2022-01-14 23:24:46.706321,both
36,502,TASCO,TIPCO ASPHALT PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET100 / SETCLMV / SETHD / SETTHSI,www.tipcoasphalt.com,2017-07-23 06:31:54.989965,2021-01-26 15:42:22.050711,502,SET100 / SETCLMV / SETHD / SETTHSI,18.30,22.30,17.70,11.73,1.92,1578.36,28884.02,79.66,0.55,502,2017-07-23 07:25:32.993496,2022-01-14 23:24:46.719042,both
37,503,TCAP,THANACHART CAPITAL PUBLIC COMPANY LIMITED,Financials,Banking,SET100 / SETHD,www.thanachart.co.th,2017-07-23 06:31:55.147304,2021-01-26 15:42:22.055802,503,SET100 / SETHD,41.25,41.75,31.50,10.29,0.68,11651.17,48061.06,325.64,0.87,503,2017-07-23 07:25:33.114452,2022-01-14 23:24:46.724732,both
38,522,THANI,RATCHTHANI LEASING PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET100 / SETHD / SETTHSI,www.ratchthani.com,2017-07-23 06:31:58.264521,2022-01-15 03:54:34.004621,522,SET100 / SETHD / SETTHSI,4.48,5.30,3.92,14.62,2.28,5663.03,25370.37,214.04,0.93,522,2017-07-23 07:25:35.954068,2022-01-14 23:24:46.755022,both
43,688,TQM,TQM CORPORATION PUBLIC COMPANY LIMITED,Financials,Insurance,SET100 / SETTHSI,www.tqmcorp.co.th,2019-03-03 03:44:32.271014,2022-01-15 03:54:34.057642,694,SET100 / SETTHSI,48.25,68.00,46.25,33.81,12.49,300.00,28950.00,145.51,0.59,688,2019-03-03 15:21:40.330927,2022-01-14 23:24:46.888549,both
39,579,TTA,THORESEN THAI AGENCIES PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100 / SETWB,www.thoresen.com,2017-07-23 06:32:08.938394,2022-01-15 03:54:34.070841,579,SET100 / SETWB,9.95,19.50,5.40,7.42,0.91,1822.46,18133.52,394.77,1.10,579,2017-07-23 07:25:45.656460,2022-01-14 23:24:46.925296,both
40,585,TVO,THAI VEGETABLE OIL PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET100 / SETHD / SETTHSI / SETWB,www.tvothai.com,2017-07-23 06:32:09.904659,2019-11-19 07:12:46.269894,585,SET100 / SETHD / SETTHSI / SETWB,31.75,37.50,29.50,10.55,2.73,808.61,25673.40,58.47,0.49,585,2017-07-23 07:25:46.640728,2022-01-14 23:24:46.969075,both
41,609,VGI,VGI PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100 / SETTHSI,www.vgi.co.th,2017-07-23 06:32:13.813210,2022-01-15 03:54:34.106199,609,SET100 / SETTHSI,6.60,7.50,5.45,52.99,3.68,861.12,56833.69,146.83,1.28,609,2017-07-23 07:25:50.328060,2022-01-14 23:24:47.013850,both
42,619,WHA,WHA CORPORATION PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.wha.co.th,2017-07-23 06:32:15.496450,2021-07-07 03:34:31.651675,619,SET100 / SETHD / SETTHSI,3.38,3.78,2.98,25.15,1.75,1494.68,50520.30,264.26,1.09,619,2017-07-23 07:25:51.965588,2022-01-14 23:24:47.049554,both