### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 5, 28), '2022-21')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 5, 27), datetime.date(2022, 5, 20))

In [3]:
s50_pct = 10
s100_pct = 15
s999_pct = 20

### Restart and Run All Cells

In [4]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [5]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [6]:
names = tmp['name']
name = names.to_string(index=False)
name

'BCT'

In [7]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'BCT'

In [8]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'BCT'

In [9]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'BCT'

In [10]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'BCT'

In [11]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(38, 4)

In [12]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
"""
sql = sql % (today)
print(sql)
#sql = sql % (today, today)
#AND ('%s'::date - date(updated_at)::date) < 15
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-05-27'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0

(210, 10)

In [13]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [14]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.head(10).style.format(format_dict)

In [15]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [16]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,_merge
7,BCT,1.0,2021.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Start of Gain Percentage Calculation

In [18]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks

,name,max_price,min_price,pe,pbv,dly_vol,beta,market
0,ADVANC,242.00,168.00,24.38,8.57,1827216.23,2.12,SET50 / SETHD / SETTHSI
1,AEONTS,209.00,168.00,13.26,2.37,154247.76,14.21,SET100
2,AH,28.50,19.80,8.04,0.91,13863.28,1.13,sSET / SETTHSI
3,AIT,9.80,4.24,12.44,2.21,45443.18,0.16,sSET
4,AJ,23.00,15.60,15.62,1.49,4992.66,0.32,sSET / SETCLMV
5,ALUCON,220.00,167.00,12.97,1.30,212.40,3.10,SET
6,AMATA,23.00,17.10,12.67,1.22,137329.21,0.48,SET100 / SETCLMV / SETTHSI
7,ANAN,2.40,1.11,0.00,0.36,8670.79,-0.10,sSET
8,AOT,70.00,55.50,0.00,9.41,2519662.52,-0.53,SET50 / SETTHSI / SETWB
9,AP,12.00,7.45,7.17,1.02,259051.85,0.55,SET100 / SETHD
10,ASIAN,22.90,13.90,12.54,3.15,58023.83,0.31,sSET / SETTHSI
11,ASK,49.50,30.50,17.15,2.27,31836.67,0.67,SET
12,ASP,4.24,3.06,8.69,1.32,5473.94,0.07,sSET
13,BA,13.00,7.20,0.00,1.55,51138.12,-0.49,SETWB
14,BANPU,14.90,9.65,4.41,0.96,560450.40,1.52,SET50 / SETCLMV / SETTHSI
15,BAT-3K,280.00,171.00,37.20,2.86,3.52,0.04,SET
16,BAY,39.25,27.25,7.05,0.75,8054.40,1.01,SET
17,BBL,149.00,100.00,9.26,0.50,1003823.74,3.73,SET50 / SETHD / SETTHSI
18,BCH,26.75,17.70,5.54,3.16,429714.30,0.81,SET100 / SETWB
19,BCP,35.25,22.60,4.52,0.75,565495.48,3.12,SET100 / SETCLMV / SETTHSI
20,BCPG,15.40,11.10,11.98,1.19,93708.28,0.47,SET100 / SETCLMV / SETHD / SETTHSI
21,BDMS,27.75,21.30,40.36,4.64,1842432.87,0.22,SET50 / SETCLMV / SETTHSI / SETWB
22,BEAUTY,1.98,1.31,0.00,5.48,5264.12,0.00,SET
23,BEC,17.90,10.70,38.41,4.82,137605.89,0.09,SET100
24,BEM,9.25,7.55,133.63,3.64,316884.42,0.02,SET50 / SETTHSI / SETWB
25,BFIT,45.75,24.50,25.05,1.78,97198.86,0.17,SET
26,BGRIM,46.50,29.75,51.74,2.85,313623.41,-0.03,SET50 / SETCLMV / SETTHSI
27,BH,176.00,116.50,73.79,7.59,500665.40,0.91,SET50 / SETCLMV / SETWB
28,BJC,37.50,29.25,37.00,1.20,205797.38,0.31,SETCLMV / SETTHSI / SETWB
29,BKI,293.00,263.00,0.00,0.93,3459.74,-33.63,SET
30,BLA,48.00,24.70,21.44,1.38,215878.57,0.47,SET100 / SETTHSI
31,BLAND,1.19,0.94,0.00,0.39,5968.72,-0.03,SET
32,BPP,20.30,15.30,9.67,1.00,23384.08,0.96,SET100 / SETCLMV / SETHD / SETTHSI
33,BTC,1.40,0.60,999.99,1.48,7.88,0.77,SET
34,BTS,10.20,8.30,24.54,1.86,256374.50,0.23,SET50 / SETTHSI / SETWB
35,BTSGIF,5.10,3.76,0.00,0.55,6059.82,0.00,SET
36,CBG,156.00,96.75,38.19,10.00,764911.75,0.66,SET50 / SETCLMV / SETWB
37,CENTEL,46.50,26.75,0.00,3.07,116948.27,-0.03,SET100 / SETTHSI / SETWB
38,CHG,4.44,3.08,7.46,4.44,190263.34,0.12,SET100 / SETWB
39,CK,23.70,17.40,43.10,1.37,118844.46,0.07,SET100 / SETCLMV / SETTHSI
40,CKP,6.30,4.70,21.45,1.80,54907.84,0.00,SET100 / SETCLMV / SETTHSI
41,CNS,2.50,1.54,25.71,0.63,2.16,0.30,SET
42,COM7,43.75,30.50,31.60,14.82,272602.28,0.33,SET50 / SETTHSI / SETWB
43,CPALL,69.00,56.50,42.19,5.44,1227518.25,0.36,SET50 / SETTHSI / SETWB
44,CPF,27.75,22.70,24.49,1.00,1160712.93,0.34,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
45,CPN,63.75,45.25,48.14,3.60,266512.42,0.52,SET50 / SETTHSI
46,CPNCG,12.80,10.60,0.00,1.03,2961.24,0.00,SET
47,CPNRF,22.10,17.00,999.99,1.61,24.56,0.15,SET
48,DCC,3.40,2.70,14.78,4.35,29190.41,0.06,SET
49,DCON,0.70,0.42,19.85,0.94,379.87,0.01,SET
50,DELTA,790.00,313.00,53.14,9.34,493039.32,2.23,SET
51,DIF,14.50,12.10,0.00,0.84,85947.09,0.00,SET
52,DRT,9.20,7.05,10.88,2.71,844.44,0.22,sSET / SETCLMV / SETTHSI
53,DTAC,51.50,28.75,31.05,5.50,274204.18,0.31,SET50
54,EA,105.50,57.00,54.68,9.80,1578282.81,0.37,SET50 / SETTHSI
55,EASTW,10.50,6.00,11.29,0.92,7881.39,0.15,SETTHSI
56,ECL,3.82,1.56,15.07,1.51,91578.28,0.05,SET
57,EGATIF,12.50,8.55,0.00,0.95,9551.70,0.00,SET
58,EGCO,187.00,160.00,12.34,0.79,150425.99,7.82,SET50 / SETCLMV / SETHD / SETTHSI
59,EPCO,4.40,2.56,4.89,0.97,3.51,0.76,sSET
60,EPG,13.70,8.60,17.32,2.51,78999.00,0.45,SET100 / SETTHSI
61,ESSO,10.10,7.00,4.56,1.37,411603.39,1.70,SET100
62,FOCUS,2.32,0.81,999.99,2.80,7.35,0.73,mai
63,FORTH,53.00,8.90,54.91,21.94,162366.08,0.25,SET
64,FSMART,28.00,7.70,41.77,12.78,215429.88,0.11,mai
65,GC,6.73,4.32,13.31,3.99,503.30,0.14,SET
66,GFPT,17.10,10.60,34.85,1.40,100699.37,0.36,sSET / SETTHSI
67,GGC,15.00,9.90,20.96,1.45,11385.00,0.48,sSET
68,GL,5.80,2.24,999.99,1.00,22.39,1.35,sSET
69,GLOBAL,23.70,17.63,28.12,4.80,151199.01,0.25,SET50 / SETCLMV / SETTHSI / SETWB
70,GPSC,89.75,59.50,32.27,1.68,511091.29,0.11,SET50 / SETTHSI
71,GRAMMY,18.90,10.00,0.00,7.04,113.09,-0.19,SET
72,GUNKUL,7.20,3.40,23.42,3.73,265002.74,0.06,SET100 / SETCLMV / SETHD / SETTHSI
73,HANA,96.25,43.00,22.63,1.57,528503.60,0.45,SET100 / SETTHSI
74,HFT,9.75,6.35,10.94,1.28,3567.82,0.15,sSET
75,HMPRO,16.60,12.40,34.12,7.81,515236.10,0.11,SET50 / SETTHSI / SETWB
76,HREIT,9.30,8.30,0.00,0.91,1076.67,0.00,SET
77,HTC,40.00,28.50,11.85,1.57,21622.84,0.52,sSET / SETTHSI
78,ICHI,13.30,8.65,23.46,1.98,99957.66,0.08,sSET / SETCLMV
79,IMPACT,20.40,14.40,0.00,1.50,6072.16,0.00,SET
80,INTUCH,90.75,60.00,21.55,6.01,308846.99,0.80,SET50 / SETCLMV / SETHD / SETTHSI
81,IRPC,4.76,3.06,6.63,0.78,489503.76,0.07,SET50 / SETCLMV / SETTHSI
82,IVL,52.00,36.00,8.05,1.56,493723.44,2.47,SET50 / SETTHSI
83,JASIF,11.30,9.60,0.00,0.98,99328.63,0.00,SET
84,JMART,64.00,30.50,34.22,4.72,1019929.49,0.23,SET100
85,JMT,88.25,39.32,76.41,5.14,824556.25,0.27,SET100
86,JWD,24.40,11.60,29.14,4.29,70832.97,0.12,sSET / SETTHSI
87,KBANK,175.00,101.00,8.98,0.71,1898717.60,4.58,SET50 / SETCLMV / SETTHSI
88,KCE,95.00,53.50,30.57,5.50,1352944.98,0.50,SET50
89,KGI,8.40,5.00,7.09,1.32,7791.84,0.16,sSET
90,KKP,76.25,49.75,8.67,1.13,307587.92,2.43,SET100 / SETCLMV / SETHD / SETTHSI
91,KSL,4.84,3.18,26.90,0.86,40333.30,0.08,SETCLMV
92,KTB,15.30,9.90,8.46,0.58,436287.28,0.63,SET50 / SETHD / SETTHSI
93,KTC,75.00,52.75,26.25,5.50,380234.24,0.68,SET50 / SETTHSI
94,KYE,458.00,352.00,20.97,0.88,643.18,17.02,SET
95,LALIN,11.80,8.10,6.16,1.00,8328.04,0.35,sSET
96,LANNA,29.00,11.20,5.15,1.59,28762.65,1.17,sSET
97,LH,9.90,7.70,14.68,2.02,218097.64,0.16,SET50 / SETHD
98,LHFG,1.69,1.03,19.99,0.69,5487.23,0.02,SET
99,LHK,5.95,3.20,10.58,1.49,230910.25,0.55,SET
100,LIT,3.64,1.94,0.00,0.82,13216.63,-0.05,mai
101,LPH,6.90,5.05,7.32,2.28,4342.58,0.21,sSET
102,LPN,5.80,4.26,18.20,0.59,5912.81,0.13,sSET / SETTHSI
103,M,57.50,48.50,152.99,3.56,18351.53,0.29,SETWB
104,MACO,1.07,0.45,174.01,1.49,37218.83,0.00,sSET
105,MAJOR,26.25,17.90,10.84,2.56,107318.83,0.03,SET100 / SETCLMV / SETTHSI
106,MAKRO,57.25,33.75,27.58,1.33,277373.24,0.19,SET
107,MBAX,6.50,4.92,11.15,1.75,782.52,0.09,mai
108,MST,14.70,11.30,8.80,1.32,1492.77,0.49,SET
109,MC,10.10,8.70,19.12,2.06,4924.81,0.46,sSET
110,MCS,16.20,11.70,4.13,1.33,17705.46,0.55,sSET
111,MEGA,56.50,34.50,20.65,5.35,105842.12,0.70,SET100 / SETCLMV / SETWB
112,MINT,36.25,27.00,0.00,2.83,605021.72,-0.80,SET50 / SETCLMV / SETTHSI / SETWB
113,MTC,65.50,40.25,20.36,3.84,533924.98,0.65,SET50 / SETTHSI
114,NOBLE,7.95,4.76,15.52,1.22,9610.99,-0.01,sSET
115,NPPG,1.47,0.79,999.99,1.72,11.88,0.69,SET
116,OISHI,50.50,39.00,21.13,2.32,141.15,1.74,SET
117,ORI,12.70,8.20,8.37,1.66,45292.25,0.30,SET100 / SETHD / SETTHSI
118,PAP,6.90,3.78,9.20,0.98,27022.70,0.03,sSET
119,PCSGH,6.00,4.86,12.94,1.59,185.62,0.14,SET
120,PDG,4.22,3.45,24.06,1.79,173.23,0.03,mai
121,PLANB,8.65,4.89,249.40,4.42,56995.28,0.03,SET100 / SETTHSI
122,POPF,12.70,10.80,0.00,1.06,2541.15,0.00,SET
123,PRANDA,4.56,3.84,999.99,0.79,2.81,0.35,SET
124,PREB,9.20,7.85,9.08,1.04,1750.62,0.28,SET
125,PSH,15.60,12.00,12.57,0.66,10193.99,0.25,SETTHSI
126,PTG,19.80,12.90,38.66,2.98,204752.44,0.10,SET100 / SETHD / SETTHSI
127,PTL,30.50,22.30,6.24,1.26,7244.80,3.94,SET
128,PTT,42.00,34.00,10.57,1.04,1355252.39,0.89,SET50 / SETCLMV / SETHD / SETTHSI
129,PTTEP,167.50,100.50,17.36,1.59,3668816.20,2.64,SET50 / SETCLMV / SETHD / SETTHSI
130,PTTGC,67.00,44.25,5.42,0.68,463039.69,0.93,SET50 / SETCLMV / SETTHSI
131,QH,2.44,2.12,13.28,0.88,11379.82,0.05,SET100 / SETHD
132,RATCH,51.01,38.00,12.37,1.23,169483.21,1.09,SET50 / SETCLMV / SETHD / SETTHSI
133,RCL,67.75,36.75,1.60,1.09,406969.70,9.92,SET100 / SETCLMV
134,RJH,39.00,27.75,7.71,4.32,23869.64,1.58,sSET
135,ROJNA,8.90,5.55,5.03,0.73,2604.48,0.41,sSET
136,RS,26.00,14.90,354.76,6.81,79035.12,0.06,SET100 / SETTHSI
137,S11,7.50,5.55,8.82,1.10,1679.18,0.13,sSET
138,SAPPE,35.75,23.70,22.27,3.45,10684.21,0.50,sSET
139,SAT,24.80,17.50,8.97,1.01,21715.70,0.61,sSET / SETTHSI
140,SAWAD,78.25,46.50,16.86,2.90,747222.91,0.75,SET50
141,SC,4.10,2.90,7.14,0.71,22760.08,0.09,sSET / SETTHSI
142,SCB,121.50,105.50,9.17,9.99,872048.19,3.00,SET50
143,SCC,446.00,356.00,10.69,1.21,602451.19,7.37,SET50 / SETCLMV / SETHD / SETTHSI
144,SCCC,184.50,146.50,11.21,1.36,9402.60,2.69,SETCLMV / SETTHSI
145,SENA,5.50,3.44,4.41,0.74,17558.54,0.23,sSET
146,SGP,15.70,10.40,6.08,1.22,6636.72,0.54,SET
147,SINGER,59.25,32.43,54.74,2.81,167489.00,0.27,SET100
148,SIRI,1.52,1.05,8.54,0.42,65087.57,0.01,SET100 / SETHD / SETTHSI
149,SIS,48.75,28.50,13.43,3.10,39555.20,0.55,sSET
150,SKR,15.80,8.65,17.49,4.99,3050.64,0.19,SET
151,SMM,3.44,0.83,999.99,999.99,13.20,-0.14,SET
152,SMPC,15.80,10.30,9.02,3.25,12178.83,0.54,sSET
153,SNC,23.80,13.20,8.95,1.40,39593.91,0.76,sSET / SETTHSI
154,SPALI,23.60,19.70,5.30,0.92,100169.27,0.60,SET100 / SETHD
155,SPC,71.00,56.25,12.70,0.93,7973.79,1.15,SET
156,SPCG,19.80,16.10,7.33,1.01,10006.00,0.58,SET
157,SPPT,6.00,3.20,999.99,1.95,5.42,0.74,SET
158,SPRC,12.30,7.75,6.38,1.29,319499.18,1.22,SET100 / SETCLMV
159,SSTSS,9.90,9.40,999.99,0.93,0.27,-0.03,SET
160,STA,45.75,20.60,3.22,0.76,232916.24,0.98,SET100 / SETTHSI / SETWB
161,STANLY,198.50,160.00,8.92,0.68,25139.35,19.85,sSET
162,STEC,16.10,12.00,26.81,1.08,107229.87,0.15,SET100
163,SUPER,1.06,0.78,10.78,1.12,12397.56,0.02,SET100 / SETCLMV
164,SVI,11.70,4.66,10.90,3.04,62690.50,0.12,SET
165,SYNEX,37.00,20.50,20.11,4.37,37536.80,0.26,SET100 / SETTHSI
166,TASCO,21.20,15.50,13.01,1.72,20863.17,0.14,SET100 / SETCLMV / SETHD / SETTHSI
167,TCAP,45.00,31.75,7.85,0.62,153862.02,0.99,SET100 / SETHD
168,TFG,5.35,3.68,38.10,2.30,52455.08,0.11,SET
169,TFUND,11.70,9.90,999.99,0.98,10.44,0.17,SET
170,TGROWTH,11.60,9.75,999.99,1.00,7.23,0.26,SET
171,THANI,5.30,4.00,14.02,2.03,175089.46,0.08,SET100 / SETHD / SETTHSI
172,TIC,51.00,26.00,999.99,1.11,0.27,0.26,SET
173,TIPH,90.00,31.75,20.73,3.65,542936.70,1.06,SET
174,TIPCO,10.40,8.55,10.90,0.98,11013.91,0.01,sSET
175,TISCO,101.50,87.00,10.54,1.67,525268.96,2.24,SET50 / SETHD / SETTHSI
176,TK,13.10,8.65,10.50,0.93,15717.64,0.27,sSET
177,TKN,8.55,6.40,56.31,5.16,2555.69,0.04,sSET
178,TKS,17.36,8.23,4.61,1.05,14234.62,0.30,sSET
179,TLOGIS,12.00,10.00,999.99,1.00,2.92,0.04,SET
180,TTB,1.50,0.95,11.18,0.57,177394.83,0.03,SET50 / SETHD / SETTHSI
181,TMT,12.10,9.05,6.63,2.11,5193.71,0.15,sSET / SETTHSI
182,TMW,45.00,30.00,10.42,0.56,105.96,2.90,mai
183,TOP,61.50,42.50,7.09,0.91,466223.32,3.52,SET50 / SETCLMV / SETTHSI
184,TPIPL,2.06,1.41,4.77,0.60,32516.29,0.10,SET
185,TPIPP,4.56,3.50,7.88,0.99,7669.39,0.10,SET
186,TR,62.00,30.00,2.72,0.34,1312.81,13.95,SET
187,TRUE,5.70,3.00,0.00,1.82,799540.69,-0.05,SET50 / SETTHSI
188,TSE,3.70,2.04,7.61,0.75,1628.48,0.16,sSET
189,TSTH,2.22,1.27,4.60,0.95,111090.52,0.31,sSET / SETCLMV / SETTHSI
190,TTA,19.50,8.50,3.80,0.80,490238.92,0.54,SET100 / SETWB
191,TTW,12.30,10.70,14.56,2.96,17992.85,0.15,SETTHSI
192,TU,23.00,16.00,9.95,1.28,563689.17,0.36,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
193,TVI,33.75,5.90,11.66,2.65,14900.51,0.37,SET
194,TVO,35.25,29.50,13.91,2.52,36008.11,0.82,SET100 / SETHD / SETTHSI / SETWB
195,UNIPF,10.20,9.30,999.99,0.95,0.43,0.08,SET
196,UTP,23.00,15.40,11.66,2.55,2486.90,0.42,sSET / SETCLMV
197,VGI,6.96,4.64,0.00,1.92,169061.34,-0.01,SET100 / SETTHSI
198,VIBHA,2.82,2.10,16.94,2.66,27957.46,0.03,SETWB
199,VNT,39.00,30.00,5.41,1.36,47.57,0.44,SET
200,WG,185.50,116.00,19.46,1.65,0.17,-0.07,SET
201,WHA,3.78,2.98,15.18,1.53,169462.04,0.04,SET100 / SETHD / SETTHSI
202,WHART,14.08,10.30,0.00,0.94,6652.06,0.00,SET
203,WHAUP,4.70,3.76,21.95,1.17,9201.90,0.02,sSET / SETTHSI
204,WICE,25.25,7.75,16.73,7.05,149470.14,0.24,sSET
205,WORK,32.50,18.40,43.84,2.24,58580.90,0.07,SET
206,INGRS,1.30,0.57,0.00,0.71,961.12,-0.14,SET
207,PRM,7.75,5.45,11.16,1.57,7118.46,0.11,sSET
208,EARTH,4.74,1.07,7.47,0.48,131.20,1.07,SET
209,SKN,9.90,4.82,7.13,1.93,11391.05,0.28,sSET
210,SSP,14.27,9.10,12.75,1.82,29436.76,0.24,sSET / SETCLMV
211,TOA,38.50,25.75,33.82,4.52,6427.19,0.20,SETTHSI
212,CPNREIT,23.90,18.20,0.00,1.45,19899.96,0.00,SET
213,GOLDPF,7.70,6.45,999.99,0.74,0.89,0.17,SET
214,GULF,52.75,32.75,59.40,5.41,633888.77,0.29,SET50 / SETCLMV / SETTHSI
215,GVREIT,11.00,9.45,0.00,0.85,1096.30,0.00,SET
216,THG,99.50,24.90,28.63,6.30,774137.16,0.62,SETCLMV / SETWB
217,AIMIRT,13.40,11.90,0.00,1.02,2132.14,0.00,SET
218,INOX,1.85,1.00,9.37,1.00,133925.82,0.05,SET
219,BGC,13.10,9.75,13.20,1.64,22062.91,0.31,sSET / SETCLMV / SETTHSI
220,CPTGF,9.40,8.00,0.00,0.81,3233.08,0.00,SET
221,NER,8.65,6.30,6.13,2.02,79204.19,0.27,sSET
222,OSP,39.00,31.50,35.04,5.10,276934.26,0.25,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
223,TFFIF,8.70,7.00,0.00,0.70,12400.95,0.00,SET
224,TQM,61.75,39.50,30.58,9.74,184327.53,0.36,SET100 / SETTHSI
225,ACE,4.60,2.74,19.55,2.10,13927.92,0.03,SET100
226,AWC,5.20,3.60,75.26,1.98,148599.82,0.02,SET50 / SETTHSI
227,DOHOME,25.62,17.58,30.83,4.71,158015.32,0.16,SET100 / SETWB
228,RBF,24.50,14.30,60.24,7.00,77952.70,0.08,SET100 / SETCLMV / SETWB
229,SPRIME,9.00,5.50,0.00,0.67,1583.94,0.00,SET
230,SUPEREIF,12.30,10.70,0.00,1.17,3218.92,0.00,SET
231,TTLPF,24.50,20.50,0.00,1.95,123.17,0.00,SET
232,CRC,41.75,29.75,258.91,3.85,281712.16,0.20,SET50 / SETCLMV / SETTHSI / SETWB
233,BAM,22.30,15.80,22.44,1.39,131962.83,0.10,SET100
234,COTTO,3.18,1.97,21.18,1.40,4384.60,0.04,SET
235,SCGP,71.50,50.75,30.34,2.47,323284.09,0.39,SET50 / SETCLMV / SETTHSI
236,STGT,46.50,17.80,3.93,1.48,245268.11,0.37,SET50 / SETTHSI
237,OR,32.00,23.80,28.63,3.13,499786.04,0.32,SET50 / SETCLMV
238,AIE,6.88,3.62,11.75,2.06,3438.03,0.09,sSET
239,TIDLOR,42.48,30.88,25.34,3.61,694072.31,0.41,SET50
240,LPF,17.00,10.30,0.00,1.10,8643.59,0.00,SET
241,ILM,25.00,12.80,20.27,1.74,12339.98,0.32,sSET
242,VNG,10.10,6.45,9.66,1.86,16459.01,0.18,sSET / SETCLMV
243,ASW,9.40,7.73,8.09,1.37,9982.17,0.26,sSET
244,BCT,59.00,43.00,3.61,0.63,309.48,10.34,SET
245,IMH,23.30,5.85,6.88,3.92,9353.89,0.50,mai
246,PSL,26.00,13.70,5.52,1.99,356113.92,0.83,SET
247,STARK,5.45,3.68,20.02,8.26,306797.23,0.05,SET100 / SETCLMV
248,IP,24.17,17.80,50.90,7.49,9473.95,0.10,mai
249,TYCN,4.86,3.16,8.57,0.46,69.99,0.21,SET
250,KEX,43.75,18.90,0.00,4.53,314089.14,-0.28,SET100 / SETTHSI / SETWB

In [19]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [20]:
my_stocks["mrkt"].value_counts()

SET999    143
SET50      50
SET100     50
mai         8
Name: mrkt, dtype: int64

In [21]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(37, 21)

In [22]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= s50_pct)
flt_set50 = consensus2[set50]
flt_set50[cols].style.format(format_dict)

In [23]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < s50_pct)]\
    [cols].style.format(format_dict)

In [24]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= s100_pct)
flt_set100 = consensus2[set100]
flt_set100[cols].style.format(format_dict)

In [25]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < s100_pct)]\
    [cols].style.format(format_dict)

In [26]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= s999_pct) 
flt_set999 = consensus2[set999]
flt_set999[cols].style.format(format_dict)

In [27]:
consensus2.loc\
    [(consensus2.mrkt.str.contains('SET999')) & (consensus2.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [28]:
mai = consensus2.mrkt.str.contains('mai') & (consensus2.upside >= s999_pct)
flt_mai = consensus2[mai]
flt_mai[cols].style.format(format_dict)

In [29]:
consensus2.loc\
    [consensus2.mrkt.str.contains('mai') & (consensus2.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [30]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [31]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [32]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 23 stocks'

In [33]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

400

In [34]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to update to port_lite stocks

In [35]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [36]:
final.shape

(23, 24)

In [37]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

final[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [41]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(59, 18)

In [42]:
df_merge = pd.merge(final, stocks, on='name', how='outer', indicator=True)
df_merge

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,max_price_x,min_price_x,pe,pbv,dly_vol,beta_x,market_x,mrkt,sector,subsector,id,max_price_y,min_price_y,status,buy_target,sell_target,volume,beta_y,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market_y,_merge
0,BANPU,1.0,2022.0,1.0,12.20,14.69,6.0,2.0,0.0,8.0,2022-05-27,0.0,2.49,20.41,14.90,9.65,4.41,0.96,560450.40,1.52,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,9712,14.90,9.65,O,12.00,0.00,1316230.44,1.52,0.00,12000,-4,4,0.0,0,0,XXX,SET50,both
1,BBL,1.0,2022.0,1.0,128.00,163.10,12.0,1.0,0.0,3.7,2022-05-27,0.0,35.10,27.42,149.00,100.00,9.26,0.50,1003823.74,3.73,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,694,149.00,100.00,O,125.00,0.00,2097.92,1.30,0.00,2400,-9,11,0.0,0,0,1L,SET50,both
2,BDMS,1.0,2022.0,1.0,26.00,28.99,14.0,3.0,0.0,1.6,2022-05-27,0.0,2.99,11.50,27.75,21.30,40.36,4.64,1842432.87,0.22,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Health Care Services,707,26.75,20.40,B,24.40,27.50,1132.04,0.39,26.00,1500,-6,7,4500.0,0,0,RD05pct,SET50,both
3,GLOBAL,1.0,2022.0,1.0,20.60,25.82,9.0,1.0,0.0,1.5,2022-05-27,0.0,5.22,25.34,23.70,17.63,28.12,4.80,151199.01,0.25,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Commerce,709,23.70,17.63,X,19.40,0.00,323.56,0.63,0.00,9000,-10,9,0.0,0,0,,SET50,both
4,GULF,1.0,2022.0,1.0,47.50,54.39,9.0,2.0,0.0,1.2,2022-05-27,0.0,6.89,14.51,52.75,32.75,59.40,5.41,633888.77,0.29,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,553,52.75,31.50,X,50.00,0.00,1494.99,1.22,0.00,6000,-11,13,0.0,3,0,1L,SET50,both
5,IVL,1.0,2022.0,1.0,49.00,60.11,14.0,0.0,0.0,3.4,2022-05-27,0.0,11.11,22.67,52.00,36.00,8.05,1.56,493723.44,2.47,SET50 / SETTHSI,SET50,Industrials,Petrochemicals & Chemicals,9231,52.00,36.00,B,45.00,50.50,1112.71,1.41,48.00,3000,-11,11,3000.0,0,0,5pct,SET50,both
6,KBANK,1.0,2022.0,1.0,144.50,180.80,14.0,0.0,0.0,3.1,2022-05-27,0.0,36.30,25.12,175.00,101.00,8.98,0.71,1898717.60,4.58,SET50 / SETCLMV / SETTHSI,SET50,Financials,Banking,637,175.00,101.00,O,142.00,144.50,4353.20,1.76,136.50,1500,-17,19,0.0,0,0,5pct,SET50,both
7,TISCO,1.0,2022.0,1.0,89.75,111.50,12.0,1.0,0.0,8.4,2022-05-27,0.0,21.75,24.23,101.50,87.00,10.54,1.67,525268.96,2.24,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,557,102.50,85.00,T,97.50,97.75,559.69,0.55,97.50,1000,-15,19,2000.0,1,12,CP1S,SET50,both
8,TOP,1.0,2022.0,1.0,56.00,67.98,14.0,1.0,0.0,5.6,2022-05-27,0.0,11.98,21.39,61.50,42.50,7.09,0.91,466223.32,3.52,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,9555,61.50,42.50,O,0.00,0.00,817.89,1.22,0.00,0,-4,4,0.0,0,0,XXX,SET50,both
9,TTB,1.0,2022.0,1.0,1.24,1.54,9.0,4.0,0.0,4.9,2022-05-27,0.0,0.30,24.19,1.50,0.95,11.18,0.57,177394.83,0.03,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,9541,1.50,0.95,O,0.00,0.00,708.25,1.40,0.00,0,-4,4,0.0,0,0,XXX,SET50,both
10,AP,1.0,2022.0,1.0,11.00,12.86,14.0,0.0,0.0,5.1,2022-05-27,0.0,1.86,16.91,12.00,7.45,7.17,1.02,259051.85,0.55,SET100 / SETHD,SET100,Property & Construction,Property Development,9711,12.00,7.45,O,10.50,0.00,84742.15,0.55,0.00,10000,-4,4,0.0,0,0,XXX,SET100,both
11,BCPG,1.0,2022.0,1.0,11.90,17.18,6.0,0.0,0.0,3.2,2022-05-26,1.0,5.28,44.37,15.40,11.10,11.98,1.19,93708.28,0.47,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Resources,Energy & Utilities,9053,15.40,11.10,O,0.00,0.00,157.15,0.95,0.00,0,-4,4,0.0,0,0,XXX,SET100,both
12,BPP,1.0,2022.0,1.0,16.00,18.43,2.0,2.0,0.0,4.4,2022-05-26,1.0,2.43,15.19,20.30,15.30,9.67,1.00,23384.08,0.96,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Resources,Energy & Utilities,9074,20.30,15.30,O,0.00,0.00,28.02,0.83,0.00,0,-4,4,0.0,0,0,XXX,SET100,both
13,KKP,1.0,2022.0,1.0,70.00,82.38,12.0,1.0,0.0,5.6,2022-05-27,0.0,12.38,17.69,76.25,49.75,8.67,1.13,307587.92,2.43,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Financials,Banking,700,76.25,49.75,O,69.00,0.00,392.95,0.94,0.00,3000,-10,10,0.0,0,0,3L,SET100,both
14,MEGA,1.0,2022.0,1.0,53.00,61.16,8.0,0.0,0.0,2.5,2022-05-27,0.0,8.16,15.40,56.50,34.50,20.65,5.35,105842.12,0.70,SET100 / SETCLMV / SETWB,SET100,Services,Commerce,529,56.50,32.25,X,41.50,0.00,199.55,0.68,43.00,6000,-11,13,-1500.0,1,0,3L,SET100,both
15,RCL,1.0,2022.0,1.0,46.50,55.25,1.0,0.0,1.0,15.8,2022-05-26,1.0,8.75,18.82,67.75,36.75,1.60,1.09,406969.70,9.92,SET100 / SETCLMV,SET100,Services,Transportation & Logistics,662,67.75,30.50,U,43.50,47.50,407.01,1.22,47.25,4000,-16,26,12000.0,0,0,CP1S,SET100,both
16,SINGER,1.0,2022.0,1.0,52.25,60.85,5.0,0.0,0.0,1.2,2022-05-27,0.0,8.60,16.46,59.25,32.43,54.74,2.81,167489.00,0.27,SET100,SET100,Services,Commerce,620,56.75,32.43,X,0.00,52.75,222.36,1.11,42.25,1500,-10,16,0.0,4,12,25pct,SET100,both
17,AIT,1.0,2022.0,1.0,6.75,8.30,2.0,0.0,0.0,6.9,2022-05-27,0.0,1.55,22.96,9.80,4.24,12.44,2.21,45443.18,0.16,sSET,SET999,Technology,Information & Communication Technology,9011,9.80,4.12,O,0.00,0.00,140.03,1.00,0.00,0,-4,4,0.0,0,0,XXX,SET,both
18,ASK,1.0,2022.0,1.0,41.50,50.79,4.0,0.0,0.0,4.7,2022-05-27,0.0,9.29,22.39,49.50,30.50,17.15,2.27,31836.67,0.67,SET,SET999,Financials,Finance & Securities,9038,49.50,20.06,O,40.00,0.00,59.77,0.81,0.00,3000,-4,4,0.0,0,0,XXX,SET,both
19,SIS,1.0,2022.0,1.0,30.50,42.50,1.0,1.0,0.0,4.2,2022-05-27,0.0,12.00,39.34,48.75,28.50,13.43,3.10,39555.20,0.55,sSET,SET999,Technology,Information & Communication Technology,9449,48.75,25.75,O,28.75,31.00,33.27,1.75,0.00,3600,-4,4,0.0,0,0,6L,SET,both
20,SSP,1.0,2022.0,1.0,9.75,16.08,5.0,0.0,0.0,3.4,2022-05-27,0.0,6.33,64.92,14.27,9.10,12.75,1.82,29436.76,0.24,sSET / SETCLMV,SET999,Resources,Energy & Utilities,9714,14.27,9.10,O,0.00,0.00,35776.45,0.24,0.00,0,-4,4,0.0,0,0,XXX,SET,both
21,STANLY,1.0,2021.0,4.0,177.00,227.00,5.0,1.0,0.0,4.8,2022-05-24,3.0,50.00,28.25,198.50,160.00,8.92,0.68,25139.35,19.85,sSET,SET999,Industrials,Automotive,9715,0.00,0.00,O,175.00,0.00,NaN,NaN,NaN,0,-4,4,NaN,0,0,6L,SET,both
22,TPIPL,1.0,2022.0,1.0,1.55,2.40,2.0,0.0,0.0,5.2,2022-05-27,0.0,0.85,54.84,2.06,1.41,4.77,0.60,32516.29,0.10,SET,SET999,Property & Construction,Construction Materials,712,2.22,1.53,U,0.00,1.71,56.66,0.94,1.70,60000,-9,8,60000.0,0,0,DOS,SET,both
23,MCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,16.20,11.70,T,12.00,13.00,37.02,0.50,15.40,10000,-5,5,75000.0,6,3,ROUND,SET,right_only
24,PTTGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135,70.00,47.50,S,0.00,58.00,1042.41,1.03,58.75,3000,-11,9,12000.0,3,12,CUT,SET50,right_only
25,JASIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,11.30,9.45,I,10.00,12.00,173.61,0.32,10.10,10000,-5,4,110000.0,0,0,C10.10,SET,right_only
26,DIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325,14.50,11.70,T,14.20,14.80,147.37,0.39,14.70,10000,-5,5,50000.0,0,0,DOS,SET,right_only
27,HREIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,526,9.30,8.05,T,8.20,9.00,4.62,0.35,8.95,10000,-5,5,40000.0,0,12,CUT,SET,right_only
28,STA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,571,50.50,24.20,T,0.00,29.50,226.50,0.60,33.00,2400,-10,15,24000.0,3,0,CUT,SET100,right_only
29,SCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578,474.00,360.00,U,374.00,400.00,1314.67,0.67,398.00,300,-17,16,900.0,0,12,C398,SET50,right_only
30,NER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602,8.65,5.50,I,0.00,7.50,116.83,0.50,7.45,9000,-13,14,27000.0,0,0,CP1S,SET,right_only
31,SYNEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603,37.00,23.00,S,23.80,28.25,103.17,1.32,28.00,3000,-10,15,18000.0,1,12,CP1S,SET100,right_only
32,BCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,610,26.75,16.60,B,0.00,21.00,507.61,-0.41,20.90,3000,-8,10,21000.0,1,0,5pct,SET100,right_only
33,DOHOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612,25.62,17.58,I,0.00,20.30,205.51,0.96,20.25,2400,-9,16,7200.0,1,0,C20.25,SET100,right_only
34,KCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,624,95.00,53.50,U,61.25,64.00,1228.70,0.77,72.50,1000,-11,4,14000.0,1,0,C62.75,SET50,right_only
35,TMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,645,15.00,9.70,T,9.70,0.00,13.30,1.01,10.50,9000,-5,11,27000.0,0,0,RD05pct,SET,right_only
36,IP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,665,24.17,17.80,I,0.00,20.30,22.81,0.55,20.20,2500,-8,9,7500.0,0,0,CP1S,mai,right_only
37,WHART,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,687,14.08,10.80,I,0.00,12.00,24.74,0.21,11.70,10000,-5,4,30000.0,0,0,C11.70,SET,right_only
38,SCB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,696,138.00,66.00,X,122.00,0.00,1648.69,1.65,0.00,2400,-11,12,0.0,0,0,3L,SET50,right_only
39,ASP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,699,4.24,2.62,T,3.70,3.82,70.06,0.63,3.80,30000,-9,12,30000.0,0,0,DOS,SET,right_only
40,SCCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,701,188.50,150.00,T,153.50,0.00,57.87,0.61,171.00,300,-10,9,1200.0,0,0,RD10pct,SET,right_only
41,SNC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702,20.20,13.20,X,16.50,0.00,26.24,0.50,17.00,9000,-6,9,0.0,0,0,1L,SET,right_only
42,MAKRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,704,57.25,35.00,I,0.00,40.50,618.00,1.00,40.40,1500,-8,8,7500.0,0,0,C40.40,SET,right_only
43,SENA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,711,5.50,3.44,T,3.68,4.50,31.56,1.05,4.48,15000,-8,10,105000.0,0,0,CP1S,SET,right_only
44,ORI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,716,12.70,8.05,B,10.20,11.10,116.98,1.32,11.00,15000,-7,8,45000.0,0,0,RD05pct,SET100,right_only
45,KTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,725,84.75,52.75,X,0.00,0.00,466.83,1.56,0.00,0,-4,4,0.0,0,0,,SET50,right_only
46,KTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,727,0.00,0.00,X,0.00,0.00,0.00,0.00,0.00,0,-4,4,0.0,0,0,,SET50,right_only
47,DCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,728,0.00,0.00,U,0.00,2.98,0.00,0.00,2.96,60000,-4,4,60000.0,0,0,CP1S,SET,right_only
48,BAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9049,39.25,27.25,X,0.00,0.00,52.47,1.29,0.00,0,-4,4,0.0,0,0,XXX,SET,right_only
49,BH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9061,175.00,116.50,O,0.00,0.00,480.52,0.43,0.00,0,-4,4,0.0,0,0,XXX,SET50,right_only
50,ESSO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9165,8.90,7.00,O,0.00,0.00,173.92,1.03,0.00,0,-4,4,0.0,0,0,XXX,SET100,right_only
51,GGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9188,14.40,9.60,O,0.00,0.00,9.31,0.96,0.00,0,-4,4,0.0,0,0,XXX,SET,right_only
52,MST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9290,14.70,9.30,X,11.00,0.00,4.79,0.59,0.00,10000,-4,4,0.0,0,0,XXX,SET,right_only
53,SMPC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9455,14.20,10.00,O,14.00,0.00,14.45,0.66,0.00,7500,-4,4,0.0,0,0,3L,SET,right_only
54,SPRC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9470,11.50,7.75,O,0.00,0.00,376.23,1.05,0.00,0,-4,4,0.0,0,0,XXX,SET100,right_only
55,RBF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9702,24.50,14.70,O,14.30,0.00,154.65,1.17,0.00,9000,-4,4,0.0,0,0,XXX,SET100,right_only
56,COTTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9709,3.18,1.55,O,0.00,0.00,10.15,0.87,0.00,0,-4,4,0.0,0,0,XXX,SET,right_only
57,BGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9710,13.10,9.45,O,9.80,0.00,7638.50,0.75,0.00,10000,-4,4,0.0,0,0,DOS,SET,right_only
58,FORTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9713,53.00,7.70,O,0.00,0.00,188882.96,0.25,0.00,0,-4,4,0.0,0,0,XXX,SET,right_only

In [43]:
df_merge[df_merge['_merge'] == 'left_only'].sort_values('name',ascending=True)

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, max_price_x, min_price_x, pe, pbv, dly_vol, beta_x, market_x, mrkt, sector, subsector, id, max_price_y, min_price_y, status, buy_target, sell_target, volume, beta_y, cost, qty, buy_spread, sell_spread, available_qty, bl, sh, reason, market_y, _merge]
Index: []