### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [38]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 5, 14), '2022-19')

### Process after last business day, today must be last business day

In [39]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 5, 13), datetime.date(2022, 5, 6))

In [40]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

In [41]:
format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',
    
}

In [42]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [43]:
names = tmp['name']
name = names.to_string(index=False)
name

'MEGA'

In [44]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'MEGA'

In [45]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'MEGA'

In [46]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'MEGA'

In [47]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'MEGA'

In [48]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(34, 4)

In [51]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
"""
sql = sql % (today)
print(sql)
#sql = sql % (today, today)
#AND ('%s'::date - date(updated_at)::date) < 15
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-05-13'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0

(213, 10)

In [52]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [53]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.head(10).style.format(format_dict)

In [54]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [55]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, _merge]
Index: []

### Start of Gain Percentage Calculation

In [56]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape[0]

253

In [57]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [58]:
my_stocks["mrkt"].value_counts()

SET999    145
SET50      50
SET100     50
mai         8
Name: mrkt, dtype: int64

In [59]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(34, 21)

In [60]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= 5)
flt_set50 = consensus2[set50]
flt_set50[cols].style.format(format_dict)

In [61]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < 5)]\
    [cols].style.format(format_dict)

In [62]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= 10)
flt_set100 = consensus2[set100]
flt_set100[cols].style.format(format_dict)

In [63]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < 10)]\
    [cols].style.format(format_dict)

In [64]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= 15) 
flt_set999 = consensus2[set999]
flt_set999[cols].style.format(format_dict)

In [65]:
consensus2.loc\
    [(consensus2.mrkt.str.contains('SET999')) & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [66]:
mai = consensus2.mrkt.str.contains('mai') & (consensus2.upside >= 15)
flt_mai = consensus2[mai]
flt_mai[cols].style.format(format_dict)

In [67]:
consensus2.loc\
    [consensus2.mrkt.str.contains('mai') & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [68]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [69]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [70]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 24 stocks'

In [71]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

403

In [72]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to input to port_lite stocks

In [73]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [74]:
final.shape

(24, 24)

In [75]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

final[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [76]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(57, 18)

In [77]:
df_merge = pd.merge(final, stocks, on='name', how='outer', indicator=True)
df_merge

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,max_price_x,min_price_x,pe,pbv,dly_vol,beta_x,market_x,mrkt,sector,subsector,id,max_price_y,min_price_y,status,buy_target,sell_target,volume,beta_y,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market_y,_merge
0,BBL,1.0,2022.0,1.0,130.50,163.20,10.0,1.0,0.0,3.6,2022-04-26,17.0,32.70,25.06,149.00,100.00,9.54,0.51,2107.45,1.31,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,694,149.00,100.00,O,133.00,0.00,2097.92,1.30,0.00,2400,-9,11,0,0,0,1L,SET50,both
1,BDMS,1.0,2022.0,1.0,26.75,28.40,10.0,2.0,0.0,1.6,2022-04-26,17.0,1.65,6.17,27.00,20.40,54.07,5.12,1136.85,0.39,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Health Care Services,707,26.75,20.40,O,26.00,0.00,1132.04,0.39,0.00,4200,-6,7,0,0,0,1L,SET50,both
2,GLOBAL,1.0,2022.0,1.0,22.40,26.07,7.0,1.0,0.0,1.4,2022-04-26,17.0,3.67,16.38,23.70,17.63,32.60,5.57,323.11,0.63,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Commerce,709,23.70,17.63,X,19.40,0.00,323.56,0.63,0.00,9000,-10,9,0,0,0,,SET50,both
3,GULF,1.0,2022.0,1.0,48.75,52.38,3.0,1.0,0.0,1.3,2022-04-26,17.0,3.63,7.45,52.75,31.50,75.72,6.01,1482.02,1.22,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,553,52.75,31.50,X,50.00,0.00,1494.99,1.22,0.00,6000,-11,13,0,3,0,1L,SET50,both
4,IVL,1.0,2022.0,1.0,45.50,57.82,11.0,2.0,0.0,3.0,2022-04-26,17.0,12.32,27.08,52.00,36.00,10.04,1.66,1112.71,1.41,SET50 / SETTHSI,SET50,Industrials,Petrochemicals & Chemicals,9231,52.00,36.00,O,45.00,0.00,1112.71,1.41,0.00,2400,-4,4,0,0,0,XXX,SET50,both
5,KBANK,1.0,2022.0,1.0,151.00,181.30,13.0,0.0,0.0,2.9,2022-04-26,17.0,30.30,20.07,175.00,101.00,9.56,0.76,4331.63,1.76,SET50 / SETCLMV / SETTHSI,SET50,Financials,Banking,637,175.00,101.00,O,146.00,144.50,4353.20,1.76,136.50,1500,-17,19,0,0,0,5pct,SET50,both
6,KTB,1.0,2022.0,1.0,14.30,15.38,12.0,2.0,0.0,4.2,2022-04-26,17.0,1.08,7.55,14.70,9.90,9.26,0.56,574.64,1.26,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,727,0.00,0.00,X,0.00,0.00,0.00,0.00,0.00,0,-4,4,0,0,0,,SET50,both
7,KTC,1.0,2022.0,1.0,57.25,64.11,6.0,1.0,2.0,2.0,2022-04-26,17.0,6.86,11.98,84.75,52.75,25.66,5.62,466.16,1.56,SET50 / SETTHSI,SET50,Financials,Finance & Securities,725,84.75,52.75,X,0.00,0.00,466.83,1.56,0.00,0,-4,4,0,0,0,,SET50,both
8,SCB,1.0,2022.0,1.0,73.00,151.20,10.0,0.0,0.0,6.5,2022-04-26,17.0,78.20,107.12,138.00,66.00,7.95,0.64,1627.19,1.65,SET50 / SETCLMV / SETTHSI,SET50,Financials,Banking,696,138.00,66.00,X,122.00,0.00,1648.69,1.65,0.00,2400,-11,12,0,0,0,3L,SET50,both
9,TISCO,1.0,2022.0,1.0,101.00,111.90,11.0,1.0,0.0,7.4,2022-04-26,17.0,10.90,10.79,102.00,85.00,11.98,1.97,557.01,0.55,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,557,102.50,85.00,T,97.50,97.75,559.69,0.55,97.50,1000,-15,19,2000,1,12,CP1S,SET50,both
10,TOP,1.0,2022.0,1.0,53.75,64.50,9.0,1.0,1.0,4.7,2022-04-26,17.0,10.75,20.00,61.50,42.50,8.80,0.92,817.89,1.22,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,9555,61.50,42.50,O,0.00,0.00,817.89,1.22,0.00,0,-4,4,0,0,0,XXX,SET50,both
11,TTB,1.0,2022.0,1.0,1.28,1.54,8.0,4.0,0.0,4.8,2022-04-26,17.0,0.26,20.31,1.50,0.95,11.81,0.59,708.25,1.40,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,9541,1.50,0.95,O,0.00,0.00,708.25,1.40,0.00,0,-4,4,0,0,0,XXX,SET50,both
12,BCPG,1.0,2022.0,1.0,12.20,17.50,2.0,0.0,0.0,2.7,2022-04-23,20.0,5.30,43.44,15.40,11.10,17.56,1.30,157.15,0.95,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Resources,Energy & Utilities,9053,15.40,11.10,O,0.00,0.00,157.15,0.95,0.00,0,-4,4,0,0,0,XXX,SET100,both
13,BPP,1.0,2022.0,1.0,16.30,19.00,1.0,0.0,0.0,4.0,2022-04-26,17.0,2.70,16.56,20.30,15.30,15.79,1.08,28.02,0.83,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Resources,Energy & Utilities,9074,20.30,15.30,O,0.00,0.00,28.02,0.83,0.00,0,-4,4,0,0,0,XXX,SET100,both
14,ESSO,1.0,2022.0,1.0,8.50,11.15,2.0,0.0,0.0,5.9,2022-04-26,17.0,2.65,31.18,8.90,7.00,6.66,1.54,173.92,1.03,SET100,SET100,Resources,Energy & Utilities,9165,8.90,7.00,O,0.00,0.00,173.92,1.03,0.00,0,-4,4,0,0,0,XXX,SET100,both
15,KKP,1.0,2022.0,1.0,74.00,81.42,11.0,1.0,0.0,5.4,2022-04-26,17.0,7.42,10.03,76.25,49.75,9.98,1.24,395.00,0.94,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Financials,Banking,700,76.25,49.75,O,72.00,0.00,392.95,0.94,0.00,3000,-10,10,0,0,0,3L,SET100,both
16,MEGA,1.0,2022.0,1.0,49.00,58.08,3.0,0.0,0.0,2.2,2022-04-26,17.0,9.08,18.53,56.50,32.25,21.83,5.31,199.36,0.68,SET100 / SETCLMV / SETWB,SET100,Services,Commerce,529,56.50,32.25,X,41.50,0.00,199.55,0.68,43.00,6000,-11,13,-1500,1,0,3L,SET100,both
17,RCL,1.0,2022.0,1.0,45.25,66.00,1.0,0.0,0.0,17.7,2022-04-23,20.0,20.75,45.86,67.75,30.50,2.09,1.45,406.02,1.22,SET100 / SETCLMV,SET100,Services,Transportation & Logistics,662,67.75,30.50,I,43.50,47.50,407.01,1.22,47.25,4000,-16,26,12000,0,0,CP1S,SET100,both
18,SINGER,1.0,2022.0,1.0,58.75,64.83,3.0,0.0,0.0,1.2,2022-04-26,17.0,6.08,10.35,58.25,32.43,67.62,3.19,224.08,1.11,SET100,SET100,Services,Commerce,620,56.75,32.43,X,0.00,52.75,222.36,1.11,42.25,1500,-10,16,0,4,12,25pct,SET100,both
19,AIT,1.0,2022.0,1.0,7.20,8.30,1.0,0.0,0.0,6.2,2022-04-11,32.0,1.10,15.28,9.80,4.12,13.80,2.38,140.03,1.00,sSET,SET999,Technology,Information & Communication Technology,9011,9.80,4.12,O,0.00,0.00,140.03,1.00,0.00,0,-4,4,0,0,0,XXX,SET,both
20,PTL,1.0,2021.0,3.0,24.70,30.00,1.0,0.0,0.0,5.8,2022-04-01,42.0,5.30,21.46,31.75,22.30,6.77,1.28,82.83,0.78,SET,SET999,Industrials,Packaging,9382,31.75,22.30,O,0.00,0.00,82.83,0.78,0.00,0,-4,4,0,0,0,XXX,SET,both
21,SIS,1.0,2022.0,1.0,40.00,48.67,3.0,0.0,0.0,3.5,2022-04-23,20.0,8.67,21.68,48.75,25.75,17.67,4.31,33.27,1.75,sSET,SET999,Technology,Information & Communication Technology,9449,48.75,25.75,O,0.00,0.00,33.27,1.75,0.00,0,-4,4,0,0,0,XXX,SET,both
22,SMPC,1.0,2022.0,1.0,13.50,16.30,1.0,0.0,0.0,5.7,2022-04-26,17.0,2.80,20.74,14.20,10.00,10.01,2.95,14.45,0.66,sSET,SET999,Industrials,Packaging,9455,14.20,10.00,O,0.00,0.00,14.45,0.66,0.00,0,-4,4,0,0,0,XXX,SET,both
23,TPIPL,1.0,2022.0,1.0,1.52,2.45,2.0,0.0,0.0,5.3,2022-04-26,17.0,0.93,61.18,2.22,1.53,5.14,0.60,56.18,0.94,SET,SET999,Property & Construction,Construction Materials,712,2.22,1.53,U,0.00,1.71,56.66,0.94,1.70,60000,-9,8,60000,0,0,DOS,SET,both
24,MCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,16.20,11.70,I,12.00,13.00,37.02,0.50,15.40,10000,-5,5,75000,6,3,ROUND,SET,right_only
25,PTTGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135,70.00,47.50,T,0.00,58.00,1042.41,1.03,58.75,3000,-11,9,12000,3,12,CUT,SET50,right_only
26,JASIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,11.30,9.45,B,10.80,11.20,173.61,0.32,10.00,10000,-5,4,100000,0,0,ROUND,SET,right_only
27,DIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325,14.50,11.70,T,13.50,14.80,147.37,0.39,14.70,10000,-5,5,50000,0,0,CP1S,SET,right_only
28,HREIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,526,9.30,8.05,I,0.00,9.00,4.62,0.35,8.95,40100,-5,5,40100,0,12,DOS,SET,right_only
29,STA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,571,50.50,24.20,T,0.00,29.50,226.50,0.60,33.00,2400,-10,15,24000,3,0,CUT,SET100,right_only
30,RATCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,574,53.75,42.00,I,0.00,38.50,150.39,0.73,45.75,2000,-17,21,2000,0,3,CUT,SET50,right_only
31,SCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578,474.00,360.00,T,374.00,418.00,1314.67,0.67,398.00,300,-17,16,900,0,12,5pct,SET50,right_only
32,NER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602,8.65,5.50,U,0.00,7.80,116.83,0.50,7.45,9000,-13,14,27000,0,0,5pct,SET,right_only
33,SYNEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603,37.00,23.00,U,23.80,28.25,103.17,1.32,28.00,3000,-10,15,18000,1,12,CP1S,SET100,right_only
34,BCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,610,26.75,16.60,B,19.90,22.40,507.61,-0.41,21.30,3000,-8,10,18000,1,0,RD05pct,SET100,right_only
35,DOHOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612,25.62,17.58,I,0.00,19.80,205.51,0.96,20.25,2400,-9,16,7200,1,0,C20.25,SET100,right_only
36,PTT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,617,42.00,34.00,I,0.00,37.00,2366.61,1.01,38.50,3000,-6,6,3000,9,0,C38.50,SET50,right_only
37,RJH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,618,39.00,27.00,T,0.00,34.75,15.53,0.10,33.00,1500,-8,8,4500,3,0,5pct,SET,right_only
38,KCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,624,95.00,53.50,I,61.25,64.00,1228.70,0.77,72.50,1000,-11,4,14000,1,0,C62.75,SET50,right_only
39,TMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,645,15.00,9.70,T,9.70,0.00,13.30,1.01,10.50,9000,-5,11,27000,0,0,RD05pct,SET,right_only
40,IP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,665,24.17,17.80,I,0.00,20.30,22.81,0.55,20.20,2500,-8,9,7500,0,0,CP1S,mai,right_only
41,WHART,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,687,14.08,10.80,T,0.00,12.40,24.74,0.21,12.30,20000,-5,4,20000,0,0,DOS,SET,right_only
42,ASP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,699,4.24,2.62,T,3.70,3.82,70.06,0.63,3.80,30000,-9,12,30000,0,0,DOS,SET,right_only
43,SCCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,701,188.50,150.00,T,153.50,0.00,57.87,0.61,171.00,300,-10,9,1200,0,0,RD10pct,SET,right_only
44,SNC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702,20.20,13.20,X,16.50,0.00,26.24,0.50,17.00,9000,-6,9,0,0,0,1L,SET,right_only
45,MAKRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,704,57.25,35.00,I,0.00,40.50,618.00,1.00,40.40,1500,-8,8,7500,0,0,C40.40,SET,right_only
46,SENA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,711,5.50,3.44,I,3.68,4.50,31.56,1.05,4.48,15000,-8,10,105000,0,0,CP1S,SET,right_only
47,ORI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,716,12.70,8.05,I,0.00,11.10,116.98,1.32,11.00,15000,-7,8,45000,0,0,CP1S,SET100,right_only
48,DCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,728,0.00,0.00,I,0.00,2.98,0.00,0.00,2.96,60000,-4,4,60000,0,0,CP1S,SET,right_only
49,ASK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9038,49.50,20.06,O,0.00,0.00,59.77,0.81,0.00,0,-4,4,0,0,0,XXX,SET,right_only
50,BAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9049,39.25,27.25,O,0.00,0.00,52.47,1.29,0.00,0,-4,4,0,0,0,XXX,SET,right_only
51,BH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9061,175.00,116.50,O,0.00,0.00,480.52,0.43,0.00,0,-4,4,0,0,0,XXX,SET50,right_only
52,GGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9188,14.40,9.60,O,0.00,0.00,9.31,0.96,0.00,0,-4,4,0,0,0,XXX,SET,right_only
53,MST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9290,14.70,9.30,O,0.00,0.00,4.79,0.59,0.00,0,-4,4,0,0,0,XXX,SET,right_only
54,SPRC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9470,11.50,7.75,O,0.00,0.00,376.23,1.05,0.00,0,-4,4,0,0,0,XXX,SET100,right_only
55,RBF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9702,24.50,14.70,O,0.00,0.00,154.65,1.17,0.00,0,-4,4,0,0,0,XXX,SET100,right_only
56,COTTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9709,3.18,1.55,O,0.00,0.00,10.15,0.87,0.00,0,-4,4,0,0,0,XXX,SET,right_only

In [78]:
df_merge[df_merge['_merge'] == 'left_only'].sort_values('name',ascending=True)

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, max_price_x, min_price_x, pe, pbv, dly_vol, beta_x, market_x, mrkt, sector, subsector, id, max_price_y, min_price_y, status, buy_target, sell_target, volume, beta_y, cost, qty, buy_spread, sell_spread, available_qty, bl, sh, reason, market_y, _merge]
Index: []