### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 1, 29), '2022-04')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 1, 28), datetime.date(2022, 1, 21))

In [3]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

In [43]:
format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',
    
}

In [5]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [6]:
names = tmp['name']
name = names.to_string(index=False)
name

'PTTEP'

In [7]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'PTTEP'

In [8]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'PTTEP'

In [9]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'PTTEP'

In [10]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(51, 4)

In [37]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) < 15"""
sql = sql % (today, today)
print(sql)

consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-01-28'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('2022-01-28'::date - date(updated_at)::date) < 15

(222, 10)

In [40]:
consensus.loc['TSTH']

price                 1.36
target_price           1.5
buy                      0
hold                     0
sell                     1
yield                  6.6
date            2022-01-28
days                     0
diff                  0.14
upside               10.29
Name: TSTH, dtype: object

In [41]:
consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [44]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.head().style.format(format_dict)

In [45]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [46]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,target,_merge
6,CIMBT,0.0,2021.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
21,LANNA,1.0,2021.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,PTL,1.0,2021.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,RATCH,0.0,2021.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46,TKS,1.0,2021.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Start of Gain Percentage Calculation

In [47]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape[0]

359

In [48]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [49]:
my_stocks["mrkt"].value_counts()

SET999    243
SET50      50
SET100     50
mai        16
Name: mrkt, dtype: int64

In [50]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(46, 22)

In [51]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= 5)
flt_set50 = consensus2[set50]
flt_set50[cols].style.format(format_dict)

In [52]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < 5)]\
    [cols].style.format(format_dict)

In [53]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= 10)
flt_set100 = consensus2[set100]
flt_set100[cols].style.format(format_dict)

In [54]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < 10)]\
    [cols].style.format(format_dict)

In [55]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= 15) 
flt_set999 = consensus2[set999]
flt_set999[cols].style.format(format_dict)

In [56]:
consensus2.loc\
    [(consensus2.mrkt.str.contains('SET999')) & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [57]:
mai = consensus2.mrkt.str.contains('mai') & (consensus2.upside >= 15)
flt_mai = consensus2[mai]
flt_mai[cols].style.format(format_dict)

In [58]:
consensus2.loc\
    [consensus2.mrkt.str.contains('mai') & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [59]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [60]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [61]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 37 stocks'

In [62]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

403

In [63]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to input to port_lite stocks

In [64]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [65]:
final.shape

(37, 25)

In [66]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

final[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)