### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [40]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 6, 11), '2022-23')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 6, 10), datetime.date(2022, 6, 3))

In [3]:
s50_pct = 15
s100_pct = 20
s999_pct = 25

### Restart and Run All Cells

In [4]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [5]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [6]:
names = tmp['name']
name = names.to_string(index=False)
name

'BCT'

In [7]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'BCT'

In [8]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'BCT'

In [9]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'BCT'

In [10]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'BCT'

In [11]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(38, 4)

In [12]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
"""
sql = sql % (today)
print(sql)
#sql = sql % (today, today)
#AND ('%s'::date - date(updated_at)::date) < 15
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-06-10'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0

(209, 10)

In [13]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [14]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.sample(10).style.format(format_dict)

In [15]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [16]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,_merge
7,BCT,1.0,2021.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Start of Gain Percentage Calculation

In [17]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.sample(10)

,name,max_price,min_price,pe,pbv,dly_vol,beta,market
219,NER,8.65,6.40,6.25,2.06,75708.42,0.27,sSET
11,ASP,4.20,3.06,8.75,1.32,14413.73,0.07,sSET
151,SMPC,16.20,10.30,9.02,3.25,17109.59,0.54,sSET
204,INGRS,1.30,0.57,0.00,0.73,4466.61,-0.14,SET
0,ADVANC,242.00,169.00,23.27,8.18,1330620.76,2.12,SET50 / SETHD / SETTHSI
105,MAKRO,57.25,33.75,26.63,1.29,160242.74,0.19,SET
211,GOLDPF,7.70,6.45,999.99,0.74,0.89,0.17,SET
193,TVO,35.00,29.50,13.80,2.50,13525.47,0.82,SET100 / SETHD / SETTHSI / SETWB
184,TPIPP,4.54,3.50,7.84,0.99,5773.05,0.10,SET
99,LIT,3.64,1.94,0.00,0.85,2263.35,-0.05,mai

In [18]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [19]:
my_stocks["mrkt"].value_counts()

SET999    141
SET50      50
SET100     50
mai         8
Name: mrkt, dtype: int64

In [20]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(37, 21)

In [21]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= s50_pct)
flt_set50 = consensus2[set50]
flt_set50[cols].style.format(format_dict)

In [22]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < s50_pct)]\
    [cols].style.format(format_dict)

In [23]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= s100_pct)
flt_set100 = consensus2[set100]
flt_set100[cols].style.format(format_dict)

In [24]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < s100_pct)]\
    [cols].style.format(format_dict)

In [25]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= s999_pct) 
flt_set999 = consensus2[set999]
flt_set999[cols].style.format(format_dict)

In [26]:
consensus2.loc\
    [(consensus2.mrkt.str.contains('SET999')) & (consensus2.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [27]:
mai = consensus2.mrkt.str.contains('mai') & (consensus2.upside >= s999_pct)
flt_mai = consensus2[mai]
flt_mai[cols].style.format(format_dict)

In [28]:
consensus2.loc\
    [consensus2.mrkt.str.contains('mai') & (consensus2.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [29]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [30]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [31]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 17 stocks'

In [32]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

399

In [33]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to update to port_lite stocks

In [34]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [35]:
final.shape

(17, 24)

### Matching check with Buy table in MySql database to filter only records not yet in stocks

In [41]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
buy_df = pd.read_sql(sql, const)
buy_df.shape

(27, 1)

In [45]:
df_merge3 = pd.merge(final, buy_df, on='name', how='outer', indicator=True)
df_merge3.shape

(38, 25)

In [50]:
not_in_stocks = df_merge3.loc[
    df_merge['_merge'] == 'left_only']
not_in_stocks[colt].shape

(11, 13)

In [51]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

not_in_stocks[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
not_in_stocks[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
not_in_stocks[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
not_in_stocks[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [37]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(58, 18)

In [38]:
df_merge = pd.merge(final, stocks, on='name', how='outer', indicator=True)
df_merge

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,max_price_x,min_price_x,pe,pbv,dly_vol,beta_x,market_x,mrkt,sector,subsector,id,max_price_y,min_price_y,status,buy_target,sell_target,volume,beta_y,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market_y,_merge
0,BBL,1.0,2022.0,1.0,127.50,159.80,8.0,0.0,0.0,3.8,2022-06-08,2.0,32.30,25.33,149.00,100.00,9.61,0.52,1356239.91,3.73,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,694,149.00,100.00,O,125.00,0.00,2097.92,1.30,0.00,2400,-9,11,0,0.0,0.0,1L,SET50,both
1,BDMS,1.0,2022.0,1.0,25.00,29.13,14.0,3.0,0.0,1.7,2022-06-08,2.0,4.13,16.52,27.75,21.50,39.25,4.51,1196572.76,0.22,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Health Care Services,707,26.75,20.40,I,24.40,27.50,1132.04,0.39,26.00,1500,-6,7,4500,0.0,0.0,RD05pct,SET50,both
2,GLOBAL,1.0,2022.0,1.0,21.80,25.76,8.0,1.0,0.0,1.4,2022-06-08,2.0,3.96,18.17,23.70,17.63,29.07,4.96,67166.87,0.25,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Commerce,709,23.70,17.63,X,20.60,0.00,323.56,0.63,0.00,9000,-10,9,0,0.0,0.0,1L,SET50,both
3,GULF,1.0,2022.0,1.0,47.25,54.39,9.0,2.0,0.0,1.2,2022-06-09,1.0,7.14,15.11,52.75,32.75,59.71,5.44,847177.92,0.29,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,553,52.75,31.50,O,46.00,0.00,1494.99,1.22,0.00,6000,-11,13,0,3.0,0.0,1L,SET50,both
4,IVL,1.0,2022.0,1.0,49.25,60.23,15.0,0.0,0.0,3.4,2022-06-09,1.0,10.98,22.29,52.00,36.00,8.38,1.62,577944.27,2.47,SET50 / SETTHSI,SET50,Industrials,Petrochemicals & Chemicals,9231,52.00,36.00,O,48.00,0.00,1112.71,1.41,48.50,3000,-11,11,0,0.0,0.0,P50%,SET50,both
5,KBANK,1.0,2022.0,1.0,144.50,178.00,7.0,0.0,0.0,3.0,2022-06-09,1.0,33.50,23.18,175.00,101.00,9.17,0.73,2215089.09,4.58,SET50 / SETCLMV / SETTHSI,SET50,Financials,Banking,637,175.00,101.00,O,142.00,144.50,4353.20,1.76,136.50,1500,-17,19,0,0.0,0.0,5pct,SET50,both
6,KTC,1.0,2022.0,1.0,61.00,71.60,4.0,1.0,0.0,1.9,2022-06-09,1.0,10.60,17.38,72.75,52.75,26.35,5.52,270145.29,0.68,SET50 / SETTHSI,SET50,Financials,Finance & Securities,725,84.75,52.75,X,0.00,0.00,466.83,1.56,0.00,0,-4,4,0,0.0,0.0,,SET50,both
7,TISCO,1.0,2022.0,1.0,89.75,110.00,3.0,0.0,0.0,8.2,2022-06-09,1.0,20.25,22.56,101.50,87.00,10.51,1.67,488807.26,2.24,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,557,102.50,85.00,T,97.50,97.75,559.69,0.55,97.50,1000,-15,19,2000,1.0,12.0,CP1S,SET50,both
8,TTB,1.0,2022.0,1.0,1.23,1.48,3.0,1.0,0.0,4.4,2022-06-07,3.0,0.25,20.33,1.50,0.95,11.27,0.58,484031.92,0.03,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,9541,1.50,0.95,I,0.00,1.33,708.25,1.40,1.26,100000,-4,4,100000,0.0,0.0,5pct,SET50,both
9,BCPG,1.0,2022.0,1.0,11.70,17.18,6.0,0.0,0.0,3.3,2022-06-09,1.0,5.48,46.84,15.40,11.10,12.08,1.20,93057.01,0.47,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Resources,Energy & Utilities,9053,15.40,11.10,O,11.10,0.00,157.15,0.95,0.00,12000,-6,5,0,0.0,0.0,MinP,SET100,both
10,RCL,1.0,2022.0,1.0,45.50,55.25,1.0,0.0,1.0,16.2,2022-06-09,1.0,9.75,21.43,67.75,36.75,1.53,1.05,153336.48,9.92,SET100 / SETCLMV,SET100,Services,Transportation & Logistics,662,67.75,30.50,I,43.50,47.50,407.01,1.22,47.25,4000,-16,26,12000,0.0,0.0,CP1S,SET100,both
11,SINGER,1.0,2022.0,1.0,50.25,60.79,6.0,0.0,0.0,1.3,2022-06-08,2.0,10.54,20.98,59.25,32.43,52.90,2.71,107200.65,0.27,SET100,SET100,Services,Commerce,620,56.75,32.43,O,49.00,52.75,222.36,1.11,42.25,3000,-10,16,0,4.0,12.0,P25%,SET100,both
12,ASK,1.0,2022.0,1.0,40.50,50.79,4.0,0.0,0.0,4.8,2022-06-09,1.0,10.29,25.41,49.50,30.50,16.11,2.14,42541.66,0.67,SET,SET999,Financials,Finance & Securities,9038,49.50,20.06,X,37.75,0.00,59.77,0.81,0.00,3000,-4,4,0,0.0,0.0,6L,SET,both
13,SIS,1.0,2022.0,1.0,29.75,42.50,1.0,1.0,0.0,4.3,2022-06-09,1.0,12.75,42.86,48.75,28.00,12.54,2.90,51675.74,0.55,sSET,SET999,Technology,Information & Communication Technology,9449,48.75,25.75,I,0.00,30.00,33.27,1.75,28.50,3600,-12,11,3600,0.0,0.0,5pct,SET,both
14,SSP,1.0,2022.0,1.0,9.85,16.08,5.0,0.0,0.0,3.4,2022-06-09,1.0,6.23,63.25,14.27,9.10,12.80,1.83,59606.05,0.24,sSET / SETCLMV,SET999,Resources,Energy & Utilities,9714,14.27,9.10,O,9.35,0.00,35776.45,0.24,0.00,10000,-9,6,0,0.0,0.0,6L,SET,both
15,STANLY,1.0,2021.0,4.0,180.00,227.00,5.0,1.0,0.0,5.0,2022-06-09,1.0,47.00,26.11,198.50,160.00,9.25,0.70,12230.25,19.85,sSET,SET999,Industrials,Automotive,9715,0.00,0.00,X,172.00,0.00,NaN,NaN,0.00,600,-4,4,0,NaN,NaN,P25%,SET,both
16,TPIPL,1.0,2022.0,1.0,1.59,2.40,2.0,0.0,0.0,5.0,2022-06-08,2.0,0.81,50.94,2.00,1.41,4.74,0.60,16105.09,0.10,SET,SET999,Property & Construction,Construction Materials,712,2.22,1.53,U,0.00,1.71,56.66,0.94,1.70,60000,-9,8,60000,0.0,0.0,DOS,SET,both
17,MCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,16.20,11.70,T,12.00,13.00,37.02,0.50,15.40,10000,-5,5,75000,6.0,3.0,ROUND,SET,right_only
18,PTTGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135,70.00,47.50,U,0.00,50.25,1042.41,1.03,58.75,3000,-11,9,12000,3.0,12.0,1H,SET50,right_only
19,JASIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,11.30,9.45,T,10.00,12.00,173.61,0.32,10.10,10000,-5,4,110000,0.0,0.0,C10.10,SET,right_only
20,DIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325,14.50,11.70,O,13.50,14.80,147.37,0.39,14.70,10000,-5,5,50000,0.0,0.0,DOS,SET,right_only
21,WHAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,526,9.30,8.05,T,8.20,9.00,4.62,0.35,8.95,10000,-5,5,40000,0.0,12.0,CUT,SET,right_only
22,MEGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529,56.50,32.25,O,48.75,0.00,199.55,0.68,43.00,6000,-11,13,-1500,1.0,0.0,P75%,SET100,right_only
23,STA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,571,50.50,24.20,T,0.00,29.50,226.50,0.60,33.00,2400,-10,15,24000,3.0,0.0,CUT,SET100,right_only
24,SCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578,474.00,360.00,U,374.00,400.00,1314.67,0.67,398.00,300,-17,16,900,0.0,12.0,C398,SET50,right_only
25,NER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602,8.65,5.50,I,0.00,7.10,116.83,0.50,7.45,9000,-13,14,27000,0.0,0.0,P50%,SET,right_only
26,SYNEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603,37.00,23.00,U,23.80,28.25,103.17,1.32,28.00,3000,-10,15,18000,1.0,12.0,CP1S,SET100,right_only
27,BCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,610,26.75,16.60,U,0.00,21.00,507.61,-0.41,20.90,3000,-8,10,21000,1.0,0.0,5pct,SET100,right_only
28,DOHOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612,25.62,17.58,U,0.00,20.30,205.51,0.96,20.25,2400,-9,16,7200,1.0,0.0,C20.25,SET100,right_only
29,KCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,624,95.00,53.50,U,61.25,64.00,1228.70,0.77,72.50,1000,-11,4,14000,1.0,0.0,C62.75,SET50,right_only
30,TMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,645,15.00,9.70,B,9.20,10.10,13.30,1.01,10.20,9000,-5,11,36000,0.0,0.0,5pct,SET,right_only
31,WHART,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,687,14.08,10.80,T,0.00,11.10,24.74,0.21,11.70,10000,-5,4,30000,0.0,0.0,P50%,SET,right_only
32,SCB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,696,138.00,66.00,X,122.00,0.00,1648.69,1.65,0.00,2400,-11,12,0,0.0,0.0,3L,SET50,right_only
33,ASP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,699,4.24,2.62,T,3.70,3.82,70.06,0.63,3.80,30000,-9,12,30000,0.0,0.0,DOS,SET,right_only
34,KKP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,700,76.25,49.75,X,69.00,0.00,392.95,0.94,0.00,3000,-10,10,0,0.0,0.0,3L,SET100,right_only
35,SCCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,701,188.50,150.00,T,153.50,0.00,57.87,0.61,171.00,300,-10,9,1200,0.0,0.0,RD10pct,SET,right_only
36,SNC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702,20.20,13.20,X,16.50,0.00,26.24,0.50,17.00,9000,-6,9,0,0.0,0.0,1L,SET,right_only
37,MAKRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,704,57.25,35.00,I,0.00,39.00,618.00,1.00,40.40,1500,-8,8,7500,0.0,0.0,6M,SET,right_only
38,SENA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,711,5.50,3.44,T,3.68,4.50,31.56,1.05,4.48,15000,-8,10,105000,0.0,0.0,CP1S,SET,right_only
39,ORI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,716,12.70,8.05,I,10.20,11.60,116.98,1.32,11.00,15000,-7,8,45000,0.0,0.0,5pct,SET100,right_only
40,KTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,727,0.00,0.00,X,0.00,0.00,0.00,0.00,0.00,0,-4,4,0,0.0,0.0,,SET50,right_only
41,DCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,728,0.00,0.00,U,0.00,2.98,0.00,0.00,2.96,60000,-4,4,60000,0.0,0.0,CP1S,SET,right_only
42,AIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9011,9.80,4.12,O,6.50,0.00,140.03,1.00,0.00,18000,-9,10,0,0.0,0.0,P25%,SET,right_only
43,BAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9049,39.25,27.25,X,0.00,0.00,52.47,1.29,0.00,0,-4,4,0,0.0,0.0,XXX,SET,right_only
44,BH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9061,175.00,116.50,X,0.00,0.00,480.52,0.43,0.00,0,-4,4,0,0.0,0.0,XXX,SET50,right_only
45,BPP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9074,20.30,15.30,O,15.30,0.00,28.02,0.83,0.00,9000,-6,4,0,0.0,0.0,MinP,SET100,right_only
46,ESSO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9165,8.90,7.00,X,0.00,0.00,173.92,1.03,0.00,0,-4,4,0,0.0,0.0,XXX,SET100,right_only
47,GGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9188,14.40,9.60,X,0.00,0.00,9.31,0.96,0.00,0,-4,4,0,0.0,0.0,XXX,SET,right_only
48,MST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9290,14.70,9.30,X,11.00,0.00,4.79,0.59,0.00,10000,-4,4,0,0.0,0.0,XXX,SET,right_only
49,SMPC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9455,14.20,10.00,X,14.00,0.00,14.45,0.66,0.00,7500,-4,4,0,0.0,0.0,3L,SET,right_only
50,SPRC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9470,11.50,7.75,X,10.80,0.00,376.23,1.05,0.00,15000,-4,4,0,0.0,0.0,P75%,SET100,right_only
51,TOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9555,61.50,42.50,I,0.00,60.50,817.89,1.22,57.50,3000,-11,11,3000,0.0,0.0,5pct,SET50,right_only
52,RBF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9702,24.50,14.70,X,14.30,0.00,154.65,1.17,0.00,9000,-4,4,0,0.0,0.0,XXX,SET100,right_only
53,COTTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9709,3.18,1.55,X,0.00,0.00,10.15,0.87,0.00,0,-4,4,0,0.0,0.0,XXX,SET,right_only
54,BGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9710,13.10,9.45,X,9.80,0.00,7638.50,0.75,0.00,10000,-4,4,0,0.0,0.0,DOS,SET,right_only
55,AP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9711,12.00,7.45,O,10.60,0.00,84742.15,0.55,0.00,10000,-6,7,0,0.0,0.0,P25%,SET100,right_only
56,BANPU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9712,14.90,9.65,X,11.50,0.00,1316230.44,1.52,0.00,12000,-4,4,0,0.0,0.0,1L,SET50,right_only
57,FORTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9713,53.00,7.70,X,0.00,0.00,188882.96,0.25,0.00,0,-4,4,0,0.0,0.0,XXX,SET,right_only

In [39]:
df_merge[df_merge['_merge'] == 'left_only'].sort_values('name',ascending=True)

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, max_price_x, min_price_x, pe, pbv, dly_vol, beta_x, market_x, mrkt, sector, subsector, id, max_price_y, min_price_y, status, buy_target, sell_target, volume, beta_y, cost, qty, buy_spread, sell_spread, available_qty, bl, sh, reason, market_y, _merge]
Index: []