### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 3, 19), '2022-11')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 3, 18), datetime.date(2022, 3, 11))

In [3]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

In [4]:
format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',
    
}

In [5]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [6]:
names = tmp['name']
name = names.to_string(index=False)
name

'BCH'

In [7]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'BCH'

In [8]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'BCH'

In [9]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'BCH'

In [10]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(48, 4)

In [11]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) < 15"""
sql = sql % (today, today)
print(sql)

consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-03-18'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('2022-03-18'::date - date(updated_at)::date) < 15

(240, 10)

In [12]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [13]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.head().style.format(format_dict)

In [14]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [15]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, _merge]
Index: []

### Start of Gain Percentage Calculation

In [16]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape[0]

359

In [17]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [18]:
my_stocks["mrkt"].value_counts()

SET999    244
SET50      50
SET100     50
mai        15
Name: mrkt, dtype: int64

In [19]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(48, 21)

In [20]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= 5)
flt_set50 = consensus2[set50]
flt_set50[cols].style.format(format_dict)

In [21]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < 5)]\
    [cols].style.format(format_dict)

In [22]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= 10)
flt_set100 = consensus2[set100]
flt_set100[cols].style.format(format_dict)

In [23]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < 10)]\
    [cols].style.format(format_dict)

In [24]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= 15) 
flt_set999 = consensus2[set999]
flt_set999[cols].style.format(format_dict)

In [25]:
consensus2.loc\
    [(consensus2.mrkt.str.contains('SET999')) & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [26]:
mai = consensus2.mrkt.str.contains('mai') & (consensus2.upside >= 15)
flt_mai = consensus2[mai]
flt_mai[cols].style.format(format_dict)

In [27]:
consensus2.loc\
    [consensus2.mrkt.str.contains('mai') & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [28]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [29]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [30]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 38 stocks'

In [31]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

403

In [32]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to input to port_lite stocks

In [33]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [34]:
final.shape

(38, 24)

In [35]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

final[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [36]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(60, 18)

In [37]:
df_merge = pd.merge(final, stocks, on='name', how='outer', indicator=True)
df_merge

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,max_price_x,min_price_x,pe,pbv,dly_vol,beta_x,market_x,mrkt,sector,subsector,id,max_price_y,min_price_y,status,buy_target,sell_target,volume,beta_y,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market_y,_merge
0,BBL,0.0,2021.0,4.0,137.00,160.80,13.0,1.0,0.0,4.0,2022-03-18,0.0,23.80,17.37,149.00,100.00,9.94,0.53,2450.42,1.29,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,694.0,149.00,100.00,O,130.00,0.00,2479.34,1.29,0.00,2400.0,-4.0,4.0,0.0,0.0,0.0,1L,SET50,both
1,BDMS,1.0,2021.0,4.0,25.25,27.56,15.0,2.0,0.0,1.6,2022-03-18,0.0,2.31,9.15,26.25,20.40,51.06,4.83,1128.83,0.41,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Health Care Services,707.0,26.25,20.40,O,23.20,0.00,1085.18,0.41,0.00,12000.0,-6.0,7.0,0.0,0.0,0.0,1L,SET50,both
2,COM7,1.0,2021.0,4.0,42.75,89.57,5.0,3.0,0.0,3.1,2022-03-18,0.0,46.82,109.52,43.50,29.12,38.09,18.96,673.25,0.93,SET50 / SETTHSI / SETWB,SET50,Services,Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,GLOBAL,1.0,2021.0,4.0,22.40,26.48,10.0,1.0,0.0,1.4,2022-03-18,0.0,4.08,18.21,23.67,17.63,32.03,5.47,302.39,0.73,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Commerce,709.0,23.67,17.63,O,19.40,0.00,299.35,0.72,0.00,9000.0,-10.0,9.0,0.0,0.0,0.0,,SET50,both
4,GULF,1.0,2021.0,4.0,49.75,53.95,9.0,2.0,0.0,1.2,2022-03-18,0.0,4.20,8.44,52.75,31.00,75.72,6.01,1702.28,1.13,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,553.0,52.75,31.00,O,50.00,0.00,1726.20,1.12,0.00,6000.0,-11.0,13.0,0.0,3.0,0.0,1L,SET50,both
5,KCE,1.0,2021.0,4.0,64.25,79.15,11.0,4.0,0.0,2.6,2022-03-18,0.0,14.90,23.19,95.00,53.50,31.05,5.63,1374.08,0.65,SET50,SET50,Technology,Electronic Components,624.0,95.00,53.50,I,0.00,68.00,1352.34,0.64,73.25,1000.0,-11.0,4.0,13000.0,1.0,0.0,CUT,SET50,both
6,PTT,1.0,2021.0,4.0,39.25,49.04,15.0,1.0,0.0,4.8,2022-03-18,0.0,9.79,24.94,42.00,34.00,10.28,1.11,2600.23,0.98,SET50 / SETCLMV / SETHD / SETTHSI,SET50,Resources,Energy & Utilities,617.0,42.00,34.00,I,36.50,41.25,2612.34,0.98,38.50,3000.0,-6.0,6.0,9000.0,9.0,0.0,5pct,SET50,both
7,PTTEP,1.0,2021.0,4.0,143.50,154.50,8.0,4.0,0.0,4.7,2022-03-18,0.0,11.00,7.67,158.00,100.50,14.81,1.39,2617.93,0.60,SET50 / SETCLMV / SETHD / SETTHSI,SET50,Resources,Energy & Utilities,697.0,158.00,100.50,X,126.00,0.00,2570.01,0.63,0.00,1000.0,-4.0,4.0,0.0,0.0,0.0,DOS,SET50,both
8,RATCH,1.0,2021.0,4.0,44.50,53.97,6.0,3.0,1.0,5.4,2022-03-18,0.0,9.47,21.28,53.75,42.00,8.21,0.91,157.84,0.71,SET50 / SETCLMV / SETHD / SETTHSI,SET50,Resources,Energy & Utilities,574.0,53.75,42.00,I,42.75,46.00,154.43,0.70,45.75,6000.0,-17.0,21.0,6000.0,0.0,3.0,DOS,SET50,both
9,SCB,0.0,2021.0,4.0,120.50,156.20,4.0,0.0,0.0,4.1,2022-03-17,1.0,35.70,29.63,138.00,90.25,11.32,0.91,1925.98,1.55,SET50 / SETCLMV / SETTHSI,SET50,Financials,Banking,696.0,138.00,90.25,O,122.00,0.00,1945.31,1.56,0.00,2400.0,-11.0,12.0,0.0,0.0,0.0,3L,SET50,both
10,SCC,1.0,2021.0,4.0,385.00,484.00,3.0,0.0,0.0,4.6,2022-03-18,0.0,99.00,25.71,474.00,363.00,9.69,1.25,1467.42,0.68,SET50 / SETCLMV / SETHD / SETTHSI,SET50,Property & Construction,Construction Materials,578.0,474.00,363.00,U,374.00,418.00,1466.49,0.68,398.00,300.0,-17.0,16.0,900.0,0.0,12.0,5pct,SET50,both
11,TISCO,1.0,2021.0,4.0,100.00,106.00,1.0,0.0,0.0,7.5,2022-03-18,0.0,6.00,6.00,102.50,85.00,11.74,1.93,639.97,0.53,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,557.0,102.50,85.00,B,97.75,102.50,629.90,0.53,97.75,500.0,-15.0,19.0,4000.0,1.0,12.0,ROUND,SET50,both
12,TU,0.0,2021.0,4.0,19.00,25.60,13.0,2.0,0.0,4.7,2022-03-17,1.0,6.60,34.74,23.00,14.10,10.92,1.48,587.83,0.49,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,SET50,Agro & Food Industry,Food & Beverage,713.0,23.00,14.10,O,19.30,0.00,594.19,0.49,0.00,9000.0,-7.0,8.0,0.0,0.0,0.0,3L,SET50,both
13,BAM,1.0,2021.0,4.0,21.60,24.75,12.0,1.0,0.0,3.5,2022-03-18,0.0,3.15,14.58,22.30,15.80,26.60,1.62,613.20,1.29,SET100,SET100,Financials,Finance & Securities,706.0,22.30,15.80,O,20.50,0.00,624.95,1.29,0.00,10000.0,-9.0,8.0,0.0,0.0,0.0,,SET100,both
14,BCH,0.0,2021.0,4.0,21.00,24.20,13.0,2.0,1.0,2.7,2022-03-16,2.0,3.20,15.24,26.75,14.30,7.72,4.07,530.18,-0.31,SET100 / SETWB,SET100,Services,Health Care Services,610.0,26.75,14.30,I,0.00,21.40,532.54,-0.31,21.30,5000.0,-8.0,10.0,15000.0,1.0,0.0,CP1S,SET100,both
15,DOHOME,0.0,2021.0,4.0,22.00,25.24,7.0,1.0,0.0,2.0,2022-03-18,0.0,3.24,14.73,25.62,15.25,36.13,6.04,234.07,1.14,SET100 / SETWB,SET100,Services,Commerce,612.0,25.62,15.25,I,0.00,23.30,236.12,1.16,20.25,4800.0,-9.0,16.0,9600.0,1.0,0.0,15pct,SET100,both
16,JMART,1.0,2021.0,4.0,53.75,60.28,3.0,1.0,0.0,1.8,2022-03-17,1.0,6.53,12.15,59.75,30.50,30.96,4.43,477.26,1.43,SET100,SET100,Technology,Information & Communication Technology,720.0,59.75,30.50,O,0.00,0.00,479.55,1.44,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET100,both
17,KKP,1.0,2021.0,4.0,68.25,76.33,3.0,0.0,0.0,6.4,2022-03-18,0.0,8.08,11.84,72.50,49.75,9.15,1.13,384.20,0.93,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Financials,Banking,700.0,72.50,49.75,O,68.00,0.00,387.38,0.93,0.00,3000.0,-10.0,10.0,0.0,0.0,0.0,3L,SET100,both
18,MEGA,0.0,2021.0,4.0,43.75,54.47,6.0,3.0,0.0,2.7,2022-03-18,0.0,10.72,24.50,56.50,32.25,20.15,4.90,184.73,0.70,SET100 / SETCLMV / SETWB,SET100,Services,Commerce,529.0,56.50,32.25,O,41.50,0.00,183.06,0.70,43.00,6000.0,-11.0,13.0,-1500.0,1.0,0.0,3L,SET100,both
19,ORI,1.0,2021.0,4.0,11.60,13.93,10.0,1.0,0.0,5.3,2022-03-18,0.0,2.33,20.09,12.70,8.05,8.75,1.87,139.31,1.30,SET100 / SETHD / SETTHSI,SET100,Property & Construction,Property Development,716.0,12.70,8.05,O,0.00,0.00,140.38,1.29,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET100,both
20,SINGER,1.0,2021.0,4.0,49.00,58.71,6.0,0.0,0.0,1.4,2022-03-18,0.0,9.71,19.82,55.00,32.43,57.30,2.71,207.41,1.16,SET100,SET100,Services,Commerce,620.0,55.00,32.43,I,39.25,50.75,187.53,1.17,42.25,1500.0,-10.0,16.0,3000.0,4.0,12.0,20pct,SET100,both
21,SPALI,1.0,2021.0,4.0,22.20,25.95,7.0,3.0,0.0,5.3,2022-03-18,0.0,3.75,16.89,23.60,19.00,6.03,1.01,189.50,0.66,SET100 / SETHD,SET100,Property & Construction,Property Development,671.0,23.60,19.00,O,20.40,24.20,189.18,0.66,22.00,3000.0,-7.0,7.0,9000.0,0.0,0.0,RD05pct,SET100,both
22,STARK,0.0,2021.0,4.0,4.44,6.25,2.0,0.0,0.0,2.3,2022-03-18,0.0,1.81,40.77,5.45,3.68,19.51,8.35,163.35,0.54,SET100 / SETCLMV,SET100,Industrials,Industrial Materials & Machinery,650.0,5.45,3.68,O,4.24,0.00,166.30,0.55,0.00,24000.0,-7.0,8.0,0.0,0.0,0.0,6L,SET100,both
23,SYNEX,1.0,2021.0,4.0,27.00,30.81,6.0,1.0,0.0,2.9,2022-03-18,0.0,3.81,14.11,37.00,22.90,27.34,5.99,113.44,1.34,SET100 / SETTHSI,SET100,Technology,Information & Communication Technology,603.0,37.00,22.90,B,24.00,0.00,113.91,1.30,28.50,3000.0,-10.0,15.0,15000.0,1.0,12.0,RD15pct,SET100,both
24,TQM,0.0,2021.0,4.0,41.75,68.20,5.0,0.0,0.0,3.8,2022-03-18,0.0,26.45,63.35,66.75,40.50,27.63,9.19,100.12,0.77,SET100 / SETTHSI,SET100,Financials,Insurance,567.0,66.75,40.50,O,44.00,0.00,96.03,0.77,112.00,4500.0,-28.0,29.0,0.0,6.0,1.0,6L,SET100,both
25,ASIAN,0.0,2021.0,4.0,15.30,22.25,7.0,0.0,0.0,4.4,2022-03-18,0.0,6.95,45.42,22.90,11.47,12.24,3.16,77.35,0.77,sSET / SETTHSI,SET999,Agro & Food Industry,Food & Beverage,705.0,22.90,11.00,O,15.20,0.00,78.96,0.79,0.00,9000.0,-4.0,4.0,0.0,0.0,0.0,,SET,both
26,ASK,1.0,2021.0,4.0,45.75,53.56,4.0,0.0,0.0,3.4,2022-03-17,1.0,7.81,17.07,49.50,18.70,19.97,2.59,66.80,0.83,SET,SET999,Financials,Finance & Securities,680.0,49.50,18.70,O,42.00,0.00,68.72,0.83,0.00,3000.0,-13.0,14.0,0.0,0.0,0.0,1L,SET,both
27,ASP,1.0,2021.0,4.0,3.48,4.95,2.0,0.0,0.0,10.0,2022-03-18,0.0,1.47,42.24,4.24,2.44,7.49,1.47,87.83,0.67,sSET,SET999,Financials,Finance & Securities,699.0,4.24,2.44,I,3.70,3.82,90.44,0.68,3.80,30000.0,-9.0,12.0,30000.0,0.0,0.0,DOS,SET,both
28,MAKRO,1.0,2021.0,4.0,41.50,50.18,9.0,1.0,0.0,2.0,2022-03-18,0.0,8.68,20.92,57.25,35.00,31.89,1.52,716.37,0.99,SET,SET999,Services,Commerce,704.0,57.25,35.00,B,39.75,0.00,711.82,0.99,42.00,1500.0,-8.0,8.0,3000.0,0.0,0.0,RD05pct,SET,both
29,MCS,0.0,2021.0,4.0,14.20,20.50,2.0,0.0,0.0,8.2,2022-03-16,2.0,6.30,44.37,16.20,13.00,4.75,1.51,32.27,0.55,sSET,SET999,Industrials,Steel and Metal Products,85.0,16.20,13.00,B,14.50,16.80,31.84,0.55,16.70,10000.0,-5.0,5.0,50000.0,6.0,3.0,DOS,SET,both
30,NER,1.0,2021.0,4.0,7.15,9.82,9.0,1.0,0.0,6.1,2022-03-18,0.0,2.67,37.34,8.65,5.10,6.76,2.30,129.88,0.57,sSET,SET999,Agro & Food Industry,Agribusiness,602.0,8.65,5.10,U,0.00,7.80,131.90,0.56,7.45,9000.0,-13.0,14.0,27000.0,0.0,0.0,5pct,SET,both
31,PTL,1.0,2021.0,3.0,25.00,30.00,1.0,0.0,0.0,5.7,2022-03-18,0.0,5.00,20.00,31.75,22.30,6.87,1.29,98.11,0.72,SET,SET999,Industrials,Packaging,717.0,31.75,22.30,O,0.00,0.00,100.15,0.74,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET,both
32,SCCC,1.0,2021.0,4.0,156.50,196.10,6.0,1.0,0.0,5.6,2022-03-17,1.0,39.60,25.30,188.50,150.00,10.87,1.22,72.84,0.60,SETCLMV / SETTHSI,SET999,Property & Construction,Construction Materials,701.0,188.50,150.00,T,153.50,0.00,74.38,0.60,171.00,300.0,-10.0,9.0,1200.0,0.0,0.0,RD10pct,SET,both
33,SENA,1.0,2021.0,4.0,4.58,5.40,2.0,0.0,0.0,5.6,2022-03-18,0.0,0.82,17.90,5.50,3.44,5.20,0.84,36.12,0.98,sSET,SET999,Property & Construction,Property Development,711.0,5.50,3.44,X,4.90,0.00,37.11,0.98,0.00,30000.0,-4.0,4.0,0.0,0.0,0.0,,SET,both
34,SIS,0.0,2021.0,4.0,38.00,49.00,2.0,0.0,0.0,3.6,2022-03-17,1.0,11.00,28.95,48.75,24.60,17.01,4.15,34.89,1.84,sSET,SET999,Technology,Information & Communication Technology,564.0,48.75,24.60,U,0.00,40.75,35.32,1.84,40.50,1500.0,-11.0,18.0,4500.0,0.0,24.0,DOS,SET,both
35,SNC,1.0,2021.0,4.0,16.50,21.30,3.0,0.0,0.0,5.9,2022-03-18,0.0,4.80,29.09,18.70,13.20,9.28,1.23,24.10,0.52,sSET / SETTHSI,SET999,Industrials,Industrial Materials & Machinery,702.0,18.70,13.00,O,16.50,0.00,24.43,0.53,17.00,9000.0,-6.0,9.0,0.0,0.0,0.0,1L,SET,both
36,SVI,1.0,2021.0,4.0,8.00,10.03,3.0,3.0,0.0,2.5,2022-03-18,0.0,2.03,25.37,11.70,4.60,12.01,3.25,147.28,0.93,SET,SET999,Technology,Electronic Components,672.0,11.70,4.60,O,8.00,0.00,151.21,0.94,0.00,15000.0,-9.0,11.0,0.0,0.0,0.0,6L,SET,both
37,TPIPL,1.0,2021.0,4.0,1.65,2.43,3.0,0.0,0.0,4.8,2022-03-18,0.0,0.78,47.27,2.22,1.61,5.58,0.65,63.00,0.98,SET,SET999,Property & Construction,Construction Materials,712.0,2.22,1.61,I,0.00,1.71,52.00,0.98,1.70,60000.0,-9.0,8.0,60000.0,0.0,0.0,DOS,SET,both
38,PTTGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0,70.00,47.50,T,0.00,58.00,1147.33,1.03,58.75,3000.0,-11.0,9.0,12000.0,3.0,12.0,CUT,SET50,right_only
39,JASIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.0,11.30,9.45,I,0.00,11.30,210.14,0.33,10.10,10000.0,-5.0,4.0,110000.0,0.0,0.0,DOS,SET,right_only
40,DIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.0,14.50,11.70,T,13.50,14.80,166.37,0.39,14.70,10000.0,-5.0,5.0,50000.0,0.0,0.0,CP1S,SET,right_only
41,HREIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,526.0,9.30,7.75,I,0.00,9.00,4.85,0.38,8.95,40100.0,-5.0,5.0,40100.0,0.0,12.0,DOS,SET,right_only
42,JMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,547.0,70.75,38.34,O,60.00,0.00,659.15,1.08,40.50,3000.0,-9.0,14.0,0.0,1.0,12.0,3L,SET100,right_only
43,STA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,571.0,50.50,24.20,B,26.25,29.50,258.43,0.48,33.75,15000.0,-10.0,15.0,22500.0,3.0,0.0,RD20pct,SET100,right_only
44,RJH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,618.0,39.00,25.75,T,0.00,34.75,14.97,0.12,33.00,1500.0,-8.0,8.0,4500.0,3.0,0.0,5pct,SET,right_only
45,SAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,636.0,24.80,16.70,X,0.00,23.20,75.86,0.87,21.10,2500.0,-10.0,13.0,0.0,0.0,0.0,15pct,SET,right_only
46,KBANK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,637.0,175.00,101.00,X,146.00,144.50,4906.11,1.74,136.50,1500.0,-17.0,19.0,0.0,0.0,0.0,5pct,SET50,right_only
47,TMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,645.0,15.00,8.15,B,10.50,0.00,11.27,0.98,10.50,15000.0,-5.0,11.0,27000.0,0.0,0.0,ROUND,SET,right_only
48,RCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,662.0,67.75,24.00,B,48.25,0.00,444.12,1.27,46.25,3000.0,-16.0,26.0,9000.0,0.0,0.0,DOS,SET100,right_only
49,IP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,665.0,24.47,17.80,I,0.00,20.30,25.33,0.61,20.20,2500.0,-8.0,9.0,7500.0,0.0,0.0,CP1S,mai,right_only
50,WHART,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,687.0,14.08,11.40,I,0.00,12.40,17.40,0.17,12.30,20000.0,-5.0,4.0,20000.0,0.0,0.0,DOS,SET,right_only
51,CPNCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,698.0,12.80,10.50,I,0.00,12.50,3.44,0.43,12.40,20000.0,-4.0,4.0,20000.0,0.0,0.0,DOS,SET,right_only
52,SMPC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,703.0,14.20,10.00,X,0.00,0.00,16.29,0.70,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET,right_only
53,CHG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,708.0,4.44,2.80,O,3.36,0.00,263.91,-0.16,0.00,60000.0,-4.0,4.0,0.0,0.0,0.0,,SET100,right_only
54,IMH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,710.0,23.30,3.88,X,20.00,0.00,128.48,0.54,0.00,9000.0,-15.0,23.0,0.0,0.0,0.0,1L,mai,right_only
55,VIBHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,714.0,2.74,1.75,X,2.22,0.00,30.77,0.01,0.00,45000.0,-4.0,4.0,0.0,0.0,0.0,,SET,right_only
56,AMATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,715.0,23.00,16.60,O,0.00,0.00,247.78,1.36,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET100,right_only
57,DCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,718.0,3.40,2.44,O,2.80,0.00,43.87,0.61,0.00,45000.0,-4.0,4.0,0.0,0.0,0.0,6L,SET,right_only
58,AIMIRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,719.0,13.40,11.61,I,0.00,13.10,3.47,0.03,13.00,10000.0,-4.0,4.0,10000.0,0.0,0.0,DOS,SET,right_only
59,BAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,722.0,39.50,27.25,O,0.00,0.00,65.80,1.36,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET,right_only
60,EA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,723.0,105.50,57.00,O,0.00,0.00,1761.76,1.18,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET50,right_only

In [38]:
df_merge[df_merge['_merge'] == 'left_only'].sort_values('name',ascending=True)

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,max_price_x,min_price_x,pe,pbv,dly_vol,beta_x,market_x,mrkt,sector,subsector,id,max_price_y,min_price_y,status,buy_target,sell_target,volume,beta_y,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market_y,_merge
2,COM7,1.0,2021.0,4.0,42.75,89.57,5.0,3.0,0.0,3.1,2022-03-18,0.0,46.82,109.52,43.5,29.12,38.09,18.96,673.25,0.93,SET50 / SETTHSI / SETWB,SET50,Services,Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only