### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 1, 3), '2022-01')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=4)
wkago = today - timedelta(days=6)
today, wkago

(datetime.date(2021, 12, 30), datetime.date(2021, 12, 24))

In [3]:
format_dict = {
               'price':'{:.2f}','target':'{:.2f}','target_price':'{:.2f}',
               'max':'{:.2f}','min':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',
               'beta':'{:.2f}','pe':'{:.2f}','pbv':'{:.2f}','eps_a':'{:.2f}','eps_b':'{:.2f}',
               'dly_vol':'{:,.2f}','daily_volume':'{:,.2f}','market_cap':'{:,.2f}','yield':'{:,.2f}'             
               }

In [4]:
pd.read_sql_query('SELECT * FROM profits ORDER BY id DESC LIMIT 1', conmy).style.format(format_dict)

In [5]:
pd.read_sql_query('SELECT * FROM stocks WHERE ticker_id = 264', conmy).style.format(format_dict)

In [6]:
pd.read_sql_query('SELECT * FROM consensus ORDER BY id DESC LIMIT 1', conpg).style.format(format_dict)

In [7]:
pd.read_sql_query('SELECT * FROM tickers WHERE id = 537', conpg)

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,537,TIPH,DHIPAYA INSURANCE PUBLIC COMPANY LIMITED,Financials,Insurance,SET,www.dhipaya.co.th,2018-04-22 04:29:39.354717,2021-07-07 03:33:39.225331

In [8]:
cols = 'quarter price target upside buy hold sell yield max min pe pbv dly_vol beta'.split()
colt = 'name price target upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target upside buy hold sell mrkt yield'.split()

In [9]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(39, 4)

In [10]:
sql = """
SELECT name, price, target_price AS target, 
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) < 15"""
sql = sql % (today, today)
print(sql)

consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['upside'] = consensus['upside'].astype(int)
consensus.shape

SELECT name, price, target_price AS target,
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield,
date(updated_at), ('2021-12-30'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('2021-12-30'::date - date(updated_at)::date) < 15

(239, 9)

In [11]:
#consensus.loc['TSTH',['target','upside']] = [1.89,21]

In [12]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.tail()

,name,kind,year,quarter,price,target,upside,buy,hold,sell,yield,date,days
32,SYNEX,0,2021,3,36.50,29.68,-19,3,1,3,2.0,2021-12-31,-1
33,TKS,1,2021,3,15.30,22.00,44,1,0,0,3.7,2021-12-27,3
34,TOP,0,2021,3,49.50,64.33,30,3,0,0,2.9,2021-12-31,-1
35,TQM,1,2021,3,97.00,145.00,49,6,0,0,2.7,2021-12-31,-1
36,TSE,1,2021,3,2.62,3.44,31,3,0,0,3.3,2021-12-31,-1

In [13]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [14]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

,name,kind,year,quarter,price,target,upside,buy,hold,sell,yield,date,days,_merge
15,LANNA,1.0,2021.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
38,TSTH,1.0,2021.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Start of Gain Percentage Calculation

In [15]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape[0]

358

In [16]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [17]:
my_stocks["mrkt"].value_counts()

SET999    242
SET50      50
SET100     50
mai        16
Name: mrkt, dtype: int64

In [18]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(37, 20)

In [19]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= 5)
flt_set50 = consensus2[set50]
flt_set50[cols].style.format(format_dict)

In [20]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < 5)]\
    [cols].style.format(format_dict)

In [21]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= 10)
flt_set100 = consensus2[set100]
flt_set100[cols].style.format(format_dict)

In [22]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < 10)]\
    [cols].style.format(format_dict)

In [23]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= 15) 
flt_set999 = consensus2[set999]
flt_set999[cols].style.format(format_dict)

In [24]:
consensus2.loc\
    [(consensus2.mrkt.str.contains('SET999')) & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [25]:
mai = consensus2.mrkt.str.contains('mai') & (consensus2.upside >= 15)
flt_mai = consensus2[mai]
flt_mai[cols].style.format(format_dict)

In [26]:
consensus2.loc\
    [consensus2.mrkt.str.contains('mai') & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [27]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [28]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [29]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 27 stocks'

In [30]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

402

In [31]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to input to port_lite stocks

In [32]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [33]:
final.shape

(27, 23)

In [34]:
file_name = 'consensus.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

final[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)