### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 11, 19), '2022-46')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 11, 18), datetime.date(2022, 11, 11))

In [3]:
s50_pct = 30
s100_pct = 35
s999_pct = 40

### Restart and Run All Cells

In [4]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [8]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [9]:
names = tmp['name']
name = names.to_string(index=False)
name

'KSL'

In [10]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'KSL'

In [11]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'KSL'

In [14]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'KSL'

In [15]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits

     name  kind  year  quarter
0      AH     1  2022        3
1     AIT     1  2022        3
2     ASK     1  2022        3
3   BANPU     1  2022        3
4     BBL     1  2022        3
5    BDMS     1  2022        3
6     BEM     1  2022        3
7      BH     1  2022        3
8     BPP     1  2022        3
9      CK     1  2022        3
10    CKP     1  2022        3
11   COM7     1  2022        3
12  CPALL     1  2022        3
13    CPF     1  2022        3
14    CPN     1  2022        3
15     EA     1  2022        3
16  FORTH     1  2022        3
17   GFPT     1  2022        3
18  HMPRO     1  2022        3
19   ICHI     1  2022        3
20    III     1  2022        3
21  JMART     1  2022        3
22    JMT     1  2022        3
23    KCE     1  2022        3
24    KKP     1  2022        3
25    KSL     1  2022        3
26    KTB     1  2022        3
27     LH     1  2022        3
28  MAKRO     1  2022        3
29   MEGA     1  2022        3
30    NER     1  2022        3
31  OISHI     1  2022        3
32    PSH     1  2022        3
33    PTL     1  2022        1
34  PTTEP     1  2022        3
35     QH     1  2022        3
36  SABUY     1  2022        3
37  SAPPE     1  2022        3
38     SC     1  2022        3
39    SCB     1  2022        3
40   SIRI     1  2022        3
41  SPALI     1  2022        3
42  STARK     1  2022        3
43    SVI     1  2022        3
44  SYNEX     1  2022        3
45  TFFIF     1  2022        3
46    TFG     1  2022        3
47    TTB     1  2022        3

In [16]:
sqlDel = '''
DELETE FROM profits 
WHERE name = '%s'
AND quarter = 2
'''
sqlDel = sqlDel % name
print(sqlDel)

DELETE FROM profits
WHERE name = 'KSL'
AND quarter = 2

In [17]:
rp = conmy.execute(sqlDel)
rp.rowcount

0

In [18]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
"""
sql = sql % (today)
print(sql)
#sql = sql % (today, today)
#AND ('%s'::date - date(updated_at)::date) < 15
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-11-18'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0

(212, 10)

In [ ]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [19]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.sample(10).style.format(format_dict)

In [20]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [21]:
names = prf_css.loc[prf_css.days == 139]['name']
names

40    STARK
Name: name, dtype: object

### Profits w/o consensus

In [22]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,_merge
16,FORTH,1.0,2022.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
36,SABUY,1.0,2022.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [23]:
names = df_tmp[prf_wo_css]['name']
names

16    FORTH
36    SABUY
Name: name, dtype: object

### Start of Gain Percentage Calculation

In [24]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.sample(10)

,name,max_price,min_price,pe,pbv,dly_vol,beta,market
75,HTC,38.00,28.00,14.29,1.60,7.20,0.92,sSET / SETTHSI
134,RS,22.70,14.60,189.56,7.93,86.79,1.10,sSET / SETTHSI
193,UNIPF,10.20,9.30,999.99,0.95,0.43,0.08,SET
91,KTC,68.00,52.00,22.64,5.08,361.72,1.05,SET50 / SETTHSI
102,MACO,1.07,0.43,999.99,1.10,29.79,1.49,SET
173,TISCO,101.50,86.00,10.71,1.88,436.17,0.42,SET50 / SETHD / SETTHSI
40,COM7,43.75,26.25,24.56,11.75,555.78,1.29,SET100 / SETTHSI / SETWB
106,MST,14.80,10.80,10.40,1.33,2.41,0.57,SET
140,SCB,121.50,89.75,8.76,0.78,1673.11,1.42,SET50 / SETCLMV / SETTHSI
113,NPPG,1.47,0.79,999.99,1.72,11.88,0.69,SET

In [25]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [26]:
my_stocks["mrkt"].value_counts()

SET999    144
SET50      50
SET100     50
mai         9
Name: mrkt, dtype: int64

In [27]:
prf_css_stk = pd.merge(prf_css, my_stocks, on='name', how='inner')
prf_css_stk.set_index('name', inplace=True)
prf_css_stk.shape

(46, 21)

In [28]:
set50 = prf_css_stk.mrkt.str.contains('SET50') & (prf_css_stk.upside >= s50_pct)
flt_set50 = prf_css_stk[set50]
flt_set50[cols].style.format(format_dict)

In [29]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('SET50') & (prf_css_stk.upside < s50_pct)]\
    [cols].style.format(format_dict)

In [30]:
set100 = prf_css_stk.mrkt.str.contains('SET100') & (prf_css_stk.upside >= s100_pct)
flt_set100 = prf_css_stk[set100]
flt_set100[cols].style.format(format_dict)

In [31]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('SET100') & (prf_css_stk.upside < s100_pct)]\
    [cols].style.format(format_dict)

In [32]:
set999 = prf_css_stk.mrkt.str.contains('SET999') & (prf_css_stk.upside >= s999_pct) 
flt_set999 = prf_css_stk[set999]
flt_set999[cols].style.format(format_dict)

In [33]:
prf_css_stk.loc\
    [(prf_css_stk.mrkt.str.contains('SET999')) & (prf_css_stk.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [34]:
mai = prf_css_stk.mrkt.str.contains('mai') & (prf_css_stk.upside >= s999_pct)
flt_mai = prf_css_stk[mai]
flt_mai[cols].style.format(format_dict)

In [35]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('mai') & (prf_css_stk.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [36]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [37]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [38]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 9 stocks'

In [39]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

403

In [40]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to update to port_lite stocks

In [41]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [42]:
final.shape

(9, 24)

### Matching check with Buy table in MySql database to filter only records not yet in stocks

In [43]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
buy_df = pd.read_sql(sql, const)
buy_df.shape

(25, 1)

In [44]:
final_buy = pd.merge(final, buy_df, on='name', how='outer', indicator=True)
final_buy.shape

(33, 25)

In [45]:
not_in_port = final_buy.loc[
    final_buy['_merge'] == 'left_only']
not_in_port[colt].shape

(8, 13)

In [46]:
not_in_port2 = not_in_port[colt].copy()

In [47]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [48]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(66, 18)

In [49]:
not_in_port.dtypes

name              object
kind             float64
year             float64
quarter          float64
price            float64
target_price     float64
buy              float64
hold             float64
sell             float64
yield            float64
date              object
days             float64
diff             float64
upside           float64
max_price        float64
min_price        float64
pe               float64
pbv              float64
dly_vol          float64
beta             float64
market            object
mrkt              object
sector            object
subsector         object
_merge          category
dtype: object

In [50]:
#not_in_port2.drop(columns=['_merge'],inplace=True)
not_in_port2.dtypes

name             object
price           float64
target_price    float64
upside          float64
buy             float64
hold            float64
sell            float64
market           object
sector           object
subsector        object
dly_vol         float64
beta            float64
yield           float64
dtype: object

In [51]:
df_merge4 = pd.merge(not_in_port2, stocks, on='name', how='outer', indicator=True)
df_merge4.shape

(67, 31)

In [52]:
df_merge4[df_merge4['_merge'] == 'left_only'].sort_values('name',ascending=True)

,name,price,target_price,upside,buy,hold,sell,market_x,sector,subsector,dly_vol,beta_x,yield,id,max_price,min_price,status,buy_target,sell_target,volume,beta_y,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market_y,_merge
0,CPF,24.4,31.89,30.7,13.0,0.0,0.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,Agro & Food Industry,Food & Beverage,629.07,0.81,3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only