### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 5, 21), '2022-20')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 5, 20), datetime.date(2022, 5, 13))

In [3]:
s50_pct = 10
s100_pct = 15
s999_pct = 20

### Restart and Run All Cells

In [4]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [5]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [6]:
names = tmp['name']
name = names.to_string(index=False)
name

'BANPU'

In [7]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'BANPU'

In [8]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'BANPU'

In [9]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'BANPU'

In [10]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'BANPU'

In [11]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(36, 4)

In [12]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
"""
sql = sql % (today)
print(sql)
#sql = sql % (today, today)
#AND ('%s'::date - date(updated_at)::date) < 15
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-05-20'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0

(211, 10)

In [13]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [14]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.head(10).style.format(format_dict)

In [15]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [16]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, _merge]
Index: []

### Start of Gain Percentage Calculation

In [17]:
sqlUpd = """
UPDATE stocks
SET market = 'SET50'
WHERE name = 'SCB'"""
rp = conmy.execute(sqlUpd)
rp.rowcount

1

In [18]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks

,name,max_price,min_price,pe,pbv,dly_vol,beta,market
0,ADVANC,242.00,168.00,24.38,8.57,998124.22,2.12,SET50 / SETHD / SETTHSI
1,AEONTS,209.00,168.00,13.19,2.36,52917.66,14.21,SET100
2,AH,28.50,19.80,8.04,0.91,13924.53,1.13,sSET / SETTHSI
3,AIT,9.80,4.24,12.53,2.22,22100.18,0.16,sSET
4,AJ,23.00,15.60,15.52,1.48,2361.51,0.32,sSET / SETCLMV
5,ALUCON,220.00,167.00,13.00,1.34,135.07,3.10,SET
6,AMATA,23.00,17.10,12.80,1.24,211220.39,0.48,SET100 / SETCLMV / SETTHSI
7,ANAN,2.40,1.11,NaN,0.33,6083.12,-0.10,sSET
8,AOT,69.00,55.50,NaN,9.41,2302927.25,-0.53,SET50 / SETTHSI / SETWB
9,AP,12.00,7.45,6.98,0.99,146939.87,0.55,SET100 / SETHD
10,ASIAN,22.90,13.90,12.24,3.07,211150.26,0.31,sSET / SETTHSI
11,ASK,49.50,30.50,17.35,2.30,48177.99,0.67,SET
12,ASP,4.24,3.06,8.59,1.30,4016.51,0.07,sSET
13,BA,13.00,7.00,NaN,1.60,33947.32,-0.49,SETWB
14,BANPU,14.90,9.65,4.44,0.96,2492007.70,1.52,SET50 / SETCLMV / SETTHSI
15,BAT-3K,280.00,171.00,37.20,2.86,3.52,0.04,SET
16,BAY,39.25,27.25,6.94,0.74,4393.80,1.01,SET
17,BBL,149.00,100.00,9.04,0.49,549391.53,3.73,SET50 / SETHD / SETTHSI
18,BCH,26.75,17.70,5.48,3.13,288625.33,0.81,SET100 / SETWB
19,BCP,35.25,22.60,4.80,0.80,305040.43,3.12,SET100 / SETCLMV / SETTHSI
20,BCPG,15.40,11.10,12.39,1.23,66703.66,0.47,SET100 / SETCLMV / SETHD / SETTHSI
21,BDMS,27.75,20.80,42.74,4.91,3043741.41,0.22,SET50 / SETCLMV / SETTHSI / SETWB
22,BEAUTY,1.98,1.31,NaN,5.36,5380.04,0.00,SET
23,BEC,17.90,10.20,37.66,4.72,112330.78,0.09,SET100
24,BEM,9.25,7.55,129.22,3.52,746307.79,0.02,SET50 / SETTHSI / SETWB
25,BFIT,45.75,24.50,24.06,1.71,36066.57,0.17,SET
26,BGRIM,46.50,29.75,50.96,2.81,220339.97,-0.03,SET50 / SETCLMV / SETTHSI
27,BH,176.00,116.50,75.08,7.72,547961.43,0.91,SET50 / SETCLMV / SETWB
28,BJC,37.50,29.25,38.05,1.24,311087.17,0.31,SETCLMV / SETTHSI / SETWB
29,BKI,308.00,263.00,NaN,0.93,15196.55,-33.63,SET
30,BLA,48.00,24.70,21.72,1.40,182577.20,0.47,SET100 / SETTHSI
31,BLAND,1.19,0.94,NaN,0.39,5141.99,-0.03,SET
32,BPP,20.30,15.30,9.79,1.01,27762.71,0.96,SET100 / SETCLMV / SETHD / SETTHSI
33,BTC,1.40,0.60,999.99,1.48,7.88,0.77,SET
34,BTS,10.20,8.30,25.24,1.91,1092535.22,0.23,SET50 / SETTHSI / SETWB
35,BTSGIF,5.10,3.76,0.00,0.55,5190.45,0.00,SET
36,CBG,156.00,96.75,38.19,10.00,1372590.18,0.66,SET50 / SETCLMV / SETWB
37,CENTEL,46.50,26.75,NaN,3.01,287838.01,-0.03,SET100 / SETTHSI / SETWB
38,CHG,4.44,3.08,7.42,4.41,136502.67,0.12,SET100 / SETWB
39,CK,23.70,17.40,41.07,1.31,374118.73,0.07,SET100 / SETCLMV / SETTHSI
40,CKP,6.30,4.70,21.45,1.80,67022.76,0.00,SET100 / SETCLMV / SETTHSI
41,CNS,2.50,1.54,25.71,0.63,2.16,0.30,SET
42,COM7,43.75,30.50,31.81,14.92,399435.04,0.33,SET50 / SETTHSI / SETWB
43,CPALL,69.00,56.50,42.03,5.42,1669362.71,0.36,SET50 / SETTHSI / SETWB
44,CPF,27.75,22.70,23.55,0.96,677586.04,0.34,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
45,CPN,63.75,45.25,49.33,3.69,592503.06,0.52,SET50 / SETTHSI
46,CPNCG,12.80,10.50,0.00,1.03,6089.98,0.00,SET
47,CPNRF,22.10,17.00,999.99,1.61,24.56,0.15,SET
48,DCC,3.40,2.70,14.67,4.32,47107.94,0.06,SET
49,DCON,0.70,0.42,19.85,0.94,879.65,0.01,SET
50,DELTA,790.00,313.00,54.27,9.54,233342.57,2.23,SET
51,DIF,14.50,11.90,0.00,0.84,91630.66,0.00,SET
52,DRT,9.20,7.05,10.88,2.71,1652.07,0.22,sSET / SETCLMV / SETTHSI
53,DTAC,51.50,28.75,31.96,5.66,62488.02,0.31,SET50
54,EA,105.50,57.00,52.83,9.47,673851.64,0.37,SET50 / SETTHSI
55,EASTW,10.50,6.00,11.65,0.97,16487.43,0.15,SETTHSI
56,ECL,3.82,1.56,15.18,1.52,127891.51,0.05,SET
57,EGATIF,12.50,8.55,0.00,0.97,27107.63,0.00,SET
58,EGCO,187.00,160.00,12.17,0.77,259698.10,7.82,SET50 / SETCLMV / SETHD / SETTHSI
59,EPCO,4.40,2.56,4.89,0.97,3.51,0.76,sSET
60,EPG,13.70,8.60,16.99,2.46,70995.40,0.45,SET100 / SETTHSI
61,ESSO,9.85,7.00,4.42,1.33,192250.91,1.70,SET100
62,FOCUS,2.32,0.81,999.99,2.80,7.35,0.73,mai
63,FORTH,53.00,8.70,57.62,23.03,379835.25,0.25,SET
64,FSMART,28.00,7.65,45.03,13.78,774969.03,0.11,mai
65,GC,6.73,4.32,13.07,3.92,454.76,0.14,SET
66,GFPT,16.70,10.50,33.81,1.36,86865.30,0.36,sSET / SETTHSI
67,GGC,14.70,9.90,20.11,1.39,10771.20,0.48,sSET
68,GL,5.80,2.24,999.99,1.00,22.39,1.35,sSET
69,GLOBAL,23.70,17.63,29.21,4.98,131354.54,0.25,SET50 / SETCLMV / SETTHSI / SETWB
70,GPSC,89.75,59.50,31.15,1.62,257865.58,0.11,SET50 / SETTHSI
71,GRAMMY,19.00,10.00,NaN,6.90,117.33,-0.19,SET
72,GUNKUL,7.20,3.40,21.96,3.50,294240.99,0.06,SET100 / SETCLMV / SETHD / SETTHSI
73,HANA,96.25,43.00,23.51,1.63,314055.59,0.45,SET100 / SETTHSI
74,HFT,9.75,5.95,10.32,1.21,5793.94,0.15,sSET
75,HMPRO,16.60,12.40,34.59,7.92,322395.50,0.11,SET50 / SETTHSI / SETWB
76,HREIT,9.30,8.30,0.00,0.91,1768.90,0.00,SET
77,HTC,40.00,28.50,11.95,1.58,3833.01,0.52,sSET / SETTHSI
78,ICHI,13.30,8.65,22.97,1.93,52642.82,0.08,sSET / SETCLMV
79,IMPACT,20.40,14.40,0.00,1.50,21307.14,0.00,SET
80,INTUCH,90.75,60.00,21.85,6.09,334563.97,0.80,SET50 / SETCLMV / SETHD / SETTHSI
81,IRPC,4.76,3.06,6.43,0.75,195772.08,0.07,SET50 / SETCLMV / SETTHSI
82,IVL,52.00,36.00,7.97,1.54,470681.39,2.47,SET50 / SETTHSI
83,JASIF,11.30,9.45,0.00,0.98,193804.54,0.00,SET
84,JMART,64.00,30.50,31.20,4.30,327892.32,0.23,SET100
85,JMT,88.25,39.08,71.54,4.82,960072.61,0.27,SET100
86,JWD,24.40,11.60,27.31,4.02,32957.78,0.12,sSET / SETTHSI
87,KBANK,175.00,101.00,8.86,0.70,1874052.31,4.58,SET50 / SETCLMV / SETTHSI
88,KCE,95.00,53.50,29.75,5.35,392900.31,0.50,SET50
89,KGI,8.40,5.00,7.02,1.31,20278.49,0.16,sSET
90,KKP,76.25,49.75,8.61,1.12,207955.39,2.43,SET100 / SETCLMV / SETHD / SETTHSI
91,KSL,4.84,3.18,26.08,0.83,13943.73,0.08,SETCLMV
92,KTB,15.30,9.90,8.40,0.58,589648.41,0.63,SET50 / SETHD / SETTHSI
93,KTC,84.75,52.75,25.49,5.34,269782.94,0.68,SET50 / SETTHSI
94,KYE,460.00,352.00,20.85,0.88,7546.78,17.02,SET
95,LALIN,11.80,8.10,6.19,1.01,2901.36,0.35,sSET
96,LANNA,29.00,10.50,5.09,1.58,37073.91,1.17,sSET
97,LH,9.90,7.70,14.76,2.03,392238.14,0.16,SET50 / SETHD
98,LHFG,1.69,1.03,20.15,0.70,5772.30,0.02,SET
99,LHK,4.48,3.20,8.08,1.17,7421.53,0.41,SET
100,LIT,3.64,1.94,NaN,0.76,3583.45,-0.05,mai
101,LPH,6.90,5.05,7.13,2.22,1239.21,0.21,sSET
102,LPN,5.80,4.26,17.57,0.57,4433.37,0.13,sSET / SETTHSI
103,M,57.50,48.50,150.78,3.51,44171.61,0.29,SETWB
104,MACO,1.07,0.45,NaN,1.40,5803.72,0.02,sSET
105,MAJOR,26.25,17.90,10.63,2.51,30078.85,0.03,SET100 / SETCLMV / SETTHSI
106,MAKRO,57.25,33.75,27.58,1.33,595836.40,0.19,SET
107,MBAX,6.50,4.92,11.15,1.75,225.14,0.09,mai
108,MST,14.70,11.30,8.65,1.30,2218.79,0.49,SET
109,MC,10.10,8.70,18.70,2.01,1080.67,0.46,sSET
110,MCS,16.20,11.70,4.16,1.35,14934.09,0.55,sSET
111,MEGA,56.50,34.50,20.75,5.77,340419.44,0.70,SET100 / SETCLMV / SETWB
112,MINT,36.25,27.00,NaN,2.73,592427.11,-0.80,SET50 / SETCLMV / SETTHSI / SETWB
113,MTC,65.50,40.25,19.18,3.61,502334.52,0.65,SET50 / SETTHSI
114,NOBLE,7.95,4.76,14.90,1.17,3443.70,-0.01,sSET
115,NPPG,1.47,0.79,999.99,1.72,11.88,0.69,SET
116,OISHI,50.50,39.00,21.58,2.37,216.13,1.74,SET
117,ORI,12.70,8.20,7.74,1.53,93923.70,0.30,SET100 / SETHD / SETTHSI
118,PAP,6.90,3.78,8.57,0.91,822.46,0.03,sSET
119,PCSGH,6.00,4.86,12.81,1.57,114.52,0.14,SET
120,PDG,4.22,3.45,23.39,1.74,56.34,0.03,mai
121,PLANB,8.65,4.89,252.66,4.48,172525.78,0.03,SET100 / SETTHSI
122,POPF,12.70,10.70,0.00,1.05,3170.19,0.00,SET
123,PRANDA,4.56,3.84,999.99,0.79,2.81,0.35,SET
124,PREB,9.20,7.85,9.14,1.05,486.56,0.28,SET
125,PSH,15.60,12.00,12.28,0.64,5297.12,0.25,SETTHSI
126,PTG,19.80,12.90,39.45,3.04,350683.34,0.10,SET100 / SETHD / SETTHSI
127,PTL,30.50,22.30,6.61,1.25,45776.77,2.86,SET
128,PTT,42.00,34.00,10.36,1.02,1146001.39,0.89,SET50 / SETCLMV / SETHD / SETTHSI
129,PTTEP,160.00,100.50,16.42,1.50,1179469.66,2.64,SET50 / SETCLMV / SETHD / SETTHSI
130,PTTGC,67.00,44.25,5.31,0.66,470117.95,0.93,SET50 / SETCLMV / SETTHSI
131,QH,2.44,2.12,12.93,0.86,32719.22,0.05,SET100 / SETHD
132,RATCH,51.01,38.00,12.30,1.22,128295.58,1.09,SET50 / SETCLMV / SETHD / SETTHSI
133,RCL,67.75,36.75,1.67,1.14,230705.53,9.92,SET100 / SETCLMV
134,RJH,39.00,27.75,7.22,4.05,59697.04,1.58,sSET
135,ROJNA,8.90,5.55,4.99,0.73,5381.12,0.41,sSET
136,RS,26.50,14.90,354.76,6.81,86481.46,0.06,SET100 / SETTHSI
137,S11,8.10,5.55,8.98,1.14,531.30,0.13,sSET
138,SAPPE,34.00,23.70,21.88,3.39,91446.72,0.50,sSET
139,SAT,24.80,17.50,8.78,0.99,12820.16,0.61,sSET / SETTHSI
140,SAWAD,78.25,46.50,15.69,2.70,363972.13,0.75,SET50
141,SC,4.10,2.90,7.06,0.70,8316.59,0.09,sSET / SETTHSI
142,SCB,121.50,105.50,9.21,9.99,2461027.53,3.00,SET50
143,SCC,446.00,356.00,10.54,1.19,338512.96,7.37,SET50 / SETCLMV / SETHD / SETTHSI
144,SCCC,185.50,146.50,11.17,1.35,5131.46,2.69,SETCLMV / SETTHSI
145,SENA,5.50,3.44,4.17,0.70,8255.98,0.23,sSET
146,SF,12.00,6.85,11.47,1.03,208.71,0.20,SET
147,SGP,15.70,10.40,6.08,1.22,6712.91,0.54,SET
148,SINGER,59.25,32.43,52.64,2.70,154470.93,0.27,SET100
149,SIRI,1.52,1.05,8.38,0.41,62757.15,0.01,SET100 / SETHD / SETTHSI
150,SIS,48.75,30.50,13.65,3.15,23219.75,0.55,sSET
151,SKR,15.80,8.35,17.49,4.99,7001.72,0.19,SET
152,SMM,3.44,0.83,999.99,999.99,13.20,-0.14,SET
153,SMPC,15.80,10.30,9.08,3.27,11975.83,0.54,sSET
154,SNC,23.80,13.20,9.47,1.48,49394.58,0.76,sSET / SETTHSI
155,SPALI,23.60,19.70,5.33,0.92,91632.61,0.60,SET100 / SETHD
156,SPC,71.00,56.25,12.66,0.93,1141.70,1.15,SET
157,SPCG,19.80,16.10,7.33,1.01,5632.77,0.58,SET
158,SPPT,6.00,3.20,999.99,1.95,5.42,0.74,SET
159,SPRC,12.30,7.75,6.32,1.28,420542.91,1.22,SET100 / SETCLMV
160,SSTSS,9.90,9.40,999.99,0.93,0.27,-0.03,SET
161,STA,45.75,20.60,3.21,0.76,201445.66,0.98,SET100 / SETTHSI / SETWB
162,STANLY,198.50,160.00,8.20,0.67,2783.95,13.67,sSET
163,STEC,16.10,12.00,26.61,1.16,105050.49,0.47,SET100
164,SUPER,1.06,0.78,10.92,1.13,13868.33,0.02,SET100 / SETCLMV
165,SVI,11.70,4.66,10.40,2.90,15729.02,0.12,SET
166,SYNEX,37.00,20.50,20.49,4.45,23581.98,0.26,SET100 / SETTHSI
167,TASCO,21.20,15.50,13.01,1.72,37350.83,0.14,SET100 / SETCLMV / SETHD / SETTHSI
168,TCAP,45.00,31.75,7.65,0.61,129055.87,0.99,SET100 / SETHD
169,TFG,5.35,3.68,36.41,2.20,48646.40,0.11,SET
170,TFUND,11.70,9.90,999.99,0.98,10.44,0.17,SET
171,TGROWTH,11.60,9.75,999.99,1.00,7.23,0.26,SET
172,THANI,5.30,4.00,13.56,1.96,52384.92,0.08,SET100 / SETHD / SETTHSI
173,TIC,51.00,26.00,999.99,1.11,0.27,0.26,SET
174,TIPH,90.00,31.75,20.41,3.60,201978.61,1.06,SET
175,TIPCO,10.40,8.55,10.97,0.99,16681.53,0.01,sSET
176,TISCO,101.50,86.75,10.51,1.67,314854.55,2.24,SET50 / SETHD / SETTHSI
177,TK,13.10,8.65,10.50,0.93,4123.45,0.27,sSET
178,TKN,8.55,6.40,55.58,5.09,8337.02,0.04,sSET
179,TKS,17.36,8.23,4.61,1.05,11011.88,0.30,sSET
180,TLOGIS,12.00,10.00,999.99,1.00,2.92,0.04,SET
181,TTB,1.50,0.95,11.01,0.56,107928.85,0.03,SET50 / SETHD / SETTHSI
182,TMT,12.10,9.05,6.49,2.07,4780.78,0.15,sSET / SETTHSI
183,TMW,45.00,30.00,9.99,0.54,172.50,2.90,mai
184,TOP,61.50,42.50,7.18,0.93,368769.54,3.52,SET50 / SETCLMV / SETTHSI
185,TPIPL,2.06,1.41,4.59,0.58,30871.39,0.10,SET
186,TPIPP,4.56,3.50,7.67,0.96,17639.06,0.10,SET
187,TR,62.00,30.00,2.70,0.33,1449.30,13.95,SET
188,TRUE,5.70,3.00,NaN,1.87,98405.52,-0.05,SET50 / SETTHSI
189,TSE,3.70,2.04,7.47,0.74,2574.40,0.16,sSET
190,TSTH,2.22,1.27,4.21,0.87,13451.11,0.31,sSET / SETCLMV / SETTHSI
191,TTA,19.50,8.50,4.19,0.88,556084.61,0.54,SET100 / SETWB
192,TTW,12.30,10.70,14.42,2.94,8538.32,0.15,SETTHSI
193,TU,23.00,16.00,9.71,1.25,225693.90,0.36,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
194,TVI,33.75,5.90,11.45,2.61,5251.03,0.37,SET
195,TVO,35.25,29.50,14.23,2.58,71636.02,0.82,SET100 / SETHD / SETTHSI / SETWB
196,UNIPF,10.20,9.30,999.99,0.95,0.43,0.08,SET
197,UTP,23.30,15.40,11.66,2.55,4761.04,0.42,sSET / SETCLMV
198,VGI,6.96,4.64,193.16,3.37,87002.19,-0.01,SET100 / SETTHSI
199,VIBHA,2.82,2.10,16.68,2.62,31689.82,0.03,SETWB
200,VNT,39.00,30.00,5.41,1.36,47.57,0.44,SET
201,WG,185.50,116.00,19.46,1.65,0.17,-0.07,SET
202,WHA,3.78,2.98,15.08,1.52,183190.30,0.04,SET100 / SETHD / SETTHSI
203,WHART,14.08,10.30,0.00,0.95,10148.78,0.00,SET
204,WHAUP,4.70,3.76,21.73,1.16,8978.93,0.02,sSET / SETTHSI
205,WICE,25.25,7.65,17.37,7.32,55166.86,0.24,sSET
206,WORK,32.50,18.40,42.55,2.17,43492.56,0.07,SET
207,INGRS,1.30,0.57,NaN,0.70,704.77,-0.14,SET
208,PRM,7.75,5.45,11.26,1.59,11766.58,0.11,sSET
209,EARTH,4.74,1.07,7.47,0.48,131.20,1.07,SET
210,SKN,9.90,4.82,7.17,1.94,11415.18,0.28,sSET
211,SSP,14.27,9.10,12.75,1.82,16986.92,0.24,sSET / SETCLMV
212,TOA,39.75,25.75,32.62,4.36,6166.88,0.20,SETTHSI
213,CPNREIT,23.90,18.20,0.00,1.42,38156.41,0.00,SET
214,GOLDPF,7.70,6.45,999.99,0.74,0.89,0.17,SET
215,GULF,52.75,32.50,57.84,5.27,469085.33,0.29,SET50 / SETCLMV / SETTHSI
216,GVREIT,11.00,9.50,0.00,0.86,4907.59,0.00,SET
217,THG,99.50,24.90,26.09,5.74,370035.60,0.62,SETCLMV / SETWB
218,AIMIRT,13.40,11.90,0.00,1.04,1455.38,0.00,SET
219,INOX,1.85,1.00,8.65,0.92,9973.03,0.05,SET
220,BGC,13.10,9.75,12.70,1.57,5217.27,0.31,sSET / SETCLMV / SETTHSI
221,CPTGF,9.40,8.00,0.00,0.79,12791.68,0.00,SET
222,NER,8.65,6.05,5.95,1.96,27154.12,0.27,sSET
223,OSP,39.00,31.50,34.79,5.06,279919.15,0.25,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
224,TFFIF,8.70,7.00,0.00,0.71,16647.97,0.00,SET
225,TQM,61.75,39.50,29.26,9.32,173372.56,0.36,SET100 / SETTHSI
226,ACE,4.60,2.74,19.82,2.13,6803.27,0.03,SET100
227,AWC,5.20,3.60,73.73,1.94,271216.97,0.02,SET50 / SETTHSI
228,DOHOME,25.62,17.58,32.01,4.89,104770.31,0.16,SET100 / SETWB
229,RBF,24.50,14.30,58.27,6.77,58470.06,0.08,SET100 / SETCLMV / SETWB
230,SPRIME,9.00,5.50,0.00,0.67,6303.40,0.00,SET
231,SUPEREIF,12.30,10.60,0.00,1.17,17980.31,0.00,SET
232,TTLPF,24.50,20.50,0.00,1.94,292.10,0.00,SET
233,CRC,41.75,29.75,258.91,3.85,435815.63,0.20,SET50 / SETCLMV / SETTHSI / SETWB
234,BAM,22.30,15.80,22.80,1.41,235061.61,0.10,SET100
235,COTTO,3.18,1.97,20.79,1.38,5111.57,0.04,SET
236,SCGP,71.50,50.75,30.20,2.46,320127.83,0.39,SET50 / SETCLMV / SETTHSI
237,STGT,47.75,17.80,3.76,1.41,189492.96,0.37,SET50 / SETTHSI
238,OR,32.00,23.80,28.10,3.07,615221.54,0.32,SET50 / SETCLMV
239,AIE,6.88,3.62,11.69,2.05,1689.28,0.09,sSET
240,TIDLOR,42.48,30.88,25.15,3.58,408510.79,0.41,SET50
241,LPF,17.00,10.30,0.00,1.08,4110.04,0.00,SET
242,ILM,25.00,12.80,19.62,1.68,27494.52,0.32,sSET
243,VNG,10.10,6.45,9.72,1.87,37254.31,0.18,sSET / SETCLMV
244,ASW,9.40,7.73,8.09,1.37,8977.80,0.26,sSET
245,BCT,59.00,43.00,3.56,0.62,931.08,10.34,SET
246,IMH,23.30,5.75,6.88,3.92,8570.43,0.50,mai
247,PSL,26.00,13.70,6.19,2.23,382546.96,0.83,SET
248,STARK,5.45,3.68,19.20,7.93,573343.50,0.05,SET100 / SETCLMV
249,IP,24.17,17.80,52.44,7.72,135759.21,0.10,mai
250,TYCN,4.86,3.16,8.47,0.45,52.13,0.21,SET
251,KEX,44.75,18.90,NaN,3.75,37522.73,-0.28,SET100 / SETTHSI / SETWB

In [19]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [20]:
my_stocks["mrkt"].value_counts()

SET999    144
SET50      50
SET100     50
mai         8
Name: mrkt, dtype: int64

In [21]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(36, 21)

In [22]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= s50_pct)
flt_set50 = consensus2[set50]
flt_set50[cols].style.format(format_dict)

In [23]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < s50_pct)]\
    [cols].style.format(format_dict)

In [24]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= s100_pct)
flt_set100 = consensus2[set100]
flt_set100[cols].style.format(format_dict)

In [25]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < s100_pct)]\
    [cols].style.format(format_dict)

In [26]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= s999_pct) 
flt_set999 = consensus2[set999]
flt_set999[cols].style.format(format_dict)

In [27]:
consensus2.loc\
    [(consensus2.mrkt.str.contains('SET999')) & (consensus2.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [28]:
mai = consensus2.mrkt.str.contains('mai') & (consensus2.upside >= s999_pct)
flt_mai = consensus2[mai]
flt_mai[cols].style.format(format_dict)

In [29]:
consensus2.loc\
    [consensus2.mrkt.str.contains('mai') & (consensus2.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [30]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [31]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [32]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 19 stocks'

In [33]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

401

In [34]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to update to port_lite stocks

In [35]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [36]:
final.shape

(19, 24)

In [37]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

final[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [38]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(59, 18)

In [39]:
df_merge = pd.merge(final, stocks, on='name', how='outer', indicator=True)
df_merge

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,max_price_x,min_price_x,pe,pbv,dly_vol,beta_x,market_x,mrkt,sector,subsector,id,max_price_y,min_price_y,status,buy_target,sell_target,volume,beta_y,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market_y,_merge
0,BANPU,1.0,2022.0,1.0,12.20,14.43,5.0,2.0,0.0,8.0,2022-05-21,-1.0,2.23,18.28,14.90,9.65,4.44,0.96,2492007.70,1.52,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,9712,14.90,9.65,O,0.00,0.00,1316230.44,1.52,0.00,0,-4,4,0,0,0,XXX,SET50,both
1,BBL,1.0,2022.0,1.0,126.50,163.10,12.0,1.0,0.0,3.7,2022-05-21,-1.0,36.60,28.93,149.00,100.00,9.04,0.49,549391.53,3.73,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,694,149.00,100.00,O,124.00,0.00,2097.92,1.30,0.00,2400,-9,11,0,0,0,1L,SET50,both
2,GLOBAL,1.0,2022.0,1.0,21.50,25.82,9.0,1.0,0.0,1.4,2022-05-21,-1.0,4.32,20.09,23.70,17.63,29.21,4.98,131354.54,0.25,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Commerce,709,23.70,17.63,X,19.40,0.00,323.56,0.63,0.00,9000,-10,9,0,0,0,,SET50,both
3,GULF,1.0,2022.0,1.0,46.50,54.39,9.0,2.0,0.0,1.3,2022-05-21,-1.0,7.89,16.97,52.75,32.50,57.84,5.27,469085.33,0.29,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,553,52.75,31.50,X,50.00,0.00,1494.99,1.22,0.00,6000,-11,13,0,3,0,1L,SET50,both
4,IVL,1.0,2022.0,1.0,48.75,60.11,14.0,0.0,0.0,3.4,2022-05-18,2.0,11.36,23.30,52.00,36.00,7.97,1.54,470681.39,2.47,SET50 / SETTHSI,SET50,Industrials,Petrochemicals & Chemicals,9231,52.00,36.00,O,45.00,0.00,1112.71,1.41,0.00,2400,-11,11,0,0,0,XXX,SET50,both
5,KBANK,1.0,2022.0,1.0,144.50,180.80,14.0,0.0,0.0,3.1,2022-05-18,2.0,36.30,25.12,175.00,101.00,8.86,0.70,1874052.31,4.58,SET50 / SETCLMV / SETTHSI,SET50,Financials,Banking,637,175.00,101.00,O,140.00,144.50,4353.20,1.76,136.50,1500,-17,19,0,0,0,5pct,SET50,both
6,KTC,1.0,2022.0,1.0,59.25,66.71,6.0,0.0,1.0,1.9,2022-05-21,-1.0,7.46,12.59,84.75,52.75,25.49,5.34,269782.94,0.68,SET50 / SETTHSI,SET50,Financials,Finance & Securities,725,84.75,52.75,X,0.00,0.00,466.83,1.56,0.00,0,-4,4,0,0,0,,SET50,both
7,TISCO,1.0,2022.0,1.0,89.50,111.50,12.0,1.0,0.0,8.4,2022-05-21,-1.0,22.00,24.58,101.50,86.75,10.51,1.67,314854.55,2.24,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,557,102.50,85.00,T,97.50,97.75,559.69,0.55,97.50,1000,-15,19,2000,1,12,CP1S,SET50,both
8,TOP,1.0,2022.0,1.0,57.75,67.82,14.0,1.0,0.0,4.9,2022-05-21,-1.0,10.07,17.44,61.50,42.50,7.18,0.93,368769.54,3.52,SET50 / SETCLMV / SETTHSI,SET50,Resources,Energy & Utilities,9555,61.50,42.50,O,0.00,0.00,817.89,1.22,0.00,0,-4,4,0,0,0,XXX,SET50,both
9,TTB,1.0,2022.0,1.0,1.24,1.54,9.0,4.0,0.0,4.9,2022-05-18,2.0,0.30,24.19,1.50,0.95,11.01,0.56,107928.85,0.03,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,9541,1.50,0.95,O,0.00,0.00,708.25,1.40,0.00,0,-4,4,0,0,0,XXX,SET50,both
10,AP,1.0,2022.0,1.0,10.80,12.86,14.0,0.0,0.0,5.2,2022-05-21,-1.0,2.06,19.07,12.00,7.45,6.98,0.99,146939.87,0.55,SET100 / SETHD,SET100,Property & Construction,Property Development,9711,12.00,7.45,O,0.00,0.00,84742.15,0.55,0.00,0,-4,4,0,0,0,XXX,SET100,both
11,BCPG,1.0,2022.0,1.0,12.20,17.18,6.0,0.0,0.0,3.1,2022-05-21,-1.0,4.98,40.82,15.40,11.10,12.39,1.23,66703.66,0.47,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Resources,Energy & Utilities,9053,15.40,11.10,O,0.00,0.00,157.15,0.95,0.00,0,-4,4,0,0,0,XXX,SET100,both
12,KKP,1.0,2022.0,1.0,70.25,82.38,12.0,1.0,0.0,5.6,2022-05-21,-1.0,12.13,17.27,76.25,49.75,8.61,1.12,207955.39,2.43,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Financials,Banking,700,76.25,49.75,O,68.00,0.00,392.95,0.94,0.00,3000,-10,10,0,0,0,3L,SET100,both
13,RCL,1.0,2022.0,1.0,46.75,66.00,1.0,0.0,0.0,17.1,2022-05-21,-1.0,19.25,41.18,67.75,36.75,1.67,1.14,230705.53,9.92,SET100 / SETCLMV,SET100,Services,Transportation & Logistics,662,67.75,30.50,U,43.50,47.50,407.01,1.22,47.25,4000,-16,26,12000,0,0,CP1S,SET100,both
14,SINGER,1.0,2022.0,1.0,50.00,60.85,5.0,0.0,0.0,1.2,2022-05-21,-1.0,10.85,21.70,59.25,32.43,52.64,2.70,154470.93,0.27,SET100,SET100,Services,Commerce,620,56.75,32.43,X,0.00,52.75,222.36,1.11,42.25,1500,-10,16,0,4,12,25pct,SET100,both
15,ASK,1.0,2022.0,1.0,42.00,55.00,1.0,0.0,0.0,3.7,2022-05-21,-1.0,13.00,30.95,49.50,30.50,17.35,2.30,48177.99,0.67,SET,SET999,Financials,Finance & Securities,9038,49.50,20.06,X,40.00,0.00,59.77,0.81,0.00,3000,-4,4,0,0,0,XXX,SET,both
16,SIS,1.0,2022.0,1.0,31.00,46.00,2.0,0.0,0.0,4.2,2022-05-21,-1.0,15.00,48.39,48.75,30.50,13.65,3.15,23219.75,0.55,sSET,SET999,Technology,Information & Communication Technology,9449,48.75,25.75,O,30.50,0.00,33.27,1.75,0.00,0,-4,4,0,0,0,XXX,SET,both
17,SSP,1.0,2022.0,1.0,9.90,16.20,4.0,0.0,0.0,3.4,2022-05-21,-1.0,6.30,63.64,14.27,9.10,12.75,1.82,16986.92,0.24,sSET / SETCLMV,SET999,Resources,Energy & Utilities,9714,14.27,9.10,O,0.00,0.00,35776.45,0.24,0.00,0,-4,4,0,0,0,XXX,SET,both
18,TPIPL,1.0,2022.0,1.0,1.53,2.40,2.0,0.0,0.0,5.2,2022-05-21,-1.0,0.87,56.86,2.06,1.41,4.59,0.58,30871.39,0.10,SET,SET999,Property & Construction,Construction Materials,712,2.22,1.53,U,0.00,1.71,56.66,0.94,1.70,60000,-9,8,60000,0,0,DOS,SET,both
19,MCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,16.20,11.70,T,12.00,13.00,37.02,0.50,15.40,10000,-5,5,75000,6,3,ROUND,SET,right_only
20,PTTGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135,70.00,47.50,S,0.00,58.00,1042.41,1.03,58.75,3000,-11,9,12000,3,12,CUT,SET50,right_only
21,JASIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,11.30,9.45,I,10.00,12.00,173.61,0.32,10.10,10000,-5,4,110000,0,0,C10.10,SET,right_only
22,DIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325,14.50,11.70,B,14.20,14.80,147.37,0.39,14.70,10000,-5,5,50000,0,0,DOS,SET,right_only
23,HREIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,526,9.30,8.05,B,8.20,9.00,4.62,0.35,8.95,10000,-5,5,40100,0,12,RD05pct,SET,right_only
24,MEGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529,56.50,32.25,X,41.50,0.00,199.55,0.68,43.00,6000,-11,13,-1500,1,0,3L,SET100,right_only
25,STA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,571,50.50,24.20,S,0.00,29.50,226.50,0.60,33.00,2400,-10,15,24000,3,0,CUT,SET100,right_only
26,SCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578,474.00,360.00,U,374.00,400.00,1314.67,0.67,398.00,300,-17,16,900,0,12,C398,SET50,right_only
27,NER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602,8.65,5.50,I,0.00,7.50,116.83,0.50,7.45,9000,-13,14,27000,0,0,CP1S,SET,right_only
28,SYNEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603,37.00,23.00,S,23.80,28.25,103.17,1.32,28.00,3000,-10,15,18000,1,12,CP1S,SET100,right_only
29,BCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,610,26.75,16.60,B,18.50,21.40,507.61,-0.41,21.30,3000,-8,10,18000,1,0,RD10pct,SET100,right_only
30,DOHOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612,25.62,17.58,I,0.00,20.30,205.51,0.96,20.25,2400,-9,16,7200,1,0,C20.25,SET100,right_only
31,RJH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,618,39.00,27.00,T,0.00,34.75,15.53,0.10,33.00,1500,-8,8,4500,3,0,5pct,SET,right_only
32,KCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,624,95.00,53.50,U,61.25,64.00,1228.70,0.77,72.50,1000,-11,4,14000,1,0,C62.75,SET50,right_only
33,TMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,645,15.00,9.70,T,9.70,0.00,13.30,1.01,10.50,9000,-5,11,27000,0,0,RD05pct,SET,right_only
34,IP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,665,24.17,17.80,I,0.00,20.30,22.81,0.55,20.20,2500,-8,9,7500,0,0,CP1S,mai,right_only
35,WHART,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,687,14.08,10.80,I,0.00,12.00,24.74,0.21,11.70,10000,-5,4,30000,0,0,C11.70,SET,right_only
36,SCB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,696,138.00,66.00,X,122.00,0.00,1648.69,1.65,0.00,2400,-11,12,0,0,0,3L,SET50,right_only
37,ASP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,699,4.24,2.62,T,3.70,3.82,70.06,0.63,3.80,30000,-9,12,30000,0,0,DOS,SET,right_only
38,SCCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,701,188.50,150.00,T,153.50,0.00,57.87,0.61,171.00,300,-10,9,1200,0,0,RD10pct,SET,right_only
39,SNC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702,20.20,13.20,X,16.50,0.00,26.24,0.50,17.00,9000,-6,9,0,0,0,1L,SET,right_only
40,MAKRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,704,57.25,35.00,I,0.00,40.50,618.00,1.00,40.40,1500,-8,8,7500,0,0,C40.40,SET,right_only
41,BDMS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,707,26.75,20.40,O,26.00,0.00,1132.04,0.39,0.00,4200,-6,7,0,0,0,1L,SET50,right_only
42,SENA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,711,5.50,3.44,T,3.68,4.50,31.56,1.05,4.48,15000,-8,10,105000,0,0,CP1S,SET,right_only
43,ORI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,716,12.70,8.05,U,9.80,11.10,116.98,1.32,11.00,15000,-7,8,45000,0,0,RD10pct,SET100,right_only
44,KTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,727,0.00,0.00,X,0.00,0.00,0.00,0.00,0.00,0,-4,4,0,0,0,,SET50,right_only
45,DCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,728,0.00,0.00,U,0.00,2.98,0.00,0.00,2.96,60000,-4,4,60000,0,0,CP1S,SET,right_only
46,AIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9011,9.80,4.12,O,0.00,0.00,140.03,1.00,0.00,0,-4,4,0,0,0,XXX,SET,right_only
47,BAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9049,39.25,27.25,X,0.00,0.00,52.47,1.29,0.00,0,-4,4,0,0,0,XXX,SET,right_only
48,BH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9061,175.00,116.50,O,0.00,0.00,480.52,0.43,0.00,0,-4,4,0,0,0,XXX,SET50,right_only
49,BPP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9074,20.30,15.30,O,0.00,0.00,28.02,0.83,0.00,0,-4,4,0,0,0,XXX,SET100,right_only
50,ESSO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9165,8.90,7.00,O,0.00,0.00,173.92,1.03,0.00,0,-4,4,0,0,0,XXX,SET100,right_only
51,GGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9188,14.40,9.60,O,0.00,0.00,9.31,0.96,0.00,0,-4,4,0,0,0,XXX,SET,right_only
52,MST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9290,14.70,9.30,X,11.00,0.00,4.79,0.59,0.00,10000,-4,4,0,0,0,XXX,SET,right_only
53,SMPC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9455,14.20,10.00,O,14.00,0.00,14.45,0.66,0.00,7500,-4,4,0,0,0,3L,SET,right_only
54,SPRC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9470,11.50,7.75,O,0.00,0.00,376.23,1.05,0.00,0,-4,4,0,0,0,XXX,SET100,right_only
55,RBF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9702,24.50,14.70,O,14.30,0.00,154.65,1.17,0.00,9000,-4,4,0,0,0,XXX,SET100,right_only
56,COTTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9709,3.18,1.55,O,0.00,0.00,10.15,0.87,0.00,0,-4,4,0,0,0,XXX,SET,right_only
57,BGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9710,13.10,9.45,O,9.80,0.00,7638.50,0.75,0.00,10000,-4,4,0,0,0,DOS,SET,right_only
58,FORTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9713,53.00,7.70,O,0.00,0.00,188882.96,0.25,0.00,0,-4,4,0,0,0,XXX,SET,right_only

In [40]:
df_merge[df_merge['_merge'] == 'left_only'].sort_values('name',ascending=True)

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, max_price_x, min_price_x, pe, pbv, dly_vol, beta_x, market_x, mrkt, sector, subsector, id, max_price_y, min_price_y, status, buy_target, sell_target, volume, beta_y, cost, qty, buy_spread, sell_spread, available_qty, bl, sh, reason, market_y, _merge]
Index: []