### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 11, 26), '2022-47')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 11, 25), datetime.date(2022, 11, 18))

In [3]:
s50_pct = 30
s100_pct = 35
s999_pct = 40

### Restart and Run All Cells

In [4]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [5]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [6]:
names = tmp['name'].values.tolist()
names

['SIRI']

In [7]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SIRI'"

In [8]:
sql = '''
SELECT * 
FROM consensus 
WHERE name IN (%s)
'''
sql = sql % in_p
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name IN ('SIRI')

In [9]:
sql = '''
SELECT * FROM stocks 
WHERE name IN (%s)
'''
sql = sql % in_p
print(sql)

tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name IN ('SIRI')

In [10]:
sql = '''
SELECT * FROM tickers 
WHERE name IN (%s)
'''
sql = sql % in_p
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name IN ('SIRI')

In [11]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits

     name  kind  year  quarter
0      AH     1  2022        3
1     AIT     1  2022        3
2     ASK     1  2022        3
3   BANPU     1  2022        3
4     BBL     1  2022        3
5    BDMS     1  2022        3
6     BEM     1  2022        3
7      BH     1  2022        3
8     BPP     1  2022        3
9      CK     1  2022        3
10    CKP     1  2022        3
11   COM7     1  2022        3
12  CPALL     1  2022        3
13    CPF     1  2022        3
14    CPN     1  2022        3
15     EA     1  2022        3
16   GFPT     1  2022        3
17  HMPRO     1  2022        3
18   ICHI     1  2022        3
19    III     1  2022        3
20  JMART     1  2022        3
21    JMT     1  2022        3
22    KCE     1  2022        3
23    KKP     1  2022        3
24    KTB     1  2022        3
25     LH     1  2022        3
26  MAKRO     1  2022        3
27   MEGA     1  2022        3
28    NER     1  2022        3
29    PSH     1  2022        3
30    PTL     1  2022        1
31  PTTEP     1  2022        3
32     QH     1  2022        3
33  SAPPE     1  2022        3
34     SC     1  2022        3
35    SCB     1  2022        3
36   SIRI     1  2022        3
37  SPALI     1  2022        3
38    SVI     1  2022        3
39  SYNEX     1  2022        3
40  TFFIF     1  2022        3
41    TFG     1  2022        3
42    TTB     1  2022        3

In [12]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
"""
sql = sql % (today)
print(sql)
#sql = sql % (today, today)
#AND ('%s'::date - date(updated_at)::date) < 15
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-11-25'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0

(209, 10)

In [13]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [14]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.sample(10).style.format(format_dict)

In [15]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [16]:
names = prf_css.loc[prf_css.days == 0]['name']
names

9        CK
13      CPF
20    JMART
24      KTB
32       QH
35      SCB
37    SPALI
40    TFFIF
Name: name, dtype: object

In [17]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'CK', 'CPF', 'JMART', 'KTB', 'QH', 'SCB', 'SPALI', 'TFFIF'"

In [18]:
sqlDel = '''
DELETE FROM consensus 
WHERE name IN (%s)
'''
sqlDel = sqlDel % in_p
print(sqlDel)

DELETE FROM consensus
WHERE name IN ('CK', 'CPF', 'JMART', 'KTB', 'QH', 'SCB', 'SPALI', 'TFFIF')

In [19]:
rp = conpg.execute(sqlDel)
rp.rowcount

8

### If there are deleted records, must rerun from select consensus

### Profits w/o consensus

In [20]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, _merge]
Index: []

In [21]:
names = df_tmp[prf_wo_css]['name']
names

Series([], Name: name, dtype: object)

In [22]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

''

In [23]:
sqlDel = '''
DELETE FROM profits
WHERE name IN (%s)
'''
sqlDel = sqlDel % in_p
print(sqlDel)

DELETE FROM profits
WHERE name IN ()

In [24]:
rp = conmy.execute(sqlDel)
rp.rowcount

0

### If there are deleted records, must rerun from select profits

### Start of Gain Percentage Calculation

In [25]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.sample(10)

,name,max_price,min_price,pe,pbv,dly_vol,beta,market
244,STARK,5.15,3.16,14.07,3.09,133.90,0.70,SET100
216,BGC,10.80,9.55,13.38,1.52,6.38,0.54,sSET / SETCLMV / SETTHSI
170,TIC,51.00,26.00,999.99,1.11,0.27,0.26,SET
213,THG,99.50,33.25,29.47,5.92,393.84,0.48,SETWB
172,TIPCO,10.50,8.60,16.37,0.96,12.33,0.46,sSET
179,TMT,12.00,7.05,16.83,1.92,6.58,0.75,sSET / SETTHSI
104,MAKRO,46.25,32.00,28.63,1.42,454.51,1.07,SET
34,CBG,122.00,80.25,37.64,9.12,650.41,1.11,SET50 / SETCLMV / SETWB
128,PTTGC,61.50,39.75,999.99,0.72,758.79,1.14,SET50 / SETCLMV / SETTHSI
52,EA,105.50,76.50,48.45,9.69,1351.22,1.31,SET50 / SETTHSI

In [26]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [27]:
my_stocks["mrkt"].value_counts()

SET999    144
SET50      50
SET100     50
mai         9
Name: mrkt, dtype: int64

In [28]:
prf_css_stk = pd.merge(prf_css, my_stocks, on='name', how='inner')
prf_css_stk.set_index('name', inplace=True)
prf_css_stk.shape

(43, 21)

In [29]:
set50 = prf_css_stk.mrkt.str.contains('SET50') & (prf_css_stk.upside >= s50_pct)
flt_set50 = prf_css_stk[set50]
flt_set50[cols].style.format(format_dict)

In [30]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('SET50') & (prf_css_stk.upside < s50_pct)]\
    [cols].style.format(format_dict)

In [31]:
set100 = prf_css_stk.mrkt.str.contains('SET100') & (prf_css_stk.upside >= s100_pct)
flt_set100 = prf_css_stk[set100]
flt_set100[cols].style.format(format_dict)

In [32]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('SET100') & (prf_css_stk.upside < s100_pct)]\
    [cols].style.format(format_dict)

In [33]:
set999 = prf_css_stk.mrkt.str.contains('SET999') & (prf_css_stk.upside >= s999_pct) 
flt_set999 = prf_css_stk[set999]
flt_set999[cols].style.format(format_dict)

In [34]:
prf_css_stk.loc\
    [(prf_css_stk.mrkt.str.contains('SET999')) & (prf_css_stk.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [35]:
mai = prf_css_stk.mrkt.str.contains('mai') & (prf_css_stk.upside >= s999_pct)
flt_mai = prf_css_stk[mai]
flt_mai[cols].style.format(format_dict)

In [36]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('mai') & (prf_css_stk.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [37]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [38]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [39]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 7 stocks'

In [40]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

403

In [41]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to update to port_lite stocks

In [42]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [43]:
final.shape

(7, 24)

### Matching check with Buy table in MySql database to filter only records not yet in stocks

In [44]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
buy_df = pd.read_sql(sql, const)
buy_df.shape

(24, 1)

In [45]:
final_buy = pd.merge(final, buy_df, on='name', how='outer', indicator=True)
final_buy.shape

(30, 25)

In [46]:
not_in_port = final_buy.loc[
    final_buy['_merge'] == 'left_only']
not_in_port[colt].shape

(6, 13)

In [47]:
not_in_port2 = not_in_port[colt].copy()

In [48]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [49]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(63, 18)

In [50]:
not_in_port.dtypes

name              object
kind             float64
year             float64
quarter          float64
price            float64
target_price     float64
buy              float64
hold             float64
sell             float64
yield            float64
date              object
days             float64
diff             float64
upside           float64
max_price        float64
min_price        float64
pe               float64
pbv              float64
dly_vol          float64
beta             float64
market            object
mrkt              object
sector            object
subsector         object
_merge          category
dtype: object

In [51]:
#not_in_port2.drop(columns=['_merge'],inplace=True)
not_in_port2.dtypes

name             object
price           float64
target_price    float64
upside          float64
buy             float64
hold            float64
sell            float64
market           object
sector           object
subsector        object
dly_vol         float64
beta            float64
yield           float64
dtype: object

In [52]:
df_merge4 = pd.merge(not_in_port2, stocks, on='name', how='outer', indicator=True)
df_merge4.shape

(63, 31)

In [53]:
df_merge4[df_merge4['_merge'] == 'left_only'].sort_values('name',ascending=True)

Empty DataFrame
Columns: [name, price, target_price, upside, buy, hold, sell, market_x, sector, subsector, dly_vol, beta_x, yield, id, max_price, min_price, status, buy_target, sell_target, volume, beta_y, cost, qty, buy_spread, sell_spread, available_qty, bl, sh, reason, market_y, _merge]
Index: []