### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 6, 25), '2022-25')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 6, 24), datetime.date(2022, 6, 17))

In [3]:
s50_pct = 20
s100_pct = 25
s999_pct = 30

### Restart and Run All Cells

In [4]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [5]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [6]:
names = tmp['name']
name = names.to_string(index=False)
name

'STANLY'

In [7]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'STANLY'

In [8]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict) 
#tmp

SELECT * FROM stocks
WHERE name = 'STANLY'

In [9]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'STANLY'

In [10]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'STANLY'

In [11]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(36, 4)

In [12]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
"""
sql = sql % (today)
print(sql)
#sql = sql % (today, today)
#AND ('%s'::date - date(updated_at)::date) < 15
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-06-24'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0

(209, 10)

In [13]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [14]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.sample(10).style.format(format_dict)

In [15]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [16]:
prf_css.loc[prf_css.days == 0]

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside
1,AP,1,2022,1,10.00,12.82,13,0,0,5.6,2022-06-24,0,2.82,28.20
2,ASK,1,2022,1,34.25,50.79,4,0,0,5.6,2022-06-24,0,16.54,48.29
3,BANPU,1,2022,1,12.40,14.91,6,2,0,8.1,2022-06-24,0,2.51,20.24
4,BAY,1,2022,1,31.75,35.00,0,1,0,2.5,2022-06-24,0,3.25,10.24
5,BBL,1,2022,1,133.00,164.00,2,0,0,3.9,2022-06-24,0,31.00,23.31
6,BCPG,1,2022,1,10.60,16.80,6,0,0,3.6,2022-06-24,0,6.20,58.49
7,BDMS,1,2022,1,24.70,29.13,14,3,0,1.7,2022-06-24,0,4.43,17.94
8,BH,1,2022,1,176.00,176.20,2,2,0,1.5,2022-06-24,0,0.20,0.11
9,BPP,1,2022,1,14.30,18.54,3,2,0,4.6,2022-06-24,0,4.24,29.65
10,COTTO,1,2022,1,2.02,2.48,0,1,0,3.0,2022-06-24,0,0.46,22.77
11,ESSO,1,2022,1,11.40,12.08,3,2,0,8.3,2022-06-24,0,0.68,5.96
13,GLOBAL,1,2022,1,18.50,23.34,3,2,0,1.6,2022-06-24,0,4.84,26.16
14,GULF,1,2022,1,46.75,53.85,9,3,0,1.3,2022-06-24,0,7.10,15.19
16,KBANK,1,2022,1,147.50,178.70,6,0,0,2.8,2022-06-24,0,31.20,21.15
17,KKP,1,2022,1,62.50,80.33,3,0,0,6.4,2022-06-24,0,17.83,28.53
19,KTC,1,2022,1,58.25,69.29,5,2,0,1.9,2022-06-24,0,11.04,18.95
20,MEGA,1,2022,1,49.25,59.93,8,2,0,2.8,2022-06-24,0,10.68,21.69
22,RBF,1,2022,1,15.00,17.15,3,2,0,1.5,2022-06-24,0,2.15,14.33
23,RCL,1,2022,1,40.50,55.25,1,0,1,18.2,2022-06-24,0,14.75,36.42
24,RJH,1,2022,1,34.00,35.38,1,3,0,7.2,2022-06-24,0,1.38,4.06
25,SINGER,1,2022,1,46.50,60.79,6,0,0,1.4,2022-06-24,0,14.29,30.73
27,SMPC,1,2022,1,15.30,17.88,4,1,0,7.1,2022-06-24,0,2.58,16.86
28,SNC,1,2022,1,17.30,22.92,4,0,0,6.3,2022-06-24,0,5.62,32.49
29,SPRC,1,2022,1,12.00,13.23,9,4,0,7.2,2022-06-24,0,1.23,10.25
30,SSP,1,2022,1,9.25,16.08,5,0,0,3.7,2022-06-24,0,6.83,73.84
31,STANLY,1,2021,4,178.00,226.00,6,1,0,5.0,2022-06-24,0,48.00,26.97
32,TISCO,1,2022,1,89.00,108.50,5,1,0,8.4,2022-06-24,0,19.50,21.91
33,TOP,1,2022,1,50.25,67.51,12,3,0,6.3,2022-06-24,0,17.26,34.35
34,TPIPL,1,2022,1,1.50,2.40,2,0,0,5.3,2022-06-24,0,0.90,60.00
35,TTB,1,2022,1,1.23,1.49,1,1,0,4.6,2022-06-24,0,0.26,21.14

### Profits w/o consensus

In [17]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, _merge]
Index: []

### Start of Gain Percentage Calculation

In [18]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.sample(10)

,name,max_price,min_price,pe,pbv,dly_vol,beta,market
142,SCC,440.00,355.00,11.06,1.25,4270373.49,7.37,SET50 / SETCLMV / SETHD / SETTHSI
174,TISCO,101.50,87.00,10.51,1.67,238761.91,2.24,SET50 / SETHD / SETTHSI
18,BCP,35.25,22.60,4.34,0.72,280700.93,3.12,SET100 / SETCLMV / SETTHSI
88,KGI,7.40,4.88,6.71,1.25,7878.14,0.16,sSET
46,CPNRF,22.10,17.00,999.99,1.61,24.56,0.15,SET
50,DIF,14.50,12.20,0.00,0.79,314429.61,0.00,SET
105,MAKRO,57.25,33.75,26.07,1.26,146398.58,0.19,SET
193,TVO,35.00,29.50,13.69,2.48,24554.50,0.82,SET100 / SETHD / SETTHSI / SETWB
214,THG,99.50,27.00,25.47,5.60,326128.79,0.62,SETCLMV / SETWB
186,TRUE,5.70,3.00,0.00,1.98,431279.04,-0.05,SET50 / SETTHSI

In [19]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [20]:
my_stocks["mrkt"].value_counts()

SET999    141
SET50      50
SET100     50
mai         8
Name: mrkt, dtype: int64

In [21]:
prf_css_stk = pd.merge(prf_css, my_stocks, on='name', how='inner')
prf_css_stk.set_index('name', inplace=True)
prf_css_stk.shape

(36, 21)

In [22]:
set50 = prf_css_stk.mrkt.str.contains('SET50') & (prf_css_stk.upside >= s50_pct)
flt_set50 = prf_css_stk[set50]
flt_set50[cols].style.format(format_dict)

In [23]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('SET50') & (prf_css_stk.upside < s50_pct)]\
    [cols].style.format(format_dict)

In [24]:
set100 = prf_css_stk.mrkt.str.contains('SET100') & (prf_css_stk.upside >= s100_pct)
flt_set100 = prf_css_stk[set100]
flt_set100[cols].style.format(format_dict)

In [25]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('SET100') & (prf_css_stk.upside < s100_pct)]\
    [cols].style.format(format_dict)

In [26]:
set999 = prf_css_stk.mrkt.str.contains('SET999') & (prf_css_stk.upside >= s999_pct) 
flt_set999 = prf_css_stk[set999]
flt_set999[cols].style.format(format_dict)

In [27]:
prf_css_stk.loc\
    [(prf_css_stk.mrkt.str.contains('SET999')) & (prf_css_stk.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [28]:
mai = prf_css_stk.mrkt.str.contains('mai') & (prf_css_stk.upside >= s999_pct)
flt_mai = prf_css_stk[mai]
flt_mai[cols].style.format(format_dict)

In [29]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('mai') & (prf_css_stk.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [30]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [31]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [32]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 20 stocks'

In [33]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

399

In [34]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to update to port_lite stocks

In [35]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [36]:
final.shape

(20, 24)

### Matching check with Buy table in MySql database to filter only records not yet in stocks

In [37]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
buy_df = pd.read_sql(sql, const)
buy_df.shape

(26, 1)

In [38]:
final_buy = pd.merge(final, buy_df, on='name', how='outer', indicator=True)
final_buy.shape

(40, 25)

In [39]:
not_in_port = final_buy.loc[
    final_buy['_merge'] == 'left_only']
not_in_port[colt].shape

(14, 13)

In [40]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [41]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(56, 18)

In [42]:
not_in_port.dtypes

name              object
kind             float64
year             float64
quarter          float64
price            float64
target_price     float64
buy              float64
hold             float64
sell             float64
yield            float64
date              object
days             float64
diff             float64
upside           float64
max_price        float64
min_price        float64
pe               float64
pbv              float64
dly_vol          float64
beta             float64
market            object
mrkt              object
sector            object
subsector         object
_merge          category
dtype: object

In [43]:
not_in_port.drop(columns=['_merge'],inplace=True)
not_in_port.dtypes

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

name             object
kind            float64
year            float64
quarter         float64
price           float64
target_price    float64
buy             float64
hold            float64
sell            float64
yield           float64
date             object
days            float64
diff            float64
upside          float64
max_price       float64
min_price       float64
pe              float64
pbv             float64
dly_vol         float64
beta            float64
market           object
mrkt             object
sector           object
subsector        object
dtype: object

In [44]:
df_merge4 = pd.merge(not_in_port, stocks, on='name', how='outer', indicator=True)
df_merge4.shape

(56, 42)

In [45]:
df_merge4[df_merge4['_merge'] == 'left_only'].sort_values('name',ascending=True)

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, max_price_x, min_price_x, pe, pbv, dly_vol, beta_x, market_x, mrkt, sector, subsector, id, max_price_y, min_price_y, status, buy_target, sell_target, volume, beta_y, cost, qty, buy_spread, sell_spread, available_qty, bl, sh, reason, market_y, _merge]
Index: []