### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2022, 4, 9), '2022-14')

### Process after last business day, today must be last business day

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=7)
today, wkago

(datetime.date(2022, 4, 8), datetime.date(2022, 4, 1))

In [3]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

In [4]:
format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',
    
}

In [5]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [6]:
names = tmp['name']
name = names.to_string(index=False)
name

'BCH'

In [7]:
sql = '''
SELECT * 
FROM consensus 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name = 'BCH'

In [8]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'BCH'

In [9]:
sql = '''
SELECT * FROM stocks 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name = 'BCH'

In [10]:
sql = '''
SELECT * FROM tickers 
WHERE name = '%s'
'''
sql = sql % name
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name = 'BCH'

In [11]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape

(48, 4)

In [12]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) < 15"""
sql = sql % (today, today)
print(sql)

consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2022-04-08'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('2022-04-08'::date - date(updated_at)::date) < 15

(235, 10)

In [13]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [14]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.head(10).style.format(format_dict)

In [15]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [16]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, _merge]
Index: []

### Start of Gain Percentage Calculation

In [17]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape[0]

359

In [18]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [19]:
my_stocks["mrkt"].value_counts()

SET999    244
SET50      50
SET100     50
mai        15
Name: mrkt, dtype: int64

In [20]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(48, 21)

In [21]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= 5)
flt_set50 = consensus2[set50]
flt_set50[cols].style.format(format_dict)

In [22]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < 5)]\
    [cols].style.format(format_dict)

In [23]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= 10)
flt_set100 = consensus2[set100]
flt_set100[cols].style.format(format_dict)

In [24]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < 10)]\
    [cols].style.format(format_dict)

In [25]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= 15) 
flt_set999 = consensus2[set999]
flt_set999[cols].style.format(format_dict)

In [26]:
consensus2.loc\
    [(consensus2.mrkt.str.contains('SET999')) & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [27]:
mai = consensus2.mrkt.str.contains('mai') & (consensus2.upside >= 15)
flt_mai = consensus2[mai]
flt_mai[cols].style.format(format_dict)

In [28]:
consensus2.loc\
    [consensus2.mrkt.str.contains('mai') & (consensus2.upside < 15)]\
    [cols].style.format(format_dict)

In [29]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [30]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [31]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 35 stocks'

In [32]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

403

In [33]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to input to port_lite stocks

In [34]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [35]:
final.shape

(35, 24)

In [36]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

final[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
final[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [37]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(55, 18)

In [38]:
df_merge = pd.merge(final, stocks, on='name', how='outer', indicator=True)
df_merge

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,max_price_x,min_price_x,pe,pbv,dly_vol,beta_x,market_x,mrkt,sector,subsector,id,max_price_y,min_price_y,status,buy_target,sell_target,volume,beta_y,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market_y,_merge
0,BBL,0.0,2021.0,4.0,137.00,163.80,4.0,0.0,0.0,4.0,2022-04-08,0.0,26.80,19.56,149.00,100.00,9.83,0.53,2162.74,1.30,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,694.0,149.00,100.00,O,135.00,0.00,2203.75,1.29,0.00,2400.0,-9.0,11.0,0.0,0.0,0.0,1L,SET50,both
1,BDMS,1.0,2021.0,4.0,25.00,27.56,15.0,2.0,0.0,1.6,2022-03-31,8.0,2.56,10.24,26.25,20.40,50.06,4.74,1117.38,0.39,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Health Care Services,707.0,26.25,20.40,O,23.20,0.00,1110.69,0.39,0.00,12000.0,-6.0,7.0,0.0,0.0,0.0,1L,SET50,both
2,COM7,1.0,2021.0,4.0,42.00,85.95,6.0,3.0,0.0,3.0,2022-04-08,0.0,43.95,104.64,43.75,30.50,38.78,19.30,623.42,1.01,SET50 / SETTHSI / SETWB,SET50,Services,Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,EA,1.0,2021.0,4.0,88.25,92.81,4.0,4.0,0.0,0.6,2022-04-08,0.0,4.56,5.17,105.50,57.00,53.50,10.04,1965.71,1.28,SET50 / SETTHSI,SET50,Resources,Energy & Utilities,723.0,105.50,57.00,X,0.00,0.00,1797.25,1.24,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET50,both
4,GLOBAL,1.0,2021.0,4.0,22.20,26.44,7.0,1.0,0.0,1.4,2022-04-08,0.0,4.24,19.10,23.70,17.63,32.31,5.52,327.75,0.70,SET50 / SETCLMV / SETTHSI / SETWB,SET50,Services,Commerce,709.0,23.70,17.63,O,19.40,0.00,323.48,0.70,0.00,9000.0,-10.0,9.0,0.0,0.0,0.0,,SET50,both
5,KCE,1.0,2021.0,4.0,63.25,73.70,2.0,3.0,0.0,2.5,2022-04-08,0.0,10.45,16.52,95.00,53.50,30.81,5.59,1272.96,0.73,SET50,SET50,Technology,Electronic Components,624.0,95.00,53.50,B,61.25,68.00,1278.88,0.66,72.50,1000.0,-11.0,4.0,14000.0,1.0,0.0,RD15pct,SET50,both
6,PTT,1.0,2021.0,4.0,38.25,50.81,8.0,0.0,0.0,5.4,2022-04-08,0.0,12.56,32.84,42.00,34.00,9.95,1.07,2440.40,0.98,SET50 / SETCLMV / SETHD / SETTHSI,SET50,Resources,Energy & Utilities,617.0,42.00,34.00,I,0.00,39.00,2444.10,0.99,38.50,3000.0,-6.0,6.0,6000.0,9.0,0.0,CP2S,SET50,both
7,PTTEP,1.0,2021.0,4.0,146.00,163.50,11.0,4.0,0.0,5.2,2022-04-07,1.0,17.50,11.99,158.00,100.50,14.61,1.37,2506.53,0.59,SET50 / SETCLMV / SETHD / SETTHSI,SET50,Resources,Energy & Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,RATCH,1.0,2021.0,4.0,43.75,54.86,6.0,2.0,1.0,5.6,2022-04-08,0.0,11.11,25.39,53.75,42.00,8.35,0.92,151.57,0.71,SET50 / SETCLMV / SETHD / SETTHSI,SET50,Resources,Energy & Utilities,574.0,53.75,42.00,I,42.75,46.00,150.17,0.70,45.75,6000.0,-17.0,21.0,6000.0,0.0,3.0,DOS,SET50,both
9,SCB,0.0,2021.0,4.0,115.50,156.20,4.0,0.0,0.0,4.3,2022-04-08,0.0,40.70,35.24,138.00,90.25,11.12,0.90,1775.05,1.58,SET50 / SETCLMV / SETTHSI,SET50,Financials,Banking,696.0,138.00,90.25,O,122.00,0.00,1798.98,1.56,0.00,2400.0,-11.0,12.0,0.0,0.0,0.0,3L,SET50,both
10,SCC,1.0,2021.0,4.0,371.00,428.00,1.0,1.0,1.0,4.4,2022-04-08,0.0,57.00,15.36,474.00,363.00,9.36,1.21,1354.10,0.68,SET50 / SETCLMV / SETHD / SETTHSI,SET50,Property & Construction,Construction Materials,578.0,474.00,363.00,T,374.00,418.00,1356.11,0.68,398.00,300.0,-17.0,16.0,900.0,0.0,12.0,5pct,SET50,both
11,TISCO,1.0,2021.0,4.0,101.00,110.80,5.0,0.0,0.0,7.2,2022-04-08,0.0,9.80,9.70,102.50,85.00,11.80,1.94,566.86,0.54,SET50 / SETHD / SETTHSI,SET50,Financials,Banking,557.0,102.50,85.00,B,97.75,102.50,573.78,0.53,97.75,500.0,-15.0,19.0,4000.0,1.0,12.0,ROUND,SET50,both
12,TU,0.0,2021.0,4.0,17.10,23.26,12.0,3.0,0.0,5.0,2022-04-08,0.0,6.16,36.02,23.00,14.20,9.99,1.35,569.43,0.55,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,SET50,Agro & Food Industry,Food & Beverage,713.0,23.00,14.20,O,19.30,0.00,551.98,0.49,0.00,9000.0,-7.0,8.0,0.0,0.0,0.0,3L,SET50,both
13,BAM,1.0,2021.0,4.0,20.00,24.80,11.0,1.0,0.0,3.8,2022-04-08,0.0,4.80,24.00,22.30,15.80,24.98,1.52,555.36,1.32,SET100,SET100,Financials,Finance & Securities,706.0,22.30,15.80,O,19.80,0.00,562.55,1.29,0.00,12000.0,-9.0,8.0,0.0,0.0,0.0,3L,SET100,both
14,BCH,0.0,2021.0,4.0,21.40,24.20,14.0,2.0,1.0,2.7,2022-04-08,0.0,2.80,13.08,26.75,15.30,7.90,4.17,496.17,-0.38,SET100 / SETWB,SET100,Services,Health Care Services,610.0,26.75,14.30,T,20.10,22.40,490.44,-0.33,21.30,3000.0,-8.0,10.0,15000.0,1.0,0.0,C21.3,SET100,both
15,DOHOME,0.0,2021.0,4.0,21.10,24.22,6.0,3.0,0.0,1.6,2022-04-08,0.0,3.12,14.79,25.62,17.08,34.37,5.74,216.17,1.13,SET100 / SETWB,SET100,Services,Commerce,612.0,25.62,16.33,I,19.70,22.00,219.03,1.10,23.70,2400.0,-9.0,16.0,12000.0,1.0,0.0,C21.3,SET100,both
16,KKP,1.0,2021.0,4.0,69.25,77.60,5.0,0.0,0.0,5.7,2022-04-08,0.0,8.35,12.06,72.50,49.75,9.28,1.15,351.57,0.92,SET100 / SETCLMV / SETHD / SETTHSI,SET100,Financials,Banking,700.0,72.50,49.75,O,68.00,0.00,354.29,0.93,0.00,3000.0,-10.0,10.0,0.0,0.0,0.0,3L,SET100,both
17,MEGA,0.0,2021.0,4.0,46.50,54.63,7.0,3.0,0.0,2.5,2022-04-08,0.0,8.13,17.48,56.50,32.25,20.82,5.07,194.18,0.67,SET100 / SETCLMV / SETWB,SET100,Services,Commerce,529.0,56.50,32.25,O,41.50,0.00,194.16,0.70,43.00,6000.0,-11.0,13.0,-1500.0,1.0,0.0,3L,SET100,both
18,ORI,1.0,2021.0,4.0,11.00,13.93,10.0,1.0,0.0,5.6,2022-04-08,0.0,2.93,26.64,12.70,8.05,8.53,1.82,121.58,1.34,SET100 / SETHD / SETTHSI,SET100,Property & Construction,Property Development,716.0,12.70,8.05,T,11.00,12.10,122.79,1.30,11.00,10000.0,-7.0,8.0,30000.0,0.0,0.0,ROUND,SET100,both
19,RCL,1.0,2021.0,4.0,40.75,56.00,2.0,0.0,0.0,14.9,2022-04-08,0.0,15.25,37.42,67.75,25.25,1.95,1.35,427.12,1.32,SET100 / SETCLMV,SET100,Services,Transportation & Logistics,662.0,67.75,24.50,I,43.50,47.50,430.22,1.27,47.25,4000.0,-16.0,26.0,12000.0,0.0,0.0,CP1S,SET100,both
20,SPALI,1.0,2021.0,4.0,21.60,25.77,7.0,4.0,0.0,5.5,2022-04-08,0.0,4.17,19.31,23.60,19.00,6.03,1.01,174.27,0.68,SET100 / SETHD,SET100,Property & Construction,Property Development,671.0,23.60,19.00,O,20.40,24.20,173.91,0.68,22.00,3000.0,-7.0,7.0,9000.0,0.0,0.0,RD05pct,SET100,both
21,STARK,0.0,2021.0,4.0,4.46,6.25,2.0,0.0,0.0,2.3,2022-04-08,0.0,1.79,40.13,5.45,3.68,19.25,8.24,151.80,0.66,SET100 / SETCLMV,SET100,Industrials,Industrial Materials & Machinery,650.0,5.45,3.68,O,4.24,0.00,154.27,0.54,0.00,24000.0,-7.0,8.0,0.0,0.0,0.0,6L,SET100,both
22,SYNEX,1.0,2021.0,4.0,25.00,30.81,6.0,1.0,0.0,3.2,2022-04-08,0.0,5.81,23.24,37.00,23.00,25.86,5.67,107.92,1.45,SET100 / SETTHSI,SET100,Technology,Information & Communication Technology,603.0,37.00,23.00,B,23.80,30.00,108.90,1.39,28.00,3000.0,-10.0,15.0,18000.0,1.0,12.0,RD15pct,SET100,both
23,TQM,0.0,2021.0,4.0,40.00,68.20,5.0,0.0,0.0,4.0,2022-04-08,0.0,28.20,70.50,66.75,39.50,27.63,9.19,100.53,0.80,SET100 / SETTHSI,SET100,Financials,Insurance,567.0,66.75,39.50,O,44.00,0.00,99.55,0.78,112.00,4500.0,-28.0,29.0,0.0,6.0,1.0,6L,SET100,both
24,ASIAN,0.0,2021.0,4.0,14.80,22.25,7.0,0.0,0.0,4.5,2022-04-08,0.0,7.45,50.34,22.90,13.40,11.54,2.98,68.18,0.83,sSET / SETTHSI,SET999,Agro & Food Industry,Food & Beverage,705.0,22.90,13.40,O,15.00,0.00,67.62,0.80,0.00,10000.0,-11.0,13.0,0.0,0.0,0.0,6L,SET,both
25,ASK,1.0,2021.0,4.0,44.25,53.56,4.0,0.0,0.0,3.5,2022-04-08,0.0,9.31,21.04,49.50,18.70,19.64,2.55,63.42,0.83,SET,SET999,Financials,Finance & Securities,680.0,49.50,18.70,O,42.00,0.00,64.34,0.83,0.00,3000.0,-13.0,14.0,0.0,0.0,0.0,1L,SET,both
26,ASP,1.0,2021.0,4.0,3.42,4.65,1.0,1.0,0.0,9.5,2022-04-08,0.0,1.23,35.96,4.24,2.44,7.36,1.44,74.10,0.65,sSET,SET999,Financials,Finance & Securities,699.0,4.24,2.44,T,3.70,3.82,75.54,0.68,3.80,30000.0,-9.0,12.0,30000.0,0.0,0.0,DOS,SET,both
27,MAKRO,1.0,2021.0,4.0,39.50,51.00,7.0,0.0,0.0,2.1,2022-04-08,0.0,11.50,29.11,57.25,35.00,30.92,1.47,647.26,0.98,SET,SET999,Services,Commerce,704.0,57.25,35.00,B,39.00,0.00,658.33,1.00,42.00,1500.0,-8.0,8.0,3000.0,0.0,0.0,RD05pct,SET,both
28,MCS,0.0,2021.0,4.0,13.20,20.50,2.0,0.0,0.0,8.9,2022-04-08,0.0,7.30,55.30,16.20,12.90,4.45,1.41,34.13,0.58,sSET,SET999,Industrials,Steel and Metal Products,85.0,16.20,13.00,T,14.50,16.80,32.64,0.56,16.70,10000.0,-5.0,5.0,50000.0,6.0,3.0,DOS,SET,both
29,NER,1.0,2021.0,4.0,7.15,9.82,10.0,0.0,0.0,6.1,2022-04-01,7.0,2.67,37.34,8.65,5.10,6.80,2.31,118.63,0.57,sSET,SET999,Agro & Food Industry,Agribusiness,602.0,8.65,5.10,U,0.00,7.80,120.26,0.56,7.45,9000.0,-13.0,14.0,27000.0,0.0,0.0,5pct,SET,both
30,PTL,1.0,2021.0,3.0,24.70,30.00,1.0,0.0,0.0,5.8,2022-04-01,7.0,5.30,21.46,31.75,22.30,6.61,1.25,85.73,0.77,SET,SET999,Industrials,Packaging,717.0,31.75,22.30,X,0.00,0.00,87.07,0.72,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET,both
31,SCCC,1.0,2021.0,4.0,154.00,193.00,2.0,0.0,0.0,5.2,2022-04-08,0.0,39.00,25.32,188.50,150.00,10.84,1.22,61.55,0.62,SETCLMV / SETTHSI,SET999,Property & Construction,Construction Materials,701.0,188.50,150.00,T,153.50,0.00,63.00,0.61,171.00,300.0,-10.0,9.0,1200.0,0.0,0.0,RD10pct,SET,both
32,SMPC,1.0,2021.0,4.0,13.60,16.30,1.0,0.0,0.0,5.7,2022-04-08,0.0,2.70,19.85,14.20,10.00,9.93,2.93,15.03,0.66,sSET,SET999,Industrials,Packaging,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
33,SVI,1.0,2021.0,4.0,8.65,9.96,3.0,2.0,0.0,2.4,2022-04-08,0.0,1.31,15.14,11.70,4.60,13.61,3.68,136.09,1.00,SET,SET999,Technology,Electronic Components,672.0,11.70,4.60,O,8.00,0.00,136.80,0.93,0.00,15000.0,-9.0,11.0,0.0,0.0,0.0,6L,SET,both
34,TPIPL,1.0,2021.0,4.0,1.58,2.43,3.0,0.0,0.0,5.1,2022-04-08,0.0,0.85,53.80,2.22,1.58,5.31,0.62,58.48,0.98,SET,SET999,Property & Construction,Construction Materials,712.0,2.22,1.60,I,0.00,1.71,59.38,0.97,1.70,60000.0,-9.0,8.0,60000.0,0.0,0.0,DOS,SET,both
35,PTTGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0,70.00,47.50,T,0.00,58.00,1091.78,1.01,58.75,3000.0,-11.0,9.0,12000.0,3.0,12.0,CUT,SET50,right_only
36,JASIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.0,11.30,9.45,I,0.00,11.30,182.83,0.31,10.10,10000.0,-5.0,4.0,110000.0,0.0,0.0,DOS,SET,right_only
37,DIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.0,14.50,11.70,T,13.50,14.80,157.56,0.39,14.70,10000.0,-5.0,5.0,50000.0,0.0,0.0,CP1S,SET,right_only
38,HREIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,526.0,9.30,7.80,I,0.00,9.00,4.73,0.36,8.95,40100.0,-5.0,5.0,40100.0,0.0,12.0,DOS,SET,right_only
39,JMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,547.0,80.25,38.34,X,60.00,0.00,694.00,1.13,40.50,3000.0,-9.0,14.0,0.0,1.0,12.0,3L,SET100,right_only
40,GULF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,553.0,52.75,31.00,X,50.00,0.00,1576.90,1.15,0.00,6000.0,-11.0,13.0,0.0,3.0,0.0,1L,SET50,right_only
41,STA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,571.0,50.50,24.20,S,25.00,28.00,242.22,0.48,33.75,2500.0,-10.0,15.0,22500.0,3.0,0.0,CUT,SET100,right_only
42,RJH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,618.0,39.00,27.00,T,0.00,34.75,13.70,0.13,33.00,1500.0,-8.0,8.0,4500.0,3.0,0.0,5pct,SET,right_only
43,SINGER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,620.0,56.75,32.43,X,0.00,52.75,226.75,1.17,42.25,1500.0,-10.0,16.0,0.0,4.0,12.0,25pct,SET100,right_only
44,KBANK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,637.0,175.00,101.00,X,146.00,144.50,4515.07,1.74,136.50,1500.0,-17.0,19.0,0.0,0.0,0.0,5pct,SET50,right_only
45,TMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,645.0,15.00,9.35,B,11.00,0.00,13.33,0.99,10.50,15000.0,-5.0,11.0,27000.0,0.0,0.0,ROUND,SET,right_only
46,IP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,665.0,24.17,17.80,U,0.00,20.30,23.71,0.56,20.20,2500.0,-8.0,9.0,7500.0,0.0,0.0,CP1S,mai,right_only
47,WHART,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,687.0,14.08,10.80,T,0.00,12.40,26.01,0.16,12.30,20000.0,-5.0,4.0,20000.0,0.0,0.0,DOS,SET,right_only
48,CPNCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,698.0,12.80,10.50,I,0.00,12.50,3.23,0.43,12.40,20000.0,-4.0,4.0,20000.0,0.0,0.0,DOS,SET,right_only
49,SNC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702.0,18.70,13.20,O,16.50,0.00,23.27,0.55,17.00,9000.0,-6.0,9.0,0.0,0.0,0.0,1L,SET,right_only
50,CHG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,708.0,4.44,2.80,X,3.36,0.00,247.23,-0.15,0.00,60000.0,-4.0,4.0,0.0,0.0,0.0,,SET100,right_only
51,SENA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,711.0,5.50,3.44,B,4.48,0.00,33.88,1.01,4.80,15000.0,-8.0,10.0,45000.0,0.0,0.0,RD05pct,SET,right_only
52,VIBHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,714.0,2.78,1.75,X,2.22,0.00,44.49,-0.01,0.00,45000.0,-4.0,4.0,0.0,0.0,0.0,,SET,right_only
53,AMATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,715.0,23.00,16.60,X,20.60,0.00,219.58,1.38,0.00,9000.0,-9.0,10.0,0.0,0.0,0.0,3L,SET100,right_only
54,AIMIRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,719.0,13.40,11.71,I,0.00,13.10,2.97,0.03,13.00,10000.0,-4.0,4.0,10000.0,0.0,0.0,DOS,SET,right_only
55,JMART,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,720.0,61.75,30.50,X,0.00,0.00,499.81,1.46,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET100,right_only
56,BAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,722.0,39.50,27.25,X,0.00,0.00,57.21,1.33,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,,SET,right_only
57,SC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,724.0,4.10,2.90,O,3.80,4.40,40.22,0.79,0.00,30000.0,-4.0,4.0,0.0,0.0,0.0,HD,SET,right_only

In [39]:
df_merge[df_merge['_merge'] == 'left_only'].sort_values('name',ascending=True)

,name,kind,year,quarter,price,target_price,buy,hold,sell,yield,date,days,diff,upside,max_price_x,min_price_x,pe,pbv,dly_vol,beta_x,market_x,mrkt,sector,subsector,id,max_price_y,min_price_y,status,buy_target,sell_target,volume,beta_y,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market_y,_merge
2,COM7,1.0,2021.0,4.0,42.0,85.95,6.0,3.0,0.0,3.0,2022-04-08,0.0,43.95,104.64,43.75,30.5,38.78,19.30,623.42,1.01,SET50 / SETTHSI / SETWB,SET50,Services,Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,PTTEP,1.0,2021.0,4.0,146.0,163.50,11.0,4.0,0.0,5.2,2022-04-07,1.0,17.50,11.99,158.00,100.5,14.61,1.37,2506.53,0.59,SET50 / SETCLMV / SETHD / SETTHSI,SET50,Resources,Energy & Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
32,SMPC,1.0,2021.0,4.0,13.6,16.30,1.0,0.0,0.0,5.7,2022-04-08,0.0,2.70,19.85,14.20,10.0,9.93,2.93,15.03,0.66,sSET,SET999,Industrials,Packaging,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only