### portpg: charts, consensus, stocks, tickers
### csv files: css-hi-div.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2021, 12, 31), '2021-52')

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=6)
#wkago = date(2020, 12, 30)
today, wkago

(datetime.date(2021, 12, 30), datetime.date(2021, 12, 24))

### Restart and Run All Cell

In [3]:
sql = """
SELECT name, price, target_price AS target, 
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) <= 31"""
sql = sql % (today, today)
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['upside'] = consensus['upside'].astype(int)
consensus.sort_values(by='upside',ascending=False).head(20)

        price  target  upside  buy  hold  sell  yield        date  days
name
TR      53.50  104.00      94    1     0     0   0.00  2021-12-31    -1
SKN      6.50   10.50      62    1     0     0   5.20  2021-12-31    -1
SRICHA  15.80   24.00      52    1     0     0   6.60  2021-12-31    -1
IMH     12.60   19.20      52    1     0     0   5.30  2021-12-31    -1
HFT      7.40   11.20      51    1     0     0   4.90  2021-12-18    12
TQM     97.00  145.00      49    6     0     0   2.70  2021-12-31    -1
NER      7.00   10.36      48    5     0     0   5.50  2021-12-31    -1
HTECH    6.15    9.00      46    1     0     0   3.70  2021-12-29     1
TTA      9.55   13.95      46    2     0     0   2.50  2021-12-29     1
INSET    6.05    8.80      45    1     0     0   2.60  2021-12-31    -1
ICHI    10.00   14.40      44    1     0     0   3.80  2021-12-29     1
BCPG    12.00   17.23      44    5     0     0   3.60  2021-12-31    -1
TKS     15.30   22.00      44    1     0     0   3.70  2021-12-27     3
BANPU   10.60   15.12      43    6     0     0   6.60  2021-12-31    -1
INOX     1.13    1.60      42    1     0     0   0.00  2021-12-31    -1
SAMTEL   6.00    8.50      42    1     0     0   1.80  2021-12-31    -1
MCS     14.80   21.00      42    1     0     0   9.50  2021-12-31    -1
BCP     25.25   35.50      41    4     0     0   7.50  2021-12-31    -1
BTSGIF   4.34    6.06      40    4     1     0   6.80  2021-12-31    -1
SPRIME   6.95    9.60      38    1     0     0   7.90  2021-12-27     3

In [4]:
consensus.shape

(242, 9)

In [5]:
#consensus.loc['BCPG']
#consensus = consensus.drop('BCPG')

In [6]:
consensus['score'] = (consensus.buy*3 + consensus.hold*1 + consensus.sell*-3)
cols = 'price target upside buy hold sell score yield'.split()

In [7]:
high_score = consensus.score > 9
consensus.loc[high_score, cols].sort_values(by=['score'],ascending=[False]).head(10)

       price  target  upside  buy  hold  sell  score  yield
name
BCH    20.10   26.17      30   13     3     0     42   4.80
CK     22.90   25.61      12   13     1     0     40   1.00
PTTEP 118.00  142.30      21   13     1     0     40   4.40
BDMS   23.00   27.90      21   11     1     0     34   1.60
MINT   28.75   38.00      32   11     1     0     34   0.00
WHA     3.52    4.14      18   11     0     0     33   2.90
STEC   14.70   17.65      20   11     0     0     33   1.20
BGRIM  40.50   54.00      33   10     2     0     32   1.20
ORI    11.30   13.57      20   10     1     0     31   4.60
CBG   119.50  134.90      13    9     4     0     31   1.60

In [8]:
high_yield = consensus['yield'] > 4.99
consensus.loc[high_yield, cols].sort_values(by=['yield'],ascending=[False]).head(15)

        price  target  upside  buy  hold  sell  score  yield
name
TCAP    37.75   40.58       7    3     1     0     10  43.50
TTB      1.47    1.43      -3    5     1     0     16  29.20
STGT    30.25   32.00       6    1     2     0      5  16.40
STA     31.00   41.33      33    3     0     0      9  13.60
TMT     10.30   11.30      10    1     2     0      5  12.10
ASP      3.46    4.65      34    1     1     0      4  10.10
NOBLE    6.15    6.71       9    1     1     0      4   9.50
MCS     14.80   21.00      42    1     0     0      3   9.50
JASIF   10.20   11.50      13    1     1     0      4   9.40
PSL     16.60   18.10       9    2     1     0      7   8.90
SPRIME   6.95    9.60      38    1     0     0      3   7.90
MST     12.10   13.20       9    0     1     0      1   7.80
GVREIT  10.10   11.80      17    0     2     0      2   7.70
HREIT    9.05    9.55       6    2     0     0      6   7.70
TPIPP    4.16    4.41       6    1     1     0      4   7.70

In [9]:
high_upside = consensus['upside'] >= 10
consensus.loc[high_upside, cols].sort_values(by=['upside'],ascending=[False]).head(10)

        price  target  upside  buy  hold  sell  score  yield
name
TR      53.50  104.00      94    1     0     0      3   0.00
SKN      6.50   10.50      62    1     0     0      3   5.20
SRICHA  15.80   24.00      52    1     0     0      3   6.60
IMH     12.60   19.20      52    1     0     0      3   5.30
HFT      7.40   11.20      51    1     0     0      3   4.90
TQM     97.00  145.00      49    6     0     0     18   2.70
NER      7.00   10.36      48    5     0     0     15   5.50
TTA      9.55   13.95      46    2     0     0      6   2.50
HTECH    6.15    9.00      46    1     0     0      3   3.70
INSET    6.05    8.80      45    1     0     0      3   2.60

### Final result to input to port_lite stocks

In [31]:
final_criteria = high_score & high_yield 
#final_criteria = high_score & high_yield & high_upside
filter = consensus.loc[final_criteria, cols].sort_values(by=["upside"], ascending=[False])
filter.sort_values('name')

        price  target  upside  buy  hold  sell  score  yield
name
AP       9.55   10.50      10    4     0     0     12   5.00
BANPU   10.60   15.12      43    6     0     0     18   6.60
BCP     25.25   35.50      41    4     0     0     12   7.50
BTSGIF   4.34    6.06      40    4     1     0     13   6.80
DRT      8.40    8.14      -3    4     1     0     13   5.60
KKP     59.75   70.88      19    4     0     0     12   5.20
LALIN    9.30   12.43      34    4     0     0     12   6.20
LH       8.80   10.07      14   10     0     0     30   5.60
MAJOR   20.00   25.02      25    6     0     0     18   5.30
NER      7.00   10.36      48    5     0     0     15   5.50
PTTGC   58.75   74.38      27    5     3     0     18   6.60
RATCH   45.00   54.47      21    5     2     1     14   5.70
SAT     21.80   26.80      23    4     1     0     13   6.30
SC       3.36    4.19      25    8     0     0     24   5.80
SENA     4.06    5.16      27    4     0     0     12   6.30
TCAP    37.75   40.58       7    3     1     0     10  43.50
TISCO   96.00  108.20      13    6     0     0     18   7.00
TTB      1.47    1.43      -3    5     1     0     16  29.20

In [32]:
filter.shape

(18, 8)

In [33]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
pg_stocks = pd.read_sql(sql, conpg)
pg_stocks.shape

(338, 8)

In [34]:
filters = [
   (pg_stocks.market.str.contains('SET50')),
   (pg_stocks.market.str.contains('SET100'))]
values = ['SET50','SET100']
pg_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [35]:
consensus2 = pd.merge(filter, pg_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(18, 16)

In [36]:
set50 = consensus2.mrkt.str.contains('SET50') & (consensus2.upside >= 5)
flt_set50 = consensus2[set50]
flt_set50.sort_values(['yield'],ascending=[False])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
TISCO,96.00,108.20,13,6,0,0,18,7.00,102.50,85.00,11.60,1.95,513.27,0.52,SET50 / SETHD / SETTHSI,SET50
PTTGC,58.75,74.38,27,5,3,0,18,6.60,70.00,54.25,5.50,0.85,"1,262.11",1.15,SET50 / SETCLMV / SETTHSI,SET50
RATCH,45.00,54.47,21,5,2,1,14,5.70,57.50,42.00,8.39,0.96,277.21,0.64,SET50 / SETCLMV / SETHD / SETTHSI,SET50
LH,8.80,10.07,14,10,0,0,30,5.60,8.90,7.50,14.45,2.19,380.65,0.77,SET50 / SETHD,SET50

In [37]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET50') & (consensus2.upside < 5)]

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
TTB,1.47,1.43,-3,5,1,0,16,29.20,1.49,0.95,15.94,0.68,519.93,1.37,SET50 / SETHD / SETTHSI,SET50

In [38]:
set100 = consensus2.mrkt.str.contains('SET100') & (consensus2.upside >= 10)
flt_set100 = consensus2[set100]
flt_set100.sort_values(['yield'],ascending=[False])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
BCP,25.25,35.50,41,4,0,0,12,7.50,30.75,20.00,5.60,0.66,172.63,1.62,SET100 / SETCLMV / SETTHSI,SET100
BANPU,10.60,15.12,43,6,0,0,18,6.60,14.90,8.00,12.16,1.04,"1,460.60",0.87,SET100 / SETCLMV / SETTHSI,SET100
MAJOR,20.00,25.02,25,6,0,0,18,5.30,26.25,16.50,9.89,2.24,130.01,0.89,SET100 / SETCLMV / SETTHSI,SET100
KKP,59.75,70.88,19,4,0,0,12,5.20,64.25,49.75,9.36,1.03,245.76,0.95,SET100 / SETCLMV / SETHD / SETTHSI,SET100
AP,9.55,10.50,10,4,0,0,12,5.00,9.80,7.10,6.69,0.96,147.42,0.66,SET100 / SETHD,SET100

In [39]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET100') & (consensus2.upside < 10)]

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
TCAP,37.75,40.58,7,3,1,0,10,43.50,39.00,31.50,9.42,0.62,223.37,0.79,SET100 / SETHD,SET100

In [40]:
set999 = consensus2.mrkt.str.contains('SET999') & (consensus2.upside >= 15)
flt_set999 = consensus2[set999]
flt_set999.sort_values(['name'],ascending=[True])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
BTSGIF,4.34,6.06,40,4,1,0,13,6.80,5.65,3.90,999.99,0.55,19.64,0.44,SET,SET999
LALIN,9.30,12.43,34,4,0,0,12,6.20,11.00,7.25,6.16,1.09,6.14,0.78,sSET,SET999
NER,7.00,10.36,48,5,0,0,15,5.50,8.65,4.10,7.39,2.66,318.94,0.45,sSET,SET999
SAT,21.80,26.80,23,4,1,0,13,6.30,23.50,15.70,9.15,1.24,61.05,0.58,sSET / SETTHSI,SET999
SC,3.36,4.19,25,8,0,0,24,5.80,3.70,2.66,7.26,0.72,16.88,0.71,sSET / SETTHSI,SET999
SENA,4.06,5.16,27,4,0,0,12,6.30,4.66,3.34,5.86,0.82,7.62,0.80,sSET,SET999

In [41]:
consensus2.loc\
    [consensus2.mrkt.str.contains('SET999') & (consensus2.upside < 15)]

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
DRT,8.40,8.14,-3,4,1,0,13,5.60,8.80,5.75,12.13,3.48,7.83,0.38,sSET / SETCLMV / SETTHSI,SET999

In [42]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999])
flt_all.sort_values(['name'],ascending=[True])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
AP,9.55,10.50,10,4,0,0,12,5.00,9.80,7.10,6.69,0.96,147.42,0.66,SET100 / SETHD,SET100
BANPU,10.60,15.12,43,6,0,0,18,6.60,14.90,8.00,12.16,1.04,"1,460.60",0.87,SET100 / SETCLMV / SETTHSI,SET100
BCP,25.25,35.50,41,4,0,0,12,7.50,30.75,20.00,5.60,0.66,172.63,1.62,SET100 / SETCLMV / SETTHSI,SET100
BTSGIF,4.34,6.06,40,4,1,0,13,6.80,5.65,3.90,999.99,0.55,19.64,0.44,SET,SET999
KKP,59.75,70.88,19,4,0,0,12,5.20,64.25,49.75,9.36,1.03,245.76,0.95,SET100 / SETCLMV / SETHD / SETTHSI,SET100
LALIN,9.30,12.43,34,4,0,0,12,6.20,11.00,7.25,6.16,1.09,6.14,0.78,sSET,SET999
LH,8.80,10.07,14,10,0,0,30,5.60,8.90,7.50,14.45,2.19,380.65,0.77,SET50 / SETHD,SET50
MAJOR,20.00,25.02,25,6,0,0,18,5.30,26.25,16.50,9.89,2.24,130.01,0.89,SET100 / SETCLMV / SETTHSI,SET100
NER,7.00,10.36,48,5,0,0,15,5.50,8.65,4.10,7.39,2.66,318.94,0.45,sSET,SET999
PTTGC,58.75,74.38,27,5,3,0,18,6.60,70.00,54.25,5.50,0.85,"1,262.11",1.15,SET50 / SETCLMV / SETTHSI,SET50
RATCH,45.00,54.47,21,5,2,1,14,5.70,57.50,42.00,8.39,0.96,277.21,0.64,SET50 / SETCLMV / SETHD / SETTHSI,SET50
SAT,21.80,26.80,23,4,1,0,13,6.30,23.50,15.70,9.15,1.24,61.05,0.58,sSET / SETTHSI,SET999
SC,3.36,4.19,25,8,0,0,24,5.80,3.70,2.66,7.26,0.72,16.88,0.71,sSET / SETTHSI,SET999
SENA,4.06,5.16,27,4,0,0,12,6.30,4.66,3.34,5.86,0.82,7.62,0.80,sSET,SET999
TISCO,96.00,108.20,13,6,0,0,18,7.00,102.50,85.00,11.60,1.95,513.27,0.52,SET50 / SETHD / SETTHSI,SET50

In [43]:
final = flt_all
final.sort_values(['name'],ascending=[True]).shape

(15, 16)

In [44]:
col9 = 'price target upside buy hold sell score market yield'.split()
final[col9].sort_values(by='name',ascending=True)

,price,target,upside,buy,hold,sell,score,market,yield
name,,,,,,,,,
AP,9.55,10.50,10,4,0,0,12,SET100 / SETHD,5.00
BANPU,10.60,15.12,43,6,0,0,18,SET100 / SETCLMV / SETTHSI,6.60
BCP,25.25,35.50,41,4,0,0,12,SET100 / SETCLMV / SETTHSI,7.50
BTSGIF,4.34,6.06,40,4,1,0,13,SET,6.80
KKP,59.75,70.88,19,4,0,0,12,SET100 / SETCLMV / SETHD / SETTHSI,5.20
LALIN,9.30,12.43,34,4,0,0,12,sSET,6.20
LH,8.80,10.07,14,10,0,0,30,SET50 / SETHD,5.60
MAJOR,20.00,25.02,25,6,0,0,18,SET100 / SETCLMV / SETTHSI,5.30
NER,7.00,10.36,48,5,0,0,15,sSET,5.50
PTTGC,58.75,74.38,27,5,3,0,18,SET50 / SETCLMV / SETTHSI,6.60
RATCH,45.00,54.47,21,5,2,1,14,SET50 / SETCLMV / SETHD / SETTHSI,5.70
SAT,21.80,26.80,23,4,1,0,13,sSET / SETTHSI,6.30
SC,3.36,4.19,25,8,0,0,24,sSET / SETTHSI,5.80
SENA,4.06,5.16,27,4,0,0,12,sSET,6.30
TISCO,96.00,108.20,13,6,0,0,18,SET50 / SETHD / SETTHSI,7.00

In [45]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

402

In [46]:
final2 = pd.merge(final, pg_tickers, on='name', how='inner')
final2.shape

(15, 19)

In [47]:
colt = 'name price target upside buy hold sell score market sector subsector volume beta yield'.split()

In [48]:
final2[colt].sort_values(['yield'],ascending=[False])

,name,price,target,upside,buy,hold,sell,score,market,sector,subsector,volume,beta,yield
5,BCP,25.25,35.50,41,4,0,0,12,SET100 / SETCLMV / SETTHSI,Resources,Energy & Utilities,172.63,1.62,7.50
3,TISCO,96.00,108.20,13,6,0,0,18,SET50 / SETHD / SETTHSI,Financials,Banking,513.27,0.52,7.00
10,BTSGIF,4.34,6.06,40,4,1,0,13,SET,Services,Transportation & Logistics,19.64,0.44,6.80
0,PTTGC,58.75,74.38,27,5,3,0,18,SET50 / SETCLMV / SETTHSI,Industrials,Petrochemicals & Chemicals,"1,262.11",1.15,6.60
4,BANPU,10.60,15.12,43,6,0,0,18,SET100 / SETCLMV / SETTHSI,Resources,Energy & Utilities,"1,460.60",0.87,6.60
12,SENA,4.06,5.16,27,4,0,0,12,sSET,Property & Construction,Property Development,7.62,0.80,6.30
14,SAT,21.80,26.80,23,4,1,0,13,sSET / SETTHSI,Industrials,Automotive,61.05,0.58,6.30
11,LALIN,9.30,12.43,34,4,0,0,12,sSET,Property & Construction,Property Development,6.14,0.78,6.20
13,SC,3.36,4.19,25,8,0,0,24,sSET / SETTHSI,Property & Construction,Property Development,16.88,0.71,5.80
1,RATCH,45.00,54.47,21,5,2,1,14,SET50 / SETCLMV / SETHD / SETTHSI,Resources,Energy & Utilities,277.21,0.64,5.70
2,LH,8.80,10.07,14,10,0,0,30,SET50 / SETHD,Property & Construction,Property Development,380.65,0.77,5.60
9,NER,7.00,10.36,48,5,0,0,15,sSET,Agro & Food Industry,Agribusiness,318.94,0.45,5.50
6,MAJOR,20.00,25.02,25,6,0,0,18,SET100 / SETCLMV / SETTHSI,Services,Media & Publishing,130.01,0.89,5.30
7,KKP,59.75,70.88,19,4,0,0,12,SET100 / SETCLMV / SETHD / SETTHSI,Financials,Banking,245.76,0.95,5.20
8,AP,9.55,10.50,10,4,0,0,12,SET100 / SETHD,Property & Construction,Property Development,147.42,0.66,5.00

In [49]:
final2[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/high-dividend.json", orient="table")

In [50]:
file_name = 'css-hi-div.csv'
data_file = data_path + file_name
csv_file = csv_path + file_name
box_file = box_path + file_name
data_file, csv_file, box_file

('../data/css-hi-div.csv',
 '\\Users\\User\\iCloudDrive\\css-hi-div.csv',
 '\\Users\\User\\Dropbox\\css-hi-div.csv')

In [51]:
final2.set_index(['name'],inplace=True)
colt = 'price target upside buy hold sell score market sector subsector volume beta yield'.split()
final2[colt].sort_values(by=['name'],ascending=[True]).to_csv(data_file)
final2[colt].sort_values(by=['name'],ascending=[True]).to_csv(csv_file)
final2[colt].sort_values(by=['name'],ascending=[True]).to_csv(box_file)