### portpg database: consensus, stocks tables
### csv files: css-hi-div.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()

### Restart and Run All Cell

In [2]:
cols = 'price target upside buy hold sell score yield'.split()
colt = 'yield price target upside buy hold sell score mrkt sector subsector volume beta'.split()

In [3]:
sql = """
SELECT name, price, target_price AS target, 
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) <= 31"""
sql = sql % (today, today)
print(sql)

consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['upside'] = consensus['upside'].astype(int)
consensus.sort_values(by='upside',ascending=False).head()

SELECT name, price, target_price AS target,
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield,
date(updated_at), ('2022-01-03'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('2022-01-03'::date - date(updated_at)::date) <= 31

        price  target  upside  buy  hold  sell  yield        date  days
name
TR      53.50  104.00      94    1     0     0   0.00  2021-12-31     3
SKN      6.50   10.50      62    1     0     0   5.20  2021-12-31     3
SRICHA  15.80   24.00      52    1     0     0   6.60  2021-12-31     3
IMH     12.60   19.20      52    1     0     0   5.30  2021-12-31     3
HFT      7.40   11.20      51    1     0     0   4.90  2021-12-18    16

In [4]:
consensus.shape

(241, 9)

In [5]:
#consensus.loc['BCPG']
#consensus = consensus.drop('BCPG')

In [6]:
consensus['score'] = (consensus.buy*3 + consensus.hold*1 + consensus.sell*-3)
high_score = consensus.score >= 10
consensus.loc[high_score, cols].sort_values(by=['score'],ascending=[False]).head()

       price  target  upside  buy  hold  sell  score  yield
name
BCH    20.10   26.17      30   13     3     0     42   4.80
CK     22.90   25.61      12   13     1     0     40   1.00
PTTEP 118.00  142.30      21   13     1     0     40   4.40
BDMS   23.00   27.90      21   11     1     0     34   1.60
MINT   28.75   38.00      32   11     1     0     34   0.00

In [7]:
consensus[high_score].shape[0]

85

In [8]:
high_yield = consensus['yield'] >= 5
consensus.loc[high_yield, cols].sort_values(by=['yield'],ascending=[False]).head()

      price  target  upside  buy  hold  sell  score  yield
name
TCAP  37.75   40.58       7    3     1     0     10  43.50
TTB    1.47    1.43      -3    5     1     0     16  29.20
STGT  30.25   32.00       6    1     2     0      5  16.40
STA   31.00   41.33      33    3     0     0      9  13.60
TMT   10.30   11.30      10    1     2     0      5  12.10

In [9]:
consensus.loc[high_yield].shape[0]

67

In [10]:
high_upside = consensus['upside'] >= 15
consensus.loc[high_upside, cols].sort_values(by=['upside'],ascending=[False]).head()

        price  target  upside  buy  hold  sell  score  yield
name
TR      53.50  104.00      94    1     0     0      3   0.00
SKN      6.50   10.50      62    1     0     0      3   5.20
SRICHA  15.80   24.00      52    1     0     0      3   6.60
IMH     12.60   19.20      52    1     0     0      3   5.30
HFT      7.40   11.20      51    1     0     0      3   4.90

In [11]:
consensus.loc[high_upside].shape[0]

124

### Final result to input to port_lite stocks

In [12]:
final_criteria = high_yield & high_upside & high_score
filter = consensus.loc[final_criteria, cols].sort_values(by=["yield"], ascending=[False])
filter

        price  target  upside  buy  hold  sell  score  yield
name
BCP     25.25   35.50      41    4     0     0     12   7.50
BTSGIF   4.34    6.06      40    4     1     0     13   6.80
BANPU   10.60   15.12      43    6     0     0     18   6.60
PTTGC   58.75   74.38      27    5     3     0     18   6.60
SENA     4.06    5.16      27    4     0     0     12   6.30
SAT     21.80   26.80      23    4     1     0     13   6.30
LALIN    9.30   12.43      34    4     0     0     12   6.20
SC       3.36    4.19      25    8     0     0     24   5.80
RATCH   45.00   54.47      21    5     2     1     14   5.70
NER      7.00   10.36      48    5     0     0     15   5.50
MAJOR   20.00   25.02      25    6     0     0     18   5.30
KKP     59.75   70.88      19    4     0     0     12   5.20

In [13]:
filter.shape

(12, 8)

In [14]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
pg_stocks = pd.read_sql(sql, conpg)
pg_stocks.shape

(338, 8)

In [15]:
filters = [
   (pg_stocks.market.str.contains('SET50')),
   (pg_stocks.market.str.contains('SET100')),
   (pg_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
pg_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [16]:
consensus2 = pd.merge(filter, pg_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(12, 16)

In [17]:
set50 = consensus2.mrkt.str.contains('SET50') 
flt_set50 = consensus2[set50]
flt_set50.sort_values(['yield'],ascending=[False])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
PTTGC,58.75,74.38,27,5,3,0,18,6.60,70.00,54.25,5.50,0.85,"1,262.11",1.15,SET50 / SETCLMV / SETTHSI,SET50
RATCH,45.00,54.47,21,5,2,1,14,5.70,57.50,42.00,8.39,0.96,277.21,0.64,SET50 / SETCLMV / SETHD / SETTHSI,SET50

In [18]:
set100 = consensus2.mrkt.str.contains('SET100') 
flt_set100 = consensus2[set100]
flt_set100.sort_values(['yield'],ascending=[False])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
BCP,25.25,35.50,41,4,0,0,12,7.50,30.75,20.00,5.60,0.66,172.63,1.62,SET100 / SETCLMV / SETTHSI,SET100
BANPU,10.60,15.12,43,6,0,0,18,6.60,14.90,8.00,12.16,1.04,"1,460.60",0.87,SET100 / SETCLMV / SETTHSI,SET100
MAJOR,20.00,25.02,25,6,0,0,18,5.30,26.25,16.50,9.89,2.24,130.01,0.89,SET100 / SETCLMV / SETTHSI,SET100
KKP,59.75,70.88,19,4,0,0,12,5.20,64.25,49.75,9.36,1.03,245.76,0.95,SET100 / SETCLMV / SETHD / SETTHSI,SET100

In [19]:
set999 = consensus2.mrkt.str.contains('SET999') 
flt_set999 = consensus2[set999]
flt_set999.sort_values(['name'],ascending=[True])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
BTSGIF,4.34,6.06,40,4,1,0,13,6.80,5.65,3.90,999.99,0.55,19.64,0.44,SET,SET999
LALIN,9.30,12.43,34,4,0,0,12,6.20,11.00,7.25,6.16,1.09,6.14,0.78,sSET,SET999
NER,7.00,10.36,48,5,0,0,15,5.50,8.65,4.10,7.39,2.66,318.94,0.45,sSET,SET999
SAT,21.80,26.80,23,4,1,0,13,6.30,23.50,15.70,9.15,1.24,61.05,0.58,sSET / SETTHSI,SET999
SC,3.36,4.19,25,8,0,0,24,5.80,3.70,2.66,7.26,0.72,16.88,0.71,sSET / SETTHSI,SET999
SENA,4.06,5.16,27,4,0,0,12,6.30,4.66,3.34,5.86,0.82,7.62,0.80,sSET,SET999

In [20]:
mai = consensus2.mrkt.str.contains('mai') 
flt_mai = consensus2[mai]
flt_mai.sort_values(['name'],ascending=[True])

Empty DataFrame
Columns: [price, target, upside, buy, hold, sell, score, yield, max, min, pe, pbv, volume, beta, market, mrkt]
Index: []

In [21]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['name'],ascending=[True])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market,mrkt
name,,,,,,,,,,,,,,,,
BANPU,10.60,15.12,43,6,0,0,18,6.60,14.90,8.00,12.16,1.04,"1,460.60",0.87,SET100 / SETCLMV / SETTHSI,SET100
BCP,25.25,35.50,41,4,0,0,12,7.50,30.75,20.00,5.60,0.66,172.63,1.62,SET100 / SETCLMV / SETTHSI,SET100
BTSGIF,4.34,6.06,40,4,1,0,13,6.80,5.65,3.90,999.99,0.55,19.64,0.44,SET,SET999
KKP,59.75,70.88,19,4,0,0,12,5.20,64.25,49.75,9.36,1.03,245.76,0.95,SET100 / SETCLMV / SETHD / SETTHSI,SET100
LALIN,9.30,12.43,34,4,0,0,12,6.20,11.00,7.25,6.16,1.09,6.14,0.78,sSET,SET999
MAJOR,20.00,25.02,25,6,0,0,18,5.30,26.25,16.50,9.89,2.24,130.01,0.89,SET100 / SETCLMV / SETTHSI,SET100
NER,7.00,10.36,48,5,0,0,15,5.50,8.65,4.10,7.39,2.66,318.94,0.45,sSET,SET999
PTTGC,58.75,74.38,27,5,3,0,18,6.60,70.00,54.25,5.50,0.85,"1,262.11",1.15,SET50 / SETCLMV / SETTHSI,SET50
RATCH,45.00,54.47,21,5,2,1,14,5.70,57.50,42.00,8.39,0.96,277.21,0.64,SET50 / SETCLMV / SETHD / SETTHSI,SET50
SAT,21.80,26.80,23,4,1,0,13,6.30,23.50,15.70,9.15,1.24,61.05,0.58,sSET / SETTHSI,SET999
SC,3.36,4.19,25,8,0,0,24,5.80,3.70,2.66,7.26,0.72,16.88,0.71,sSET / SETTHSI,SET999
SENA,4.06,5.16,27,4,0,0,12,6.30,4.66,3.34,5.86,0.82,7.62,0.80,sSET,SET999

In [22]:
flt_all.shape

(12, 16)

In [23]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

402

In [24]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.shape

(12, 19)

In [25]:
final[colt].sort_values(['yield'],ascending=[False])

,yield,price,target,upside,buy,hold,sell,score,mrkt,sector,subsector,volume,beta
2,7.50,25.25,35.50,41,4,0,0,12,SET100,Resources,Energy & Utilities,172.63,1.62
6,6.80,4.34,6.06,40,4,1,0,13,SET999,Services,Transportation & Logistics,19.64,0.44
0,6.60,58.75,74.38,27,5,3,0,18,SET50,Industrials,Petrochemicals & Chemicals,"1,262.11",1.15
3,6.60,10.60,15.12,43,6,0,0,18,SET100,Resources,Energy & Utilities,"1,460.60",0.87
7,6.30,4.06,5.16,27,4,0,0,12,SET999,Property & Construction,Property Development,7.62,0.80
8,6.30,21.80,26.80,23,4,1,0,13,SET999,Industrials,Automotive,61.05,0.58
9,6.20,9.30,12.43,34,4,0,0,12,SET999,Property & Construction,Property Development,6.14,0.78
10,5.80,3.36,4.19,25,8,0,0,24,SET999,Property & Construction,Property Development,16.88,0.71
1,5.70,45.00,54.47,21,5,2,1,14,SET50,Resources,Energy & Utilities,277.21,0.64
11,5.50,7.00,10.36,48,5,0,0,15,SET999,Agro & Food Industry,Agribusiness,318.94,0.45
4,5.30,20.00,25.02,25,6,0,0,18,SET100,Services,Media & Publishing,130.01,0.89
5,5.20,59.75,70.88,19,4,0,0,12,SET100,Financials,Banking,245.76,0.95

In [26]:
file_name = 'css-hi-div.csv'
data_file = data_path + file_name
csv_file = csv_path + file_name
box_file = box_path + file_name
data_file, csv_file, box_file

('../data/css-hi-div.csv',
 '\\Users\\User\\iCloudDrive\\css-hi-div.csv',
 '\\Users\\User\\Dropbox\\css-hi-div.csv')

In [27]:
final.set_index(['name'],inplace=True)
final[colt].sort_values(by=['name'],ascending=[True]).to_csv(data_file)
final[colt].sort_values(by=['name'],ascending=[True]).to_csv(csv_file)
final[colt].sort_values(by=['name'],ascending=[True]).to_csv(box_file)