In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {
    'qty':'{:,}','available_qty':'{:,}','volbuy':'{:,}',
    'price':'{:.2f}','buy_price':'{:.2f}','sell_price':'{:.2f}','diff':'{:.2f}','cost':'{:.2f}',
    'amount':'{:,.2f}','gross':'{:,.2f}','profit':'{:,.2f}',
    'buy_amt':'{:,.2f}','sell_amt':'{:,.2f}','pct':'{:,.2f}%'
}
cols = 'trade name qty price reason market active'.split()

today = date.today()
today

datetime.date(2022, 6, 3)

### If process on Saturday

In [2]:
today = today - timedelta(days=1)
eow = today
bow = eow - timedelta(days=3)
(bow, eow)

(datetime.date(2022, 5, 30), datetime.date(2022, 6, 2))

### Restart and Run All Cells

In [3]:
sql = '''
SELECT name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE sells.date BETWEEN '%s' AND '%s'
ORDER BY name, sells.date'''
sql = sql % (bow, eow)
print(sql)

SELECT name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price,
(sells.price - buys.price) AS diff, qty,
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE sells.date BETWEEN '2022-05-30' AND '2022-06-02'
ORDER BY name, sells.date

In [4]:
sells_df = pd.read_sql(sql, conpf)
sells_df.style.format(format_dict)

In [5]:
sells_grp = sells_df.groupby(['name'])[['qty','sell_amt','buy_amt','gross','profit']].sum()
sells_grp.style.format(format_dict)

In [6]:
sells_df[['sell_amt','buy_amt','gross','profit']].sum()

sell_amt    446250.0
buy_amt     442500.0
gross         3750.0
profit        1781.5
dtype: float64

In [7]:
sql = '''
SELECT name, buys.date AS buy_date, buys.price AS buy_price, 
qty, (buys.price * qty) AS buy_amt 
FROM buys
JOIN stocks ON buys.stock_id = stocks.id
WHERE buys.date BETWEEN '%s' AND '%s'
ORDER BY name, buys.date'''
sql = sql % (bow, eow)
print(sql)

SELECT name, buys.date AS buy_date, buys.price AS buy_price,
qty, (buys.price * qty) AS buy_amt
FROM buys
JOIN stocks ON buys.stock_id = stocks.id
WHERE buys.date BETWEEN '2022-05-30' AND '2022-06-02'
ORDER BY name, buys.date

In [8]:
buys_df = pd.read_sql(sql, conpf)
buys_df.style.format(format_dict)

In [9]:
buys_df[['buy_amt']].sum()

buy_amt    126000.0
dtype: float64

In [10]:
sells_df[['buy_amt']].sum()

buy_amt    442500.0
dtype: float64

In [11]:
diff_amt = buys_df[['buy_amt']].sum() - sells_df[['buy_amt']].sum()
diff_amt

buy_amt   -316500.0
dtype: float64

In [12]:
sql = '''
SELECT name, available_qty, cost, status
FROM stocks
'''
stocks_df = pd.read_sql(sql, conlite)
stocks_df.set_index('name', inplace=True)
stocks_df.style.format(format_dict)

In [13]:
df_merge = pd.merge(sells_grp,stocks_df,on='name',how='inner')
df_merge.style.format(format_dict)

In [14]:
sql = '''
SELECT name, SUM(volbuy) AS volbuy, price
FROM buy
WHERE active = 1
GROUP BY name
ORDER BY name'''
buy_df = pd.read_sql(sql, const)
buy_df.volbuy = buy_df.volbuy.astype(int)
buy_df.style.format(format_dict)

In [15]:
df_merge2 = pd.merge(buy_df,stocks_df,on='name',how='inner')
df_merge2.style.format(format_dict)

In [16]:
mask1 = df_merge2.volbuy != df_merge2.available_qty
mask2 = df_merge2.price != df_merge2.cost
df_merge2[mask1 | mask2].style.format(format_dict)