In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

### Tables in the process

In [2]:
cols = 'trade name qty_x price reason_x qty_y buy_target sell_target reason_y'.split()
colt = 'trade name qty price active reason market xdate'.split()

In [3]:
format_dict = {
    'qty':'{:,}','qty_x':'{:,}','qty_y':'{:,}','available_qty':'{:,}','eps_a':'{:.2f}','eps_b':'{:.2f}',
    'volbuy':'{:,}','volsell':'{:,}','volbal':'{:,}',
    'pe':'{:.2f}','pbv':'{:.2f}','max':'{:.2f}','min':'{:.2f}','dividend':'{:.4f}',
    'maxp':'{:.2f}','minp':'{:.2f}','opnp':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}','daily_volume':'{:,.2f}','dly_vol':'{:,.2f}',
    'price':'{:.2f}','target_price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}','price_d':'{:.2f}','price_w':'{:.2f}',
    'buy_target':'{:.2f}','sell_target':'{:.2f}','target':'{:.2f}','current':'{:.2f}',
    'beta':'{:.2f}','amount':'{:,.2f}','sell_amt':'{:,.2f}','volume':'{:,.2f}','percent':'{:,.2f}',
    'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}','yoy_gain':'{:,}','acc_gain':'{:,}',    
    'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
    'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%','yield':'{:.2f}%',
    'q_amt': '{:,}','y_amt': '{:,}','yoy_gain': '{:,}','q_amt_c': '{:,}','q_amt_p': '{:,}','aq_amt': '{:,}','ay_amt': '{:,}',
    'acc_gain': '{:,}','latest_amt': '{:,}','previous_amt': '{:,}','inc_amt': '{:,}',
    'inc_amt_pq': '{:,}','inc_amt_py': '{:,}',    'latest_amt_q': '{:,}','previous_amt_q': '{:,}','inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}','previous_amt_y': '{:,}','inc_amt_y': '{:,}','kind_x': '{:,}',
    'inc_pct': '{:.2f}%','inc_pct_q': '{:.2f}%','pct': '{:.2f}%','percent': '{:.2f}%',
    'inc_pct_y': '{:.2f}%','inc_pct_pq': '{:.2f}%','inc_pct_py': '{:.2f}%','mean_pct': '{:.2f}%','std_pct': '{:.2f}%',      
}

### Begin of Loop

In [4]:
sql = '''
SELECT trade, name, qty, price, qty * price AS amount, reason, market, active, xdate
FROM orders
ORDER BY trade, name'''
orders = pd.read_sql(sql, conlite)
orders.sort_values(['trade','name'],ascending=[True,True]).style.format(format_dict)

In [5]:
sql = """
SELECT *
FROM stocks
"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(55, 18)

In [6]:
df_merge = pd.merge(orders,stocks,on='name',how='inner')
df_merge.shape

(20, 26)

In [7]:
qty_mask = (df_merge.qty_x != df_merge.qty_y)
df_merge[qty_mask][cols].style.format(format_dict)

In [8]:
buy_price_mask = (df_merge.price != df_merge.buy_target) & (df_merge.trade == 'B')
df_merge[buy_price_mask][cols].style.format(format_dict)

In [9]:
sell_price_mask = (df_merge.price != df_merge.sell_target) & (df_merge.trade == 'S')
df_merge[sell_price_mask][cols].style.format(format_dict)

In [10]:
reason_mask = (df_merge.reason_x != df_merge.reason_y)
df_merge[reason_mask][cols].style.format(format_dict)

### End of Loop process

In [11]:
orders[colt]

   trade    name    qty  price  active   reason  market       xdate
0      B      AP  10000   9.50       1     MinP  SET100  2022-05-10
1      B     ASK   3000  28.50       1     52WL     SET  2022-03-03
2      B     ASP  10000   3.00       1     52WL    SET   2022-02-02
3      B   BANPU  12000  11.50       0       1L   SET50  2022-04-11
4      B    BCPG   9000  10.30       1     52WL  SET100  2022-02-02
5      B     IVL   3000  43.50       0     13WL   SET50  2022-05-31
6      B   JASIF  10000   8.60       1  RD10pct     SET  2022-05-20
7      B     KTC   2100  52.75       0     52WL   SET50  2022-04-18
8      B     MCS   5000  10.60       1     52WL     SET  2022-03-15
9      B     RBF   9000  13.70       1     52WL  SET100  2022-02-02
10     B     RCL   3000  35.25       1  RD20pct  SET100  2022-03-23
11     B  SINGER   3000  33.00       0     52WL  SET100  2022-02-02
12     B     SSP  10000   8.60       1     52WL     SET  2022-02-02
13     B     TMT  12000   7.90       1  RD15pct     SET  2022-04-18
14     B   WHAIR  12000   7.15       1  RD25pct    SET   2022-02-02
15     S     BCH   3000  21.00       1     CP1S  SET100  2022-02-02
16     S     DIF  10000  14.60       0      CUT     SET  2022-05-17
17     S  GLOBAL   4500  18.50       1   C18.40   SET50  2022-02-02
18     S     SIS   3600  28.75       0   C28.50     SET  2022-03-10
19     S   TISCO   1000  88.50       2      CUT   SET50  2022-02-02

In [12]:
file_name = 'orders.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

orders[colt].to_csv(output_file, header=True, index=False)
orders[colt].to_csv(data_file,   header=True, index=False)
orders[colt].to_csv(box_file,    header=True, index=False)

### After call ord-log

In [13]:
def categorise(row):  
    if row['col0'] == 'B':
        return 'Buy'
    else:
        return 'Sell'

In [14]:
df = pd.read_csv('../data/orders-log.csv', header=None, prefix = 'col',usecols=[0,1,2,3,4,5,6,7,8,9])
df.rename(columns = {'col1': 'name', 'col2': 'spd','col3': 'reason', 'col4': 'market','col5': 'qty', 'col6': 'target','col7': 'current', 'col8': 'chg', 'col9': 'percent'}, inplace = True)
df['trans'] = df.apply(lambda row: categorise(row), axis=1)
#df['qty'] = df['qty'].astype('int64')
df.dtypes

col0       object
name       object
spd        object
reason     object
market     object
qty        object
target     object
current    object
chg        object
percent    object
trans      object
dtype: object

In [15]:
from itables import show
show(df[['trans','name','spd','reason','qty','target','current','chg','percent']])

In [16]:
sql = '''
UPDATE stocks
SET buy_target = 0
WHERE buy_target IS NULL'''
rp = conlite.execute(sql)
rp.rowcount

0

In [17]:
sql = '''
UPDATE stocks
SET sell_target = 0
WHERE sell_target IS NULL'''
rp = conlite.execute(sql)
rp.rowcount

0

In [18]:
sql = '''
UPDATE stocks
SET available_qty = 0
WHERE available_qty IS NULL'''
rp = conlite.execute(sql)
rp.rowcount

0

In [19]:
sql = '''
UPDATE stocks
SET cost = 0
WHERE cost IS NULL'''
rp = conlite.execute(sql)
rp.rowcount

0

In [20]:
sql = '''
UPDATE stocks
SET qty = 0
WHERE qty IS NULL'''
rp = conlite.execute(sql)
rp.rowcount

0

In [21]:
qty_mask = (stocks.qty == 0) & (stocks.status.isin(['B','I','O','S']))
stocks[qty_mask].style.format(format_dict)

In [22]:
buy_mask = (stocks.buy_target == 0) & (stocks.status.isin(['B','O']))
stocks[buy_mask].style.format(format_dict)

In [23]:
sell_mask = (stocks.sell_target == 0) & (stocks.status.isin(['I','S']))
stocks[sell_mask].style.format(format_dict)