In [1]:
import calendar
import pandas as pd
import numpy as np
import panel as pn
from datetime import date, timedelta
from sqlalchemy import create_engine
from itables import show
pn.extension('tabulator')

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
today

datetime.date(2022, 5, 29)

### Tables in the process

In [2]:
cols = 'trade name qty price active reason market xdate'.split()
colt = 'trans name spd reason qty target current percent active xdate'.split()

format_dict = {
    'qty':'{:,}','available_qty':'{:,}',
    'price':'{:.2f}','cost':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',
    'buy_target':'{:.2f}','sell_target':'{:.2f}','target':'{:.2f}','current':'{:.2f}',
    'beta':'{:.2f}',
    'amount':'{:,.2f}','sell_amt':'{:,.2f}','volume':'{:,.2f}',
    'percent':'{:,.2f}',
    'shares':'{:,}',    
    'q4':'{:.4f}','q3':'{:.4f}','q2':'{:.4f}','q1':'{:.4f}','dividend':'{:.4f}',
    'xdate':'{:%Y-%m-%d}','paiddate':'{:%Y-%m-%d}',
}

In [3]:
sql = '''
SELECT *
FROM orders
ORDER BY id DESC
LIMIT 1'''
orders = pd.read_sql(sql, conlite)
orders

   id trade   name    qty  price  active reason market       xdate
0  19     S  WHART  10000   11.1       0   P50%    SET  2022-05-30

In [4]:
names = orders['name']
name = names.to_string(index=False)

In [5]:
sql = '''
SELECT *
FROM dividend
WHERE name = '%s'
'''
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [6]:
sql = """
SELECT * FROM stocks WHERE name = '%s'
"""
sql = sql % name
print(sql)

stocks = pd.read_sql(sql, conlite)
stocks.style.format(format_dict)

SELECT * FROM stocks WHERE name = 'WHART'

### Create orders from stocks after adjust stocks in port_lite from consensus

In [7]:
sql = '''
DELETE FROM orders'''
rp = conlite.execute(sql)
rp.rowcount

19

In [8]:
sql = '''
SELECT status AS trade, name, qty, buy_target AS price, 0 AS active, reason, market
FROM stocks
WHERE status IN ('B','O')
ORDER BY name'''
df_buy = pd.read_sql(sql, conlite)
df_buy

   trade    name     qty  price  active   reason  market
0      O     AIT   18000   6.75       0     P25%     SET
1      O      AP   10000  10.60       0     P25%  SET100
2      O     ASK    3000  37.75       0       6L     SET
3      O   BANPU   12000  11.50       0       1L   SET50
4      O    BCPG   12000  11.50       0       3L  SET100
5      B    BDMS    1500  24.40       0  RD05pct   SET50
6      O     BPP    9000  15.60       0       3L  SET100
7      O  GLOBAL    9000  20.60       0       1L   SET50
8      O    GULF    6000  46.00       0       1L   SET50
9      B     IVL    3000  46.50       0       1M   SET50
10     O     KKP    3000  69.00       0       3L  SET100
11     B     ORI   15000  10.20       0  RD05pct  SET100
12     O     SIS    3600  28.75       0       6L     SET
13     O    SPRC   15000  10.80       0     P75%  SET100
14     O     SSP   10000   9.50       0       6L     SET
15     O     TOP    3600  56.00       0       1L   SET50
16     O     TTB  150000   1.20       0       1L   SET50

In [9]:
sql = '''
SELECT status AS trade, name, qty, sell_target AS price, 0 AS active, reason, market
FROM stocks
WHERE status IN ('I','S')'''
df_sell = pd.read_sql(sql, conlite)
df_sell

  trade   name    qty  price  active reason market
0     I    NER   9000    7.0       0   P50%    SET
1     I     IP   2500   20.3       0   CP1S    mai
2     I  WHART  10000   11.1       0   P50%    SET

In [10]:
df_order = df_buy.append(df_sell, ignore_index=True)
df_order.shape

(20, 7)

In [11]:
df_order.groupby(['trade']).count()

       name  qty  price  active  reason  market
trade
B         3    3      3       3       3       3
I         3    3      3       3       3       3
O        14   14     14      14      14      14

In [12]:
df_order.loc[df_order.trade == 'I','trade'] = 'S'
df_order.groupby(['trade']).count()

       name  qty  price  active  reason  market
trade
B         3    3      3       3       3       3
O        14   14     14      14      14      14
S         3    3      3       3       3       3

In [13]:
sql = '''
SELECT name, xdate
FROM dividend
'''
dividend = pd.read_sql(sql, const)
dividend.columns = dividend.columns.str.lower()
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend.shape

(83, 2)

In [14]:
df_merge = pd.merge(df_order, dividend, on='name', how='outer', indicator=True)
df_merge.shape

(91, 9)

### If there is no dividend record, must create dividend record before proceed

In [15]:
no_div = df_merge[df_merge['_merge'] == 'left_only']
no_div

   trade  name       qty  price  active reason  market xdate     _merge
0      O   AIT   18000.0   6.75     0.0   P25%     SET   NaT  left_only
4      O  BCPG   12000.0  11.50     0.0     3L  SET100   NaT  left_only
6      O   BPP    9000.0  15.60     0.0     3L  SET100   NaT  left_only
12     O   SIS    3600.0  28.75     0.0     6L     SET   NaT  left_only
13     O  SPRC   15000.0  10.80     0.0   P75%  SET100   NaT  left_only
14     O   SSP   10000.0   9.50     0.0     6L     SET   NaT  left_only
15     O   TOP    3600.0  56.00     0.0     1L   SET50   NaT  left_only
16     O   TTB  150000.0   1.20     0.0     1L   SET50   NaT  left_only

### Rerun from here

In [16]:
# Include both having diviedend and having no dividend records
mask = ((df_merge['_merge'] == 'both') | (df_merge['_merge'] == 'left_only'))
df_orders = df_merge[mask].copy()
df_orders.drop(['_merge'], axis=1, inplace=True)
df_orders['qty'] = df_orders['qty'].astype('int64')
df_orders['active'] = df_orders['active'].astype('int64')
df_orders['xdate'] = df_orders['xdate'].astype('str')
df_orders.groupby('trade').count()

       name  qty  price  active  reason  market  xdate
trade
B         3    3      3       3       3       3      3
O        14   14     14      14      14      14     14
S         3    3      3       3       3       3      3

### Set xdate 2 weeks window of first Tuesday and second Friday

In [17]:
fm_date = '2022-05-03'

### Restart and Run All Cells

In [18]:
fltr_sts_o = (df_orders.trade == 'O') 
df_sts_o = df_orders[fltr_sts_o]
df_sts_o

   trade    name     qty  price  active reason  market       xdate
0      O     AIT   18000   6.75       0   P25%     SET         NaT
1      O      AP   10000  10.60       0   P25%  SET100  2022-05-10
2      O     ASK    3000  37.75       0     6L     SET  2022-03-03
3      O   BANPU   12000  11.50       0     1L   SET50  2022-04-11
4      O    BCPG   12000  11.50       0     3L  SET100         NaT
6      O     BPP    9000  15.60       0     3L  SET100         NaT
7      O  GLOBAL    9000  20.60       0     1L   SET50  2022-02-02
8      O    GULF    6000  46.00       0     1L   SET50  2022-03-04
10     O     KKP    3000  69.00       0     3L  SET100  2022-04-28
12     O     SIS    3600  28.75       0     6L     SET         NaT
13     O    SPRC   15000  10.80       0   P75%  SET100         NaT
14     O     SSP   10000   9.50       0     6L     SET         NaT
15     O     TOP    3600  56.00       0     1L   SET50         NaT
16     O     TTB  150000   1.20       0     1L   SET50         NaT

In [19]:
fltr_sts_b = (df_orders.trade == 'B') 
df_sts_b = df_orders[fltr_sts_b]
df_sts_b

   trade  name    qty  price  active   reason  market       xdate
5      B  BDMS   1500   24.4       0  RD05pct   SET50  2022-03-09
9      B   IVL   3000   46.5       0       1M   SET50  2022-05-31
11     B   ORI  15000   10.2       0  RD05pct  SET100  2022-05-09

In [20]:
fltr_sts_s = (df_orders.trade == 'S')
df_sts_s = df_orders[fltr_sts_s]
df_sts_s.sort_values('name',ascending=True)

   trade   name    qty  price  active reason market       xdate
18     S     IP   2500   20.3       0   CP1S    mai  2022-02-02
17     S    NER   9000    7.0       0   P50%    SET  2022-04-19
19     S  WHART  10000   11.1       0   P50%    SET  2022-05-30

In [21]:
frames = [df_sts_b, df_sts_o, df_sts_s]
df_orders = pd.concat(frames, sort=False)
df_orders.sort_values(['trade','name'],ascending=True)

   trade    name     qty  price  active   reason  market       xdate
5      B    BDMS    1500  24.40       0  RD05pct   SET50  2022-03-09
9      B     IVL    3000  46.50       0       1M   SET50  2022-05-31
11     B     ORI   15000  10.20       0  RD05pct  SET100  2022-05-09
0      O     AIT   18000   6.75       0     P25%     SET         NaT
1      O      AP   10000  10.60       0     P25%  SET100  2022-05-10
2      O     ASK    3000  37.75       0       6L     SET  2022-03-03
3      O   BANPU   12000  11.50       0       1L   SET50  2022-04-11
4      O    BCPG   12000  11.50       0       3L  SET100         NaT
6      O     BPP    9000  15.60       0       3L  SET100         NaT
7      O  GLOBAL    9000  20.60       0       1L   SET50  2022-02-02
8      O    GULF    6000  46.00       0       1L   SET50  2022-03-04
10     O     KKP    3000  69.00       0       3L  SET100  2022-04-28
12     O     SIS    3600  28.75       0       6L     SET         NaT
13     O    SPRC   15000  10.80       0     P75%  SET100         NaT
14     O     SSP   10000   9.50       0       6L     SET         NaT
15     O     TOP    3600  56.00       0       1L   SET50         NaT
16     O     TTB  150000   1.20       0       1L   SET50         NaT
18     S      IP    2500  20.30       0     CP1S     mai  2022-02-02
17     S     NER    9000   7.00       0     P50%     SET  2022-04-19
19     S   WHART   10000  11.10       0     P50%     SET  2022-05-30

In [22]:
df_orders.loc[df_orders.trade == 'O','trade'] = 'B'
df_orders.groupby(['trade']).count()

       name  qty  price  active  reason  market  xdate
trade
B        17   17     17      17      17      17     17
S         3    3      3       3       3       3      3

In [23]:
rcds = df_orders.values.tolist()
len(rcds)

20

In [24]:
for rcd in rcds:
    print(rcd)

['B', 'BDMS', 1500, 24.4, 0, 'RD05pct', 'SET50', '2022-03-09']
['B', 'IVL', 3000, 46.5, 0, '1M', 'SET50', '2022-05-31']
['B', 'ORI', 15000, 10.2, 0, 'RD05pct', 'SET100', '2022-05-09']
['B', 'AIT', 18000, 6.75, 0, 'P25%', 'SET', 'NaT']
['B', 'AP', 10000, 10.6, 0, 'P25%', 'SET100', '2022-05-10']
['B', 'ASK', 3000, 37.75, 0, '6L', 'SET', '2022-03-03']
['B', 'BANPU', 12000, 11.5, 0, '1L', 'SET50', '2022-04-11']
['B', 'BCPG', 12000, 11.5, 0, '3L', 'SET100', 'NaT']
['B', 'BPP', 9000, 15.6, 0, '3L', 'SET100', 'NaT']
['B', 'GLOBAL', 9000, 20.6, 0, '1L', 'SET50', '2022-02-02']
['B', 'GULF', 6000, 46.0, 0, '1L', 'SET50', '2022-03-04']
['B', 'KKP', 3000, 69.0, 0, '3L', 'SET100', '2022-04-28']
['B', 'SIS', 3600, 28.75, 0, '6L', 'SET', 'NaT']
['B', 'SPRC', 15000, 10.8, 0, 'P75%', 'SET100', 'NaT']
['B', 'SSP', 10000, 9.5, 0, '6L', 'SET', 'NaT']
['B', 'TOP', 3600, 56.0, 0, '1L', 'SET50', 'NaT']
['B', 'TTB', 150000, 1.2, 0, '1L', 'SET50', 'NaT']
['S', 'NER', 9000, 7.0, 0, 'P50%', 'SET', '2022-04-19']
['S', 'IP', 2500, 20.3, 0, 'CP1S', 'mai', '2022-02-02']
['S', 'WHART', 10000, 11.1, 0, 'P50%', 'SET', '2022-05-30']

In [25]:
sql = """
INSERT INTO orders (trade, name, qty, price, active,
reason, market, xdate)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO orders (trade, name, qty, price, active,
reason, market, xdate)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)

In [26]:
for rcd in rcds:
    conlite.execute(sql, rcd)

In [27]:
sql = """
SELECT * FROM orders"""
df_orders = pd.read_sql(sql, conlite)
df_orders

    id trade    name     qty  price  active   reason  market       xdate
0    1     B    BDMS    1500  24.40       0  RD05pct   SET50  2022-03-09
1    2     B     IVL    3000  46.50       0       1M   SET50  2022-05-31
2    3     B     ORI   15000  10.20       0  RD05pct  SET100  2022-05-09
3    4     B     AIT   18000   6.75       0     P25%     SET         NaT
4    5     B      AP   10000  10.60       0     P25%  SET100  2022-05-10
5    6     B     ASK    3000  37.75       0       6L     SET  2022-03-03
6    7     B   BANPU   12000  11.50       0       1L   SET50  2022-04-11
7    8     B    BCPG   12000  11.50       0       3L  SET100         NaT
8    9     B     BPP    9000  15.60       0       3L  SET100         NaT
9   10     B  GLOBAL    9000  20.60       0       1L   SET50  2022-02-02
10  11     B    GULF    6000  46.00       0       1L   SET50  2022-03-04
11  12     B     KKP    3000  69.00       0       3L  SET100  2022-04-28
12  13     B     SIS    3600  28.75       0       6L     SET         NaT
13  14     B    SPRC   15000  10.80       0     P75%  SET100         NaT
14  15     B     SSP   10000   9.50       0       6L     SET         NaT
15  16     B     TOP    3600  56.00       0       1L   SET50         NaT
16  17     B     TTB  150000   1.20       0       1L   SET50         NaT
17  18     S     NER    9000   7.00       0     P50%     SET  2022-04-19
18  19     S      IP    2500  20.30       0     CP1S     mai  2022-02-02
19  20     S   WHART   10000  11.10       0     P50%     SET  2022-05-30

In [28]:
df_orders.loc[(df_orders.xdate == 'NaT'),['xdate']] = ['2022-02-02']
df_orders

    id trade    name     qty  price  active   reason  market       xdate
0    1     B    BDMS    1500  24.40       0  RD05pct   SET50  2022-03-09
1    2     B     IVL    3000  46.50       0       1M   SET50  2022-05-31
2    3     B     ORI   15000  10.20       0  RD05pct  SET100  2022-05-09
3    4     B     AIT   18000   6.75       0     P25%     SET  2022-02-02
4    5     B      AP   10000  10.60       0     P25%  SET100  2022-05-10
5    6     B     ASK    3000  37.75       0       6L     SET  2022-03-03
6    7     B   BANPU   12000  11.50       0       1L   SET50  2022-04-11
7    8     B    BCPG   12000  11.50       0       3L  SET100  2022-02-02
8    9     B     BPP    9000  15.60       0       3L  SET100  2022-02-02
9   10     B  GLOBAL    9000  20.60       0       1L   SET50  2022-02-02
10  11     B    GULF    6000  46.00       0       1L   SET50  2022-03-04
11  12     B     KKP    3000  69.00       0       3L  SET100  2022-04-28
12  13     B     SIS    3600  28.75       0       6L     SET  2022-02-02
13  14     B    SPRC   15000  10.80       0     P75%  SET100  2022-02-02
14  15     B     SSP   10000   9.50       0       6L     SET  2022-02-02
15  16     B     TOP    3600  56.00       0       1L   SET50  2022-02-02
16  17     B     TTB  150000   1.20       0       1L   SET50  2022-02-02
17  18     S     NER    9000   7.00       0     P50%     SET  2022-04-19
18  19     S      IP    2500  20.30       0     CP1S     mai  2022-02-02
19  20     S   WHART   10000  11.10       0     P50%     SET  2022-05-30

In [29]:
pd.read_sql_query('SELECT * FROM orders', conlite)

    id trade    name     qty  price  active   reason  market       xdate
0    1     B    BDMS    1500  24.40       0  RD05pct   SET50  2022-03-09
1    2     B     IVL    3000  46.50       0       1M   SET50  2022-05-31
2    3     B     ORI   15000  10.20       0  RD05pct  SET100  2022-05-09
3    4     B     AIT   18000   6.75       0     P25%     SET         NaT
4    5     B      AP   10000  10.60       0     P25%  SET100  2022-05-10
5    6     B     ASK    3000  37.75       0       6L     SET  2022-03-03
6    7     B   BANPU   12000  11.50       0       1L   SET50  2022-04-11
7    8     B    BCPG   12000  11.50       0       3L  SET100         NaT
8    9     B     BPP    9000  15.60       0       3L  SET100         NaT
9   10     B  GLOBAL    9000  20.60       0       1L   SET50  2022-02-02
10  11     B    GULF    6000  46.00       0       1L   SET50  2022-03-04
11  12     B     KKP    3000  69.00       0       3L  SET100  2022-04-28
12  13     B     SIS    3600  28.75       0       6L     SET         NaT
13  14     B    SPRC   15000  10.80       0     P75%  SET100         NaT
14  15     B     SSP   10000   9.50       0       6L     SET         NaT
15  16     B     TOP    3600  56.00       0       1L   SET50         NaT
16  17     B     TTB  150000   1.20       0       1L   SET50         NaT
17  18     S     NER    9000   7.00       0     P50%     SET  2022-04-19
18  19     S      IP    2500  20.30       0     CP1S     mai  2022-02-02
19  20     S   WHART   10000  11.10       0     P50%     SET  2022-05-30

In [30]:
sqlUpd = """
UPDATE orders
SET xdate = '2022-02-02'
WHERE xdate = 'NaT'"""
rp = conlite.execute(sqlUpd)
rp.rowcount

8

In [31]:
pd.read_sql_query('SELECT * FROM orders WHERE qty = 0', conlite)

Empty DataFrame
Columns: [id, trade, name, qty, price, active, reason, market, xdate]
Index: []

In [32]:
file_name = 'orders.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_orders[cols].sort_values(['trade','name'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df_orders[cols].sort_values(['trade','name'],ascending=[True,True]).to_csv(data_file, header=True, index=False)
df_orders[cols].sort_values(['trade','name'],ascending=[True,True]).to_csv(box_file, header=True, index=False)
df_orders[cols].sort_values(['trade','name'],ascending=[True,True]).to_csv(one_file, header=True, index=False)

### Process to set target price

### 1) Set50 records

In [33]:
pd.read_sql_query('SELECT * FROM orders WHERE market = "SET50" ORDER BY trade, name', conlite)

   id trade    name     qty  price  active   reason market       xdate
0   7     B   BANPU   12000   11.5       0       1L  SET50  2022-04-11
1   1     B    BDMS    1500   24.4       0  RD05pct  SET50  2022-03-09
2  10     B  GLOBAL    9000   20.6       0       1L  SET50  2022-02-02
3  11     B    GULF    6000   46.0       0       1L  SET50  2022-03-04
4   2     B     IVL    3000   46.5       0       1M  SET50  2022-05-31
5  16     B     TOP    3600   56.0       0       1L  SET50  2022-02-02
6  17     B     TTB  150000    1.2       0       1L  SET50  2022-02-02

In [34]:
name = 'TTB'
limit = 20 # 1 month of data
sql = """
SELECT *
FROM price
WHERE name = '%s'
ORDER BY date DESC
LIMIT %s"""
sql = sql % (name, limit)
df = pd.read_sql(sql, const)
df.describe()

           price      maxp       minp           qty       opnp
count  20.000000  20.00000  20.000000  2.000000e+01  20.000000
mean    1.265500   1.28050   1.255000  2.672505e+08   1.269000
std     0.029465   0.02781   0.027242  1.489409e+08   0.029001
min     1.220000   1.24000   1.220000  8.735034e+07   1.220000
25%     1.240000   1.25000   1.230000  1.514525e+08   1.240000
50%     1.265000   1.29000   1.260000  2.508130e+08   1.280000
75%     1.290000   1.31000   1.280000  3.256097e+08   1.292500
max     1.310000   1.31000   1.290000  7.033283e+08   1.310000

### 2) Set100 records

In [35]:
pd.read_sql_query('SELECT * FROM orders WHERE market = "SET100" ORDER BY trade, name', conlite)

   id trade  name    qty  price  active   reason  market       xdate
0   5     B    AP  10000   10.6       0     P25%  SET100  2022-05-10
1   8     B  BCPG  12000   11.5       0       3L  SET100  2022-02-02
2   9     B   BPP   9000   15.6       0       3L  SET100  2022-02-02
3  12     B   KKP   3000   69.0       0       3L  SET100  2022-04-28
4   3     B   ORI  15000   10.2       0  RD05pct  SET100  2022-05-09
5  14     B  SPRC  15000   10.8       0     P75%  SET100  2022-02-02

In [36]:
name = 'SPRC'
limit = 60 # 1 month of data
sql = """
SELECT *
FROM price
WHERE name = '%s'
ORDER BY date DESC
LIMIT %s"""
sql = sql % (name, limit)
df = pd.read_sql(sql, const)
df.describe()

           price       maxp       minp           qty       opnp
count  60.000000  60.000000  60.000000  6.000000e+01  60.000000
mean   10.030000  10.170000   9.850000  3.591379e+07  10.007500
std     1.008993   1.021846   0.980099  1.750195e+07   1.001178
min     8.500000   8.600000   8.200000  1.176940e+07   8.550000
25%     9.187500   9.337500   9.075000  2.253399e+07   9.187500
50%     9.875000  10.025000   9.675000  3.420942e+07   9.850000
75%    10.825000  10.925000  10.625000  4.334282e+07  10.900000
max    12.000000  12.300000  11.800000  9.231242e+07  12.200000

### 3) Set records

In [37]:
pd.read_sql_query('SELECT * FROM orders WHERE market = "SET" ORDER BY trade, name', conlite)

   id trade   name    qty  price  active reason market       xdate
0   4     B    AIT  18000   6.75       0   P25%    SET  2022-02-02
1   6     B    ASK   3000  37.75       0     6L    SET  2022-03-03
2  13     B    SIS   3600  28.75       0     6L    SET  2022-02-02
3  15     B    SSP  10000   9.50       0     6L    SET  2022-02-02
4  18     S    NER   9000   7.00       0   P50%    SET  2022-04-19
5  20     S  WHART  10000  11.10       0   P50%    SET  2022-05-30

In [42]:
name = 'IP'
limit = 120 # 1 month of data
sql = """
SELECT *
FROM price
WHERE name = '%s'
ORDER BY date DESC
LIMIT %s"""
sql = sql % (name, limit)
df = pd.read_sql(sql, const)
df.describe()

            price        maxp        minp           qty        opnp
count  120.000000  120.000000  120.000000  1.200000e+02  120.000000
mean    19.835000   20.144167   19.627500  9.724562e+05   19.893333
std      0.879233    0.930600    0.835651  1.080804e+06    0.871079
min     18.300000   18.700000   17.800000  7.544500e+04   18.300000
25%     19.200000   19.400000   19.000000  3.259658e+05   19.200000
50%     19.800000   20.100000   19.500000  6.468400e+05   19.800000
75%     20.125000   20.500000   20.000000  1.114195e+06   20.300000
max     22.500000   22.900000   22.200000  6.610782e+06   22.600000

### After call Ord-log.bat

In [39]:
def categorise(row):  
    if row['trade'] == 'B':
        return 'Buy'
    else:
        return 'Sell'

In [40]:
df = pd.read_csv('../data/orders-log.csv')
df['trans'] = df.apply(lambda row: categorise(row), axis=1)

df_tab = pn.widgets.Tabulator(df[colt], layout='fit_data', width=800)
df_tab

Tabulator(layout='fit_data', value=   trans    name  ..., width=800)

In [41]:
df[colt]

,trans,name,spd,reason,qty,target,current,percent,active,xdate
0,Buy,AIT,-3,P25%,18000,6.75,6.90,+2.22%,0,NaT
1,Buy,AP,-6,XXX,10000,10.50,11.10,+0.91%,0,2022-05-10
2,Buy,ASK,-6,XXX,3000,40.00,41.50,0.00%,0,2022-03-03
3,Buy,BANPU,-1,XXX,12000,12.00,12.10,-0.82%,0,2022-04-11
4,Buy,BBL,-9,1L,2400,125.00,129.50,+1.17%,0,2022-04-22
5,Buy,BCPG,-3,3L,12000,11.50,11.80,-0.84%,0,NaT
6,Buy,BDMS,-8,RD05pct,1500,24.40,25.50,-1.92%,0,2022-03-09
7,Buy,BPP,-3,XXX,9000,15.60,15.90,-0.62%,0,NaT
8,Buy,GLOBAL,-7,NaN,9000,20.00,20.70,+0.49%,0,2022-02-02
9,Buy,GULF,-7,1L,6000,46.00,47.75,+0.53%,0,2022-03-04
10,Buy,IVL,-11,1M,3000,46.50,49.25,+0.51%,0,2022-05-31
11,Buy,KBANK,-9,5pct,1500,142.00,146.50,+1.38%,0,2022-04-18
12,Buy,KKP,-7,3L,3000,69.00,70.75,+1.07%,0,2022-04-28
13,Buy,MEGA,-16,P75%,6000,48.75,52.75,-0.47%,0,2022-03-08
14,Buy,ORI,-4,RD05pct,15000,10.20,10.60,0.00%,0,2022-05-09
15,Buy,RBF,-10,XXX,9000,14.30,15.30,+2.00%,0,NaT
16,Buy,SINGER,-12,P25%,3000,49.00,52.00,-0.48%,0,NaT
17,Buy,SIS,-7,6L,3600,28.75,30.50,0.00%,0,NaT
18,Buy,SPRC,-3,XXX,15000,11.50,11.80,0.00%,0,NaT
19,Buy,SSP,-8,6L,10000,9.50,9.90,+1.54%,0,NaT
20,Buy,STANLY,-10,P25%,600,172.00,177.00,0.00%,0,NaT
21,Buy,TOP,-4,1L,3600,56.00,57.00,+1.79%,0,NaT
22,Buy,TTB,-6,XXX,150000,1.20,1.26,+1.61%,0,NaT
23,Sell,DOHOME,19,C20.25,2400,20.30,18.40,+1.10%,0,2022-02-02
24,Sell,IP,4,CP1S,2500,20.30,19.90,-1.00%,0,2022-02-02
25,Sell,JASIF,11,C10.10,10000,12.00,10.90,0.00%,0,2022-05-20
26,Sell,MAKRO,10,6M,1500,39.00,36.50,-0.68%,0,2022-03-03
27,Sell,NER,4,P50%,9000,7.00,6.80,-0.73%,0,2022-04-19
28,Sell,PTTGC,11,1H,3000,50.25,47.50,+1.06%,0,2022-02-28
29,Sell,WHART,6,P50%,10000,11.10,10.50,0.00%,0,2022-05-30