In [1]:
stock_name = 'AEONTS'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[244.0,
  168.0,
  12.25,
  2.51,
  106.38,
  1.38,
  187.5,
  Timestamp('2022-01-14 23:22:48.195029')]]

In [4]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2022-01-15 06:22:48.195029')

### Consensus table

In [5]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[236.0, 11.3, 2.2, 7.0, 2.0, 0.0, 2.8]]

In [6]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-01-14 23:22:48.195029'), 187.5)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [7]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2022-01-14 00:00:00')

In [8]:
updated_at = date2.date()
updated_at

datetime.date(2022, 1, 14)

In [9]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

2.8

In [10]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'7-2-0'

In [11]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'30.13'

In [12]:
target_price, price

(236.0, 187.5)

In [13]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'25.87'

### Beautiful Soup Process

In [14]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//AEONTS.html'

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup)

In [16]:
#inp_file = stock_name + '.html'
#url = 'c://ClearStep//stocks//' + inp_file
#url

In [17]:
#using local file
#with open(url,"r") as file:
#    soup = BeautifulSoup(file)
#print(soup)

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('244.0', '168.0', '12.25', '2.51', '106.38', '1.38')

In [22]:
date_td.string

'2022-01-14'

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('236.0', '11.3', '2.2', '7-2-0', '2.8')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('187.5', '30.13', '25.87')

In [25]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>AEONTS</title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
                Data as end of <span id="date">2022-01-14</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>Max</td>
<td id="max-price">244.0</td>
<td>Min</td>
<td id="min-price">168.0</td>
<td>P/E</td>
<td id="stk-pe">12.25</td>
<td>P/BV</td>
<td id="stk-pbv">2.51</td>
<td>Volume</td>
<td id="daily-volume">106.38</td>
<td>Beta</td>
<td id="beta">1.38</td>
</tr>
<!-- Consensus -->
<tr>
<td>Target</td>
<td id="target-price">236.0</td>
<td colspan="2"></td>
<td>P/E</td>
<td id="css-pe">11.3</td>
<td>P/BV</td>
<td id="css-pbv">2.2</td>
<td>B-H-S</td>
<td id="b-h-s">7-2-0</td>
<td class="yield">
<a href="https://www.panphol.com/aio/AEONTS/dividend" target="_blank">Yield</a>
</td>
<td id="yld">2.8</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/AEONTS.html" target="_blank">Price</a>
</td>
<td id="price">187.5</td>
<td colspan="3">
                                                Up to Max Percent
                                            </td>
<td id="up-to-max">30.13</td>
<td colspan="3">
                                                Up to Target Percent
                                            </td>
<td id="up-to-target">25.87</td>
<td colspan="2">SET100</td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Aeonts 2021 2 q" class="card-img-top img-fluid" src="assets/AEONTS-2021-2-Q.png"/>
</div>
<div class="card-footer">
                                Publish date: October-04, 2021
                            </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
                                AEONTS Quarterly Profit
                            </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>Year</th>
<th>Qtr</th>
<th>Qtr Amt</th>
<th>YoY Amt</th>
<th>Qtr%</th>
<th>Acc Qtr</th>
<th>Acc YoY</th>
<th>Acc%</th>
</tr>
</thead>
<tbody>
<tr>
<td>2021</td>
<td>Q2</td>
<td>678,111</td>
<td>966,485</td>
<td>-29.8</td>
<td>1,827,541</td>
<td>1,496,580</td>
<td>22.1</td>
</tr>
<tr>
<td>2021</td>
<td>Q1</td>
<td>1,149,430</td>
<td>530,095</td>
<td>116.8</td>
<td>1,149,430</td>
<td>530,095</td>
<td>116.8</td>
</tr>
<tr>
<td>2020</td>
<td>Q4</td>
<td>1,183,609</td>
<td>1,055,714</td>
<td>12.1</td>
<td>3,689,643</td>
<td>3,975,357</td>
<td>-7.2</td>
</tr>
<tr>
<td>2020</td>
<td>Q3</td>
<td>1,009,454</td>
<td>990,769</td>
<td>1.9</td>
<td>2,506,034</td>
<td>2,919,643</td>
<td>-14.2</td>
</tr>
<tr>
<td>2020</td>
<td>Q2</td>
<td>966,485</td>
<td>942,270</td>
<td>2.6</td>
<td>1,496,580</td>
<td>1,928,874</td>
<td>-22.4</td>
</tr>
<tr>
<td>2020</td>
<td>Q1</td>
<td>530,095</td>
<td>986,604</td>
<td>-46.3</td>
<td>530,095</td>
<td>986,604</td>
<td>-46.3</td>
</tr>
<tr>
<td>2019</td>
<td>Q4</td>
<td>1,055,714</td>
<td>816,544</td>
<td>29.3</td>
<td>3,975,357</td>
<td>3,506,487</td>
<td>13.4</td>
</tr>
<tr>
<td>2019</td>
<td>Q3</td>
<td>990,769</td>
<td>900,682</td>
<td>10.0</td>
<td>2,919,643</td>
<td>2,689,943</td>
<td>8.5</td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Aeonts 2021 2 y" class="card-img-top img-fluid" src="assets/AEONTS-2021-2-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
                                AEONTS Yearly Profit
                            </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>Year</th>
<th>Qtr</th>
<th>Last Year Amt</th>
<th>This Year Amt</th>
<th>Profit</th>
<th>Pct</th>
</tr>
</thead>
<tbody>
<tr>
<td>2021</td>
<td>Q2</td>
<td>3.54 Billion</td>
<td>4.02 Billion</td>
<td>478 Million</td>
<td>13.5</td>
</tr>
<tr>
<td>2019</td>
<td>Q2</td>
<td>3.47 Billion</td>
<td>3.65 Billion</td>
<td>179 Million</td>
<td>5.2</td>
</tr>
<tr>
<td>2018</td>
<td>Q2</td>
<td>2.6 Billion</td>
<td>3.47 Billion</td>
<td>863 Million</td>
<td>33.1</td>
</tr>
<tr>
<td>2017</td>
<td>Q2</td>
<td>2.28 Billion</td>
<td>2.6 Billion</td>
<td>325 Million</td>
<td>14.3</td>
</tr>
<tr>
<td>2016</td>
<td>Q2</td>
<td>2.41 Billion</td>
<td>2.28 Billion</td>
<td>-132 Million</td>
<td>-5.5</td>
</tr>
<tr>
<td>2015</td>
<td>Q2</td>
<td>2.51 Billion</td>
<td>2.41 Billion</td>
<td>-97.9 Million</td>
<td>-3.9</td>
</tr>
<tr>
<td>2014</td>
<td>Q2</td>
<td>2.29 Billion</td>
<td>2.51 Billion</td>
<td>224 Million</td>
<td>9.8</td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,634,AEONTS,188.0,7,2,0,16.62,16.22,11.3,2.2,2.8,236.0,X,9,2021-02-21 08:31:54.559325,2022-01-14 23:22:49.210111

In [28]:
sql = """
DELETE
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name

In [29]:
#rp = conpg.execute(sql)
#rp.rowcount