In [1]:
stock_name = 'TPIPL'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[2.22,
  1.61,
  5.58,
  0.65,
  63.0,
  0.98,
  1.67,
  Timestamp('2022-03-18 23:25:34.797105')]]

In [4]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2022-03-19 06:25:34.797105')

### Consensus table

In [5]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[2.43, 9.4, 0.6, 3.0, 0.0, 0.0, 4.8]]

In [6]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-03-18 23:25:34.797105'), 1.67)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [7]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2022-03-18 00:00:00')

In [8]:
updated_at = date2.date()
updated_at

datetime.date(2022, 3, 18)

In [9]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

4.8

In [10]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'3-0-0'

In [11]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'32.93'

In [12]:
target_price, price

(2.43, 1.67)

In [13]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'45.51'

### Beautiful Soup Process

In [14]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//TPIPL.html'

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup)

In [16]:
#inp_file = stock_name + '.html'
#url = 'c://ClearStep//stocks//' + inp_file
#url

In [17]:
#using local file
#with open(url,"r") as file:
#    soup = BeautifulSoup(file)
#print(soup)

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2022-03-11
    </span>

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            4.8
           </td>

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('2.22', '1.61', '5.58', '0.65', '63.0', '0.98')

In [22]:
date_td.string

'2022-03-18'

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('2.43', '9.4', '0.6', '3-0-0', '4.8')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('1.67', '32.93', '45.51')

In [25]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   TPIPL
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">2022-03-18</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">2.22</td>
<td>
            Min
           </td>
<td id="min-price">1.61</td>
<td>
            P/E
           </td>
<td id="stk-pe">5.58</td>
<td>
            P/BV
           </td>
<td id="stk-pbv">0.65</td>
<td>
            Volume
           </td>
<td id="daily-volume">63.0</td>
<td>
            Beta
           </td>
<td id="beta">0.98</td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">2.43</td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">9.4</td>
<td>
            P/BV
           </td>
<td id="css-pbv">0.6</td>
<td>
            B-H-S
           </td>
<td id="b-h-s">3-0-0</td>
<td class="yield">
<a href="https://www.panphol.com/aio/TPIPL/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">4.8</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/TPIPL.html" target="_blank">
             Price
            </a>
</td>
<td id="price">1.67</td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">32.93</td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">45.51</td>
<td colspan="2">
            SET
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Tpipl 2021 4 q" class="card-img-top img-fluid" src="assets/TPIPL-2021-4-Q.png"/>
</div>
<div class="card-footer">
        Publish date: February-23, 2022
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        TPIPL Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            1,506,763
           </td>
<td>
            -233,171
           </td>
<td>
            746.2
           </td>
<td>
            5,670,534
           </td>
<td>
            1,498,152
           </td>
<td>
            278.5
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            1,208,352
           </td>
<td>
            665,175
           </td>
<td>
            81.7
           </td>
<td>
            4,163,771
           </td>
<td>
            1,731,323
           </td>
<td>
            140.5
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            1,790,938
           </td>
<td>
            662,734
           </td>
<td>
            170.2
           </td>
<td>
            2,955,419
           </td>
<td>
            1,066,148
           </td>
<td>
            177.2
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            1,164,481
           </td>
<td>
            403,414
           </td>
<td>
            188.7
           </td>
<td>
            1,164,481
           </td>
<td>
            403,414
           </td>
<td>
            188.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            -233,171
           </td>
<td>
            259,476
           </td>
<td>
            -189.9
           </td>
<td>
            1,498,152
           </td>
<td>
            1,393,525
           </td>
<td>
            7.5
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            665,175
           </td>
<td>
            389,378
           </td>
<td>
            70.8
           </td>
<td>
            1,731,323
           </td>
<td>
            1,134,049
           </td>
<td>
            52.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            662,734
           </td>
<td>
            215,105
           </td>
<td>
            208.1
           </td>
<td>
            1,066,148
           </td>
<td>
            744,671
           </td>
<td>
            43.2
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q1
           </td>
<td>
            403,414
           </td>
<td>
            529,566
           </td>
<td>
            -23.8
           </td>
<td>
            403,414
           </td>
<td>
            529,566
           </td>
<td>
            -23.8
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Tpipl 2021 4 y" class="card-img-top img-fluid" src="assets/TPIPL-2021-4-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        TPIPL Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            1.5 Billion
           </td>
<td>
            5.67 Billion
           </td>
<td>
            4.17 Billion
           </td>
<td>
            278.5
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            1.39 Billion
           </td>
<td>
            1.5 Billion
           </td>
<td>
            105 Million
           </td>
<td>
            7.5
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q4
           </td>
<td>
            324 Million
           </td>
<td>
            1.39 Billion
           </td>
<td>
            1.07 Billion
           </td>
<td>
            330.4
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q4
           </td>
<td>
            -1.26 Billion
           </td>
<td>
            324 Million
           </td>
<td>
            1.58 Billion
           </td>
<td>
            125.7
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q4
           </td>
<td>
            -521 Million
           </td>
<td>
            -1.26 Billion
           </td>
<td>
            -738 Million
           </td>
<td>
            -141.6
           </td>
</tr>
<tr>
<td>
            2016
           </td>
<td>
            Q4
           </td>
<td>
            364 Million
           </td>
<td>
            -521 Million
           </td>
<td>
            -885 Million
           </td>
<td>
            -243.3
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,854,TPIPL,1.65,3,0,0,0.18,0.17,9.4,0.6,4.8,2.43,X,568,2021-02-21 08:31:55.449678,2022-03-18 23:25:35.446353

In [28]:
sql = """
DELETE
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name

In [29]:
#rp = conpg.execute(sql)
#rp.rowcount