In [1]:
stock_name = 'TMT'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[12.0,
  7.05,
  16.94,
  1.94,
  6.72,
  0.74,
  7.15,
  Timestamp('2022-11-19 03:24:42.783447')]]

In [4]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2022-11-19 10:24:42.783447')

### Consensus table

In [5]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[7.9, 15.9, 1.6, 0.0, 1.0, 0.0, 4.9]]

In [6]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-11-19 03:24:42.783447'), 7.15)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [7]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2022-11-18 00:00:00')

In [8]:
updated_at = date2.date()
updated_at

datetime.date(2022, 11, 18)

In [9]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

4.9

In [10]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'0-1-0'

In [11]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'67.83'

In [12]:
target_price, price

(7.9, 7.15)

In [13]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'10.49'

### Beautiful Soup Process

In [14]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//TMT.html'

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   TMT
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">
     2022-11-11
    </span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">
            12.0
           </td>
<td>
            Min
           </td>
<td id="min-price">
            7.35
           </td>
<td>
            P/E
           </td>
<td id="stk-pe">
            8.17
           </td>
<td>
            P/BV
           </td>
<td id="stk-pbv">
            1.89
           </td>
<td>
            Volume
           </td>
<td id="daily-volume">
            6.81
           </td>
<td>
            Beta
           </td>
<td id="beta">
            0.72
           </td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">
            7.9
           </td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">
            16.6
           </td>
<td>
            P/BV
           </td>
<td id="css-pbv">
            1.7
           </td>
<td>
            B-H-S
           </td>
<td id="b-h-s">
            0-1-0
           </td>
<td class="yield">
<a href="https://www.panphol.com/aio/TMT/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">
            4.7
           </td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/TMT.html" target="_blank">
             Price
            </a>
</td>
<td id="price">
            7.45
           </td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">
            61.07
           </td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">
            6.04
           </td>
<td colspan="2">
            sSET / SETTHSI
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Tmt 2022 2 q" class="card-img-top img-fluid" src="assets/TMT-2022-2-Q.png"/>
</div>
<div class="card-footer">
        Publish date: August-11, 2022
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        TMT Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2022
           </td>
<td>
            Q2
           </td>
<td>
            164,696
           </td>
<td>
            604,660
           </td>
<td>
            -72.8
           </td>
<td>
            291,634
           </td>
<td>
            1,027,810
           </td>
<td>
            -71.6
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q1
           </td>
<td>
            126,938
           </td>
<td>
            423,150
           </td>
<td>
            -70.0
           </td>
<td>
            126,938
           </td>
<td>
            423,150
           </td>
<td>
            -70.0
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            160,913
           </td>
<td>
            173,439
           </td>
<td>
            -7.2
           </td>
<td>
            1,530,060
           </td>
<td>
            537,878
           </td>
<td>
            184.5
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            341,337
           </td>
<td>
            155,838
           </td>
<td>
            119.0
           </td>
<td>
            1,369,147
           </td>
<td>
            364,439
           </td>
<td>
            275.7
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            604,660
           </td>
<td>
            85,140
           </td>
<td>
            610.2
           </td>
<td>
            1,027,810
           </td>
<td>
            208,601
           </td>
<td>
            392.7
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            423,150
           </td>
<td>
            123,461
           </td>
<td>
            242.7
           </td>
<td>
            423,150
           </td>
<td>
            123,461
           </td>
<td>
            242.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            173,439
           </td>
<td>
            20,550
           </td>
<td>
            744.0
           </td>
<td>
            537,878
           </td>
<td>
            229,946
           </td>
<td>
            133.9
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            155,838
           </td>
<td>
            26,565
           </td>
<td>
            486.6
           </td>
<td>
            364,439
           </td>
<td>
            209,396
           </td>
<td>
            74.0
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Tmt 2022 2 y" class="card-img-top img-fluid" src="assets/TMT-2022-2-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        TMT Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2022
           </td>
<td>
            Q2
           </td>
<td>
            1.36 Billion
           </td>
<td>
            794 Million
           </td>
<td>
            -563 Million
           </td>
<td>
            -41.5
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            256 Million
           </td>
<td>
            1.36 Billion
           </td>
<td>
            1.1 Billion
           </td>
<td>
            430.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            326 Million
           </td>
<td>
            256 Million
           </td>
<td>
            -70 Million
           </td>
<td>
            -21.5
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q2
           </td>
<td>
            613 Million
           </td>
<td>
            326 Million
           </td>
<td>
            -287 Million
           </td>
<td>
            -46.9
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q2
           </td>
<td>
            638 Million
           </td>
<td>
            613 Million
           </td>
<td>
            -25 Million
           </td>
<td>
            -3.9
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q2
           </td>
<td>
            709 Million
           </td>
<td>
            638 Million
           </td>
<td>
            -70.7 Million
           </td>
<td>
            -10.0
           </td>
</tr>
<tr>
<td>
            2016
           </td>
<td>
            Q2
           </td>
<td>
            307 Million
           </td>
<td>
            709 Million
           </td>
<td>
            402 Million
           </td>
<td>
            131.0
           </td>
</tr>
<tr>
<td>
            2015
           </td>
<td>
            Q2
           </td>
<td>
            357 Million
           </td>
<td>
            307 Million
           </td>
<td>
            -50.2 Million
           </td>
<td>
            -14.1
           </td>
</tr>
<tr>
<td>
            2014
           </td>
<td>
            Q2
           </td>
<td>
            539 Million
           </td>
<td>
            357 Million
           </td>
<td>
            -182 Million
           </td>
<td>
            -33.8
           </td>
</tr>
<tr>
<td>
            2013
           </td>
<td>
            Q2
           </td>
<td>
            119 Million
           </td>
<td>
            539 Million
           </td>
<td>
            420 Million
           </td>
<td>
            351.7
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [16]:
tag_eps = soup.find_all("td")[10]
print(tag_eps)

<td>
            Beta
           </td>

In [17]:
tag_eps.string = 'Beta'

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2022-11-11
    </span>

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            4.7
           </td>

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('12.0', '7.05', '16.94', '1.94', '6.72', '0.74')

In [22]:
date_td.string

'2022-11-18'

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('7.9', '15.9', '1.6', '0-1-0', '4.9')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('7.15', '67.83', '10.49')

In [25]:
#print(soup)

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,849,TMT,7.15,0,1,0,0.45,0.8,15.9,1.6,4.9,7.9,X,553,2021-02-21 08:31:55.431331,2022-11-19 03:24:43.396447