In [1]:
stock_name = 'BCH'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[26.75,
  16.6,
  8.23,
  4.34,
  505.46,
  -0.41,
  22.6,
  Timestamp('2022-04-23 00:23:49.745909')]]

In [4]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2022-04-23 07:23:49.745909')

### Consensus table

In [5]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[24.17, 16.6, 4.0, 12.0, 2.0, 1.0, 3.0]]

In [6]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-04-23 00:23:49.745909'), 22.6)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [7]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2022-04-22 00:00:00')

In [8]:
updated_at = date2.date()
updated_at

datetime.date(2022, 4, 22)

In [9]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

3.0

In [10]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'12-2-1'

In [11]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'18.36'

In [12]:
target_price, price

(24.17, 22.6)

In [13]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'6.95'

### Beautiful Soup Process

In [14]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//BCH.html'

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup)

In [16]:
#inp_file = stock_name + '.html'
#url = 'c://ClearStep//stocks//' + inp_file
#url

In [17]:
#using local file
#with open(url,"r") as file:
#    soup = BeautifulSoup(file)
#print(soup)

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2022-04-01
    </span>

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            2.8
           </td>

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('26.75', '16.6', '8.23', '4.34', '505.46', '-0.41')

In [22]:
date_td.string

'2022-04-22'

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('24.17', '16.6', '4.0', '12-2-1', '3.0')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('22.6', '18.36', '6.95')

In [25]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   BCH
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">2022-04-22</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">26.75</td>
<td>
            Min
           </td>
<td id="min-price">16.6</td>
<td>
            P/E
           </td>
<td id="stk-pe">8.23</td>
<td>
            P/BV
           </td>
<td id="stk-pbv">4.34</td>
<td>
            Volume
           </td>
<td id="daily-volume">505.46</td>
<td>
            Beta
           </td>
<td id="beta">-0.41</td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">24.17</td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">16.6</td>
<td>
            P/BV
           </td>
<td id="css-pbv">4.0</td>
<td>
            B-H-S
           </td>
<td id="b-h-s">12-2-1</td>
<td class="yield">
<a href="https://www.panphol.com/aio/BCH/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">3.0</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/BCH.html" target="_blank">
             Price
            </a>
</td>
<td id="price">22.6</td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">18.36</td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">6.95</td>
<td colspan="2">
            SET100 / SETWB
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Bch 2021 4 q" class="card-img-top img-fluid" src="assets/BCH-2021-4-Q.png"/>
</div>
<div class="card-footer">
        Publish date: February-28, 2022
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        BCH Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            2,480,271
           </td>
<td>
            278,311
           </td>
<td>
            791.2
           </td>
<td>
            6,846,002
           </td>
<td>
            1,229,405
           </td>
<td>
            456.9
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            2,896,236
           </td>
<td>
            413,364
           </td>
<td>
            600.7
           </td>
<td>
            4,365,731
           </td>
<td>
            951,094
           </td>
<td>
            359.0
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            1,145,721
           </td>
<td>
            278,590
           </td>
<td>
            311.3
           </td>
<td>
            1,469,495
           </td>
<td>
            537,730
           </td>
<td>
            173.3
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            323,774
           </td>
<td>
            259,140
           </td>
<td>
            24.9
           </td>
<td>
            323,774
           </td>
<td>
            259,140
           </td>
<td>
            24.9
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            278,311
           </td>
<td>
            240,846
           </td>
<td>
            15.6
           </td>
<td>
            1,229,405
           </td>
<td>
            1,134,907
           </td>
<td>
            8.3
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            413,364
           </td>
<td>
            402,075
           </td>
<td>
            2.8
           </td>
<td>
            951,094
           </td>
<td>
            894,061
           </td>
<td>
            6.4
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            278,590
           </td>
<td>
            243,880
           </td>
<td>
            14.2
           </td>
<td>
            537,730
           </td>
<td>
            491,986
           </td>
<td>
            9.3
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q1
           </td>
<td>
            259,140
           </td>
<td>
            248,106
           </td>
<td>
            4.4
           </td>
<td>
            259,140
           </td>
<td>
            248,106
           </td>
<td>
            4.4
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Bch 2021 4 y" class="card-img-top img-fluid" src="assets/BCH-2021-4-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        BCH Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            1.23 Billion
           </td>
<td>
            6.85 Billion
           </td>
<td>
            5.62 Billion
           </td>
<td>
            456.9
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            1.13 Billion
           </td>
<td>
            1.23 Billion
           </td>
<td>
            94.5 Million
           </td>
<td>
            8.3
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q4
           </td>
<td>
            1.09 Billion
           </td>
<td>
            1.13 Billion
           </td>
<td>
            45.4 Million
           </td>
<td>
            4.2
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q4
           </td>
<td>
            917 Million
           </td>
<td>
            1.09 Billion
           </td>
<td>
            172 Million
           </td>
<td>
            18.8
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q4
           </td>
<td>
            753 Million
           </td>
<td>
            917 Million
           </td>
<td>
            164 Million
           </td>
<td>
            21.8
           </td>
</tr>
<tr>
<td>
            2016
           </td>
<td>
            Q4
           </td>
<td>
            527 Million
           </td>
<td>
            753 Million
           </td>
<td>
            226 Million
           </td>
<td>
            42.8
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,654,BCH,22.2,12,2,1,1.34,0.78,16.6,4.0,3.0,24.17,X,55,2021-02-21 08:31:54.646959,2022-04-26 02:45:56.294643