In [1]:
stock_name = 'TFG'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[6.9,
  3.68,
  8.41,
  2.16,
  74.49,
  1.04,
  5.55,
  Timestamp('2022-11-26 06:51:30.386559')]]

In [4]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2022-11-26 13:51:30.386559')

### Consensus table

In [5]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[8.85, 6.9, 2.2, 5.0, 0.0, 0.0, 6.2]]

In [6]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-11-26 06:51:30.386559'), 5.55)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [7]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2022-11-25 00:00:00')

In [8]:
updated_at = date2.date()
updated_at

datetime.date(2022, 11, 25)

In [9]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

6.2

In [10]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'5-0-0'

In [11]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'24.32'

In [12]:
target_price, price

(8.85, 5.55)

In [13]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'59.46'

### Beautiful Soup Process

In [14]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//TFG.html'

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   TFG
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">
     2022-11-18
    </span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">
            6.9
           </td>
<td>
            Min
           </td>
<td id="min-price">
            3.68
           </td>
<td>
            P/E
           </td>
<td id="stk-pe">
            8.41
           </td>
<td>
            P/BV
           </td>
<td id="stk-pbv">
            2.16
           </td>
<td>
            Volume
           </td>
<td id="daily-volume">
            74.32
           </td>
<td>
            Beta
           </td>
<td id="beta">
            1.02
           </td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">
            8.93
           </td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">
            7.1
           </td>
<td>
            P/BV
           </td>
<td id="css-pbv">
            2.1
           </td>
<td>
            B-H-S
           </td>
<td id="b-h-s">
            4-0-0
           </td>
<td class="yield">
<a href="https://www.panphol.com/aio/TFG/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">
            4.2
           </td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/TFG.html" target="_blank">
             Price
            </a>
</td>
<td id="price">
            5.55
           </td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">
            24.32
           </td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">
            60.9
           </td>
<td colspan="2">
            SET
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Tfg 2022 3 q" class="card-img-top img-fluid" src="assets/TFG-2022-3-Q.png"/>
</div>
<div class="card-footer">
        Publish date: November-09, 2022
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        TFG Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2022
           </td>
<td>
            Q3
           </td>
<td>
            1,733,816
           </td>
<td>
            -455,631
           </td>
<td>
            480.5
           </td>
<td>
            3,590,828
           </td>
<td>
            419,435
           </td>
<td>
            756.1
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q2
           </td>
<td>
            1,238,492
           </td>
<td>
            429,585
           </td>
<td>
            188.3
           </td>
<td>
            1,857,012
           </td>
<td>
            875,066
           </td>
<td>
            112.2
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q1
           </td>
<td>
            618,520
           </td>
<td>
            445,481
           </td>
<td>
            38.8
           </td>
<td>
            618,520
           </td>
<td>
            445,481
           </td>
<td>
            38.8
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            142,266
           </td>
<td>
            428,336
           </td>
<td>
            -66.8
           </td>
<td>
            561,701
           </td>
<td>
            2,563,292
           </td>
<td>
            -78.1
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            -455,631
           </td>
<td>
            1,062,633
           </td>
<td>
            -142.9
           </td>
<td>
            419,435
           </td>
<td>
            2,134,956
           </td>
<td>
            -80.4
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            429,585
           </td>
<td>
            430,898
           </td>
<td>
            -0.3
           </td>
<td>
            875,066
           </td>
<td>
            1,072,323
           </td>
<td>
            -18.4
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            445,481
           </td>
<td>
            641,425
           </td>
<td>
            -30.5
           </td>
<td>
            445,481
           </td>
<td>
            641,425
           </td>
<td>
            -30.5
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            428,336
           </td>
<td>
            127,866
           </td>
<td>
            235.0
           </td>
<td>
            2,563,292
           </td>
<td>
            1,439,995
           </td>
<td>
            78.0
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Tfg 2022 3 y" class="card-img-top img-fluid" src="assets/TFG-2022-3-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        TFG Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2022
           </td>
<td>
            Q3
           </td>
<td>
            848 Million
           </td>
<td>
            3.73 Billion
           </td>
<td>
            2.89 Billion
           </td>
<td>
            340.3
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            2.26 Billion
           </td>
<td>
            848 Million
           </td>
<td>
            -1.42 Billion
           </td>
<td>
            -62.5
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            1.32 Billion
           </td>
<td>
            2.26 Billion
           </td>
<td>
            943 Million
           </td>
<td>
            71.4
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q3
           </td>
<td>
            715 Million
           </td>
<td>
            1.32 Billion
           </td>
<td>
            605 Million
           </td>
<td>
            84.6
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q3
           </td>
<td>
            1.48 Billion
           </td>
<td>
            715 Million
           </td>
<td>
            -767 Million
           </td>
<td>
            -51.7
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q3
           </td>
<td>
            1.03 Billion
           </td>
<td>
            1.48 Billion
           </td>
<td>
            448 Million
           </td>
<td>
            43.3
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [16]:
tag_eps = soup.find_all("td")[10]
print(tag_eps)

<td>
            Beta
           </td>

In [17]:
tag_eps.string = 'Beta'

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2022-11-18
    </span>

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            4.2
           </td>

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('6.9', '3.68', '8.41', '2.16', '74.49', '1.04')

In [22]:
date_td.string

'2022-11-25'

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('8.85', '6.9', '2.2', '5-0-0', '6.2')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('5.55', '24.32', '59.46')

In [25]:
#print(soup)

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,837,TFG,5.55,5,0,0,0.8,0.71,6.9,2.2,6.2,8.85,X,521,2021-02-21 08:31:55.385769,2022-11-26 06:51:30.980723