In [1]:
stock_name = 'IP'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[24.17,
  17.8,
  51.83,
  7.16,
  19562.8,
  0.36,
  18.3,
  Timestamp('2022-05-15 17:19:01.481533')]]

In [4]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2022-05-16 00:19:01.481533')

### Consensus table

In [5]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[26.64, 32.1, 6.2, 3.0, 0.0, 0.0, 1.4]]

In [6]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-05-15 17:19:01.481533'), 18.3)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [7]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2022-05-13 00:00:00')

In [8]:
updated_at = date2.date()
updated_at

datetime.date(2022, 5, 13)

In [9]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

1.4

In [10]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'3-0-0'

In [11]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'32.08'

In [12]:
target_price, price

(26.64, 18.3)

In [13]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'45.57'

### Beautiful Soup Process

In [17]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'https://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//IP.html'

In [19]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   IP
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">
     2022-05-13
    </span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">
            24.17
           </td>
<td>
            Min
           </td>
<td id="min-price">
            17.8
           </td>
<td>
            P/E
           </td>
<td id="stk-pe">
            51.83
           </td>
<td>
            P/BV
           </td>
<td id="stk-pbv">
            7.16
           </td>
<td>
            Volume
           </td>
<td id="daily-volume">
            19562.8
           </td>
<td>
            EPS
           </td>
<td id="beta">
            0.36
           </td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">
            26.64
           </td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">
            32.1
           </td>
<td>
            P/BV
           </td>
<td id="css-pbv">
            6.2
           </td>
<td>
            B-H-S
           </td>
<td id="b-h-s">
            3-0-0
           </td>
<td class="yield">
<a href="https://www.panphol.com/aio/IP/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">
            1.4
           </td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/IP.html" target="_blank">
             Price
            </a>
</td>
<td id="price">
            18.3
           </td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">
            32.08
           </td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">
            45.57
           </td>
<td colspan="2">
            mai
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Ip 2022 1 q" class="card-img-top img-fluid" src="assets/IP-2022-1-Q.png"/>
</div>
<div class="card-footer">
        Publish date: May-13, 2022
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        IP Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2022
           </td>
<td>
            Q1
           </td>
<td>
            29,971
           </td>
<td>
            17,363
           </td>
<td>
            72.6
           </td>
<td>
            29,971
           </td>
<td>
            17,363
           </td>
<td>
            72.6
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            36,063
           </td>
<td>
            3,285
           </td>
<td>
            997.8
           </td>
<td>
            105,216
           </td>
<td>
            52,537
           </td>
<td>
            100.3
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            25,710
           </td>
<td>
            18,457
           </td>
<td>
            39.3
           </td>
<td>
            69,153
           </td>
<td>
            49,252
           </td>
<td>
            40.4
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            24,762
           </td>
<td>
            16,927
           </td>
<td>
            46.3
           </td>
<td>
            43,443
           </td>
<td>
            30,795
           </td>
<td>
            41.1
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            18,681
           </td>
<td>
            13,868
           </td>
<td>
            34.7
           </td>
<td>
            18,681
           </td>
<td>
            13,868
           </td>
<td>
            34.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            4,524
           </td>
<td>
            12,700
           </td>
<td>
            -64.4
           </td>
<td>
            53,776
           </td>
<td>
            43,472
           </td>
<td>
            23.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            18,457
           </td>
<td>
            13,567
           </td>
<td>
            36.0
           </td>
<td>
            49,252
           </td>
<td>
            30,772
           </td>
<td>
            60.1
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            16,927
           </td>
<td>
            15,554
           </td>
<td>
            8.8
           </td>
<td>
            3,095
           </td>
<td>
            17,205
           </td>
<td>
            -82.0
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Ip 2022 1 y" class="card-img-top img-fluid" src="assets/IP-2022-1-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        IP Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2022
           </td>
<td>
            Q1
           </td>
<td>
            58.6 Million
           </td>
<td>
            117 Million
           </td>
<td>
            57.9 Million
           </td>
<td>
            98.9
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [28]:
tags = soup.find_all("td")[10]
print(tags)

<td>Beta</td>

In [25]:
tags = soup.find_all("td")[10]
print(tags.string)

            EPS

In [26]:
tags.string = 'Beta'

In [16]:
#inp_file = stock_name + '.html'
#url = 'c://ClearStep//stocks//' + inp_file
#url

In [18]:
#using local file
with open(url,"r") as file:
    soup = BeautifulSoup(file)
print(soup)

OSError: [Errno 22] Invalid argument: 'https://www.santiwebsite.com/stocks/IP.html'

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('24.17', '17.8', '51.83', '7.16', '19562.8', '0.36')

In [22]:
date_td.string

'2022-05-13'

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('26.64', '32.1', '6.2', '3-0-0', '1.4')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('18.3', '32.08', '45.57')

In [25]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>IP</title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
                Data as end of <span id="date">2022-05-13</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>Max</td>
<td id="max-price">24.17</td>
<td>Min</td>
<td id="min-price">17.8</td>
<td>P/E</td>
<td id="stk-pe">51.83</td>
<td>P/BV</td>
<td id="stk-pbv">7.16</td>
<td>Volume</td>
<td id="daily-volume">19562.8</td>
<td>EPS</td>
<td id="beta">0.36</td>
</tr>
<!-- Consensus -->
<tr>
<td>Target</td>
<td id="target-price">26.64</td>
<td colspan="2"></td>
<td>P/E</td>
<td id="css-pe">32.1</td>
<td>P/BV</td>
<td id="css-pbv">6.2</td>
<td>B-H-S</td>
<td id="b-h-s">3-0-0</td>
<td class="yield">
<a href="https://www.panphol.com/aio/IP/dividend" target="_blank">Yield</a>
</td>
<td id="yld">1.4</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/IP.html" target="_blank">Price</a>
</td>
<td id="price">18.3</td>
<td colspan="3">
                                                Up to Max Percent
                                            </td>
<td id="up-to-max">32.08</td>
<td colspan="3">
                                                Up to Target Percent
                                            </td>
<td id="up-to-target">45.57</td>
<td colspan="2">mai</td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Ip 2022 1 q" class="card-img-top img-fluid" src="assets/IP-2022-1-Q.png"/>
</div>
<div class="card-footer">
                                Publish date: May-13, 2022
                            </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
                                IP Quarterly Profit
                            </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>Year</th>
<th>Qtr</th>
<th>Qtr Amt</th>
<th>YoY Amt</th>
<th>Qtr%</th>
<th>Acc Qtr</th>
<th>Acc YoY</th>
<th>Acc%</th>
</tr>
</thead>
<tbody>
<tr>
<td>2022</td>
<td>Q1</td>
<td>29,971</td>
<td>17,363</td>
<td>72.6</td>
<td>29,971</td>
<td>17,363</td>
<td>72.6</td>
</tr>
<tr>
<td>2021</td>
<td>Q4</td>
<td>36,063</td>
<td>3,285</td>
<td>997.8</td>
<td>105,216</td>
<td>52,537</td>
<td>100.3</td>
</tr>
<tr>
<td>2021</td>
<td>Q3</td>
<td>25,710</td>
<td>18,457</td>
<td>39.3</td>
<td>69,153</td>
<td>49,252</td>
<td>40.4</td>
</tr>
<tr>
<td>2021</td>
<td>Q2</td>
<td>24,762</td>
<td>16,927</td>
<td>46.3</td>
<td>43,443</td>
<td>30,795</td>
<td>41.1</td>
</tr>
<tr>
<td>2021</td>
<td>Q1</td>
<td>18,681</td>
<td>13,868</td>
<td>34.7</td>
<td>18,681</td>
<td>13,868</td>
<td>34.7</td>
</tr>
<tr>
<td>2020</td>
<td>Q4</td>
<td>4,524</td>
<td>12,700</td>
<td>-64.4</td>
<td>53,776</td>
<td>43,472</td>
<td>23.7</td>
</tr>
<tr>
<td>2020</td>
<td>Q3</td>
<td>18,457</td>
<td>13,567</td>
<td>36.0</td>
<td>49,252</td>
<td>30,772</td>
<td>60.1</td>
</tr>
<tr>
<td>2020</td>
<td>Q2</td>
<td>16,927</td>
<td>15,554</td>
<td>8.8</td>
<td>3,095</td>
<td>17,205</td>
<td>-82.0</td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Ip 2022 1 y" class="card-img-top img-fluid" src="assets/IP-2022-1-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
                                IP Yearly Profit
                            </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>Year</th>
<th>Qtr</th>
<th>Last Year Amt</th>
<th>This Year Amt</th>
<th>Profit</th>
<th>Pct</th>
</tr>
</thead>
<tbody>
<tr>
<td>2022</td>
<td>Q1</td>
<td>58.6 Million</td>
<td>117 Million</td>
<td>57.9 Million</td>
<td>98.9</td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,978,IP,18.3,3,0,0,0.57,0.75,32.1,6.2,1.4,26.64,X,713,2021-10-26 00:02:14.320058,2022-05-15 16:48:01.696520