In [1]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [2]:
stock_name = 'COM7'

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[78.25,
  36.25,
  39.88,
  20.77,
  661.47,
  0.8,
  75.75,
  Timestamp('2021-11-19 23:50:04.240979')]]

In [4]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2021-11-20 06:50:04.240979')

### Consensus table

In [5]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[85.15, 39.6, 18.8, 9.0, 1.0, 0.0, 1.8]]

In [6]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2021-11-19 23:50:04.240979'), 75.75)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [7]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2021-11-19 00:00:00')

In [8]:
updated_at = date2.date()
updated_at

datetime.date(2021, 11, 19)

In [9]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

1.8

In [10]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'9-1-0'

In [11]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'3.3'

In [12]:
target_price, price

(85.15, 75.75)

In [13]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'12.41'

### Beautiful Soup Process

In [14]:
inp_file = stock_name + '.html'
out_file = 'C://A9//Fig//Stocks//' + inp_file
out_file = 'C://A9//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A9//Fig//Stocks//COM-7.html'

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup)

In [16]:
#inp_file = stock_name + '.html'
#url = 'c://ClearStep//stocks//' + inp_file
#url

In [17]:
#using local file
#with open(url,"r") as file:
#    soup = BeautifulSoup(file)
#print(soup)

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2021-11-12
    </span>

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            1.6
           </td>

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('78.25', '36.25', '39.88', '20.77', '661.47', '0.8')

In [22]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('85.15', '39.6', '18.8', '9-1-0', '1.8')

In [23]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('75.75', '3.3', '12.41')

In [24]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   COM7
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">2021-11-19</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">78.25</td>
<td>
            Min
           </td>
<td id="min-price">36.25</td>
<td>
            P/E
           </td>
<td id="stk-pe">39.88</td>
<td>
            P/BV
           </td>
<td id="stk-pbv">20.77</td>
<td>
            Volume
           </td>
<td id="daily-volume">661.47</td>
<td>
            Beta
           </td>
<td id="beta">0.8</td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">85.15</td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">39.6</td>
<td>
            P/BV
           </td>
<td id="css-pbv">18.8</td>
<td>
            B-H-S
           </td>
<td id="b-h-s">9-1-0</td>
<td class="yield">
<a href="https://www.panphol.com/aio/COM7/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">1.8</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/COM-7.html" target="_blank">
             Price
            </a>
</td>
<td id="price">75.75</td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">3.3</td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">12.41</td>
<td colspan="2">
            SET50 / SETWB
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Com7 2021 3 q" class="card-img-top img-fluid" src="assets/COM7-2021-3-Q.png"/>
</div>
<div class="card-footer">
        Publish date: November-11, 2021
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        COM7 Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            570,507
           </td>
<td>
            372,288
           </td>
<td>
            53.2
           </td>
<td>
            1,723,165
           </td>
<td>
            934,680
           </td>
<td>
            84.4
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            587,050
           </td>
<td>
            274,510
           </td>
<td>
            113.9
           </td>
<td>
            1,152,658
           </td>
<td>
            562,393
           </td>
<td>
            105.0
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            565,608
           </td>
<td>
            287,882
           </td>
<td>
            96.5
           </td>
<td>
            565,608
           </td>
<td>
            287,882
           </td>
<td>
            96.5
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            556,002
           </td>
<td>
            385,055
           </td>
<td>
            44.4
           </td>
<td>
            1,490,682
           </td>
<td>
            1,216,323
           </td>
<td>
            22.6
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            372,288
           </td>
<td>
            286,988
           </td>
<td>
            29.7
           </td>
<td>
            934,680
           </td>
<td>
            831,268
           </td>
<td>
            12.4
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            274,510
           </td>
<td>
            294,163
           </td>
<td>
            -6.7
           </td>
<td>
            562,393
           </td>
<td>
            544,280
           </td>
<td>
            3.3
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q1
           </td>
<td>
            287,882
           </td>
<td>
            250,117
           </td>
<td>
            15.1
           </td>
<td>
            287,882
           </td>
<td>
            250,117
           </td>
<td>
            15.1
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q4
           </td>
<td>
            385,055
           </td>
<td>
            264,493
           </td>
<td>
            45.6
           </td>
<td>
            1,216,323
           </td>
<td>
            891,063
           </td>
<td>
            36.5
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Com7 2021 3 y" class="card-img-top img-fluid" src="assets/COM7-2021-3-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        COM7 Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            1.32 Billion
           </td>
<td>
            2.28 Billion
           </td>
<td>
            959 Million
           </td>
<td>
            72.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            1.1 Billion
           </td>
<td>
            1.32 Billion
           </td>
<td>
            224 Million
           </td>
<td>
            20.4
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q3
           </td>
<td>
            839 Million
           </td>
<td>
            1.1 Billion
           </td>
<td>
            257 Million
           </td>
<td>
            30.6
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q3
           </td>
<td>
            543 Million
           </td>
<td>
            839 Million
           </td>
<td>
            296 Million
           </td>
<td>
            54.6
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q3
           </td>
<td>
            366 Million
           </td>
<td>
            543 Million
           </td>
<td>
            177 Million
           </td>
<td>
            48.4
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [25]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)