In [1]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta

import pandas as pd
import requests

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [2]:
stock_name = 'WHART'

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[14.08,
  10.68,
  999.99,
  1.09,
  13.87,
  0.37,
  12.0,
  Timestamp('2022-02-11 21:29:07.185811')]]

In [4]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
max_price

14.08

In [5]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2022-02-12 04:29:07.185811')

In [6]:
date2 = date1.date() - BDay(1)
date2

Timestamp('2022-02-11 00:00:00')

In [7]:
updated_at = date2.date()
updated_at

datetime.date(2022, 2, 11)

In [8]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'17.33'

### Beautiful Soup Process

In [9]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
url = 'http://www.santiwebsite.com/stocks/' + inp_file
out_file

'C://A8//Fig//Stocks//WHART.html'

In [10]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   WHART
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">
     2022-02-04
    </span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">
            14.08
           </td>
<td>
            Min
           </td>
<td id="min-price">
            10.68
           </td>
<td>
            P/E
           </td>
<td id="stk-pe">
            999.99
           </td>
<td>
            P/BV
           </td>
<td id="stk-pbv">
            1.05
           </td>
<td>
            Volume
           </td>
<td id="daily-volume">
            15.35
           </td>
<td>
            Beta
           </td>
<td id="beta">
            0.35
           </td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">
            14.9
           </td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">
            12.8
           </td>
<td>
            P/BV
           </td>
<td id="css-pbv">
            1.0
           </td>
<td>
            B-H-S
           </td>
<td id="b-h-s">
            1-0-0
           </td>
<td class="yield">
<a href="https://www.panphol.com/aio/WHART/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">
            6.4
           </td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/WHART.html" target="_blank">
             Price
            </a>
</td>
<td id="price">
            11.6
           </td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">
            21.38
           </td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">
            28.45
           </td>
<td colspan="2">
            SET
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Whart 2021 3 q" class="card-img-top img-fluid" src="assets/WHART-2021-3-Q.png"/>
</div>
<div class="card-footer">
        Publish date: November-10, 2021
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        WHART Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            498,779
           </td>
<td>
            481,430
           </td>
<td>
            3.6
           </td>
<td>
            1,521,198
           </td>
<td>
            1,491,410
           </td>
<td>
            2.0
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            589,243
           </td>
<td>
            462,756
           </td>
<td>
            27.3
           </td>
<td>
            1,022,420
           </td>
<td>
            1,009,981
           </td>
<td>
            1.2
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            433,176
           </td>
<td>
            547,225
           </td>
<td>
            -20.8
           </td>
<td>
            433,176
           </td>
<td>
            547,225
           </td>
<td>
            -20.8
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            786,887
           </td>
<td>
            410,355
           </td>
<td>
            91.8
           </td>
<td>
            2,278,297
           </td>
<td>
            1,914,591
           </td>
<td>
            19.0
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            481,430
           </td>
<td>
            408,663
           </td>
<td>
            17.8
           </td>
<td>
            1,491,410
           </td>
<td>
            1,504,236
           </td>
<td>
            -0.9
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            462,756
           </td>
<td>
            465,369
           </td>
<td>
            -0.6
           </td>
<td>
            1,009,981
           </td>
<td>
            1,095,574
           </td>
<td>
            -7.8
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q1
           </td>
<td>
            547,225
           </td>
<td>
            630,204
           </td>
<td>
            -13.2
           </td>
<td>
            547,225
           </td>
<td>
            630,204
           </td>
<td>
            -13.2
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q4
           </td>
<td>
            410,355
           </td>
<td>
            345,802
           </td>
<td>
            18.7
           </td>
<td>
            1,914,591
           </td>
<td>
            1,473,008
           </td>
<td>
            30.0
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Whart 2021 3 y" class="card-img-top img-fluid" src="assets/WHART-2021-3-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        WHART Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            1.9 Billion
           </td>
<td>
            2.31 Billion
           </td>
<td>
            406 Million
           </td>
<td>
            21.4
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            1.85 Billion
           </td>
<td>
            1.9 Billion
           </td>
<td>
            51.7 Million
           </td>
<td>
            2.8
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q3
           </td>
<td>
            1.35 Billion
           </td>
<td>
            1.85 Billion
           </td>
<td>
            496 Million
           </td>
<td>
            36.6
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q3
           </td>
<td>
            580 Million
           </td>
<td>
            1.35 Billion
           </td>
<td>
            774 Million
           </td>
<td>
            133.4
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q3
           </td>
<td>
            306 Million
           </td>
<td>
            580 Million
           </td>
<td>
            274 Million
           </td>
<td>
            89.4
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [11]:
#inp_file = stock_name + '.html'
#url = 'c://ClearStep//stocks//' + inp_file
#url

In [12]:
#using local file
#with open(url,"r") as file:
#    soup = BeautifulSoup(file)
#print(soup)

In [13]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2022-02-04
    </span>

In [14]:
up_to_max_td = soup.find(id="up-to-max")
#up_to_target_td = soup.find(id="up-to-target")

In [15]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
date_td.string = str(updated_at)
date_td.string, price_td.string, up_to_max_td.string

('2022-02-11', '12.0', '17.33')

In [16]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   WHART
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">2022-02-11</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">14.08</td>
<td>
            Min
           </td>
<td id="min-price">10.68</td>
<td>
            P/E
           </td>
<td id="stk-pe">999.99</td>
<td>
            P/BV
           </td>
<td id="stk-pbv">1.09</td>
<td>
            Volume
           </td>
<td id="daily-volume">13.87</td>
<td>
            Beta
           </td>
<td id="beta">0.37</td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">
            14.9
           </td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">
            12.8
           </td>
<td>
            P/BV
           </td>
<td id="css-pbv">
            1.0
           </td>
<td>
            B-H-S
           </td>
<td id="b-h-s">
            1-0-0
           </td>
<td class="yield">
<a href="https://www.panphol.com/aio/WHART/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">
            6.4
           </td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/WHART.html" target="_blank">
             Price
            </a>
</td>
<td id="price">12.0</td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">17.33</td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">
            28.45
           </td>
<td colspan="2">
            SET
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Whart 2021 3 q" class="card-img-top img-fluid" src="assets/WHART-2021-3-Q.png"/>
</div>
<div class="card-footer">
        Publish date: November-10, 2021
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        WHART Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            498,779
           </td>
<td>
            481,430
           </td>
<td>
            3.6
           </td>
<td>
            1,521,198
           </td>
<td>
            1,491,410
           </td>
<td>
            2.0
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            589,243
           </td>
<td>
            462,756
           </td>
<td>
            27.3
           </td>
<td>
            1,022,420
           </td>
<td>
            1,009,981
           </td>
<td>
            1.2
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            433,176
           </td>
<td>
            547,225
           </td>
<td>
            -20.8
           </td>
<td>
            433,176
           </td>
<td>
            547,225
           </td>
<td>
            -20.8
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            786,887
           </td>
<td>
            410,355
           </td>
<td>
            91.8
           </td>
<td>
            2,278,297
           </td>
<td>
            1,914,591
           </td>
<td>
            19.0
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            481,430
           </td>
<td>
            408,663
           </td>
<td>
            17.8
           </td>
<td>
            1,491,410
           </td>
<td>
            1,504,236
           </td>
<td>
            -0.9
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            462,756
           </td>
<td>
            465,369
           </td>
<td>
            -0.6
           </td>
<td>
            1,009,981
           </td>
<td>
            1,095,574
           </td>
<td>
            -7.8
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q1
           </td>
<td>
            547,225
           </td>
<td>
            630,204
           </td>
<td>
            -13.2
           </td>
<td>
            547,225
           </td>
<td>
            630,204
           </td>
<td>
            -13.2
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q4
           </td>
<td>
            410,355
           </td>
<td>
            345,802
           </td>
<td>
            18.7
           </td>
<td>
            1,914,591
           </td>
<td>
            1,473,008
           </td>
<td>
            30.0
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Whart 2021 3 y" class="card-img-top img-fluid" src="assets/WHART-2021-3-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        WHART Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            1.9 Billion
           </td>
<td>
            2.31 Billion
           </td>
<td>
            406 Million
           </td>
<td>
            21.4
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            1.85 Billion
           </td>
<td>
            1.9 Billion
           </td>
<td>
            51.7 Million
           </td>
<td>
            2.8
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q3
           </td>
<td>
            1.35 Billion
           </td>
<td>
            1.85 Billion
           </td>
<td>
            496 Million
           </td>
<td>
            36.6
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q3
           </td>
<td>
            580 Million
           </td>
<td>
            1.35 Billion
           </td>
<td>
            774 Million
           </td>
<td>
            133.4
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q3
           </td>
<td>
            306 Million
           </td>
<td>
            580 Million
           </td>
<td>
            274 Million
           </td>
<td>
            89.4
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [17]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)