In [1]:
stock_name = 'SPALI'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [3]:
df = pd.read_csv('../data/stats.csv', usecols=['name','date','pe','pbv','eps','max_price','min_price'])
df_stats = df[df.name == stock_name].copy()
df_stats['date'] = pd.to_datetime(df_stats['date'])
df_stats['pe'] = df_stats['pe'].astype('float')
df_stats['pbv'] = df_stats['pbv'].astype('float')
df_stats['eps'] = df_stats['eps'].astype('float')
df_stats['min_price'] = df_stats['min_price'].astype('float')
df_stats['max_price'] = df_stats['max_price'].astype('float')
df_stats

      name       date    pe   eps  pbv  max_price  min_price
175  SPALI 2022-05-06  5.96  3.63  1.0       23.6        9.0

In [4]:
df = pd.read_csv('../data/dailies.csv', usecols=['name','price','daily_volume'])

df_dailies = df[df.name == stock_name].copy()
df_dailies['price'] = df_dailies['price'].astype('float')
df_dailies['daily_volume'] = df_dailies['daily_volume'].astype('float')
df_dailies['daily_volume'] = round(df_dailies['daily_volume']/1000,2)
df_dailies

      name  price  daily_volume
175  SPALI   21.6        161.05

In [5]:
df_merge = pd.merge(df_dailies, df_stats, on=['name'],how='inner')
df = df_merge[['max_price','min_price','pe','pbv','daily_volume','eps','price','date']]
df

   max_price  min_price    pe  pbv  daily_volume   eps  price       date
0       23.6        9.0  5.96  1.0        161.05  3.63   21.6 2022-05-06

In [6]:
list_stk = df.values.tolist()
list_stk

[[23.6, 9.0, 5.96, 1.0, 161.05, 3.63, 21.6, Timestamp('2022-05-06 00:00:00')]]

### Stock table

In [7]:
date1 = list_stk[0][7]
date1

Timestamp('2022-05-06 00:00:00')

### Consensus table

In [8]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[25.52, 7.2, 1.0, 5.0, 2.0, 0.0, 5.2]]

In [9]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-05-06 00:00:00'), 21.6)

In [10]:
updated_at = date1.date()
updated_at

datetime.date(2022, 5, 6)

In [11]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

5.2

In [12]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'5-2-0'

In [13]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'9.26'

In [14]:
target_price, price

(25.52, 21.6)

In [15]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'18.15'

### Beautiful Soup Process

In [16]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//SPALI.html'

In [17]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup)

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2022-04-29
    </span>

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            5.2
           </td>

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('23.6', '9.0', '5.96', '1.0', '161.05', '3.63')

In [22]:
date_td

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('25.52', '7.2', '1.0', '5-2-0', '5.2')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('21.6', '9.26', '18.15')

In [25]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   SPALI
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">2022-05-06</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">23.6</td>
<td>
            Min
           </td>
<td id="min-price">9.0</td>
<td>
            P/E
           </td>
<td id="stk-pe">5.96</td>
<td>
            P/BV
           </td>
<td id="stk-pbv">1.0</td>
<td>
            Volume
           </td>
<td id="daily-volume">161.05</td>
<td>
            Beta
           </td>
<td id="beta">3.63</td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">25.52</td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">7.2</td>
<td>
            P/BV
           </td>
<td id="css-pbv">1.0</td>
<td>
            B-H-S
           </td>
<td id="b-h-s">5-2-0</td>
<td class="yield">
<a href="https://www.panphol.com/aio/SPALI/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">5.2</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/SPALI.html" target="_blank">
             Price
            </a>
</td>
<td id="price">21.6</td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">9.26</td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">18.15</td>
<td colspan="2">
            SET100 / SETHD
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Spali 2021 4 q" class="card-img-top img-fluid" src="assets/SPALI-2021-4-Q.png"/>
</div>
<div class="card-footer">
        Publish date: February-22, 2022
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        SPALI Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            2,879,183
           </td>
<td>
            1,864,612
           </td>
<td>
            54.4
           </td>
<td>
            7,070,321
           </td>
<td>
            4,251,230
           </td>
<td>
            66.3
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            1,719,594
           </td>
<td>
            1,216,570
           </td>
<td>
            41.3
           </td>
<td>
            4,191,138
           </td>
<td>
            2,386,618
           </td>
<td>
            75.6
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            1,730,465
           </td>
<td>
            420,092
           </td>
<td>
            311.9
           </td>
<td>
            2,471,544
           </td>
<td>
            1,170,048
           </td>
<td>
            111.2
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            741,079
           </td>
<td>
            749,956
           </td>
<td>
            -1.2
           </td>
<td>
            741,079
           </td>
<td>
            749,956
           </td>
<td>
            -1.2
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            1,864,612
           </td>
<td>
            1,839,070
           </td>
<td>
            1.4
           </td>
<td>
            4,251,230
           </td>
<td>
            5,402,758
           </td>
<td>
            -21.3
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            1,216,570
           </td>
<td>
            1,270,175
           </td>
<td>
            -4.2
           </td>
<td>
            2,386,618
           </td>
<td>
            3,563,688
           </td>
<td>
            -33.0
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            420,092
           </td>
<td>
            766,150
           </td>
<td>
            -45.2
           </td>
<td>
            1,170,048
           </td>
<td>
            2,293,513
           </td>
<td>
            -49.0
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q1
           </td>
<td>
            749,956
           </td>
<td>
            1,527,363
           </td>
<td>
            -50.9
           </td>
<td>
            749,956
           </td>
<td>
            1,527,363
           </td>
<td>
            -50.9
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Spali 2021 4 y" class="card-img-top img-fluid" src="assets/SPALI-2021-4-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        SPALI Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            4.25 Billion
           </td>
<td>
            7.07 Billion
           </td>
<td>
            2.82 Billion
           </td>
<td>
            66.3
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            5.4 Billion
           </td>
<td>
            4.25 Billion
           </td>
<td>
            -1.15 Billion
           </td>
<td>
            -21.3
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q4
           </td>
<td>
            5.77 Billion
           </td>
<td>
            5.4 Billion
           </td>
<td>
            -368 Million
           </td>
<td>
            -6.4
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q4
           </td>
<td>
            5.81 Billion
           </td>
<td>
            5.77 Billion
           </td>
<td>
            -41.6 Million
           </td>
<td>
            -0.7
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q4
           </td>
<td>
            4.89 Billion
           </td>
<td>
            5.81 Billion
           </td>
<td>
            926 Million
           </td>
<td>
            18.9
           </td>
</tr>
<tr>
<td>
            2016
           </td>
<td>
            Q4
           </td>
<td>
            4.35 Billion
           </td>
<td>
            4.89 Billion
           </td>
<td>
            538 Million
           </td>
<td>
            12.4
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,815,SPALI,22.6,5,2,0,3.12,3.16,7.2,1.0,5.2,25.52,X,470,2021-02-21 08:31:55.301622,2022-04-23 00:23:51.152539