In [1]:
stock_name = 'SENA'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [3]:
df = pd.read_csv('../data/stats.csv', usecols=['name','date','pe','pbv','eps','max_price','min_price'])
df_stats = df[df.name == stock_name].copy()
df_stats['date'] = pd.to_datetime(df_stats['date'])
df_stats['pe'] = df_stats['pe'].astype('float')
df_stats['pbv'] = df_stats['pbv'].astype('float')
df_stats['eps'] = df_stats['eps'].astype('float')
df_stats['min_price'] = df_stats['min_price'].astype('float')
df_stats['max_price'] = df_stats['max_price'].astype('float')
df_stats

     name       date    pe   eps  pbv  max_price  min_price
165  SENA 2022-05-10  4.97  0.87  0.8        5.5       0.44

In [4]:
df = pd.read_csv('../data/dailies.csv', usecols=['name','price','daily_volume'])

df_dailies = df[df.name == stock_name].copy()
df_dailies['price'] = df_dailies['price'].astype('float')
df_dailies['daily_volume'] = df_dailies['daily_volume'].astype('float')
df_dailies['daily_volume'] = round(df_dailies['daily_volume']/1000,2)
df_dailies

     name  price  daily_volume
165  SENA   4.32         20.81

In [5]:
df_merge = pd.merge(df_dailies, df_stats, on=['name'],how='inner')
df = df_merge[['max_price','min_price','pe','pbv','daily_volume','eps','price','date']]
df

   max_price  min_price    pe  pbv  daily_volume   eps  price       date
0        5.5       0.44  4.97  0.8         20.81  0.87   4.32 2022-05-10

In [6]:
list_stk = df.values.tolist()
list_stk

[[5.5, 0.44, 4.97, 0.8, 20.81, 0.87, 4.32, Timestamp('2022-05-10 00:00:00')]]

### Stock table

In [7]:
date1 = list_stk[0][7]
date1

Timestamp('2022-05-10 00:00:00')

### Consensus table

In [8]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[5.04, 7.4, 0.8, 1.0, 1.0, 0.0, 5.4]]

In [9]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-05-10 00:00:00'), 4.32)

In [10]:
updated_at = date1.date()
updated_at

datetime.date(2022, 5, 10)

In [11]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

5.4

In [12]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'1-1-0'

In [13]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'27.31'

In [14]:
target_price, price

(5.04, 4.32)

In [15]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'16.67'

### Beautiful Soup Process

In [16]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//SENA.html'

In [17]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup)

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2022-05-06
    </span>

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            5.4
           </td>

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('5.5', '0.44', '4.97', '0.8', '20.81', '0.87')

In [22]:
date_td

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('5.04', '7.4', '0.8', '1-1-0', '5.4')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('4.32', '27.31', '16.67')

In [25]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   SENA
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">2022-05-10</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">5.5</td>
<td>
            Min
           </td>
<td id="min-price">0.44</td>
<td>
            P/E
           </td>
<td id="stk-pe">4.97</td>
<td>
            P/BV
           </td>
<td id="stk-pbv">0.8</td>
<td>
            Volume
           </td>
<td id="daily-volume">20.81</td>
<td>
            Beta
           </td>
<td id="beta">0.87</td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">5.04</td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">7.4</td>
<td>
            P/BV
           </td>
<td id="css-pbv">0.8</td>
<td>
            B-H-S
           </td>
<td id="b-h-s">1-1-0</td>
<td class="yield">
<a href="https://www.panphol.com/aio/SENA/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">5.4</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/SENA.html" target="_blank">
             Price
            </a>
</td>
<td id="price">4.32</td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">27.31</td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">16.67</td>
<td colspan="2">
            sSET
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Sena 2021 4 q" class="card-img-top img-fluid" src="assets/SENA-2021-4-Q.png"/>
</div>
<div class="card-footer">
        Publish date: February-25, 2022
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        SENA Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            637,164
           </td>
<td>
            381,942
           </td>
<td>
            66.8
           </td>
<td>
            1,250,415
           </td>
<td>
            1,119,418
           </td>
<td>
            11.7
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            166,420
           </td>
<td>
            278,213
           </td>
<td>
            -40.2
           </td>
<td>
            613,251
           </td>
<td>
            737,476
           </td>
<td>
            -16.8
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            217,513
           </td>
<td>
            228,984
           </td>
<td>
            -5.0
           </td>
<td>
            446,831
           </td>
<td>
            459,262
           </td>
<td>
            -2.7
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            229,318
           </td>
<td>
            230,279
           </td>
<td>
            -0.4
           </td>
<td>
            229,318
           </td>
<td>
            230,279
           </td>
<td>
            -0.4
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            381,942
           </td>
<td>
            498,827
           </td>
<td>
            -23.4
           </td>
<td>
            1,119,418
           </td>
<td>
            890,052
           </td>
<td>
            25.8
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            278,213
           </td>
<td>
            112,084
           </td>
<td>
            148.2
           </td>
<td>
            737,476
           </td>
<td>
            391,225
           </td>
<td>
            88.5
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            228,984
           </td>
<td>
            119,374
           </td>
<td>
            91.8
           </td>
<td>
            459,262
           </td>
<td>
            279,142
           </td>
<td>
            64.5
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q1
           </td>
<td>
            230,279
           </td>
<td>
            159,767
           </td>
<td>
            44.1
           </td>
<td>
            230,279
           </td>
<td>
            159,767
           </td>
<td>
            44.1
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Sena 2021 4 y" class="card-img-top img-fluid" src="assets/SENA-2021-4-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        SENA Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            1.12 Billion
           </td>
<td>
            1.25 Billion
           </td>
<td>
            131 Million
           </td>
<td>
            11.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            890 Million
           </td>
<td>
            1.12 Billion
           </td>
<td>
            229 Million
           </td>
<td>
            25.8
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q4
           </td>
<td>
            940 Million
           </td>
<td>
            890 Million
           </td>
<td>
            -49.6 Million
           </td>
<td>
            -5.3
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q4
           </td>
<td>
            742 Million
           </td>
<td>
            940 Million
           </td>
<td>
            197 Million
           </td>
<td>
            26.5
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q4
           </td>
<td>
            763 Million
           </td>
<td>
            742 Million
           </td>
<td>
            -20.3 Million
           </td>
<td>
            -2.7
           </td>
</tr>
<tr>
<td>
            2016
           </td>
<td>
            Q4
           </td>
<td>
            254 Million
           </td>
<td>
            763 Million
           </td>
<td>
            509 Million
           </td>
<td>
            200.4
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,803,SENA,4.44,1,1,0,0.6,0.73,7.4,0.8,5.4,5.04,X,443,2021-02-21 08:31:55.256124,2022-04-26 02:45:56.658806