In [1]:
stock_name = 'WHART'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [3]:
df = pd.read_csv('../data/stats.csv', usecols=['name','date','pe','pbv','eps','max_price','min_price'])
df_stats = df[df.name == stock_name].copy()
df_stats['date'] = pd.to_datetime(df_stats['date'])
df_stats['pe'] = df_stats['pe'].astype('float')
df_stats['pbv'] = df_stats['pbv'].astype('float')
df_stats['eps'] = df_stats['eps'].astype('float')
df_stats['min_price'] = df_stats['min_price'].astype('float')
df_stats['max_price'] = df_stats['max_price'].astype('float')
df_stats

      name       date   pe  eps   pbv  max_price  min_price
227  WHART 2022-05-20  0.0  0.0  0.95      14.08       10.3

In [4]:
df = pd.read_csv('../data/dailies.csv', usecols=['name','price','daily_volume'])

df_dailies = df[df.name == stock_name].copy()
df_dailies['price'] = df_dailies['price'].astype('float')
df_dailies['daily_volume'] = df_dailies['daily_volume'].astype('float')
df_dailies['daily_volume'] = round(df_dailies['daily_volume']/1000,2)
df_dailies

      name  price  daily_volume
227  WHART   10.6         10.15

In [5]:
df_merge = pd.merge(df_dailies, df_stats, on=['name'],how='inner')
df = df_merge[['max_price','min_price','pe','pbv','daily_volume','eps','price','date']]
df

   max_price  min_price   pe   pbv  daily_volume  eps  price       date
0      14.08       10.3  0.0  0.95         10.15  0.0   10.6 2022-05-20

In [6]:
list_stk = df.values.tolist()
list_stk

[[14.08, 10.3, 0.0, 0.95, 10.15, 0.0, 10.6, Timestamp('2022-05-20 00:00:00')]]

### Stock table

In [7]:
date1 = list_stk[0][7]
date1

Timestamp('2022-05-20 00:00:00')

### Consensus table

In [8]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[14.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]]

In [9]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-05-20 00:00:00'), 10.6)

In [10]:
updated_at = date1.date()
updated_at

datetime.date(2022, 5, 20)

In [11]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

0.0

In [12]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'1-0-0'

In [13]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'32.83'

In [14]:
target_price, price

(14.0, 10.6)

In [15]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'32.08'

### Beautiful Soup Process

In [16]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//WHART.html'

In [17]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup)

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('14.08', '10.3', '0.0', '0.95', '10.15', '0.0')

In [22]:
date_td

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('14.0', '0.0', '0.0', '1-0-0', '0.0')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('10.6', '32.83', '32.08')

In [25]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>WHART</title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
                Data as end of <span id="date">2022-05-20</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>Max</td>
<td id="max-price">14.08</td>
<td>Min</td>
<td id="min-price">10.3</td>
<td>P/E</td>
<td id="stk-pe">0.0</td>
<td>P/BV</td>
<td id="stk-pbv">0.95</td>
<td>Volume</td>
<td id="daily-volume">10.15</td>
<td>EPS</td>
<td id="beta">0.0</td>
</tr>
<!-- Consensus -->
<tr>
<td>Target</td>
<td id="target-price">14.0</td>
<td colspan="2"></td>
<td>P/E</td>
<td id="css-pe">0.0</td>
<td>P/BV</td>
<td id="css-pbv">0.0</td>
<td>B-H-S</td>
<td id="b-h-s">1-0-0</td>
<td class="yield">
<a href="https://www.panphol.com/aio/WHART/dividend" target="_blank">Yield</a>
</td>
<td id="yld">0.0</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/WHART.html" target="_blank">Price</a>
</td>
<td id="price">10.6</td>
<td colspan="3">
                                                Up to Max Percent
                                            </td>
<td id="up-to-max">32.83</td>
<td colspan="3">
                                                Up to Target Percent
                                            </td>
<td id="up-to-target">32.08</td>
<td colspan="2">SET</td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Whart 2022 1 q" class="card-img-top img-fluid" src="assets/WHART-2022-1-Q.png"/>
</div>
<div class="card-footer">
                                Publish date: May-12, 2022
                            </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
                                WHART Quarterly Profit
                            </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>Year</th>
<th>Qtr</th>
<th>Qtr Amt</th>
<th>YoY Amt</th>
<th>Qtr%</th>
<th>Acc Qtr</th>
<th>Acc YoY</th>
<th>Acc%</th>
</tr>
</thead>
<tbody>
<tr>
<td>2022</td>
<td>Q1</td>
<td>603,460</td>
<td>433,176</td>
<td>39.3</td>
<td>603,460</td>
<td>433,176</td>
<td>39.3</td>
</tr>
<tr>
<td>2021</td>
<td>Q4</td>
<td>539,077</td>
<td>786,887</td>
<td>-31.5</td>
<td>2,060,275</td>
<td>2,278,297</td>
<td>-9.6</td>
</tr>
<tr>
<td>2021</td>
<td>Q3</td>
<td>498,779</td>
<td>481,430</td>
<td>3.6</td>
<td>1,521,198</td>
<td>1,491,410</td>
<td>2.0</td>
</tr>
<tr>
<td>2021</td>
<td>Q2</td>
<td>589,243</td>
<td>462,756</td>
<td>27.3</td>
<td>1,022,420</td>
<td>1,009,981</td>
<td>1.2</td>
</tr>
<tr>
<td>2021</td>
<td>Q1</td>
<td>433,176</td>
<td>547,225</td>
<td>-20.8</td>
<td>433,176</td>
<td>547,225</td>
<td>-20.8</td>
</tr>
<tr>
<td>2020</td>
<td>Q4</td>
<td>786,887</td>
<td>410,355</td>
<td>91.8</td>
<td>2,278,297</td>
<td>1,914,591</td>
<td>19.0</td>
</tr>
<tr>
<td>2020</td>
<td>Q3</td>
<td>481,430</td>
<td>408,663</td>
<td>17.8</td>
<td>1,491,410</td>
<td>1,504,236</td>
<td>-0.9</td>
</tr>
<tr>
<td>2020</td>
<td>Q2</td>
<td>462,756</td>
<td>465,369</td>
<td>-0.6</td>
<td>1,009,981</td>
<td>1,095,574</td>
<td>-7.8</td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Whart 2022 1 y" class="card-img-top img-fluid" src="assets/WHART-2022-1-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
                                WHART Yearly Profit
                            </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>Year</th>
<th>Qtr</th>
<th>Last Year Amt</th>
<th>This Year Amt</th>
<th>Profit</th>
<th>Pct</th>
</tr>
</thead>
<tbody>
<tr>
<td>2022</td>
<td>Q1</td>
<td>2.16 Billion</td>
<td>2.23 Billion</td>
<td>66.3 Million</td>
<td>3.1</td>
</tr>
<tr>
<td>2021</td>
<td>Q1</td>
<td>1.83 Billion</td>
<td>2.16 Billion</td>
<td>333 Million</td>
<td>18.2</td>
</tr>
<tr>
<td>2020</td>
<td>Q1</td>
<td>1.78 Billion</td>
<td>1.83 Billion</td>
<td>47.8 Million</td>
<td>2.7</td>
</tr>
<tr>
<td>2019</td>
<td>Q1</td>
<td>881 Million</td>
<td>1.78 Billion</td>
<td>903 Million</td>
<td>102.6</td>
</tr>
<tr>
<td>2018</td>
<td>Q1</td>
<td>480 Million</td>
<td>881 Million</td>
<td>401 Million</td>
<td>83.6</td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,879,WHART,10.6,1,0,0,0.0,0.0,0.0,0.0,0.0,14.0,X,630,2021-02-24 02:54:47.360618,2022-05-21 08:54:18.818713