In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
import calendar

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {'Q4':'{:.4f}','Q3':'{:.4f}','Q2':'{:.4f}','Q1':'{:.4f}','DIVIDEND':'{:.4f}',
              'PRICE':'{:.2f}','PERCENT':'{:.2f}','SHARES':'{:,}'
              }
today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 1, 12), datetime.date(2022, 1, 11))

In [2]:
#yesterday = today - timedelta(days=4)
yesterday

datetime.date(2022, 1, 11)

### New dividend stock

In [11]:
name = 'IP'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, const)
df

,NAME,Q4,Q3,Q2,Q1,DIVIDEND,PRICE,PERCENT,SHARES,XDATE,PAIDDATE,KIND,ACTUAL
0,IP,0.185,0.0,0.0,0.0,0.185,0.0,0.0,4500.0,2022-04-08,2022-04-27,,0

In [10]:
sql = """
INSERT INTO dividend
VALUES('IP',0.185,0,0.0,0,0.185,0,0,4500,'2022-04-08','2022-04-27','',0)
"""
rp = const.execute(sql)
rp.rowcount

1

### Start of Update dividend

In [15]:
def update_dividend(q4,XDATE,PAIDDATE,actual,name):
    sql = "UPDATE dividend SET q4 = %s, dividend = q1+q2+q3+q4, XDATE = '%s', PAIDDATE = '%s', actual = %s WHERE name = '%s'"
    sql = sql % (q4,XDATE, PAIDDATE, actual,name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [18]:
name = 'DOHOME'
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
df = pd.read_sql(sql, const)
df['SHARES'] = df['SHARES'].astype(int)
df.style.format(format_dict)

In [17]:
q4 = 0.10
XDATE = '2021-05-21'
PAIDDATE = '2021-05-21'
actual = 0

update_dividend(q4,XDATE,PAIDDATE,actual,name)

'Records updated = 1'

In [ ]:
def update_dividend(shares,q3,actual,name):
    sql = "UPDATE dividend SET shares = %s, q3 = %s, dividend=q1+q2+q3+q4, actual = %s WHERE name = '%s'"
    sql = sql % (shares, q3, actual, name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [ ]:
name = 'ADVANC'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, const)
df['SHARES'] = df['SHARES'].astype(int)
df.style.format(format_dict)

In [ ]:
shares = 20000
q2 = 0.245
actual = 1

In [ ]:
update_dividend(shares,q2,actual,name)

### Delete dividend record

In [9]:
sql = '''
DELETE FROM dividend
WHERE name IN ("IP")
'''
rp = const.execute(sql)
rp.rowcount

1

### Start of actual output to cloud

In [4]:
start_date = '2021-07-29'

In [5]:
sql = """
SELECT Y.NAME AS name,  FORMAT(Q2,4) AS qtrly,
FORMAT(SHARES,0) AS shares, format(Q2*SHARES,2) AS amount, format(Q2*SHARES*.9,2) AS net,
xdate as xd_date, paiddate AS pay_date, actual
FROM dividend AS Y, price AS P
WHERE Y.name = P.name 
AND shares > 0 AND Q2 > 0 
AND P.date = '%s' 
ORDER BY name
"""
sql = sql % (start_date)
print(sql)

SELECT Y.NAME AS name,  FORMAT(Q2,4) AS qtrly,
FORMAT(SHARES,0) AS shares, format(Q2*SHARES,2) AS amount, format(Q2*SHARES*.9,2) AS net,
xdate as xd_date, paiddate AS pay_date, actual
FROM dividend AS Y, price AS P
WHERE Y.name = P.name
AND shares > 0 AND Q2 > 0
AND P.date = '2021-07-29'
ORDER BY name

In [ ]:
dividend = pd.read_sql(sql, const)
dividend.set_index('name', inplace=True)
dividend.sort_values(['xd_date'],ascending=True)

In [ ]:
file_name = 'dividend-q2.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

In [ ]:
dividend.sort_values(['name'],ascending=[True]).to_csv(output_file)
dividend.sort_values(['name'],ascending=[True]).to_csv(data_file)
dividend.sort_values(['name'],ascending=[True]).to_csv(box_file)

### End of output to cloud

### Start of estimate output to cloud

In [ ]:
sql = """
SELECT Y.NAME AS name, xdate as xd_date, paiddate AS pay_date, FORMAT(Q4,4) AS qtrly,
FORMAT(SHARES,0) AS shares, format(Q4*SHARES,2) AS amount,
FORMAT(dividend,4) AS yrly, FORMAT(P.price,2) AS price, FORMAT(dividend/P.price*100,2) AS yield
FROM dividend AS Y, price AS P
WHERE Y.name = P.name
AND P.date = '%s' AND shares > 0 AND actual = 0
ORDER BY xdate ASC, name ASC"""
sql = sql % yesterday
div_est = pd.read_sql(sql, const)
div_est.set_index('name', inplace=True)
div_est

In [ ]:
file_name = 'div_est.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

In [ ]:
div_est.sort_values(['xd_date'],ascending=[True]).to_csv(output_file)
div_est.sort_values(['xd_date'],ascending=[True]).to_csv(data_file)
div_est.sort_values(['xd_date'],ascending=[True]).to_csv(box_file)

### End of estimate output to cloud

### Move dividend stock to backup table

In [ ]:
name = 'WHART'
sql1 = '''
INSERT INTO div_bak
SELECT * FROM dividend
WHERE name = "%s"'''
sql1 = sql1 % name
rp1 = const.execute(sql1)

sql2 = '''
DELETE FROM dividend
WHERE name = "%s"'''
sql2 = sql2 % name
rp2 = const.execute(sql2)
rp1.rowcount, rp2.rowcount

In [ ]:
sql = '''
SELECT * 
FROM div_bak'''
div_bak = pd.read_sql(sql, const)
div_bak

### End of move dividend stock

In [ ]:
sql = """
SELECT NAME AS name, xdate as xd_date, paiddate AS pay_date, Q1 AS qtr,
SHARES AS shares, Q3*SHARES AS dividend
FROM dividend
WHERE q1 > 0 AND shares > 0
ORDER BY name"""
df_div = pd.read_sql(sql, const)
df_div.set_index('name', inplace=True)
df_div.sort_values(['dividend'],ascending=[False])

In [ ]:
df_div.dividend.sum()

In [ ]:
df_div.dtypes

In [ ]:
df_div.shares.astype(int)
df_div['shares'] = df_div.shares.astype(int)
df_div.dtypes

In [ ]:
sql = '''
SELECT name, volbuy AS shares, price AS unit_cost, volbuy * price AS cost 
FROM buy'''
df_buy = pd.read_sql(sql, const)
df_buy['shares'] = df_buy.shares.astype(int)
df_buy.dtypes

In [ ]:
df_merge = pd.merge(df_buy, df_div, on='name', how='inner')
df_merge['pct'] = df_merge['dividend'] / df_merge['cost'] * 100
df_merge.sort_values(by=['pct','name'],ascending=[False,True])

In [ ]:
df_merge.dividend.sum()

In [ ]:
df_merge.dtypes

In [ ]:
file_name = 'div-21q1.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
df_merge.reset_index
df_merge.sort_values(by=['xd_date','name'],ascending=[True,True]).to_csv(output_file)
df_merge.sort_values(by=['xd_date','name'],ascending=[True,True]).to_csv(data_file)

In [ ]:
sql = """
SELECT * 
FROM buy 
WHERE active = 1 
ORDER BY name"""
df_tmp = pd.read_sql(sql, const)
df_tmp

### XTR PRICE PROCESS

In [ ]:
sql = """
SELECT name, COUNT(*) AS days 
FROM price
GROUP BY name
ORDER BY COUNT(*) ASC"""
df_tmp = pd.read_sql(sql, const)
df_tmp.head(20)

In [ ]:
name = 'SABUY'
name

In [ ]:
sql = """
SELECT *
FROM price
WHERE name = '%s'"""
sql = sql % name
print(sql)

In [ ]:
df_price = pd.read_sql(sql, const)
df_price.shape

In [ ]:
df_price.tail()

In [ ]:
sql = """
DELETE
FROM price
WHERE name = '%s'"""
sql = sql % name
print(sql)

In [ ]:
rp = const.execute(sql)
rp.rowcount