In [1]:
import glob
import os
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/portfolio_development")
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

inout_path = "../data/"

### Start of process to delete epss with input loss.csv File

In [2]:
sql = '''
SELECT name
FROM exempts
ORDER BY name'''
exempts = pd.read_sql(sql, conlt)
exempts.shape

(299, 1)

In [3]:
names = exempts['name'].values.tolist()
names

['A',
 'ABM',
 'ABPIF',
 'ACAP',
 'ACC',
 'ADB',
 'AGE',
 'AHC',
 'AI',
 'AKP',
 'ALLA',
 'ALT',
 'AMA',
 'AMATAV',
 'APCO',
 'AQUA',
 'ARIP',
 'ASAP',
 'ASEFA',
 'ASIA',
 'ASIMAR',
 'ASN',
 'ATP30',
 'AU',
 'AUCT',
 'BAFS',
 'BGT',
 'BIG',
 'BIZ',
 'BJCHI',
 'BKD',
 'BM',
 'BOFFICE',
 'BOL',
 'BR',
 'BROCK',
 'BROOK',
 'BSM',
 'BTNC',
 'BTW',
 'BWG',
 'CCP',
 'CEN',
 'CFRESH',
 'CGD',
 'CHARAN',
 'CHEWA',
 'CHO',
 'CHOTI',
 'CHOW',
 'CI',
 'CIG',
 'CITY',
 'CM',
 'CMAN',
 'CMC',
 'CMO',
 'CNT',
 'COLOR',
 'COMAN',
 'CPH',
 'CPL',
 'CPR',
 'CPT',
 'CPW',
 'CRANE',
 'CRD',
 'CSC',
 'CSR',
 'CTW',
 'DCORP',
 'DOD',
 'DTCI',
 'EASON',
 'ECF',
 'EE',
 'EP',
 'ERW',
 'ESTAR',
 'ETE',
 'EVER',
 'FANCY',
 'FE',
 'FLOYD',
 'FMT',
 'FN',
 'FNS',
 'FUTUREPF',
 'FVC',
 'GAHREIT',
 'GCAP',
 'GEL',
 'GENCO',
 'GIFT',
 'GRAND',
 'GTB',
 'GYT',
 'HARN',
 'HPT',
 'IRCP',
 'IT',
 'ITD',
 'ITEL',
 'JCT',
 'JKN',
 'JSP',
 'JUTHA',
 'KASET',
 'KBS',
 'KCAR',
 'KCM',
 'KDH',
 'KIAT',
 'KKC',
 'KOOL',
 'KTIS',
 'KWC',
 'KWG',
 'LDC',
 'LEE',
 'LHPF',
 'LHSC',
 'LOXLEY',
 'LRH',
 'M-CHAI',
 'MALEE',
 'MATCH',
 'MATI',
 'MAX',
 'MBK',
 'MCOT',
 'META',
 'MGT',
 'MIDA',
 'MILL',
 'MIT',
 'MJD',
 'MK',
 'ML',
 'MM',
 'MODERN',
 'MONO',
 'MOONG',
 'NCL',
 'NDR',
 'NETBAY',
 'NEW',
 'NINE',
 'NKI',
 'NSI',
 'NTV',
 'NUSA',
 'NVD',
 'NWR',
 'OCEAN',
 'OTO',
 'PATO',
 'PF',
 'PG',
 'PHOL',
 'PICO',
 'PIMO',
 'PJW',
 'PLAT',
 'PM',
 'PMTA',
 'PORT',
 'PPM',
 'PPP',
 'PPS',
 'PRECHA',
 'PRIN',
 'PRINC',
 'PSTC',
 'PT',
 'PYLON',
 'Q-CON',
 'QHHR',
 'QLT',
 'QTC',
 'RCI',
 'RML',
 'ROCK',
 'ROH',
 'RP',
 'RPH',
 'RT',
 'RWI',
 'SABINA',
 'SALEE',
 'SAM',
 'SAMART',
 'SAMCO',
 'SANKO',
 'SAWANG',
 'SCG',
 'SCI',
 'SCN',
 'SCP',
 'SE-ED',
 'SEAFCO',
 'SEAOIL',
 'SELIC',
 'SFP',
 'SGF',
 'SHR',
 'SIAM',
 'SIMAT',
 'SITHAI',
 'SKE',
 'SLP',
 'SMK',
 'SOLAR',
 'SONIC',
 'SORKON',
 'SPA',
 'SPACK',
 'SPVI',
 'SR',
 'SSC',
 'SSF',
 'SST',
 'STAR',
 'STI',
 'STPI',
 'SUN',
 'SUTHA',
 'SWC',
 'SYMC',
 'SYNTEC',
 'TAE',
 'TAKUNI',
 'TAPAC',
 'TCC',
 'TCJ',
 'TCMC',
 'TCOAT',
 'TEAM',
 'TEAMG',
 'TGPRO',
 'TH',
 'THAI',
 'THCOM',
 'THMUI',
 'THRE',
 'TIF1',
 'TIGER',
 'TITLE',
 'TKT',
 'TM',
 'TMC',
 'TMD',
 'TMI',
 'TMILL',
 'TNDT',
 'TNH',
 'TNL',
 'TNP',
 'TOPP',
 'TPBI',
 'TPCH',
 'TPOLY',
 'TPP',
 'TPRIME',
 'TRC',
 'TRITN',
 'TRT',
 'TRU',
 'TRUBB',
 'TSC',
 'TSR',
 'TSTE',
 'TVD',
 'TVT',
 'TWP',
 'TWPC',
 'TWZ',
 'UBIS',
 'UEC',
 'UKEM',
 'UMI',
 'UNIQ',
 'UP',
 'UPA',
 'UPF',
 'UREKA',
 'UV',
 'UWC',
 'VCOM',
 'VPO',
 'WAVE',
 'WIN',
 'WINNER',
 'WP',
 'WPH',
 'XO',
 'ZEN',
 'ZIGA',
 'ZMICO']

In [4]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO'"

In [5]:
sql = """
SELECT * 
FROM tickers 
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

SELECT *
FROM tickers
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [7]:
candidates = pd.read_sql(sql, conlt)
candidates.shape

(47, 9)

### MySQL Stock Database

In [9]:
sql = """
SELECT * FROM price
WHERE name IN (%s)
"""
sql = sql % (in_p)
prices = pd.read_sql(sql, const)
print(prices)

           name        date  price   maxp   minp       qty   opnp
0            AU  2018-08-07   8.80   9.10   8.75   2154108   8.75
1          PLAT  2018-08-07   7.35   7.50   7.25   4399499   7.45
2           QTC  2019-06-11   5.20   5.30   5.20     37800   5.25
3           SPA  2019-06-14  12.50  12.50  12.10   1205200  12.10
4      FUTUREPF  2019-07-03  26.25  26.25  26.00    333600  26.00
...         ...         ...    ...    ...    ...       ...    ...
52344       TSR  2021-02-19   3.74   3.80   3.74    957266   3.80
52345      UNIQ  2021-02-19   4.50   4.54   4.46   2047204   4.52
52346       ALT  2021-06-07   2.88   2.92   2.88   5140037   2.90
52347        AI  2021-06-07   2.40   2.44   2.38  28569544   2.42
52348         A  2021-06-07   4.98   4.98   4.96      2502   4.96

[52349 rows x 7 columns]

In [10]:
sql = """
DELETE FROM price
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM price
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [11]:
rp = const.execute(sql)
rp.rowcount

52349

In [12]:
sql = """
DELETE FROM nameall
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM nameall
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [13]:
rp = const.execute(sql)
rp.rowcount

21

In [14]:
sql = """
DELETE FROM stockname
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stockname
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [15]:
rp = const.execute(sql)
rp.rowcount

39

### PostgreSQL PortPg Database

In [16]:
sql = """
DELETE FROM yr_profits
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM yr_profits
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [17]:
rp = conpg.execute(sql)
rp.rowcount

729

In [18]:
sql = """
DELETE FROM epss
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM epss
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [19]:
rp = conpg.execute(sql)
rp.rowcount

1134

In [20]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [21]:
rp = conpg.execute(sql)
rp.rowcount

47

In [22]:
sql = """
DELETE FROM consensus
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM consensus
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [23]:
rp = conpg.execute(sql)
rp.rowcount

26

In [ ]:
sql = """
DELETE FROM tickers
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

In [ ]:
rp = conpg.execute(sql)
rp.rowcount

### SQLite PortMy Database

In [24]:
sql = """
DELETE FROM consensus
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM consensus
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [25]:
rp = conmy.execute(sql)
rp.rowcount

29

In [26]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [27]:
rp = conmy.execute(sql)
rp.rowcount

47

In [ ]:
sql = """
DELETE FROM tickers
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

In [ ]:
rp = conmy.execute(sql)
rp.rowcount

### IV. SQLite PortLt Database

In [28]:
sql = """
DELETE FROM yr_profits
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM yr_profits
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [29]:
rp = conlt.execute(sql)
rp.rowcount

729

In [30]:
sql = """
DELETE FROM qt_profits
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM qt_profits
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [31]:
rp = conlt.execute(sql)
rp.rowcount

824

In [32]:
sql = """
DELETE FROM epss
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM epss
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [33]:
rp = conlt.execute(sql)
rp.rowcount

1134

In [34]:
year = 2021
quarter = 2
sql = '''
SELECT COUNT(*)
FROM epss
WHERE year = %s AND quarter = %s'''
sql = sql % (year, quarter)
tmp = pd.read_sql(sql, conlt)
tmp

   COUNT(*)
0       324

In [35]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [36]:
rp = conlt.execute(sql)
rp.rowcount

47

In [37]:
sql = """
DELETE FROM consensus
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM consensus
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [38]:
rp = conlt.execute(sql)
rp.rowcount

29

In [ ]:
sql = """
DELETE FROM tickers
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

In [ ]:
rp = conlt.execute(sql)
rp.rowcount

### MySQL Portfolio Database

In [39]:
sql = """
SELECT * FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)

df = pd.read_sql(sql, conpf)
df

   id    name  category_id                      website
0   4  SEAFCO            3             www.seafco.co.th
1   9   PYLON            4              www.pylon.co.th
2  16      PM            3  www.premier-marketing.co.th
3  26  MODERN            3           www.modernform.com
4  32    KCAR            3          www.krungthai.co.th
5  35     SCP            3                www.scp.co.th
6  59    UNIQ            2             www.unique.co.th
7  63   THCOM            1            www.thaicom.co.th
8  79  SYNTEC            3            www.synteccon.com

In [40]:
sql = """
SELECT B.* FROM buys B
WHERE stock_id NOT IN
(SELECT id FROM stocks)
"""
sql = sql
df = pd.read_sql(sql, conpf)
df

Empty DataFrame
Columns: [id, stock_id, date, qty, price, fee, vat, status, net, kind, chart]
Index: []

In [41]:
sql = """
DELETE FROM buys 
WHERE stock_id NOT IN
(SELECT id FROM stocks)
"""
rp = conpf.execute(sql)
rp.rowcount

0

In [42]:
sql = """
SELECT S.* FROM sells S
WHERE buy_id NOT IN
(SELECT id FROM buys)
"""
sql = sql
df = pd.read_sql(sql, conpf)
df

Empty DataFrame
Columns: [id, buy_id, date, price, fee, vat, net, days, profit, percent, yearly, sequence, chart, dividend_id]
Index: []

In [43]:
sql = """
DELETE FROM sells 
WHERE buy_id NOT IN
(SELECT id FROM buys)
"""
rp = conpf.execute(sql)
rp.rowcount

0

In [44]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IP', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSL', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SALEE', 'SAM', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WPH', 'XO', 'ZIGA', 'ZMICO')

In [45]:
rp = conpf.execute(sql)
rp.rowcount

9

### Data folder files

In [46]:
file_name = "name-ttl.csv"
input_file = inout_path + file_name
col_names = ["name"]
inp_df = pd.read_csv(input_file, sep=",", header=None, index_col=None, names=col_names)
inp_df.shape

(390, 1)

In [48]:
df_merge = pd.merge(inp_df, exempts, on="name", how="outer", indicator=True)
df_merge.shape

(629, 2)

In [49]:
df_new_rcd = df_merge[df_merge["_merge"] == "left_only"]
df_new_rcd.shape

(343, 2)

In [50]:
del df_new_rcd["_merge"]
df_new_rcd.shape

(343, 1)

In [51]:
file_name = "name-ttl.csv"
output_file = inout_path + file_name
df_out = df_new_rcd.set_index(["name"])
df_out.to_csv(output_file, header=None)

### Check number of records of tickers in three datatables

In [52]:
sql = '''
SELECT *
FROM tickers'''
print(sql)

SELECT *
FROM tickers

In [53]:
tickers_lt = pd.read_sql(sql, conlt)
tickers_lt.shape

(390, 9)

In [72]:
tickers_my = pd.read_sql(sql, conmy)
tickers_my.shape

(394, 9)

In [56]:
tickers_pg = pd.read_sql(sql, conpg)
tickers_pg.shape

(390, 9)

In [58]:
df_merge = pd.merge(tickers_my, tickers_pg, on='name', how='outer', indicator=True)
df_merge.shape

(394, 18)

In [64]:
mask = df_merge[df_merge['_merge'] == 'left_only']
mask

,id_x,name,full_name_x,sector_x,subsector_x,market_x,website_x,created_at_x,updated_at_x,id_y,full_name_y,sector_y,subsector_y,market_y,website_y,created_at_y,updated_at_y,_merge
66,123,CPNRF,CPN RETAIL GROWTH LEASEHOLD PROPERTY FUND,Property & Construction,Property Fund & REITs,SET,www.cpnrf.com,2017-07-23 06:30:59.112057,2017-07-23 06:30:59.112057,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,left_only
192,371,PRANDA,PRANDA JEWELRY PUBLIC COMPANY LIMITED,Consumer Products,Fashion,SET,www.pranda.com,2017-07-23 06:31:35.415945,2017-07-23 06:31:35.415945,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,left_only
330,641,EARTH,ENERGY EARTH PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET,www.energyearth.co.th,2017-10-13 05:33:23.108360,2017-10-13 05:33:23.108360,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,left_only
335,651,GOLDPF,GOLD PROPERTY FUND (LEASE HOLD),Property & Construction,Property Fund & REITs,SET,No url,2017-12-21 13:59:33.202830,2017-12-21 13:59:33.202830,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,left_only

In [76]:
names = mask['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'CPNRF', 'PRANDA', 'EARTH', 'GOLDPF'"

In [77]:
sql = '''
DELETE FROM tickers
WHERE name IN (%s)'''
sql = sql % in_p
print(sql)

DELETE FROM tickers
WHERE name IN ('CPNRF', 'PRANDA', 'EARTH', 'GOLDPF')

In [78]:
rp = conmy.execute(sql)
rp.rowcount

4

In [80]:
sql = '''
SELECT *
FROM tickers'''
tickers_my = pd.read_sql(sql, conmy)
tickers_my.shape

(390, 9)

In [83]:
sql = '''
SELECT *
FROM epss
WHERE publish_date  >= "2018-10-01"'''
epss_lt = pd.read_sql(sql, conlt)
epss_lt.shape

(3966, 14)