### Restart and Run All Cells

In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\pj-all\\db\\development.sqlite3")
conall = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\pj-web\\db\\development.sqlite3")
conweb = engine.connect()

### Start of Profits section

In [25]:
sql = """
SELECT *
FROM profits 
ORDER BY id"""
profits = pd.read_sql(sql, conlt)
profits.shape

(117, 23)

In [26]:
sql = """
SELECT name, year, quarter, publish_date
FROM epss"""
epss = pd.read_sql(sql, conlt)
epss.shape

(9108, 4)

In [27]:
df_merge = pd.merge(
    profits, epss, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.shape

(9108, 25)

In [28]:
prf_eps = df_merge[df_merge["_merge"] == "both"]
prf_eps.shape

(117, 25)

In [29]:
columns = ["id", "ticker_id", "_merge"]
prf_eps_2 = prf_eps.drop(columns, axis=1)
prf_eps_2.shape

(117, 22)

In [30]:
df_merge = pd.merge(prf_eps_2, tickers, on="name", how="inner")
df_merge.shape

(117, 23)

In [31]:
rcds = df_merge.values.tolist()
len(rcds)

117

In [32]:
#for rcd in rcds:
#    print(rcd)

In [33]:
for rcd in rcds:
    conpg.execute(
        """INSERT INTO profits (name, year, quarter, kind,\
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,\
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,\
q_amt_c, y_amt, inc_amt_py, inc_pct_py,\
q_amt_p, inc_amt_pq, inc_pct_pq,\
mean_pct, std_pct, publish_date, ticker_id)\
VALUES( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",
        rcd,
    )

### End of Profits section

In [34]:
sql = '''
SELECT * FROM profits
ORDER BY name, year DESC, quarter DESC'''
profits = pd.read_sql(sql, conpg)
profits.shape

(117, 24)

In [35]:
profits2 = profits.drop('id',axis=1)
profits2.shape

(117, 23)

In [36]:
dfc_hi = profits2.sort_values(['name','year','quarter'], ascending=False)
dfc_hi.shape

(117, 23)

In [37]:
dfc_hi_uniq = dfc_hi.drop_duplicates(subset='name')
dfc_hi_uniq.shape

(117, 23)

In [38]:
rcds = dfc_hi_uniq.values.tolist()
len(rcds)

117

In [39]:
#for rcd in rcds:
#    print(rcd)

In [40]:
sql = '''
DELETE FROM profits'''
print(sql)

DELETE FROM profits

In [41]:
rp = conpg.execute(sql)
rp.rowcount

117

In [42]:
for rcd in rcds:
    conpg.execute("""INSERT INTO profits (name, year, quarter, kind,\
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,\
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,\
q_amt_c, y_amt, inc_amt_py, inc_pct_py,\
q_amt_p, inc_amt_pq, inc_pct_pq,\
mean_pct, std_pct, publish_date, ticker_id)\
VALUES( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""", rcd)

In [43]:
sql = '''
SELECT * FROM profits
ORDER BY name'''
profits = pd.read_sql(sql, conpg)
profits.head().style.format(format_dict)