In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
import calendar
import sqlite3 as db

pd.options.display.max_rows = 34

engine = create_engine("sqlite:///c:\\ruby\\do-poop\\db\\development.sqlite3")
conn = engine.connect()

In [2]:
sql = '''
SELECT * 
FROM poops
'''
poops = pd.read_sql(sql, conn)
poops.dtypes

id           int64
date        object
pooped      object
hour         int64
grade        int64
snack_id     int64
food_id      int64
dtype: object

In [26]:
sqlUpd = """
UPDATE poops
SET food_id = 1"""
rp = conn.execute(sqlUpd)
rp.rowcount

7

In [3]:
sql = '''
SELECT * 
FROM snacks
'''
snacks = pd.read_sql(sql, conn)
snacks.dtypes

id       int64
seq      int64
name    object
dtype: object