In [1]:
#%load_ext nb_black
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

output_path = "../data/"
year = 2021
quarter = 4

### Start of Loop

### Daily Prices

In [2]:
sql = """
SELECT D.name, D.ticker_id, T.name, T.id
FROM daily_prices D
JOIN tickers T ON D.name = T.name
ORDER BY D.name
"""
daily_prices = pd.read_sql(sql, conmy)
daily_prices

      name  ticker_id    name   id
0   ADVANC          6  ADVANC    6
1       AP         25      AP   25
2      BCH         51     BCH   51
3     BFIT         58    BFIT   58
4      CBG         87     CBG   87
5      CPF        117     CPF  117
6      DRT        143     DRT  143
7     EGCO        157    EGCO  157
8   FSMART        178  FSMART  178
9     GPSC        197    GPSC  197
10  GUNKUL        202  GUNKUL  202
11   HREIT        211   HREIT  211
12   JASIF        234   JASIF  234
13     ORI        339     ORI  339
14     OSP        681     OSP  681
15     PRM        639     PRM  639
16     PTG        381     PTG  381
17   SAWAD        423   SAWAD  423
18     SCC        427     SCC  427
19    SCCC        428    SCCC  428
20    SENA        437    SENA  437
21    SMPC        455    SMPC  455
22     STA        481     STA  481
23    TCAP        503    TCAP  503
24   TPIPP        560   TPIPP  560
25   TTLPF        707   TTLPF  707

### Portfolios

In [3]:
sql = """
SELECT P.name, P.ticker_id, T.name, T.id
FROM portfolios P
JOIN tickers T ON P.name = T.name
ORDER BY P.name
"""
portfolios = pd.read_sql(sql, conmy)
portfolios

      name  ticker_id    name   id
0   ADVANC          6  ADVANC    6
1    AMATA         21   AMATA   21
2    BANPU         47   BANPU   47
3     BFIT         58    BFIT   58
4      BJC         65     BJC   65
5     DTAC        144    DTAC  144
6   FSMART        178  FSMART  178
7      IVL        231     IVL  231
8    JASIF        234   JASIF  234
9      KKP        255     KKP  255
10      LH        267      LH  267
11     MCS        293     MCS  293
12   NOBLE        328   NOBLE  328
13     ORI        339     ORI  339
14     PRM        639     PRM  639
15   PTTEP        384   PTTEP  384
16   PTTGC        385   PTTGC  385
17   RATCH        394   RATCH  394
18   ROJNA        404   ROJNA  404
19     SAT        421     SAT  421
20   SYNEX        495   SYNEX  495
21     TTW        581     TTW  581
22     WHA        619     WHA  619

In [4]:
sql = '''
DELETE FROM portfolios
WHERE name NOT IN 
(SELECT name FROM daily_prices)
'''
rp = conmy.execute(sql)
rp.rowcount

19

### Profits

In [3]:
sql = """
SELECT *
FROM profits
ORDER BY name
"""
profits = pd.read_sql(sql, conmy)
profits

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2333,2S,2021,4,0,737516,410165,327351,79.81,737516,...,50123,100904,-50781,-50.326052,164531,-114408,-69.535832,727,-11.622971,66.429610
1,2291,ASIAN,2021,4,0,1044316,818056,226260,27.66,1044316,...,265123,210780,54343,25.781858,271055,-5932,-2.188486,36,14.185843,14.829664
2,2283,ASK,2021,4,1,1202804,883064,319740,36.21,1202804,...,343187,220691,122496,55.505662,314336,28851,9.178395,38,28.058514,22.028468
3,2263,ASP,2021,4,1,978355,415294,563061,135.58,978355,...,200528,130030,70498,54.216719,196907,3621,1.838939,40,49.851415,61.764309
4,2331,BAM,2021,4,1,2600215,1840621,759594,41.27,2600215,...,986621,795172,191449,24.076426,576326,410295,71.191478,709,37.136976,25.682250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2304,TSE,2021,4,0,492706,421429,71277,16.91,492706,...,-100342,101402,-201744,-198.954656,208368,-308710,-148.156147,573,-89.812701,100.660758
65,2294,TU,2021,4,0,8012996,6246090,1766906,28.29,8012996,...,1930444,1457482,472962,32.450624,1936793,-6349,-0.327810,582,16.670703,16.136274
66,2327,TVO,2021,4,0,2067611,1655800,411811,24.87,2067611,...,99246,466155,-366909,-78.709657,359733,-260487,-72.411205,585,-35.330215,49.299486
67,2328,VIBHA,2021,4,1,1805051,449801,1355250,301.30,1805051,...,691102,312529,378573,121.132119,650542,40560,6.234801,610,113.576730,134.848394
68,2307,VNT,2021,4,0,7126044,2172741,4953303,227.97,7126044,...,1864898,730784,1134114,155.191411,2082517,-217619,-10.449807,613,97.910401,112.807287

In [2]:
sql_del = """
DELETE
FROM profits
WHERE name IN ('2S','GGC','MBKET','SGP','UOBKH')
"""
rp = conmy.execute(sql_del)
rp.rowcount

1

In [3]:
sql = """
SELECT P.name, T.id
FROM profits P
JOIN tickers T
ON P.name = T.name
ORDER BY P.name
"""
profits = pd.read_sql(sql, conmy)
profits.head(10)

     name   id
0     BCH   51
1     BLA   70
2     CHG   98
3     CKP  107
4    COM7  114
5  DOHOME  701
6     EPG  162
7     GGC  188
8  GLOBAL  193
9    GULF  653

In [4]:
sql = """
DELETE 
FROM profits
WHERE name IN ('PTG')
"""
rp = conmy.execute(sql)
rp.rowcount

1

In [8]:
sql = """
SELECT *
FROM profits
ORDER BY name
"""
profits = pd.read_sql(sql, conmy)
profits.shape[0]

34

### Tickers

In [9]:
sql = '''
SELECT * 
FROM tickers
'''
tickers = pd.read_sql(sql, conpg)
tickers.shape

(399, 9)

In [11]:
rcds = tickers_inp.values.tolist()
len(rcds)

NameError: name 'tickers_inp' is not defined

In [ ]:
for rcd in rcds:
    print(rcd)

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO tickers (id, name, full_name, sector, \
subsector, market, website, created_at, \
updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM tickers ORDER BY id'
tickers_out = pd.read_sql(sql, conmy)
tickers_out.tail()

### End of Tickers

### Stocks

In [12]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_inp = pd.read_sql(sql, conlt)
stocks_inp.tail()

NameError: name 'conlt' is not defined

In [ ]:
rcds = stocks_inp.values.tolist()
len(rcds)

In [ ]:
for rcd in rcds:
    print(rcd)

In [ ]:
sql = 'DELETE FROM stocks'
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO stocks (id, name, market, price, \
max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, \
created_at, updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_out = pd.read_sql(sql, conmy)
stocks_out.tail()

### Consensus

In [ ]:
sql = 'SELECT * FROM consensus ORDER BY id'
consensus_inp = pd.read_sql(sql, conlt)
consensus_inp.tail()

In [ ]:
consensus_inp = consensus_inp.drop(['created_at', 'updated_at'], axis=1)

In [ ]:
rcds = consensus_inp.values.tolist()
len(rcds)

In [ ]:
len(consensus_inp.columns)

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO consensus (id, name, price, buy, hold, sell, \
eps_a, eps_b, pe, pbv, yield, target_price, status, ticker_id) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

### Portfolios table

In [13]:
sql = "SELECT name, id AS ticker_id FROM tickers"
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
620    SPRIME        674
621  SUPEREIF        675
622      THAI        527
623      TTCL        589
624     TTLPF        676

In [4]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

NameError: name 'portfolios' is not defined

In [10]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

NameError: name 'df_merge' is not defined

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

1

### Check common stocks in profits & portfolios

In [5]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

(17, 20)

In [6]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df.shape

NameError: name 'profits' is not defined

In [12]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df[df['_merge'] == 'left_only']

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,att_cost_amt,last_sell_price,target_sell_price,buy_method,sell_method,ticker_id_y,created_at,updated_at,sell_qty,_merge
0,1515.0,BEM,2019.0,2.0,1.0,7579661.0,3412480.0,4167181.0,122.115910,7579661.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1510.0,CBG,2019.0,2.0,1.0,1739715.0,988908.0,750807.0,75.922836,1739715.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1543.0,COM7,2019.0,2.0,1.0,1044232.0,754060.0,290172.0,38.481288,1044232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1486.0,KTB,2019.0,2.0,1.0,29467687.0,25183660.0,4284027.0,17.011137,29467687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,1538.0,PLANB,2019.0,2.0,1.0,685465.0,530327.0,155138.0,29.253272,685465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,1530.0,ROJNA,2019.0,2.0,1.0,1565310.0,537045.0,1028265.0,191.467195,1565310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,1532.0,TASCO,2019.0,2.0,1.0,1909764.0,1380929.0,528835.0,38.295597,1909764.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,1513.0,WHAUP,2019.0,2.0,1.0,2521590.0,2019649.0,501941.0,24.852883,2521590.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Delete records from profits en mass

In [2]:
year = 2019
quarter = 3

In [9]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

"'ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP'"

In [10]:
for rcd in rcds:
    conpg.execute(sql, rcd)

DELETE FROM profits
WHERE name IN ('ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP')
AND year = 2019 AND quarter = 3

In [11]:
rp = conmy.execute(sql)
rp.rowcount

1

### Delete all record where quarter = 4

In [ ]:
sql = '''
DELETE FROM profits 
WHERE year = %s AND quarter = %s
'''
sql = sql % (year, quarter)
print(sql)

In [ ]:
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
sql = '''
SELECT * FROM profits WHERE year = %s AND quarter = %s
ORDER BY name'''
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conmy)
profits

### Export portfolis from PortMy to PortPg

In [11]:
sql = '''
SELECT *
FROM portfolios
'''
portfolios = pd.read_sql(sql, conmy)
portfolios.dtypes

id                     int64
name                  object
date                  object
buy_qty                int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id              int64
created_at            object
updated_at            object
sell_qty               int64
dtype: object

In [12]:
sql = 'SELECT name, id AS ticker_id FROM tickers'
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
621    SPRIME        674
622  SUPEREIF        675
623      THAI        527
624      TTCL        589
625     TTLPF        676

In [13]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

Index(['id', 'name', 'date', 'buy_qty', 'comp_qty', 'att_qty', 'buy_unit_cost',
       'comp_unit_cost', 'att_unit_cost', 'buy_cost_amt', 'comp_cost_amt',
       'att_cost_amt', 'last_sell_price', 'target_sell_price', 'buy_method',
       'sell_method', 'ticker_id_x', 'created_at', 'updated_at', 'sell_qty',
       'ticker_id_y'],
      dtype='object')

In [14]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

name                  object
date                  object
buy_qty                int64
sell_qty               int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id_y            int64
created_at            object
updated_at            object
dtype: object

In [15]:
sql = """
DELETE FROM portfolios"""
rp = conpg.execute(sql)
rp.rowcount

16

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

16

In [17]:
for rcd in rcds:
    print(rcd)

['IVL', '2018-04-05', 3000, 3000, 15000, 18000, 28.0, 49.0, 45.5, 84000, 735000, 819000, 59.0, 41.0, 2, 2, 238, '2018-04-05 02:48:06.687907', '2019-11-30 15:29:32.379233']
['LH', '2019-02-10', 0, 36000, 45000, 45000, 10.3, 11.1, 11.1, 0, 499500, 499500, 0.0, 11.2, 2, 0, 275, '2019-02-10 16:23:53.431245', '2019-08-28 13:56:34.903384']
['SAT', '2019-02-17', 10000, 50000, 50000, 60000, 14.9, 19.1, 18.4, 149000, 955000, 1104000, 20.1, 19.2, 2, 2, 427, '2019-02-17 08:36:22.989392', '2019-12-06 14:40:18.853694']
['PTTGC', '2019-06-23', 0, 3000, 9000, 9000, 49.5, 75.5, 75.5, 0, 679500, 679500, 0.0, 67.75, 2, 2, 391, '2019-06-23 16:37:36.297845', '2019-09-14 17:19:13.946449']
['AMATA', '2019-07-07', 3000, 7000, 21000, 24000, 19.5, 23.5, 23.0, 58500, 493500, 552000, 0.0, 27.75, 2, 0, 24, '2019-07-07 17:00:05.670265', '2019-11-29 04:21:00.820834']
['ORI', '2019-07-07', 12000, 60000, 60000, 72000, 6.0, 10.2, 9.5, 72000, 612000, 684000, 0.0, 10.2, 2, 2, 347, '2019-07-07 17:01:13.522345', '2019-11-16 15:45:08.939918']
['SYNEX', '2019-07-07', 0, 33000, 33000, 33000, 9.2, 12.9, 12.9, 0, 425700, 425700, 0.0, 9.0, 2, 2, 504, '2019-07-07 17:07:50.562474', '2019-11-16 16:18:51.271429']
['CPNREIT', '2019-07-07', 6000, 3000, 30000, 36000, 26.5, 22.3, 23.0, 159000, 669000, 828000, 37.0, 33.5, 2, 0, 127, '2019-07-07 17:09:36.316288', '2019-12-13 14:52:19.234472']
['PTTEP', '2019-07-30', 1200, 1200, 3600, 4800, 113.0, 125.0, 122.0, 135600, 450000, 585600, 0.0, 137.5, 2, 2, 390, '2019-07-30 16:02:27.870540', '2019-08-26 06:49:45.562553']
['BANPU', '2019-08-12', 0, 8000, 24000, 24000, 11.8, 18.1, 18.1, 0, 434400, 434400, 0.0, 12.9, 2, 2, 51, '2019-08-12 16:17:52.268307', '2019-11-15 16:46:43.651999']
['ROJNA', '2019-08-18', 15000, 25000, 90000, 105000, 4.6, 6.35, 6.1, 69000, 571500, 640500, 0.0, 7.25, 2, 2, 409, '2019-08-18 14:42:49.849307', '2019-12-09 14:21:31.594031']
['JASIF', '2019-10-05', 0, 2000, 128000, 128000, 10.6, 10.1, 10.1, 0, 1292800, 1292800, 10.6, 11.3, 2, 2, 241, '2019-10-05 14:45:48.514836', '2019-11-26 15:56:09.265727']
['FSMART', '2019-11-09', 6000, 60000, 66000, 72000, 5.5, 10.3, 9.9, 33000, 679800, 712800, 0.0, 10.7, 2, 2, 183, '2019-11-09 15:16:48.185104', '2019-11-16 15:43:32.242263']
['MCS', '2019-11-11', 10000, 25000, 75000, 85000, 9.25, 16.9, 16.0, 92500, 1267500, 1360000, 0.0, 12.9, 2, 2, 301, '2019-11-11 06:55:39.662226', '2019-11-28 09:00:51.564901']
['NOBLE', '2019-11-19', 5000, 5000, 20000, 25000, 14.4, 16.4, 16.0, 72000, 328000, 400000, 0.0, 20.4, 2, 2, 336, '2019-11-19 03:13:49.142639', '2019-12-28 14:14:38.706873']
['SUPER', '2019-11-19', 200000, 0, 0, 200000, 0.5, 0.0, 0.5, 100000, 0, 100000, 0.0, 0.0, 2, 2, 496, '2019-11-19 03:16:46.210950', '2019-11-19 03:16:46.210950']

In [18]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

In [19]:
for rcd in rcds:
    conpg.execute(sql, rcd)