In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {
    'qty':'{:,}','price':'{:.2f}','amount':'{:,.2f}'
}
cols = 'trade name qty price active'.split()

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 2, 26), datetime.date(2022, 2, 25))

In [2]:
#yesterday = date(2021, 5, 14)
yesterday

datetime.date(2022, 2, 25)

### Consensus table

In [5]:
sql = '''
SELECT * FROM consensus ORDER BY name'''
css = pd.read_sql(sql, conlite)
css

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,consensus_price,status,stock_id
0,2415,AAV,2.64,3,2,1,-0.48,0.04,-5.5,1.1,0.0,2.73,Z,NaN
1,2722,ABM,1.37,1,0,0,0.13,0.16,10.5,1.2,3.6,2.51,Z,NaN
2,2754,ABPIF,2.56,0,0,1,0.25,-1.19,10.2,1.1,9.8,2.04,Z,NaN
3,2775,ACE,3.64,2,0,0,0.21,0.32,17.3,2.7,1.4,5.10,Z,NaN
4,2680,ADB,0.76,0,0,0,0.01,0.02,76.0,0.8,1.3,0.00,Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,2753,WP,5.10,0,0,1,0.39,0.49,13.1,1.9,3.5,4.70,Z,NaN
408,2674,WPH,3.26,0,0,0,0.07,0.11,46.6,1.8,0.9,0.00,Z,NaN
409,2648,XO,12.90,1,0,0,0.76,0.79,17.0,4.6,3.0,15.30,Z,NaN
410,2750,ZEN,11.60,3,1,0,0.31,0.49,37.4,2.8,1.7,14.10,Z,NaN
411,2649,ZIGA,6.00,1,0,0,0.33,0.32,18.2,0.0,3.8,7.15,Z,NaN

### Matching check with profits in portmy database

In [5]:
sql = '''
SELECT *
FROM stocks
WHERE qty = 0
ORDER BY name'''
df_stk = pd.read_sql(sql, conlite)
df_stk

,id,name,max_price,min_price,status,buy_target,sell_target,volume,beta,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,reason,market
0,705,ASIAN,0.0,0.00,O,15.20,0,0.00,0.00,0.00,0,-4,4,0,0,0,,SET
1,706,BAM,0.0,0.00,O,20.50,0,0.00,0.00,0.00,0,-4,4,0,0,0,,SET100
2,707,BDMS,0.0,0.00,O,23.20,0,0.00,0.00,0.00,0,-4,4,0,0,0,,SET50
3,708,CHG,0.0,0.00,O,3.36,0,0.00,0.00,0.00,0,-4,4,0,0,0,,SET100
4,709,GLOBAL,0.0,0.00,O,19.40,0,0.00,0.00,0.00,0,-4,4,0,0,0,,SET50
5,526,HREIT,9.3,7.35,T,0.00,0,4.80,0.33,8.95,0,-5,5,30000,0,12,RD03%,SET
6,710,IMH,0.0,0.00,O,21.00,0,0.00,0.00,0.00,0,-4,4,0,0,0,,mai
7,711,SENA,0.0,0.00,O,4.90,0,0.00,0.00,0.00,0,-4,4,0,0,0,,SET
8,703,SMPC,14.2,10.00,X,0.00,0,17.27,0.58,0.00,0,-4,4,0,0,0,,SET
9,712,TPIPL,0.0,0.00,O,1.70,0,0.00,0.00,0.00,0,-4,4,0,0,0,,SET
10,713,TU,0.0,0.00,O,19.80,0,0.00,0.00,0.00,0,-4,4,0,0,0,,SET50
11,714,VIBHA,0.0,0.00,O,2.22,0,0.00,0.00,0.00,0,-4,4,0,0,0,,SET

In [4]:
sql = '''
SELECT *
FROM profits
ORDER BY name'''
df_prf = pd.read_sql(sql, conmy)
df_prf.shape

(60, 23)

In [5]:
df_merge = pd.merge(df_prf,df_stk,on='name',how='outer',indicator=True)
df_merge.shape

(73, 41)

In [6]:
left_mask= df_merge._merge == 'left_only'
df_merge[left_mask]

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,volume,beta,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,_merge
0,2016.0,AP,2021.0,1.0,1.0,5010831.0,2607844.0,2402987.0,92.14,5010831.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,2031.0,DRT,2021.0,1.0,1.0,585184.0,527811.0,57373.0,10.87,585184.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
51,2030.0,TCCC,2021.0,1.0,1.0,1702328.0,943810.0,758518.0,80.37,1702328.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [7]:
right_mask= df_merge._merge == 'right_only'
df_merge[right_mask]

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,volume,beta,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,_merge
60,NaN,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1189.41,0.64,190.00,300.0,-13.0,12.0,600.0,0.0,0.0,right_only
61,NaN,AMATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,276.45,1.46,24.00,3000.0,-13.0,14.0,12000.0,0.0,12.0,right_only
62,NaN,CPNCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.60,0.39,10.70,10000.0,-4.0,4.0,10000.0,0.0,0.0,right_only
63,NaN,DIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,195.96,0.24,14.70,10000.0,-5.0,5.0,100000.0,0.0,0.0,right_only
64,NaN,GVREIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.52,0.22,10.50,10000.0,-9.0,5.0,10000.0,0.0,0.0,right_only
65,NaN,JASIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,112.30,0.21,10.10,3500.0,-5.0,4.0,100000.0,0.0,0.0,right_only
66,NaN,LH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,459.36,1.09,11.15,6000.0,-6.0,5.0,42000.0,0.0,12.0,right_only
67,NaN,MC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.75,0.58,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,right_only
68,NaN,NOBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106.66,0.54,8.60,6000.0,-15.0,16.0,18000.0,0.0,0.0,right_only
69,NaN,POPF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.59,0.25,10.90,10000.0,-4.0,4.0,10000.0,0.0,0.0,right_only
70,NaN,SUPEREIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.97,0.31,10.90,10000.0,-4.0,4.0,10000.0,0.0,0.0,right_only
71,NaN,TCAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,286.66,1.06,35.90,5000.0,-12.0,12.0,5000.0,3.0,0.0,right_only
72,NaN,TTLPF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.09,-0.11,21.70,1000.0,-8.0,7.0,8800.0,0.0,0.0,right_only

In [9]:
both_mask= df_merge._merge == 'both'
df_merge[both_mask]

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,volume,beta,cost,qty,buy_spread,sell_spread,available_qty,bl,sh,_merge
1,1984.0,ASIAN,2021.0,1.0,1.0,928093.0,177942.0,750151.0,421.57,928093.0,...,256.10,0.49,12.40,5000.0,-11.0,15.0,25000.0,0.0,12.0,both
2,1935.0,ASK,2021.0,1.0,1.0,958779.0,874555.0,84224.0,9.63,958779.0,...,58.67,0.77,0.00,5000.0,-4.0,4.0,0.0,0.0,0.0,both
3,2007.0,BCH,2021.0,1.0,1.0,1294039.0,1145941.0,148098.0,12.92,1294039.0,...,351.06,0.44,0.00,5000.0,-4.0,4.0,0.0,1.0,0.0,both
4,2020.0,BGC,2021.0,1.0,1.0,537823.0,510234.0,27589.0,5.41,537823.0,...,26.00,0.77,9.90,10000.0,-12.0,14.0,20000.0,0.0,12.0,both
5,2011.0,BKI,2021.0,1.0,1.0,2852925.0,2538062.0,314863.0,12.41,2852925.0,...,19.73,0.13,275.00,300.0,-4.0,4.0,300.0,0.0,0.0,both
6,2013.0,CHG,2021.0,1.0,0.0,941917.0,712417.0,229500.0,32.21,941917.0,...,207.95,0.36,0.00,0.0,-7.0,8.0,0.0,0.0,0.0,both
7,1949.0,COM7,2021.0,1.0,1.0,1768408.0,1254088.0,514320.0,41.01,1768408.0,...,808.08,0.55,38.75,7800.0,-12.0,16.0,0.0,0.0,0.0,both
8,1990.0,CPF,2021.0,1.0,1.0,26856926.0,20287329.0,6569597.0,32.38,26856926.0,...,1358.74,0.93,32.00,10000.0,-9.0,9.0,10000.0,0.0,12.0,both
9,1923.0,DCC,2021.0,1.0,1.0,1711210.0,1033969.0,677241.0,65.50,1711210.0,...,112.76,0.33,2.34,40000.0,-7.0,8.0,40000.0,0.0,12.0,both
10,1907.0,DELTA,2021.0,1.0,1.0,8001920.0,2730385.0,5271535.0,193.07,8001920.0,...,1703.02,1.83,0.00,300.0,-4.0,4.0,0.0,0.0,0.0,both
11,2015.0,DOHOME,2021.0,1.0,1.0,1092533.0,656129.0,436404.0,66.51,1092533.0,...,288.59,0.55,0.00,4500.0,-4.0,4.0,0.0,0.0,0.0,both
13,1939.0,EGCO,2021.0,1.0,0.0,9731861.0,8896644.0,835217.0,9.39,9731861.0,...,433.32,0.93,260.00,900.0,-17.0,16.0,900.0,0.0,0.0,both
14,1926.0,GC,2021.0,1.0,1.0,169017.0,119050.0,49967.0,41.97,169017.0,...,5.04,0.36,7.00,3000.0,-4.0,5.0,3000.0,0.0,12.0,both
15,1924.0,GLOBAL,2021.0,1.0,1.0,2305813.0,2167689.0,138124.0,6.37,2305813.0,...,301.65,0.70,0.00,0.0,-11.0,11.0,0.0,0.0,0.0,both
16,2010.0,GULF,2021.0,1.0,0.0,6327529.0,3180621.0,3146908.0,98.94,6327529.0,...,889.54,0.97,0.00,3000.0,-11.0,13.0,0.0,6.0,0.0,both
17,1988.0,GUNKUL,2021.0,1.0,0.0,3581829.0,2361537.0,1220292.0,51.67,3581829.0,...,535.25,1.02,2.70,10000.0,-8.0,9.0,40000.0,0.0,12.0,both
18,1996.0,HANA,2021.0,1.0,0.0,2005220.0,1705046.0,300174.0,17.61,2005220.0,...,824.95,0.58,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,both
19,2001.0,HREIT,2021.0,1.0,1.0,732493.0,711113.0,21380.0,3.01,732493.0,...,5.30,0.27,8.03,15000.0,-5.0,5.0,30000.0,0.0,6.0,both
20,1925.0,IVL,2021.0,1.0,1.0,7852368.0,2115100.0,5737268.0,271.25,7852368.0,...,1356.59,1.64,46.25,3000.0,-16.0,16.0,10000.0,0.0,12.0,both
21,1992.0,JMART,2021.0,1.0,1.0,1026552.0,520330.0,506222.0,97.29,1026552.0,...,453.61,0.77,0.00,3000.0,-4.0,4.0,0.0,0.0,0.0,both
22,1993.0,JMT,2021.0,1.0,0.0,1123058.0,743646.0,379412.0,51.02,1123058.0,...,377.68,0.41,0.00,2500.0,-9.0,14.0,0.0,0.0,0.0,both
23,1943.0,KCE,2021.0,1.0,1.0,1205287.0,1090736.0,114551.0,10.50,1205287.0,...,982.87,0.62,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,both
24,2032.0,LALIN,2021.0,1.0,0.0,1405725.0,885626.0,520099.0,58.73,1405725.0,...,7.48,0.63,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,both
25,1931.0,MCS,2021.0,1.0,1.0,971658.0,755434.0,216224.0,28.62,971658.0,...,63.87,0.48,16.70,4000.0,-7.0,9.0,80000.0,6.0,12.0,both
26,1995.0,MEGA,2021.0,1.0,0.0,1406222.0,1204789.0,201433.0,16.72,1406222.0,...,165.92,0.37,0.00,3000.0,-11.0,13.0,0.0,1.0,0.0,both
27,2014.0,MTC,2021.0,1.0,1.0,5350238.0,4469447.0,880791.0,19.71,5350238.0,...,792.18,0.96,61.25,1500.0,-17.0,16.0,3000.0,3.0,0.0,both
28,2017.0,NER,2021.0,1.0,0.0,1165281.0,497842.0,667439.0,134.07,1165281.0,...,479.30,0.12,0.00,0.0,-13.0,14.0,0.0,0.0,0.0,both
29,1960.0,ORI,2021.0,1.0,1.0,2891841.0,2901660.0,-9819.0,-0.34,2891841.0,...,173.27,1.04,9.35,5000.0,-16.0,18.0,55000.0,0.0,12.0,both
30,1958.0,PM,2021.0,1.0,1.0,451932.0,250288.0,201644.0,80.56,451932.0,...,6.15,0.50,0.00,10000.0,-4.0,4.0,0.0,0.0,0.0,both
31,1989.0,PRM,2021.0,1.0,0.0,1666901.0,1068523.0,598378.0,56.00,1666901.0,...,248.35,0.78,8.65,3000.0,-15.0,21.0,33000.0,3.0,12.0,both
32,1991.0,PTG,2021.0,1.0,0.0,2222132.0,1244258.0,977874.0,78.59,2222132.0,...,642.07,0.77,16.30,5000.0,-16.0,16.0,0.0,1.0,0.0,both
33,1997.0,PTT,2021.0,1.0,1.0,71907779.0,62084169.0,9823610.0,15.82,71907779.0,...,2924.73,1.25,0.00,2400.0,-4.0,4.0,0.0,6.0,0.0,both
34,1921.0,PTTEP,2021.0,1.0,1.0,25585211.0,44935859.0,-19350648.0,-43.06,25585211.0,...,1438.11,1.26,116.00,1000.0,-4.0,4.0,1000.0,0.0,0.0,both
35,2018.0,PTTGC,2021.0,1.0,1.0,18678590.0,-3544689.0,22223279.0,626.95,18678590.0,...,1262.92,1.46,68.00,1000.0,-14.0,11.0,7000.0,3.0,12.0,both
36,2012.0,RATCH,2021.0,1.0,0.0,7013715.0,5582839.0,1430876.0,25.63,7013715.0,...,283.88,0.68,52.00,3000.0,-17.0,21.0,3000.0,0.0,3.0,both
37,1936.0,RJH,2021.0,1.0,0.0,436349.0,266245.0,170104.0,63.89,436349.0,...,16.14,0.43,0.00,3000.0,-4.0,4.0,0.0,3.0,0.0,both
38,2027.0,ROJNA,2021.0,1.0,0.0,2483424.0,618652.0,1864772.0,301.43,2483424.0,...,63.14,0.72,6.35,5000.0,-7.0,6.0,15000.0,0.0,24.0,both
39,2028.0,SAWAD,2021.0,1.0,1.0,4836398.0,3946325.0,890073.0,22.55,4836398.0,...,1366.93,1.15,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,both
40,1922.0,SCC,2021.0,1.0,1.0,42086625.0,27323094.0,14763531.0,54.03,42086625.0,...,1347.36,0.71,460.00,100.0,-17.0,16.0,200.0,0.0,12.0,both
41,1986.0,SCCC,2021.0,1.0,1.0,3918109.0,2877924.0,1040185.0,36.14,3918109.0,...,61.52,0.68,170.00,600.0,-16.0,16.0,600.0,0.0,12.0,both
42,1987.0,SENA,2021.0,1.0,0.0,1118457.0,960564.0,157893.0,16.44,1118457.0,...,11.01,0.91,4.02,10000.0,-11.0,11.0,60000.0,0.0,24.0,both
43,2019.0,SGP,2021.0,1.0,1.0,2908691.0,1275083.0,1633608.0,128.12,2908691.0,...,103.07,0.79,12.30,6000.0,-4.0,4.0,9000.0,0.0,0.0,both
44,1948.0,SINGER,2021.0,1.0,1.0,496524.0,212739.0,283785.0,133.40,496524.0,...,221.56,0.52,0.00,2000.0,-4.0,4.0,0.0,0.0,0.0,both
45,1952.0,SIS,2021.0,1.0,1.0,658058.0,459628.0,198430.0,43.17,658058.0,...,112.41,0.91,17.40,6000.0,-11.0,18.0,0.0,0.0,0.0,both
46,2003.0,SMPC,2021.0,1.0,1.0,586969.0,436599.0,150370.0,34.44,586969.0,...,15.24,0.39,11.40,4000.0,-9.0,12.0,24000.0,6.0,3.0,both
47,1951.0,STA,2021.0,1.0,1.0,14635570.0,1333289.0,13302281.0,997.70,14635570.0,...,1774.95,-0.34,30.00,3000.0,-10.0,15.0,0.0,3.0,0.0,both
48,2029.0,SUC,2021.0,1.0,0.0,1107419.0,802294.0,305125.0,38.03,1107419.0,...,1.51,0.18,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,both
49,1947.0,SYNEX,2021.0,1.0,1.0,695419.0,471477.0,223942.0,47.50,695419.0,...,216.87,0.81,0.00,4000.0,-10.0,15.0,0.0,1.0,0.0,both
50,1956.0,TASCO,2021.0,1.0,0.0,4797759.0,1621884.0,3175875.0,195.81,4797759.0,...,586.02,0.78,0.00,0.0,-4.0,4.0,0.0,0.0,0.0,both
52,1942.0,TIP,2021.0,1.0,1.0,2175605.0,1870830.0,304775.0,16.29,2175605.0,...,36.58,0.37,30.00,3000.0,-7.0,9.0,0.0,0.0,12.0,both
53,2024.0,TISCO,2021.0,1.0,1.0,6345021.0,7024620.0,-679599.0,-9.67,6345021.0,...,705.05,0.81,97.50,1000.0,-15.0,19.0,2000.0,1.0,12.0,both
54,1994.0,TOA,2021.0,1.0,1.0,2279866.0,1950342.0,329524.0,16.90,2279866.0,...,102.11,0.74,35.00,9000.0,-4.0,4.0,0.0,0.0,0.0,both
55,2009.0,TPIPL,2021.0,1.0,1.0,2259219.0,1267373.0,991846.0,78.26,2259219.0,...,76.39,0.59,0.00,0.0,-5.0,7.0,0.0,1.0,0.0,both
56,2002.0,TPIPP,2021.0,1.0,0.0,4599705.0,4591273.0,8432.0,0.18,4599705.0,...,66.40,0.57,4.19,10000.0,-12.0,11.0,60000.0,0.0,12.0,both
57,1985.0,TQM,2021.0,1.0,1.0,724313.0,579999.0,144314.0,24.88,724313.0,...,188.96,0.27,112.00,600.0,-28.0,29.0,900.0,6.0,1.0,both
58,1930.0,TU,2021.0,1.0,1.0,7032761.0,3558706.0,3474055.0,97.62,7032761.0,...,440.94,0.57,13.60,4000.0,-9.0,8.0,14000.0,0.0,15.0,both
59,2004.0,TVO,2021.0,1.0,1.0,2044482.0,1546620.0,497862.0,32.19,2044482.0,...,171.17,0.25,33.00,2000.0,-7.0,9.0,6000.0,0.0,0.0,both

In [7]:
sql = '''
SELECT * FROM SALES ORDER BY name'''
sales = pd.read_sql(sql, conlite)
sales.shape[0]

4120

In [6]:
sql = '''
DELETE FROM sales
WHERE name = "TCAP"'''
rp = conlite.execute(sql)
rp.rowcount

93