In [1]:
import pandas as pd
import os
os.listdir()

['.ipynb_checkpoints',
 '15 Tips and Tricks.ipynb',
 'Combine Multiple CSV Files.ipynb',
 'Seaborn Styler.ipynb',
 'SQLite-main',
 'titanic_pivot.ipynb',
 'train.csv',
 'Web Scraping.ipynb']

In [2]:
# start from Medium Folder
os.chdir('../data/raw')
os.listdir()

['F45-RAW-0107.csv',
 'F45-RAW-0109.csv',
 'F45-RAW-0113.csv',
 'F45-RAW-0114.csv',
 'F45-RAW-0117.csv',
 'F45-RAW-0120.csv',
 'F45-RAW-0121.csv',
 'F45-RAW-0125.csv',
 'F45-RAW-0126.csv',
 'F45-RAW-0127.csv',
 'F45-RAW-0128.csv',
 'F45-RAW-0131.csv',
 'F45-RAW-0204.csv',
 'F45-RAW-0207.csv',
 'F45-RAW-0211.csv',
 'F45-RAW-0214.csv',
 'F45-RAW-0215.csv',
 'F45-RAW-0217.csv',
 'F45-RAW-0218.csv',
 'F45-RAW-0221.csv',
 'F45-RAW-0222.csv',
 'F45-RAW-0223.csv',
 'F45-RAW-0224.csv',
 'F45-RAW-0225.csv',
 'F45-RAW-0228.csv',
 'F45-RAW-0301.csv']

In [3]:
files = [file for file in os.listdir()]
files

['F45-RAW-0107.csv',
 'F45-RAW-0109.csv',
 'F45-RAW-0113.csv',
 'F45-RAW-0114.csv',
 'F45-RAW-0117.csv',
 'F45-RAW-0120.csv',
 'F45-RAW-0121.csv',
 'F45-RAW-0125.csv',
 'F45-RAW-0126.csv',
 'F45-RAW-0127.csv',
 'F45-RAW-0128.csv',
 'F45-RAW-0131.csv',
 'F45-RAW-0204.csv',
 'F45-RAW-0207.csv',
 'F45-RAW-0211.csv',
 'F45-RAW-0214.csv',
 'F45-RAW-0215.csv',
 'F45-RAW-0217.csv',
 'F45-RAW-0218.csv',
 'F45-RAW-0221.csv',
 'F45-RAW-0222.csv',
 'F45-RAW-0223.csv',
 'F45-RAW-0224.csv',
 'F45-RAW-0225.csv',
 'F45-RAW-0228.csv',
 'F45-RAW-0301.csv']

In [4]:
df_raw = pd.concat(map(pd.read_csv, files), ignore_index=True)
df_raw

        name  year quarter                        published
0     AEONTS  2021       3  Fri, 07 Jan 2022 17:21:40 +0700
1     AEONTS  2021       3  Fri, 07 Jan 2022 17:21:40 +0700
2    BMSCITH  2021       2  Thu, 13 Jan 2022 18:37:35 +0700
3        LPF  2021       3  Thu, 13 Jan 2022 17:50:01 +0700
4        TKC  2021       4  Fri, 14 Jan 2022 08:33:42 +0700
..       ...   ...     ...                              ...
879      NRF  2021       4  Tue, 01 Mar 2022 07:14:12 +0700
880      TGH  2021       4  Tue, 01 Mar 2022 06:43:53 +0700
881      JCK  2021       4  Tue, 01 Mar 2022 06:41:30 +0700
882     EVER  2021       4  Tue, 01 Mar 2022 06:41:28 +0700
883      ITD  2021       4  Tue, 01 Mar 2022 06:38:18 +0700

[884 rows x 4 columns]

In [5]:
### First equals to latest published pdf file
df_raw = df_raw.drop_duplicates(subset='name', keep='first')
df_raw.shape

(828, 4)

In [7]:
os.chdir('../clean')
os.listdir()

['F45-CLEAN-0107.csv',
 'F45-CLEAN-0113.csv',
 'F45-CLEAN-0114.csv',
 'F45-CLEAN-0117.csv',
 'F45-CLEAN-0120.csv',
 'F45-CLEAN-0121.csv',
 'F45-CLEAN-0125.csv',
 'F45-CLEAN-0126.csv',
 'F45-CLEAN-0127.csv',
 'F45-CLEAN-0128.csv',
 'F45-CLEAN-0131.csv',
 'F45-CLEAN-0204.csv',
 'F45-CLEAN-0207.csv',
 'F45-CLEAN-0211.csv',
 'F45-CLEAN-0214.csv',
 'F45-CLEAN-0215.csv',
 'F45-CLEAN-0217.csv',
 'F45-CLEAN-0218.csv',
 'F45-CLEAN-0221.csv',
 'F45-CLEAN-0222.csv',
 'F45-CLEAN-0223.csv',
 'F45-CLEAN-0224.csv',
 'F45-CLEAN-0225.csv',
 'F45-CLEAN-0228.csv',
 'F45-CLEAN-0301.csv']

In [8]:
files = [file for file in os.listdir()]
files

['F45-CLEAN-0107.csv',
 'F45-CLEAN-0113.csv',
 'F45-CLEAN-0114.csv',
 'F45-CLEAN-0117.csv',
 'F45-CLEAN-0120.csv',
 'F45-CLEAN-0121.csv',
 'F45-CLEAN-0125.csv',
 'F45-CLEAN-0126.csv',
 'F45-CLEAN-0127.csv',
 'F45-CLEAN-0128.csv',
 'F45-CLEAN-0131.csv',
 'F45-CLEAN-0204.csv',
 'F45-CLEAN-0207.csv',
 'F45-CLEAN-0211.csv',
 'F45-CLEAN-0214.csv',
 'F45-CLEAN-0215.csv',
 'F45-CLEAN-0217.csv',
 'F45-CLEAN-0218.csv',
 'F45-CLEAN-0221.csv',
 'F45-CLEAN-0222.csv',
 'F45-CLEAN-0223.csv',
 'F45-CLEAN-0224.csv',
 'F45-CLEAN-0225.csv',
 'F45-CLEAN-0228.csv',
 'F45-CLEAN-0301.csv']

In [9]:
df_clean = pd.concat(map(pd.read_csv, files), ignore_index=True)
df_clean

,name,year,quarter,published,market
0,AEONTS,2021,3,"Fri, 07 Jan 2022 17:21:40 +0700",SET100
1,LPF,2021,3,"Thu, 13 Jan 2022 17:50:01 +0700",SET
2,TISCO,2021,4,"Fri, 14 Jan 2022 08:14:45 +0700",SET50 / SETHD / SETTHSI
3,LHFG,2021,4,"Mon, 17 Jan 2022 17:56:11 +0700",SET
4,KKP,2021,4,"Thu, 20 Jan 2022 18:52:44 +0700",SET100 / SETCLMV / SETHD / SETTHSI
...,...,...,...,...,...
351,SIRI,2021,4,"Tue, 01 Mar 2022 08:41:55 +0700",SET100 / SETHD / SETTHSI
352,THE,2021,4,"Tue, 01 Mar 2022 08:35:30 +0700",SET
353,TYCN,2021,4,"Tue, 01 Mar 2022 08:11:39 +0700",SET
354,TNPC,2021,4,"Tue, 01 Mar 2022 07:31:29 +0700",SET
355,NRF,2021,4,"Tue, 01 Mar 2022 07:14:12 +0700",SET

In [10]:
### First equals to latest published pdf file
df_clean = df_clean.drop_duplicates(subset='name', keep='first')
df_clean.shape

(328, 5)

In [11]:
df_merge = df_raw.merge(df_clean, on='name', how='outer', indicator=True)
df_merge.shape

(828, 9)

In [12]:
not_input = df_merge[df_merge['_merge'] == 'left_only']
not_input[['name','year_x','quarter_x']].sort_values('name',ascending=True)

       name  year_x quarter_x
488    1DIV    2021         4
734  3K-BAT    2021         4
493     7UP    2021         4
816       A    2021         4
521      A5    2021         4
..      ...     ...       ...
506     XPG    2021         4
607     YGG    2021         4
329  YUANTA    2021         4
393     ZEN    2021         4
114    ZIGA    2021         4

[500 rows x 3 columns]

In [14]:
# Return to Data then Medium
os.chdir('../../Medium')
os.listdir()

['.ipynb_checkpoints',
 '15 Tips and Tricks.ipynb',
 'Combine Multiple CSV Files.ipynb',
 'Seaborn Styler.ipynb',
 'SQLite-main',
 'titanic_pivot.ipynb',
 'train.csv',
 'Web Scraping.ipynb']