In [1]:
#Importing the modules
import pandas as pd
import seaborn as sns

In [2]:
#Loading the dataset
planets = sns.load_dataset('planets')

In [3]:
#Showing 10 first row in the planets data
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
#Using hide_index() from the style function
 
planets.head(10).style.hide_index()

In [5]:
#Using hide_columns to hide the unnecesary columns
planets.head(10).style.hide_index().hide_columns(['method','year'])

In [6]:
#Highlight the maximum number for each column
planets.head(10).style.highlight_max(color = 'yellow')

In [7]:
#Highlight the minimum number with lightblue color and the maximum number with yellow color
planets.head(10).style.highlight_max(color='yellow').highlight_min(color = 'lightblue')

In [8]:
#Gradient background color for the numerical columns
planets.head(10).style.background_gradient(cmap = 'Blues')

In [9]:
#Sort the values by the year column then creating a bar chart as the background
planets.head(10).sort_values(by = 'year').style.bar(color= 'lightblue')

In [10]:
#Create the function to color the numerical value into red color
def color_below_20_red(value):
    if type(value) == type(''):
        return 'color:black'
    else:
        color = 'red' if value <= 20 else 'black'
        return 'color: {}'.format(color)
#We apply the function to all the element in the data frame by using the applymap function
planets.head(10).style.applymap(color_below_20_red)