In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {'qty':'{:,}',
              'sell_price':'{:,.2f}','buy_price':'{:,.2f}','diff':'{:,.2f}',
              'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','gross':'{:,.2f}',
              'pct':'{:,.2f}','net':'{:,.2f}'}
pd.set_option('display.float_format','{:,.2f}'.format)

refund = 124690
dividend = 700_000
expense  = 660_000

today = date.today()
today

datetime.date(2021, 12, 30)

### Restart and Run All Cells

### Record selection for transactions

In [2]:
sql = '''
SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month, 
       YEAR(buys.date) AS buy_year, MONTH(buys.date) AS buy_month,
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff, 
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt, 
       (sells.price - buys.price) * qty AS gross, 
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit AS net, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2021
ORDER BY sells.date DESC, name'''
sells_df = pd.read_sql(sql, conpf)
print(sql)

SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month,
       YEAR(buys.date) AS buy_year, MONTH(buys.date) AS buy_month,
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff,
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
       (sells.price - buys.price) * qty AS gross,
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit AS net, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2021
ORDER BY sells.date DESC, name

In [3]:
sells_df.head().style.format(format_dict)

In [4]:
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum()

sell_year  sell_month  buy_year  buy_month  name
2021       1           2019      8          PTTEP   -38,446.55
                       2020      4          KKP      26,592.67
                                 8          SENA     25,560.10
                                 12         AMATA     7,352.16
                                            COM7     30,238.29
                                                       ...
           12          2021      11         POPF     -2,513.85
                                            RCL      10,917.59
                                            SIS      19,706.79
                                 12         IMH       4,643.18
                                            KCE       3,855.19
Name: net, Length: 178, dtype: float64

In [5]:
file_name = 'ytd-profit.csv'
data_file = data_path + file_name
csv_file = csv_path + file_name
box_file = box_path + file_name
data_file, csv_file, box_file

('../data/ytd-profit.csv',
 '\\Users\\User\\iCloudDrive\\ytd-profit.csv',
 '\\Users\\User\\Dropbox\\ytd-profit.csv')

In [6]:
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum().to_csv(csv_file)
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum().to_csv(data_file)
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum().to_csv(box_file)

In [7]:
sells_df.groupby(['sell_month']).net.sum()

sell_month
1      51,296.67
2     202,547.56
3     -19,735.49
4      65,267.16
5      79,180.57
6      14,606.32
7    -102,107.17
8      69,193.08
9       1,544.44
10    -10,446.93
11    119,130.67
12     65,786.40
Name: net, dtype: float64

In [8]:
profit = sells_df.net.sum()
ttl_profit = profit + dividend
profit,dividend,ttl_profit

(536263.2799999999, 700000, 1236263.2799999998)

In [9]:
profit = sells_df.net.sum()
net = profit + dividend - expense
expense,dividend,profit, net

(660000, 700000, 536263.2799999999, 576263.2799999998)

### Bottom line of up to date transactions

In [10]:
total = refund + net
total

700953.2799999998