In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {
               'price':'{:.2f}','buy_p':'{:.2f}','sell_p':'{:.2f}','diff':'{:.2f}',
               'ppu':'{:.4f}',
               'net':'{:,.2f}','fee':'{:,.2f}','vat':'{:,.2f}',
               'buy_amt':'{:,.2f}','sell_amt':'{:,.2f}','profit':'{:,.2f}',
               'div_amt':'{:,.2f}','ttl_amt':'{:,.2f}','pct':'{:,.2f}',
               'qty':'{:,}','number':'{:,}','days':'{:,}'
              }
pd.set_option("display.max_rows", None)

In [2]:
kind = 'DOS'
div_year = 2021
div_quarter = 4
sell_year = 2022

### Stocks that are sold on specified year

In [8]:
sql = '''
SELECT T.name, qty, S.price AS sell_p, B.price AS buy_p, S.price - B.price AS diff,
S.net AS sell_amt, B.net AS buy_amt, S.net - B.net AS profit, 
S.date AS sell_date, B.date AS buy_date, DATEDIFF(S.date,B.date) AS days,
ROUND((S.net-B.net)/B.net*36500/DATEDIFF(S.date,B.date),2) AS pct, S.id, B.kind, dividend_id
FROM sells S
JOIN buys B ON S.buy_id = B.id 
JOIN stocks T ON B.stock_id = T.id 
WHERE S.dividend_id = 0
AND YEAR(s.date) = %s
AND kind = '%s'
ORDER BY T.name, S.date'''
#WHERE status = "Sold" 
sql = sql % (sell_year, kind)
print(sql)

SELECT T.name, qty, S.price AS sell_p, B.price AS buy_p, S.price - B.price AS diff,
S.net AS sell_amt, B.net AS buy_amt, S.net - B.net AS profit,
S.date AS sell_date, B.date AS buy_date, DATEDIFF(S.date,B.date) AS days,
ROUND((S.net-B.net)/B.net*36500/DATEDIFF(S.date,B.date),2) AS pct, S.id, B.kind, dividend_id
FROM sells S
JOIN buys B ON S.buy_id = B.id
JOIN stocks T ON B.stock_id = T.id
WHERE S.dividend_id = 0
AND YEAR(s.date) = 2022
AND kind = 'DOS'
ORDER BY T.name, S.date

In [9]:
sells = pd.read_sql(sql, conpf)
sells.sort_values(['name','sell_date'],ascending=[True,True]).style.format(format_dict)

### Bind sell to dividend record process

In [12]:
sql = '''
UPDATE sells
SET dividend_id = 299
WHERE id = 939'''
rp = conpf.execute(sql)
rp.rowcount

1

### Percent calculation of sells after dividend payment date

In [22]:
sql = """
SELECT name, number, ppu, D.net AS div_amt, profit, profit + D.net AS ttl_amt, B.net AS buy_amt,  
x_date,p_date, B.date AS buy_date, S.date AS sell_date, 
DATEDIFF(IF(p_date > S.date, p_date, S.date),B.date) AS days,
(profit + D.net)/B.net*36500/DATEDIFF(IF(p_date > S.date, p_date, S.date),B.date) AS pct, 
year, quarter
FROM sells S 
JOIN buys B ON S.buy_id = B.id
JOIN dividends D
ON dividend_id = D.id
WHERE B.kind = '%s'
ORDER BY name
"""
#AND YEAR(S.date) = %s
#sql = sql % (kind, sell_year)
sql = sql % (kind)
sells_a_div = pd.read_sql(sql, conpf)
sells_a_div.sort_values(['sell_date'],ascending=[False]).style.format(format_dict)

In [23]:
total_profit = round(sells_a_div.ttl_amt.sum(),2)
buy_cost = round(sells_a_div.buy_amt.sum(),2)
avg_day = sells_a_div.days.mean()
sell_pct = round(total_profit/buy_cost*36500/avg_day,2)
total_profit,buy_cost,sell_pct

(37593.73, 2289058.84, 11.38)

In [16]:
file_name = 'div-one-spread.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/div-one-spread.csv',
 '\\Users\\User\\iCloudDrive\\div-one-spread.csv',
 '\\Users\\User\\Dropbox\\div-one-spread.csv')

In [17]:
sells_a_div.sort_values(['sell_date','name'],ascending=[False,True]).to_csv(output_file, header=False, index=False)
sells_a_div.sort_values(['sell_date','name'],ascending=[False,True]).to_csv(data_file, header=False, index=False)
sells_a_div.sort_values(['sell_date','name'],ascending=[False,True]).to_csv(box_file, header=False, index=False)

### List DOS stocks that sell before XDATE (do not get dividend)

In [18]:
sql = '''
SELECT T.name, qty, S.price AS sell_p, B.price AS buy_p, S.price - B.price AS diff,
S.net AS sell_amt, B.net AS buy_amt, S.net - B.net AS profit, 
S.date AS sell_date, B.date AS buy_date, DATEDIFF(S.date,B.date) AS days,
ROUND((S.net-B.net)/B.net*36500/DATEDIFF(S.date,B.date),2) AS pct, S.id, B.kind, S.dividend_id
FROM sells S
JOIN buys B ON S.buy_id = B.id 
JOIN stocks T ON B.stock_id = T.id 
WHERE S.dividend_id = 9999
AND YEAR(s.date) = %s
AND kind = '%s'
ORDER BY T.name, S.date'''
#WHERE status = "Sold" 
sql = sql % (sell_year, kind)
print(sql)

SELECT T.name, qty, S.price AS sell_p, B.price AS buy_p, S.price - B.price AS diff,
S.net AS sell_amt, B.net AS buy_amt, S.net - B.net AS profit,
S.date AS sell_date, B.date AS buy_date, DATEDIFF(S.date,B.date) AS days,
ROUND((S.net-B.net)/B.net*36500/DATEDIFF(S.date,B.date),2) AS pct, S.id, B.kind, S.dividend_id
FROM sells S
JOIN buys B ON S.buy_id = B.id
JOIN stocks T ON B.stock_id = T.id
WHERE S.dividend_id = 9999
AND YEAR(s.date) = 2022
AND kind = 'DOS'
ORDER BY T.name, S.date

In [19]:
sells_b_div = pd.read_sql(sql, conpf)
sells_b_div.sort_values(['sell_date'],ascending=[False]).style.format(format_dict)