In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

In [2]:
format_dict = {
               'price':'{:.2f}','buy_price':'{:.2f}','sell_price':'{:.2f}','diff':'{:.2f}',
               'ppu':'{:.4f}',
               'net':'{:,.2f}','fee':'{:,.2f}','vat':'{:,.2f}',
               'buy_amt':'{:,.2f}','sell_amt':'{:,.2f}','profit':'{:,.2f}',
               'div_amt':'{:,.2f}','ttl_amt':'{:,.2f}','pct':'{:,.2f}',
               'qty':'{:,}','number':'{:,}','days':'{:,}'
              }
pd.set_option("display.max_rows", None)

### Change kind en masse

In [3]:
kind = 'DOS'
year = 2020
quarter = 4

### Stocks that cannot be sold yet

In [4]:
sql = '''
SELECT T.name, B.date AS buy_date, qty, B.price AS buy_price, B.net AS buy_amt
FROM buys B
JOIN stocks T ON B.stock_id = T.id 
WHERE kind = "%s"
AND status = 'Active'
ORDER BY T.name'''
sql = sql % kind
buys = pd.read_sql(sql, conpf)
buys.style.format(format_dict)

In [5]:
buy_amt = buys.buy_amt.sum()
round(buy_amt,2)

512131.81

### Stocks that are sold before reaching dividend date

In [9]:
sql = '''
SELECT T.name, qty, S.price AS sell_price, B.price AS buy_price, S.price - B.price AS diff,
S.net AS sell_amt, B.net AS buy_amt, S.net - B.net AS profit, 
S.date AS sell_date, B.date AS buy_date, DATEDIFF(S.date,B.date) AS days,
ROUND((S.net-B.net)/B.net*36500/DATEDIFF(S.date,B.date),2) AS pct, S.id, B.kind
FROM sells S
JOIN buys B ON S.buy_id = B.id 
JOIN stocks T ON B.stock_id = T.id 
WHERE status = "Sold" AND kind = "%s"
AND S.dividend_id = 0
ORDER BY T.name'''
sql = sql % kind

sells_b_div = pd.read_sql(sql, conpf)
sells_b_div.sort_values(['sell_date'],ascending=[False]).style.format(format_dict)

In [7]:
profit = round(sells_b_div.profit.sum(),2)
cost = round(sells_b_div.buy_amt.sum(),2)
avg_day = sells_b_div.days.mean()
pct = round(profit/cost*36500/avg_day,2)
profit,cost,pct

(6796.19, 313492.83, 43.96)

### Bind sell to dividend record process

In [9]:
sr = sells_b_div["name"]
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BGC', 'PDG', 'SF', 'TIP', 'UTP'"

In [10]:
sql = """
SELECT id, name, year, quarter, number, ppu, net AS div_amt, p_date
FROM dividends
WHERE name IN (%s)
ORDER BY name
"""
#AND year = %s AND quarter = %s

sql = sql % (in_p)
#sql = sql % (in_p, year, quarter)
dividends = pd.read_sql(sql, conpf)
#dividends.set_index(['name'],inplace=True)
dividends.style.format(format_dict)

In [11]:
df_merge = pd.merge(sells_b_div, dividends, on='name', how='inner')
df_merge['days'] = df_merge.p_date - df_merge.buy_date
df_merge['days'] = df_merge['days']/np.timedelta64(1,'D')
df_merge['days'] = df_merge['days'].astype(int)
df_merge['pct']  = round(df_merge.div_amt / df_merge.buy_amt * 36500 / df_merge.days,2)
df_merge.style.format(format_dict)

### dividend_id = id_y, id = id_x

In [13]:
sql = '''
UPDATE sells
SET dividend_id = 226
WHERE id = 697'''
rp = conpf.execute(sql)
rp.rowcount

1

### End of Bind sell to dividend record process

In [14]:
cols = 'name buy_date p_date qty buy_amt div_amt days pct'.split()
df_merge[cols].style.format(format_dict)

### Percent calculation of sells after dividend payment date

In [15]:
sql = """
SELECT name, number, ppu, D.net AS div_amt, profit, profit + D.net AS ttl_amt, B.net AS buy_amt,  
p_date, S.date AS sell_date, B.date AS buy_date, DATEDIFF(IF(p_date > S.date, p_date, S.date),B.date) AS days,
(profit + D.net)/B.net*36500/DATEDIFF(IF(p_date > S.date, p_date, S.date),B.date) AS pct, year, quarter
FROM sells S 
JOIN buys B ON S.buy_id = B.id
JOIN dividends D
ON dividend_id = D.id
ORDER BY name
"""
sells_a_div = pd.read_sql(sql, conpf)
sells_a_div.sort_values(['p_date'],ascending=[False]).style.format(format_dict)

In [16]:
total_profit = round(sells_a_div.ttl_amt.sum(),2)
buy_cost = round(sells_a_div.buy_amt.sum(),2)
avg_day = sells_a_div.days.mean()
sell_pct = round(total_profit/buy_cost*36500/avg_day,2)
total_profit,buy_cost,sell_pct

(13085.74, 1181110.27, 8.23)