In [2]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

In [3]:
format_dict = {
               'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
               'price':'{:.2f}',
               'net':'{:,.2f}','fee':'{:,.2f}','vat':'{:,.2f}','gross':'{:,.2f}','cost_amt':'{:,.2f}',
               'Q4':'{:,.2f}','Q3':'{:,.2f}','Q2':'{:,.2f}','Q1':'{:,.2f}','DIVIDEND':'{:,.2f}',
               'qty':'{:,}','shares':'{:,}','qty_z':'{:,}'
              }
pd.set_option("display.max_rows", None)

### Change kind en masse

In [45]:
name = 'CPNREIT'
kind = 'DIV'
sql = '''
SELECT B.id, S.name, date, qty, price, qty * price AS cost_amt, status, kind
FROM buys B
JOIN stocks S ON B.stock_id = S.id 
WHERE name = "%s"
ORDER BY id DESC'''
#AND status = "Active"
sql = sql % name
buys = pd.read_sql(sql, conpf)
buys.style.format(format_dict)

In [46]:
ttl_qty = buys.qty.sum()
ttl_amt = buys.cost_amt.sum()
if (ttl_qty > 0):
    unit_cost = ttl_amt / ttl_qty
else:
    unit_cost = 0
ttl_amt, ttl_qty, unit_cost

(1344350.0, 70000, 19.205)

In [47]:
sr = buys['id']
sr

0    664
1    662
2    654
3    652
4    649
5    635
6    631
7    630
8    468
Name: id, dtype: int64

In [48]:
ids = sr.values.tolist()
ids

[664, 662, 654, 652, 649, 635, 631, 630, 468]

In [49]:
in_p = ', '.join(map(lambda id: "%s" % id, ids))
in_p

'664, 662, 654, 652, 649, 635, 631, 630, 468'

In [50]:
sql = '''
UPDATE buys
SET kind = "%s"
WHERE id IN (%s)
'''
sql = sql % (kind, in_p)
print(sql)

UPDATE buys
SET kind = "DIV"
WHERE id IN (664, 662, 654, 652, 649, 635, 631, 630, 468)

In [51]:
rp = conpf.execute(sql)
rp.rowcount

9

### End of kind change

In [27]:
sql = '''
SELECT DISTINCT S.name, kind
FROM buys B
JOIN stocks S ON B.stock_id = S.id 
WHERE status = "Active" AND kind = "%s"
ORDER BY S.name'''
sql = sql % kind
df_tmp = pd.read_sql(sql, conpf)
df_tmp

    name kind
0    BGC  DIV
1    BKI  DIV
2    DCC  DIV
3  HREIT  DIV
4     LH  DIV
5   SENA  DIV
6   SMPC  DIV
7  TPIPP  DIV
8  TTLPF  DIV

In [29]:
sql = '''
SELECT DISTINCT S.name, kind
FROM buys B
JOIN stocks S ON B.stock_id = S.id 
ORDER BY kind, S.name'''
#WHERE status = "Active"
df_tmp = pd.read_sql(sql, conpf)
df_tmp

         name kind
0         ORI   BB
1        BFIT  DIV
2         BGC  DIV
3         BKI  DIV
4         DCC  DIV
5      FSMART  DIV
6          GC  DIV
7       HREIT  DIV
8         KGI  DIV
9         KKP  DIV
10         LH  DIV
11        LPF  DIV
12       SENA  DIV
13       SIRI  DIV
14       SMPC  DIV
15      TISCO  DIV
16        TKS  DIV
17      TPIPP  DIV
18      TTLPF  DIV
19        TTW  DIV
20        BGC  DOS
21      CPTGF  DOS
22       DTAC  DOS
23     EGATIF  DOS
24     GVREIT  DOS
25       MBAX  DOS
26         MC  DOS
27        PDG  DOS
28       SCCC  DOS
29         SF  DOS
30   SUPEREIF  DOS
31        TIP  DOS
32      TISCO  DOS
33        UTP  DOS
34      WHART  DOS
35         BA   DT
36       DCON   DT
37     AEONTS  DTD
38      AMATA  DTD
39      ASIAN  DTD
40       BFIT  DTD
41        BGC  DTD
42        BJC  DTD
43       COM7  DTD
44        CPF  DTD
45       DTAC  DTD
46         EA  DTD
47        EPG  DTD
48         GC  DTD
49       GPSC  DTD
50     GUNKUL  DTD
51     INTUCH  DTD
52        IVL  DTD
53        KKP  DTD
54        LPF  DTD
55        MTC  DTD
56      NOBLE  DTD
57        ORI  DTD
58        PRM  DTD
59        PTG  DTD
60      PTTEP  DTD
61      PTTGC  DTD
62      RATCH  DTD
63      ROJNA  DTD
64      SAWAD  DTD
65        SCC  DTD
66       SCCC  DTD
67       SENA  DTD
68         SF  DTD
69        SGP  DTD
70        SIS  DTD
71        STA  DTD
72       TCAP  DTD
73      THANI  DTD
74        TOA  DTD
75        TQM  DTD
76        TTB  DTD
77      TTLPF  DTD
78         TU  DTD
79        TVO  DTD
80        UTP  DTD
81        VNT  DTD
82        WHA  DTD
83       ANAN   HD
84         BA   HD
85     BTSGIF   HD
86      CPNCG   HD
87    CPNREIT   HD
88        DIF   HD
89         GC   HD
90      JASIF   HD
91        KKP   HD
92         LH   HD
93        MCS   HD
94      NOBLE   HD
95       POPF   HD
96         RP   HD
97       SENA   HD
98       TCAP   HD
99      BANPU  NBS
100    ADVANC   SS
101     AMATA   SS
102      EGCO   SS
103       IVL   SS
104       ORI   SS
105     PTTEP   SS
106     PTTGC   SS
107     ROJNA   SS
108       SAT   SS
109     SYNEX   SS
110    AEONTS   TP
111     AMATA   TP
112      ANAN   TP
113       AOT   TP
114        AP   TP
115     ASIAN   TP
116        BA   TP
117       BCP   TP
118    BEAUTY   TP
119       BJC   TP
120        BR   TP
121       BTS   TP
122        CK   TP
123      COM7   TP
124     CPALL   TP
125       CPN   TP
126   CPNREIT   TP
127        EA   TP
128      ESSO   TP
129      GFPT   TP
130      GPSC   TP
131     GRAND   TP
132     HMPRO   TP
133       IVL   TP
134       JMT   TP
135       KTC   TP
136     LANNA   TP
137      MEGA   TP
138       MTC   TP
139       ORI   TP
140     PCSGH   TP
141     PLANB   TP
142       PRM   TP
143       PTL   TP
144       PTT   TP
145     PTTEP   TP
146     PTTGC   TP
147     RATCH   TP
148       SAT   TP
149     SAWAD   TP
150      SCCC   TP
151      SENA   TP
152       SGP   TP
153     SPALI   TP
154      SPRC   TP
155     SYNEX   TP
156      TCAP   TP
157     THANI   TP
158     TISCO   TP
159       TMT   TP
160     VIBHA   TP
161       VNT   TP
162       WHA   TP
163      WORK   TP
164      ANAN   XP
165    BEAUTY   XP
166       BJC   XP
167       CPF   XP
168       ECL   XP
169        GL   XP
170       JMT   XP
171       KKP   XP
172    LHBANK   XP
173       LIT   XP
174       MCS   XP
175      PREB   XP
176     PTTGC   XP
177      TCAP   XP
178       TFG   XP
179     THANI   XP
180       TKN   XP
181       TMT   XP
182       TOP   XP
183      TPCH   XP

### Summarized cost by name

In [30]:
sql = '''
SELECT *
FROM buys LIMIT 10'''
df_buys = pd.read_sql(sql, conpf)
df_buys.style.format(format_dict)

In [13]:
sql = '''
SELECT kind, name, sum(qty*price) AS gross
FROM buys 
JOIN stocks ON buys.stock_id = stocks.id
WHERE status = 'Active'
GROUP BY kind, name
ORDER BY kind, name
'''
df_buys = pd.read_sql(sql, conpf)
df_buys.style.format(format_dict)

In [14]:
df_buys.gross.sum()

11388510.0

In [15]:
sql = '''
SELECT kind, sum(qty*price) AS gross
FROM buys 
JOIN stocks ON buys.stock_id = stocks.id
WHERE status = 'Active'
GROUP BY kind
ORDER BY kind
'''
df_kind = pd.read_sql(sql, conpf)
df_kind.style.format(format_dict)