In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
import calendar
import sqlite3 as db

pd.options.display.max_rows = 34

engine = create_engine("sqlite:///c:\\ruby\\do-poop\\db\\development.sqlite3")
conn = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

In [4]:
sql = '''
SELECT P.*, F.*, S.* 
FROM poops P
JOIN lunches F ON lunch_id = F.id
JOIN snacks S ON snack_id = S.id
'''
poops = pd.read_sql(sql, conn)
poops

Empty DataFrame
Columns: [id, date, pooped, hour, grade, lunch_id, dinner_id, snack_id, id, seq, name, id, seq, name]
Index: []

In [7]:
file_name = 'poops.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

poops.to_csv(output_file, header=True, index=False)
poops.to_csv(data_file, header=True, index=False)
poops.to_csv(box_file, header=True, index=False)

In [5]:
sql = '''
SELECT * 
FROM lunches
'''
lunches = pd.read_sql(sql, conn)
lunches

   id  seq   name
0   1    1  Lunch

In [10]:
file_name = 'foods.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

foods.to_csv(output_file, header=True, index=False)
foods.to_csv(data_file, header=True, index=False)
foods.to_csv(box_file, header=True, index=False)

In [6]:
sql = '''
SELECT * 
FROM snacks
'''
snacks = pd.read_sql(sql, conn)
snacks

   id  seq   name
0   1    1  Snack

In [12]:
file_name = 'snacks.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

snacks.to_csv(output_file, header=True, index=False)
snacks.to_csv(data_file, header=True, index=False)
snacks.to_csv(box_file, header=True, index=False)

In [26]:
sqlUpd = """
UPDATE poops
SET food_id = 1"""
rp = conn.execute(sqlUpd)
rp.rowcount

7

In [3]:
sql = '''
SELECT * 
FROM snacks
'''
snacks = pd.read_sql(sql, conn)
snacks.dtypes

id       int64
seq      int64
name    object
dtype: object