In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

output_path = "../data/"
year = 2022
quarter = 2

### Profits

In [2]:
sql = """
SELECT *
FROM profits
ORDER BY name
LIMIT 1
"""
profits = pd.read_sql(sql, conpg)
profits.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
mean_pct          float64
std_pct           float64
publish_date       object
ticker_id           int64
dtype: object

In [3]:
sql = """
SELECT *
FROM profits
ORDER BY name
"""
profits = pd.read_sql(sql, conpg)
profits.shape

(73, 24)

In [4]:
sql = """
SELECT P.name, T.id
FROM profits P
JOIN tickers T
ON P.name = T.name
ORDER BY P.name
"""
profits = pd.read_sql(sql, conpg)
profits.shape

(73, 2)

In [5]:
sql = """
SELECT P.name, S.price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id
LEFT JOIN stocks S
ON S.ticker_id = T.id
ORDER BY P.name
"""
profits = pd.read_sql(sql, conpg)
profits.shape

(73, 8)

In [4]:
sql = '''
SELECT name, market
FROM stocks
ORDER BY name'''
my_stocks = pd.read_sql(sql, conpg)
my_stocks.dtypes

name      object
market    object
dtype: object

In [5]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [6]:
my_stocks["mrkt"] = np.select(filters, values, default='SET999')
my_stocks.head()

     name                   market    mrkt
0     ACE                   SET100  SET100
1  ADVANC  SET50 / SETHD / SETTHSI   SET50
2  AEONTS                   SET100  SET100
3      AH           sSET / SETTHSI  SET999
4     AIE                     sSET  SET999

In [7]:
df_merge = pd.merge(profits, my_stocks, on='name', how='inner')
df_merge.groupby('mrkt').count()

NameError: name 'profits' is not defined

In [8]:
set50 = df_merge[df_merge['mrkt'] == 'SET50']
set50.sort_values('name',ascending=True)

NameError: name 'df_merge' is not defined

In [14]:
set100 = df_merge[df_merge['mrkt'] == 'SET100']
set100.sort_values('name',ascending=True)

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market,mrkt
0,ACE,2.76,15.19,-2.50,-10.440152,-12.223071,-2.493306,12.523578,SET100,SET100
4,AMATA,18.60,65.93,26.22,197.996543,-25.286554,66.214997,95.461320,SET100 / SETCLMV / SETTHSI,SET100
7,BAM,18.90,91.88,2.49,26.223417,-68.393132,13.050071,66.161935,SET100,SET100
10,BCH,20.00,560.77,24.90,526.465683,-18.221315,273.478592,312.740027,SET100 / SETWB,SET100
11,BCPG,11.60,53.09,41.76,160.441956,473.446309,182.184566,201.403914,SET100 / SETCLMV / SETHD / SETTHSI,SET100
14,BPP,16.00,33.23,60.25,182.193136,687.125060,240.699549,304.589555,SET100 / SETCLMV / SETHD / SETTHSI,SET100
15,CHG,3.74,463.60,26.27,438.712791,-25.171225,225.852891,261.202005,SET100 / SETWB,SET100
16,CK,18.50,47.65,31.52,192.978510,-62.003939,52.536143,105.370839,SET100 / SETCLMV / SETTHSI,SET100
19,DOHOME,18.80,58.75,-4.60,-15.395478,37.911869,19.166598,35.012470,SET100 / SETWB,SET100
20,ESSO,9.15,537.95,70.02,111.579992,686.270279,351.455068,307.477552,SET100,SET100
30,JMT,68.00,32.18,6.01,29.745851,-23.078616,11.214309,25.729800,SET100,SET100
33,KKP,69.25,35.45,9.38,40.520211,1.581884,21.733024,19.146623,SET100 / SETCLMV / SETHD / SETTHSI,SET100
38,MEGA,48.50,58.39,14.41,84.079053,23.695190,45.143561,32.124887,SET100 / SETCLMV / SETWB,SET100
44,RBF,14.70,13.71,20.91,117.092547,57.359008,52.267889,47.251751,SET100 / SETCLMV / SETWB,SET100
45,RCL,45.50,397.50,29.38,179.528879,1.376304,151.946296,181.430648,SET100 / SETCLMV,SET100
51,SINGER,49.50,56.26,10.75,53.735370,1.267882,30.503313,28.565942,SET100,SET100
52,SIRI,1.05,20.57,-10.84,-41.684093,-45.416049,-19.342536,30.791107,SET100 / SETHD / SETTHSI,SET100
56,SPALI,20.50,76.96,6.18,58.932448,-59.092041,20.745102,61.113282,SET100 / SETHD,SET100
57,SPRC,11.10,87.78,69.08,163.470770,184.944662,126.318858,56.505988,SET100 / SETCLMV,SET100
59,STARK,4.08,63.22,4.73,30.066929,-37.253036,15.190973,42.378798,SET100 / SETCLMV,SET100
61,SYNEX,20.60,29.03,4.32,20.058008,-17.503869,8.976035,20.394735,SET100 / SETTHSI,SET100
62,TCAP,38.00,52.86,-0.79,-3.865614,-41.412406,1.697995,38.786601,SET100 / SETHD,SET100
67,TQM,41.75,24.59,1.34,5.938561,-4.697307,6.792814,12.638903,SET100 / SETTHSI,SET100
71,WHA,3.04,21.58,20.13,387.031208,-67.758216,90.245748,202.219407,SET100 / SETHD / SETTHSI,SET100

### Tickers

In [2]:
name = 'ONEE'
sql = """
SELECT * 
FROM tickers
WHERE name = '%s'
"""
sql = sql % name
ticker = pd.read_sql(sql, conpg)
ticker

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,718,ONEE,THE ONE ENTERPRISE PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.theoneenterprise.com,2022-07-03 00:18:22.223224,2022-07-03 00:18:22.223224

In [2]:
sql = '''
SELECT * 
FROM tickers
'''
tickers = pd.read_sql(sql, conpg)
tickers.shape

(399, 9)

In [3]:
rcds = tickers.values.tolist()
len(rcds)

399

In [4]:
for rcd in rcds:
    print(rcd)

[697, 'EP', 'EASTERN POWER GROUP PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'sSET', 'www.epco.co.th', Timestamp('2021-06-03 02:53:59.706398'), Timestamp('2021-06-03 02:53:59.706398')]
[8, 'ADVANC', 'ADVANCED INFO SERVICE PUBLIC COMPANY LIMITED', 'Technology', 'Information & Communication Technology', 'SET50 / SETHD / SETTHSI', 'investor.ais.co.th', Timestamp('2018-04-22 04:29:36.118727'), Timestamp('2021-07-07 03:33:38.798595')]
[13, 'AIMIRT', 'AIM INDUSTRIAL GROWTH FREEHOLD AND LEASEHOLD REAL ESTATE INVESTMENT TRUST', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.aimreit.com', Timestamp('2018-04-22 04:29:36.146073'), Timestamp('2018-04-22 04:29:36.146073')]
[14, 'AIT', 'ADVANCED INFORMATION TECHNOLOGY PUBLIC CO.,LTD.', 'Technology', 'Information & Communication Technology', 'sSET', 'www.ait.co.th', Timestamp('2018-04-22 04:29:36.152088'), Timestamp('2018-04-22 04:29:36.152088')]
[11, 'AH', 'AAPICO HITECH PUBLIC COMPANY LIMITED', 'Industrials', 'Automotive', 'sSET / SETTHSI', 'www.aapico.com', Timestamp('2018-04-22 04:29:36.134601'), Timestamp('2021-07-07 03:33:38.806441')]
[15, 'AJ', 'A.J. PLAST PUBLIC COMPANY LIMITED', 'Industrials', 'Packaging', 'sSET / SETCLMV', 'www.ajplast.co.th', Timestamp('2018-04-22 04:29:36.157101'), Timestamp('2021-07-07 03:33:38.813126')]
[29, 'AP', 'AP (THAILAND) PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET100 / SETHD', 'www.apthai.com', Timestamp('2018-04-22 04:29:36.295770'), Timestamp('2018-04-22 04:29:36.295770')]
[33, 'AQUA', 'AQUA CORPORATION PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET', 'www.aquacorp.co.th', Timestamp('2018-04-22 04:29:36.316984'), Timestamp('2018-04-22 04:29:36.316984')]
[31, 'APCS', 'ASIA PRECISION PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Services', 'sSET', 'www.asiaprecision.com', Timestamp('2018-04-22 04:29:36.306563'), Timestamp('2021-07-07 03:33:38.825781')]
[32, 'APURE', 'AGRIPURE HOLDINGS PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'sSET', 'www.apureholdings.com', Timestamp('2018-04-22 04:29:36.312579'), Timestamp('2021-07-07 03:33:38.827640')]
[701, 'LPF', "LOTUS'S RETAIL GROWTH FREEHOLD AND LEASEHOLD PROPERTY FUND", 'Property & Construction', 'Property Fund & REITs', 'SET', None, Timestamp('2021-07-07 03:33:39.022568'), Timestamp('2021-07-07 03:33:39.022568')]
[44, 'ASP', 'ASIA PLUS GROUP HOLDINGS PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'sSET', 'www.asiaplusgroup.co.th', Timestamp('2018-04-22 04:29:36.379149'), Timestamp('2018-04-22 04:29:36.379149')]
[702, 'ILM', 'INDEX LIVING MALL PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'sSET', 'www.indexlivingmall.com', Timestamp('2021-08-07 15:07:36.278125'), Timestamp('2021-08-07 15:07:36.278125')]
[46, 'AU', 'AFTER YOU PUBLIC COMPANY LIMITED', 'Agro & Food Industry', None, 'mai', 'www.afteryoudessertcafe.com', Timestamp('2018-04-22 04:29:36.390176'), Timestamp('2018-04-22 04:29:36.390176')]
[47, 'AUCT', 'UNION AUCTION PUBLIC COMPANY LIMITED', 'Services', None, 'mai', 'www.auct.co.th', Timestamp('2018-04-22 04:29:36.394912'), Timestamp('2018-04-22 04:29:36.394912')]
[23, 'AMARIN', 'AMARIN PRINTING AND PUBLISHING PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET', 'www.amarin.com', Timestamp('2018-04-22 04:29:36.260757'), Timestamp('2018-07-04 15:30:18.338387')]
[38, 'ASEFA', 'ASEFA PUBLIC COMPANY LIMITED', 'Industrials', 'Industrial Materials & Machinery', 'SET', 'www.asefa.co.th', Timestamp('2018-04-22 04:29:36.345959'), Timestamp('2018-07-04 15:30:18.485682')]
[9, 'AEONTS', 'AEON THANA SINSAP (THAILAND) PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET100', 'www.aeon.co.th', Timestamp('2018-04-22 04:29:36.124123'), Timestamp('2019-03-03 03:45:00.149450')]
[17, 'AKR', 'EKARAT ENGINEERING PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET', 'www.ekarat.co.th', Timestamp('2018-04-22 04:29:36.168158'), Timestamp('2019-03-03 03:45:00.403277')]
[24, 'AMATA', 'AMATA CORPORATION PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET100 / SETCLMV / SETTHSI', 'www.amata.com', Timestamp('2018-04-22 04:29:36.266775'), Timestamp('2019-03-03 03:45:00.434583')]
[53, 'BAY', 'BANK OF AYUDHYA PUBLIC COMPANY LIMITED', 'Financials', 'Banking', 'SET', 'www.krungsri.com', Timestamp('2018-04-22 04:29:36.430012'), Timestamp('2018-04-22 04:29:36.430012')]
[28, 'AOT', 'AIRPORTS OF THAILAND PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET50 / SETTHSI / SETWB', 'www.airportthai.co.th', Timestamp('2018-04-22 04:29:36.290018'), Timestamp('2019-11-19 07:13:52.348140')]
[48, 'AYUD', 'ALLIANZ AYUDHYA CAPITAL PUBLIC COMPANY LIMITED', 'Financials', 'Insurance', 'SET', 'www.ayud.co.th', Timestamp('2018-04-22 04:29:36.401349'), Timestamp('2019-11-19 07:13:52.462308')]
[50, 'BAFS', 'BANGKOK AVIATION FUEL SERVICES PCL.', 'Resources', 'Energy & Utilities', 'sSET / SETTHSI', 'www.bafsthai.com', Timestamp('2018-04-22 04:29:36.413629'), Timestamp('2020-07-06 13:23:58.562065')]
[55, 'BCH', 'BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Health Care Services', 'SET100 / SETWB', 'www.bangkokchainhospital.com', Timestamp('2018-04-22 04:29:36.442067'), Timestamp('2019-11-19 07:13:52.520896')]
[22, 'AMANAH', 'AMANAH LEASING PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'sSET', 'www.amanah.co.th', Timestamp('2018-04-22 04:29:36.255986'), Timestamp('2020-07-06 13:23:58.483615')]
[27, 'ANAN', 'ANANDA DEVELOPMENT PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'sSET', 'www.ananda.co.th', Timestamp('2018-04-22 04:29:36.282999'), Timestamp('2020-07-06 13:23:58.499209')]
[704, '2S', '2S METAL PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.ss.co.th', Timestamp('2021-08-22 15:12:52.288880'), Timestamp('2021-08-22 15:12:52.288880')]
[71, 'BKI', 'BANGKOK INSURANCE PUBLIC COMPANY LIMITED', 'Financials', 'Insurance', 'SET', 'www.bangkokinsurance.com', Timestamp('2018-04-22 04:29:36.533506'), Timestamp('2018-04-22 04:29:36.533506')]
[706, 'BCT', 'BIRLA CARBON (THAILAND) PUBLIC COMPANY LIMITED', 'Industrials', 'Petrochemicals & Chemicals', 'SET', 'www.birlacarbon.com', Timestamp('2021-08-22 15:12:52.300533'), Timestamp('2021-08-22 15:12:52.300533')]
[42, 'ASK', 'ASIA SERMKIJ LEASING PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'www.ask.co.th', Timestamp('2018-04-22 04:29:36.368184'), Timestamp('2022-01-15 03:54:48.237063')]
[51, 'BANPU', 'BANPU PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET50 / SETCLMV / SETTHSI', 'www.banpu.com', Timestamp('2018-04-22 04:29:36.418977'), Timestamp('2022-01-15 03:54:48.247553')]
[708, 'SFLEX', 'STARFLEX PUBLIC COMPANY LIMITED', 'Industrials', 'Packaging', 'sSET', 'www.starflex.co.th', Timestamp('2021-08-22 15:12:52.306051'), Timestamp('2021-08-22 15:12:52.306051')]
[26, 'AMC', 'ASIA METAL PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.asiametal.co.th', Timestamp('2018-04-22 04:29:36.278054'), Timestamp('2021-08-22 18:22:07.259053')]
[713, 'IP', 'INTER PHARMA PUBLIC COMPANY LIMITED', 'Consumer Products', 'Consumer Products', 'mai', 'www.interpharma.co.th', Timestamp('2021-10-25 15:08:35.006030'), Timestamp('2021-10-25 15:08:35.006030')]
[714, 'TYCN', 'TYCOONS WORLDWIDE GROUP (THAILAND) PUBLIC CO.,LTD.', 'Industrials', 'Steel and Metal Products', 'SET', 'www.tycons.com', Timestamp('2021-11-04 15:13:55.164789'), Timestamp('2021-11-04 15:13:55.164789')]
[715, 'INSET', 'INFRASET PUBLIC COMPANY LIMITED', 'Technology', 'Technology', 'mai', 'www.infraset.co.th', Timestamp('2021-11-27 02:53:02.069805'), Timestamp('2021-11-27 02:53:02.069805')]
[35, 'ARROW', 'ARROW SYNDICATE PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property & Construction', 'mai', 'www.arrowpipe.com', Timestamp('2018-04-22 04:29:36.328888'), Timestamp('2022-01-15 03:54:48.233454')]
[40, 'ASIAN', 'ASIAN SEA CORPORATION PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'sSET / SETTHSI', 'www.asianseafoods.co.th', Timestamp('2018-04-22 04:29:36.356981'), Timestamp('2022-01-15 03:54:48.235305')]
[705, 'ASW', 'ASSETWISE PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'sSET', 'www.assetwise.co.th', Timestamp('2021-08-22 15:12:52.296927'), Timestamp('2022-01-15 03:54:48.239827')]
[49, 'BA', 'BANGKOK AIRWAYS PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SETWB', 'www.bangkokair.com', Timestamp('2018-04-22 04:29:36.407546'), Timestamp('2022-01-15 03:54:48.244763')]
[707, 'IMH', 'INTERMEDICAL CARE AND LAB HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Services', 'mai', 'www.intermedthai.com/', Timestamp('2021-08-22 15:12:52.303160'), Timestamp('2022-01-15 03:54:48.372913')]
[695, 'MBAX', 'MULTIBAX PUBLIC COMPANY LIMITED', 'Industrial', 'Industrial', 'mai', 'www.multibax.com', Timestamp('2017-07-23 06:31:24.517698'), Timestamp('2022-01-15 03:54:48.419041')]
[696, 'TIDLOR', 'NGERN TID LOR PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET50', 'www.ngerntidlor.com/th/home.html', Timestamp('2021-05-10 23:20:28.115721'), Timestamp('2022-01-15 03:54:48.551252')]
[703, 'VNG', 'VANACHAI GROUP PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'sSET / SETCLMV', 'www.vanachai.com', Timestamp('2021-08-14 06:09:40.594032'), Timestamp('2022-01-15 03:54:48.599061')]
[717, 'KEX', 'KERRY EXPRESS (THAILAND) PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET100 / SETTHSI / SETWB', 'https://th.kerryexpress.com/th/home', Timestamp('2022-01-15 04:28:34.791314'), Timestamp('2022-01-15 04:28:34.791314')]
[76, 'BOFFICE', 'BHIRAJ OFFICE LEASEHOLD REAL ESTATE INVESTMENT TRUST', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.bofficereit.com', Timestamp('2018-04-22 04:29:36.562568'), Timestamp('2018-04-22 04:29:36.562568')]
[60, 'BEC', 'BEC WORLD PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET100', 'www.becworld.com', Timestamp('2018-04-22 04:29:36.470823'), Timestamp('2021-07-07 03:33:38.857810')]
[87, 'BTSGIF', 'BTS RAIL MASS TRANSIT GROWTH INFRASTRUCTURE FUND', 'Services', 'Transportation & Logistics', 'SET', 'www.btsgif.com', Timestamp('2018-04-22 04:29:36.637953'), Timestamp('2018-04-22 04:29:36.637953')]
[91, 'CCET', 'CAL-COMP ELECTRONICS (THAILAND) PUBLIC CO., LTD.', 'Technology', 'Electronic Components', 'sSET', 'www.calcomp.co.th', Timestamp('2018-04-22 04:29:36.681704'), Timestamp('2021-07-07 03:33:38.878413')]
[92, 'CCP', 'CHONBURI CONCRETE PRODUCT PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'SET', 'www.ccp.co.th', Timestamp('2018-04-22 04:29:36.687151'), Timestamp('2018-04-22 04:29:36.687151')]
[97, 'CGH', 'COUNTRY GROUP HOLDINGS PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'sSET', 'www.cgholdings.co.th', Timestamp('2018-04-22 04:29:36.714965'), Timestamp('2021-07-07 03:33:38.882310')]
[83, 'BSBM', 'BANGSAPHAN BARMILL PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.bsbm.co.th', Timestamp('2018-04-22 04:29:36.616028'), Timestamp('2021-08-22 18:22:07.314686')]
[63, 'BGRIM', 'B.GRIMM POWER PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET50 / SETCLMV / SETTHSI', 'www.bgrimmpower.com', Timestamp('2018-04-22 04:29:36.486869'), Timestamp('2019-03-03 03:45:01.036201')]
[107, 'CIMBT', 'CIMB THAI BANK PUBLIC COMPANY LIMITED', 'Financials', 'Banking', 'SET', 'www.cimbthai.com', Timestamp('2018-04-22 04:29:36.769613'), Timestamp('2018-04-22 04:29:36.769613')]
[62, 'BFIT', 'SRISAWAD FINANCE PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'www.bfit.co.th', Timestamp('2018-04-22 04:29:36.480853'), Timestamp('2020-07-06 13:23:58.608931')]
[65, 'BH', 'BUMRUNGRAD HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Health Care Services', 'SET50 / SETCLMV / SETWB', 'www.bumrungrad.com', Timestamp('2018-04-22 04:29:36.498902'), Timestamp('2019-11-19 07:13:52.572757')]
[74, 'BLAND', 'BANGKOK LAND PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET', 'www.bangkokland.co.th', Timestamp('2018-04-22 04:29:36.550524'), Timestamp('2020-07-06 13:23:58.655824')]
[90, 'CBG', 'CARABAO GROUP PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET50 / SETCLMV / SETWB', 'www.carabaogroup.com', Timestamp('2018-04-22 04:29:36.676657'), Timestamp('2019-11-19 07:13:52.645296')]
[94, 'CENTEL', 'CENTRAL PLAZA HOTEL PUBLIC COMPANY LIMITED', 'Services', 'Tourism & Leisure', 'SET100 / SETTHSI / SETWB', 'www.centarahotelsresorts.com', Timestamp('2018-04-22 04:29:36.697973'), Timestamp('2019-11-19 07:13:52.658266')]
[101, 'CHG', 'CHULARAT HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Health Care Services', 'SET100 / SETWB', 'www.chularat.com', Timestamp('2018-04-22 04:29:36.736498'), Timestamp('2019-11-19 07:13:52.679265')]
[716, 'UOBKH', 'UOB KAY HIAN SECURITIES (THAILAND) PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'https://www.utrade.co.th/', Timestamp('2021-11-27 03:27:14.481201'), Timestamp('2021-11-27 03:27:14.481201')]
[709, 'AAV', 'ASIA AVIATION PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'sSET / SETTHSI', 'www.aavplc.com', Timestamp('2021-08-29 06:32:10.450906'), Timestamp('2022-01-15 03:54:48.204869')]
[59, 'BEAUTY', 'BEAUTY COMMUNITY PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'SET', 'www.beautycommunity.co.th', Timestamp('2018-04-22 04:29:36.464423'), Timestamp('2022-01-15 03:54:48.257841')]
[86, 'BTS', 'BTS GROUP HOLDINGS PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET50 / SETTHSI / SETWB', 'www.btsgroup.co.th', Timestamp('2018-04-22 04:29:36.632245'), Timestamp('2020-07-06 13:23:58.687066')]
[68, 'BJC', 'BERLI JUCKER PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'SETCLMV / SETTHSI / SETWB', 'www.bjc.co.th', Timestamp('2018-04-22 04:29:36.516330'), Timestamp('2022-01-15 03:54:48.271965')]
[82, 'BRR', 'BURIRAM SUGAR PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'sSET', 'www.buriramsugar.com', Timestamp('2018-04-22 04:29:36.610114'), Timestamp('2022-01-15 03:54:48.279382')]
[99, 'CHAYO', 'CHAYO GROUP PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'www.chayo555.com', Timestamp('2018-04-22 04:29:36.725800'), Timestamp('2022-01-15 03:54:48.288817')]
[710, 'NRF', 'NR INSTANT PRODUCE PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET', 'https://www.nrinstant.com/', Timestamp('2021-08-29 06:32:10.461477'), Timestamp('2022-01-15 03:54:48.436055')]
[712, 'STARK', 'STARK CORPORATION PUBLIC COMPANY LIMITED', 'Industrials', 'Industrial Materials & Machinery', 'SET100 / SETCLMV', 'www.starkcorporation.com', Timestamp('2021-08-29 06:32:10.468382'), Timestamp('2022-01-15 03:54:48.527979')]
[73, 'BLA', 'BANGKOK LIFE ASSURANCE PUBLIC COMPANY LIMITED', 'Financials', 'Insurance', 'SET50 / SETTHSI', 'www.bangkoklife.com', Timestamp('2018-04-22 04:29:36.544508'), Timestamp('2022-01-15 03:54:48.274772')]
[711, 'PSL', 'PRECIOUS SHIPPING PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET100', 'www.preciousshipping.com', Timestamp('2021-08-29 06:32:10.465249'), Timestamp('2022-01-15 03:54:48.462830')]
[123, 'CPI', 'CHUMPORN PALM OIL INDUSTRY PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET', 'www.cpi-th.com', Timestamp('2018-04-22 04:29:36.878447'), Timestamp('2018-04-22 04:29:36.878447')]
[126, 'CPNCG', 'CPN COMMERCIAL GROWTH LEASEHOLD PROPERTY FUND', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.cpncg.com', Timestamp('2018-04-22 04:29:36.894495'), Timestamp('2018-04-22 04:29:36.894495')]
[127, 'CPNREIT', 'CPN RETAIL GROWTH LEASEHOLD REIT', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.cpnreit.com', Timestamp('2018-04-22 04:29:36.900508'), Timestamp('2018-04-22 04:29:36.900508')]
[133, 'CSC', 'CROWN SEAL PUBLIC COMPANY LIMITED', 'Industrials', 'Packaging', 'SET', 'www.crownseal.co.th', Timestamp('2018-04-22 04:29:36.935013'), Timestamp('2018-04-22 04:29:36.935013')]
[139, 'CWT', 'CHAI WATANA TANNERY GROUP PUBLIC COMPANY LIMITED', 'Industrials', 'Automotive', 'SET', 'www.cwt.co.th', Timestamp('2018-04-22 04:29:36.992433'), Timestamp('2018-04-22 04:29:36.992433')]
[141, 'DCON', 'DCON PRODUCTS PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'SET', 'www.dconproduct.com', Timestamp('2018-04-22 04:29:37.004166'), Timestamp('2018-04-22 04:29:37.004166')]
[151, 'DUSIT', 'DUSIT THANI PUBLIC COMPANY LIMITED', 'Services', 'Tourism & Leisure', 'SET', 'www.dusit.com', Timestamp('2018-04-22 04:29:37.057835'), Timestamp('2018-04-22 04:29:37.057835')]
[146, 'DIF', 'DIGITAL TELECOMMUNICATIONS INFRASTRUCTURE FUND', 'Technology', 'Information & Communication Technology', 'SET', 'www.digital-tif.com', Timestamp('2018-04-22 04:29:37.030748'), Timestamp('2018-04-22 04:29:37.030748')]
[121, 'CPF', 'CHAROEN POKPHAND FOODS PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET50 / SETCLMV / SETHD / SETTHSI / SETWB', 'www.cpfworldwide.com', Timestamp('2018-04-22 04:29:36.867977'), Timestamp('2021-07-07 03:33:38.893396')]
[137, 'CSS', 'COMMUNICATION AND SYSTEM SOLUTION PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'SET', 'www.cssthai.com', Timestamp('2018-04-22 04:29:36.980401'), Timestamp('2018-07-04 15:30:18.847062')]
[138, 'CTW', 'CHAROONG THAI WIRE & CABLE PUBLIC COMPANY LIMITED', 'Industrials', 'Industrial Materials & Machinery', 'sSET', 'www.ctw.co.th', Timestamp('2018-04-22 04:29:36.986424'), Timestamp('2021-07-07 03:33:38.904978')]
[143, 'DDD', 'DO DAY DREAM PUBLIC COMPANY LIMITED', 'Consumer Products', 'Personal Products & Pharmaceuticals', 'sSET', 'www.dodaydream.com', Timestamp('2018-04-22 04:29:37.014603'), Timestamp('2019-03-03 03:45:01.305276')]
[153, 'EA', 'ENERGY ABSOLUTE PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET50 / SETTHSI', 'www.energyabsolute.co.th', Timestamp('2018-04-22 04:29:37.068618'), Timestamp('2019-03-03 03:45:01.336519')]
[160, 'EGATIF', 'NORTH BANGKOK POWER PLANT BLOCK 1 INFRASTRUCTURE FUND, ELECTRICITY GENERATING AUTHORITY OF THAILAND', 'Resources', 'Energy & Utilities', 'SET', 'www.ktam.co.th', Timestamp('2018-04-22 04:29:37.128806'), Timestamp('2018-04-22 04:29:37.128806')]
[169, 'ESSO', 'ESSO (THAILAND) PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET100', 'www.esso.co.th', Timestamp('2018-04-22 04:29:37.176564'), Timestamp('2018-04-22 04:29:37.176564')]
[149, 'DRT', 'DIAMOND BUILDING PRODUCTS PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'sSET / SETCLMV / SETTHSI', 'www.dbp.co.th', Timestamp('2018-04-22 04:29:37.045816'), Timestamp('2021-07-07 03:33:38.915472')]
[172, 'EVER', 'EVERLAND PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET', 'www.everland.co.th', Timestamp('2018-04-22 04:29:37.193489'), Timestamp('2018-04-22 04:29:37.193489')]
[125, 'CPN', 'CENTRAL PATTANA PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET50 / SETTHSI', 'www.centralpattana.co.th', Timestamp('2018-04-22 04:29:36.889481'), Timestamp('2020-07-06 13:23:58.874529')]
[170, 'ESTAR', 'EASTERN STAR REAL ESTATE PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET', 'www.estarpcl.com', Timestamp('2018-04-22 04:29:37.182426'), Timestamp('2019-11-19 07:13:52.892653')]
[135, 'CSP', 'CSP STEEL CENTER PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.cspsteel.com', Timestamp('2018-04-22 04:29:36.945056'), Timestamp('2021-08-22 18:22:07.343124')]
[179, 'FNS', 'FINANSA PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'www.finansa.com', Timestamp('2018-04-22 04:29:37.233293'), Timestamp('2018-04-22 04:29:37.233293')]

In [ ]:
for rcd in rcds:
    conpg.execute("""INSERT INTO tickers (id, name, full_name, sector, \
subsector, market, website, created_at, \
updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM tickers ORDER BY id'
tickers_out = pd.read_sql(sql, conpg)
tickers_out.tail()

### End of Tickers

### Stocks

In [4]:
name = 'ONEE'
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
stock = pd.read_sql(sql, conpg)
stock

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
0,950,ONEE,SET100,9.95,13.1,8.7,26.75,3.34,4762.5,23693.44,131.01,1.68,718,2022-07-03 13:29:59.198041,2022-07-03 13:29:59.198041

In [12]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_inp = pd.read_sql(sql, conpg)
stocks_inp.tail()

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
224,945,WHART,SET,10.10,13.98,9.65,0.00,0.91,999.99,30960.50,13672.91,0.00,630,2022-05-17 19:05:48.144828,2022-06-30 23:42:49.454225
225,946,WHAUP,sSET / SETTHSI,3.84,4.44,3.76,21.50,1.15,999.99,14688.00,9621.50,0.02,631,2022-05-17 19:05:48.148321,2022-06-30 23:42:49.457552
226,947,WICE,sSET,12.00,25.25,9.30,12.79,5.39,999.99,7822.79,292093.30,0.24,632,2022-05-17 19:05:48.152769,2022-06-30 23:42:49.460812
227,948,WORK,SET,22.80,32.50,18.40,42.18,2.15,999.99,10067.58,18292.78,0.07,636,2022-05-17 19:05:48.156879,2022-06-30 23:42:49.464402
228,949,SCB,SET50,104.00,121.50,101.50,8.59,9.99,999.99,350179.16,1157044.60,3.00,432,2022-05-21 08:54:18.067902,2022-06-30 23:42:49.202530

In [18]:
rcds = stocks_inp.values.tolist()
len(rcds)

232

In [19]:
for rcd in rcds:
    print(rcd)

[8, 'ADVANC', 'SET50 / SETHD / SETTHSI    ', 215.0, 242.0, 168.0, 24.05, 8.46, 999.99, 639394.05, 1073120.37, 2.12, 8, Timestamp('2018-04-26 02:42:11.207668'), Timestamp('2022-05-15 17:19:01.186099')]
[9, 'AEONTS', 'SET100    ', 183.5, 209.0, 168.0, 12.91, 2.31, 999.99, 45875.0, 52297.16, 14.21, 9, Timestamp('2018-04-26 02:42:11.216228'), Timestamp('2022-05-15 17:19:01.190111')]
[11, 'AH', 'sSET / SETTHSI    ', 21.3, 28.5, 19.8, 7.38, 0.89, 999.99, 7558.13, 22922.14, 2.89, 11, Timestamp('2018-04-26 02:42:11.233802'), Timestamp('2022-05-15 17:19:01.193429')]
[13, 'AIMIRT', 'SET    ', 12.4, 13.4, 11.71, 0.0, 1.02, 999.99, 7383.96, 998.36, 0.0, 13, Timestamp('2018-04-26 02:42:11.252356'), Timestamp('2022-05-15 17:31:13.241408')]
[14, 'AIT', 'sSET    ', 6.5, 9.8, 4.24, 11.72, 2.19, 999.99, 6705.43, 63577.87, 0.16, 14, Timestamp('2018-04-26 02:42:11.260556'), Timestamp('2022-05-15 17:31:13.244787')]
[15, 'AJ', 'sSET / SETCLMV    ', 16.0, 25.5, 15.6, 15.05, 1.44, 999.99, 7040.0, 5571.61, 0.32, 15, Timestamp('2018-04-26 02:42:11.283037'), Timestamp('2022-05-15 17:19:01.211150')]
[20, 'ALUCON', 'SET    ', 195.0, 220.0, 167.0, 11.96, 1.35, 999.99, 8424.0, 19.5, 16.3, 20, Timestamp('2018-04-26 02:42:11.324185'), Timestamp('2022-05-15 17:19:01.216077')]
[24, 'AMATA', 'SET100 / SETCLMV / SETTHSI    ', 18.6, 23.0, 17.1, 15.25, 1.21, 999.99, 21390.0, 138106.31, 0.48, 24, Timestamp('2018-04-26 02:42:11.361923'), Timestamp('2022-05-15 17:19:01.219391')]
[27, 'ANAN', 'sSET    ', 1.13, 2.4, 1.11, nan, 0.29, 999.99, 4707.86, 9723.04, -0.1, 27, Timestamp('2018-04-26 02:42:11.386281'), Timestamp('2022-05-15 17:31:13.259926')]
[28, 'AOT', 'SET50 / SETTHSI / SETWB    ', 67.0, 69.0, 55.5, nan, 9.14, 999.99, 957141.9, 1628072.05, -0.53, 28, Timestamp('2018-04-26 02:42:11.394410'), Timestamp('2022-05-15 17:19:01.225871')]
[29, 'AP', 'SET100 / SETHD    ', 10.8, 12.0, 7.45, 6.98, 0.99, 999.99, 33975.71, 94965.64, 0.55, 29, Timestamp('2018-04-26 02:42:11.402121'), Timestamp('2022-05-15 17:31:13.266210')]
[40, 'ASIAN', 'sSET / SETTHSI    ', 17.3, 22.9, 13.9, 13.07, 3.28, 999.99, 14083.71, 358927.4, 0.31, 40, Timestamp('2018-04-26 02:42:11.490254'), Timestamp('2022-05-15 17:19:01.232976')]
[42, 'ASK', 'SET    ', 40.25, 49.5, 30.5, 16.63, 2.3, 999.99, 21245.7, 100515.49, 0.67, 42, Timestamp('2018-04-26 02:42:11.506591'), Timestamp('2022-05-15 17:19:01.236056')]
[44, 'ASP', 'sSET    ', 3.08, 4.24, 3.06, 6.63, 1.3, 999.99, 6485.42, 11519.45, 0.46, 44, Timestamp('2018-04-26 02:42:11.523859'), Timestamp('2022-05-15 17:31:13.274743')]
[49, 'BA', 'SETWB    ', 10.7, 13.0, 6.6, nan, 1.7, 999.99, 22470.0, 70768.2, -0.49, 49, Timestamp('2018-04-26 02:42:11.563567'), Timestamp('2022-05-15 17:19:01.249171')]
[51, 'BANPU', 'SET50 / SETCLMV / SETTHSI    ', 11.6, 14.9, 9.65, 4.22, 0.99, 999.99, 78486.86, 813361.25, 1.59, 51, Timestamp('2018-04-26 02:42:11.580618'), Timestamp('2022-05-15 17:31:13.288749')]
[53, 'BAY', 'SET    ', 32.5, 39.25, 27.25, 6.89, 0.74, 999.99, 239062.26, 13259.2, 1.01, 53, Timestamp('2018-04-26 02:42:11.597094'), Timestamp('2022-05-15 17:31:13.291811')]
[54, 'BBL', 'SET50 / SETHD / SETTHSI    ', 125.0, 149.0, 100.0, 8.94, 0.48, 999.99, 238605.36, 788377.3, 3.73, 54, Timestamp('2018-04-26 02:42:11.606505'), Timestamp('2022-05-15 17:19:01.261408')]
[55, 'BCH', 'SET100 / SETWB    ', 20.0, 26.75, 17.7, 7.29, 3.84, 999.99, 49874.96, 416548.82, 2.75, 55, Timestamp('2018-04-26 02:42:11.614756'), Timestamp('2022-05-15 17:19:01.265262')]
[56, 'BCP', 'SET100 / SETCLMV / SETTHSI    ', 34.25, 35.25, 22.6, 4.8, 0.8, 999.99, 47159.62, 246968.79, 3.12, 56, Timestamp('2018-04-26 02:42:11.622751'), Timestamp('2022-05-15 17:19:01.268321')]
[57, 'BCPG', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 11.6, 15.4, 11.1, 11.78, 1.17, 999.99, 33571.53, 58883.75, 0.47, 57, Timestamp('2018-04-26 02:42:11.630913'), Timestamp('2022-05-15 17:19:01.271368')]
[58, 'BDMS', 'SET50 / SETCLMV / SETTHSI / SETWB    ', 27.0, 27.5, 20.7, 42.74, 4.91, 999.99, 429084.05, 3576301.7, 0.22, 58, Timestamp('2018-04-26 02:42:11.638934'), Timestamp('2022-05-15 17:19:01.281119')]
[59, 'BEAUTY', 'SET    ', 1.32, 1.98, 1.31, nan, 5.11, 999.99, 3952.34, 5388.35, 0.0, 59, Timestamp('2018-04-26 02:42:11.646834'), Timestamp('2022-05-15 17:31:13.312469')]
[60, 'BEC', 'SET100    ', 14.7, 17.9, 9.25, 38.6, 4.75, 999.99, 29400.0, 54929.04, 0.38, 60, Timestamp('2018-04-26 02:42:11.655214'), Timestamp('2022-05-15 17:31:13.316062')]
[61, 'BEM', 'SET50 / SETTHSI / SETWB    ', 8.15, 9.25, 7.4, 119.68, 3.26, 999.99, 124572.75, 305752.02, 0.02, 61, Timestamp('2018-04-26 02:42:11.675602'), Timestamp('2022-05-15 17:19:01.290461')]
[62, 'BFIT', 'SET    ', 28.75, 45.75, 24.5, 22.68, 1.63, 999.99, 15848.36, 47612.78, 1.66, 62, Timestamp('2018-04-26 02:42:11.683127'), Timestamp('2022-05-15 17:19:01.293512')]
[63, 'BGRIM', 'SET50 / SETCLMV / SETTHSI    ', 32.25, 46.5, 29.75, 36.94, 2.85, 999.99, 84072.52, 723105.84, 0.72, 63, Timestamp('2018-04-26 02:42:11.691575'), Timestamp('2022-05-15 17:31:13.326828')]
[65, 'BH', 'SET50 / SETCLMV / SETWB    ', 172.0, 175.0, 116.5, 74.0, 7.61, 999.99, 136720.35, 1199718.19, 0.91, 65, Timestamp('2018-04-26 02:42:11.708040'), Timestamp('2022-05-15 17:19:01.303373')]
[68, 'BJC', 'SETCLMV / SETTHSI / SETWB    ', 35.75, 37.0, 29.25, 37.52, 1.22, 999.99, 143278.73, 297362.25, 0.31, 68, Timestamp('2018-04-26 02:42:11.757560'), Timestamp('2022-05-15 17:31:13.332499')]
[71, 'BKI', 'SET    ', 270.0, 308.0, 263.0, 27.23, 0.88, 999.99, 28746.9, 1033.76, -33.63, 71, Timestamp('2018-04-26 02:42:11.782394'), Timestamp('2022-05-15 17:19:01.309314')]
[73, 'BLA', 'SET100 / SETTHSI    ', 40.75, 48.0, 24.7, 21.77, 1.45, 999.99, 69583.31, 82410.68, 1.87, 73, Timestamp('2018-04-26 02:42:11.798353'), Timestamp('2022-05-15 17:19:01.313807')]
[74, 'BLAND', 'SET    ', 0.95, 1.19, 0.94, nan, 0.38, 999.99, 16505.68, 2534.05, -0.03, 74, Timestamp('2018-04-26 02:42:11.805661'), Timestamp('2022-05-15 17:31:13.340270')]
[78, 'BPP', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 16.0, 20.3, 15.3, 9.73, 1.07, 999.99, 48763.71, 33806.18, 1.03, 78, Timestamp('2018-04-26 02:42:11.869508'), Timestamp('2022-05-15 17:19:01.319421')]
[86, 'BTS', 'SET50 / SETTHSI / SETWB    ', 8.7, 10.2, 8.3, 24.4, 1.85, 999.99, 114558.21, 216258.61, 0.23, 86, Timestamp('2018-04-26 02:42:11.975744'), Timestamp('2022-05-15 17:19:01.322122')]
[87, 'BTSGIF', 'SET    ', 4.32, 5.1, 3.76, 0.0, 0.55, 999.99, 25004.16, 5009.78, 0.0, 87, Timestamp('2018-04-26 02:42:11.984774'), Timestamp('2022-05-15 17:31:13.348114')]
[90, 'CBG', 'SET50 / SETCLMV / SETWB    ', 104.5, 156.0, 96.75, 36.27, 10.24, 999.99, 104500.0, 784648.08, 0.66, 90, Timestamp('2018-04-26 02:42:12.007997'), Timestamp('2022-05-15 17:31:13.350817')]
[94, 'CENTEL', 'SET100 / SETTHSI / SETWB    ', 40.75, 46.5, 26.75, nan, 3.04, 999.99, 55012.5, 135964.5, -1.28, 94, Timestamp('2018-04-26 02:42:12.041255'), Timestamp('2022-05-15 17:31:13.353620')]
[101, 'CHG', 'SET100 / SETWB    ', 3.74, 4.44, 3.06, 9.79, 5.44, 999.99, 41140.0, 354735.9, 0.38, 101, Timestamp('2018-04-26 02:42:12.097860'), Timestamp('2022-05-15 17:31:13.356267')]
[109, 'CK', 'SET100 / SETCLMV / SETTHSI    ', 18.5, 23.7, 15.7, 33.86, 1.19, 999.99, 31337.09, 32435.35, 0.55, 109, Timestamp('2018-04-26 02:42:12.186558'), Timestamp('2022-05-15 17:19:01.338614')]
[110, 'CKP', 'SET100 / SETCLMV / SETTHSI    ', 5.5, 6.3, 4.7, 21.26, 1.8, 999.99, 44711.61, 129157.2, 0.27, 110, Timestamp('2018-04-26 02:42:12.194533'), Timestamp('2022-05-15 17:19:01.341330')]
[118, 'COM7', 'SET50 / SETTHSI / SETWB    ', 37.25, 43.75, 30.5, 31.39, 16.92, 999.99, 89399.94, 1334026.62, 0.33, 118, Timestamp('2018-04-26 02:42:12.259579'), Timestamp('2022-05-15 17:19:01.344877')]
[120, 'CPALL', 'SET50 / SETTHSI / SETWB    ', 63.25, 69.0, 56.25, 41.06, 5.3, 999.99, 568181.16, 1121410.63, 0.36, 120, Timestamp('2018-04-26 02:42:12.275386'), Timestamp('2022-05-15 17:31:13.370952')]
[121, 'CPF', 'SET50 / SETCLMV / SETHD / SETTHSI / SETWB    ', 24.7, 29.25, 22.7, 23.27, 0.97, 999.99, 212697.69, 2022742.73, 0.34, 121, Timestamp('2018-04-26 02:42:12.283348'), Timestamp('2022-05-15 17:19:01.353744')]
[125, 'CPN', 'SET50 / SETTHSI    ', 59.25, 63.75, 45.25, 46.95, 3.51, 999.99, 265914.0, 1727788.35, 0.52, 125, Timestamp('2018-04-26 02:42:12.317674'), Timestamp('2022-05-15 17:31:13.375638')]
[126, 'CPNCG', 'SET    ', 11.8, 12.8, 10.5, 0.0, 1.04, 999.99, 5034.34, 3381.03, 0.0, 126, Timestamp('2018-04-26 02:42:12.325356'), Timestamp('2022-05-15 17:19:01.359317')]
[127, 'CPNREIT', 'SET    ', 19.4, 23.9, 18.2, 0.0, 1.48, 999.99, 49819.86, 4942.04, 0.0, 127, Timestamp('2018-04-26 02:42:12.334888'), Timestamp('2022-05-15 17:19:01.362621')]
[140, 'DCC', 'SET    ', 2.74, 3.4, 2.7, 14.36, 4.23, 999.99, 25004.17, 117970.06, 0.06, 140, Timestamp('2018-04-26 02:42:12.445214'), Timestamp('2022-05-15 17:19:01.370862')]
[141, 'DCON', 'SET    ', 0.43, 0.7, 0.42, 19.4, 0.92, 999.99, 2316.13, 3432.13, 0.01, 141, Timestamp('2018-04-26 02:42:12.454389'), Timestamp('2022-05-15 17:31:13.389616')]
[144, 'DELTA', 'SET    ', 326.0, 790.0, 313.0, 52.66, 9.25, 999.99, 406646.41, 322593.5, 2.23, 144, Timestamp('2018-04-26 02:42:12.477794'), Timestamp('2022-05-15 17:19:01.376252')]
[146, 'DIF', 'SET    ', 14.3, 14.5, 11.8, 0.0, 0.86, 999.99, 152032.65, 146814.01, 0.0, 146, Timestamp('2018-04-26 02:42:12.494665'), Timestamp('2022-05-15 17:19:01.379580')]
[149, 'DRT', 'sSET / SETCLMV / SETTHSI    ', 7.1, 9.2, 6.7, 10.44, 2.6, 999.99, 6070.74, 3858.19, 0.22, 149, Timestamp('2018-04-26 02:42:12.521213'), Timestamp('2022-05-15 17:19:01.385268')]
[150, 'DTAC', 'SET50    ', 42.75, 51.5, 28.75, 31.05, 5.5, 999.99, 101223.92, 181552.28, 0.31, 150, Timestamp('2018-04-26 02:42:12.528989'), Timestamp('2022-05-15 17:31:13.401881')]
[153, 'EA', 'SET50 / SETTHSI    ', 81.5, 105.5, 57.0, 49.83, 9.35, 999.99, 303995.0, 1140699.12, 1.64, 153, Timestamp('2018-04-26 02:42:12.554444'), Timestamp('2022-05-15 17:19:01.392793')]
[155, 'EASTW', 'SETTHSI    ', 6.05, 10.5, 6.0, 9.48, 0.89, 999.99, 10065.54, 39933.39, 0.64, 155, Timestamp('2018-04-26 02:42:12.570367'), Timestamp('2022-05-15 17:19:01.395882')]
[157, 'ECL', 'SET    ', 2.22, 3.82, 1.56, 13.07, 1.34, 999.99, 2461.67, 20175.65, 0.17, 157, Timestamp('2018-04-26 02:42:12.586799'), Timestamp('2022-05-15 17:31:13.408681')]
[160, 'EGATIF', 'SET    ', 8.95, 12.5, 8.55, 0.0, 0.95, 999.99, 18665.22, 8287.91, 0.0, 160, Timestamp('2018-04-26 02:42:12.613345'), Timestamp('2022-05-15 17:31:13.411532')]
[161, 'EGCO', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 171.5, 187.0, 160.0, 11.83, 0.75, 999.99, 90288.75, 323418.07, 7.82, 161, Timestamp('2018-04-26 02:42:12.622434'), Timestamp('2022-05-15 17:19:01.404332')]
[166, 'EPG', 'SET100 / SETTHSI    ', 9.7, 13.7, 8.6, 16.32, 2.37, 999.99, 27160.0, 43757.08, 0.45, 166, Timestamp('2018-04-26 02:42:12.662873'), Timestamp('2022-05-15 17:19:01.407010')]
[169, 'ESSO', 'SET100    ', 9.15, 9.8, 7.0, 4.19, 1.26, 999.99, 31666.85, 179395.55, 1.7, 169, Timestamp('2018-04-26 02:42:12.689163'), Timestamp('2022-05-15 17:19:01.409652')]
[181, 'FORTH', 'SET    ', 41.0, 53.0, 7.35, 53.06, 22.52, 999.99, 39360.0, 135644.82, 0.77, 181, Timestamp('2018-04-26 02:42:12.790564'), Timestamp('2022-05-15 17:31:13.422678')]
[183, 'FSMART', 'mai    ', 19.5, 28.0, 7.1, 39.73, 12.16, 999.99, 15210.0, 211599.35, 0.11, 183, Timestamp('2018-04-26 02:42:12.806739'), Timestamp('2022-05-15 17:19:01.416167')]
[188, 'GC', 'SET    ', 5.4, 6.73, 4.32, 12.95, 3.88, 999.99, 2376.0, 1392.27, 0.14, 188, Timestamp('2018-04-26 02:42:12.849336'), Timestamp('2022-05-15 17:31:13.428071')]
[192, 'GFPT', 'sSET / SETTHSI    ', 16.2, 16.2, 10.5, 33.6, 1.35, 999.99, 20311.9, 847703.95, 0.36, 192, Timestamp('2018-04-26 02:42:12.883064'), Timestamp('2022-05-15 17:19:01.421706')]
[193, 'GGC', 'sSET    ', 14.0, 14.7, 9.9, 19.82, 1.37, 999.99, 14331.33, 4747.08, 0.48, 193, Timestamp('2018-04-26 02:42:12.891087'), Timestamp('2022-05-15 17:19:01.424339')]
[198, 'GLOBAL', 'SET50 / SETCLMV / SETTHSI / SETWB    ', 21.2, 23.7, 17.63, 28.8, 4.91, 999.99, 101796.82, 91903.13, 0.25, 198, Timestamp('2018-04-26 02:42:12.935051'), Timestamp('2022-05-15 17:31:13.435123')]
[202, 'GPSC', 'SET50 / SETTHSI    ', 60.0, 89.75, 59.5, 29.9, 1.56, 999.99, 169183.76, 534268.65, 0.11, 202, Timestamp('2018-04-26 02:42:12.968453'), Timestamp('2022-05-15 17:19:01.430154')]
[203, 'GRAMMY', 'SET    ', 10.2, 19.0, 10.0, 16.82, 6.13, 999.99, 8363.49, 852.48, 0.61, 203, Timestamp('2018-04-26 02:42:12.976548'), Timestamp('2022-05-15 17:19:01.433200')]
[207, 'GULF', 'SET50 / SETCLMV / SETTHSI    ', 45.75, 52.75, 32.25, 56.91, 5.18, 999.99, 536791.61, 861668.76, 0.29, 207, Timestamp('2018-04-26 02:42:13.011845'), Timestamp('2022-05-15 17:31:13.441972')]
[208, 'GUNKUL', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 4.92, 7.2, 3.4, 20.58, 3.28, 999.99, 43702.05, 266468.9, 0.06, 208, Timestamp('2018-04-26 02:42:13.019866'), Timestamp('2022-05-15 17:19:01.438712')]
[209, 'GVREIT', 'SET    ', 9.6, 11.0, 9.55, 0.0, 0.87, 999.99, 7822.08, 559.37, 0.0, 209, Timestamp('2018-04-26 02:42:13.027979'), Timestamp('2022-05-15 17:31:13.446833')]
[211, 'HANA', 'SET100 / SETTHSI    ', 44.0, 96.25, 43.0, 22.92, 1.54, 999.99, 35414.67, 194516.3, 1.92, 211, Timestamp('2018-04-26 02:42:13.045036'), Timestamp('2022-05-15 17:19:01.444044')]
[213, 'HFT', 'sSET    ', 6.35, 9.75, 5.65, 9.85, 1.15, 999.99, 4181.06, 7592.24, 0.15, 213, Timestamp('2018-04-26 02:42:13.062099'), Timestamp('2022-05-15 17:31:13.451789')]
[214, 'HMPRO', 'SET50 / SETTHSI / SETWB    ', 14.6, 16.6, 12.4, 34.35, 7.87, 999.99, 192007.49, 323318.45, 0.11, 214, Timestamp('2018-04-26 02:42:13.071095'), Timestamp('2022-05-15 17:19:01.452615')]
[217, 'HREIT', 'SET    ', 8.35, 9.3, 8.3, 0.0, 0.9, 999.99, 7015.12, 1053.38, 0.0, 217, Timestamp('2018-04-26 02:42:13.097969'), Timestamp('2022-05-15 17:19:01.455284')]
[218, 'HTC', 'sSET / SETTHSI    ', 29.0, 40.0, 28.5, 10.89, 1.61, 999.99, 5827.85, 8530.53, 2.66, 218, Timestamp('2018-04-26 02:42:13.106463'), Timestamp('2022-05-15 17:19:01.457919')]
[223, 'ICHI', 'sSET / SETCLMV    ', 9.0, 13.3, 8.65, 22.11, 1.86, 999.99, 11700.0, 103436.89, 0.08, 223, Timestamp('2018-04-26 02:42:13.147674'), Timestamp('2022-05-15 17:31:13.460693')]
[228, 'IMPACT', 'SET    ', 16.7, 20.4, 14.4, 0.0, 1.54, 999.99, 24757.75, 13698.88, 0.0, 228, Timestamp('2018-04-26 02:42:13.189926'), Timestamp('2022-05-15 17:19:01.469471')]
[229, 'INGRS', 'SET    ', 0.59, 1.3, 0.57, nan, 0.63, 999.99, 853.7, 749.08, -0.14, 229, Timestamp('2018-04-26 02:42:13.200537'), Timestamp('2022-05-15 17:31:13.471669')]
[231, 'INTUCH', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 71.25, 90.75, 60.0, 21.47, 5.99, 999.99, 228470.15, 221735.65, 0.8, 231, Timestamp('2018-04-26 02:42:13.216428'), Timestamp('2022-05-15 17:19:01.477464')]
[234, 'IRPC', 'SET50 / SETCLMV / SETTHSI    ', 3.1, 4.76, 3.06, 6.08, 0.71, 999.99, 63346.7, 370227.56, 0.07, 234, Timestamp('2018-04-26 02:42:13.241033'), Timestamp('2022-05-15 17:31:13.480756')]
[238, 'IVL', 'SET50 / SETTHSI    ', 46.5, 52.0, 36.0, 7.6, 1.64, 999.99, 261076.66, 1940448.46, 2.47, 238, Timestamp('2018-04-26 02:42:13.276373'), Timestamp('2022-05-15 17:19:01.486995')]
[241, 'JASIF', 'SET    ', 11.0, 11.3, 9.45, 0.0, 0.99, 999.99, 88000.0, 203401.5, 0.0, 241, Timestamp('2018-04-26 02:42:13.304311'), Timestamp('2022-05-15 17:31:13.485502')]
[244, 'JMART', 'SET100    ', 51.5, 64.0, 30.5, 29.52, 4.22, 999.99, 72833.36, 594679.24, 2.39, 244, Timestamp('2018-04-26 02:42:13.330172'), Timestamp('2022-05-15 17:19:01.492358')]
[245, 'JMT', 'SET100    ', 68.0, 88.25, 38.34, 69.69, 5.13, 999.99, 97588.0, 2445001.9, 1.29, 245, Timestamp('2018-04-26 02:42:13.339702'), Timestamp('2022-05-15 17:31:13.490276')]
[250, 'JWD', 'sSET / SETTHSI    ', 14.5, 24.4, 11.1, 25.87, 3.96, 999.99, 14790.0, 26984.78, 0.56, 250, Timestamp('2018-04-26 02:42:13.381370'), Timestamp('2022-05-15 17:19:01.498506')]
[253, 'KBANK', 'SET50 / SETCLMV / SETTHSI    ', 142.0, 175.0, 101.0, 8.71, 0.69, 999.99, 336444.52, 1641080.52, 4.58, 253, Timestamp('2018-04-26 02:42:13.407139'), Timestamp('2022-05-15 17:19:01.503304')]
[256, 'KCE', 'SET50    ', 61.75, 95.0, 53.5, 29.04, 5.22, 999.99, 72974.92, 376500.89, 0.5, 256, Timestamp('2018-04-26 02:42:13.433137'), Timestamp('2022-05-15 17:19:01.506018')]
[259, 'KGI', 'sSET    ', 5.05, 8.4, 5.0, 6.88, 1.28, 999.99, 10058.4, 20017.32, 0.16, 259, Timestamp('2018-04-26 02:42:13.457715'), Timestamp('2022-05-15 17:19:01.512066')]
[262, 'KKP', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 69.25, 76.25, 49.75, 8.48, 1.11, 999.99, 58637.51, 296439.97, 2.43, 262, Timestamp('2018-04-26 02:42:13.483372'), Timestamp('2022-05-15 17:31:13.504049')]
[264, 'KSL', 'SETCLMV    ', 3.58, 4.84, 3.18, 24.7, 0.79, 999.99, 15788.63, 10293.79, 0.08, 264, Timestamp('2018-04-26 02:42:13.499867'), Timestamp('2022-05-15 17:31:13.506832')]
[265, 'KTB', 'SET50 / SETHD / SETTHSI    ', 14.5, 15.3, 9.9, 9.39, 0.56, 999.99, 202652.89, 902921.61, 0.63, 265, Timestamp('2018-04-26 02:42:13.529474'), Timestamp('2022-05-15 17:19:01.520625')]
[266, 'KTC', 'SET50 / SETTHSI    ', 57.75, 84.75, 52.75, 25.33, 5.55, 999.99, 148898.79, 264372.87, 2.28, 266, Timestamp('2018-04-26 02:42:13.537496'), Timestamp('2022-05-15 17:31:13.514005')]
[270, 'KYE', 'SET    ', 365.0, 460.0, 352.0, 12.44, 0.9, 999.99, 7227.0, 618.9, 20.01, 270, Timestamp('2018-04-26 02:42:13.571287'), Timestamp('2022-05-15 17:19:01.525878')]
[271, 'LALIN', 'sSET    ', 9.1, 11.8, 8.1, 6.06, 1.02, 999.99, 8417.49, 1804.5, 1.5, 271, Timestamp('2018-04-26 02:42:13.579474'), Timestamp('2022-05-15 17:19:01.528856')]
[272, 'LANNA', 'sSET    ', 18.3, 29.0, 9.85, 6.1, 1.69, 999.99, 9607.49, 27670.43, 3.0, 272, Timestamp('2018-04-26 02:42:13.588549'), Timestamp('2022-05-15 17:31:13.521146')]
[275, 'LH', 'SET50 / SETHD    ', 8.65, 9.9, 7.65, 14.51, 2.07, 999.99, 103365.02, 444916.67, 0.16, 275, Timestamp('2018-04-26 02:42:13.613605'), Timestamp('2022-05-15 17:31:13.523815')]
[276, 'LHFG', 'SET    ', 1.23, 1.69, 1.01, 19.52, 0.67, 999.99, 26055.9, 8147.52, 0.02, 276, Timestamp('2018-04-26 02:42:13.621579'), Timestamp('2022-05-15 17:31:13.526482')]
[278, 'LHK', 'SET    ', 4.28, 4.4, 3.2, 7.82, 1.13, 999.99, 1639.24, 1940.69, 0.41, 278, Timestamp('2018-04-26 02:42:13.680226'), Timestamp('2022-05-15 17:19:01.540355')]
[281, 'LIT', 'mai    ', 2.0, 3.64, 1.94, nan, 0.75, 999.99, 885.86, 4375.79, -0.05, 281, Timestamp('2018-04-26 02:42:13.788280'), Timestamp('2022-05-15 17:31:13.531356')]
[283, 'LPH', 'sSET    ', 5.55, 6.9, 4.88, 6.94, 2.16, 999.99, 3996.0, 2789.52, 0.21, 283, Timestamp('2018-04-26 02:42:13.854766'), Timestamp('2022-05-15 17:31:13.536196')]
[284, 'LPN', 'sSET / SETTHSI    ', 4.32, 5.8, 4.26, 16.94, 0.55, 999.99, 6375.02, 4981.8, 0.13, 284, Timestamp('2018-04-26 02:42:13.864780'), Timestamp('2022-05-15 17:31:13.538985')]
[287, 'M', 'SETWB    ', 49.75, 57.5, 48.5, 146.37, 3.4, 999.99, 45813.69, 129092.97, 0.29, 287, Timestamp('2018-04-26 02:42:13.894749'), Timestamp('2022-05-15 17:19:01.555172')]
[289, 'MACO', 'sSET    ', 0.65, 1.07, 0.45, nan, 1.32, 999.99, 5276.68, 22371.0, 0.02, 289, Timestamp('2018-04-26 02:42:13.911238'), Timestamp('2022-05-15 17:31:13.543904')]
[290, 'MAJOR', 'SET100 / SETCLMV / SETTHSI    ', 20.4, 26.25, 17.9, 10.58, 2.55, 999.99, 18251.22, 99439.18, 1.77, 290, Timestamp('2018-04-26 02:42:13.920282'), Timestamp('2022-05-15 17:19:01.563143')]
[291, 'MAKRO', 'SET    ', 34.0, 57.25, 33.75, 25.69, 1.24, 999.99, 359731.0, 761786.1, 0.19, 291, Timestamp('2018-04-26 02:42:13.929155'), Timestamp('2022-05-15 17:31:13.549078')]
[298, 'MST', 'SET    ', 11.6, 14.7, 11.3, 8.7, 1.38, 999.99, 6621.45, 895.77, 0.49, 298, Timestamp('2018-04-26 02:42:13.988275'), Timestamp('2022-05-15 17:19:01.584578')]
[299, 'MC', 'sSET    ', 8.8, 10.1, 8.7, 19.09, 1.89, 999.99, 6969.6, 8555.38, 0.32, 299, Timestamp('2018-04-26 02:42:13.995999'), Timestamp('2022-05-15 17:19:01.571626')]

In [20]:
sql = 'DELETE FROM stocks'
rp = conpg.execute(sql)
rp.rowcount

232

In [21]:
for rcd in rcds:
    conpg.execute("""INSERT INTO stocks (id, name, market, price, \
max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, \
created_at, updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near ","
LINE 1: ...beta, ticker_id, created_at, updated_at) VALUES( ?, ?, ?, ?,...
                                                             ^

[SQL: INSERT INTO stocks (id, name, market, price, max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, created_at, updated_at) VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (8, 'ADVANC', 'SET50 / SETHD / SETTHSI    ', 215.0, 242.0, 168.0, 24.05, 8.46, 999.99, 639394.05, 1073120.37, 2.12, 8, Timestamp('2018-04-26 02:42:11.207668'), Timestamp('2022-05-15 17:19:01.186099'))]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_out = pd.read_sql(sql, conpg)
stocks_out.tail()

### Consensus

In [11]:
sql = 'SELECT * FROM consensus ORDER BY id'
consensus_inp = pd.read_sql(sql, conpg)
consensus_inp.tail()

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
205,979,SGP,12.3,1,0,0,1.45,1.40,8.5,1.6,5.4,12.20,X,447,2021-11-09 23:31:12.011505,2021-12-23 23:51:29.710367
206,980,EGATIF,11.9,0,0,1,0.51,0.00,23.3,1.2,7.0,8.75,X,160,2021-11-30 00:26:48.058462,2022-01-13 19:41:39.987505
207,982,SUPEREIF,11.8,0,1,0,0.72,0.00,16.4,1.2,7.5,11.10,X,675,2021-11-30 00:26:48.409981,2022-01-13 19:41:40.301570
208,983,TIPH,66.5,2,0,0,3.61,4.03,18.4,3.7,2.7,77.50,X,537,2021-12-09 00:55:27.504061,2022-06-09 20:52:26.006710
209,984,KEX,22.3,0,3,2,-0.25,0.33,-90.6,4.4,0.4,22.19,X,717,2022-01-17 23:39:10.425793,2022-06-09 20:52:25.800923

In [12]:
consensus_inp = consensus_inp.drop(['created_at', 'updated_at'], axis=1)

In [13]:
rcds = consensus_inp.values.tolist()
len(rcds)

210

In [14]:
len(consensus_inp.columns)

14

In [ ]:
for rcd in rcds:
    conpg.execute("""INSERT INTO consensus (id, name, price, buy, hold, sell, \
eps_a, eps_b, pe, pbv, yield, target_price, status, ticker_id) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

### Charts table

In [25]:
sql = '''SELECT * FROM charts where name IN ('SCB', 'SCBB')
'''
stocks = pd.read_sql(sql, conpg)
stocks.tail()

,id,name,year,quarter,image_q,image_y,ticker_id,created_at,updated_at
0,965,SCBB,2021,3,SCB-2021-3-Q.png,SCB-2021-3-Y.png,432,2021-10-21 15:16:02.699415,2021-10-21 15:16:02.699415
1,1094,SCBB,2021,4,SCB-2021-4-Q.png,SCB-2021-4-Y.png,432,2022-01-22 09:38:12.257997,2022-01-22 09:38:12.257997
2,1186,SCBB,2022,1,SCBB-2022-1-Q.png,SCBB-2022-1-Y.png,432,2022-04-21 15:58:21.925835,2022-04-21 15:58:21.925835
3,1253,SCB,2022,1,SCB-2022-1-Q.png,SCB-2022-1-Y.png,432,2022-05-17 14:45:02.461658,2022-05-17 14:45:02.461658

In [26]:
sqlDel = """
DELETE FROM charts
WHERE name = 'SCBB'
"""
rp = conpg.execute(sqlDel)
rp.rowcount

3

### Portfolios table

In [13]:
sql = "SELECT name, id AS ticker_id FROM tickers"
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
620    SPRIME        674
621  SUPEREIF        675
622      THAI        527
623      TTCL        589
624     TTLPF        676

In [4]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

NameError: name 'portfolios' is not defined

In [10]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

NameError: name 'df_merge' is not defined

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

1

### Check common stocks in profits & portfolios

In [5]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

(17, 20)

In [6]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df.shape

NameError: name 'profits' is not defined

In [12]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df[df['_merge'] == 'left_only']

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,att_cost_amt,last_sell_price,target_sell_price,buy_method,sell_method,ticker_id_y,created_at,updated_at,sell_qty,_merge
0,1515.0,BEM,2019.0,2.0,1.0,7579661.0,3412480.0,4167181.0,122.115910,7579661.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1510.0,CBG,2019.0,2.0,1.0,1739715.0,988908.0,750807.0,75.922836,1739715.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1543.0,COM7,2019.0,2.0,1.0,1044232.0,754060.0,290172.0,38.481288,1044232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1486.0,KTB,2019.0,2.0,1.0,29467687.0,25183660.0,4284027.0,17.011137,29467687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,1538.0,PLANB,2019.0,2.0,1.0,685465.0,530327.0,155138.0,29.253272,685465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,1530.0,ROJNA,2019.0,2.0,1.0,1565310.0,537045.0,1028265.0,191.467195,1565310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,1532.0,TASCO,2019.0,2.0,1.0,1909764.0,1380929.0,528835.0,38.295597,1909764.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,1513.0,WHAUP,2019.0,2.0,1.0,2521590.0,2019649.0,501941.0,24.852883,2521590.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Delete records from profits en mass

In [2]:
year = 2019
quarter = 3

In [9]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

"'ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP'"

In [10]:
for rcd in rcds:
    conpg.execute(sql, rcd)

DELETE FROM profits
WHERE name IN ('ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP')
AND year = 2019 AND quarter = 3

In [11]:
rp = conpg.execute(sql)
rp.rowcount

1

### Delete all record where quarter = 4

In [ ]:
sql = '''
DELETE FROM profits 
WHERE year = %s AND quarter = %s
'''
sql = sql % (year, quarter)
print(sql)

In [ ]:
rp = conpg.execute(sql)
rp.rowcount

In [ ]:
sql = '''
SELECT * FROM profits WHERE year = %s AND quarter = %s
ORDER BY name'''
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conpg)
profits

### Export portfolis from PortMy to PortPg

In [11]:
sql = '''
SELECT *
FROM portfolios
'''
portfolios = pd.read_sql(sql, conpg)
portfolios.dtypes

id                     int64
name                  object
date                  object
buy_qty                int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id              int64
created_at            object
updated_at            object
sell_qty               int64
dtype: object

In [12]:
sql = 'SELECT name, id AS ticker_id FROM tickers'
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
621    SPRIME        674
622  SUPEREIF        675
623      THAI        527
624      TTCL        589
625     TTLPF        676

In [13]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

Index(['id', 'name', 'date', 'buy_qty', 'comp_qty', 'att_qty', 'buy_unit_cost',
       'comp_unit_cost', 'att_unit_cost', 'buy_cost_amt', 'comp_cost_amt',
       'att_cost_amt', 'last_sell_price', 'target_sell_price', 'buy_method',
       'sell_method', 'ticker_id_x', 'created_at', 'updated_at', 'sell_qty',
       'ticker_id_y'],
      dtype='object')

In [14]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

name                  object
date                  object
buy_qty                int64
sell_qty               int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id_y            int64
created_at            object
updated_at            object
dtype: object

In [15]:
sql = """
DELETE FROM portfolios"""
rp = conpg.execute(sql)
rp.rowcount

16

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

16

In [17]:
for rcd in rcds:
    print(rcd)

['IVL', '2018-04-05', 3000, 3000, 15000, 18000, 28.0, 49.0, 45.5, 84000, 735000, 819000, 59.0, 41.0, 2, 2, 238, '2018-04-05 02:48:06.687907', '2019-11-30 15:29:32.379233']
['LH', '2019-02-10', 0, 36000, 45000, 45000, 10.3, 11.1, 11.1, 0, 499500, 499500, 0.0, 11.2, 2, 0, 275, '2019-02-10 16:23:53.431245', '2019-08-28 13:56:34.903384']
['SAT', '2019-02-17', 10000, 50000, 50000, 60000, 14.9, 19.1, 18.4, 149000, 955000, 1104000, 20.1, 19.2, 2, 2, 427, '2019-02-17 08:36:22.989392', '2019-12-06 14:40:18.853694']
['PTTGC', '2019-06-23', 0, 3000, 9000, 9000, 49.5, 75.5, 75.5, 0, 679500, 679500, 0.0, 67.75, 2, 2, 391, '2019-06-23 16:37:36.297845', '2019-09-14 17:19:13.946449']
['AMATA', '2019-07-07', 3000, 7000, 21000, 24000, 19.5, 23.5, 23.0, 58500, 493500, 552000, 0.0, 27.75, 2, 0, 24, '2019-07-07 17:00:05.670265', '2019-11-29 04:21:00.820834']
['ORI', '2019-07-07', 12000, 60000, 60000, 72000, 6.0, 10.2, 9.5, 72000, 612000, 684000, 0.0, 10.2, 2, 2, 347, '2019-07-07 17:01:13.522345', '2019-11-16 15:45:08.939918']
['SYNEX', '2019-07-07', 0, 33000, 33000, 33000, 9.2, 12.9, 12.9, 0, 425700, 425700, 0.0, 9.0, 2, 2, 504, '2019-07-07 17:07:50.562474', '2019-11-16 16:18:51.271429']
['CPNREIT', '2019-07-07', 6000, 3000, 30000, 36000, 26.5, 22.3, 23.0, 159000, 669000, 828000, 37.0, 33.5, 2, 0, 127, '2019-07-07 17:09:36.316288', '2019-12-13 14:52:19.234472']
['PTTEP', '2019-07-30', 1200, 1200, 3600, 4800, 113.0, 125.0, 122.0, 135600, 450000, 585600, 0.0, 137.5, 2, 2, 390, '2019-07-30 16:02:27.870540', '2019-08-26 06:49:45.562553']
['BANPU', '2019-08-12', 0, 8000, 24000, 24000, 11.8, 18.1, 18.1, 0, 434400, 434400, 0.0, 12.9, 2, 2, 51, '2019-08-12 16:17:52.268307', '2019-11-15 16:46:43.651999']
['ROJNA', '2019-08-18', 15000, 25000, 90000, 105000, 4.6, 6.35, 6.1, 69000, 571500, 640500, 0.0, 7.25, 2, 2, 409, '2019-08-18 14:42:49.849307', '2019-12-09 14:21:31.594031']
['JASIF', '2019-10-05', 0, 2000, 128000, 128000, 10.6, 10.1, 10.1, 0, 1292800, 1292800, 10.6, 11.3, 2, 2, 241, '2019-10-05 14:45:48.514836', '2019-11-26 15:56:09.265727']
['FSMART', '2019-11-09', 6000, 60000, 66000, 72000, 5.5, 10.3, 9.9, 33000, 679800, 712800, 0.0, 10.7, 2, 2, 183, '2019-11-09 15:16:48.185104', '2019-11-16 15:43:32.242263']
['MCS', '2019-11-11', 10000, 25000, 75000, 85000, 9.25, 16.9, 16.0, 92500, 1267500, 1360000, 0.0, 12.9, 2, 2, 301, '2019-11-11 06:55:39.662226', '2019-11-28 09:00:51.564901']
['NOBLE', '2019-11-19', 5000, 5000, 20000, 25000, 14.4, 16.4, 16.0, 72000, 328000, 400000, 0.0, 20.4, 2, 2, 336, '2019-11-19 03:13:49.142639', '2019-12-28 14:14:38.706873']
['SUPER', '2019-11-19', 200000, 0, 0, 200000, 0.5, 0.0, 0.5, 100000, 0, 100000, 0.0, 0.0, 2, 2, 496, '2019-11-19 03:16:46.210950', '2019-11-19 03:16:46.210950']

In [18]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

In [19]:
for rcd in rcds:
    conpg.execute(sql, rcd)

In [15]:
sqlDel = """
DELETE FROM consensus
WHERE name = 'FORTH'"""
rp = conpg.execute(sqlDel)
rp.rowcount

1

### SET50 & SET100

In [30]:
sql = '''
SELECT name, market
FROM tickers
ORDER BY name'''
my_tickers = pd.read_sql(sql, conpg)
my_tickers.dtypes

name      object
market    object
dtype: object

In [31]:
filters = [
   (my_tickers.market.str.contains('SET50')),
   (my_tickers.market.str.contains('SET100')),
   (my_tickers.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [32]:
my_tickers["mrkt"] = np.select(filters, values, default='SET999')
my_tickers.head()

     name                   market    mrkt
0      2S                      SET  SET999
1       A                      SET  SET999
2     AAV           sSET / SETTHSI  SET999
3     ACE                   SET100  SET100
4  ADVANC  SET50 / SETHD / SETTHSI   SET50

In [33]:
set50 = my_tickers[my_tickers['mrkt'] == 'SET50']
set50.sort_values('name',ascending=True)

       name                                     market   mrkt
4    ADVANC                    SET50 / SETHD / SETTHSI  SET50
19      AOT                    SET50 / SETTHSI / SETWB  SET50
32      AWC                            SET50 / SETTHSI  SET50
37    BANPU                  SET50 / SETCLMV / SETTHSI  SET50
39      BBL                    SET50 / SETHD / SETTHSI  SET50
44     BDMS          SET50 / SETCLMV / SETTHSI / SETWB  SET50
47      BEM                    SET50 / SETTHSI / SETWB  SET50
51    BGRIM                  SET50 / SETCLMV / SETTHSI  SET50
52       BH                    SET50 / SETCLMV / SETWB  SET50
55      BLA                            SET50 / SETTHSI  SET50
61      BTS                    SET50 / SETTHSI / SETWB  SET50
63      CBG                    SET50 / SETCLMV / SETWB  SET50
75    CPALL                    SET50 / SETTHSI / SETWB  SET50
76      CPF  SET50 / SETCLMV / SETHD / SETTHSI / SETWB  SET50
78      CPN                            SET50 / SETTHSI  SET50
82      CRC          SET50 / SETCLMV / SETTHSI / SETWB  SET50
96     DTAC                                      SET50  SET50
98       EA                            SET50 / SETTHSI  SET50
102    EGCO          SET50 / SETCLMV / SETHD / SETTHSI  SET50
122  GLOBAL          SET50 / SETCLMV / SETTHSI / SETWB  SET50
124    GPSC                            SET50 / SETTHSI  SET50
126    GULF                  SET50 / SETCLMV / SETTHSI  SET50
131   HMPRO                    SET50 / SETTHSI / SETWB  SET50
148  INTUCH          SET50 / SETCLMV / SETHD / SETTHSI  SET50
151    IRPC                  SET50 / SETCLMV / SETTHSI  SET50
153     IVL                            SET50 / SETTHSI  SET50
158   JMART                                      SET50  SET50
159     JMT                                      SET50  SET50
164   KBANK                  SET50 / SETCLMV / SETTHSI  SET50
166     KCE                                      SET50  SET50
171     KTB                    SET50 / SETHD / SETTHSI  SET50
172     KTC                            SET50 / SETTHSI  SET50
178      LH                              SET50 / SETHD  SET50
200    MINT          SET50 / SETCLMV / SETTHSI / SETWB  SET50
205     MTC                            SET50 / SETTHSI  SET50
215      OR                            SET50 / SETCLMV  SET50
217     OSP  SET50 / SETCLMV / SETHD / SETTHSI / SETWB  SET50
240     PTT          SET50 / SETCLMV / SETHD / SETTHSI  SET50
241   PTTEP          SET50 / SETCLMV / SETHD / SETTHSI  SET50
242   PTTGC                  SET50 / SETCLMV / SETTHSI  SET50
268   SAWAD                                      SET50  SET50
270     SCB                  SET50 / SETCLMV / SETTHSI  SET50
271     SCC          SET50 / SETCLMV / SETHD / SETTHSI  SET50
273    SCGP                  SET50 / SETCLMV / SETTHSI  SET50
339  TIDLOR                                      SET50  SET50
343   TISCO                    SET50 / SETHD / SETTHSI  SET50
355     TOP                  SET50 / SETCLMV / SETTHSI  SET50
363    TRUE                            SET50 / SETTHSI  SET50
368     TTB                    SET50 / SETHD / SETTHSI  SET50
372      TU  SET50 / SETCLMV / SETHD / SETTHSI / SETWB  SET50

In [34]:
set100 = my_tickers[my_tickers['mrkt'] == 'SET100']
set100.sort_values('name',ascending=True)

       name                              market    mrkt
3       ACE                              SET100  SET100
5    AEONTS                              SET100  SET100
16    AMATA          SET100 / SETCLMV / SETTHSI  SET100
20       AP                      SET100 / SETHD  SET100
36      BAM                              SET100  SET100
40      BCH                      SET100 / SETWB  SET100
41      BCP          SET100 / SETCLMV / SETTHSI  SET100
42     BCPG  SET100 / SETCLMV / SETHD / SETTHSI  SET100
46      BEC                              SET100  SET100
66   CENTEL            SET100 / SETTHSI / SETWB  SET100
69      CHG                      SET100 / SETWB  SET100
71       CK          SET100 / SETCLMV / SETTHSI  SET100
72      CKP          SET100 / SETCLMV / SETTHSI  SET100
73     COM7            SET100 / SETTHSI / SETWB  SET100
94   DOHOME                      SET100 / SETWB  SET100
106     EPG                    SET100 / SETTHSI  SET100
108    ESSO                              SET100  SET100
112   FORTH                              SET100  SET100
127  GUNKUL  SET100 / SETCLMV / SETHD / SETTHSI  SET100
129    HANA                    SET100 / SETTHSI  SET100
167     KEX            SET100 / SETTHSI / SETWB  SET100
169     KKP  SET100 / SETCLMV / SETHD / SETTHSI  SET100
190   MAJOR          SET100 / SETCLMV / SETTHSI  SET100
197    MEGA            SET100 / SETCLMV / SETWB  SET100
216     ORI            SET100 / SETHD / SETTHSI  SET100
225   PLANB                    SET100 / SETTHSI  SET100
237     PSL                              SET100  SET100
238     PTG            SET100 / SETHD / SETTHSI  SET100
245      QH                      SET100 / SETHD  SET100
248   RATCH  SET100 / SETCLMV / SETHD / SETTHSI  SET100
249     RBF            SET100 / SETCLMV / SETWB  SET100
250     RCL                    SET100 / SETCLMV  SET100
282  SINGER                              SET100  SET100
297   SPALI                      SET100 / SETHD  SET100
302    SPRC                    SET100 / SETCLMV  SET100
309     STA            SET100 / SETTHSI / SETWB  SET100
311   STARK                    SET100 / SETCLMV  SET100
312    STEC                              SET100  SET100
313    STGT                    SET100 / SETTHSI  SET100
316   SUPER                    SET100 / SETCLMV  SET100
323   SYNEX                    SET100 / SETTHSI  SET100
327   TASCO  SET100 / SETCLMV / SETHD / SETTHSI  SET100
328    TCAP                      SET100 / SETHD  SET100
333   THANI            SET100 / SETHD / SETTHSI  SET100
342    TIPH                              SET100  SET100
359     TQM                    SET100 / SETTHSI  SET100
367     TTA                      SET100 / SETWB  SET100
384     VGI                    SET100 / SETTHSI  SET100
389     WHA            SET100 / SETHD / SETTHSI  SET100