In [1]:
#%load_ext nb_black
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

output_path = "../data/"
year = 2022
quarter = 1

### Profits

In [4]:
sql = """
SELECT *
FROM profits
ORDER BY name
LIMIT 1
"""
profits = pd.read_sql(sql, conmy)
profits.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [5]:
sql = """
SELECT *
FROM profits
ORDER BY name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(34, 23)

In [6]:
sql = """
SELECT P.name, T.id
FROM profits P
JOIN tickers T
ON P.name = T.name
ORDER BY P.name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(34, 2)

In [7]:
sql = """
SELECT P.name, S.price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id
LEFT JOIN stocks S
ON S.ticker_id = T.id
ORDER BY P.name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(34, 8)

In [8]:
sql = '''
SELECT name, market
FROM stocks
ORDER BY name'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape

(253, 2)

In [9]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [10]:
my_stocks["mrkt"] = np.select(filters, values, default='SET999')
my_stocks.head()

     name                   market    mrkt
0     ACE                   SET100  SET100
1  ADVANC  SET50 / SETHD / SETTHSI   SET50
2  AEONTS                   SET100  SET100
3      AH           sSET / SETTHSI  SET999
4     AIE                     sSET  SET999

In [11]:
df_merge = pd.merge(profits, my_stocks, on='name', how='inner')
df_merge.groupby('mrkt').count()

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market
mrkt,,,,,,,,,
SET100,9,9,9,9,9,9,9,9,9
SET50,12,12,12,12,12,12,12,12,12
SET999,13,13,13,13,13,13,13,13,13

In [12]:
df_tmp = pd.merge(profits, my_stocks, on='name', how='outer',indicator=True)
df_tmp[df_tmp._merge == 'left_only']

Empty DataFrame
Columns: [name, price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, market, mrkt, _merge]
Index: []

In [13]:
set50 = df_merge[df_merge['mrkt'] == 'SET50']
set50.sort_values('name',ascending=True)

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market,mrkt
3,BBL,125.50,62.49,0.74,2.816197,12.663729,19.677482,29.011696,SET50 / SETHD / SETTHSI,SET50
5,BDMS,26.75,67.76,26.52,157.199267,30.622398,70.525416,60.686988,SET50 / SETCLMV / SETTHSI / SETWB,SET50
6,BH,174.50,248.93,52.14,695.594303,18.452364,253.779167,311.587968,SET50 / SETCLMV / SETWB,SET50
12,GLOBAL,21.80,53.28,5.71,19.754829,54.956470,33.425325,24.581972,SET50 / SETCLMV / SETTHSI / SETWB,SET50
13,GULF,46.75,49.07,22.98,107.982367,11.538973,47.892835,43.028635,SET50 / SETCLMV / SETTHSI,SET50
14,IVL,48.75,337.44,30.66,134.154717,160.962831,165.804387,127.472783,SET50 / SETTHSI,SET50
15,KBANK,144.50,18.01,1.53,5.496352,13.228587,9.566235,7.435388,SET50 / SETCLMV / SETTHSI,SET50
17,KTB,14.40,55.74,14.83,57.397952,77.601738,51.392422,26.323037,SET50 / SETHD / SETTHSI,SET50
18,KTC,59.00,12.52,1.93,6.944888,40.007789,15.350669,16.997625,SET50 / SETTHSI,SET50
30,TISCO,89.25,7.39,0.47,1.806731,0.231726,2.474614,3.349433,SET50 / SETHD / SETTHSI,SET50
31,TOP,58.75,18.73,30.39,113.769626,42.720652,51.402570,42.716314,SET50 / SETCLMV / SETTHSI,SET50
33,TTB,1.24,24.70,3.94,14.843842,14.130902,14.403686,8.480781,SET50 / SETHD / SETTHSI,SET50

In [14]:
set100 = df_merge[df_merge['mrkt'] == 'SET100']
set100.sort_values('name',ascending=True)

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market,mrkt
4,BCPG,12.00,53.09,41.76,160.441956,473.446309,182.184566,201.403914,SET100 / SETCLMV / SETHD / SETTHSI,SET100
7,BPP,16.00,33.23,60.25,182.193136,687.125060,240.699549,304.589555,SET100 / SETCLMV / SETHD / SETTHSI,SET100
9,ESSO,9.65,537.95,70.02,111.579992,686.270279,351.455068,307.477552,SET100,SET100
16,KKP,69.50,35.45,9.38,40.520211,1.581884,21.733024,19.146623,SET100 / SETCLMV / SETHD / SETTHSI,SET100
19,MEGA,54.00,58.39,14.41,84.079053,23.695190,45.143561,32.124887,SET100 / SETCLMV / SETWB,SET100
21,RBF,15.00,13.71,20.91,117.092547,57.359008,52.267889,47.251751,SET100 / SETCLMV / SETWB,SET100
22,RCL,46.25,397.50,29.38,179.528879,1.376304,151.946296,181.430648,SET100 / SETCLMV,SET100
24,SINGER,51.75,56.26,10.75,53.735370,1.267882,30.503313,28.565942,SET100,SET100
28,SPRC,11.80,87.78,69.08,163.470770,184.944662,126.318858,56.505988,SET100 / SETCLMV,SET100

### Tickers

In [15]:
sql = '''
SELECT * 
FROM tickers
'''
tickers = pd.read_sql(sql, conpg)
tickers.head()

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,697,EP,EASTERN POWER GROUP PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.epco.co.th,2021-06-03 02:53:59.706398,2021-06-03 02:53:59.706398
1,8,ADVANC,ADVANCED INFO SERVICE PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET50 / SETHD / SETTHSI,investor.ais.co.th,2018-04-22 04:29:36.118727,2021-07-07 03:33:38.798595
2,13,AIMIRT,AIM INDUSTRIAL GROWTH FREEHOLD AND LEASEHOLD R...,Property & Construction,Property Fund & REITs,SET,www.aimreit.com,2018-04-22 04:29:36.146073,2018-04-22 04:29:36.146073
3,14,AIT,"ADVANCED INFORMATION TECHNOLOGY PUBLIC CO.,LTD.",Technology,Information & Communication Technology,sSET,www.ait.co.th,2018-04-22 04:29:36.152088,2018-04-22 04:29:36.152088
4,11,AH,AAPICO HITECH PUBLIC COMPANY LIMITED,Industrials,Automotive,sSET / SETTHSI,www.aapico.com,2018-04-22 04:29:36.134601,2021-07-07 03:33:38.806441

In [16]:
rcds = tickers_inp.values.tolist()
len(rcds)

NameError: name 'tickers_inp' is not defined

In [ ]:
for rcd in rcds:
    print(rcd)

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO tickers (id, name, full_name, sector, \
subsector, market, website, created_at, \
updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM tickers ORDER BY id'
tickers_out = pd.read_sql(sql, conmy)
tickers_out.tail()

### End of Tickers

### Stocks

In [12]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_inp = pd.read_sql(sql, conlt)
stocks_inp.tail()

NameError: name 'conlt' is not defined

In [ ]:
rcds = stocks_inp.values.tolist()
len(rcds)

In [ ]:
for rcd in rcds:
    print(rcd)

In [ ]:
sql = 'DELETE FROM stocks'
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO stocks (id, name, market, price, \
max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, \
created_at, updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_out = pd.read_sql(sql, conmy)
stocks_out.tail()

### Consensus

In [ ]:
sql = 'SELECT * FROM consensus ORDER BY id'
consensus_inp = pd.read_sql(sql, conlt)
consensus_inp.tail()

In [ ]:
consensus_inp = consensus_inp.drop(['created_at', 'updated_at'], axis=1)

In [ ]:
rcds = consensus_inp.values.tolist()
len(rcds)

In [ ]:
len(consensus_inp.columns)

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO consensus (id, name, price, buy, hold, sell, \
eps_a, eps_b, pe, pbv, yield, target_price, status, ticker_id) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

### Portfolios table

In [13]:
sql = "SELECT name, id AS ticker_id FROM tickers"
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
620    SPRIME        674
621  SUPEREIF        675
622      THAI        527
623      TTCL        589
624     TTLPF        676

In [4]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

NameError: name 'portfolios' is not defined

In [10]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

NameError: name 'df_merge' is not defined

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

1

### Check common stocks in profits & portfolios

In [5]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

(17, 20)

In [6]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df.shape

NameError: name 'profits' is not defined

In [12]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df[df['_merge'] == 'left_only']

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,att_cost_amt,last_sell_price,target_sell_price,buy_method,sell_method,ticker_id_y,created_at,updated_at,sell_qty,_merge
0,1515.0,BEM,2019.0,2.0,1.0,7579661.0,3412480.0,4167181.0,122.115910,7579661.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1510.0,CBG,2019.0,2.0,1.0,1739715.0,988908.0,750807.0,75.922836,1739715.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1543.0,COM7,2019.0,2.0,1.0,1044232.0,754060.0,290172.0,38.481288,1044232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1486.0,KTB,2019.0,2.0,1.0,29467687.0,25183660.0,4284027.0,17.011137,29467687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,1538.0,PLANB,2019.0,2.0,1.0,685465.0,530327.0,155138.0,29.253272,685465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,1530.0,ROJNA,2019.0,2.0,1.0,1565310.0,537045.0,1028265.0,191.467195,1565310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,1532.0,TASCO,2019.0,2.0,1.0,1909764.0,1380929.0,528835.0,38.295597,1909764.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,1513.0,WHAUP,2019.0,2.0,1.0,2521590.0,2019649.0,501941.0,24.852883,2521590.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Delete records from profits en mass

In [2]:
year = 2019
quarter = 3

In [9]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

"'ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP'"

In [10]:
for rcd in rcds:
    conpg.execute(sql, rcd)

DELETE FROM profits
WHERE name IN ('ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP')
AND year = 2019 AND quarter = 3

In [11]:
rp = conmy.execute(sql)
rp.rowcount

1

### Delete all record where quarter = 4

In [ ]:
sql = '''
DELETE FROM profits 
WHERE year = %s AND quarter = %s
'''
sql = sql % (year, quarter)
print(sql)

In [ ]:
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
sql = '''
SELECT * FROM profits WHERE year = %s AND quarter = %s
ORDER BY name'''
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conmy)
profits

### Export portfolis from PortMy to PortPg

In [11]:
sql = '''
SELECT *
FROM portfolios
'''
portfolios = pd.read_sql(sql, conmy)
portfolios.dtypes

id                     int64
name                  object
date                  object
buy_qty                int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id              int64
created_at            object
updated_at            object
sell_qty               int64
dtype: object

In [12]:
sql = 'SELECT name, id AS ticker_id FROM tickers'
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
621    SPRIME        674
622  SUPEREIF        675
623      THAI        527
624      TTCL        589
625     TTLPF        676

In [13]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

Index(['id', 'name', 'date', 'buy_qty', 'comp_qty', 'att_qty', 'buy_unit_cost',
       'comp_unit_cost', 'att_unit_cost', 'buy_cost_amt', 'comp_cost_amt',
       'att_cost_amt', 'last_sell_price', 'target_sell_price', 'buy_method',
       'sell_method', 'ticker_id_x', 'created_at', 'updated_at', 'sell_qty',
       'ticker_id_y'],
      dtype='object')

In [14]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

name                  object
date                  object
buy_qty                int64
sell_qty               int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id_y            int64
created_at            object
updated_at            object
dtype: object

In [15]:
sql = """
DELETE FROM portfolios"""
rp = conpg.execute(sql)
rp.rowcount

16

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

16

In [17]:
for rcd in rcds:
    print(rcd)

['IVL', '2018-04-05', 3000, 3000, 15000, 18000, 28.0, 49.0, 45.5, 84000, 735000, 819000, 59.0, 41.0, 2, 2, 238, '2018-04-05 02:48:06.687907', '2019-11-30 15:29:32.379233']
['LH', '2019-02-10', 0, 36000, 45000, 45000, 10.3, 11.1, 11.1, 0, 499500, 499500, 0.0, 11.2, 2, 0, 275, '2019-02-10 16:23:53.431245', '2019-08-28 13:56:34.903384']
['SAT', '2019-02-17', 10000, 50000, 50000, 60000, 14.9, 19.1, 18.4, 149000, 955000, 1104000, 20.1, 19.2, 2, 2, 427, '2019-02-17 08:36:22.989392', '2019-12-06 14:40:18.853694']
['PTTGC', '2019-06-23', 0, 3000, 9000, 9000, 49.5, 75.5, 75.5, 0, 679500, 679500, 0.0, 67.75, 2, 2, 391, '2019-06-23 16:37:36.297845', '2019-09-14 17:19:13.946449']
['AMATA', '2019-07-07', 3000, 7000, 21000, 24000, 19.5, 23.5, 23.0, 58500, 493500, 552000, 0.0, 27.75, 2, 0, 24, '2019-07-07 17:00:05.670265', '2019-11-29 04:21:00.820834']
['ORI', '2019-07-07', 12000, 60000, 60000, 72000, 6.0, 10.2, 9.5, 72000, 612000, 684000, 0.0, 10.2, 2, 2, 347, '2019-07-07 17:01:13.522345', '2019-11-16 15:45:08.939918']
['SYNEX', '2019-07-07', 0, 33000, 33000, 33000, 9.2, 12.9, 12.9, 0, 425700, 425700, 0.0, 9.0, 2, 2, 504, '2019-07-07 17:07:50.562474', '2019-11-16 16:18:51.271429']
['CPNREIT', '2019-07-07', 6000, 3000, 30000, 36000, 26.5, 22.3, 23.0, 159000, 669000, 828000, 37.0, 33.5, 2, 0, 127, '2019-07-07 17:09:36.316288', '2019-12-13 14:52:19.234472']
['PTTEP', '2019-07-30', 1200, 1200, 3600, 4800, 113.0, 125.0, 122.0, 135600, 450000, 585600, 0.0, 137.5, 2, 2, 390, '2019-07-30 16:02:27.870540', '2019-08-26 06:49:45.562553']
['BANPU', '2019-08-12', 0, 8000, 24000, 24000, 11.8, 18.1, 18.1, 0, 434400, 434400, 0.0, 12.9, 2, 2, 51, '2019-08-12 16:17:52.268307', '2019-11-15 16:46:43.651999']
['ROJNA', '2019-08-18', 15000, 25000, 90000, 105000, 4.6, 6.35, 6.1, 69000, 571500, 640500, 0.0, 7.25, 2, 2, 409, '2019-08-18 14:42:49.849307', '2019-12-09 14:21:31.594031']
['JASIF', '2019-10-05', 0, 2000, 128000, 128000, 10.6, 10.1, 10.1, 0, 1292800, 1292800, 10.6, 11.3, 2, 2, 241, '2019-10-05 14:45:48.514836', '2019-11-26 15:56:09.265727']
['FSMART', '2019-11-09', 6000, 60000, 66000, 72000, 5.5, 10.3, 9.9, 33000, 679800, 712800, 0.0, 10.7, 2, 2, 183, '2019-11-09 15:16:48.185104', '2019-11-16 15:43:32.242263']
['MCS', '2019-11-11', 10000, 25000, 75000, 85000, 9.25, 16.9, 16.0, 92500, 1267500, 1360000, 0.0, 12.9, 2, 2, 301, '2019-11-11 06:55:39.662226', '2019-11-28 09:00:51.564901']
['NOBLE', '2019-11-19', 5000, 5000, 20000, 25000, 14.4, 16.4, 16.0, 72000, 328000, 400000, 0.0, 20.4, 2, 2, 336, '2019-11-19 03:13:49.142639', '2019-12-28 14:14:38.706873']
['SUPER', '2019-11-19', 200000, 0, 0, 200000, 0.5, 0.0, 0.5, 100000, 0, 100000, 0.0, 0.0, 2, 2, 496, '2019-11-19 03:16:46.210950', '2019-11-19 03:16:46.210950']

In [18]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

In [19]:
for rcd in rcds:
    conpg.execute(sql, rcd)

In [2]:
name = 'AP'
sql = 'SELECT * FROM epss WHERE name="%s" ORDER BY id DESC'
sql = sql % name
df = pd.read_sql(sql, conlt)
df

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,21483,AP,2022,1,1729906,1402754,1729906,1402754,0.550,0.446,0.550,0.446,25,2022-05-10
1,21215,AP,2021,4,994103,942194,4543060,4226535,0.312,0.296,1.440,1.340,25,2022-02-22
2,20773,AP,2021,3,1031202,1450434,3548957,3284341,0.328,0.461,1.128,1.044,25,2021-11-09
3,20221,AP,2021,2,1115001,1215449,2517755,1833907,0.354,0.386,0.800,0.583,25,2021-08-10
4,19812,AP,2021,1,1402754,618458,1402754,618458,0.446,0.197,0.446,0.197,25,2021-05-11
5,19401,AP,2020,4,942194,881816,4226535,3067513,0.296,0.285,1.340,0.980,25,2021-02-23
6,18724,AP,2020,3,1450434,619323,3284341,2185697,0.461,0.197,1.044,0.695,25,2020-11-10
7,18144,AP,2020,2,1215449,488247,1833907,1566374,0.386,0.155,0.583,0.498,25,2020-08-11
8,17667,AP,2020,1,618458,1078127,618458,1078127,0.197,0.343,0.197,0.343,25,2020-05-12
9,17168,AP,2019,4,881816,977198,3067513,3962804,0.285,0.311,0.980,1.260,25,2020-02-25
10,16617,AP,2019,3,619323,928137,2185697,2985606,0.197,0.295,0.695,0.949,25,2019-11-12
11,15935,AP,2019,2,488247,1190693,1566374,2057469,0.155,0.378,0.498,0.654,25,2019-08-13
12,15403,AP,2019,1,1078127,866776,1078127,866776,0.343,0.276,0.343,0.276,25,2019-05-14
13,14757,AP,2018,4,956699,1358749,3865410,3157096,0.304,0.432,1.229,1.004,25,2019-02-26
14,14155,AP,2018,3,916643,636745,2908711,1798347,0.291,0.202,0.925,0.572,25,2018-11-13
15,13552,AP,2018,2,1183032,612956,1992068,1161602,0.376,0.195,0.633,0.369,25,2018-08-14
16,12781,AP,2018,1,809036,548646,809036,548646,0.257,0.174,0.257,0.174,25,2018-05-11
17,12341,AP,2017,4,1358749,1265257,3157096,2702561,0.432,0.402,1.004,0.859,25,2018-02-27
18,11444,AP,2017,3,636745,456548,1798347,1437304,0.202,0.145,0.572,0.457,25,2017-11-10
19,8457,AP,2017,2,612956,525981,1161602,980756,0.195,0.167,0.369,0.312,25,2017-02-28
20,4139,AP,2017,1,548646,454775,548646,454775,0.174,0.145,0.174,0.145,25,2017-02-28
21,4138,AP,2016,4,1265257,676066,2702561,2623378,0.402,0.240,0.859,0.859,25,2017-02-28
22,4137,AP,2016,3,456548,745062,1437304,1947312,0.145,0.237,0.457,0.619,25,2017-02-28
23,4136,AP,2016,2,525981,642659,980756,1202250,0.167,0.204,0.312,0.382,25,2017-02-28
24,4135,AP,2016,1,454775,559591,454775,559591,0.145,0.178,0.145,0.178,25,2017-02-28
25,4134,AP,2015,4,676066,608472,2623378,2615455,0.215,0.193,0.834,0.831,25,2017-02-28
26,4133,AP,2015,3,745062,1035557,1947312,2006983,0.237,0.329,0.619,0.638,25,2017-02-28
27,4132,AP,2015,2,642659,711724,1202250,971426,0.204,0.226,0.382,0.309,25,2017-02-28
28,4131,AP,2015,1,559951,259702,559591,259702,0.178,0.083,0.178,0.083,25,2017-02-28
29,4130,AP,2014,4,608472,932874,2615455,2013299,0.129,0.262,0.831,0.640,25,2017-02-28
30,4129,AP,2014,3,1035557,405587,2006983,1080425,0.362,0.142,0.702,0.378,25,2017-02-28
31,4128,AP,2014,2,711724,452153,971426,674838,0.249,0.158,0.340,0.236,25,2017-02-28
32,4127,AP,2014,1,259702,222685,259702,222685,0.091,0.078,0.091,0.078,25,2017-02-28
33,4126,AP,2013,4,932874,888244,2013299,2185735,0.326,0.313,0.704,0.771,25,2017-02-28
34,4125,AP,2013,3,405587,412810,1080425,1297491,0.142,0.145,0.378,0.458,25,2017-02-28
35,4124,AP,2013,2,452153,489904,674838,884681,0.158,0.173,0.236,0.313,25,2017-02-28
36,4123,AP,2013,1,222685,394777,222685,394777,0.078,0.140,0.078,0.140,25,2017-02-28
37,4122,AP,2012,4,902650,347270,2329263,1550926,0.318,0.123,0.822,0.551,25,2017-02-28
38,4121,AP,2012,3,429595,603369,1426613,1203656,0.151,0.214,0.504,0.428,25,2017-02-28
39,4120,AP,2012,2,575689,468115,997018,600287,0.204,0.166,0.353,0.213,25,2017-02-28
40,4119,AP,2012,1,421329,132172,421329,132172,0.149,0.047,0.149,0.047,25,2017-02-28
41,4118,AP,2011,4,347270,132000,1550926,2227659,0.123,0.047,0.551,0.794,25,2017-02-28
42,4117,AP,2011,3,603369,90648,1203656,1614594,0.214,0.032,0.428,0.576,25,2017-02-28
43,4116,AP,2011,2,468115,286287,600287,1523946,0.166,0.102,0.213,0.544,25,2017-02-28
44,4115,AP,2011,1,132172,1237659,132172,1237659,0.047,0.442,0.047,0.442,25,2017-02-28

In [6]:
sql = 'SELECT * FROM epss ORDER BY id DESC'
df = pd.read_sql(sql, conlt)
df.head()

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,21643,BCT,2021,4,1185792,1054434,4287324,1036420,3.9500,3.5100,14.290,3.450,729,2022-05-27
1,21642,TR,2021,4,1029048,558388,3503719,89485,5.1000,2.7700,17.380,0.440,564,2022-05-27
2,21638,VGI,2021,4,-120943,1071859,-120263,979765,-0.0141,0.1237,-0.014,0.113,609,2022-05-25
3,21637,MACO,2021,4,-93442,-556746,33589,-991902,-0.0130,-0.0800,0.005,-0.143,281,2022-05-25
4,21636,LHK,2021,4,53030,50913,211685,101364,0.1400,0.1300,0.550,0.260,270,2022-05-25

In [5]:
sqlDel = 'DELETE FROM epss WHERE id = 21641'
rp = conlt.execute(sqlDel)
rp.rowcount

1