In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

output_path = "../data/"
year = 2022
quarter = 1

### Profits

In [2]:
sql = """
SELECT *
FROM profits
ORDER BY name
LIMIT 1
"""
profits = pd.read_sql(sql, conmy)
profits.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [7]:
sql = """
SELECT *
FROM profits
ORDER BY name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(36, 23)

In [8]:
sqlDel = """
DELETE
FROM profits
WHERE name = 'FORTH'
"""
rp = conmy.execute(sqlDel)
rp.rowcount

0

In [4]:
sql = """
SELECT P.name, T.id
FROM profits P
JOIN tickers T
ON P.name = T.name
ORDER BY P.name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(37, 2)

In [5]:
sql = """
SELECT P.name, S.price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, max_price
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id
LEFT JOIN stocks S
ON S.ticker_id = T.id
ORDER BY P.name
"""
profits = pd.read_sql(sql, conmy)
profits

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,max_price
0,AIT,6.05,25.47,8.51,36.968473,9.546066,20.123635,13.651541,9.80
1,AP,9.90,-2.81,7.20,23.322122,74.016777,25.432225,34.131845,12.00
2,ASK,33.75,33.26,6.22,27.096601,2.287383,17.215996,15.262283,49.50
3,BANPU,12.60,1046.13,88.60,568.632178,194.424069,474.446562,433.198588,14.90
4,BAY,32.00,54.17,2.70,14.042281,16.183517,21.773949,22.393089,39.25
5,BBL,136.00,62.49,0.74,2.816197,12.663729,19.677482,29.011696,149.00
6,BCPG,11.20,53.09,41.76,160.441956,473.446309,182.184566,201.403914,15.40
7,BDMS,24.20,67.76,26.52,157.199267,30.622398,70.525416,60.686988,27.75
8,BH,173.50,248.93,52.14,695.594303,18.452364,253.779167,311.587968,180.00
9,BPP,14.60,33.23,60.25,182.193136,687.125060,240.699549,304.589555,19.50
10,COTTO,2.02,26.05,4.20,13.109163,268.346651,77.926454,127.263361,3.18
11,ESSO,10.70,537.95,70.02,111.579992,686.270279,351.455068,307.477552,13.10
12,FORTH,42.75,40.83,7.24,28.413230,27.211667,25.923724,13.894064,53.00
13,GGC,14.60,73.90,118.93,416.741121,655.484327,316.263862,272.547915,15.60
14,GLOBAL,19.00,53.28,5.71,19.754829,54.956470,33.425325,24.581972,23.70
15,GULF,46.50,49.07,22.98,107.982367,11.538973,47.892835,43.028635,52.75
16,IVL,47.50,337.44,30.66,134.154717,160.962831,165.804387,127.472783,52.75
17,KBANK,150.00,18.01,1.53,5.496352,13.228587,9.566235,7.435388,175.00
18,KKP,63.75,35.45,9.38,40.520211,1.581884,21.733024,19.146623,76.25
19,KTB,15.60,55.74,14.83,57.397952,77.601738,51.392422,26.323037,16.00
20,KTC,57.50,12.52,1.93,6.944888,40.007789,15.350669,16.997625,70.00
21,MEGA,49.00,58.39,14.41,84.079053,23.695190,45.143561,32.124887,56.50
22,MST,11.70,22.21,0.64,1.758006,118.106126,35.678533,55.839085,14.80
23,RBF,14.70,13.71,20.91,117.092547,57.359008,52.267889,47.251751,24.50
24,RCL,42.25,397.50,29.38,179.528879,1.376304,151.946296,181.430648,63.25
25,RJH,32.50,215.78,36.16,343.183374,66.770892,165.473567,142.098240,39.00
26,SINGER,48.75,56.26,10.75,53.735370,1.267882,30.503313,28.565942,59.25
27,SIS,26.50,20.90,0.38,1.564498,2.395270,6.309942,9.761795,48.75
28,SMPC,14.30,53.80,24.04,152.720513,6.359486,59.230000,65.328881,16.20
29,SNC,17.80,76.14,20.23,86.823274,46.309785,57.375765,30.119297,23.80
30,SPRC,11.30,87.78,69.08,163.470770,184.944662,126.318858,56.505988,13.40
31,SSP,9.60,38.19,13.00,60.994806,97.758530,52.485834,35.988524,14.27
32,STANLY,178.00,43.29,-5.44,-15.587373,19.326422,10.397262,26.379804,198.50
33,TISCO,89.75,7.39,0.47,1.806731,0.231726,2.474614,3.349433,101.50
34,TOP,49.50,18.73,30.39,113.769626,42.720652,51.402570,42.716314,62.25
35,TPIPL,1.50,179.13,11.21,54.586206,19.469817,66.099006,77.665167,1.95
36,TTB,1.26,24.70,3.94,14.843842,14.130902,14.403686,8.480781,1.50

In [18]:
sql = '''
SELECT name, market
FROM stocks
ORDER BY name'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape

(253, 2)

In [7]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [8]:
my_stocks["mrkt"] = np.select(filters, values, default='SET999')
my_stocks.head()

     name                       market    mrkt
0     ACE                   SET100      SET100
1  ADVANC  SET50 / SETHD / SETTHSI       SET50
2  AEONTS                   SET100      SET100
3      AH           sSET / SETTHSI      SET999
4     AIE                     sSET      SET999

In [9]:
df_merge = pd.merge(profits, my_stocks, on='name', how='inner')
df_merge.groupby('mrkt').count()

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market
mrkt,,,,,,,,,
SET100,17,17,17,17,17,17,17,17,17
SET50,18,18,18,18,18,18,18,18,18
SET999,18,18,18,18,18,18,18,18,18

In [10]:
df_tmp = pd.merge(profits, my_stocks, on='name', how='outer',indicator=True)
df_tmp[df_tmp._merge == 'left_only']

Empty DataFrame
Columns: [name, price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, market, mrkt, _merge]
Index: []

In [3]:
sqlDel = """
DELETE FROM profits
WHERE name IN ('BCT')"""
rp = conmy.execute(sqlDel)
rp.rowcount

1

In [36]:
set50 = df_merge[df_merge['mrkt'] == 'SET50']
set50.sort_values('name',ascending=True)

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market,mrkt
6,BBL,137.00,54.28,17.36,163.513047,-8.557151,56.648974,75.764997,SET50 / SETHD / SETTHSI,SET50
8,BDMS,23.80,10.01,3.23,10.394895,5.040649,7.168886,3.583447,SET50 / SETCLMV / SETTHSI / SETWB,SET50
10,COM7,83.50,76.46,15.41,63.169737,59.021186,53.515231,26.470084,SET50 / SETTHSI / SETWB,SET50
12,EA,95.25,17.21,6.97,26.765345,16.399135,16.836120,8.088275,SET50 / SETTHSI,SET50
13,GLOBAL,20.00,70.94,12.40,97.667853,13.235125,48.560744,42.692068,SET50 / SETCLMV / SETTHSI / SETWB,SET50
14,GULF,51.00,79.12,18.53,65.029257,91.629003,63.577065,31.936609,SET50 / SETCLMV / SETTHSI,SET50
17,KCE,60.75,115.33,15.22,84.189437,16.032013,57.692862,50.211813,SET50,SET50
25,PTT,39.00,186.94,15.32,109.515124,16.452485,82.056902,82.688516,SET50 / SETCLMV / SETHD / SETTHSI,SET50
26,PTTEP,137.50,71.48,26.41,321.292697,11.526643,107.677335,144.673316,SET50 / SETCLMV / SETHD / SETTHSI,SET50
27,RATCH,45.25,23.63,-0.08,-0.293970,47.638746,17.723694,22.886696,SET50 / SETCLMV / SETHD / SETTHSI,SET50
30,SCB,126.50,30.79,8.91,58.667652,-10.652909,21.928686,29.773148,SET50 / SETCLMV / SETTHSI,SET50
31,SCC,390.00,38.16,0.55,3.221799,21.852022,15.945955,17.581098,SET50 / SETCLMV / SETHD / SETTHSI,SET50
42,TISCO,98.25,11.81,2.34,9.463529,14.796520,9.602512,5.310810,SET50 / SETHD / SETTHSI,SET50
46,TU,20.20,28.29,6.27,32.450624,-0.327810,16.670703,16.136274,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,SET50

In [35]:
set100 = df_merge[df_merge['mrkt'] == 'SET100']
set100.sort_values('name',ascending=True)

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market,mrkt
0,AMATA,22.00,27.08,32.53,86.786739,223.912654,92.577348,91.611645,SET100 / SETCLMV / SETTHSI,SET100
4,BAM,21.80,41.27,12.01,24.076426,71.191478,37.136976,25.682250,SET100,SET100
7,BCH,19.40,456.85,47.41,791.186838,-14.362262,320.271144,377.203789,SET100 / SETWB,SET100
9,CHG,3.58,379.58,58.94,614.797391,15.933873,267.312816,282.819173,SET100 / SETWB,SET100
11,DOHOME,23.90,150.19,6.93,54.692201,-2.111089,52.425278,69.778496,SET100 / SETWB,SET100
15,JMART,56.25,209.27,122.96,502.015995,504.591982,334.709494,197.842058,SET100,SET100
16,JMT,68.00,33.75,11.72,44.508226,35.644826,31.405763,13.936390,SET100,SET100
18,KKP,68.00,23.32,16.94,82.599526,36.919402,39.944732,29.632097,SET100 / SETCLMV / SETHD / SETTHSI,SET100
21,MEGA,44.75,39.79,3.68,16.174430,-18.974264,10.167541,24.528254,SET100 / SETCLMV / SETWB,SET100
23,ORI,12.40,19.99,5.46,25.742730,13.939319,16.283012,8.676760,SET100 / SETHD / SETTHSI,SET100
28,RCL,48.00,930.08,61.59,543.501341,117.384216,413.138889,406.316760,SET100 / SETCLMV,SET100
34,SINGER,49.50,58.04,14.48,71.422930,28.820241,43.190793,26.130282,SET100,SET100
38,SPALI,22.00,66.31,16.75,54.411910,67.433883,51.226448,23.727390,SET100 / SETHD,SET100
39,STARK,4.60,73.01,19.97,107.604096,-0.485366,50.024683,49.322958,SET100 / SETCLMV,SET100
41,SYNEX,27.75,34.00,12.58,55.457026,38.551287,35.147078,17.650981,SET100 / SETTHSI,SET100
45,TQM,46.50,26.84,3.99,17.972940,-7.728435,10.268626,15.245570,SET100 / SETTHSI,SET100

### Tickers

In [9]:
sql = '''
SELECT * 
FROM tickers
'''
tickers = pd.read_sql(sql, conpg)
tickers.shape

(399, 9)

In [11]:
rcds = tickers_inp.values.tolist()
len(rcds)

NameError: name 'tickers_inp' is not defined

In [ ]:
for rcd in rcds:
    print(rcd)

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO tickers (id, name, full_name, sector, \
subsector, market, website, created_at, \
updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM tickers ORDER BY id'
tickers_out = pd.read_sql(sql, conmy)
tickers_out.tail()

### End of Tickers

### Stocks

In [12]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_inp = pd.read_sql(sql, conlt)
stocks_inp.tail()

NameError: name 'conlt' is not defined

In [ ]:
rcds = stocks_inp.values.tolist()
len(rcds)

In [ ]:
for rcd in rcds:
    print(rcd)

In [ ]:
sql = 'DELETE FROM stocks'
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO stocks (id, name, market, price, \
max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, \
created_at, updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_out = pd.read_sql(sql, conmy)
stocks_out.tail()

### Consensus

In [ ]:
sql = 'SELECT * FROM consensus ORDER BY id'
consensus_inp = pd.read_sql(sql, conlt)
consensus_inp.tail()

In [ ]:
consensus_inp = consensus_inp.drop(['created_at', 'updated_at'], axis=1)

In [ ]:
rcds = consensus_inp.values.tolist()
len(rcds)

In [ ]:
len(consensus_inp.columns)

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO consensus (id, name, price, buy, hold, sell, \
eps_a, eps_b, pe, pbv, yield, target_price, status, ticker_id) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

### Portfolios table

In [13]:
sql = "SELECT name, id AS ticker_id FROM tickers"
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
620    SPRIME        674
621  SUPEREIF        675
622      THAI        527
623      TTCL        589
624     TTLPF        676

In [4]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

NameError: name 'portfolios' is not defined

In [10]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

NameError: name 'df_merge' is not defined

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

1

### Check common stocks in profits & portfolios

In [5]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

(17, 20)

In [6]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df.shape

NameError: name 'profits' is not defined

In [12]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df[df['_merge'] == 'left_only']

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,att_cost_amt,last_sell_price,target_sell_price,buy_method,sell_method,ticker_id_y,created_at,updated_at,sell_qty,_merge
0,1515.0,BEM,2019.0,2.0,1.0,7579661.0,3412480.0,4167181.0,122.115910,7579661.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1510.0,CBG,2019.0,2.0,1.0,1739715.0,988908.0,750807.0,75.922836,1739715.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1543.0,COM7,2019.0,2.0,1.0,1044232.0,754060.0,290172.0,38.481288,1044232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1486.0,KTB,2019.0,2.0,1.0,29467687.0,25183660.0,4284027.0,17.011137,29467687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,1538.0,PLANB,2019.0,2.0,1.0,685465.0,530327.0,155138.0,29.253272,685465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,1530.0,ROJNA,2019.0,2.0,1.0,1565310.0,537045.0,1028265.0,191.467195,1565310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,1532.0,TASCO,2019.0,2.0,1.0,1909764.0,1380929.0,528835.0,38.295597,1909764.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,1513.0,WHAUP,2019.0,2.0,1.0,2521590.0,2019649.0,501941.0,24.852883,2521590.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Delete records from profits en mass

In [2]:
year = 2019
quarter = 3

In [9]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

"'ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP'"

In [10]:
for rcd in rcds:
    conpg.execute(sql, rcd)

DELETE FROM profits
WHERE name IN ('ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP')
AND year = 2019 AND quarter = 3

In [11]:
rp = conmy.execute(sql)
rp.rowcount

1

### Delete all record where quarter = 4

In [ ]:
sql = '''
DELETE FROM profits 
WHERE year = %s AND quarter = %s
'''
sql = sql % (year, quarter)
print(sql)

In [ ]:
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
sql = '''
SELECT * FROM profits WHERE year = %s AND quarter = %s
ORDER BY name'''
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conmy)
profits

### Export portfolis from PortMy to PortPg

In [11]:
sql = '''
SELECT *
FROM portfolios
'''
portfolios = pd.read_sql(sql, conmy)
portfolios.dtypes

id                     int64
name                  object
date                  object
buy_qty                int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id              int64
created_at            object
updated_at            object
sell_qty               int64
dtype: object

In [12]:
sql = 'SELECT name, id AS ticker_id FROM tickers'
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
621    SPRIME        674
622  SUPEREIF        675
623      THAI        527
624      TTCL        589
625     TTLPF        676

In [13]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

Index(['id', 'name', 'date', 'buy_qty', 'comp_qty', 'att_qty', 'buy_unit_cost',
       'comp_unit_cost', 'att_unit_cost', 'buy_cost_amt', 'comp_cost_amt',
       'att_cost_amt', 'last_sell_price', 'target_sell_price', 'buy_method',
       'sell_method', 'ticker_id_x', 'created_at', 'updated_at', 'sell_qty',
       'ticker_id_y'],
      dtype='object')

In [14]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

name                  object
date                  object
buy_qty                int64
sell_qty               int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id_y            int64
created_at            object
updated_at            object
dtype: object

In [15]:
sql = """
DELETE FROM portfolios"""
rp = conpg.execute(sql)
rp.rowcount

16

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

16

In [17]:
for rcd in rcds:
    print(rcd)

['IVL', '2018-04-05', 3000, 3000, 15000, 18000, 28.0, 49.0, 45.5, 84000, 735000, 819000, 59.0, 41.0, 2, 2, 238, '2018-04-05 02:48:06.687907', '2019-11-30 15:29:32.379233']
['LH', '2019-02-10', 0, 36000, 45000, 45000, 10.3, 11.1, 11.1, 0, 499500, 499500, 0.0, 11.2, 2, 0, 275, '2019-02-10 16:23:53.431245', '2019-08-28 13:56:34.903384']
['SAT', '2019-02-17', 10000, 50000, 50000, 60000, 14.9, 19.1, 18.4, 149000, 955000, 1104000, 20.1, 19.2, 2, 2, 427, '2019-02-17 08:36:22.989392', '2019-12-06 14:40:18.853694']
['PTTGC', '2019-06-23', 0, 3000, 9000, 9000, 49.5, 75.5, 75.5, 0, 679500, 679500, 0.0, 67.75, 2, 2, 391, '2019-06-23 16:37:36.297845', '2019-09-14 17:19:13.946449']
['AMATA', '2019-07-07', 3000, 7000, 21000, 24000, 19.5, 23.5, 23.0, 58500, 493500, 552000, 0.0, 27.75, 2, 0, 24, '2019-07-07 17:00:05.670265', '2019-11-29 04:21:00.820834']
['ORI', '2019-07-07', 12000, 60000, 60000, 72000, 6.0, 10.2, 9.5, 72000, 612000, 684000, 0.0, 10.2, 2, 2, 347, '2019-07-07 17:01:13.522345', '2019-11-16 15:45:08.939918']
['SYNEX', '2019-07-07', 0, 33000, 33000, 33000, 9.2, 12.9, 12.9, 0, 425700, 425700, 0.0, 9.0, 2, 2, 504, '2019-07-07 17:07:50.562474', '2019-11-16 16:18:51.271429']
['CPNREIT', '2019-07-07', 6000, 3000, 30000, 36000, 26.5, 22.3, 23.0, 159000, 669000, 828000, 37.0, 33.5, 2, 0, 127, '2019-07-07 17:09:36.316288', '2019-12-13 14:52:19.234472']
['PTTEP', '2019-07-30', 1200, 1200, 3600, 4800, 113.0, 125.0, 122.0, 135600, 450000, 585600, 0.0, 137.5, 2, 2, 390, '2019-07-30 16:02:27.870540', '2019-08-26 06:49:45.562553']
['BANPU', '2019-08-12', 0, 8000, 24000, 24000, 11.8, 18.1, 18.1, 0, 434400, 434400, 0.0, 12.9, 2, 2, 51, '2019-08-12 16:17:52.268307', '2019-11-15 16:46:43.651999']
['ROJNA', '2019-08-18', 15000, 25000, 90000, 105000, 4.6, 6.35, 6.1, 69000, 571500, 640500, 0.0, 7.25, 2, 2, 409, '2019-08-18 14:42:49.849307', '2019-12-09 14:21:31.594031']
['JASIF', '2019-10-05', 0, 2000, 128000, 128000, 10.6, 10.1, 10.1, 0, 1292800, 1292800, 10.6, 11.3, 2, 2, 241, '2019-10-05 14:45:48.514836', '2019-11-26 15:56:09.265727']
['FSMART', '2019-11-09', 6000, 60000, 66000, 72000, 5.5, 10.3, 9.9, 33000, 679800, 712800, 0.0, 10.7, 2, 2, 183, '2019-11-09 15:16:48.185104', '2019-11-16 15:43:32.242263']
['MCS', '2019-11-11', 10000, 25000, 75000, 85000, 9.25, 16.9, 16.0, 92500, 1267500, 1360000, 0.0, 12.9, 2, 2, 301, '2019-11-11 06:55:39.662226', '2019-11-28 09:00:51.564901']
['NOBLE', '2019-11-19', 5000, 5000, 20000, 25000, 14.4, 16.4, 16.0, 72000, 328000, 400000, 0.0, 20.4, 2, 2, 336, '2019-11-19 03:13:49.142639', '2019-12-28 14:14:38.706873']
['SUPER', '2019-11-19', 200000, 0, 0, 200000, 0.5, 0.0, 0.5, 100000, 0, 100000, 0.0, 0.0, 2, 2, 496, '2019-11-19 03:16:46.210950', '2019-11-19 03:16:46.210950']

In [18]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

In [19]:
for rcd in rcds:
    conpg.execute(sql, rcd)

In [ ]:
### Temporary process to delete profit records that q_amt < y_amt

In [24]:
sql = """
SELECT *
FROM profits
WHERE q_amt_c  < y_amt
"""
profits = pd.read_sql(sql, conmy)
profits

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2358,SCGP,2022,1,0,7817594,6860082,957512,13.96,7817594,...,1657958,2134731,-476773,-22.334102,2115508,-457550,-21.628375,713,-8.938119,17.078085
1,2359,PTTEP,2022,1,0,37848936,25585211,12263725,47.93,37848936,...,10519023,11533682,-1014659,-8.797355,10645266,-126243,-1.185907,384,8.834184,26.272454
2,2363,DOHOME,2022,1,1,1734442,1092533,641909,58.75,1734442,...,459532,543153,-83621,-15.395478,333207,126325,37.911869,701,19.166598,35.012470
3,2369,TU,2022,1,0,7955627,7032761,922866,13.12,7955627,...,1745525,1802894,-57369,-3.182051,1930444,-184919,-9.579092,582,-0.090286,9.565644
4,2372,IRPC,2022,1,0,10424504,8334403,2090101,25.08,10424504,...,1501085,5581205,-4080120,-73.104643,2194204,-693119,-31.588631,227,-26.935818,40.250385
5,2381,TMT,2022,1,0,1233848,837567,396281,47.31,1233848,...,126938,423150,-296212,-70.001654,160913,-33975,-21.113894,545,-15.791387,48.171922
6,2386,PTTGC,2022,1,1,39499189,18678590,20820599,111.47,39499189,...,4211669,9694868,-5483199,-56.557748,3247576,964093,29.686542,385,18.102198,71.515659
7,2395,ICHI,2022,1,0,529124,477912,51212,10.72,529124,...,103930,121577,-17647,-14.515081,132645,-28715,-21.648008,216,-7.168272,14.131980
8,2396,ACE,2022,1,0,1468062,1274421,193641,15.19,1468062,...,322711,360330,-37619,-10.440152,367649,-44938,-12.223071,698,-2.493306,12.523578
9,2397,SGP,2022,1,0,3475743,2908691,567052,19.50,3475743,...,989290,1322056,-332766,-25.170341,991771,-2481,-0.250159,441,-3.665125,18.587753
10,2398,TCAP,2022,1,0,5245504,3431567,1813937,52.86,5245504,...,1036445,1078121,-41676,-3.865614,1769052,-732607,-41.412406,503,1.697995,38.786601

In [25]:
sql = """
SELECT *
FROM profits
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(65, 23)

In [26]:
sqlDel = """
DELETE
FROM profits
WHERE q_amt_c  < y_amt
"""
rp = conmy.execute(sqlDel)
rp.rowcount

11

In [27]:
sql = """
SELECT *
FROM profits
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(54, 23)

### Temporary process to delete profit records that q_amt < q_amt_p

In [29]:
sql = """
SELECT *
FROM profits
WHERE q_amt_c  < q_amt_p
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(20, 23)

In [30]:
sql = """
SELECT *
FROM profits
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(54, 23)

In [31]:
sqlDel = """
DELETE
FROM profits
WHERE q_amt_c  < q_amt_p
"""
rp = conmy.execute(sqlDel)
rp.rowcount

20

In [2]:
sql = """
SELECT *
FROM profits
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(34, 23)

In [3]:
sql = '''
SELECT name, market
FROM stocks
ORDER BY name'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape

(253, 2)

In [4]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [6]:
my_stocks["mrkt"] = np.select(filters, values, default='SET')
my_stocks.head()

     name                       market    mrkt
0     ACE                   SET100      SET100
1  ADVANC  SET50 / SETHD / SETTHSI       SET50
2  AEONTS                   SET100      SET100
3      AH           sSET / SETTHSI         SET
4     AIE                     sSET         SET

In [9]:
df_merge = pd.merge(profits, my_stocks, on='name',how='inner')
df_merge[['name','mrkt']].sort_values(['mrkt','name'],ascending=[True,True])

      name    mrkt
29     AIT     SET
15     ASK     SET
3      BAY     SET
10   COTTO     SET
18     GGC     SET
12     MST     SET
0      PTL     SET
16     RJH     SET
30     SIS     SET
21    SMPC     SET
23     SNC     SET
32   TPIPL     SET
19    BCPG  SET100
17     BPP  SET100
25    ESSO  SET100
2      KKP  SET100
33    MEGA  SET100
14     RBF  SET100
31     RCL  SET100
20  SINGER  SET100
28    SPRC  SET100
7      BBL   SET50
22    BDMS   SET50
11      BH   SET50
13  GLOBAL   SET50
26    GULF   SET50
27     IVL   SET50
9    KBANK   SET50
6      KTB   SET50
4      KTC   SET50
8      SCB   SET50
1    TISCO   SET50
24     TOP   SET50
5      TTB   SET50