In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
con = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/portfolio_development")
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [2]:
name = "VNT"

### MySQL Stock Database

In [3]:
sql = '''
DELETE FROM price
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM price
WHERE name = "VNT"

In [4]:
rp = con.execute(sql)
rp.rowcount

1418

In [5]:
sql = '''
DELETE FROM nameall
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM nameall
WHERE name = "VNT"

In [6]:
rp = con.execute(sql)
rp.rowcount

1

In [7]:
sql = '''
DELETE FROM stockname
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM stockname
WHERE name = "VNT"

In [8]:
rp = con.execute(sql)
rp.rowcount

1

### PostgreSQL PortPg Database

In [9]:
sql = """
SELECT * FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

SELECT * FROM yr_profits
WHERE name = 'VNT'

In [10]:
df = pd.read_sql(sql, conpg)
df

Empty DataFrame
Columns: [id, name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id]
Index: []

In [11]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'VNT'

In [12]:
rp = conpg.execute(sql)
rp.rowcount

0

In [13]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'VNT'

In [14]:
rp = conpg.execute(sql)
rp.rowcount

0

In [15]:
sql = """
DELETE FROM consensus
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM consensus
WHERE name = 'VNT'

In [16]:
rp = conpg.execute(sql)
rp.rowcount

0

In [17]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'VNT'

In [18]:
rp = conpg.execute(sql)
rp.rowcount

0

In [19]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'VNT'

In [20]:
rp = conpg.execute(sql)
rp.rowcount

0

### SQLite PortMy Database

In [21]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'VNT'

In [22]:
rp = conmy.execute(sql)
rp.rowcount

1

In [23]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'VNT'

In [24]:
rp = conmy.execute(sql)
rp.rowcount

1

### SQLite PortLt Database

In [25]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'VNT'

In [26]:
rp = conlt.execute(sql)
rp.rowcount

20

In [27]:
sql = """
DELETE FROM qt_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM qt_profits
WHERE name = 'VNT'

In [28]:
rp = conlt.execute(sql)
rp.rowcount

23

In [29]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'VNT'

In [30]:
rp = conlt.execute(sql)
rp.rowcount

27

In [31]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'VNT'

In [32]:
rp = conlt.execute(sql)
rp.rowcount

1

In [33]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'VNT'

In [34]:
rp = conlt.execute(sql)
rp.rowcount

1

### MySQL Portfolio Database

In [35]:
sql = """
SELECT * FROM stocks
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, conpf)
df

    id name  category_id website
0  142  VNT            3

### Delete from name-ttl.csv manually