In [1]:
name = 'PTT'

In [2]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
# do all our graphics inline
%matplotlib inline
# Set some pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10) 
pd.set_option('display.width', 78) 
pd.set_option('precision', 3)

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
one_year_ago = today - timedelta(days=180)
today, one_year_ago

(datetime.date(2022, 3, 21), datetime.date(2021, 9, 22))

### Get past one year data

In [3]:
sql = """
SELECT date AS Date, opnp AS Open, maxp AS High, minp AS Low, price AS Close
FROM price 
WHERE name = '%s' 
ORDER BY Date"""
sql = sql % (name)
print(sql)

SELECT date AS Date, opnp AS Open, maxp AS High, minp AS Low, price AS Close
FROM price
WHERE name = 'PTT'
ORDER BY Date

In [4]:
df = pd.read_sql(sql, const)
df[:5]

         Date  Open  High   Low  Close
0  2016-04-25  30.3  30.9  30.2   30.3
1  2016-04-26  30.2  30.5  29.8   30.2
2  2016-04-27  30.3  30.7  30.2   30.3
3  2016-04-28  30.3  30.7  30.1   30.3
4  2016-04-29  30.4  30.5  30.1   30.4

In [8]:
file_name = "PTT.csv"
data_file = data_path + file_name
df.to_csv(data_file, header=None, index=False)