In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

In [2]:
year = 2022
month = 1
year, month

(2022, 1)

### Calculate profits

In [3]:
format_dict = {
    'qty':'{:,}',
    'buy_price':'{:.2f}','sell_price':'{:.2f}',
    'profit':'{:,.2f}','buy_amt':'{:,.2f}','sell_amt':'{:,.2f}',
}

In [4]:
sql = '''
SELECT name, sells.date AS sell_date, qty,
buys.price AS buy_price, buys.net AS buy_amt, 
sells.price AS sell_price, sells.net AS sell_amt, profit 
FROM sells 
JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = %s AND MONTH(sells.date) = %s
ORDER BY sells.date, name'''
sql = sql % (year, month)
print(sql)

SELECT name, sells.date AS sell_date, qty,
buys.price AS buy_price, buys.net AS buy_amt,
sells.price AS sell_price, sells.net AS sell_amt, profit
FROM sells
JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2022 AND MONTH(sells.date) = 1
ORDER BY sells.date, name

In [5]:
sells_df = pd.read_sql(sql, conpf)
sells_df.sort_values(by=['sell_date','name'],ascending=[True,True]).style.format(format_dict)

In [6]:
flt_format = '{:,.2f}'
flt_format.format(sells_df.profit.sum())

'94,437.92'