In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
import calendar

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 1, 17), datetime.date(2022, 1, 16))

In [2]:
#yesterday = today - timedelta(days=4)
yesterday

datetime.date(2022, 1, 11)

In [2]:
format_dict = {'Q4':'{:.4f}','Q3':'{:.4f}','Q2':'{:.4f}','Q1':'{:.4f}','DIVIDEND':'{:.4f}',
               'qtrly':'{:.4f}','Q3':'{:.4f}','Q2':'{:.4f}','Q1':'{:.4f}','dividend':'{:.4f}',
               'amount':'{:,.2f}','net':'{:,.2f}',
              'price':'{:.2f}','unit_cost':'{:.2f}','PERCENT':'{:.2f}%','yield':'{:.2f}%','shares':'{:,}'
              }

### New dividend stock

In [ ]:
name = 'IP'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, const)
df

In [ ]:
sql = """
INSERT INTO dividend
VALUES('IP',0.185,0,0.0,0,0.185,0,0,4500,'2022-04-08','2022-04-27','',0)
"""
rp = const.execute(sql)
rp.rowcount

### Start of Update dividend

In [ ]:
def update_dividend(q4,XDATE,PAIDDATE,actual,name):
    sql = "UPDATE dividend SET q4 = %s, dividend = q1+q2+q3+q4, XDATE = '%s', PAIDDATE = '%s', actual = %s WHERE name = '%s'"
    sql = sql % (q4,XDATE, PAIDDATE, actual,name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [ ]:
name = 'SIS'
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
df = pd.read_sql(sql, const)
df['SHARES'] = df['SHARES'].astype(int)
df.style.format(format_dict)

In [ ]:
q4 = 0.10
XDATE = '2021-05-21'
PAIDDATE = '2021-05-21'
actual = 0

update_dividend(q4,XDATE,PAIDDATE,actual,name)

In [3]:
def update_dividend(shares,q4,actual,name):
    sql = "UPDATE dividend SET shares = %s, q4 = %s, dividend=q1+q2+q3+q4, actual = %s WHERE name = '%s'"
    sql = sql % (shares, q4, actual, name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [7]:
name = 'KBANK'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, const)
df['SHARES'] = df['SHARES'].astype(int)
df.style.format(format_dict)

In [5]:
shares = 1600
q4 = 2.5
actual = 0

In [6]:
update_dividend(shares,q4,actual,name)

'Records updated = 1'

### Delete dividend record

In [ ]:
sql = '''
DELETE FROM dividend
WHERE name IN ("IP")
'''
rp = const.execute(sql)
rp.rowcount

### Start of output to cloud

In [20]:
sql = """
SELECT Y.NAME AS name,  Q4 AS qtrly,
SHARES AS shares, Q4*SHARES AS amount, Q4*SHARES*.9 AS net,
xdate as xd_date, paiddate AS pay_date, P.price AS price, 
dividend, ROUND(dividend/P.PRICE*100,2) AS yield, actual
FROM dividend AS Y, price AS P
WHERE Y.name = P.name 
AND shares > 0 AND Q4 > 0 
AND P.date = '%s'
ORDER BY name
"""
sql = sql % today 
print(sql)

SELECT Y.NAME AS name,  Q4 AS qtrly,
SHARES AS shares, Q4*SHARES AS amount, Q4*SHARES*.9 AS net,
xdate as xd_date, paiddate AS pay_date, P.price AS price,
dividend, ROUND(dividend/P.PRICE*100,2) AS yield, actual
FROM dividend AS Y, price AS P
WHERE Y.name = P.name
AND shares > 0 AND Q4 > 0
AND P.date = '2022-01-12'
ORDER BY name

In [24]:
dividend = pd.read_sql(sql, const)
dividend['shares'] = dividend['shares'].astype('int64')
#dividend.set_index('name', inplace=True)
dividend.sort_values(['yield'],ascending=False).style.format(format_dict)

In [18]:
dividend.net.sum()

227026.35

In [19]:
file_name = 'dividend-q4.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

dividend.sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
dividend.sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
dividend.sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)

### End of output to cloud