In [1]:
import glob
import os
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/portfolio_development")
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

inout_path = "../data/"

### Start of process to delete epss with input loss.csv File

In [2]:
sql = '''
SELECT name
FROM exempts
ORDER BY name'''
exempts = pd.read_sql(sql, conlt)
exempts.shape

(299, 1)

In [3]:
names = exempts['name'].values.tolist()
names

['A',
 'ABM',
 'ABPIF',
 'ACAP',
 'ACC',
 'ADB',
 'AGE',
 'AHC',
 'AI',
 'AKP',
 'ALLA',
 'ALT',
 'AMA',
 'AMATAV',
 'APCO',
 'AQUA',
 'ARIP',
 'ASAP',
 'ASEFA',
 'ASIA',
 'ASIMAR',
 'ASN',
 'ATP30',
 'AU',
 'AUCT',
 'BAFS',
 'BGT',
 'BIG',
 'BIZ',
 'BJCHI',
 'BKD',
 'BM',
 'BOFFICE',
 'BOL',
 'BR',
 'BROCK',
 'BROOK',
 'BSM',
 'BTNC',
 'BTW',
 'BWG',
 'CCP',
 'CEN',
 'CFRESH',
 'CGD',
 'CHARAN',
 'CHEWA',
 'CHO',
 'CHOTI',
 'CHOW',
 'CI',
 'CIG',
 'CITY',
 'CM',
 'CMAN',
 'CMC',
 'CMO',
 'CNT',
 'COLOR',
 'COMAN',
 'CPH',
 'CPL',
 'CPR',
 'CPT',
 'CPW',
 'CRANE',
 'CRD',
 'CSC',
 'CSR',
 'CTW',
 'DCORP',
 'DOD',
 'DTCI',
 'EASON',
 'ECF',
 'EE',
 'EP',
 'ERW',
 'ESTAR',
 'ETE',
 'EVER',
 'FANCY',
 'FE',
 'FLOYD',
 'FMT',
 'FN',
 'FNS',
 'FUTUREPF',
 'FVC',
 'GAHREIT',
 'GCAP',
 'GEL',
 'GENCO',
 'GIFT',
 'GRAND',
 'GTB',
 'GYT',
 'HARN',
 'HPT',
 'IRCP',
 'IT',
 'ITD',
 'ITEL',
 'JCT',
 'JKN',
 'JSP',
 'JUTHA',
 'KASET',
 'KBS',
 'KCAR',
 'KCM',
 'KDH',
 'KIAT',
 'KKC',
 'KOOL',
 'KTIS',
 'KWC',
 'KWG',
 'LDC',
 'LEE',
 'LHPF',
 'LHSC',
 'LOXLEY',
 'LRH',
 'M-CHAI',
 'MALEE',
 'MATCH',
 'MATI',
 'MAX',
 'MBK',
 'MCOT',
 'META',
 'MGT',
 'MIDA',
 'MILL',
 'MIT',
 'MJD',
 'MK',
 'ML',
 'MM',
 'MODERN',
 'MONO',
 'MOONG',
 'NCL',
 'NDR',
 'NETBAY',
 'NEW',
 'NINE',
 'NKI',
 'NSI',
 'NTV',
 'NUSA',
 'NVD',
 'NWR',
 'OCEAN',
 'OTO',
 'PATO',
 'PF',
 'PG',
 'PHOL',
 'PICO',
 'PIMO',
 'PJW',
 'PLAT',
 'PM',
 'PMTA',
 'PORT',
 'PPM',
 'PPP',
 'PPS',
 'PRECHA',
 'PRIN',
 'PRINC',
 'PSTC',
 'PT',
 'PYLON',
 'Q-CON',
 'QHHR',
 'QLT',
 'QTC',
 'RCI',
 'RML',
 'ROCK',
 'ROH',
 'RP',
 'RPH',
 'RT',
 'RWI',
 'SABINA',
 'SALEE',
 'SAM',
 'SAMART',
 'SAMCO',
 'SANKO',
 'SAWANG',
 'SCG',
 'SCI',
 'SCN',
 'SCP',
 'SE-ED',
 'SEAFCO',
 'SEAOIL',
 'SELIC',
 'SFP',
 'SGF',
 'SHR',
 'SIAM',
 'SIMAT',
 'SITHAI',
 'SKE',
 'SLP',
 'SMK',
 'SOLAR',
 'SONIC',
 'SORKON',
 'SPA',
 'SPACK',
 'SPVI',
 'SR',
 'SSC',
 'SSF',
 'SST',
 'STAR',
 'STI',
 'STPI',
 'SUN',
 'SUTHA',
 'SWC',
 'SYMC',
 'SYNTEC',
 'TAE',
 'TAKUNI',
 'TAPAC',
 'TCC',
 'TCJ',
 'TCMC',
 'TCOAT',
 'TEAM',
 'TEAMG',
 'TGPRO',
 'TH',
 'THAI',
 'THCOM',
 'THMUI',
 'THRE',
 'TIF1',
 'TIGER',
 'TITLE',
 'TKT',
 'TM',
 'TMC',
 'TMD',
 'TMI',
 'TMILL',
 'TNDT',
 'TNH',
 'TNL',
 'TNP',
 'TOPP',
 'TPBI',
 'TPCH',
 'TPOLY',
 'TPP',
 'TPRIME',
 'TRC',
 'TRITN',
 'TRT',
 'TRU',
 'TRUBB',
 'TSC',
 'TSR',
 'TSTE',
 'TVD',
 'TVT',
 'TWP',
 'TWPC',
 'TWZ',
 'UBIS',
 'UEC',
 'UKEM',
 'UMI',
 'UNIQ',
 'UP',
 'UPA',
 'UPF',
 'UREKA',
 'UV',
 'UWC',
 'VCOM',
 'VPO',
 'WAVE',
 'WIN',
 'WINNER',
 'WP',
 'WPH',
 'XO',
 'ZEN',
 'ZIGA',
 'ZMICO']

In [4]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO'"

In [5]:
sql = """
SELECT * 
FROM tickers 
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

SELECT *
FROM tickers
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [6]:
candidates = pd.read_sql(sql, conlt)
candidates.shape

(64, 9)

### MySQL Stock Database

In [7]:
sql = """
SELECT * FROM price
WHERE name IN (%s)
"""
sql = sql % (in_p)
prices = pd.read_sql(sql, const)
print(prices)

         name        date  price   maxp   minp       qty   opnp
0      SABINA  2019-09-16  31.25  31.50  30.75   1676059  31.25
1        LHSC  2018-10-03  16.20  16.30  16.20     40300  16.20
2        THRE  2019-03-08   0.81   0.82   0.81    937000   0.81
3         CSC  2021-04-22  51.75  52.50  51.50     17804  52.25
4          UV  2019-10-24   5.80   6.00   5.80   1504800   5.95
...       ...         ...    ...    ...    ...       ...    ...
17034    BAFS  2021-06-07  27.25  27.50  27.00    621285  27.25
17035    THRE  2021-02-19   1.81   1.82   1.70  49814542   1.77
17036      UV  2021-02-19   3.90   3.94   3.84   6782437   3.86
17037      WP  2021-02-19   4.68   4.70   4.56    100378   4.70
17038     ZEN  2021-02-19  12.20  12.20  12.00     62752  12.10

[17039 rows x 7 columns]

In [8]:
sql = """
DELETE FROM price
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM price
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [9]:
rp = const.execute(sql)
rp.rowcount

17039

In [10]:
sql = """
DELETE FROM nameall
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM nameall
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [11]:
rp = const.execute(sql)
rp.rowcount

10

In [12]:
sql = """
DELETE FROM stockname
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stockname
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [13]:
rp = const.execute(sql)
rp.rowcount

10

### PostgreSQL PortPg Database

In [14]:
sql = """
DELETE FROM yr_profits
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM yr_profits
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [15]:
rp = conpg.execute(sql)
rp.rowcount

220

In [16]:
sql = """
DELETE FROM epss
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM epss
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [17]:
rp = conpg.execute(sql)
rp.rowcount

365

In [18]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [19]:
rp = conpg.execute(sql)
rp.rowcount

18

In [20]:
sql = """
DELETE FROM consensus
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM consensus
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [21]:
rp = conpg.execute(sql)
rp.rowcount

11

In [ ]:
sql = """
DELETE FROM tickers
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

In [ ]:
#rp = conpg.execute(sql)
rp.rowcount

### SQLite PortMy Database

In [22]:
sql = """
DELETE FROM consensus
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM consensus
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [23]:
rp = conmy.execute(sql)
rp.rowcount

13

In [24]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [25]:
rp = conmy.execute(sql)
rp.rowcount

18

In [26]:
sql = """
DELETE FROM tickers
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM tickers
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [27]:
#rp = conmy.execute(sql)
rp.rowcount

18

### IV. SQLite PortLt Database

In [28]:
sql = """
DELETE FROM yr_profits
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM yr_profits
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [29]:
rp = conlt.execute(sql)
rp.rowcount

220

In [30]:
sql = """
DELETE FROM qt_profits
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM qt_profits
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [31]:
rp = conlt.execute(sql)
rp.rowcount

258

In [32]:
sql = """
DELETE FROM epss
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM epss
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [33]:
rp = conlt.execute(sql)
rp.rowcount

365

In [34]:
year = 2021
quarter = 3
sql = '''
SELECT COUNT(*)
FROM epss
WHERE year = %s AND quarter = %s'''
sql = sql % (year, quarter)
tmp = pd.read_sql(sql, conlt)
tmp

   COUNT(*)
0       322

In [35]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [36]:
rp = conlt.execute(sql)
rp.rowcount

18

In [37]:
sql = """
DELETE FROM consensus
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM consensus
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [38]:
rp = conlt.execute(sql)
rp.rowcount

13

In [39]:
sql = """
DELETE FROM tickers
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM tickers
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [40]:
#rp = conlt.execute(sql)
rp.rowcount

13

### MySQL Portfolio Database

In [41]:
sql = """
SELECT * FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)

df = pd.read_sql(sql, conpf)
df

   id name  category_id                website
0   8   UV            2  www.univentures.co.th

In [42]:
sql = """
SELECT B.* FROM buys B
WHERE stock_id NOT IN
(SELECT id FROM stocks)
"""
sql = sql
df = pd.read_sql(sql, conpf)
df

Empty DataFrame
Columns: [id, stock_id, date, qty, price, fee, vat, status, net, kind, chart]
Index: []

In [43]:
sql = """
DELETE FROM buys 
WHERE stock_id NOT IN
(SELECT id FROM stocks)
"""
rp = conpf.execute(sql)
rp.rowcount

0

In [44]:
sql = """
SELECT S.* FROM sells S
WHERE buy_id NOT IN
(SELECT id FROM buys)
"""
sql = sql
df = pd.read_sql(sql, conpf)
df

Empty DataFrame
Columns: [id, buy_id, date, price, fee, vat, net, days, profit, percent, yearly, sequence, chart, dividend_id]
Index: []

In [45]:
sql = """
DELETE FROM sells 
WHERE buy_id NOT IN
(SELECT id FROM buys)
"""
rp = conpf.execute(sql)
rp.rowcount

0

In [46]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [47]:
rp = conpf.execute(sql)
rp.rowcount

1

### Data folder files

In [48]:
file_name = "name-ttl.csv"
input_file = inout_path + file_name
col_names = ["name"]
inp_df = pd.read_csv(input_file, sep=",", header=None, index_col=None, names=col_names)
inp_df.shape

(355, 1)

In [49]:
df_merge = pd.merge(inp_df, exempts, on="name", how="outer", indicator=True)
df_merge.shape

(636, 2)

In [50]:
df_new_rcd = df_merge[df_merge["_merge"] == "left_only"]
df_new_rcd.shape

(337, 2)

In [51]:
del df_new_rcd["_merge"]
df_new_rcd.shape

(337, 1)

In [52]:
file_name = "name-ttl.csv"
output_file = inout_path + file_name
df_out = df_new_rcd.set_index(["name"])
df_out.to_csv(output_file, header=None)

### Check number of records of tickers in three datatables

In [53]:
sql = '''
SELECT *
FROM tickers'''
print(sql)

SELECT *
FROM tickers

In [54]:
tickers_lt = pd.read_sql(sql, conlt)
tickers_lt.shape

(402, 9)

In [55]:
tickers_my = pd.read_sql(sql, conmy)
tickers_my.shape

(402, 9)

In [56]:
tickers_pg = pd.read_sql(sql, conpg)
tickers_pg.shape

(402, 9)

In [57]:
df_merge = pd.merge(tickers_my, tickers_pg, on='name', how='outer', indicator=True)
df_merge.shape

(402, 18)

In [58]:
mask = df_merge[df_merge['_merge'] == 'left_only']
mask

Empty DataFrame
Columns: [id_x, name, full_name_x, sector_x, subsector_x, market_x, website_x, created_at_x, updated_at_x, id_y, full_name_y, sector_y, subsector_y, market_y, website_y, created_at_y, updated_at_y, _merge]
Index: []

In [59]:
names = mask['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

''

In [60]:
sql = '''
DELETE FROM tickers
WHERE name IN (%s)'''
sql = sql % in_p
print(sql)

DELETE FROM tickers
WHERE name IN ()

In [61]:
rp = conmy.execute(sql)
rp.rowcount

0

In [62]:
sql = '''
SELECT *
FROM tickers'''
tickers_my = pd.read_sql(sql, conmy)
tickers_my.shape

(402, 9)