In [1]:
import glob
import os
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/portfolio_development")
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

inout_path = "../data/"

### Start of process to delete epss with input exempts.csv File

In [2]:
sql = '''
SELECT name
FROM exempts
ORDER BY name'''
exempts = pd.read_sql(sql, conlt)
exempts.shape

(405, 1)

In [3]:
names = exempts['name'].values.tolist()
names

['2S',
 'A',
 'AAV',
 'ABM',
 'ABPIF',
 'ACAP',
 'ACC',
 'ADB',
 'AGE',
 'AHC',
 'AI',
 'AKP',
 'AKR',
 'ALLA',
 'ALT',
 'AMA',
 'AMANAH',
 'AMARIN',
 'AMATAV',
 'AMC',
 'APCO',
 'APCS',
 'APURE',
 'AQUA',
 'ARIP',
 'ARROW',
 'ASAP',
 'ASEFA',
 'ASIA',
 'ASIMAR',
 'ASN',
 'ATP30',
 'AU',
 'AUCT',
 'AYUD',
 'BAFS',
 'BEYOND',
 'BGT',
 'BIG',
 'BIZ',
 'BJCHI',
 'BKD',
 'BM',
 'BOFFICE',
 'BOL',
 'BR',
 'BROCK',
 'BROOK',
 'BRR',
 'BSBM',
 'BSM',
 'BTNC',
 'BTW',
 'BWG',
 'CCET',
 'CCP',
 'CEN',
 'CFRESH',
 'CGD',
 'CGH',
 'CHARAN',
 'CHAYO',
 'CHEWA',
 'CHO',
 'CHOTI',
 'CHOW',
 'CI',
 'CIG',
 'CIMBT',
 'CITY',
 'CM',
 'CMAN',
 'CMC',
 'CMO',
 'CNT',
 'COLOR',
 'COMAN',
 'CPH',
 'CPI',
 'CPL',
 'CPR',
 'CPT',
 'CPW',
 'CRANE',
 'CRD',
 'CSC',
 'CSP',
 'CSR',
 'CSS',
 'CTW',
 'CWT',
 'DCORP',
 'DDD',
 'DEMCO',
 'DOD',
 'DTCI',
 'DUSIT',
 'EASON',
 'ECF',
 'EE',
 'EKH',
 'EMC',
 'EP',
 'ERW',
 'ESTAR',
 'ETE',
 'EVER',
 'FANCY',
 'FE',
 'FLOYD',
 'FMT',
 'FN',
 'FNS',
 'FPI',
 'FSS',
 'FUTUREPF',
 'FVC',
 'GAHREIT',
 'GBX',
 'GCAP',
 'GEL',
 'GENCO',
 'GIFT',
 'GLAND',
 'GPI',
 'GRAND',
 'GTB',
 'GYT',
 'HARN',
 'HPT',
 'HTECH',
 'HUMAN',
 'ICC',
 'IFS',
 'IHL',
 'III',
 'ILINK',
 'INET',
 'INSET',
 'IRC',
 'IRCP',
 'IT',
 'ITD',
 'ITEL',
 'J',
 'JAS',
 'JCT',
 'JKN',
 'JSP',
 'JTS',
 'JUBILE',
 'JUTHA',
 'KAMART',
 'KASET',
 'KBS',
 'KCAR',
 'KCM',
 'KDH',
 'KIAT',
 'KKC',
 'KOOL',
 'KTIS',
 'KWC',
 'KWG',
 'LDC',
 'LEE',
 'LHHOTEL',
 'LHPF',
 'LHSC',
 'LOXLEY',
 'LRH',
 'LST',
 'M-CHAI',
 'MALEE',
 'MATCH',
 'MATI',
 'MAX',
 'MBK',
 'MCOT',
 'MDX',
 'META',
 'MFC',
 'MFEC',
 'MGT',
 'MIDA',
 'MILL',
 'MIT',
 'MJD',
 'MK',
 'ML',
 'MM',
 'MODERN',
 'MONO',
 'MOONG',
 'MSC',
 'MTI',
 'NCH',
 'NCL',
 'NDR',
 'NETBAY',
 'NEW',
 'NINE',
 'NKI',
 'NNCL',
 'NRF',
 'NSI',
 'NTV',
 'NUSA',
 'NVD',
 'NWR',
 'NYT',
 'OCEAN',
 'OTO',
 'PATO',
 'PB',
 'PDJ',
 'PERM',
 'PF',
 'PG',
 'PHOL',
 'PICO',
 'PIMO',
 'PJW',
 'PL',
 'PLAT',
 'PLE',
 'PM',
 'PMTA',
 'PORT',
 'PPM',
 'PPP',
 'PPS',
 'PR9',
 'PRECHA',
 'PRG',
 'PRIN',
 'PRINC',
 'PSTC',
 'PT',
 'PYLON',
 'Q-CON',
 'QHHR',
 'QLT',
 'QTC',
 'RCI',
 'RICHY',
 'RML',
 'ROCK',
 'ROH',
 'RP',
 'RPC',
 'RPH',
 'RSP',
 'RT',
 'RWI',
 'S',
 'S & J',
 'SABINA',
 'SABUY',
 'SALEE',
 'SAM',
 'SAMART',
 'SAMCO',
 'SAMTEL',
 'SANKO',
 'SAUCE',
 'SAWANG',
 'SCG',
 'SCI',
 'SCN',
 'SCP',
 'SE-ED',
 'SEAFCO',
 'SEAOIL',
 'SELIC',
 'SFLEX',
 'SFP',
 'SGF',
 'SHANG',
 'SHR',
 'SIAM',
 'SIMAT',
 'SISB',
 'SITHAI',
 'SKE',
 'SLP',
 'SMART',
 'SMK',
 'SMT',
 'SNP',
 'SOLAR',
 'SONIC',
 'SORKON',
 'SPA',
 'SPACK',
 'SPG',
 'SPI',
 'SPVI',
 'SQ',
 'SR',
 'SRICHA',
 'SSC',
 'SSF',
 'SSSC',
 'SST',
 'STAR',
 'STI',
 'STPI',
 'SUC',
 'SUN',
 'SUSCO',
 'SUTHA',
 'SVH',
 'SVOA',
 'SWC',
 'SYMC',
 'SYNTEC',
 'TACC',
 'TAE',
 'TAKUNI',
 'TAPAC',
 'TCC',
 'TCCC',
 'TCJ',
 'TCMC',
 'TCOAT',
 'TEAM',
 'TEAMG',
 'TGPRO',
 'TH',
 'THAI',
 'THCOM',
 'THE',
 'THMUI',
 'THRE',
 'THREL',
 'TIF1',
 'TIGER',
 'TITLE',
 'TKT',
 'TM',
 'TMC',
 'TMD',
 'TMI',
 'TMILL',
 'TNDT',
 'TNH',
 'TNITY',
 'TNL',
 'TNP',
 'TNPC',
 'TNR',
 'TOG',
 'TOPP',
 'TPBI',
 'TPCH',
 'TPOLY',
 'TPP',
 'TPRIME',
 'TQR',
 'TRC',
 'TRITN',
 'TRT',
 'TRU',
 'TRUBB',
 'TSC',
 'TSR',
 'TSTE',
 'TTCL',
 'TVD',
 'TVT',
 'TWP',
 'TWPC',
 'TWZ',
 'U',
 'UAC',
 'UBIS',
 'UEC',
 'UKEM',
 'UMI',
 'UNIQ',
 'UOBKH',
 'UP',
 'UPA',
 'UPF',
 'UPOIC',
 'UREKA',
 'UV',
 'UVAN',
 'UWC',
 'VCOM',
 'VIH',
 'VPO',
 'WACOAL',
 'WAVE',
 'WIIK',
 'WIN',
 'WINNER',
 'WP',
 'WPH',
 'XO',
 'YUASA',
 'ZEN',
 'ZIGA',
 'ZMICO']

In [4]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO'"

In [5]:
sql = """
SELECT * 
FROM tickers 
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

SELECT *
FROM tickers
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [6]:
candidates = pd.read_sql(sql, conlt)
candidates.shape

(170, 9)

### MySQL Stock Database

In [7]:
sql = """
SELECT * FROM price
WHERE name IN (%s)
"""
sql = sql % (in_p)
prices = pd.read_sql(sql, const)
print(prices)

         name        date  price   maxp   minp        qty   opnp
0        NNCL  2019-04-03   1.85   1.85   1.82     302800   1.83
1           U  2018-09-20   0.03   0.04   0.02  812267674   0.03
2         UAC  2018-09-11   4.52   4.56   4.50     344175   4.52
3       TNITY  2018-08-07   6.20   6.20   6.15      30000   6.20
4          PB  2018-08-21  61.50  61.50  61.25       2200  61.25
...       ...         ...    ...    ...    ...        ...    ...
122121   WIIK  2021-02-19   2.58   2.70   2.56   34672069   2.70
122122    AAV  2022-01-04   2.56   2.56   2.52   13183442   2.54
122123  YUASA  2021-02-19  15.90  16.30  15.90     149000  16.00
122124     2S  2022-01-04   5.45   5.50   5.40    1306018   5.45
122125     2S  2021-08-20   6.10   6.15   6.00     804240   6.00

[122126 rows x 7 columns]

In [8]:
sql = """
DELETE FROM price
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM price
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [9]:
rp = const.execute(sql)
rp.rowcount

122126

In [10]:
sql = """
DELETE FROM nameall
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM nameall
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [11]:
rp = const.execute(sql)
rp.rowcount

86

In [12]:
sql = """
DELETE FROM stockname
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stockname
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [13]:
rp = const.execute(sql)
rp.rowcount

87

### PostgreSQL PortPg Database

In [14]:
sql = """
DELETE FROM yr_profits
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM yr_profits
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [15]:
rp = conpg.execute(sql)
rp.rowcount

1600

In [16]:
sql = """
DELETE FROM epss
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM epss
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [17]:
rp = conpg.execute(sql)
rp.rowcount

2437

In [18]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [19]:
rp = conpg.execute(sql)
rp.rowcount

106

In [20]:
sql = """
DELETE FROM consensus
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM consensus
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [21]:
rp = conpg.execute(sql)
rp.rowcount

51

In [ ]:
sql = """
DELETE FROM tickers
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

In [ ]:
#rp = conpg.execute(sql)
rp.rowcount

### SQLite PortMy Database

In [22]:
sql = """
DELETE FROM consensus
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM consensus
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [23]:
rp = conmy.execute(sql)
rp.rowcount

56

In [24]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [25]:
rp = conmy.execute(sql)
rp.rowcount

106

In [26]:
sql = """
DELETE FROM tickers
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM tickers
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [27]:
#rp = conmy.execute(sql)
rp.rowcount

18

### IV. SQLite PortLt Database

In [26]:
sql = """
DELETE FROM yr_profits
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM yr_profits
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [27]:
rp = conlt.execute(sql)
rp.rowcount

1600

In [28]:
sql = """
DELETE FROM qt_profits
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM qt_profits
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [29]:
rp = conlt.execute(sql)
rp.rowcount

1859

In [30]:
sql = """
DELETE FROM epss
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM epss
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [31]:
rp = conlt.execute(sql)
rp.rowcount

2437

In [32]:
year = 2021
quarter = 4
sql = '''
SELECT COUNT(*)
FROM epss
WHERE year = %s AND quarter = %s'''
sql = sql % (year, quarter)
tmp = pd.read_sql(sql, conlt)
tmp

   COUNT(*)
0       217

In [33]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [34]:
rp = conlt.execute(sql)
rp.rowcount

106

In [35]:
sql = """
DELETE FROM consensus
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM consensus
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [36]:
rp = conlt.execute(sql)
rp.rowcount

56

In [39]:
sql = """
DELETE FROM tickers
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM tickers
WHERE name IN ('A', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'ALLA', 'ALT', 'AMA', 'AMATAV', 'APCO', 'AQUA', 'ARIP', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'BAFS', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CHARAN', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSR', 'CTW', 'DCORP', 'DOD', 'DTCI', 'EASON', 'ECF', 'EE', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'IRCP', 'IT', 'ITD', 'ITEL', 'JCT', 'JKN', 'JSP', 'JUTHA', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'META', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'OCEAN', 'OTO', 'PATO', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLAT', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PRECHA', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RML', 'ROCK', 'ROH', 'RP', 'RPH', 'RT', 'RWI', 'SABINA', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SANKO', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFP', 'SGF', 'SHR', 'SIAM', 'SIMAT', 'SITHAI', 'SKE', 'SLP', 'SMK', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPVI', 'SR', 'SSC', 'SSF', 'SST', 'STAR', 'STI', 'STPI', 'SUN', 'SUTHA', 'SWC', 'SYMC', 'SYNTEC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THMUI', 'THRE', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNL', 'TNP', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UP', 'UPA', 'UPF', 'UREKA', 'UV', 'UWC', 'VCOM', 'VPO', 'WAVE', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'ZEN', 'ZIGA', 'ZMICO')

In [40]:
#rp = conlt.execute(sql)
rp.rowcount

13

### MySQL Portfolio Database

In [37]:
sql = """
SELECT * FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)

df = pd.read_sql(sql, conpf)
df

    id    name  category_id             website
0   55  KAMART            3  www.karmarts.co.th
1   61     JAS            2     www.jasmine.com
2   83   ARROW            4   www.arrowpipe.com
3   93   DEMCO            3
4  159      SQ            3

In [38]:
sql = """
SELECT B.* FROM buys B
WHERE stock_id NOT IN
(SELECT id FROM stocks)
"""
sql = sql
df = pd.read_sql(sql, conpf)
df

Empty DataFrame
Columns: [id, stock_id, date, qty, price, fee, vat, status, net, kind, chart]
Index: []

In [39]:
sql = """
DELETE FROM buys 
WHERE stock_id NOT IN
(SELECT id FROM stocks)
"""
rp = conpf.execute(sql)
rp.rowcount

0

In [40]:
sql = """
SELECT S.* FROM sells S
WHERE buy_id NOT IN
(SELECT id FROM buys)
"""
sql = sql
df = pd.read_sql(sql, conpf)
df

Empty DataFrame
Columns: [id, buy_id, date, price, fee, vat, net, days, profit, percent, yearly, sequence, chart, dividend_id]
Index: []

In [41]:
sql = """
DELETE FROM sells 
WHERE buy_id NOT IN
(SELECT id FROM buys)
"""
rp = conpf.execute(sql)
rp.rowcount

0

In [42]:
sql = """
DELETE FROM stocks
WHERE name IN (%s)"""
sql = sql % (in_p)
print(sql)

DELETE FROM stocks
WHERE name IN ('2S', 'A', 'AAV', 'ABM', 'ABPIF', 'ACAP', 'ACC', 'ADB', 'AGE', 'AHC', 'AI', 'AKP', 'AKR', 'ALLA', 'ALT', 'AMA', 'AMANAH', 'AMARIN', 'AMATAV', 'AMC', 'APCO', 'APCS', 'APURE', 'AQUA', 'ARIP', 'ARROW', 'ASAP', 'ASEFA', 'ASIA', 'ASIMAR', 'ASN', 'ATP30', 'AU', 'AUCT', 'AYUD', 'BAFS', 'BEYOND', 'BGT', 'BIG', 'BIZ', 'BJCHI', 'BKD', 'BM', 'BOFFICE', 'BOL', 'BR', 'BROCK', 'BROOK', 'BRR', 'BSBM', 'BSM', 'BTNC', 'BTW', 'BWG', 'CCET', 'CCP', 'CEN', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHEWA', 'CHO', 'CHOTI', 'CHOW', 'CI', 'CIG', 'CIMBT', 'CITY', 'CM', 'CMAN', 'CMC', 'CMO', 'CNT', 'COLOR', 'COMAN', 'CPH', 'CPI', 'CPL', 'CPR', 'CPT', 'CPW', 'CRANE', 'CRD', 'CSC', 'CSP', 'CSR', 'CSS', 'CTW', 'CWT', 'DCORP', 'DDD', 'DEMCO', 'DOD', 'DTCI', 'DUSIT', 'EASON', 'ECF', 'EE', 'EKH', 'EMC', 'EP', 'ERW', 'ESTAR', 'ETE', 'EVER', 'FANCY', 'FE', 'FLOYD', 'FMT', 'FN', 'FNS', 'FPI', 'FSS', 'FUTUREPF', 'FVC', 'GAHREIT', 'GBX', 'GCAP', 'GEL', 'GENCO', 'GIFT', 'GLAND', 'GPI', 'GRAND', 'GTB', 'GYT', 'HARN', 'HPT', 'HTECH', 'HUMAN', 'ICC', 'IFS', 'IHL', 'III', 'ILINK', 'INET', 'INSET', 'IRC', 'IRCP', 'IT', 'ITD', 'ITEL', 'J', 'JAS', 'JCT', 'JKN', 'JSP', 'JTS', 'JUBILE', 'JUTHA', 'KAMART', 'KASET', 'KBS', 'KCAR', 'KCM', 'KDH', 'KIAT', 'KKC', 'KOOL', 'KTIS', 'KWC', 'KWG', 'LDC', 'LEE', 'LHHOTEL', 'LHPF', 'LHSC', 'LOXLEY', 'LRH', 'LST', 'M-CHAI', 'MALEE', 'MATCH', 'MATI', 'MAX', 'MBK', 'MCOT', 'MDX', 'META', 'MFC', 'MFEC', 'MGT', 'MIDA', 'MILL', 'MIT', 'MJD', 'MK', 'ML', 'MM', 'MODERN', 'MONO', 'MOONG', 'MSC', 'MTI', 'NCH', 'NCL', 'NDR', 'NETBAY', 'NEW', 'NINE', 'NKI', 'NNCL', 'NRF', 'NSI', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCEAN', 'OTO', 'PATO', 'PB', 'PDJ', 'PERM', 'PF', 'PG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PL', 'PLAT', 'PLE', 'PM', 'PMTA', 'PORT', 'PPM', 'PPP', 'PPS', 'PR9', 'PRECHA', 'PRG', 'PRIN', 'PRINC', 'PSTC', 'PT', 'PYLON', 'Q-CON', 'QHHR', 'QLT', 'QTC', 'RCI', 'RICHY', 'RML', 'ROCK', 'ROH', 'RP', 'RPC', 'RPH', 'RSP', 'RT', 'RWI', 'S', 'S & J', 'SABINA', 'SABUY', 'SALEE', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SANKO', 'SAUCE', 'SAWANG', 'SCG', 'SCI', 'SCN', 'SCP', 'SE-ED', 'SEAFCO', 'SEAOIL', 'SELIC', 'SFLEX', 'SFP', 'SGF', 'SHANG', 'SHR', 'SIAM', 'SIMAT', 'SISB', 'SITHAI', 'SKE', 'SLP', 'SMART', 'SMK', 'SMT', 'SNP', 'SOLAR', 'SONIC', 'SORKON', 'SPA', 'SPACK', 'SPG', 'SPI', 'SPVI', 'SQ', 'SR', 'SRICHA', 'SSC', 'SSF', 'SSSC', 'SST', 'STAR', 'STI', 'STPI', 'SUC', 'SUN', 'SUSCO', 'SUTHA', 'SVH', 'SVOA', 'SWC', 'SYMC', 'SYNTEC', 'TACC', 'TAE', 'TAKUNI', 'TAPAC', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TGPRO', 'TH', 'THAI', 'THCOM', 'THE', 'THMUI', 'THRE', 'THREL', 'TIF1', 'TIGER', 'TITLE', 'TKT', 'TM', 'TMC', 'TMD', 'TMI', 'TMILL', 'TNDT', 'TNH', 'TNITY', 'TNL', 'TNP', 'TNPC', 'TNR', 'TOG', 'TOPP', 'TPBI', 'TPCH', 'TPOLY', 'TPP', 'TPRIME', 'TQR', 'TRC', 'TRITN', 'TRT', 'TRU', 'TRUBB', 'TSC', 'TSR', 'TSTE', 'TTCL', 'TVD', 'TVT', 'TWP', 'TWPC', 'TWZ', 'U', 'UAC', 'UBIS', 'UEC', 'UKEM', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPA', 'UPF', 'UPOIC', 'UREKA', 'UV', 'UVAN', 'UWC', 'VCOM', 'VIH', 'VPO', 'WACOAL', 'WAVE', 'WIIK', 'WIN', 'WINNER', 'WP', 'WPH', 'XO', 'YUASA', 'ZEN', 'ZIGA', 'ZMICO')

In [43]:
rp = conpf.execute(sql)
rp.rowcount

5

### Data folder files

In [44]:
file_name = "name-ttl.csv"
input_file = inout_path + file_name
col_names = ["name"]
inp_df = pd.read_csv(input_file, sep=",", header=None, index_col=None, names=col_names)
inp_df.shape

(336, 1)

In [45]:
df_merge = pd.merge(inp_df, exempts, on="name", how="outer", indicator=True)
df_merge.shape

(637, 2)

In [46]:
df_new_rcd = df_merge[df_merge["_merge"] == "left_only"]
df_new_rcd.shape

(232, 2)

In [47]:
del df_new_rcd["_merge"]
df_new_rcd.shape

(232, 1)

In [48]:
file_name = "name-ttl.csv"
output_file = inout_path + file_name
df_out = df_new_rcd.set_index(["name"])
df_out.to_csv(output_file, header=None)

### Check number of records of tickers in three datatables

In [49]:
sql = '''
SELECT *
FROM tickers'''
print(sql)

SELECT *
FROM tickers

In [50]:
tickers_lt = pd.read_sql(sql, conlt)
tickers_lt.shape

(403, 9)

In [51]:
tickers_my = pd.read_sql(sql, conmy)
tickers_my.shape

(403, 9)

In [52]:
tickers_pg = pd.read_sql(sql, conpg)
tickers_pg.shape

(403, 9)

In [53]:
df_merge = pd.merge(tickers_my, tickers_pg, on='name', how='outer', indicator=True)
df_merge.shape

(403, 18)

In [54]:
mask = df_merge[df_merge['_merge'] == 'left_only']
mask

Empty DataFrame
Columns: [id_x, name, full_name_x, sector_x, subsector_x, market_x, website_x, created_at_x, updated_at_x, id_y, full_name_y, sector_y, subsector_y, market_y, website_y, created_at_y, updated_at_y, _merge]
Index: []

In [55]:
names = mask['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

''

In [56]:
sql = '''
DELETE FROM tickers
WHERE name IN (%s)'''
sql = sql % in_p
print(sql)

DELETE FROM tickers
WHERE name IN ()

In [57]:
rp = conmy.execute(sql)
rp.rowcount

0

In [58]:
sql = '''
SELECT *
FROM tickers'''
tickers_my = pd.read_sql(sql, conmy)
tickers_my.shape

(403, 9)