In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3')
conlite = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development')
conpg = engine.connect()

In [2]:
sql = """
SELECT *
FROM price
LIMIT 1
"""
price = pd.read_sql(sql, const)
price.dtypes

name      object
date      object
price    float64
maxp     float64
minp     float64
qty        int64
opnp     float64
dtype: object

In [3]:
format_dict = {
    'qty':'{:,}',    
    'price':'{:.2f}','maxp':'{:.2f}','minp':'{:.2f}','opnp':'{:.2f}',   
}

In [4]:
price.style.format(format_dict)

In [5]:
sql = """
SELECT *
FROM buy
LIMIT 1
"""
buy = pd.read_sql(sql, const)
buy.drop(['volsell', 'volbal'], axis=1, inplace=True)
buy['volbuy'] = buy['volbuy'].astype('int64')
buy.dtypes

name         object
date         object
volbuy        int64
price       float64
active        int64
dividend    float64
period       object
grade        object
dtype: object

In [6]:
format_dict = {
    'volbuy':'{:,}',    
    'price':'{:.2f}',
    'dividend':'{:.4f}',    
}

In [7]:
buy.style.format(format_dict)

In [8]:
sql = '''
SELECT *
FROM dividend
LIMIT 1
'''
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend['SHARES'] = dividend['SHARES'].astype('int64')
dividend.dtypes

NAME         object
Q4          float64
Q3          float64
Q2          float64
Q1          float64
DIVIDEND    float64
SHARES        int64
XDATE        object
PAIDDATE     object
KIND         object
ACTUAL        int64
dtype: object

In [9]:
format_dict = {
    'SHARES':'{:,}',    
    'Q4':'{:.4f}','Q3':'{:.4f}','Q2':'{:.4f}','Q1':'{:.4f}','DIVIDEND':'{:.4f}',
}

In [10]:
dividend.style.format(format_dict)

### Portfolio

In [11]:
sql = """
SELECT *
FROM buys
LIMIT 1
"""
buys = pd.read_sql(sql, conpf)
buys.dtypes

id            int64
stock_id      int64
date         object
qty           int64
price       float64
fee         float64
vat         float64
status       object
net         float64
kind         object
chart        object
dtype: object

In [12]:
format_dict = {
    'qty':'{:,}',
    'price':'{:.2f}',
    'fee':'{:,.2f}','vat':'{:,.2f}','net':'{:,.2f}',
}

In [13]:
buys.style.format(format_dict)

In [14]:
sql = """
SELECT *
FROM sells
LIMIT 1
"""
sells = pd.read_sql(sql, conpf)
sells.dtypes

id               int64
buy_id           int64
date            object
price          float64
fee            float64
vat            float64
net            float64
days             int64
profit         float64
percent        float64
yearly         float64
sequence         int64
chart           object
dividend_id      int64
dtype: object

In [15]:
format_dict = {
    'days':'{:,}',
    'price':'{:.2f}',
    'fee':'{:,.2f}','vat':'{:,.2f}','net':'{:,.2f}','profit':'{:,.2f}',
    'percent':'{:,.2f}%','yearly':'{:,.2f}%',
}

In [16]:
sells.style.format(format_dict)

In [17]:
sql = """
SELECT *
FROM dividends
LIMIT 1
"""
dividends = pd.read_sql(sql, conpf)
dividends.dtypes

id            int64
stock_id      int64
name         object
year          int64
quarter       int64
number        int64
ppu         float64
amt         float64
net         float64
x_date       object
p_date       object
dtype: object

In [18]:
format_dict = {
    'number':'{:,}',
    'amt':'{:,.2f}','net':'{:,.2f}',
    'ppu':'{:.4f}',
}

In [19]:
dividends.style.format(format_dict)

### Port_lite

In [20]:
sql = """
SELECT *
FROM stocks
LIMIT 1
"""
stocks = pd.read_sql(sql, conlite)
stocks.dtypes

id                 int64
name              object
max_price        float64
min_price        float64
status            object
buy_target         int64
sell_target        int64
volume           float64
beta             float64
cost             float64
qty                int64
buy_spread         int64
sell_spread        int64
available_qty      int64
bl                 int64
sh                 int64
reason            object
market            object
dtype: object

In [21]:
format_dict = {
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
}

In [22]:
stocks.style.format(format_dict)

In [23]:
sql = """
SELECT *
FROM sales
LIMIT 1
"""
sales = pd.read_sql(sql, conlite)
sales.dtypes

id                  int64
name               object
fm_date            object
to_date            object
days                int64
fm_price            int64
to_price          float64
diff              float64
pct               float64
ttl_spread          int64
avg_spread          int64
max_price         float64
min_price         float64
qty                 int64
created_at         object
updated_at         object
latest_date_id      int64
dtype: object

In [24]:
format_dict = {
    'qty':'{:,}',
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%',  
}

In [25]:
sales.style.format(format_dict)

In [26]:
sql = """
SELECT *
FROM orders
LIMIT 1
"""
orders = pd.read_sql(sql, conlite)
orders.dtypes

id         int64
trade     object
name      object
qty        int64
price      int64
active     int64
reason    object
market    object
dtype: object

In [27]:
format_dict = {
    'qty':'{:,}',
    'price':'{:.2f}',
}

In [28]:
orders.style.format(format_dict)

### Portlt

In [35]:
sql = """
SELECT *
FROM consensus
LIMIT 1
"""
consensus = pd.read_sql(sql, conlt)
consensus.dtypes

id                int64
name             object
price             int64
buy               int64
hold              int64
sell              int64
eps_a           float64
eps_b           float64
pe              float64
pbv             float64
yield           float64
target_price      int64
status           object
ticker_id         int64
created_at       object
updated_at       object
dtype: object

In [38]:
format_dict = { 
    'price':'{:.2f}','target_price':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',    
}

In [39]:
consensus.style.format(format_dict)

In [29]:
sql = """
SELECT *
FROM epss
LIMIT 1
"""
epss = pd.read_sql(sql, conlt)
epss.dtypes

id                int64
name             object
year              int64
quarter           int64
q_amt             int64
y_amt             int64
aq_amt            int64
ay_amt            int64
q_eps           float64
y_eps           float64
aq_eps          float64
ay_eps          float64
ticker_id         int64
publish_date     object
dtype: object

In [30]:
format_dict = {
    'q_amt':'{:,}','y_amt': '{:,}',   
    'aq_amt':'{:,}','ay_amt':'{:,}','yoy_gain':'{:,}','acc_gain':'{:,}', 
    'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}', 
}

In [31]:
epss.style.format(format_dict)

In [32]:
sql = """
SELECT *
FROM profits
LIMIT 1
"""
profits = pd.read_sql(sql, conlt)
profits.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [33]:
format_dict = {   
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%',     
}

In [34]:
profits.style.format(format_dict)

In [40]:
sql = """
SELECT *
FROM stocks
LIMIT 1
"""
stocks = pd.read_sql(sql, conlt)
stocks.dtypes

id                int64
name             object
market           object
price             int64
max_price         int64
min_price         int64
pe              float64
pbv             float64
paid_up         float64
market_cap      float64
daily_volume    float64
beta            float64
ticker_id         int64
created_at       object
updated_at       object
dtype: object

In [42]:
format_dict = { 
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}',    
}

In [43]:
stocks.style.format(format_dict)

### End process