In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3')
conlite = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development')
conpg = engine.connect()

### MySQL stock database

In [56]:
sql = """
SELECT *
FROM buy
LIMIT 1
"""
buy = pd.read_sql(sql, const)
buy['date'] = pd.to_datetime(buy['date'])
buy.drop(['volsell', 'volbal'], axis=1, inplace = True)
buy.rename(columns={'volbuy':'shares'}, inplace = True)
buy['shares'] = buy['shares'].astype('int64')
buy.dtypes

name                object
date        datetime64[ns]
shares               int64
price              float64
active               int64
dividend           float64
period              object
grade               object
dtype: object

In [59]:
format_dict = {
    'shares':'{:,}',    
    'price':'{:.2f}',
    'dividend':'{:.4f}', 
    'date':'{:%Y-%m-%d}',    
}

In [60]:
buy.style.format(format_dict)

In [44]:
sql = '''
SELECT *
FROM dividend
LIMIT 1
'''
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.dtypes

name                object
q4                 float64
q3                 float64
q2                 float64
q1                 float64
dividend           float64
shares               int64
xdate       datetime64[ns]
paiddate    datetime64[ns]
kind                object
actual               int64
dtype: object

In [54]:
format_dict = {
    'shares':'{:,}',    
    'q4':'{:.4f}','q3':'{:.4f}','q2':'{:.4f}','q1':'{:.4f}','dividend':'{:.4f}',
    'xdate':'{:%Y-%m-%d}','paiddate':'{:%Y-%m-%d}',
}

In [55]:
dividend.style.format(format_dict)

In [61]:
sql = """
SELECT *
FROM price
LIMIT 1
"""
price = pd.read_sql(sql, const)
price['date'] = pd.to_datetime(price['date'])
price.dtypes

name             object
date     datetime64[ns]
price           float64
maxp            float64
minp            float64
qty               int64
opnp            float64
dtype: object

In [62]:
format_dict = {
    'qty':'{:,}',    
    'price':'{:.2f}','maxp':'{:.2f}','minp':'{:.2f}','opnp':'{:.2f}',  
    'date':'{:%Y-%m-%d}',
}

In [63]:
price.style.format(format_dict)

### Portfolio

In [64]:
sql = """
SELECT *
FROM buys
LIMIT 1
"""
buys = pd.read_sql(sql, conpf)
buys['date'] = pd.to_datetime(buys['date'])
buys.dtypes

id                   int64
stock_id             int64
date        datetime64[ns]
qty                  int64
price              float64
fee                float64
vat                float64
status              object
net                float64
kind                object
chart               object
dtype: object

In [65]:
format_dict = {
    'qty':'{:,}',
    'price':'{:.2f}',
    'fee':'{:,.2f}','vat':'{:,.2f}','net':'{:,.2f}',
    'date':'{:%Y-%m-%d}',    
}

In [66]:
buys.style.format(format_dict)

In [67]:
sql = """
SELECT *
FROM sells
LIMIT 1
"""
sells = pd.read_sql(sql, conpf)
sells['date'] = pd.to_datetime(sells['date'])
sells.dtypes

id                      int64
buy_id                  int64
date           datetime64[ns]
price                 float64
fee                   float64
vat                   float64
net                   float64
days                    int64
profit                float64
percent               float64
yearly                float64
sequence                int64
chart                  object
dividend_id             int64
dtype: object

In [68]:
format_dict = {
    'days':'{:,}',
    'price':'{:.2f}',
    'fee':'{:,.2f}','vat':'{:,.2f}','net':'{:,.2f}','profit':'{:,.2f}',
    'percent':'{:,.2f}%','yearly':'{:,.2f}%',
    'date':'{:%Y-%m-%d}',     
}

In [69]:
sells.style.format(format_dict)

In [70]:
sql = """
SELECT *
FROM dividends
LIMIT 1
"""
dividends = pd.read_sql(sql, conpf)
dividends['x_date'] = pd.to_datetime(dividends['x_date'])
dividends['p_date'] = pd.to_datetime(dividends['p_date'])
dividends.dtypes

id                   int64
stock_id             int64
name                object
year                 int64
quarter              int64
number               int64
ppu                float64
amt                float64
net                float64
x_date      datetime64[ns]
p_date      datetime64[ns]
dtype: object

In [71]:
format_dict = {
    'number':'{:,}',
    'amt':'{:,.2f}','net':'{:,.2f}',
    'ppu':'{:.4f}',
    'x_date':'{:%Y-%m-%d}',    
    'p_date':'{:%Y-%m-%d}',    
}

In [72]:
dividends.style.format(format_dict)

### Port_lite

In [20]:
sql = """
SELECT *
FROM orders
LIMIT 1
"""
orders = pd.read_sql(sql, conlite)
orders.dtypes

id         int64
trade     object
name      object
qty        int64
price      int64
active     int64
reason    object
market    object
dtype: object

In [21]:
format_dict = {
    'qty':'{:,}',
    'price':'{:.2f}',
}

In [22]:
orders.style.format(format_dict)

In [74]:
sql = """
SELECT *
FROM sales
ORDER BY id DESC
LIMIT 1
"""
sales = pd.read_sql(sql, conlite)
sales['fm_date'] = pd.to_datetime(sales['fm_date'])
sales['to_date'] = pd.to_datetime(sales['to_date'])
sales['created_at'] = pd.to_datetime(sales['created_at'])
sales['updated_at'] = pd.to_datetime(sales['updated_at'])
sales.dtypes

id                         int64
name                      object
fm_date           datetime64[ns]
to_date           datetime64[ns]
days                       int64
fm_price                 float64
to_price                 float64
diff                     float64
pct                      float64
ttl_spread                 int64
avg_spread                 int64
max_price                float64
min_price                float64
qty                        int64
created_at        datetime64[ns]
updated_at        datetime64[ns]
latest_date_id             int64
dtype: object

In [75]:
format_dict = {
    'qty':'{:,}',
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%',  
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',    
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
}

In [76]:
sales.style.format(format_dict)

In [4]:
sql = """
SELECT *
FROM stocks
LIMIT 1
"""
stocks = pd.read_sql(sql, conlite)
stocks['min_price'] = stocks['min_price'].astype('float')
stocks['buy_target'] = stocks['buy_target'].astype('float')
stocks['sell_target'] = stocks['sell_target'].astype('float')
stocks.dtypes

id                 int64
name              object
max_price        float64
min_price        float64
status            object
buy_target       float64
sell_target      float64
volume           float64
beta             float64
cost             float64
qty                int64
buy_spread         int64
sell_spread        int64
available_qty      int64
bl                 int64
sh                 int64
reason            object
market            object
dtype: object

In [5]:
format_dict = {
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
}

In [6]:
stocks.style.format(format_dict)

### Portlt

In [7]:
sql = """
SELECT *
FROM consensus
LIMIT 1
"""
consensus = pd.read_sql(sql, conlt)
consensus['price'] = consensus['price'].astype(float)
consensus['target_price'] = consensus['target_price'].astype(float)
consensus['created_at'] = pd.to_datetime(consensus['created_at'])
consensus['updated_at'] = pd.to_datetime(consensus['updated_at'])
consensus.dtypes

id                       int64
name                    object
price                  float64
buy                      int64
hold                     int64
sell                     int64
eps_a                  float64
eps_b                  float64
pe                     float64
pbv                    float64
yield                  float64
target_price           float64
status                  object
ticker_id                int64
created_at      datetime64[ns]
updated_at      datetime64[ns]
dtype: object

In [8]:
format_dict = { 
    'price':'{:.2f}','target_price':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',   
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',    
}

In [9]:
consensus.style.format(format_dict)

In [86]:
sql = """
SELECT *
FROM epss
LIMIT 1
"""
epss = pd.read_sql(sql, conlt)
epss['publish_date'] = pd.to_datetime(epss['publish_date'])
epss.dtypes

id                       int64
name                    object
year                     int64
quarter                  int64
q_amt                    int64
y_amt                    int64
aq_amt                   int64
ay_amt                   int64
q_eps                  float64
y_eps                  float64
aq_eps                 float64
ay_eps                 float64
ticker_id                int64
publish_date    datetime64[ns]
dtype: object

In [89]:
format_dict = {
    'q_amt':'{:,}','y_amt': '{:,}',   
    'aq_amt':'{:,}','ay_amt':'{:,}','yoy_gain':'{:,}','acc_gain':'{:,}', 
    'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}', 
    'publish_date':'{:%Y-%m-%d}',    
}

In [90]:
epss.style.format(format_dict)

In [35]:
sql = """
SELECT *
FROM profits
ORDER BY id DESC
LIMIT 1
"""
profits = pd.read_sql(sql, conlt)
profits.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [36]:
format_dict = {   
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:,.2f}%','inc_pct_q': '{:,.2f}%',
    'inc_pct_py': '{:,.2f}%','inc_pct_pq': '{:,.2f}%',
    'mean_pct': '{:,.2f}%','std_pct': '{:,.2f}%',     
}

In [37]:
profits.style.format(format_dict)

In [11]:
sql = """
SELECT *
FROM stocks
LIMIT 1
"""
stocks = pd.read_sql(sql, conlt)
stocks['price'] = stocks['price'].astype(float)
stocks['max_price'] = stocks['max_price'].astype(float)
stocks['min_price'] = stocks['min_price'].astype(float)
stocks['created_at'] = pd.to_datetime(stocks['created_at'])
stocks['updated_at'] = pd.to_datetime(stocks['updated_at'])
stocks.dtypes

id                       int64
name                    object
market                  object
price                  float64
max_price              float64
min_price              float64
pe                     float64
pbv                    float64
paid_up                float64
market_cap             float64
daily_volume           float64
beta                   float64
ticker_id                int64
created_at      datetime64[ns]
updated_at      datetime64[ns]
dtype: object

In [94]:
format_dict = { 
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',     
}

In [95]:
stocks.style.format(format_dict)

### End process