In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3')
conlite = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development')
conpg = engine.connect()

### Market change

In [149]:
name = 'TIPH'
sql = """
SELECT name, market
FROM tickers 
WHERE name = '%s'"""
sql = sql % name
ticker = pd.read_sql(sql, conlt)
ticker

   name  market
0  TIPH  SET100

In [139]:
old_market = ticker['market']
old_market

0    SET
Name: market, dtype: object

In [140]:
new_market = 'SET100'
new_market

'SET100'

In [141]:
sqlUpd = """
UPDATE tickers
SET market = '%s'
WHERE name = '%s'"""
sqlUpd = sqlUpd % (new_market, name)
print(sqlUpd)

UPDATE tickers
SET market = 'SET100'
WHERE name = 'TIPH'

In [142]:
rp = conlt.execute(sqlUpd)
rp.rowcount

1

In [143]:
rp = conmy.execute(sqlUpd)
rp.rowcount

1

In [144]:
rp = conpg.execute(sqlUpd)
rp.rowcount

1

### Stocks table

In [145]:
sqlUpd = """
UPDATE stocks
SET market = '%s'
WHERE name = '%s'"""
sqlUpd = sqlUpd % (new_market, name)
print(sqlUpd)

UPDATE stocks
SET market = 'SET100'
WHERE name = 'TIPH'

In [146]:
rp = conlt.execute(sqlUpd)
rp.rowcount

1

In [147]:
rp = conmy.execute(sqlUpd)
rp.rowcount

1

In [148]:
rp = conpg.execute(sqlUpd)
rp.rowcount

1