In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
con = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/portfolio_development")
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [36]:
name = "BE8"

### MySQL Stock Database

In [37]:
sql = '''
DELETE FROM price
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM price
WHERE name = "BE8"

In [38]:
rp = con.execute(sql)
rp.rowcount

118

In [39]:
sql = '''
DELETE FROM nameall
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM nameall
WHERE name = "BE8"

In [40]:
rp = con.execute(sql)
rp.rowcount

1

In [41]:
sql = '''
DELETE FROM stockname
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM stockname
WHERE name = "BE8"

In [42]:
rp = con.execute(sql)
rp.rowcount

1

### PostgreSQL PortPg Database

In [43]:
sql = """
SELECT * FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

SELECT * FROM yr_profits
WHERE name = 'BE8'

In [44]:
df = pd.read_sql(sql, conpg)
df

Empty DataFrame
Columns: [id, name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id]
Index: []

In [45]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'BE8'

In [46]:
rp = conpg.execute(sql)
rp.rowcount

0

In [47]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'BE8'

In [48]:
rp = conpg.execute(sql)
rp.rowcount

0

In [49]:
sql = """
DELETE FROM consensus
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM consensus
WHERE name = 'BE8'

In [50]:
rp = conpg.execute(sql)
rp.rowcount

0

In [51]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'BE8'

In [52]:
rp = conpg.execute(sql)
rp.rowcount

0

In [53]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'BE8'

In [54]:
rp = conpg.execute(sql)
rp.rowcount

0

### SQLite PortMy Database

In [55]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'BE8'

In [56]:
rp = conmy.execute(sql)
rp.rowcount

0

In [57]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'BE8'

In [58]:
rp = conmy.execute(sql)
rp.rowcount

0

### SQLite PortLt Database

In [59]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'BE8'

In [60]:
rp = conlt.execute(sql)
rp.rowcount

0

In [61]:
sql = """
DELETE FROM qt_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM qt_profits
WHERE name = 'BE8'

In [62]:
rp = conlt.execute(sql)
rp.rowcount

0

In [63]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'BE8'

In [64]:
rp = conlt.execute(sql)
rp.rowcount

0

In [65]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'BE8'

In [66]:
rp = conlt.execute(sql)
rp.rowcount

0

In [67]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'BE8'

In [68]:
rp = conlt.execute(sql)
rp.rowcount

1

### MySQL Portfolio Database

In [69]:
sql = """
SELECT * FROM stocks
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, conpf)
df

Empty DataFrame
Columns: [id, name, category_id, website]
Index: []

### Delete from name-ttl.csv manually