In [2]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
con = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/portfolio_development")
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [3]:
name = "ALUCON"

### MySQL Stock Database

In [4]:
sql = '''
DELETE FROM price
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM price
WHERE name = "ALUCON"

In [5]:
rp = con.execute(sql)
rp.rowcount

1120

In [6]:
sql = '''
DELETE FROM nameall
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM nameall
WHERE name = "ALUCON"

In [7]:
rp = con.execute(sql)
rp.rowcount

0

In [8]:
sql = '''
DELETE FROM stockname
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM stockname
WHERE name = "ALUCON"

In [9]:
rp = con.execute(sql)
rp.rowcount

0

### PostgreSQL PortPg Database

In [10]:
sql = """
SELECT * FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

SELECT * FROM yr_profits
WHERE name = 'ALUCON'

In [11]:
df = pd.read_sql(sql, conpg)
df

,id,name,year,quarter,latest_amt,previous_amt,inc_amt,inc_pct,ticker_id
0,2031344,ALUCON,2017,2,999304,983076,16228,1.650737,20
1,2031343,ALUCON,2017,3,868240,1043785,-175545,-16.818119,20
2,2031342,ALUCON,2017,4,783739,1069812,-286073,-26.740493,20
3,2031341,ALUCON,2018,1,667084,1051726,-384642,-36.572453,20
4,2031340,ALUCON,2018,2,608818,999304,-390486,-39.075797,20
5,2031339,ALUCON,2018,3,679409,868240,-188831,-21.748710,20
6,2031338,ALUCON,2018,4,719666,783739,-64073,-8.175298,20
7,2031337,ALUCON,2019,1,750748,667084,83664,12.540000,20
8,2031336,ALUCON,2019,2,683046,608818,74228,12.192149,20
9,2031335,ALUCON,2019,3,606558,679409,-72851,-10.722702,20
10,2031334,ALUCON,2019,4,532116,719666,-187550,-26.060700,20
11,2031333,ALUCON,2020,1,641590,750748,-109158,-14.540000,20
12,2031332,ALUCON,2020,2,656570,683046,-26476,-3.876166,20
13,2031331,ALUCON,2020,3,665303,606558,58745,9.684977,20
14,2031330,ALUCON,2020,4,669003,532116,136887,25.725030,20
15,2031329,ALUCON,2021,1,593334,641590,-48256,-7.520000,20
16,2031328,ALUCON,2021,2,666612,656570,10042,1.529464,20
17,2031327,ALUCON,2021,3,725936,665303,60633,9.110000,20
18,2031326,ALUCON,2021,4,704218,669003,35215,5.260000,20
19,2031325,ALUCON,2022,1,642896,593334,49562,8.350000,20

In [12]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'ALUCON'

In [13]:
rp = conpg.execute(sql)
rp.rowcount

20

In [14]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'ALUCON'

In [15]:
rp = conpg.execute(sql)
rp.rowcount

27

In [16]:
sql = """
DELETE FROM consensus
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM consensus
WHERE name = 'ALUCON'

In [17]:
rp = conpg.execute(sql)
rp.rowcount

1

In [18]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'ALUCON'

In [19]:
rp = conpg.execute(sql)
rp.rowcount

1

In [20]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'ALUCON'

In [21]:
rp = conpg.execute(sql)
rp.rowcount

1

### SQLite PortMy Database

In [22]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'ALUCON'

In [23]:
rp = conmy.execute(sql)
rp.rowcount

1

In [24]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'ALUCON'

In [25]:
rp = conmy.execute(sql)
rp.rowcount

1

### SQLite PortLt Database

In [26]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'ALUCON'

In [27]:
rp = conlt.execute(sql)
rp.rowcount

20

In [28]:
sql = """
DELETE FROM qt_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM qt_profits
WHERE name = 'ALUCON'

In [29]:
rp = conlt.execute(sql)
rp.rowcount

23

In [30]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'ALUCON'

In [31]:
rp = conlt.execute(sql)
rp.rowcount

27

In [32]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'ALUCON'

In [33]:
rp = conlt.execute(sql)
rp.rowcount

1

In [34]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'ALUCON'

In [35]:
rp = conlt.execute(sql)
rp.rowcount

1

### MySQL Portfolio Database

In [36]:
sql = """
SELECT * FROM stocks
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, conpf)
df

Empty DataFrame
Columns: [id, name, category_id, website]
Index: []

### Delete from name-ttl.csv manually