In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
con = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/portfolio_development")
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [2]:
name = "BFIT"

### MySQL Stock Database

In [3]:
sql = '''
DELETE FROM price
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM price
WHERE name = "BFIT"

In [4]:
rp = con.execute(sql)
rp.rowcount

1545

In [5]:
sql = '''
DELETE FROM nameall
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM nameall
WHERE name = "BFIT"

In [6]:
rp = con.execute(sql)
rp.rowcount

1

In [7]:
sql = '''
DELETE FROM stockname
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM stockname
WHERE name = "BFIT"

In [8]:
rp = con.execute(sql)
rp.rowcount

1

### PostgreSQL PortPg Database

In [9]:
sql = """
SELECT * FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

SELECT * FROM yr_profits
WHERE name = 'BFIT'

In [10]:
df = pd.read_sql(sql, conpg)
df

,id,name,year,quarter,latest_amt,previous_amt,inc_amt,inc_pct,ticker_id
0,2136673,BFIT,2017,2,188112,103463,84649,81.815722,62
1,2136672,BFIT,2017,3,205832,117601,88231,75.025723,62
2,2136671,BFIT,2017,4,234809,129816,104993,80.878320,62
3,2136670,BFIT,2018,1,312762,133385,179377,134.480639,62
4,2136669,BFIT,2018,2,322480,188112,134368,71.429787,62
5,2136668,BFIT,2018,3,378456,205832,172624,83.866454,62
6,2136667,BFIT,2018,4,369426,234809,134617,57.330426,62
7,2136666,BFIT,2019,1,313151,312762,389,0.120000,62
8,2136665,BFIT,2019,2,241595,322480,-80885,-25.082176,62
9,2136664,BFIT,2019,3,452967,378456,74511,19.688154,62
10,2136663,BFIT,2019,4,782504,369426,413078,111.816169,62
11,2136662,BFIT,2020,1,1045448,313151,732297,233.850000,62
12,2136661,BFIT,2020,2,1538597,241595,1297002,536.849686,62
13,2136660,BFIT,2020,3,1648628,452967,1195661,263.962055,62
14,2136659,BFIT,2020,4,1503267,782504,720763,92.109817,62
15,2136658,BFIT,2021,1,1435683,1102982,332701,30.160000,62
16,2136657,BFIT,2021,2,1137533,1596131,-458598,-28.731852,62
17,2136656,BFIT,2021,3,924632,1706162,-781530,-45.810000,62
18,2136655,BFIT,2021,4,906775,1503267,-596492,-39.680000,62
19,2136654,BFIT,2022,1,696050,1435683,-739633,-51.520000,62
20,2136653,BFIT,2022,2,566031,1137533,-571502,-50.240000,62

In [11]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'BFIT'

In [12]:
rp = conpg.execute(sql)
rp.rowcount

21

In [13]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'BFIT'

In [14]:
rp = conpg.execute(sql)
rp.rowcount

28

In [15]:
sql = """
DELETE FROM consensus
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM consensus
WHERE name = 'BFIT'

In [16]:
rp = conpg.execute(sql)
rp.rowcount

1

In [17]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'BFIT'

In [18]:
rp = conpg.execute(sql)
rp.rowcount

1

In [19]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'BFIT'

In [20]:
rp = conpg.execute(sql)
rp.rowcount

1

### SQLite PortMy Database

In [21]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'BFIT'

In [22]:
rp = conmy.execute(sql)
rp.rowcount

1

In [23]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'BFIT'

In [24]:
rp = conmy.execute(sql)
rp.rowcount

1

### SQLite PortLt Database

In [25]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'BFIT'

In [26]:
rp = conlt.execute(sql)
rp.rowcount

21

In [27]:
sql = """
DELETE FROM qt_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM qt_profits
WHERE name = 'BFIT'

In [28]:
rp = conlt.execute(sql)
rp.rowcount

24

In [29]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'BFIT'

In [30]:
rp = conlt.execute(sql)
rp.rowcount

28

In [31]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'BFIT'

In [32]:
rp = conlt.execute(sql)
rp.rowcount

1

In [33]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'BFIT'

In [34]:
rp = conlt.execute(sql)
rp.rowcount

1

### MySQL Portfolio Database

In [35]:
sql = """
SELECT * FROM stocks
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, conpf)
df

    id  name  category_id website
0  148  BFIT            3

### Delete from name-ttl.csv manually