In [1]:
import pandas as pd
import panel as pn
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
import calendar
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set

pn.extension('tabulator')

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
today

datetime.date(2022, 1, 23)

### Set today = last closed business day

In [2]:
today = today - timedelta(days=2)
today

datetime.date(2022, 1, 21)

### Restart and Run All Cells

In [3]:
sqlUpd = """
UPDATE buy B
SET dividend =
(SELECT DIVIDEND FROM dividend D
WHERE B.name = D.name)"""
rp = const.execute(sqlUpd)
rp.rowcount

34

In [4]:
cols = 'name period shares mkt_price cost_amt base_amt pct'.split()
colt = 'name shares unit_cost cost_amt price market_amt mkt_pct div_rnk amt_rnk div_amt'.split()
colu = 'name shares unit_cost cost_amt dividend div_amt cost_pct period'.split()
colv = 'name shares unit_cost cost_amt mkt_price market_amt dividend div_amt cost_pct mkt_pct profit pft_pct'.split()
colw = 'name cost_amt market_amt div_amt cost_pct mkt_pct pft_pct'.split()
colx = 'name shares unit_cost cost_amt mkt_price market_amt dividend div_amt cost_pct mkt_pct profit pft_pct period'.split()

In [5]:
format_dict = {
    'shares':'{:,}',  
    'mkt_price':'{:.2f}','unit_cost':'{:.2f}',
    'cost_amt':'{:,.2f}','div_amt':'{:,.2f}','market_amt':'{:,.2f}','profit':'{:,.2f}','base_amt':'{:,.2f}',
    'dividend':'{:.4f}',    
    'pct':'{:,.2f}%','cost_pct':'{:,.2f}%','mkt_pct':'{:,.2f}%','pft_pct':'{:,.2f}%',
}

### Process portfolio (table buy in mysql stock)

In [6]:
sql = """
SELECT name, volbuy, price AS unit_cost, dividend, period
FROM buy
WHERE active = 1"""
print(sql)

SELECT name, volbuy, price AS unit_cost, dividend, period
FROM buy
WHERE active = 1

In [7]:
buy = pd.read_sql(sql, const)
buy.rename(columns={'volbuy':'shares'},inplace=True)
buy['shares'] = buy['shares'].astype('int64')
buy['cost_amt'] = round(buy['shares'] * buy['unit_cost'], 2)
buy['cost_pct'] = round(buy['dividend'] / buy['unit_cost'] * 100, 2)
buy['div_amt'] = round(buy['shares'] * buy['dividend'], 2)
buy[colu].head().style.format(format_dict)

In [8]:
file_name = 'hi-dividend.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

buy[colu].sort_values(['cost_pct'],ascending=[False]).to_csv(output_file)
buy[colu].sort_values(['cost_pct'],ascending=[False]).to_csv(data_file)
buy[colu].sort_values(['cost_pct'],ascending=[False]).to_csv(box_file)

### Start of Period Calculation

In [9]:
sql = '''
SELECT B.name, volbuy, B.price AS unit_cost, 
dividend, P.price AS mkt_price, period
FROM buy B JOIN price P
ON B.name = P.name
WHERE P.date = "%s"
AND active = 1'''
sql = sql % today 
print(sql)

SELECT B.name, volbuy, B.price AS unit_cost,
dividend, P.price AS mkt_price, period
FROM buy B JOIN price P
ON B.name = P.name
WHERE P.date = "2022-01-21"
AND active = 1

In [10]:
df = pd.read_sql(sql, const)
df.rename(columns={'volbuy':'shares'},inplace=True)
df['shares'] = df.shares.astype(int)
df['cost_amt'] = round(df['shares'] * df['unit_cost'],2)
df['market_amt'] = round(df['shares'] * df['mkt_price'],2)
df['div_amt'] = round(df['shares'] * df['dividend'],2)
df['cost_pct'] = round(df['dividend'] / df['unit_cost'] * 100,2)
df['mkt_pct'] = round(df['dividend'] / df['mkt_price'] * 100,2)
df['profit'] = round((df['mkt_price'] - df['unit_cost']) * df['shares'],2)
df['pft_pct'] = round(df['profit'] / df['cost_amt'] * 100,2)
df[colv].sort_values(['pft_pct'],ascending=[False]).head().style.format(format_dict)

In [11]:
df.nlargest(5, 'mkt_pct')[colw].style.format(format_dict)

In [12]:
df.nsmallest(5, 'mkt_pct')[colw].style.format(format_dict)

In [13]:
file_name = 'buy-div-price.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

df[colx].sort_values(['period','name'],ascending=[True,True]).to_csv(output_file)
df[colx].sort_values(['period','name'],ascending=[True,True]).to_csv(data_file)
df[colx].sort_values(['period','name'],ascending=[True,True]).to_csv(box_file)

### Short term stocks

In [14]:
short_term = df.period == '4'
df.loc[short_term][colv].sort_values(['pft_pct'],ascending=[False]).style.format(format_dict)

In [15]:
p4cost = df.loc[short_term].cost_amt.sum()
p4profit = df.loc[short_term].profit.sum()
p4pct = round(p4profit/p4cost*100, 2)
p4cost, p4profit, p4pct, df.loc[short_term].shape[0]

(1416100.0, -66850.0, -4.72, 6)

### Long term stocks

In [16]:
long_term = df.period == '3'
df[long_term].sort_values(['pft_pct'],ascending=[False]).shape

(18, 13)

In [17]:
df[long_term].nlargest(5, 'pft_pct')[['name','cost_amt','market_amt','profit','pft_pct']].style.format(format_dict)

In [18]:
p3cost = df.loc[long_term].cost_amt.sum()
p3profit = df.loc[long_term].profit.sum()
p3pct = round(p3profit/p3cost*100, 2)
p3cost, p3profit, p3pct,df.loc[long_term].shape[0]

(4247500.0, -92750.0, -2.18, 18)

### High dividend stocks

In [19]:
hi_dividend = df.period == '2'
df.loc[hi_dividend][colv].sort_values(['mkt_pct'],ascending=[False]).style.format(format_dict)

In [20]:
df[hi_dividend].nlargest(5, 'mkt_pct')[['name','cost_amt','market_amt','div_amt','cost_pct','mkt_pct']]\
.style.format(format_dict)

In [21]:
p2profit = df.loc[hi_dividend].profit.sum()
p2cost = df.loc[hi_dividend].cost_amt.sum()
p2dividend = df.loc[hi_dividend].div_amt.sum()
p2yield = round(p2profit/p2cost*100,2)
p2cost, p2profit, p2yield, p2dividend, df.loc[hi_dividend].shape[0]

(5178750.0, -276150.0, -5.33, 490736.0, 9)

### Disposal stocks

In [22]:
disposal = df.period == '1'
df.loc[disposal][colv].sort_values(['pft_pct'],ascending=[True]).style.format(format_dict)

In [23]:
p1cost = df.loc[disposal].cost_amt.sum()
p1profit = df.loc[disposal].profit.sum()
p1pct = round(p1profit/p1cost*100,2)
p1cost, p1profit, p1pct,df.loc[disposal].shape[0]

(388500.0, -45000.0, -11.58, 1)