### Restart and Run All Cells

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

format_dict = {'qty':'{:,}','volbuy':'{:,}',
               'dividend':'{:.2f}','price':'{:.2f}','target':'{:.2f}','unit_cost':'{:.2f}',
               'gross':'{:,.2f}','profit':'{:,.2f}','sell_price':'{:.2f}','buy_price':'{:.2f}',
               'max':'{:.2f}','min':'{:.2f}','pct':'{:.2f}%', 
               'pe':'{:.2f}','pbv':'{:.2f}','volume':'{:,.2f}','beta':'{:.2f}','diff':'{:.2f}',             
               'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','cost_amt':'{:,.2f}'}
pd.set_option('display.max_rows', None)
year = 2022
year

2022

### Record selection for day trade stocks

In [2]:
sql = '''
SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = %s
ORDER BY sells.date DESC, stocks.name'''
# AND kind = "DTD"
sql = sql % year
print(sql)
sells_df = pd.read_sql(sql, conpf)
sells_df.head().style.format(format_dict)

SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price,
(sells.price - buys.price) AS diff, qty,
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = 2022
ORDER BY sells.date DESC, stocks.name

In [3]:
sells_df.groupby(['name'])[['gross','profit']].sum()

       gross   profit
name
DCC   4000.0  3477.28
EPG   2200.0  2095.90
IMH   8700.0  8607.64
IVL   7500.0  6925.23

### Total profit amount

In [4]:
ttl_prf = sells_df.gross.sum()
net_prf = sells_df.profit.sum()
ttl_prf,round(net_prf,2)

(22400.0, 21106.05)

In [5]:
sold_grp = sells_df.groupby(['name','market'])
sold_stocks = sold_grp[['sell_amt','buy_amt','qty','gross','profit']].sum()
sold_stocks.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [6]:
sold_stocks.loc[
    sold_stocks.gross > 5_000
].style.format(format_dict)

In [7]:
sold_stocks.nlargest(4, 'gross')[['gross','profit']].style.format(format_dict)

In [8]:
sold_stocks['sell_price'] = sold_stocks['sell_amt'] / sold_stocks['qty']
sold_stocks['buy_price'] = sold_stocks['buy_amt'] / sold_stocks['qty']
sold_stocks['diff'] = sold_stocks['sell_price'] - sold_stocks['buy_price']
cols = 'sell_amt buy_amt gross profit qty sell_price buy_price diff'.split()
sold_stocks[cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [9]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
stocks = pd.read_sql(sql, conmy)
stocks.shape[0]

358

In [10]:
df_merge = pd.merge(sold_stocks, stocks, on='name', how='inner')
df_merge.set_index('name', inplace=True)
df_merge.style.format(format_dict)

In [11]:
set50 = df_merge.market.str.contains('SET50') 
flt_set50 = df_merge[set50]
flt_set50.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [12]:
prf_set50 = flt_set50.gross.sum()
net_set50 = flt_set50.profit.sum()
prf_set50,net_set50

(7500.0, 6925.23)

In [13]:
set100 = df_merge.market.str.contains('SET100') 
flt_set100 = df_merge[set100]
flt_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [14]:
prf_set100 = flt_set100.gross.sum()
net_set100 = flt_set100.profit.sum()
prf_set100,net_set100

(2200.0, 2095.9)

In [15]:
flt_set = df_merge[~(set100 | set50)]
flt_set.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [16]:
prf_set = flt_set.gross.sum()
net_set = flt_set.profit.sum()
prf_set,net_set

(12700.0, 12084.92)

In [17]:
pct_set50 = round(prf_set50 / ttl_prf * 100,2)
pct_set100 = round(prf_set100 / ttl_prf * 100,2)
pct_set  = round(prf_set  / ttl_prf * 100,2)
pct_set50, pct_set100, pct_set

(33.48, 9.82, 56.7)

### Start of Balance process

In [18]:
sql = '''
SELECT name, volbuy, price, volbuy * price AS cost_amt
FROM buy
WHERE active = 1 
ORDER BY name
'''
#AND period IN ("3","4")
lt_buy = pd.read_sql(sql, const)
lt_buy['volbuy'] = lt_buy['volbuy'].astype(int)
lt_buy.head().style.format(format_dict)

In [19]:
lt_stocks = pd.merge(lt_buy, stocks, on='name', how='inner')
lt_stocks.head().style.format(format_dict)

### Total balance amount

In [20]:
my_formatter = "{:,.2f}"
lt_amt = lt_stocks.cost_amt.sum()
my_formatter.format(lt_amt)

'10,904,650.00'

In [21]:
lt_stocks['volbuy'] = lt_stocks['volbuy'].astype(int)
set50 = lt_stocks.market.str.contains('SET50') 
port_set50 = lt_stocks[set50]
port_set50.head().style.format(format_dict)

In [22]:
amt_set50 = port_set50.cost_amt.sum()
my_formatter.format(amt_set50)

'3,829,950.00'

In [23]:
set100 = lt_stocks.market.str.contains('SET100') 
port_set100 = lt_stocks[set100]
port_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [24]:
amt_set100 = port_set100.cost_amt.sum()
my_formatter.format(amt_set100)

'1,973,000.00'

In [25]:
port_set = lt_stocks[~(set100 | set50)]
port_set.head().style.format(format_dict)

In [26]:
amt_set = port_set.cost_amt.sum()
my_formatter.format(amt_set)

'5,101,700.00'

In [27]:
pct_set50 = round(amt_set50 / lt_amt * 100,2)
pct_set100 = round(amt_set100 / lt_amt * 100,2)
pct_set  = round(amt_set  / lt_amt * 100,2)
pct_set50, pct_set100, pct_set

(35.12, 18.09, 46.78)