### Restart and Run All Cells

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

format_dict = {'qty':'{:,}','volbuy':'{:,}',
               'dividend':'{:.2f}','price':'{:.2f}','target':'{:.2f}','unit_cost':'{:.2f}',
               'gross':'{:,.2f}','profit':'{:,.2f}','sell_price':'{:.2f}','buy_price':'{:.2f}',
               'max':'{:.2f}','min':'{:.2f}','pct':'{:.2f}%', 
               'pe':'{:.2f}','pbv':'{:.2f}','volume':'{:,.2f}','beta':'{:.2f}','diff':'{:.2f}',             
               'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','cost_amt':'{:,.2f}'}
pd.set_option('display.max_rows', None)
year = 2022
year

2022

### Record selection for sold stocks in year 2022

In [40]:
sql = """
SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = %s
AND kind = 'DTD'
ORDER BY sells.date DESC, stocks.name"""

sql = sql % year
print(sql)
sells_df = pd.read_sql(sql, conpf)
sells_df.head().style.format(format_dict)

SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price,
(sells.price - buys.price) AS diff, qty,
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = 2022
AND kind = 'DTD'
ORDER BY sells.date DESC, stocks.name

In [41]:
sells_df.groupby(['name'])[['gross','profit']].sum()

        gross    profit
name
DCC    4000.0   3477.28
EPG    2200.0   2095.90
IMH   17400.0  17215.28
IVL    7500.0   6925.23

### Total profit amount

In [42]:
ttl_prf = sells_df.gross.sum()
net_prf = sells_df.profit.sum()
ttl_prf,round(net_prf,2)

(31100.0, 29713.69)

In [43]:
sold_grp = sells_df.groupby(['name','market'])
sold_stocks = sold_grp[['sell_amt','buy_amt','qty','gross','profit']].sum()
sold_stocks.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [44]:
sold_stocks.loc[
    sold_stocks.gross > 5_000
].style.format(format_dict)

In [45]:
sold_stocks.nlargest(4, 'gross')[['gross','profit']].style.format(format_dict)

In [46]:
sold_stocks['sell_price'] = sold_stocks['sell_amt'] / sold_stocks['qty']
sold_stocks['buy_price'] = sold_stocks['buy_amt'] / sold_stocks['qty']
sold_stocks['diff'] = sold_stocks['sell_price'] - sold_stocks['buy_price']
cols = 'sell_amt buy_amt gross profit qty sell_price buy_price diff'.split()
sold_stocks[cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [47]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
stocks = pd.read_sql(sql, conmy)
stocks.shape[0]

358

In [48]:
df_merge = pd.merge(sold_stocks, stocks, on='name', how='inner')
df_merge.set_index('name', inplace=True)
df_merge.style.format(format_dict)

In [49]:
set50 = df_merge.market.str.contains('SET50') 
flt_set50 = df_merge[set50]
flt_set50.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [50]:
prf_set50 = flt_set50.gross.sum()
net_set50 = flt_set50.profit.sum()
prf_set50,net_set50

(7500.0, 6925.23)

In [51]:
set100 = df_merge.market.str.contains('SET100') 
flt_set100 = df_merge[set100]
flt_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [52]:
prf_set100 = flt_set100.gross.sum()
net_set100 = flt_set100.profit.sum()
prf_set100,net_set100

(2200.0, 2095.9)

In [53]:
flt_set = df_merge[~(set100 | set50)]
flt_set.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [54]:
prf_set = flt_set.gross.sum()
net_set = flt_set.profit.sum()
prf_set,net_set

(21400.0, 20692.559999999998)

In [55]:
pct_set50 = round(prf_set50 / ttl_prf * 100,2)
pct_set100 = round(prf_set100 / ttl_prf * 100,2)
pct_set  = round(prf_set  / ttl_prf * 100,2)
pct_set50, pct_set100, pct_set

(24.12, 7.07, 68.81)

### Start of Balance process

In [30]:
sql = '''
SELECT name, volbuy, price, volbuy * price AS cost_amt
FROM buy
WHERE active = 1 
AND period IN ("3","4")
ORDER BY name
'''
lt_buy = pd.read_sql(sql, const)
lt_buy['volbuy'] = lt_buy['volbuy'].astype(int)
lt_buy.head().style.format(format_dict)

In [31]:
lt_stocks = pd.merge(lt_buy, stocks, on='name', how='inner')
lt_stocks.head().style.format(format_dict)

### Total balance amount

In [32]:
my_formatter = "{:,.2f}"
lt_amt = lt_stocks.cost_amt.sum()
my_formatter.format(lt_amt)

'5,473,300.00'

In [33]:
lt_stocks['volbuy'] = lt_stocks['volbuy'].astype(int)
set50 = lt_stocks.market.str.contains('SET50') 
port_set50 = lt_stocks[set50]
port_set50.head().style.format(format_dict)

In [34]:
amt_set50 = port_set50.cost_amt.sum()
my_formatter.format(amt_set50)

'2,929,500.00'

In [35]:
set100 = lt_stocks.market.str.contains('SET100') 
port_set100 = lt_stocks[set100]
port_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [36]:
amt_set100 = port_set100.cost_amt.sum()
my_formatter.format(amt_set100)

'1,278,000.00'

In [37]:
port_set = lt_stocks[~(set100 | set50)]
port_set.head().style.format(format_dict)

In [38]:
amt_set = port_set.cost_amt.sum()
my_formatter.format(amt_set)

'1,265,800.00'

In [39]:
pct_set50 = round(amt_set50 / lt_amt * 100,2)
pct_set100 = round(amt_set100 / lt_amt * 100,2)
pct_set  = round(amt_set  / lt_amt * 100,2)
pct_set50, pct_set100, pct_set

(53.52, 23.35, 23.13)