### Restart and Run All Cells

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

format_dict = {'qty':'{:,}','volbuy':'{:,}',
               'dividend':'{:.2f}','price':'{:.2f}','target':'{:.2f}','unit_cost':'{:.2f}',
               'gross':'{:,.2f}','profit':'{:,.2f}','sell_price':'{:.2f}','buy_price':'{:.2f}',
               'max':'{:.2f}','min':'{:.2f}','pct':'{:.2f}%', 
               'pe':'{:.2f}','pbv':'{:.2f}','volume':'{:,.2f}','beta':'{:.2f}','diff':'{:.2f}',             
               'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','cost_amt':'{:,.2f}'}
pd.set_option('display.max_rows', None)
year = 2022
year

2022

### Record selection for sold stocks in year 2022

In [2]:
sql = """
SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = %s
ORDER BY sells.date DESC, stocks.name"""
#AND kind = 'DTD'
sql = sql % year
print(sql)
sells_df = pd.read_sql(sql, conpf)
sells_df.head().style.format(format_dict)

SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price,
(sells.price - buys.price) AS diff, qty,
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = 2022
ORDER BY sells.date DESC, stocks.name

In [3]:
sells_df.groupby(['name'])[['gross','profit']].sum()

          gross    profit
name
AIMIRT  -3000.0  -3569.23
BGRIM  -63000.0 -64455.19
CKP      7000.0   6320.02
CPNCG   -6000.0  -7085.31
DCC      4000.0   3477.28
DIF     -4000.0  -4642.32
DOHOME  11400.0  10502.44
EPG    -12200.0 -13431.04
GLOBAL  24000.0  22657.77
HREIT     -55.0    -58.84
IMH     49300.0  47826.43
IP       6150.0   5196.82
IVL     79350.0  75825.34
JASIF   -2000.0  -2491.71
KBANK   14688.0  13200.23
LPF      1000.0    377.61
MCS    -14500.0 -16011.70
MEGA     1500.0    353.79
NER     -1350.0  -1644.03
NOBLE  -63000.0 -64814.00
PTT     -6750.0  -8270.00
RATCH  -39250.0 -40987.07
RCL      7500.0   7187.70
RJH      4500.0   3832.20
SAT     18750.0  18007.45
SINGER  37875.0  36948.89
SIS     12400.0  10837.61
SNC       900.0    220.25
SPALI   -4500.0  -5367.13
SYNEX    2250.0   2035.70
TISCO    7000.0   6116.26
TOP     19000.0  17615.69
TSE     -4000.0  -4451.84
TSTH    -5250.0  -5736.72
TU      -5400.0  -7046.56
TYCN   -12000.0 -12646.75

In [4]:
sells_df[['gross','profit']].sum()

gross     62308.00
profit    25830.04
dtype: float64

### Total profit amount

In [5]:
ttl_prf = sells_df.gross.sum()
net_prf = sells_df.profit.sum()
ttl_prf,round(net_prf,2)

(62308.0, 25830.04)

In [6]:
sold_grp = sells_df.groupby(['name','market'])
sold_stocks = sold_grp[['sell_amt','buy_amt','qty','gross','profit']].sum()
sold_stocks.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [7]:
sold_stocks.loc[
    sold_stocks.gross > 20_000
].style.format(format_dict)

In [8]:
sold_stocks.nlargest(4, 'gross')[['gross','profit']].style.format(format_dict)

In [9]:
sold_stocks['sell_price'] = sold_stocks['sell_amt'] / sold_stocks['qty']
sold_stocks['buy_price'] = sold_stocks['buy_amt'] / sold_stocks['qty']
sold_stocks['diff'] = sold_stocks['sell_price'] - sold_stocks['buy_price']
cols = 'sell_amt buy_amt gross profit qty sell_price buy_price diff'.split()
sold_stocks[cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [10]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
stocks = pd.read_sql(sql, conmy)
stocks.shape[0]

251

In [11]:
df_merge = pd.merge(sold_stocks, stocks, on='name', how='inner')
df_merge.set_index('name', inplace=True)
df_merge.style.format(format_dict)

In [12]:
set50 = df_merge.market.str.contains('SET50') 
flt_set50 = df_merge[set50]
flt_set50.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [13]:
prf_set50 = flt_set50.gross.sum()
net_set50 = flt_set50.profit.sum()
prf_set50,net_set50

(29638.0, 14656.46999999999)

In [14]:
set100 = df_merge.market.str.contains('SET100') 
flt_set100 = df_merge[set100]
flt_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [15]:
prf_set100 = flt_set100.gross.sum()
net_set100 = flt_set100.profit.sum()
prf_set100,net_set100

(50825.0, 44550.369999999995)

In [16]:
flt_set = df_merge[~(set100 | set50)]
flt_set.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [17]:
prf_set = flt_set.gross.sum()
net_set = flt_set.profit.sum()
prf_set,net_set

(-18155.0, -33376.8)

In [18]:
pct_set50 = round(prf_set50 / ttl_prf * 100,2)
pct_set100 = round(prf_set100 / ttl_prf * 100,2)
pct_set  = round(prf_set  / ttl_prf * 100,2)
pct_set50, pct_set100, pct_set

(47.57, 81.57, -29.14)

### Start of Balance process

In [19]:
sql = '''
SELECT name, volbuy, price, volbuy * price AS cost_amt
FROM buy
WHERE active = 1 
AND period IN ("3","4")
ORDER BY name
'''
lt_buy = pd.read_sql(sql, const)
lt_buy['volbuy'] = lt_buy['volbuy'].astype(int)
lt_buy.head().style.format(format_dict)

In [20]:
lt_stocks = pd.merge(lt_buy, stocks, on='name', how='inner')
lt_stocks.head().style.format(format_dict)

### Total balance amount

In [21]:
flt_formatter = "{:,.2f}"
lt_amt = lt_stocks.cost_amt.sum()
flt_formatter.format(lt_amt)

'4,034,050.00'

In [22]:
lt_stocks['volbuy'] = lt_stocks['volbuy'].astype(int)
set50 = lt_stocks.market.str.contains('SET50') 
port_set50 = lt_stocks[set50]
port_set50.head().style.format(format_dict)

In [23]:
amt_set50 = port_set50.cost_amt.sum()
flt_formatter.format(amt_set50)

'1,781,200.00'

In [24]:
set100 = lt_stocks.market.str.contains('SET100') 
port_set100 = lt_stocks[set100]
port_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [25]:
amt_set100 = port_set100.cost_amt.sum()
flt_formatter.format(amt_set100)

'1,646,700.00'

In [26]:
port_set = lt_stocks[~(set100 | set50)]
port_set.head().style.format(format_dict)

In [27]:
amt_set = port_set.cost_amt.sum()
flt_formatter.format(amt_set)

'606,150.00'

In [28]:
pct_set50 = round(amt_set50 / lt_amt * 100,2)
pct_set100 = round(amt_set100 / lt_amt * 100,2)
pct_set  = round(amt_set  / lt_amt * 100,2)
pct_set50, pct_set100, pct_set

(44.15, 40.82, 15.03)