In [28]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
import calendar

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

data_path = "../excel/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

year = 2022
quarter = 2
today = date.today()
today

datetime.date(2022, 7, 6)

### Today must be last business day

In [2]:
today = date(2022, 7, 5)
today

datetime.date(2022, 7, 5)

In [3]:
format_dict = {    
    'shares':'{:,}',    
    'q4':'{:.4f}','q3':'{:.4f}','q2':'{:.4f}','q1':'{:.4f}','dividend':'{:.4f}','qtrly':'{:.4f}',
    'price':'{:.2f}',    
    'amount':'{:,.2f}','net':'{:,.2f}','cost_amt':'{:,.2f}',
    'yield':'{:,.2f}%','pct':'{:,.2f}%',
    'xdate':'{:%Y-%m-%d}','paiddate':'{:%Y-%m-%d}',
              }

### New dividend stock

In [11]:
name = 'MC'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [12]:
sqlIns = """
INSERT INTO dividend
VALUES('MC',0.32,0,0.20,0,0.52,0,0,00,'2022-02-24','2022-03-10','',1)
"""
rp = const.execute(sqlIns)
rp.rowcount

1

### Start of Update dividend

In [17]:
def update_dividend1(q2,XDATE,PAIDDATE,actual,name):
    sql = "UPDATE dividend SET q2 = %s, dividend = q1+q2+q3+q4, XDATE = '%s', PAIDDATE = '%s', actual = %s WHERE name = '%s'"
    sql = sql % (q2,XDATE, PAIDDATE, actual,name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [20]:
name = 'SCCC'
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [19]:
q2 = 9.00
XDATE = '2022-08-13'
PAIDDATE = '2022-08-28'
actual = 0

update_dividend1(q2,XDATE,PAIDDATE,actual,name)

'Records updated = 1'

In [41]:
def update_dividend2(shares,q2,actual,name):
    sql = "UPDATE dividend SET shares = %s, q2 = %s, dividend=q1+q2+q3+q4, actual = %s WHERE name = '%s'"
    sql = sql % (shares, q2, actual, name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [89]:
name = 'WHAIR'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [90]:
shares = 40000
q2 = 0.1738
actual = 0

In [91]:
update_dividend2(shares,q2,actual,name)

'Records updated = 1'

### Toggle actual status

In [18]:
name = 'SCB'
actual = 0
sqlUpd = "UPDATE dividend SET actual = %s WHERE name = '%s'"
sqlUpd = sqlUpd % (actual, name)
rp = const.execute(sqlUpd)
rp.rowcount

1

### Delete dividend record

In [10]:
sqlDel = '''
DELETE FROM dividend
WHERE name IN ("MC")
'''
rp = const.execute(sqlDel)
rp.rowcount

1

### Start of output to cloud

In [4]:
sql = """
SELECT Y.NAME AS name,  Q2 AS qtrly, SHARES, XDATE, PAIDDATE, 
P.price AS price, Y.DIVIDEND, ACTUAL, B.price * B.volbuy AS cost_amt
FROM dividend AS Y, price AS P, buy AS B
WHERE Y.name = P.name 
AND Y.name = B.name 
AND Q2 > 0 
AND P.date = '%s'
ORDER BY XDATE
"""
sql = sql % today 
print(sql)

SELECT Y.NAME AS name,  Q2 AS qtrly, SHARES, XDATE, PAIDDATE,
P.price AS price, Y.DIVIDEND, ACTUAL, B.price * B.volbuy AS cost_amt
FROM dividend AS Y, price AS P, buy AS B
WHERE Y.name = P.name
AND Y.name = B.name
AND Q2 > 0
AND P.date = '2022-07-05'
ORDER BY XDATE

In [5]:
cols = 'name qtrly shares amount net xdate paiddate cost_amt pct actual'.split()

In [6]:
dividend = pd.read_sql(sql, const)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend['amount'] = round(dividend['shares'] * dividend['qtrly'], 2)
dividend['net'] = round(dividend['amount'] * 0.9, 2)
dividend['pct'] = round(dividend['net'] / dividend['cost_amt'] * 100, 2)
dividend[cols].sort_values('xdate',ascending=True).style.format(format_dict)

In [119]:
name = 'WHART'
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [118]:
q2 = 0.1915
XDATE = '2022-08-17'
PAIDDATE = '2022-09-02'
actual = 0

update_dividend1(q2,XDATE,PAIDDATE,actual,name)

'Records updated = 1'

In [7]:
dividend.net.sum()

233178.3

In [124]:
file_name = 'dividend-q2.xlsx'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

dividend[cols].sort_values(['name'],ascending=[True]).to_excel(output_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_excel(data_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_excel(box_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_excel(one_file, index=False)

In [16]:
sql = 'SELECT name, q_eps, aq_eps, publish_date FROM epss WHERE year = %s-1 AND quarter = %s ORDER BY name'
sql = sql % (year, quarter)
print(sql)
eps = pd.read_sql(sql, conlt)
eps.dtypes

SELECT name, q_eps, aq_eps, publish_date FROM epss WHERE year = 2022-1 AND quarter = 2 ORDER BY name

name             object
q_eps           float64
aq_eps          float64
publish_date     object
dtype: object

In [19]:
df_merge = pd.merge(dividend, eps, on='name', how='inner')
df_merge.sort_values('name',ascending=True)

,name,qtrly,shares,xdate,paiddate,price,dividend,actual,cost_amt,amount,net,pct,q_eps,aq_eps,publish_date
15,ASP,0.2000,30000,2022-08-27,2022-09-08,3.06,0.4000,0,114000.0,6000.0,5400.0,4.74,0.1100,0.2800,2021-07-30
17,BCH,0.2000,21000,2022-08-31,2022-09-15,20.40,1.2000,0,438900.0,4200.0,3780.0,0.86,0.4600,0.5900,2021-08-16
8,DCC,0.0500,60000,2022-08-23,2022-09-03,2.74,0.1900,0,177600.0,3000.0,2700.0,1.52,0.0520,0.1120,2021-08-09
0,DIF,0.2610,40000,2022-08-10,2022-09-03,13.20,1.0430,0,588000.0,10440.0,9396.0,1.60,0.2768,0.5550,2021-08-13
5,JASIF,0.2400,130000,2022-08-20,2022-09-07,8.80,0.9400,0,1300000.0,31200.0,28080.0,2.16,0.2594,0.4815,2021-08-10
6,KCE,0.6000,15000,2022-08-23,2022-09-08,56.25,1.6000,0,1076250.0,9000.0,8100.0,0.75,0.5200,0.9500,2021-08-10
10,MAKRO,0.4000,7500,2022-08-24,2022-09-08,34.25,0.7200,0,303000.0,3000.0,2700.0,0.89,0.2700,0.6300,2021-08-10
18,MCS,0.4000,75000,2022-09-03,2022-09-15,11.30,1.2700,0,1155000.0,30000.0,27000.0,2.34,0.8600,1.3500,2021-08-16
7,NER,0.0700,27000,2022-08-23,2022-09-06,5.50,0.4300,0,201150.0,1890.0,1701.0,0.85,0.2830,0.5200,2021-08-09
12,ORI,0.1200,45000,2022-08-24,2022-09-09,9.85,0.6400,0,495000.0,5400.0,4860.0,0.98,0.3473,0.6837,2021-08-11
19,PTTGC,2.0000,12000,2022-09-03,2022-09-22,44.50,3.7500,0,705000.0,24000.0,21600.0,3.06,5.5800,7.7400,2021-08-09
14,RCL,1.5000,15000,2022-08-27,2022-09-10,37.00,6.0000,0,686250.0,22500.0,20250.0,2.95,3.8500,7.4000,2021-08-14
1,SCC,8.5000,900,2022-08-13,2022-08-27,372.00,18.5000,0,358200.0,7650.0,6885.0,1.92,14.2800,26.7100,2021-07-29
2,SCCC,9.0000,1200,2022-08-13,2022-08-28,149.50,18.0000,0,205200.0,10800.0,9720.0,4.74,4.8500,8.4200,2021-07-29
13,SENA,0.1290,105000,2022-08-27,2022-09-11,3.80,0.3405,0,470400.0,13545.0,12190.5,2.59,0.1523,0.3130,2021-08-13
9,STA,1.2500,22500,2022-08-23,2022-09-08,20.40,1.9000,0,759375.0,28125.0,25312.5,3.33,3.2800,7.1600,2021-08-10
11,SYNEX,0.1800,18000,2022-08-24,2022-09-03,16.90,0.7000,0,504000.0,3240.0,2916.0,0.58,0.2500,0.4700,2021-08-10
16,TMT,0.6000,48000,2022-08-27,2022-09-10,8.30,1.3000,0,475200.0,28800.0,25920.0,5.45,0.6900,1.1800,2021-08-13
20,TOP,0.6000,3000,2022-09-09,2022-09-23,51.75,2.6000,0,172500.0,1800.0,1620.0,0.94,1.0400,2.6900,2021-08-10
21,TPIPL,0.0300,60000,2022-10-12,2022-10-28,1.51,0.0900,0,102000.0,1800.0,1620.0,1.59,0.0940,0.1550,2021-08-13
4,WHAIR,0.1738,40000,2022-08-19,2022-09-22,7.35,0.6770,0,358000.0,6952.0,6256.8,1.75,0.2003,0.4980,2021-08-09
3,WHART,0.1915,30000,2022-08-17,2022-09-02,10.20,0.7578,0,351000.0,5745.0,5170.5,1.47,0.2122,0.3682,2021-08-05

In [22]:
colt = 'name qtrly shares amount net publish_date xdate paiddate q_eps aq_eps'.split()

In [24]:
df_merge[colt].sort_values('publish_date',ascending=True)

,name,qtrly,shares,amount,net,publish_date,xdate,paiddate,q_eps,aq_eps
1,SCC,8.5000,900,7650.0,6885.0,2021-07-29,2022-08-13,2022-08-27,14.2800,26.7100
2,SCCC,9.0000,1200,10800.0,9720.0,2021-07-29,2022-08-13,2022-08-28,4.8500,8.4200
15,ASP,0.2000,30000,6000.0,5400.0,2021-07-30,2022-08-27,2022-09-08,0.1100,0.2800
3,WHART,0.1915,30000,5745.0,5170.5,2021-08-05,2022-08-17,2022-09-02,0.2122,0.3682
4,WHAIR,0.1738,40000,6952.0,6256.8,2021-08-09,2022-08-19,2022-09-22,0.2003,0.4980
7,NER,0.0700,27000,1890.0,1701.0,2021-08-09,2022-08-23,2022-09-06,0.2830,0.5200
8,DCC,0.0500,60000,3000.0,2700.0,2021-08-09,2022-08-23,2022-09-03,0.0520,0.1120
19,PTTGC,2.0000,12000,24000.0,21600.0,2021-08-09,2022-09-03,2022-09-22,5.5800,7.7400
10,MAKRO,0.4000,7500,3000.0,2700.0,2021-08-10,2022-08-24,2022-09-08,0.2700,0.6300
5,JASIF,0.2400,130000,31200.0,28080.0,2021-08-10,2022-08-20,2022-09-07,0.2594,0.4815
6,KCE,0.6000,15000,9000.0,8100.0,2021-08-10,2022-08-23,2022-09-08,0.5200,0.9500
9,STA,1.2500,22500,28125.0,25312.5,2021-08-10,2022-08-23,2022-09-08,3.2800,7.1600
20,TOP,0.6000,3000,1800.0,1620.0,2021-08-10,2022-09-09,2022-09-23,1.0400,2.6900
11,SYNEX,0.1800,18000,3240.0,2916.0,2021-08-10,2022-08-24,2022-09-03,0.2500,0.4700
12,ORI,0.1200,45000,5400.0,4860.0,2021-08-11,2022-08-24,2022-09-09,0.3473,0.6837
16,TMT,0.6000,48000,28800.0,25920.0,2021-08-13,2022-08-27,2022-09-10,0.6900,1.1800
0,DIF,0.2610,40000,10440.0,9396.0,2021-08-13,2022-08-10,2022-09-03,0.2768,0.5550
13,SENA,0.1290,105000,13545.0,12190.5,2021-08-13,2022-08-27,2022-09-11,0.1523,0.3130
21,TPIPL,0.0300,60000,1800.0,1620.0,2021-08-13,2022-10-12,2022-10-28,0.0940,0.1550
14,RCL,1.5000,15000,22500.0,20250.0,2021-08-14,2022-08-27,2022-09-10,3.8500,7.4000
17,BCH,0.2000,21000,4200.0,3780.0,2021-08-16,2022-08-31,2022-09-15,0.4600,0.5900
18,MCS,0.4000,75000,30000.0,27000.0,2021-08-16,2022-09-03,2022-09-15,0.8600,1.3500

In [30]:
file_name = 'div-22q2.xlsx'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_merge[colt].sort_values(['name'],ascending=[True]).to_excel(output_file, index=False)
df_merge[colt].sort_values(['name'],ascending=[True]).to_excel(data_file, index=False)
df_merge[colt].sort_values(['name'],ascending=[True]).to_excel(box_file, index=False)
df_merge[colt].sort_values(['name'],ascending=[True]).to_excel(one_file, index=False)

### End of output to cloud