In [1]:
# Importing required python libraries
import os, glob
import pandas as pd

In [2]:
# Changing the current working directory
os.chdir(r"C:\www.santiwebsite.com\V1-Rename-Files\any\V1")

In [3]:
# Getting the FileNames of all .csv files in the current dir.
filename1 = [i for i in glob.glob(f"*.html")] 
df1 = pd.DataFrame (filename1)
df1.rename(columns={0: 'name'}, inplace=True)
df1.head()

          name
0  ADVANC.html
1  AEONTS.html
2  AIMIRT.html
3     AIT.html
4  AMANAH.html

In [4]:
# Changing the current working directory
os.chdir(r"C:\www.santiwebsite.com\V1-Rename-Files\prices")

In [5]:
# Getting the FileNames of all .csv files in the current dir.
filename2 = [i for i in glob.glob(f"*.html")] 
df2 = pd.DataFrame (filename2)
df2.rename(columns={0: 'name'}, inplace=True)
df2.head()

          name
0  ADVANC.html
1  AEONTS.html
2  AIMIRT.html
3     AIT.html
4  AMANAH.html

In [6]:
# Changing the current working directory
os.chdir(r"C:\A8\Ad Hoc")

In [7]:
ls

 Volume in drive C is Windows
 Volume Serial Number is C496-DC55

 Directory of C:\A8\Ad Hoc

04/23/2022  04:06 PM    <DIR>          .
04/23/2022  04:06 PM    <DIR>          ..
04/21/2022  02:56 PM    <DIR>          .ipynb_checkpoints
04/22/2022  10:40 PM           105,018 020-Amount by Period.ipynb
04/22/2022  10:45 PM           156,982 025-Amount by Period - Ext.ipynb
04/22/2022  10:47 PM           221,591 030-Profit & Balance by Market.ipynb
02/21/2022  04:39 PM            16,404 040-Recalculate cost when unit cost change-Portfolio.ipynb
04/21/2022  02:00 PM            29,550 070-Name-Change.ipynb
01/15/2022  11:17 AM            22,260 080-Stock-Addition.ipynb
02/18/2022  09:14 PM            47,675 910-Dividend Q1.ipynb
02/15/2022  01:24 PM            47,677 920-Dividend Q2.ipynb
02/18/2022  09:15 PM            47,676 930-Dividend Q3.ipynb
04/23/2022  04:06 PM            48,790 940-Dividend Q4.ipynb
04/21/2022  10:18 PM            11,746 Convert Price HTML to New Format.ipynb
03/18/2022  12:18 PM            18,700 Stock KCE.ipynb
02/23/2022  10:28 AM            23,276 Stock PTTGC.ipynb
03/15/2022  11:43 AM            32,710 Stock STA.ipynb
              14 File(s)        830,055 bytes
               3 Dir(s)  262,917,853,184 bytes free

In [8]:
df_merge = pd.merge(df1, df2, on='name', how='outer', indicator=True)

In [9]:
unmatch = df_merge[(df_merge._merge == 'right_only') & (df_merge.name.str[0] == 'B')]
unmatch

            name      _merge
51      BCP.html  right_only
52     BCPG.html  right_only
53      BCT.html  right_only
54     BDMS.html  right_only
55     BFIT.html  right_only
56      BGC.html  right_only
57    BGRIM.html  right_only
58       BH.html  right_only
59      BKI.html  right_only
60      BLA.html  right_only
61  BOFFICE.html  right_only
62      BPP.html  right_only

In [10]:
match = df_merge[df_merge._merge == 'both']
match.shape

(47, 2)

In [11]:
new = df_merge[df_merge._merge == 'left_only']
new.shape

(4, 2)