In [7]:
import pandas as pd
df = pd.read_csv("../data/employee_dataset.csv")

df.tail()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
995,Mark Gordon,"Baker, Allen and Edwards",Optometrist,Wardfort,Indonesia,516950,Full Time,4.5
996,Courtney Bell,Andrade LLC,Sales promotion account executive,Kristaburgh,Holy See (Vatican City State),257400,Intern,2.8
997,Kathleen Lamb,"Wallace, Smith and Shepard",Administrator,Kristaburgh,Afghanistan,861920,Full Time,1.2
998,Renee Davis,Nichols-James,Administrator,Aliciafort,Slovenia,848830,Full Time,5.0
999,Lindsey Sullivan,"Baker, Allen and Edwards",Garment/textile technologist,North Melissafurt,Chile,504680,Full Time,0.1

In [8]:
from pivottablejs import pivot_ui

pivot_ui(df)