#### csv files: daily-sales, monitors, stocks-all

In [1]:
import calendar
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {'qty':'{:,}','pct':'{:,.2f}%',
               'fm_price':'{:,.2f}','to_price':'{:,.2f}',
               'max_price':'{:,.2f}','min_price':'{:,.2f}'}

today = date.today()
yesterday = today - timedelta(days=1)
yesterday

datetime.date(2021, 12, 24)

### Yesterday = Last closed work day

In [2]:
#yesterday = today - timedelta(days=1)
yesterday

datetime.date(2021, 12, 24)

### Restart and Run All Cells

In [3]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
round((to_price-fm_price)*1.0/fm_price*100.0,2) AS pct,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a JOIN stocks t ON a.name = t.name 
WHERE to_date >= "%s" AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
round((to_price-fm_price)*1.0/fm_price*100.0,2) AS pct,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a JOIN stocks t ON a.name = t.name
WHERE to_date >= "2021-12-23" AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

In [4]:
df = pd.read_sql(sql, conlite)
df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.shape

(26, 10)

### Price change up or down more than 5%

In [5]:
#df['bdays'] = np.busday_count(df['fm_date'].dt.date,df['to_date'].dt.date)
#df['bdays'] = 1
df['bdays'] = (df['to_date'] - df['fm_date']).dt.days
watch_list = df.loc[
    abs(df.pct) >= 5,
    ['pct','status','fm_price','to_price','market','fm_date','bdays','max_price','min_price']
]
watch_list.sort_values(by="pct",ascending=False)

Empty DataFrame
Columns: [pct, status, fm_price, to_price, market, fm_date, bdays, max_price, min_price]
Index: []

In [6]:
file_name = "daily-watch-list.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/daily-watch-list.csv',
 '\\Users\\User\\iCloudDrive\\daily-watch-list.csv',
 '\\Users\\User\\Dropbox\\daily-watch-list.csv')

In [7]:
watch_list.sort_values(['status','pct'],ascending=[True,True]).to_csv(output_file,header=None)
watch_list.sort_values(['status','pct'],ascending=[True,True]).to_csv(data_file,header=None)
watch_list.sort_values(['status','pct'],ascending=[True,True]).to_csv(box_file)

### Create daily-sales from sales

In [8]:
file_name = "daily-sales.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/daily-sales.csv',
 '\\Users\\User\\iCloudDrive\\daily-sales.csv',
 '\\Users\\User\\Dropbox\\daily-sales.csv')

In [9]:
df.sort_values(['status','pct'],ascending=[True,True]).to_csv(output_file,header=None)
df.sort_values(['status','pct'],ascending=[True,True]).to_csv(data_file,header=None)
df.sort_values(['status','pct'],ascending=[True,True]).to_csv(box_file)

In [10]:
df.shape[0]

26

### Create monitors from stocks

In [11]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","I","O","S")
ORDER BY name
"""
monitors = pd.read_sql(sql, conlite)
monitors.set_index(["name"], inplace=True)
monitors.shape

(27, 1)

In [12]:
sql = """
SELECT status, COUNT(*) 
FROM stocks 
WHERE status IN ("B","I","O","S")
GROUP BY status
"""
df_tmp = pd.read_sql(sql, conlite)
df_tmp

  status  COUNT(*)
0      B        11
1      I        14
2      O         2

### output_file = iCloud Drive on PC

In [13]:
file_name = "monitors.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/monitors.csv',
 '\\Users\\User\\iCloudDrive\\monitors.csv',
 '\\Users\\User\\Dropbox\\monitors.csv')

In [14]:
monitors.to_csv(data_file, header=None)
monitors.to_csv(box_file)
monitors.to_csv(output_file)

### End of daily process

In [15]:
sql = """
SELECT status, COUNT(*) 
FROM stocks 
GROUP BY status
"""
df_tmp = pd.read_sql(sql, conlite)
df_tmp

  status  COUNT(*)
0      B        11
1      I        14
2      O         2
3      T         4
4      U         5
5      X        14

In [16]:
sql = """
SELECT name, status, market
FROM stocks 
ORDER BY status, name
"""
stocks = pd.read_sql(sql, conlite)
stocks.set_index(["name"], inplace=True)
stocks

       status  market
name
BGRIM       B   SET50
DOHOME      B  SET100
GLOBAL      B   SET50
IMH         B     mai
KBANK       B   SET50
NOBLE       B     SET
PTT         B   SET50
RATCH       B   SET50
SIS         B     SET
STA         B   SET50
TOP         B   SET50
CKP         I  SET100
DCC         I     SET
DIF         I     SET
EPG         I     SET
IP          I     mai
IVL         I   SET50
KCE         I   SET50
NER         I     SET
RCL         I     SET
SAT         I     SET
TSTH        I     SET
TU          I   SET50
TYCN        I     SET
VNT         I     SET
ROJNA       O     SET
SYNEX       O  SET100
HREIT       T     SET
JASIF       T     SET
TISCO       T   SET50
TMT         T     SET
BCH         U  SET100
MCS         U     SET
PTTGC       U   SET50
RJH         U     SET
SCC         U   SET50
ASK         X     SET
BLA         X     SET
GULF        X   SET50
JMT         X  SET100
LH          X   SET50
MEGA        X  SET100
PTL         X  SET100
SINGER      X  SET100
SPALI       X  SET100
STARK       X     SET
SVI         X     SET
TKS         X     SET
TQM         X  SET100
TSE         X     SET

In [17]:
file_name = "stocks-all.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/stocks-all.csv',
 '\\Users\\User\\iCloudDrive\\stocks-all.csv',
 '\\Users\\User\\Dropbox\\stocks-all.csv')

In [18]:
stocks.to_csv(data_file, header=None)
stocks.to_csv(output_file)
stocks.to_csv(box_file)

In [19]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","O")
ORDER BY name
"""

buy_candidates = pd.read_sql(sql, conlite)
buy_candidates.set_index(["name"], inplace=True)
buy_candidates

       status
name
BGRIM       B
DOHOME      B
GLOBAL      B
IMH         B
KBANK       B
NOBLE       B
PTT         B
RATCH       B
ROJNA       O
SIS         B
STA         B
SYNEX       O
TOP         B

In [20]:
buy_candidates.shape[0]

13

In [21]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("I","S")
ORDER BY name
"""

sell_candidates = pd.read_sql(sql, conlite)
sell_candidates.set_index(["name"], inplace=True)
sell_candidates

     status
name
CKP       I
DCC       I
DIF       I
EPG       I
IP        I
IVL       I
KCE       I
NER       I
RCL       I
SAT       I
TSTH      I
TU        I
TYCN      I
VNT       I

In [22]:
sell_candidates.shape[0]

14