#### SQLite port_lite database: sales, stocks table
#### csv files: daily-watch-list, daily-sales, monitors, stocks-all

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
yesterday = today - timedelta(days=2)
yesterday

datetime.date(2022, 5, 14)

### Yesterday = Last business day

In [2]:
yesterday = date(2022, 5, 13)
yesterday

datetime.date(2022, 5, 13)

In [3]:
df_stats = pd.read_csv('../data/stats.csv',usecols=['name','date','max_price','min_price','pe','pbv','eps','market_cap'])
df_stats.rename(columns = {'eps':'beta'}, inplace = True)
df_stats.dtypes

name           object
date           object
pe            float64
beta          float64
pbv            object
market_cap    float64
max_price     float64
min_price     float64
dtype: object

In [4]:
df_dailies = pd.read_csv('../data/dailies.csv',usecols=['name','date','price','daily_volume'])
df_dailies.shape

(232, 4)

In [5]:
df_merge1 = pd.merge(df_stats, df_dailies, on=['name','date'], how='inner')
df_merge1.shape

(232, 10)

In [6]:
sql = """
SELECT name, market, ticker_id
FROM stocks 
ORDER BY name
"""
df_stocks = pd.read_sql(sql, conpg)
df_stocks.shape

(232, 3)

In [7]:
df_merge2 = pd.merge(df_merge1, df_stocks, on=['name'], how='outer',indicator=True)
df_merge2.shape

(232, 13)

In [8]:
stock = df_merge2[df_merge2._merge == 'right_only']
stock

Empty DataFrame
Columns: [name, date, pe, beta, pbv, market_cap, max_price, min_price, price, daily_volume, market, ticker_id, _merge]
Index: []

In [9]:
sqlDel = """
DELETE FROM stocks
WHERE name = 'VNT'"""
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [10]:
sqlDel = """
DELETE FROM charts
WHERE name = 'VNT'"""
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [11]:
sqlDel = """
DELETE FROM yr_profits
WHERE name = 'VNT'"""
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [12]:
sqlDel = """
DELETE FROM profits
WHERE name = 'VNT'"""
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [13]:
sqlDel = """
DELETE FROM epss
WHERE name = 'VNT'"""
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [14]:
sqlDel = """
DELETE FROM consensus
WHERE name = 'VNT'"""
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [15]:
sqlDel = """
DELETE FROM tickers
WHERE name = 'VNT'"""
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [16]:
df_merge2['paid_up'] = 999.99
df_merge2['created_at'] = pd.to_datetime(yesterday)
df_merge2['updated_at'] = pd.to_datetime(yesterday)
df_merge2.dtypes

name                    object
date                    object
pe                     float64
beta                   float64
pbv                     object
market_cap             float64
max_price              float64
min_price              float64
price                  float64
daily_volume           float64
market                  object
ticker_id                int64
_merge                category
paid_up                float64
created_at      datetime64[ns]
updated_at      datetime64[ns]
dtype: object

In [17]:
racl = 'name market price max_price min_price pe pbv paid_up market_cap daily_volume beta ticker_id created_at updated_at'.split()
df = df_merge2[racl]
df.head()

,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
0,ACE,SET100,2.76,4.6,2.74,19.13,2.06,999.99,28085.76,14923.89,0.03,667,2022-05-13,2022-05-13
1,ADVANC,SET50 / SETHD / SETTHSI,215.00,242.0,168.00,24.05,8.46,999.99,639394.05,1073120.37,2.12,8,2022-05-13,2022-05-13
2,AEONTS,SET100,183.50,209.0,168.00,12.91,2.31,999.99,45875.00,52297.16,14.21,9,2022-05-13,2022-05-13
3,AH,sSET / SETTHSI,21.30,28.5,19.80,7.38,0.89,999.99,7558.13,22922.14,2.89,11,2022-05-13,2022-05-13
4,AIE,sSET,3.82,7.8,3.62,11.63,2.04,999.99,5028.02,5455.83,0.09,691,2022-05-13,2022-05-13

In [18]:
file_name = "stocks.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df.sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)