### Restart and run all cells

#### csv files: sell-alert

In [1]:
import calendar
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine
from math import ceil, floor, trunc

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
con_lite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
today

datetime.date(2021, 12, 27)

In [2]:
def number_of_spread(x):
    maxp = x[1]
    minp = x[10]
    div = 0.0
    gap = 0.0
    spd = 0
    spd1 = 0
    spd2 = 0
    if (maxp > minp): 
        mult = 1
    else:
    	tmpp = minp
    	minp = maxp
    	maxp = tmpp
    	mult = -1
        
    gap = round(maxp - minp,2)   
    
    if (maxp > 400.00):
        div = 2.0
        boundary = div * 200
        if ((minp < boundary)):
            spd1 = trunc((boundary - minp) / 1.00)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div) 
    elif (maxp > 200.00):
        div = 1.0
        boundary = div * 200
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.50)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div) 
    elif (maxp > 100.00):
        div = 0.50
        boundary = div * 200
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.25)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div) 
    elif (maxp > 25.00):
        div = 0.25
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.10)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div)
    elif (maxp > 10.00):
        div = 0.10
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.05)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            div = 0.10            
            spd = trunc(gap / div)
    elif (maxp > 5.00):
        div = 0.05
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.02)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2           
        else:
            div = 0.05            
            spd = ceil(gap / div)
    elif (maxp > 2.00):
        div = 0.02
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.01)
            spd2 = trunc((maxp - boundary) / div)
            spd = spd1 + spd2
        else:          
            spd = (gap / div)
    else:
        div = 0.01
        boundary = div * 100        
        spd = trunc(gap / div) 
        
    return spd * mult

In [3]:
format_dict = {
               'fm_price':'{:.2f}','to_price':'{:.2f}',    
               'max_price':'{:.2f}','min_price':'{:.2f}',
               'target':'{:.2f}','max':'{:.2f}','max52':'{:.2f}','css_price':'{:.2f}','amount':'{:,.2f}',  
               'unit_cost':'{:.2f}','cost_amt':'{:,.2f}',
               'dividend':'{:.2f}','dividend_amount':'{:,.2f}',    
               'cost_amt':'{:,.2f}','div_amt':'{:,.2f}','cost_pct':'{:.2f}', 
               'buy_target':'{:.2f}','sell_target':'{:.2f}',
               'volume':'{:,.2f}','beta':'{:.2f}','cost':'{:,.2f}',
               'qty':'{:,}','available_qty':'{:,}','shares':'{:,}'}
pd.set_option("display.max_rows", None)

In [4]:
sql = '''
SELECT T.name,sell_target AS target, sh, T.qty,T.available_qty,cost,
A.fm_date, A.to_date, days, fm_price, to_price, ttl_spread AS ttl, 
A.max_price AS max, T.max_price AS max52, consensus_price AS css_price,
sell_target * T.qty AS amount, T.status
FROM stocks T
JOIN sales A
ON T.name = A.name
LEFT JOIN consensus C
ON T.name = C.name
WHERE T.status IN ('I','S')
AND to_date = '%s'
'''
# AND to_price >= fm_price
sql = sql % today
print(sql)

SELECT T.name,sell_target AS target, sh, T.qty,T.available_qty,cost,
A.fm_date, A.to_date, days, fm_price, to_price, ttl_spread AS ttl,
A.max_price AS max, T.max_price AS max52, consensus_price AS css_price,
sell_target * T.qty AS amount, T.status
FROM stocks T
JOIN sales A
ON T.name = A.name
LEFT JOIN consensus C
ON T.name = C.name
WHERE T.status IN ('I','S')
AND to_date = '2021-12-23'

In [5]:
df_stock = pd.read_sql(sql, con_lite)
df_stock.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [6]:
my_array = df_stock.to_numpy()
my_array

array([['VNT', 39.0, 0, 1500, 4500, 37.5, '2021-12-14', '2021-12-23', 7,
        38.75, 38.5, -1, 38.75, 39.0, 43.5, 58500.0, 'I'],
       ['KCE', 95.75, 0, 2500, 5000, 87.0, '2021-12-20', '2021-12-23', 3,
        88.5, 90.0, 6, 91.25, 95.0, 101.9, 239375.0, 'I'],
       ['NER', 7.5, 0, 1200, 36000, 7.45, '2021-12-20', '2021-12-23', 3,
        6.95, 7.15, 4, 7.3, 8.65, 10.09, 9000.0, 'I'],
       ['EPG', 12.3, '24H', 7000, 14000, 11.2, '2021-12-20',
        '2021-12-23', 3, 10.7, 11.2, 5, 11.4, 13.7, 15.08, 86100.0, 'I'],
       ['CKP', 5.5, 0, 30000, 30000, 5.0, '2021-12-21', '2021-12-23', 2,
        5.05, 5.0, -1, 5.1, 6.3, 6.43, 165000.0, 'I'],
       ['IP', 23.7, 0, 2500, 7500, 20.6, '2021-12-22', '2021-12-23', 1,
        19.6, 19.7, 1, 20.0, 24.47, 25.2, 59250.0, 'I'],
       ['TSTH', 1.58, 0, 75000, 75000, 1.5, '2021-12-22', '2021-12-23',
        1, 1.47, 1.48, 1, 1.49, 2.44, 1.5, 118500.0, 'I'],
       ['IVL', 44.0, 12, 3000, 18000, 42.0, '2021-12-22', '2021-12-23',
        1, 42.75, 43.0, 1, 43.5, 50.0, 53.65, 132000.0, 'I'],
       ['SAT', 24.3, 0, 2500, 7500, 21.1, '2021-12-22', '2021-12-23', 1,
        21.4, 21.6, 2, 21.9, 23.5, 25.61, 60750.0, 'I'],
       ['TU', 20.9, 12, 6000, 18000, 20.8, '2021-12-22', '2021-12-23', 1,
        19.5, 19.4, -1, 19.6, 23.0, 25.51, 125399.99999999999, 'I'],
       ['TYCN', 4.36, 0, 20000, 40000, 3.8, '2021-12-22', '2021-12-23',
        1, 3.62, 3.6, -1, 3.62, 4.86, nan, 87200.0, 'I'],
       ['DIF', 14.2, 0, 10000, 60000, 14.7, '2021-12-22', '2021-12-23',
        1, 14.0, 13.9, -1, 14.0, 14.4, 16.15, 142000.0, 'I'],
       ['DCC', 2.92, 12, 20000, 40000, 2.9, '2021-12-22', '2021-12-23',
        1, 2.88, 2.86, -1, 2.88, 3.4, 3.45, 58400.0, 'I']], dtype=object)

In [7]:
tmp = (np.apply_along_axis(number_of_spread, axis=1, arr=my_array))
tmp

array([ 2, 23,  7, 11, 10, 40, 10,  4, 27, 15, 38,  2,  3])

In [8]:
df_stock['spd'] = tmp.tolist()
df_stock['spd'] = df_stock['spd'].astype(int)
df_stock.style.format(format_dict)

In [9]:
sql = '''
SELECT name, volbuy AS shares, price AS unit_cost, volbuy * price AS cost_amt, dividend,
volbuy * dividend AS div_amt, (volbuy * dividend)/(volbuy * price) * 100 AS cost_pct, period
FROM buy
WHERE period IN ("1","2","3","4")
'''
df_buy = pd.read_sql(sql, const)
df_buy['shares'] = df_buy.shares.astype(int)
df_buy.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [10]:
df_merge = pd.merge(df_stock, df_buy, on=['name'], how='inner')
cols = 'name spd target sh qty available_qty cost fm_price to_price ttl max max52 css_price status period amount'.split()
df_merge[cols].style.format(format_dict)

In [11]:
sell_alert = df_merge[cols]
sell_alert.set_index(['name'],inplace=True)
sell_alert.sort_values(['spd'],ascending=[True])

,spd,target,sh,qty,available_qty,cost,fm_price,to_price,ttl,max,max52,css_price,status,period,amount
name,,,,,,,,,,,,,,,
VNT,2,39.00,0,1500,4500,37.50,38.75,38.50,-1,38.75,39.00,43.50,I,4,58500.0
DIF,2,14.20,0,10000,60000,14.70,14.00,13.90,-1,14.00,14.40,16.15,I,2,142000.0
DCC,3,2.92,12,20000,40000,2.90,2.88,2.86,-1,2.88,3.40,3.45,I,4,58400.0
IVL,4,44.00,12,3000,18000,42.00,42.75,43.00,1,43.50,50.00,53.65,I,4,132000.0
NER,7,7.50,0,1200,36000,7.45,6.95,7.15,4,7.30,8.65,10.09,I,4,9000.0
CKP,10,5.50,0,30000,30000,5.00,5.05,5.00,-1,5.10,6.30,6.43,I,3,165000.0
TSTH,10,1.58,0,75000,75000,1.50,1.47,1.48,1,1.49,2.44,1.50,I,3,118500.0
EPG,11,12.30,24H,7000,14000,11.20,10.70,11.20,5,11.40,13.70,15.08,I,3,86100.0
TU,15,20.90,12,6000,18000,20.80,19.50,19.40,-1,19.60,23.00,25.51,I,4,125400.0
KCE,23,95.75,0,2500,5000,87.00,88.50,90.00,6,91.25,95.00,101.90,I,3,239375.0
SAT,27,24.30,0,2500,7500,21.10,21.40,21.60,2,21.90,23.50,25.61,I,4,60750.0
TYCN,38,4.36,0,20000,40000,3.80,3.62,3.60,-1,3.62,4.86,NaN,I,3,87200.0
IP,40,23.70,0,2500,7500,20.60,19.60,19.70,1,20.00,24.47,25.20,I,3,59250.0

In [12]:
file_name = 'sell-alert.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/sell-alert.csv',
 '\\Users\\User\\iCloudDrive\\sell-alert.csv',
 '\\Users\\User\\Dropbox\\sell-alert.csv')

In [13]:
sell_alert.sort_values(['spd'],ascending=[True]).to_csv(output_file)
sell_alert.sort_values(['spd'],ascending=[True]).to_csv(data_file)
sell_alert.sort_values(['spd'],ascending=[True]).to_csv(box_file)