In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2022"
quarter = "1"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-10'

In [2]:
#today = date(2022, 7, 30)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-02-10'

In [3]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'q_eps':'{:.2f}','y_eps':'{:.2f}',
               'aq_eps':'{:.2f}','ay_eps':'{:.2f}',
               'yoy_pct':'{:.2f}','acc_pct':'{:.2f}',
               'daily_volume':'{:.2f}','beta':'{:.2f}'}
pd.set_option('display.max_rows',None)
pd.set_option('display.float','{:,.2f}'.format)

cols = ['name','year','quarter','q_amt','y_amt','yoy_gain','yoy_pct']

In [4]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"'''
sql = sql % (year, quarter, today_str)

epss = pd.read_sql(sql, conlt)
epss.tail().style.format(format_dict)

In [5]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"]  = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100,2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct.tail().style.format(format_dict)

In [6]:
criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [7]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [8]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [9]:
#df_pct_criteria = criteria_1 & criteria_2 & criteria_3
df_pct_criteria = criteria_1 & criteria_3
df_pct.loc[df_pct_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [10]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [11]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

### If new records pass filter criteria then proceed to create quarterly profits process.

In [12]:
name = "BH"
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name = '%s'
ORDER BY year DESC, quarter DESC LIMIT 8
"""
sql = sql % (name)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

In [10]:
sql = '''
DELETE FROM profits
WHERE name = '%s'
AND quarter = 4
'''
sql = sql % name
print(sql)

DELETE FROM profits
WHERE name = 'BH'
AND quarter = 4

In [13]:
rp = conlt.execute(sql)
rp.rowcount

0

In [14]:
rp = conmy.execute(sql)
rp.rowcount

0

In [15]:
rp = conpg.execute(sql)
rp.rowcount

0

In [16]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conlt)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['AEONTS', 'AMATA', 'AP', 'ASIAN', 'ASK', 'BANPU', 'BAY', 'BCH', 'BCPG',
       'BGC', 'BGC', 'BGRIM', 'BKI', 'BOFFICE', 'BPP', 'CBG', 'CHG', 'COM7',
       'CPF', 'CPNCG', 'DCC', 'DIF', 'DOHOME', 'DRT', 'DTAC', 'EPG', 'EVER',
       'GC', 'GLOBAL', 'GPSC', 'GULF', 'GUNKUL', 'HANA', 'HMPRO', 'HREIT',
       'ILM', 'IVL', 'JMART', 'JMT', 'KBANK', 'KCE', 'KTC', 'LALIN', 'LST',
       'MCS', 'MEGA', 'MTI', 'NER', 'NNCL', 'NOBLE', 'ORI', 'PM', 'PRM', 'PRM',
       'PTG', 'PTT', 'PTTGC', 'RATCH', 'RJH', 'ROJNA', 'SAT', 'SAUCE', 'SAWAD',
       'SCC', 'SCCC', 'SENA', 'SINGER', 'SIS', 'SPALI', 'SPRIME', 'SUC', 'SVI',
       'SYNEX', 'TASCO', 'TCAP', 'TCCC', 'TIP', 'TISCO', 'TOA', 'TPIPL',
       'TPIPP', 'TQM', 'TU', 'TVO', 'WHART'],
      dtype='object', name='name')