In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 1
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2021-08-11'

In [2]:
#today = date(2022, 5, 13)
today_str = today.strftime("%Y-%m-%d")
today_str

'2021-07-12'

In [2]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [ ]:
names = ('TCAP','TCAP')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [3]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

### End of Normal Process

In [4]:
strqtr = "Q" + str(quarter)
strqtr

'Q1'

In [5]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

375

In [6]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [7]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [9]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.tail().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [10]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.tail().style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [12]:
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()

In [13]:
profits[profits['name'] == 'EPG'].style.format(format_dict)

In [14]:
criteria_1 = profits.latest_amt_y > 440000
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [15]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [16]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [17]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2
filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [18]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
#pre_final0 = filter.loc[[38,44,39,36,43,37,35],:]
#pre_final = pre_final0.drop(columns, axis=1)
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [19]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [20]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [21]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = (%s-1) AND B.quarter = 4'''
sql = sql % (year, quarter, year)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2021 AND A.quarter = 1
AND B.year = (2021-1) AND B.quarter = 4

In [22]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

378

In [23]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

In [24]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [25]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [26]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

<ipython-input-26-01ee3a90c325>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [27]:
final2.kind.value_counts()

1    1
Name: kind, dtype: int64

In [28]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

<ipython-input-28-8bdabb9b497f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
<ipython-input-28-8bdabb9b497f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)
<ipython-input-28-8bdabb9b497f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
<ipython-input-28-8bdabb9b497f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [29]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [30]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

<ipython-input-30-8640b9bdb114>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [31]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

  name    mean_pct
0  EPG  154.639958

In [32]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

<ipython-input-32-a788cca64063>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [33]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

  name     std_pct
0  EPG  227.305149

In [34]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

[['EPG',
  2021,
  1,
  1,
  1591591,
  862548,
  729043,
  84.52,
  1591591,
  1218890,
  372701,
  30.58,
  448392,
  75691,
  372701,
  492.3980393970221,
  403732,
  44660,
  11.061793466953326,
  162,
  154.63995821599386,
  227.30514920737394]]

In [35]:
final3.sort_values(['name'],ascending=[True])

,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,EPG,2021,1,1,1591591,862548,729043,84.52,1591591,1218890,...,448392,75691,372701,492.398039,403732,44660,11.061793,162,154.639958,227.305149

In [36]:
sr = final3['name']
names = sr.values.tolist()
names

['EPG']

In [37]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'EPG'"

In [38]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('EPG')
AND year = 2021 AND quarter = 1

In [39]:
rp = conlt.execute(sql)
rp.rowcount

0

In [40]:
for rcd in rcds:
    print(rcd)

['EPG', 2021, 1, 1, 1591591, 862548, 729043, 84.52, 1591591, 1218890, 372701, 30.58, 448392, 75691, 372701, 492.3980393970221, 403732, 44660, 11.061793466953326, 162, 154.63995821599386, 227.30514920737394]

In [41]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [42]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [43]:
print(final3.name)

0    EPG
Name: name, dtype: object

In [44]:
sr = final3['name']
names = sr.values.tolist()
names

['EPG']

In [45]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'EPG'"

In [46]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('EPG')
AND year = 2021 AND quarter = 1

In [47]:
rp = conmy.execute(sql)
rp.rowcount

0

In [48]:
sql = '''
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s'''
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('EPG') AND year = 2021 AND quarter = 1

In [49]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2088,EPG,2021,1,1,1591591,862548,729043,84.52,1591591,...,448392,75691,372701,492.398039,403732,44660,11.061793,162,154.639958,227.305149

In [50]:
rcds = profits_inp.values.tolist()
len(rcds)

1

In [51]:
for rcd in rcds:
    print(rcd)

[2088, 'EPG', 2021, 1, 1, 1591591, 862548, 729043, 84.52, 1591591, 1218890, 372701, 30.58, 448392, 75691, 372701, 492.3980393970221, 403732, 44660, 11.061793466953326, 162, 154.63995821599386, 227.30514920737394]

In [52]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [53]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [54]:
sql = '''
SELECT * 
FROM profits
ORDER BY name'''
df = pd.read_sql(sql, conmy)
df

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2034,AEONTS,2021,1,0,4308978,3518848,790130,22.450000,4308978,...,1149430,530095,619335,116.834718,1183609,-34179,-2.887693,7,38.296756,53.472830
1,2077,AP,2021,2,0,4910383,3335046,1575337,47.235840,4910383,...,1115001,1215449,-100448,-8.264271,1402754,-287753,-20.513433,25,4.113380,29.758263
2,1984,ASIAN,2021,1,1,928093,177942,750151,421.570000,928093,...,214839,104802,110037,104.995134,210780,4059,1.925705,36,135.485210,196.218319
3,2082,ASIAN,2021,2,1,921153,456051,465102,101.984646,921153,...,293299,300239,-6940,-2.311492,214839,78460,36.520371,36,33.861439,48.833457
4,1935,ASK,2021,1,1,958779,874555,84224,9.630000,958779,...,276197,200482,75715,37.766483,220691,55506,25.151003,38,20.279371,13.905039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2002,TPIPP,2021,1,0,4599705,4591273,8432,0.180000,4599705,...,1061009,967128,93881,9.707195,1160693,-99684,-8.588317,560,0.844719,7.516502
65,1985,TQM,2021,1,1,724313,579999,144314,24.880000,724313,...,201665,179347,22318,12.444033,190019,11646,6.128861,688,11.658223,9.624396
66,2059,TU,2021,2,1,7659398,5163452,2495946,48.338708,7659398,...,2342865,1716228,626637,36.512456,1802894,539971,29.950236,582,30.927914,16.533360
67,2004,TVO,2021,1,1,2044482,1546620,497862,32.190000,2044482,...,882364,493682,388682,78.731248,466155,416209,89.285538,585,55.919197,32.912650
68,2048,WHART,2021,2,1,2290736,1828999,461737,25.245339,2290736,...,589243,462756,126487,27.333411,433176,156067,36.028543,622,23.612919,12.732837

In [55]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['AEONTS', 'AP', 'ASIAN', 'ASIAN', 'ASK', 'BAY', 'BCH', 'BCPG', 'BGC',
       'BKI', 'CHG', 'COM7', 'CPF', 'DCC', 'DOHOME', 'DRT', 'DTAC', 'EPG',
       'GC', 'GLOBAL', 'GPSC', 'GULF', 'GUNKUL', 'HANA', 'HMPRO', 'HREIT',
       'ILM', 'IVL', 'JMART', 'JMT', 'KBANK', 'KCE', 'KTC', 'LALIN', 'LPF',
       'MCS', 'MEGA', 'NER', 'ORI', 'PM', 'PRM', 'PTG', 'PTT', 'PTTGC',
       'RATCH', 'RJH', 'ROJNA', 'SAWAD', 'SCC', 'SCCC', 'SENA', 'SGP',
       'SINGER', 'SIS', 'SPALI', 'SUC', 'SVI', 'SYNEX', 'TASCO', 'TCCC', 'TIP',
       'TISCO', 'TOA', 'TPIPL', 'TPIPP', 'TQM', 'TU', 'TVO', 'WHART'],
      dtype='object', name='name')