In [1]:
import pandas as pd
from sqlalchemy import create_engine
from glob import glob

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
data_path = "../data/"
irreg_path = "../data/irreg/"

In [2]:
year = 2021
quarter = 1
year, quarter

(2021, 1)

### Classify performance after input all EPS

In [3]:
sql = """
SELECT *
FROM epss
WHERE year = %s AND quarter = %s
ORDER BY name
"""
sql = sql % (year, quarter)
epss = pd.read_sql(sql, conlt)
epss.shape[0]

371

### Merge with stocks to get market information

In [4]:
sql = '''
SELECT *
FROM stocks
'''
stocks = pd.read_sql(sql, conlt)
stocks.shape

(389, 15)

In [5]:
df_merge = pd.merge(epss, stocks, on='name', how='inner')
#df_merge['pct'] = ((df_merge['aq_amt'] - df_merge['ay_amt'])/df_merge['ay_amt']*100).astype(int)
df_merge['grade'] = 0
df_merge.shape[0]

371

In [6]:
def grade(vals):
    qc, qp, aqc, aqp = vals
    if aqc >= aqp:
        if qc >= qp:
            return 1
        else:
            return 2
    else:
        if qc < qp:
            return 4
        else:
            return 3

In [7]:
df_merge["grade"] = df_merge[["q_amt", "y_amt","aq_amt", "ay_amt"]].apply(grade, axis=1)
df_merge.shape[0]

371

In [8]:
mask_grade_1 = df_merge["grade"] == 1
df_merge[mask_grade_1].shape[0]

233

In [9]:
mask_grade_2 = df_merge["grade"] == 2
df_merge[mask_grade_2].shape

(0, 29)

In [10]:
mask_grade_3 = df_merge["grade"] == 3
df_merge[mask_grade_3].shape

(0, 29)

In [11]:
mask_grade_4 = df_merge["grade"] == 4
df_merge[mask_grade_4].shape

(138, 29)

### Special process for quarter 1

### Process for worse performance stocks

In [12]:
worse = df_merge[mask_grade_4]
worse.shape[0]

138

In [13]:
cols = 'name q_amt y_amt market market_cap daily_volume beta'.split()
cols

['name', 'q_amt', 'y_amt', 'market', 'market_cap', 'daily_volume', 'beta']

In [14]:
mask_grade_41 = abs(worse.q_amt) < 30000
worse[mask_grade_41][cols]

       name  q_amt   y_amt    market  market_cap  daily_volume  beta
16     ANAN   5537  150203  sSET         7399.26         27.93  1.21
21     AQUA  14471   63344   SET         1974.99         21.09  1.10
27       AU  11754   13298   mai         8645.61         35.64  1.26
57      CCP  20572   40509   SET         1771.54         22.32  0.73
77      CSS  17707   36925   SET         2539.60         52.87  0.96
97       EP   4907   10894  sSET         5501.79         24.04  0.84
167     LIT   1811   19358   mai          872.51          5.10  1.04
174    MBAX  -8867   33548   mai         1208.94         18.23  0.68
184     MJD -27884  198430   SET         1824.07         11.00  0.67
202     PDG  20410   34234   mai         1069.20          2.85  0.27
223   PYLON  20993  105170  sSET         3614.39          9.36  0.82
226    QHHR   6602   56270   SET         2016.00          1.21  0.33
227     QTC  22632   31435   mai         1790.74          3.39  0.65
244  SAMTEL  15336   47264  sSET         4449.60          5.12  0.91
254     SCN  23169   46219   SET         3648.00         25.37  0.56
256  SEAFCO  23927   94405  sSET         3668.95         30.63  0.91
261    SIAM   7491   85564   SET         1198.11          5.40  0.14
266     SKE   5532   12986   SET         1194.12         38.48  0.93
309   TEAMG  21368   24627   SET         1632.00         16.11  0.47
318   THREL  28094   28548   SET         2088.00         12.83  0.74
353    UNIQ   6415  156661  sSET         8648.13         43.94  0.99
361  WACOAL -29583  116586   SET         4830.00          0.04  0.07

In [15]:
mask_grade_42 = abs(worse.y_amt) < 30000
worse[mask_grade_42][cols]

      name   q_amt  y_amt    market  market_cap  daily_volume  beta
0        A  -35427    934   SET         4880.40          0.03  0.10
27      AU   11754  13298   mai         8645.61         35.64  1.26
97      EP    4907  10894  sSET         5501.79         24.04  0.84
167    LIT    1811  19358   mai          872.51          5.10  1.04
208   PLAT -136406  26292  sSET         9240.00          7.77  1.14
266    SKE    5532  12986   SET         1194.12         38.48  0.93
276    SPA  -76003   4350   mai         7182.00         28.25  1.38
309  TEAMG   21368  24627   SET         1632.00         16.11  0.47
318  THREL   28094  28548   SET         2088.00         12.83  0.74
339  TRITN  -33816   7919  sSET         3338.27         38.79  0.63

In [16]:
set50 = worse.market.str.contains('SET50')
set100 = worse.market.str.contains('SET100')
mai = worse.market.str.contains('mai')
set = ~(set50 | set100 | mai)

In [17]:
worse[set].shape[0]

91

In [18]:
worse_vol = worse.daily_volume < 15.0
worse[worse_vol][cols].shape[0]

52

In [19]:
cdd1 = worse[mask_grade_41 & mask_grade_42 & set & worse_vol][cols]
cdd1

      name  q_amt  y_amt   market  market_cap  daily_volume  beta
318  THREL  28094  28548  SET          2088.0         12.83  0.74

### End of Process for worse performance stocks

### Process for better performance stocks

In [20]:
better = df_merge[mask_grade_1]
better.shape[0]

233

In [21]:
mask_grade_11 = abs(better.q_amt) < 25000
better[mask_grade_11][cols]

       name  q_amt   y_amt    market  market_cap  daily_volume  beta
9       AKR  23670   -5479   SET         1545.11         30.31  1.13
41   BEAUTY -15132  -39679  sSET         5262.02        130.33  1.15
96      EMC  11556  -13256   SET         2614.46         17.97  0.35
100   ESTAR  20518  -22794   SET         3264.46         12.02  0.62
102     FNS  -1363  -58197   SET         1604.77         13.13  0.49
127     ICC   7721 -117927   SET         9300.28          0.17  0.12
133    INET  14557   10412   SET         1970.16         30.72  0.45
134   INGRS   -851  -64437   SET         1432.47         24.99  0.61
141       J  20988   16613   SET         2954.44         56.45  1.02
147     JTS  10235    8455   SET        14623.67         21.22  0.59
209     PLE  24434  -69046   SET         1361.82         17.86  0.64
212    PORT   6594    6206   SET         1894.46         24.96  1.01
234     RPC  -2929  -28382   SET         1317.71         22.53  0.40
236     RSP  15744  -28490   SET         1812.92          3.29  0.66
269   SMART  14529   12517   mai          864.80          4.94  0.96
338     TQR  11924    8710   mai         4347.00         82.85  0.48

In [22]:
mask_grade_12 = abs(better.y_amt) < 25000
better[mask_grade_12][cols]

       name    q_amt  y_amt    market  market_cap  daily_volume  beta
9       AKR    23670  -5479   SET         1545.11         30.31  1.13
13   AMARIN   106871 -18256   SET         6838.23          1.00  0.28
15      AMC   256711 -11306   SET         2006.80          8.06  0.80
26      ASP   349576  24078  sSET         8043.61         85.32  0.61
76      CSP   155808  -9436   SET         1012.18          3.48  0.81
79      CWT    55493  13943   SET         2633.83         53.00  0.82
81     DCON    27829  20005   SET         3070.21         25.33  0.77
82      DDD   249163 -10864  sSET         7533.94         75.38  1.01
84    DEMCO    41546  23195   SET         3724.76         28.65  0.68
92      ECL    56207  11222   SET         2350.78         84.29  1.17
95      EKH    33461  11253  sSET         4080.00         25.63  0.98
96      EMC    11556 -13256   SET         2614.46         17.97  0.35
100   ESTAR    20518 -22794   SET         3264.46         12.02  0.62
101    EVER    46742  19872   SET         1553.91         26.34  0.82
106     FSS    81455 -23429   SET         2500.03         23.53  0.50
125   HTECH    39182  18792   SET         1665.00         20.50  0.37
130     IHL    45472   4294   SET         2643.91         30.37  0.97
131     III    77464  22545  sSET         8897.35        143.51  0.51
133    INET    14557  10412   SET         1970.16         30.72  0.45
141       J    20988  16613   SET         2954.44         56.45  1.02
147     JTS    10235   8455   SET        14623.67         21.22  0.59
170     LST   108244  22841   SET         4346.00          4.10  0.28
179     MDX    75649  -7809   SET         2877.34         21.10  1.08
189     NCH    80402   8349   SET         2092.08         10.41  0.20
205    PERM   245609 -19016   SET         2085.00         28.71  1.25
212    PORT     6594   6206   SET         1894.46         24.96  1.01
215     PRG    66476   1655   SET         6900.00          0.11  0.29
230     RCL  2941578  12253  sSET        50346.56        669.86  0.40
231   RICHY    37145  21277   SET         1486.15         11.76  0.59
269   SMART    14529  12517   mai          864.80          4.94  0.96
286  SRICHA   115596  15024  sSET         7065.24         28.05  0.68
294     SUN    30558  10435   mai         4772.98         67.28  1.72
297   SUSCO    99002 -24256  sSET         3520.02          6.66  0.63
298   SUTHA    29726  19278   SET         1458.00          1.28  0.21
301    SVOA    37120 -14322   SET         1541.26         37.70  0.73
317    THRE    52874  -7606  sSET         5858.84         55.03  0.83
330     TNR    69600  11174   SET         3930.00          1.24  0.32
338     TQR    11924   8710   mai         4347.00         82.85  0.48
341     TSE   202565   6531  sSET         6437.86         56.72  0.69
342     TSR    32274  24791   SET         2451.58         34.72  0.58
354   UPOIC    28816   4326   SET         1944.30          0.91  0.29
366    WIIK    25145  24388   SET         1478.21         37.25  0.44

In [23]:
set50 = better.market.str.contains('SET50')
set100 = better.market.str.contains('SET100')
mai = better.market.str.contains('mai')
set = ~(set50 | set100 | mai)
better[set].shape[0]

165

In [24]:
better_vol = better.daily_volume < 15.0
better[better_vol][cols].shape[0]

72

In [25]:
cdd2 = better[mask_grade_11 & mask_grade_12 & set & better_vol][cols]
cdd2

      name  q_amt  y_amt   market  market_cap  daily_volume  beta
100  ESTAR  20518 -22794  SET         3264.46         12.02  0.62

### End of Process for better performance stocks

### Start of Process for Low Daily Volume stocks

In [26]:
mask_low_vol = df_merge.daily_volume < 0.9
df_merge[mask_low_vol][cols].shape[0]

19

In [27]:
set50 = df_merge.market.str.contains('SET50')
set100 = df_merge.market.str.contains('SET100')
mai = df_merge.market.str.contains('mai')
set = ~(set50 | set100 | mai)
df_merge[set].shape[0]

256

In [28]:
df_merge[mask_low_vol][cols].shape[0]

19

In [29]:
mask_low_cap = df_merge.market_cap < 4000
df_merge[mask_low_cap][cols].shape[0]

98

In [30]:
cdd3 = df_merge[mask_low_cap & mask_low_vol & set][cols].sort_values(['daily_volume'],ascending=[True])
cdd3

       name   q_amt  y_amt   market  market_cap  daily_volume  beta
284  SPRIME  123655  95598  SET         3261.28          0.66  0.13

### End of Process for Low Daily Volume stocks

### Combine dataframes

In [31]:
frames = [cdd1, cdd2, cdd3]
cdd = pd.concat(frames, sort=False)
cdd.sort_values(['name'],ascending=[True])

       name   q_amt  y_amt   market  market_cap  daily_volume  beta
100   ESTAR   20518 -22794  SET         3264.46         12.02  0.62
284  SPRIME  123655  95598  SET         3261.28          0.66  0.13
318   THREL   28094  28548  SET         2088.00         12.83  0.74

In [32]:
mask_dup = cdd.name.duplicated()
cdd[mask_dup]

Empty DataFrame
Columns: [name, q_amt, y_amt, market, market_cap, daily_volume, beta]
Index: []

In [33]:
cdd.drop_duplicates(keep='first',inplace=True)
sort = cdd.sort_values(['name'],ascending=[True])
sort.shape[0]

3

In [34]:
sort.set_index('name', inplace=True)
sort

         q_amt  y_amt   market  market_cap  daily_volume  beta
name
ESTAR    20518 -22794  SET         3264.46         12.02  0.62
SPRIME  123655  95598  SET         3261.28          0.66  0.13
THREL    28094  28548  SET         2088.00         12.83  0.74

In [35]:
sort.drop('ESTAR', inplace=True)
sort.shape[0]

2

In [36]:
sort.drop('SPRIME', inplace=True)
sort.shape[0]

1

In [37]:
sort.drop('THREL', inplace=True)
sort.shape[0]

0

In [38]:
sort.reset_index('name', inplace=True)

In [39]:
sr = sort['name']
sr

Series([], Name: name, dtype: object)

In [48]:
file_name = 'new-exempts.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
output_file, box_file, data_file

('\\Users\\User\\iCloudDrive\\new-exempts.csv',
 '\\Users\\User\\Dropbox\\new-exempts.csv',
 '../data/new-exempts.csv')

In [51]:
sr.to_csv(output_file,index=False)
sr.to_csv(box_file,index=False)
sr.to_csv(data_file,index=False)