In [1]:
import pandas as pd
from sqlalchemy import create_engine
from glob import glob

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
data_path = "../data/"
irreg_path = "../data/irreg/"

In [2]:
year = 2021
quarter = 4
year, quarter

(2021, 4)

### Classify performance after input all EPS

In [3]:
sql = """
SELECT *
FROM epss
WHERE year = %s AND quarter = %s
ORDER BY name
"""
sql = sql % (year, quarter)
epss = pd.read_sql(sql, conlt)
epss.shape[0]

320

### Merge with stocks to get market information

In [4]:
sql = '''
SELECT *
FROM stocks
'''
stocks = pd.read_sql(sql, conlt)
stocks.shape

(339, 15)

In [5]:
df_merge = pd.merge(epss, stocks, on='name', how='inner')
#df_merge['pct'] = ((df_merge['aq_amt'] - df_merge['ay_amt'])/df_merge['ay_amt']*100).astype(int)
df_merge['grade'] = 0
df_merge.shape[0]

320

In [6]:
def grade(vals):
    qc, qp, aqc, aqp = vals
    if aqc >= aqp:
        if qc >= qp:
            return 1
        else:
            return 2
    else:
        if qc < qp:
            return 4
        else:
            return 3

In [7]:
df_merge["grade"] = df_merge[["q_amt", "y_amt","aq_amt", "ay_amt"]].apply(grade, axis=1)
df_merge.shape[0]

320

In [8]:
mask_grade_1 = df_merge["grade"] == 1
df_merge[mask_grade_1].shape[0]

156

In [9]:
mask_grade_2 = df_merge["grade"] == 2
df_merge[mask_grade_2].shape

(74, 29)

In [10]:
mask_grade_3 = df_merge["grade"] == 3
df_merge[mask_grade_3].shape

(23, 29)

In [11]:
mask_grade_4 = df_merge["grade"] == 4
df_merge[mask_grade_4].shape

(67, 29)

### Special process for quarter 4

### Process for worse performance stocks

In [12]:
worse = df_merge[mask_grade_4]
worse.shape[0]

67

In [13]:
cols = 'name q_amt y_amt market market_cap daily_volume beta'.split()
cols

['name', 'q_amt', 'y_amt', 'market', 'market_cap', 'daily_volume', 'beta']

In [14]:
mask_grade_41 = abs(worse.q_amt) < 100_000
worse[mask_grade_41][cols]

,name,q_amt,y_amt,market,market_cap,daily_volume,beta
9,AKR,34225,68295,SET,1456.82,36.13,1.30
19,APURE,53033,110363,sSET,5989.23,26.93,1.11
20,ARROW,4314,32685,mai,2119.40,0.65,0.46
49,BSBM,5562,18711,SET,1502.37,3.60,1.15
92,FSMART,80776,110295,mai,8346.00,33.18,0.83
96,GFPT,54197,462047,sSET / SETTHSI,16048.91,78.50,0.51
97,GGC,-87668,565460,sSET,13307.67,11.66,1.01
100,GPI,-45602,-34630,SET,1050.00,2.51,1.35
105,GVREIT,84275,203046,SET,8025.78,5.60,0.31
106,HANA,-56437,701677,SET100 / SETTHSI,37829.31,990.26,0.68
110,HTC,75412,85462,sSET / SETTHSI,6631.70,8.21,0.91
150,LIT,-96866,19364,mai,903.52,15.59,1.07
152,LPN,32029,243403,sSET / SETTHSI,6670.16,30.41,0.71
172,NOBLE,-3724,640011,sSET,7120.95,29.62,0.90
175,OISHI,18803,202775,SET,16218.75,1.28,0.84
182,PDG,12597,21202,mai,1090.80,0.82,0.37
195,PTG,-85719,671798,SET100 / SETHD / SETTHSI,22879.00,192.64,1.16
207,RS,-66115,102576,SET100 / SETTHSI,14976.45,224.69,1.02
234,SMART,9410,15798,mai,916.58,9.56,0.89
254,SUC,94538,400700,SET,10050.00,1.85,0.41
272,THREL,12543,48809,SET,2592.00,91.74,0.91
303,UAC,54586,107625,sSET,4339.44,49.06,0.92
317,WIIK,11355,30899,SET,1708.87,3.55,1.31
319,YUASA,24367,59198,mai,1646.66,0.21,0.30

In [15]:
mask_grade_42 = abs(worse.y_amt) < 100_000
worse[mask_grade_42][cols]

      name   q_amt  y_amt              market  market_cap  daily_volume  beta
9      AKR   34225  68295             SET         1456.82         36.13  1.30
15    ANAN -220012 -74397            sSET         5499.45         35.80  1.51
20   ARROW    4314  32685             mai         2119.40          0.65  0.46
49    BSBM    5562  18711             SET         1502.37          3.60  1.15
88     EMC -117168  32308             SET         1939.76         13.88  1.21
100    GPI  -45602 -34630             SET         1050.00          2.51  1.35
110    HTC   75412  85462  sSET / SETTHSI         6631.70          8.21  0.91
150    LIT  -96866  19364             mai          903.52         15.59  1.07
182    PDG   12597  21202             mai         1090.80          0.82  0.37
234  SMART    9410  15798             mai          916.58          9.56  0.89
272  THREL   12543  48809             SET         2592.00         91.74  0.91
283    TNR -584288  43177            sSET         2325.00          0.63  0.50
317   WIIK   11355  30899             SET         1708.87          3.55  1.31
319  YUASA   24367  59198             mai         1646.66          0.21  0.30

In [16]:
set50 = worse.market.str.contains('SET50')
set100 = worse.market.str.contains('SET100')
mai = worse.market.str.contains('mai')
set = ~(set50 | set100 | mai)

In [21]:
worse[set | mai].shape[0]

46

In [22]:
worse_vol = worse.daily_volume < 10.0
worse[worse_vol][cols].shape[0]

16

In [24]:
cdd1 = worse[mask_grade_41 & mask_grade_42 & (set | mai) & worse_vol][cols]
cdd1

      name  q_amt  y_amt              market  market_cap  daily_volume  beta
20   ARROW   4314  32685             mai         2119.40          0.65  0.46
49    BSBM   5562  18711             SET         1502.37          3.60  1.15
100    GPI -45602 -34630             SET         1050.00          2.51  1.35
110    HTC  75412  85462  sSET / SETTHSI         6631.70          8.21  0.91
182    PDG  12597  21202             mai         1090.80          0.82  0.37
234  SMART   9410  15798             mai          916.58          9.56  0.89
317   WIIK  11355  30899             SET         1708.87          3.55  1.31
319  YUASA  24367  59198             mai         1646.66          0.21  0.30

### End of Process for worse performance stocks

### Process for better performance stocks

In [25]:
better = df_merge[mask_grade_1]
better.shape[0]

156

In [26]:
mask_grade_11 = abs(better.q_amt) < 100_000
better[mask_grade_11][cols]

       name  q_amt   y_amt              market  market_cap  daily_volume  beta
48      BRR  16754  -52136            sSET         3963.05          1.08  1.21
54    CHAYO  48584   36356             SET        11635.20        104.24  1.71
73     DCON  44421   39330             SET         2693.17         12.33  1.35
76    DEMCO  70119   60515            sSET         2424.74         56.68  1.24
84      ECL  72500   27029             SET         2993.92         92.70  1.64
87      EKH  89573   45180            sSET         4590.00         18.73  0.30
93      FSS  72555   32735             SET         3168.65        143.61  1.69
94      GBX  34266   26271             SET         1775.19         94.13  1.02
111   HTECH  32646   14505             SET         1500.00         11.61  1.51
115     IFS  43742   34369             SET         1500.24          5.89  0.80
116     IHL  35908    9400             SET         2157.81          1.42  1.26
121    INET  35767  -57681             SET         3375.28        130.30  1.37
123   INSET  39694   33290             mai         3295.60        102.50  1.26
125      IP  36063    3285             mai         5602.60         28.34  0.62
130     JAS  45098 -935370             SET        30418.57        554.19  1.21
134     JTS  70596   16021             SET       190037.01        327.22  0.54
137  KAMART  61062   38353            sSET         3502.39         11.37  0.92
160     MDX  63074   41774             SET         2449.30         15.62  1.61
162     MFC  54872   47626             SET         3360.22          2.69  0.16
165     MSC  56754   21943             SET         2196.00          5.36  0.63
169     NCH  80319   47355             SET         2154.34         35.25  1.29
183     PDJ  58771    2335             SET         1724.89         33.51  1.15
185      PL  34063   23691             SET         1574.79          1.98  0.76
190    PREB  86023   56540             SET         2577.45          1.35  0.54
208     RSP  32897   27512             SET         1931.80         11.74  1.61
209       S  96657   53928  sSET / SETTHSI        13090.60          7.91  1.45
210   S & J  96657   53928  sSET / SETTHSI        13090.60          7.91  1.45
212   SABUY  76782   31796             SET        32437.26        462.86  2.00
213  SAMTEL -12767  -82134            sSET         4727.70         16.82  0.88
236     SMT  46018   32286            sSET         3601.72         33.61  1.21
249    SSSC  59886   34282             SET         1919.99          0.58  0.63
262    TACC  57838   51244             mai         4225.60         11.14  0.57
285     TOG  76237   63057            sSET         4553.45         24.99  1.51
304   UOBKH  75630   53508             SET         2502.19          5.53  0.40
312  WACOAL -21449 -144923             SET         4290.00          0.02  0.05

In [27]:
mask_grade_12 = abs(better.y_amt) < 100_000
better[mask_grade_12][cols]

,name,q_amt,y_amt,market,market_cap,daily_volume,beta
14,AMC,194713,63424,SET,2472.50,23.36,1.25
25,AWC,966975,-14566,SET50 / SETTHSI,152320.00,355.22,1.52
39,BEYOND,569204,-17950,SET,3119.78,14.52,1.34
48,BRR,16754,-52136,sSET,3963.05,1.08,1.21
53,CGH,145310,34575,sSET,5487.60,311.60,1.82
...,...,...,...,...,...,...,...
295,TTCL,130537,-40708,SET,2870.56,67.13,1.88
304,UOBKH,75630,53508,SET,2502.19,5.53,0.40
305,UPOIC,110160,76403,SET,2543.79,1.62,0.44
307,UVAN,123502,-2626,sSET,7379.00,18.41,0.86
316,WICE,180357,59396,sSET,12386.09,208.33,1.21

In [28]:
set50 = better.market.str.contains('SET50')
set100 = better.market.str.contains('SET100')
mai = better.market.str.contains('mai')
set = ~(set50 | set100 | mai)
better[set].shape[0]

98

In [29]:
better_vol = better.daily_volume < 10.0
better[better_vol][cols].shape[0]

30

In [30]:
cdd2 = better[mask_grade_11 & mask_grade_12 & (set | mai) & better_vol][cols]
cdd2

      name  q_amt  y_amt              market  market_cap  daily_volume  beta
48     BRR  16754 -52136            sSET         3963.05          1.08  1.21
115    IFS  43742  34369             SET         1500.24          5.89  0.80
116    IHL  35908   9400             SET         2157.81          1.42  1.26
162    MFC  54872  47626             SET         3360.22          2.69  0.16
165    MSC  56754  21943             SET         2196.00          5.36  0.63
185     PL  34063  23691             SET         1574.79          1.98  0.76
190   PREB  86023  56540             SET         2577.45          1.35  0.54
209      S  96657  53928  sSET / SETTHSI        13090.60          7.91  1.45
210  S & J  96657  53928  sSET / SETTHSI        13090.60          7.91  1.45
249   SSSC  59886  34282             SET         1919.99          0.58  0.63
304  UOBKH  75630  53508             SET         2502.19          5.53  0.40

### End of Process for better performance stocks

### Start of Process for Low Daily Volume stocks

In [31]:
mask_low_vol = df_merge.daily_volume < 0.9
df_merge[mask_low_vol][cols].shape[0]

22

In [32]:
set50 = df_merge.market.str.contains('SET50')
set100 = df_merge.market.str.contains('SET100')
mai = df_merge.market.str.contains('mai')
set = ~(set50 | set100 | mai)
df_merge[set].shape[0]

211

In [33]:
df_merge[mask_low_vol][cols].shape[0]

22

In [34]:
mask_low_cap = df_merge.market_cap < 4_000
df_merge[mask_low_cap][cols].shape[0]

67

In [35]:
cdd3 = df_merge[mask_low_cap & mask_low_vol & (set | mai)][cols].sort_values(['daily_volume'],ascending=[True])
cdd3

      name   q_amt  y_amt    market  market_cap  daily_volume  beta
319  YUASA   24367  59198   mai         1646.66          0.21  0.30
249   SSSC   59886  34282   SET         1919.99          0.58  0.63
283    TNR -584288  43177  sSET         2325.00          0.63  0.50
20   ARROW    4314  32685   mai         2119.40          0.65  0.46
182    PDG   12597  21202   mai         1090.80          0.82  0.37

### End of Process for Low Daily Volume stocks

### Combine dataframes

In [36]:
frames = [cdd1, cdd2, cdd3]
cdd = pd.concat(frames, sort=False)
cdd.sort_values(['name'],ascending=[True])

      name   q_amt  y_amt              market  market_cap  daily_volume  beta
20   ARROW    4314  32685             mai         2119.40          0.65  0.46
20   ARROW    4314  32685             mai         2119.40          0.65  0.46
48     BRR   16754 -52136            sSET         3963.05          1.08  1.21
49    BSBM    5562  18711             SET         1502.37          3.60  1.15
100    GPI  -45602 -34630             SET         1050.00          2.51  1.35
110    HTC   75412  85462  sSET / SETTHSI         6631.70          8.21  0.91
115    IFS   43742  34369             SET         1500.24          5.89  0.80
116    IHL   35908   9400             SET         2157.81          1.42  1.26
162    MFC   54872  47626             SET         3360.22          2.69  0.16
165    MSC   56754  21943             SET         2196.00          5.36  0.63
182    PDG   12597  21202             mai         1090.80          0.82  0.37
182    PDG   12597  21202             mai         1090.80          0.82  0.37
185     PL   34063  23691             SET         1574.79          1.98  0.76
190   PREB   86023  56540             SET         2577.45          1.35  0.54
209      S   96657  53928  sSET / SETTHSI        13090.60          7.91  1.45
210  S & J   96657  53928  sSET / SETTHSI        13090.60          7.91  1.45
234  SMART    9410  15798             mai          916.58          9.56  0.89
249   SSSC   59886  34282             SET         1919.99          0.58  0.63
249   SSSC   59886  34282             SET         1919.99          0.58  0.63
283    TNR -584288  43177            sSET         2325.00          0.63  0.50
304  UOBKH   75630  53508             SET         2502.19          5.53  0.40
317   WIIK   11355  30899             SET         1708.87          3.55  1.31
319  YUASA   24367  59198             mai         1646.66          0.21  0.30
319  YUASA   24367  59198             mai         1646.66          0.21  0.30

In [37]:
mask_dup = cdd.name.duplicated()
cdd[mask_dup]

      name  q_amt  y_amt   market  market_cap  daily_volume  beta
319  YUASA  24367  59198  mai         1646.66          0.21  0.30
249   SSSC  59886  34282  SET         1919.99          0.58  0.63
20   ARROW   4314  32685  mai         2119.40          0.65  0.46
182    PDG  12597  21202  mai         1090.80          0.82  0.37

In [38]:
cdd.drop_duplicates(keep='first',inplace=True)
sort = cdd.sort_values(['name'],ascending=[True])
sort.shape[0]

20

In [39]:
sort.set_index('name', inplace=True)
sort

        q_amt  y_amt              market  market_cap  daily_volume  beta
name
ARROW    4314  32685             mai         2119.40          0.65  0.46
BRR     16754 -52136            sSET         3963.05          1.08  1.21
BSBM     5562  18711             SET         1502.37          3.60  1.15
GPI    -45602 -34630             SET         1050.00          2.51  1.35
HTC     75412  85462  sSET / SETTHSI         6631.70          8.21  0.91
IFS     43742  34369             SET         1500.24          5.89  0.80
IHL     35908   9400             SET         2157.81          1.42  1.26
MFC     54872  47626             SET         3360.22          2.69  0.16
MSC     56754  21943             SET         2196.00          5.36  0.63
PDG     12597  21202             mai         1090.80          0.82  0.37
PL      34063  23691             SET         1574.79          1.98  0.76
PREB    86023  56540             SET         2577.45          1.35  0.54
S       96657  53928  sSET / SETTHSI        13090.60          7.91  1.45
S & J   96657  53928  sSET / SETTHSI        13090.60          7.91  1.45
SMART    9410  15798             mai          916.58          9.56  0.89
SSSC    59886  34282             SET         1919.99          0.58  0.63
TNR   -584288  43177            sSET         2325.00          0.63  0.50
UOBKH   75630  53508             SET         2502.19          5.53  0.40
WIIK    11355  30899             SET         1708.87          3.55  1.31
YUASA   24367  59198             mai         1646.66          0.21  0.30

In [37]:
sort.drop('THREL', inplace=True)
sort.shape[0]

0

In [38]:
sort.reset_index('name', inplace=True)

In [39]:
sr = sort['name']
sr

Series([], Name: name, dtype: object)

In [48]:
file_name = 'new-exempts.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
output_file, box_file, data_file

('\\Users\\User\\iCloudDrive\\new-exempts.csv',
 '\\Users\\User\\Dropbox\\new-exempts.csv',
 '../data/new-exempts.csv')

In [51]:
sr.to_csv(output_file,index=False)
sr.to_csv(box_file,index=False)
sr.to_csv(data_file,index=False)