In [1]:
import pandas as pd
from sqlalchemy import create_engine
from glob import glob

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
data_path = "../data/"
irreg_path = "../data/irreg/"

In [2]:
year = 2021
quarter = 4
year, quarter

(2021, 4)

In [19]:
format_dict = {
    'q_amt':'{:,}','y_amt': '{:,}',   
    'aq_amt':'{:,}','ay_amt':'{:,}','yoy_gain':'{:,}','acc_gain':'{:,}', 
    'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}', 
    'daily_volume':'{:.2f}','beta':'{:.2f}',
    'publish_date':'{:%Y-%m-%d}',    
}

### Classify performance after input all EPS

In [4]:
sql = """
SELECT *
FROM epss
WHERE year = %s AND quarter = %s
ORDER BY name
"""
sql = sql % (year, quarter)
epss = pd.read_sql(sql, conlt)
epss.shape[0]

320

### Merge with stocks to get market information

In [33]:
sql = '''
SELECT name, market, daily_volume, beta
FROM stocks
'''
stocks = pd.read_sql(sql, conlt)
stocks.shape

(339, 4)

In [34]:
df_merge = pd.merge(epss, stocks, on='name', how='inner')
#df_merge['pct'] = ((df_merge['aq_amt'] - df_merge['ay_amt'])/df_merge['ay_amt']*100).astype(int)
df_merge['grade'] = 0
df_merge.shape[0]

320

In [35]:
def grade(vals):
    qc, qp, aqc, aqp = vals
    if (aqc < 400_000) & (aqp < 400_000):
        if (qc < 100_000) & (qp < 100_000):
            return 1
        else:
            return 2
    else:
        if (qc < 100_000) & (qp < 100_000):
            return 3
        else:
            return 4

In [36]:
df_merge["grade"] = df_merge[["q_amt", "y_amt","aq_amt", "ay_amt"]].apply(grade, axis=1)
df_merge.shape[0]

320

In [37]:
mask_grade_1 = df_merge["grade"] == 1
df_merge[mask_grade_1].shape[0]

77

In [38]:
mask_grade_2 = df_merge["grade"] == 2
df_merge[mask_grade_2].shape[0]

23

In [39]:
mask_grade_3 = df_merge["grade"] == 3
df_merge[mask_grade_3].shape[0]

17

In [40]:
mask_grade_4 = df_merge["grade"] == 4
df_merge[mask_grade_4].shape[0]

203

### Special process for quarter 4

### Process for worse performance stocks

In [41]:
cols = 'name q_amt y_amt aq_amt ay_amt market daily_volume beta'.split()
cols

['name',
 'q_amt',
 'y_amt',
 'aq_amt',
 'ay_amt',
 'market',
 'daily_volume',
 'beta']

In [42]:
pd.set_option('display.max_rows', 100)
worse1 = df_merge[mask_grade_1]
worse1[cols].style.format(format_dict)

In [43]:
worse2 = df_merge[mask_grade_2]
worse2[cols].style.format(format_dict)

In [44]:
set50 = worse1.market.str.contains('SET50')
set100 = worse1.market.str.contains('SET100')
mai = worse1.market.str.contains('mai')
set = ~(set50 | set100 | mai)

In [45]:
worse1[~(set | mai)]

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date,market,daily_volume,beta,grade
164,21330,MINT,2021,4,-1557315,-5590943,-13166508,-21407336,-0.37,-1.15,-2.83,-4.71,301,2022-02-25,SET50 / SETCLMV / SETTHSI / SETWB,599.35,1.47,1

In [46]:
cdd1 = worse1[set | mai]
cdd1.shape[0]

76

In [51]:
cdd2 = worse2[worse2.daily_volume < 10.0]
cdd2.shape[0]

7

### Combine dataframes

In [55]:
frames = [cdd1, cdd2]
cdd = pd.concat(frames, sort=False)
cdd.sort_values(['name'],ascending=[True])

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date,market,daily_volume,beta,grade
1,21268,AAV,2021,4,-992745,-1114449,-6647486,-4764092,-0.13260,-0.22980,-1.2985,-0.9823,732,2022-02-24,sSET / SETTHSI,50.81,1.68,1
9,21350,AKR,2021,4,34225,68295,89892,98443,0.02300,0.05100,0.0630,0.0730,14,2022-02-25,SET,35.13,1.29,1
11,21134,AMANAH,2021,4,76563,77090,307164,290708,0.07700,0.07300,0.3000,0.2800,19,2022-02-15,sSET,45.04,1.71,1
12,21244,AMARIN,2021,4,98438,152540,313113,170669,0.09400,0.15100,0.3140,0.1710,20,2022-02-23,SET,0.18,0.17,2
15,21407,ANAN,2021,4,-220012,-74397,-457342,-206577,-0.09000,-0.06000,-0.2600,-0.1900,23,2022-02-24,sSET,35.05,1.52,1
18,21174,APCS,2021,4,1822,47018,210608,14072,0.00270,0.07090,0.3190,0.0210,27,2022-02-18,sSET,23.35,0.92,1
20,21240,ARROW,2021,4,4314,32685,128738,168984,0.01000,0.13000,0.5000,0.6600,31,2022-02-23,mai,0.68,0.47,1
27,21271,BA,2021,4,-141403,-400693,-8549862,-5283182,-0.07000,-0.19000,-4.1500,-2.5600,45,2022-02-24,SETWB,58.75,1.77,1
36,21355,BEAUTY,2021,4,-8440,18911,-80768,-104882,-0.01000,0.00000,-0.0300,-0.0400,55,2022-02-25,SET,20.32,1.67,1
48,21276,BRR,2021,4,16754,-52136,129311,6137,0.02000,-0.06400,0.1590,0.0080,78,2022-02-24,sSET,1.07,1.25,1
49,21194,BSBM,2021,4,5562,18711,72120,84018,0.00100,0.01200,0.0600,0.0700,79,2022-02-21,SET,3.53,1.16,1
51,21336,CCET,2021,4,-291983,-38399,272953,209607,-0.05000,-0.01000,0.0600,0.0400,88,2022-02-25,sSET,24.42,1.05,1
54,21284,CHAYO,2021,4,48584,36356,218999,155354,0.04100,0.03790,0.2403,0.2002,671,2022-02-24,SET,102.72,1.73,1
63,21296,CPI,2021,4,56762,82548,292263,159055,0.09000,0.13000,0.4620,0.2510,119,2022-02-24,SET,55.67,0.66,1
71,21380,CWT,2021,4,39577,75595,172152,117031,0.06000,0.12000,0.2700,0.1900,134,2022-02-28,SET,84.12,1.08,1
73,21242,DCON,2021,4,44421,39330,116751,92434,0.00700,0.01000,0.0200,0.0200,136,2022-02-23,SET,12.16,1.35,1
74,21328,DDD,2021,4,104684,203857,81319,169253,0.33000,0.64000,0.2600,0.5300,665,2022-02-25,sSET,5.13,1.43,2
76,21331,DEMCO,2021,4,70119,60515,100864,55201,0.10000,0.09000,0.1400,0.0800,139,2022-02-25,sSET,54.95,1.31,1
81,21319,DUSIT,2021,4,-391412,-133464,-994997,-1011135,-0.41000,-0.16000,-1.1200,-1.2000,145,2022-02-25,SET,0.99,0.43,1
84,21279,ECL,2021,4,72500,27029,194013,61679,0.06540,0.02440,0.1750,0.0556,153,2022-02-24,SET,90.71,1.72,1
87,21278,EKH,2021,4,89573,45180,344830,72104,0.14930,0.07560,0.5773,0.1205,159,2022-02-24,sSET,18.81,0.29,1
88,21408,EMC,2021,4,-117168,32308,-85707,58933,-0.01390,0.00380,-0.0102,0.0070,691,2022-02-24,SET,13.94,1.18,1
93,21386,FSS,2021,4,72555,32735,300127,82420,0.13000,0.05000,0.5200,0.1400,179,2022-02-28,SET,138.36,1.73,1
94,21205,GBX,2021,4,34266,26271,137827,43206,0.03190,0.02450,0.1270,0.0400,182,2022-02-22,SET,91.26,0.96,1
95,21139,GC,2021,4,40341,44700,189129,136044,0.21000,0.22000,0.9500,0.6800,183,2022-02-15,SET,3.59,0.92,1
100,21301,GPI,2021,4,-45602,-34630,30794,34092,-0.08000,-0.05000,0.0500,0.0600,652,2022-02-24,SET,2.65,1.30,1
111,21394,HTECH,2021,4,32646,14505,135282,52991,0.11000,0.05000,0.4500,0.1800,213,2022-02-28,SET,11.69,1.52,1
112,21399,HUMAN,2021,4,42235,44421,169822,165754,0.06000,0.06000,0.2500,0.2400,655,2022-02-28,sSET,149.10,0.77,1
113,21172,ICC,2021,4,163925,40750,121544,-52359,0.57000,0.14000,0.4200,-0.1800,215,2022-02-18,SET,0.11,0.09,2
115,21209,IFS,2021,4,43742,34369,152824,133616,0.09000,0.07000,0.3100,0.2700,219,2022-02-22,SET,5.93,0.83,1
116,21349,IHL,2021,4,35908,9400,140742,-44306,0.06000,0.02000,0.2400,-0.0700,220,2022-02-25,SET,1.40,1.30,1
121,21409,INET,2021,4,35767,-57681,162886,10242,0.08000,0.06000,0.3300,0.2000,223,2022-02-24,SET,127.22,1.49,1
123,21181,INSET,2021,4,39694,33290,170539,135491,0.07000,0.05000,0.2800,0.2200,738,2022-02-18,mai,99.19,1.30,1
125,21303,IP,2021,4,36063,3285,105216,52537,0.12000,0.01200,0.3600,0.1820,736,2022-02-25,mai,27.74,0.63,1
126,21046,IRC,2021,4,29268,81559,340031,219063,0.15000,0.42000,1.7700,1.1200,225,2021-11-25,SET,4.27,0.38,1
130,21258,JAS,2021,4,45098,-935370,-1500704,-3134017,0.01000,-0.11000,-0.1700,-0.3700,233,2022-02-24,SET,552.74,1.23,1
134,21132,JTS,2021,4,70596,16021,221042,44166,0.10000,0.02000,0.3100,0.0600,239,2022-02-15,SET,329.46,0.59,1
135,21251,JUBILE,2021,4,106939,87966,225248,266789,0.61000,0.50000,1.2900,1.5300,240,2022-02-23,mai,3.06,0.41,2
137,21293,KAMART,2021,4,61062,38353,292873,132824,0.06700,0.04300,0.3300,0.1500,243,2022-02-24,sSET,11.84,0.95,1
149,21375,LHHOTEL,2021,4,-108174,-62609,-437024,-484970,-0.20110,-0.11640,-0.8124,-0.9016,679,2022-02-28,SET,2.22,0.82,1
150,21246,LIT,2021,4,-96866,19364,-95493,71241,-0.43600,0.08600,-0.4300,0.3200,273,2022-02-23,mai,15.04,1.09,1
157,21156,MBAX,2021,4,37357,15743,62408,176063,0.20000,0.08000,0.3300,0.9200,288,2022-02-17,mai,3.85,0.61,1
162,21152,MFC,2021,4,54872,47626,306149,148103,0.36000,0.38000,2.4400,1.1800,296,2022-02-17,SET,2.96,0.17,1
165,21288,MSC,2021,4,56754,21943,197286,155795,0.16000,0.06000,0.5500,0.4300,313,2022-02-24,SET,5.87,0.65,1
169,21302,NCH,2021,4,80319,47355,251932,115278,0.06400,0.03800,0.2020,0.0930,317,2022-02-24,SET,34.18,1.35,1
174,21189,NYT,2021,4,61070,90711,242643,228568,0.05000,0.07000,0.2000,0.1800,336,2022-02-21,sSET / SETTHSI,16.07,1.47,1
182,21155,PDG,2021,4,12597,21202,55242,98255,0.03000,0.04000,0.1900,0.3300,347,2022-02-17,mai,0.83,0.37,1
183,21378,PDJ,2021,4,58771,2335,138168,-95103,0.10690,0.00610,0.2523,-0.1873,371,2022-02-28,SET,32.71,1.19,1
185,21277,PL,2021,4,34063,23691,120133,76061,0.06000,0.04000,0.2000,0.1300,357,2022-02-24,SET,1.93,0.75,1
187,21379,PLE,2021,4,146182,-215824,153247,-436363,0.10000,-0.16000,0.1100,-0.3200,360,2022-02-28,SET,2.69,1.62,2
190,21281,PREB,2021,4,86023,56540,241622,165666,0.27900,0.18300,0.7830,0.5370,372,2022-02-24,SET,1.36,0.55,1
203,21385,RICHY,2021,4,-4944,42995,202089,101516,-0.01000,0.03000,0.1600,0.0800,398,2022-02-28,SET,42.24,0.98,1
208,21289,RSP,2021,4,32897,27512,29569,4288,0.04428,0.03706,0.0398,0.0058,659,2022-02-24,SET,11.65,1.59,1
209,21275,S,2021,4,96657,53928,373167,275907,0.82000,0.36000,2.6600,1.8400,410,2022-02-24,sSET / SETTHSI,7.92,1.43,1
210,21411,S & J,2021,4,96657,53928,373167,275907,0.82000,0.36000,2.6600,1.8400,693,2022-02-24,sSET / SETTHSI,7.92,1.43,1
212,21220,SABUY,2021,4,76782,31796,213605,102058,0.06750,0.03290,0.2010,0.1120,721,2022-02-22,SET,470.53,1.95,1
213,21287,SAMTEL,2021,4,-12767,-82134,61385,-287504,-0.02000,-0.14000,0.1000,-0.4700,418,2022-02-24,sSET,16.25,0.89,1
225,21334,SFLEX,2021,4,28831,40378,149415,142805,0.03000,0.05000,0.1800,0.1700,731,2022-02-25,sSET,12.57,0.36,1
227,21195,SHANG,2021,4,-181329,-814592,-492810,-983114,-1.39000,-6.26000,-3.7900,-7.5600,442,2022-02-21,SET,0.32,0.34,1
231,21285,SISB,2021,4,26589,68077,208753,159933,0.03000,0.07000,0.2200,0.1700,683,2022-02-24,sSET,1.99,0.52,1
234,21158,SMART,2021,4,9410,15798,39869,45807,0.00880,0.01720,0.0419,0.0498,453,2022-02-17,mai,9.44,0.93,1
236,21144,SMT,2021,4,46018,32286,209703,81388,0.05100,0.03700,0.2510,0.0970,456,2022-02-17,sSET,32.92,1.27,1
238,21192,SNP,2021,4,122433,106977,340020,183025,0.25000,0.21000,0.6900,0.3700,694,2022-02-21,SET,0.36,0.34,2
246,21357,SQ,2021,4,41962,71590,350752,240988,0.04000,0.06000,0.3100,0.2100,472,2022-02-25,SET,14.99,1.46,1
247,21396,SRICHA,2021,4,-4860,68787,341517,142245,-0.01600,0.22200,1.1020,0.4590,474,2022-02-28,sSET,10.19,0.90,1
249,21384,SSSC,2021,4,59886,34282,235057,75433,0.10000,0.06000,0.3700,0.1200,478,2022-02-28,SET,0.59,0.65,1
257,21210,SUSCO,2021,4,18939,99121,233527,217655,0.02000,0.10000,0.2300,0.2100,488,2022-02-22,sSET,19.41,0.71,1
260,21343,SVOA,2021,4,57645,69369,159907,138879,0.06100,0.07400,0.1690,0.1470,492,2022-02-25,SET,190.17,1.75,1
262,21294,TACC,2021,4,57838,51244,214239,188380,0.09000,0.08000,0.3500,0.3100,498,2022-02-24,mai,11.33,0.57,1
272,21216,THREL,2021,4,12543,48809,98496,121435,0.02000,0.08000,0.1600,0.2000,526,2022-02-22,SET,88.95,0.96,1
278,21217,TKN,2021,4,84430,-20871,182125,242621,0.06000,-0.01000,0.1300,0.1800,533,2022-02-22,sSET,81.88,1.60,1
282,21404,TNPC,2021,4,10308,68079,86348,2319,0.03000,0.22000,0.2700,0.0100,552,2022-03-01,SET,4.74,0.87,1
283,21245,TNR,2021,4,-584288,43177,-464842,111431,-1.95000,0.14000,-1.5500,0.3700,553,2022-02-23,sSET,0.61,0.47,1
285,21159,TOG,2021,4,76237,63057,310121,68781,0.16000,0.14000,0.6500,0.1500,554,2022-02-17,sSET,24.42,1.51,1
290,21190,TQR,2021,4,-27,5438,97483,74055,0.00000,-2.42000,0.4400,1.3100,716,2022-02-21,mai,5.48,0.76,1
296,21148,TTLPF,2021,4,52121,70061,280884,246627,0.28960,0.38930,1.5605,1.3702,707,2022-02-17,SET,0.23,0.13,1
301,21403,TYCN,2021,4,-158531,-98128,376960,-321049,-0.27000,-0.17000,0.6300,-0.5400,737,2022-03-01,SET,1.08,0.36,1
304,21340,UOBKH,2021,4,75630,53508,381045,239646,0.15000,0.11000,0.7600,0.4800,739,2022-02-25,SET,5.53,0.40,1
305,21283,UPOIC,2021,4,110160,76403,306814,125099,0.34000,0.24000,0.9500,0.3900,603,2022-02-24,SET,1.68,0.45,2
312,21338,WACOAL,2021,4,-21449,-144923,-144441,-314884,-0.18000,-1.20000,-1.2000,-2.6200,616,2022-02-25,SET,0.02,0.09,1
317,21249,WIIK,2021,4,11355,30899,91417,109342,0.00620,0.05700,0.1357,0.2363,625,2022-02-23,SET,3.54,1.32,1
318,21282,WORK,2021,4,-17462,34949,324206,159114,-0.04000,0.07900,0.7340,0.3600,628,2022-02-24,SET,98.29,1.10,1
319,21176,YUASA,2021,4,24367,59198,97682,158177,0.23000,0.55000,0.9100,1.4700,630,2022-02-18,mai,0.23,0.32,1

### End of Process for worse performance stocks

In [57]:
sr = cdd['name']
sr

1          AAV
9          AKR
11      AMANAH
15        ANAN
18        APCS
20       ARROW
27          BA
36      BEAUTY
48         BRR
49        BSBM
51        CCET
54       CHAYO
63         CPI
71         CWT
73        DCON
76       DEMCO
81       DUSIT
84         ECL
87         EKH
88         EMC
93         FSS
94         GBX
95          GC
100        GPI
111      HTECH
112      HUMAN
115        IFS
116        IHL
121       INET
123      INSET
125         IP
126        IRC
130        JAS
134        JTS
137     KAMART
149    LHHOTEL
150        LIT
157       MBAX
162        MFC
165        MSC
169        NCH
174        NYT
182        PDG
183        PDJ
185         PL
190       PREB
203      RICHY
208        RSP
209          S
210      S & J
212      SABUY
213     SAMTEL
225      SFLEX
227      SHANG
231       SISB
234      SMART
236        SMT
246         SQ
247     SRICHA
249       SSSC
257      SUSCO
260       SVOA
262       TACC
272      THREL
278        TKN
282       TNPC
283        TNR
285        TOG
290        TQR
296      TTLPF
301       TYCN
304      UOBKH
312     WACOAL
317       WIIK
318       WORK
319      YUASA
12      AMARIN
74         DDD
113        ICC
135     JUBILE
187        PLE
238        SNP
305      UPOIC
Name: name, dtype: object

In [48]:
file_name = 'new-exempts.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
output_file, box_file, data_file

('\\Users\\User\\iCloudDrive\\new-exempts.csv',
 '\\Users\\User\\Dropbox\\new-exempts.csv',
 '../data/new-exempts.csv')

In [51]:
sr.to_csv(output_file,index=False)
sr.to_csv(box_file,index=False)
sr.to_csv(data_file,index=False)