### Restart and run all

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

format_dict = {'amount':'{:,}',
               'grs_amt':'{:,.2f}','net_amt':'{:,.2f}','refund':'{:,.2f}'}

today = date.today()
today

datetime.date(2022, 6, 25)

In [2]:
today = date(2022, 6, 8)
today

datetime.date(2022, 6, 8)

In [3]:
sql = '''
SELECT name, p_date, FORMAT(amt,2) AS amt, FORMAT(net,2) AS net, format(amt-net,2) AS refund, year, quarter AS q
FROM dividends
WHERE YEAR(p_date) = 2022
ORDER BY p_date DESC, name ASC'''
dtl_by_month = pd.read_sql(sql, conpf)
dtl_by_month

      name      p_date        amt        net    refund  year  q
0    WHAIR  2022-06-24   6,224.00   5,601.60    622.40  2022  1
1      IVL  2022-06-16   2,400.00   2,160.00    240.00  2022  1
2    WHART  2022-06-15   5,745.00   5,170.50    574.50  2022  1
3    JASIF  2022-06-08  25,300.00  25,300.00      0.00  2022  1
4      DIF  2022-06-06  13,000.00  13,000.00      0.00  2022  1
5      DCC  2022-05-31   3,300.00   2,970.00    330.00  2022  1
6      BCH  2022-05-25  18,000.00  16,200.00  1,800.00  2021  4
7     SENA  2022-05-25  19,032.93  17,316.19  1,716.74  2021  4
8      ORI  2022-05-24  18,900.00  17,010.00  1,890.00  2021  4
9      RJH  2022-05-24   4,500.00   4,050.00    450.00  2021  4
10   RATCH  2022-05-20   8,100.00   7,290.00    810.00  2021  4
11     RCL  2022-05-20  36,000.00  32,700.00  3,300.00  2021  4
12   MAKRO  2022-05-19     960.00     864.00     96.00  2021  4
13   TISCO  2022-05-19  14,300.00  12,870.00  1,430.00  2021  4
14     ASP  2022-05-17   6,000.00   5,400.00    600.00  2021  4
15   TPIPL  2022-05-17   3,600.00   3,240.00    360.00  2021  4
16     SIS  2022-05-13   5,400.00   4,860.00    540.00  2021  4
17   SPALI  2022-05-12   6,750.00   6,075.00    675.00  2021  4
18     KCE  2022-05-09  13,000.00  12,402.00    598.00  2021  4
19     NER  2022-05-06   9,720.00   9,720.00      0.00  2021  4
20     STA  2022-05-06  14,625.00  13,387.50  1,237.50  2021  4
21     TMT  2022-05-06  18,900.00  17,010.00  1,890.00  2021  4
22     MCS  2022-05-05  25,000.00  24,500.00    500.00  2021  4
23   SYNEX  2022-05-05   7,800.00   7,020.00    780.00  2021  4
24     PTT  2022-04-29   7,200.00   6,480.00    720.00  2021  4
25     SNC  2022-04-27   4,050.00   3,645.00    405.00  2021  4
26     SCC  2022-04-26   9,000.00   8,100.00    900.00  2021  4
27    MEGA  2022-04-22   5,160.00   4,980.00    180.00  2021  4
28   PTTGC  2022-04-22  15,750.00  14,175.00  1,575.00  2021  4
29    SCCC  2022-04-08   8,100.00   7,290.00    810.00  2021  4
30   WHAIR  2022-03-30   6,969.38   6,272.44    696.94  2021  4
31  AIMIRT  2022-03-28   2,210.00   1,989.00    221.00  2021  4
32   WHART  2022-03-25   2,390.00   2,151.00    239.00  2021  4
33   JASIF  2022-03-21  27,500.00  27,500.00      0.00  2021  4
34   CPNCG  2022-03-04   2,222.00   1,999.80    222.20  2021  4
35     DIF  2022-03-04  15,660.00  15,660.00      0.00  2021  4
36     LPF  2022-02-15   1,719.00   1,547.10    171.90  2021  4

In [4]:
sql = '''
SELECT YEAR(p_date) AS pay_year, SUM(amt) AS grs_amt, SUM(net) AS net_amt, SUM(amt-net) AS refund
FROM dividends
GROUP BY pay_year
ORDER BY pay_year DESC'''
ttl_by_year = pd.read_sql(sql, conpf)
ttl_by_year.style.format(format_dict)