### Restart and run all

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

format_dict = {'amount':'{:,}',
               'grs_amt':'{:,.2f}','net_amt':'{:,.2f}','refund':'{:,.2f}'}

today = date.today()
today

datetime.date(2022, 2, 15)

In [2]:
sql = '''
SELECT name, p_date, FORMAT(amt,2) AS amt, FORMAT(net,2) AS net, format(amt-net,2) AS refund, year, quarter AS q
FROM dividends
WHERE YEAR(p_date) = 2022
ORDER BY p_date DESC, name ASC'''
dtl_by_month = pd.read_sql(sql, conpf)
dtl_by_month.shape[0]

1

In [3]:
sql = '''
SELECT YEAR(p_date) AS pay_year, SUM(amt) AS grs_amt, SUM(net) AS net_amt, SUM(amt-net) AS refund
FROM dividends
GROUP BY pay_year
ORDER BY pay_year DESC'''
ttl_by_year = pd.read_sql(sql, conpf)
ttl_by_year.style.format(format_dict)