In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

year = 2022

In [2]:
format_dict = {'qty':'{:,}',
              'sell_price':'{:,.2f}','buy_price':'{:,.2f}','diff':'{:,.2f}',
              'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','gross':'{:,.2f}','profit':'{:,.2f}',
              'pct':'{:,.2f}%','net':'{:,.2f}',
              'cost_amt':'{:,.2f}','unit_cost':'{:,.2f}','avg_cost':'{:,.2f}'}

pd.set_option('display.float_format','{:,.2f}'.format)

### Record selection for transactions

In [2]:
sql = '''
SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month,  
             YEAR(buys.date) AS buy_year, MONTH(buys.date) AS buy_month,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt,
(buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = %s
ORDER BY sell_month DESC, name'''

sql = sql % year
sells_df = pd.read_sql(sql, conpf)
print(sql)

SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month,
             YEAR(buys.date) AS buy_year, MONTH(buys.date) AS buy_month,
sells.price AS sell_price, buys.price AS buy_price,
(sells.price - buys.price) AS diff, qty,
(sells.price * qty) AS sell_amt,
(buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2022
ORDER BY sell_month DESC, name

In [3]:
sells_df.dtypes

name           object
sell_year       int64
sell_month      int64
buy_year        int64
buy_month       int64
sell_price    float64
buy_price     float64
diff          float64
qty             int64
sell_amt      float64
buy_amt       float64
gross         float64
pct           float64
profit        float64
kind           object
dtype: object

In [4]:
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).gross.sum()

sell_year  sell_month  buy_year  buy_month  name
2022       1           2019      11         MCS     -10,500.00
                       2021      3          IVL       7,500.00
                                 6          IVL      25,500.00
                                 7          IVL      18,750.00
                                            SAT       8,250.00
                                 9          DCC       4,000.00
                                            EPG       2,200.00
                                            NER      -1,350.00
                                 10         SAT      10,500.00
                                 11         KBANK    12,192.00
                                            RCL       7,500.00
                                            SIS       3,375.00
                                            TOP       5,500.00
                                 12         IMH      26,500.00
                                            KBANK     2,496.00
                       2022      1          IMH         600.00
                                            SYNEX     2,250.00
           2           2021      3          MCS     -10,000.00
                                 7          IVL      10,200.00
                                 11         CKP       5,000.00
                                 12         IMH       9,300.00
                                            IP        5,400.00
                       2022      1          IMH      12,900.00
                                            TOP       7,000.00
Name: gross, dtype: float64

In [5]:
sold_grp = sells_df.groupby(['name'])
sold_stocks = sold_grp['sell_amt','buy_amt','qty','gross'].sum()
sold_stocks.sort_values(['name'],ascending=[True]).style.format(format_dict)

C:\Users\User\AppData\Local\Temp/ipykernel_12488/2967423552.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sold_stocks = sold_grp['sell_amt','buy_amt','qty','gross'].sum()

In [6]:
sold_stocks['sell_price'] = sold_stocks['sell_amt'] / sold_stocks['qty']
sold_stocks['buy_price'] = sold_stocks['buy_amt'] / sold_stocks['qty']
cols = 'sell_amt buy_amt gross qty sell_price buy_price'.split()
sold_stocks[cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

### Record selection for active stocks

In [7]:
sql = '''
SELECT name, YEAR(buys.date) AS year, MONTH(buys.date) AS month,
buys.price AS unit_cost, qty, 
(buys.price * qty) AS cost_amt
FROM buys
JOIN stocks ON buys.stock_id = stocks.id
WHERE status = 'Active'
ORDER BY name, buys.date'''
buys_df = pd.read_sql(sql, conpf)
buys_df.style.format(format_dict)

In [8]:
buys_df.groupby(['year','month','name']).cost_amt.sum()

year  month  name
2016  9      MCS     167,000.00
      10     MCS     334,000.00
      11     MCS     334,000.00
2017  4      MCS     167,000.00
2018  5      JASIF   300,000.00
                        ...
2022  1      WHART   125,000.00
      2      CPNCG   125,000.00
             KCE     262,500.00
             SIS      60,750.00
             SYNEX   216,750.00
Name: cost_amt, Length: 77, dtype: float64

In [9]:
buys_df.groupby(['year','month']).cost_amt.sum()

year  month
2016  9         167,000.00
      10        334,000.00
      11        334,000.00
2017  4         167,000.00
2018  5         300,000.00
2019  7         102,900.00
      9          73,500.00
      11        300,000.00
2020  2         100,000.00
      8         117,600.00
      10        147,000.00
      11        300,000.00
2021  2         147,000.00
      3         616,950.00
      4         165,750.00
      5         198,000.00
      6         335,000.00
      7         295,975.00
      8         654,500.00
      9       1,465,600.00
      10        554,775.00
      11        969,000.00
      12      1,242,850.00
2022  1       1,587,900.00
      2         665,000.00
Name: cost_amt, dtype: float64

In [10]:
buys_df.cost_amt.sum()

11341300.0

In [11]:
buys_df.groupby(['name'])['cost_amt','qty'].sum().style.format(format_dict)

C:\Users\User\AppData\Local\Temp/ipykernel_12488/3973236850.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  buys_df.groupby(['name'])['cost_amt','qty'].sum().style.format(format_dict)

In [12]:
buys_grp = buys_df.groupby(by=['name'])
dtd_stocks = buys_grp['cost_amt','qty'].sum()
dtd_stocks['avg_cost'] = dtd_stocks['cost_amt'] / dtd_stocks['qty']
dtd_stocks.sort_values(['name'],ascending=[True]).style.format(format_dict)

C:\Users\User\AppData\Local\Temp/ipykernel_12488/726847341.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dtd_stocks = buys_grp['cost_amt','qty'].sum()

In [13]:
file_name = 'unit-cost.csv'
data_file = data_path + file_name
csv_file = csv_path + file_name
box_file = box_path + file_name
data_file, csv_file, box_file

('../data/unit-cost.csv',
 '\\Users\\User\\iCloudDrive\\unit-cost.csv',
 '\\Users\\User\\Dropbox\\unit-cost.csv')

In [14]:
dtd_stocks.sort_values(['name'],ascending=[True]).to_csv(csv_file)
dtd_stocks.sort_values(['name'],ascending=[True]).to_csv(box_file)
dtd_stocks.sort_values(['name'],ascending=[True]).to_csv(data_file)

### Extra addition

In [15]:
sql = '''
SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month, sells.date AS sell_date,
qty, sells.price AS sell_price, buys.price AS buy_price,
sells.net AS sell_amt, buys.net AS buy_amt, profit,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, sells.id AS sell_id, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = %s
ORDER BY sells.date, name'''

sql = sql % year
print(sql)

SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month, sells.date AS sell_date,
qty, sells.price AS sell_price, buys.price AS buy_price,
sells.net AS sell_amt, buys.net AS buy_amt, profit,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, sells.id AS sell_id, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2022
ORDER BY sells.date, name

In [16]:
df_sells = pd.read_sql(sql, conpf)
df_sells.head()

,name,sell_year,sell_month,sell_date,qty,sell_price,buy_price,sell_amt,buy_amt,profit,pct,sell_id,kind
0,IVL,2022,1,2022-01-05,3000,44.50,42.00,"133,204.31","126,279.08","6,925.23",5.95,895,DTD
1,DCC,2022,1,2022-01-06,40000,3.00,2.90,"119,734.21","116,256.93","3,477.28",3.45,896,DTD
2,EPG,2022,1,2022-01-06,2000,12.30,11.20,"24,545.52","22,449.62","2,095.90",9.82,897,DTD
3,IMH,2022,1,2022-01-07,1500,16.80,11.00,"25,144.19","16,536.55","8,607.64",52.73,898,DTD
4,IMH,2022,1,2022-01-10,1500,16.80,11.00,"25,144.19","16,536.55","8,607.64",52.73,899,DTD

In [17]:
ttl_by_month = df_sells.groupby(['sell_month'])['profit'].sum()
ttl_by_month

sell_month
1   117,432.48
2    37,479.66
Name: profit, dtype: float64

In [18]:
ttl_by_month = df_sells.groupby(['sell_year','sell_month','name'], as_index=True).agg(
    {
        'profit':['sum','count'],
    }
)
ttl_by_month

                               profit
                                  sum count
sell_year sell_month name
2022      1          DCC     3,477.28     1
                     EPG     2,095.90     1
                     IMH    26,377.29     4
                     IVL    49,402.77     4
                     KBANK  13,200.23     3
                     MCS   -10,846.64     1
                     NER    -1,644.03     1
                     RCL     7,187.70     1
                     SAT    18,007.45     2
                     SIS     3,098.42     1
                     SYNEX   2,035.70     1
                     TOP     5,040.41     1
          2          CKP     4,767.43     1
                     IMH    21,449.14     3
                     IP      5,119.60     1
                     IVL     9,954.15     1
                     MCS   -10,347.75     1
                     TOP     6,537.09     1

In [19]:
pd.set_option('max_rows',None)
ttl_by_month.get('profit')

                                  sum  count
sell_year sell_month name
2022      1          DCC     3,477.28      1
                     EPG     2,095.90      1
                     IMH    26,377.29      4
                     IVL    49,402.77      4
                     KBANK  13,200.23      3
                     MCS   -10,846.64      1
                     NER    -1,644.03      1
                     RCL     7,187.70      1
                     SAT    18,007.45      2
                     SIS     3,098.42      1
                     SYNEX   2,035.70      1
                     TOP     5,040.41      1
          2          CKP     4,767.43      1
                     IMH    21,449.14      3
                     IP      5,119.60      1
                     IVL     9,954.15      1
                     MCS   -10,347.75      1
                     TOP     6,537.09      1

In [20]:
ttl_by_month.groupby(level='name').sum()

          profit
             sum count
name
CKP     4,767.43     1
DCC     3,477.28     1
EPG     2,095.90     1
IMH    47,826.43     7
IP      5,119.60     1
IVL    59,356.92     5
KBANK  13,200.23     3
MCS   -21,194.39     2
NER    -1,644.03     1
RCL     7,187.70     1
SAT    18,007.45     2
SIS     3,098.42     1
SYNEX   2,035.70     1
TOP    11,577.50     2

In [21]:
ttl_by_month.sum()

profit  sum     154,912.14
        count        29.00
dtype: float64

### Profit by Stock

In [3]:
name = 'TOP'
sql = '''
SELECT name, sells.date AS sell_date,
qty, sells.price AS sell_price, buys.price AS buy_price,
sells.net AS sell_amt, buys.net AS buy_amt, profit,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, sells.id AS sell_id, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = %s AND name = '%s'
ORDER BY sells.date DESC'''

sql = sql % (year, name)
print(sql)

SELECT name, sells.date AS sell_date,
qty, sells.price AS sell_price, buys.price AS buy_price,
sells.net AS sell_amt, buys.net AS buy_amt, profit,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, sells.id AS sell_id, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2022 AND name = 'TOP'
ORDER BY sells.date DESC

In [4]:
df_name = pd.read_sql(sql, conpf)
df_name.style.format(format_dict)

In [8]:
profit = df_name.profit.sum()
cost = df_name.buy_amt.sum()
percent = round(profit/cost*100,2)
profit, percent

(17615.69, 5.8)