#### SQLite port_lite database: sales, stocks table
#### csv files: daily-sales, monitors, stocks-all

In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
yesterday = today - timedelta(days=1)
yesterday

datetime.date(2022, 1, 20)

### Yesterday = Last closed business day

In [2]:
#yesterday = date(2022, 1, 14)
yesterday

datetime.date(2022, 1, 20)

### Restart and Run All Cells

In [3]:
cols = 'fm_date to_date fm_price to_price qty max_price min_price percent status'.split()

In [4]:
format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
}

### Begin of Tables in the process

In [5]:
sql = """
SELECT * 
FROM sales 
ORDER BY id DESC LIMIT 1
"""
tmp = pd.read_sql(sql, conlite)
tmp["fm_date"] = pd.to_datetime(tmp["fm_date"])
tmp["to_date"] = pd.to_datetime(tmp["to_date"])
tmp["created_at"] = pd.to_datetime(tmp["created_at"])
tmp["updated_at"] = pd.to_datetime(tmp["updated_at"])
tmp.style.format(format_dict)

In [6]:
names = tmp["name"]
name = names.to_string(index=False)
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT *
FROM stocks
WHERE name = 'TQM'

### End of Tables in the process

In [7]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a JOIN stocks t ON a.name = t.name 
WHERE to_date >= '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

df = pd.read_sql(sql, conlite)
df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df['diff'] = (df['to_price'] - df['fm_price'])
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.head().style.format(format_dict)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a JOIN stocks t ON a.name = t.name
WHERE to_date >= '2022-01-20' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

### Price change up or down more than 3%

In [8]:
#df['bdays'] = np.busday_count(df['fm_date'].dt.date,df['to_date'].dt.date)
#df['bdays'] = 1
df['bdays'] = (df['to_date'] - df['fm_date']).dt.days
watch_list = df.loc[
    abs(df.percent) >= 3,
    ['percent','status','fm_price','to_price','market','fm_date','bdays','max_price','min_price']
]
watch_list.sort_values(by="percent",ascending=False).style.format(format_dict)

In [9]:
file_name = "daily-watch-list.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

watch_list.sort_values(['percent'],ascending=[False]).to_csv(output_file)
watch_list.sort_values(['percent'],ascending=[False]).to_csv(data_file)
watch_list.sort_values(['percent'],ascending=[False]).to_csv(box_file)

### Create daily-sales from sales

In [10]:
df[cols].head().style.format(format_dict)

In [11]:
file_name = "daily-sales.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

df[cols].sort_values(['status','name'],ascending=[True,True]).to_csv(output_file,header=None)
df[cols].sort_values(['status','name'],ascending=[True,True]).to_csv(data_file,header=None)
df[cols].sort_values(['status','name'],ascending=[True,True]).to_csv(box_file)

### Create monitors from stocks

In [12]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","I","O","S")
ORDER BY name
"""
monitors = pd.read_sql(sql, conlite)
monitors.set_index(["name"], inplace=True)
monitors.head()

       status
name
AEONTS      O
BGC         O
CKP         I
EPG         I
GLOBAL      I

In [13]:
sql = """
SELECT status, COUNT(*) AS 'no. of stocks'
FROM stocks 
WHERE status IN ("B","I","O","S")
GROUP BY status
"""
df_tmp = pd.read_sql(sql, conlite)
df_tmp

  status  no. of stocks
0      B              9
1      I             12
2      O              8

### output_file = iCloud Drive on PC

In [14]:
file_name = "monitors.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

monitors.to_csv(data_file, header=None)
monitors.to_csv(box_file)
monitors.to_csv(output_file)

### End of daily process

In [15]:
sql = """
SELECT status, COUNT(*) AS 'no. of stocks'
FROM stocks 
GROUP BY status
"""
df_tmp = pd.read_sql(sql, conlite)
df_tmp

  status  no. of stocks
0      B              9
1      I             12
2      O              8
3      T              7
4      U              6
5      X             12

In [16]:
sql = """
SELECT name, status, market
FROM stocks 
ORDER BY status, name
"""
stocks = pd.read_sql(sql, conlite)
stocks.set_index(["name"], inplace=True)
stocks

       status  market
name
NOBLE       B     SET
PTT         B   SET50
PTTGC       B   SET50
RATCH       B   SET50
SCC         B   SET50
STA         B  SET100
SYNEX       B  SET100
TOP         B   SET50
TYCN        B     SET
CKP         I  SET100
EPG         I  SET100
GLOBAL      I   SET50
IVL         I   SET50
KBANK       I   SET50
KCE         I   SET50
LPF         I     SET
NER         I     SET
RCL         I  SET100
RJH         I     SET
SIS         I     SET
WHART       I     SET
AEONTS      O  SET100
BGC         O     SET
ROJNA       O     SET
SMT         O     SET
STARK       O  SET100
TQM         O  SET100
TSE         O     SET
TVO         O  SET100
DIF         T     SET
HREIT       T     SET
IMH         T     mai
JASIF       T     SET
MCS         T     SET
TISCO       T   SET50
TMT         T     SET
BCH         U  SET100
BGRIM       U   SET50
DOHOME      U  SET100
IP          U     mai
TSTH        U     SET
TU          U   SET50
ASK         X     SET
BLA         X  SET100
GULF        X   SET50
JMT         X  SET100
KEX         X  SET100
MEGA        X  SET100
SAT         X     SET
SINGER      X  SET100
SPALI       X  SET100
SVI         X     SET
TCAP        X  SET100
TKS         X     SET

In [17]:
file_name = "stocks-all.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

stocks.to_csv(data_file, header=None)
stocks.to_csv(output_file)
stocks.to_csv(box_file)

In [18]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","O")
ORDER BY name
"""
buy_candidates = pd.read_sql(sql, conlite)
buy_candidates.set_index(["name"], inplace=True)
buy_candidates

       status
name
AEONTS      O
BGC         O
NOBLE       B
PTT         B
PTTGC       B
RATCH       B
ROJNA       O
SCC         B
SMT         O
STA         B
STARK       O
SYNEX       B
TOP         B
TQM         O
TSE         O
TVO         O
TYCN        B

In [19]:
buy_candidates.shape[0]

17

In [20]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("I","S")
ORDER BY name
"""
sell_candidates = pd.read_sql(sql, conlite)
sell_candidates.set_index(["name"], inplace=True)
sell_candidates

       status
name
CKP         I
EPG         I
GLOBAL      I
IVL         I
KBANK       I
KCE         I
LPF         I
NER         I
RCL         I
RJH         I
SIS         I
WHART       I

In [21]:
sell_candidates.shape[0]

12