#### SQLite port_lite database: sales, stocks table
#### csv files: daily-watch-list, daily-sales, monitors, stocks-all

In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
yesterday

datetime.date(2022, 2, 1)

### Yesterday = Last closed business day

In [2]:
#yesterday = date(2022, 1, 28)
yesterday

datetime.date(2022, 2, 1)

### Restart and Run All Cells

In [3]:
cols = 'fm_date to_date fm_price to_price qty max_price min_price percent status'.split()

In [4]:
format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
}

### Begin of Tables in the process

In [5]:
sql = """
SELECT * 
FROM sales 
ORDER BY id DESC LIMIT 1
"""
tmp = pd.read_sql(sql, conlite)
tmp["fm_date"] = pd.to_datetime(tmp["fm_date"])
tmp["to_date"] = pd.to_datetime(tmp["to_date"])
tmp["created_at"] = pd.to_datetime(tmp["created_at"])
tmp["updated_at"] = pd.to_datetime(tmp["updated_at"])
tmp.style.format(format_dict)

In [6]:
names = tmp["name"]
name = names.to_string(index=False)
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT *
FROM stocks
WHERE name = 'PTTEP'

### End of Tables in the process

In [7]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date >= '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date >= '2022-02-01' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

In [8]:
df = pd.read_sql(sql, conlite)
df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df['diff'] = (df['to_price'] - df['fm_price'])
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.head().style.format(format_dict)

### Price change up or down more than 3%

In [9]:
#df['bdays'] = np.busday_count(df['fm_date'],df['to_date'])
#df['bdays'] = 1
df['bdays'] = (df['to_date'] - df['fm_date']).dt.days
watch_list = df.loc[
    abs(df.percent) >= 3,
    ['percent','status','fm_price','to_price','market','fm_date','bdays','max_price','min_price']
]
watch_list.sort_values(by="percent",ascending=False).style.format(format_dict)

In [10]:
file_name = "daily-watch-list.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

watch_list.sort_values(['percent'],ascending=[False]).to_csv(output_file)
watch_list.sort_values(['percent'],ascending=[False]).to_csv(data_file)
watch_list.sort_values(['percent'],ascending=[False]).to_csv(box_file)
watch_list.sort_values(['percent'],ascending=[False]).to_csv(one_file)

### Create daily-sales from sales

In [11]:
df[cols].head().style.format(format_dict)

In [12]:
file_name = "daily-sales.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(output_file,header=None)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(data_file,header=None)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(box_file)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(one_file)

### Create monitors from stocks

In [13]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","I","O","S")
ORDER BY name
"""
monitors = pd.read_sql(sql, conlite)
monitors.set_index(["name"], inplace=True)
monitors.head()

      status
name
BBL        O
BGC        O
BGRIM      I
CKP        I
EPG        B

In [14]:
sql = """
SELECT status, COUNT(*) AS 'no. of stocks'
FROM stocks 
WHERE status IN ("B","I","O","S")
GROUP BY status
"""
df_tmp = pd.read_sql(sql, conlite)
df_tmp

  status  no. of stocks
0      B              9
1      I             14
2      O              8

### output_file = iCloud Drive on PC

In [15]:
file_name = "monitors.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

monitors.to_csv(data_file, header=None)
monitors.to_csv(box_file)
monitors.to_csv(output_file)
monitors.to_csv(one_file)

### End of daily process

In [16]:
sql = """
SELECT status, COUNT(*) AS 'no. of stocks'
FROM stocks 
GROUP BY status
"""
df_tmp = pd.read_sql(sql, conlite)
df_tmp

  status  no. of stocks
0      B              9
1      I             14
2      O              8
3      T              5
4      U              6
5      X             15

In [17]:
sql = """
SELECT name, status, market
FROM stocks 
ORDER BY status, name
"""
stocks = pd.read_sql(sql, conlite)
stocks.set_index(["name"], inplace=True)
stocks

       status  market
name
EPG         B  SET100
GLOBAL      B   SET50
NOBLE       B     SET
PTT         B   SET50
PTTGC       B   SET50
RATCH       B   SET50
RCL         B  SET100
SCC         B   SET50
STA         B  SET100
BGRIM       I   SET50
CKP         I  SET100
IP          I     mai
IVL         I   SET50
LPF         I     SET
MCS         I     SET
NER         I     SET
RJH         I     SET
SYNEX       I  SET100
TOP         I   SET50
TSE         I     SET
TSTH        I     SET
TU          I   SET50
WHART       I     SET
BBL         O   SET50
BGC         O     SET
KBANK       O   SET50
KTC         O   SET50
PTTEP       O   SET50
ROJNA       O     SET
SCB         O   SET50
TVO         O  SET100
DIF         T     SET
HREIT       T     SET
JASIF       T     SET
TISCO       T   SET50
TMT         T     SET
BCH         U  SET100
DOHOME      U  SET100
IMH         U     mai
KCE         U   SET50
SIS         U     SET
TYCN        U     SET
ASK         X     SET
BLA         X  SET100
GULF        X   SET50
JMT         X  SET100
KEX         X  SET100
MEGA        X  SET100
SAT         X     SET
SINGER      X  SET100
SMT         X     SET
SPALI       X  SET100
STARK       X  SET100
SVI         X     SET
TCAP        X  SET100
TKS         X     SET
TQM         X  SET100

In [18]:
file_name = "stocks-all.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

stocks.to_csv(data_file, header=None)
stocks.to_csv(output_file)
stocks.to_csv(box_file)
stocks.to_csv(one_file)

In [19]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","O")
ORDER BY name
"""
buy_candidates = pd.read_sql(sql, conlite)
buy_candidates.set_index(["name"], inplace=True)
buy_candidates

       status
name
BBL         O
BGC         O
EPG         B
GLOBAL      B
KBANK       O
KTC         O
NOBLE       B
PTT         B
PTTEP       O
PTTGC       B
RATCH       B
RCL         B
ROJNA       O
SCB         O
SCC         B
STA         B
TVO         O

In [20]:
buy_candidates.shape[0]

17

In [21]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("I","S")
ORDER BY name
"""
sell_candidates = pd.read_sql(sql, conlite)
sell_candidates.set_index(["name"], inplace=True)
sell_candidates

      status
name
BGRIM      I
CKP        I
IP         I
IVL        I
LPF        I
MCS        I
NER        I
RJH        I
SYNEX      I
TOP        I
TSE        I
TSTH       I
TU         I
WHART      I

In [22]:
sell_candidates.shape[0]

14