#### SQLite port_lite database: sales, stocks table
#### csv files: daily-sales, monitors, stocks-all

In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
yesterday = today - timedelta(days=1)
yesterday

datetime.date(2022, 1, 23)

### Yesterday = Last closed business day

In [2]:
yesterday = date(2022, 1, 21)
yesterday

datetime.date(2022, 1, 21)

### Restart and Run All Cells

In [3]:
cols = 'fm_date to_date fm_price to_price qty max_price min_price percent status'.split()

In [4]:
format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
}

### Begin of Tables in the process

In [5]:
sql = """
SELECT * 
FROM sales 
ORDER BY id DESC LIMIT 1
"""
tmp = pd.read_sql(sql, conlite)
tmp["fm_date"] = pd.to_datetime(tmp["fm_date"])
tmp["to_date"] = pd.to_datetime(tmp["to_date"])
tmp["created_at"] = pd.to_datetime(tmp["created_at"])
tmp["updated_at"] = pd.to_datetime(tmp["updated_at"])
tmp.style.format(format_dict)

In [7]:
names = tmp["name"]
name = names.to_string(index=False)
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT *
FROM stocks
WHERE name = 'WHART'

### End of Tables in the process

In [8]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date >= '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a JOIN stocks t ON a.name = t.name
WHERE to_date >= '2022-01-21' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

In [9]:
df = pd.read_sql(sql, conlite)
df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df['diff'] = (df['to_price'] - df['fm_price'])
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.head().style.format(format_dict)

### Price change up or down more than 3%

In [12]:
#df['bdays'] = np.busday_count(df['fm_date'],df['to_date'])
#df['bdays'] = 1
df['bdays'] = (df['to_date'] - df['fm_date']).dt.days
watch_list = df.loc[
    abs(df.percent) >= 3,
    ['percent','status','fm_price','to_price','market','fm_date','bdays','max_price','min_price']
]
watch_list.sort_values(by="percent",ascending=False).style.format(format_dict)

In [13]:
file_name = "daily-watch-list.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

watch_list.sort_values(['percent'],ascending=[False]).to_csv(output_file)
watch_list.sort_values(['percent'],ascending=[False]).to_csv(data_file)
watch_list.sort_values(['percent'],ascending=[False]).to_csv(box_file)

### Create daily-sales from sales

In [14]:
df[cols].head().style.format(format_dict)

In [25]:
file_percent = "daily-sales.csv"
data_file = data_path + file_percent
output_file = csv_path + file_percent
box_file = box_path + file_percent

df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(output_file,header=None)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(data_file,header=None)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(box_file)

### Create monitors from stocks

In [16]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","I","O","S")
ORDER BY name
"""
monitors = pd.read_sql(sql, conlite)
monitors.set_index(["name"], inplace=True)
monitors.head()

       status
name
BGC         O
CKP         I
EPG         I
GLOBAL      I
IMH         I

In [17]:
sql = """
SELECT status, COUNT(*) AS 'no. of stocks'
FROM stocks 
WHERE status IN ("B","I","O","S")
GROUP BY status
"""
df_tmp = pd.read_sql(sql, conlite)
df_tmp

  status  no. of stocks
0      B             10
1      I             11
2      O              5

### output_file = iCloud Drive on PC

In [18]:
file_name = "monitors.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

monitors.to_csv(data_file, header=None)
monitors.to_csv(box_file)
monitors.to_csv(output_file)

### End of daily process

In [19]:
sql = """
SELECT status, COUNT(*) AS 'no. of stocks'
FROM stocks 
GROUP BY status
"""
df_tmp = pd.read_sql(sql, conlite)
df_tmp

  status  no. of stocks
0      B             10
1      I             11
2      O              5
3      T              6
4      U              7
5      X             17

In [20]:
sql = """
SELECT name, status, market
FROM stocks 
ORDER BY status, name
"""
stocks = pd.read_sql(sql, conlite)
stocks.set_index(["name"], inplace=True)
stocks

       status  market
name
NOBLE       B     SET
PTT         B   SET50
PTTGC       B   SET50
RATCH       B   SET50
RCL         B  SET100
SCC         B   SET50
STA         B  SET100
SYNEX       B  SET100
TOP         B   SET50
TYCN        B     SET
CKP         I  SET100
EPG         I  SET100
GLOBAL      I   SET50
IMH         I     mai
IP          I     mai
IVL         I   SET50
LPF         I     SET
NER         I     SET
RJH         I     SET
TSE         I     SET
WHART       I     SET
BGC         O     SET
KTC         O   SET50
ROJNA       O     SET
SCB         O   SET50
TVO         O  SET100
DIF         T     SET
HREIT       T     SET
JASIF       T     SET
MCS         T     SET
TISCO       T   SET50
TMT         T     SET
BCH         U  SET100
BGRIM       U   SET50
DOHOME      U  SET100
KCE         U   SET50
SIS         U     SET
TSTH        U     SET
TU          U   SET50
ASK         X     SET
BBL         X   SET50
BLA         X  SET100
GULF        X   SET50
JMT         X  SET100
KBANK       X   SET50
KEX         X  SET100
MEGA        X  SET100
SAT         X     SET
SINGER      X  SET100
SMT         X     SET
SPALI       X  SET100
STARK       X  SET100
SVI         X     SET
TCAP        X  SET100
TKS         X     SET
TQM         X  SET100

In [21]:
file_name = "stocks-all.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

stocks.to_csv(data_file, header=None)
stocks.to_csv(output_file)
stocks.to_csv(box_file)

In [22]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","O")
ORDER BY name
"""
buy_candidates = pd.read_sql(sql, conlite)
buy_candidates.set_index(["name"], inplace=True)
buy_candidates

      status
name
BGC        O
KTC        O
NOBLE      B
PTT        B
PTTGC      B
RATCH      B
RCL        B
ROJNA      O
SCB        O
SCC        B
STA        B
SYNEX      B
TOP        B
TVO        O
TYCN       B

In [23]:
buy_candidates.shape[0]

15

In [24]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("I","S")
ORDER BY name
"""
sell_candidates = pd.read_sql(sql, conlite)
sell_candidates.set_index(["name"], inplace=True)
sell_candidates

       status
name
CKP         I
EPG         I
GLOBAL      I
IMH         I
IP          I
IVL         I
LPF         I
NER         I
RJH         I
TSE         I
WHART       I

In [21]:
sell_candidates.shape[0]

11