#### SQLite port_lite database: sales, stocks table
#### csv files: daily-watch-list, daily-sales, monitors, stocks-all

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
yesterday

datetime.date(2022, 6, 23)

### Yesterday = Last business day

In [2]:
#yesterday = date(2022, 6, 2)
yesterday

datetime.date(2022, 6, 23)

### Must create stats.csv file by calling A8/stats from command prompt

### Restart and Run All Cells

In [3]:
df_stats = pd.read_csv('../data/stats.csv',usecols=['name','date','max_price','min_price','pe','pbv','eps','market_cap'])
df_stats.rename(columns = {'eps':'beta'}, inplace = True)
df_stats.date.value_counts()

2022-06-23    229
Name: date, dtype: int64

In [4]:
#df_stats.date = '2022-05-17'
#df_stats.head()

In [5]:
df_dailies = pd.read_csv('../data/dailies.csv',usecols=['name','date','price','daily_volume'])
df_dailies.date.value_counts()

2022-06-23    229
Name: date, dtype: int64

In [6]:
df_merge1 = pd.merge(df_stats, df_dailies, on=['name','date'], how='inner')
df_merge1.shape

(229, 10)

In [7]:
sql = """
SELECT name, market, ticker_id
FROM stocks 
ORDER BY name
"""
df_stocks = pd.read_sql(sql, conpg)
df_stocks.shape

(229, 3)

In [8]:
df_merge2 = pd.merge(df_merge1, df_stocks, on=['name'], how='outer',indicator=True)
df_merge2.shape

(229, 13)

In [9]:
stock = df_merge2[df_merge2._merge == 'right_only']
stock

Empty DataFrame
Columns: [name, date, pe, beta, pbv, market_cap, max_price, min_price, price, daily_volume, market, ticker_id, _merge]
Index: []

In [10]:
df_merge2['paid_up'] = 999.99
df_merge2['created_at'] = pd.to_datetime(yesterday)
df_merge2['updated_at'] = pd.to_datetime(yesterday)
df_merge2.dtypes

name                    object
date                    object
pe                     float64
beta                   float64
pbv                    float64
market_cap             float64
max_price              float64
min_price              float64
price                  float64
daily_volume           float64
market                  object
ticker_id                int64
_merge                category
paid_up                float64
created_at      datetime64[ns]
updated_at      datetime64[ns]
dtype: object

In [11]:
racl = 'name market price max_price min_price pe pbv paid_up market_cap daily_volume beta ticker_id created_at updated_at'.split()
df = df_merge2[racl]
df.select_dtypes(include='object')

       name                   market
0       ACE                   SET100
1    ADVANC  SET50 / SETHD / SETTHSI
2    AEONTS                   SET100
3        AH           sSET / SETTHSI
4       AIE                     sSET
..      ...                      ...
224   WHAIR                      SET
225   WHART                      SET
226   WHAUP           sSET / SETTHSI
227    WICE                     sSET
228    WORK                      SET

[229 rows x 2 columns]

In [12]:
# Check for Missing Data
print(df.isna().sum())
print('-----'*10)
# Check shape of data
print('Shape of data is:', df.shape)

name            0
market          0
price           0
max_price       0
min_price       0
pe              0
pbv             0
paid_up         0
market_cap      0
daily_volume    0
beta            0
ticker_id       0
created_at      0
updated_at      0
dtype: int64
--------------------------------------------------
Shape of data is: (229, 14)

In [13]:
file_name = "stocks.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df.sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

### After this, call morning batch files Morn1, Morn3, Morn4, Morn5