#### SQLite port_lite database: sales, stocks table
#### csv files: daily-watch-list, daily-sales, monitors, stocks-all

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
yesterday

datetime.date(2022, 5, 23)

### Yesterday = Last business day

In [2]:
#yesterday = date(2022, 5, 13)
yesterday

datetime.date(2022, 5, 23)

### Must create daily stats.csv file by calling A8/stats from command prompt

In [15]:
df_stats = pd.read_csv('../data/stats.csv',usecols=['name','date','max_price','min_price','pe','pbv','eps','market_cap'])
df_stats.rename(columns = {'eps':'beta'}, inplace = True)
df_stats.date.value_counts()

2022-05-23    231
Name: date, dtype: int64

In [16]:
#df_stats.date = '2022-05-17'
#df_stats.head()

In [17]:
df_dailies = pd.read_csv('../data/dailies.csv',usecols=['name','date','price','daily_volume'])
df_dailies.date.value_counts()

2022-05-23    231
Name: date, dtype: int64

In [18]:
df_merge1 = pd.merge(df_stats, df_dailies, on=['name','date'], how='inner')
df_merge1.shape

(231, 10)

In [19]:
sql = """
SELECT name, market, ticker_id
FROM stocks 
ORDER BY name
"""
df_stocks = pd.read_sql(sql, conpg)
df_stocks.shape

(231, 3)

In [20]:
df_merge2 = pd.merge(df_merge1, df_stocks, on=['name'], how='outer',indicator=True)
df_merge2.shape

(231, 13)

In [21]:
stock = df_merge2[df_merge2._merge == 'right_only']
stock

Empty DataFrame
Columns: [name, date, pe, beta, pbv, market_cap, max_price, min_price, price, daily_volume, market, ticker_id, _merge]
Index: []

In [22]:
df_merge2['paid_up'] = 999.99
df_merge2['created_at'] = pd.to_datetime(yesterday)
df_merge2['updated_at'] = pd.to_datetime(yesterday)
df_merge2.dtypes

name                    object
date                    object
pe                     float64
beta                   float64
pbv                    float64
market_cap             float64
max_price               object
min_price               object
price                  float64
daily_volume           float64
market                  object
ticker_id                int64
_merge                category
paid_up                float64
created_at      datetime64[ns]
updated_at      datetime64[ns]
dtype: object

In [25]:
racl = 'name market price max_price min_price pe pbv paid_up market_cap daily_volume beta ticker_id created_at updated_at'.split()
df = df_merge2[racl]
df.sample(5)

,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
148,PTTGC,SET50 / SETCLMV / SETTHSI,47.5,67.00,44.25,5.42,0.68,999.99,214170.33,431538.06,0.93,391,2022-05-23,2022-05-23
53,CPNREIT,SET,18.8,23.90,18.20,0.00,1.43,999.99,48279.04,30011.37,0.00,127,2022-05-23,2022-05-23
161,SCB,SET50,115.0,121.50,105.50,9.50,9.99,999.99,387217.45,1909008.32,3.00,432,2022-05-23,2022-05-23
12,AP,SET100 / SETHD,10.7,12.00,7.45,6.91,0.99,999.99,33661.12,130276.00,0.55,29,2022-05-23,2022-05-23
96,JASIF,SET,10.8,11.30,9.50,0.00,0.97,999.99,86400.00,89786.35,0.00,241,2022-05-23,2022-05-23

In [26]:
file_name = "stocks.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df.sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

### After this, call morning batch files