#### SQLite port_lite database: sales, stocks table
#### csv files: daily-watch-list, daily-sales, monitors, stocks-all

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
yesterday

datetime.date(2022, 5, 17)

### Yesterday = Last business day

In [2]:
#yesterday = date(2022, 5, 13)
yesterday

datetime.date(2022, 5, 17)

In [3]:
df_stats = pd.read_csv('../data/stats.csv',usecols=['name','date','max_price','min_price','pe','pbv','eps','market_cap'])
df_stats.rename(columns = {'eps':'beta'}, inplace = True)
df_stats.head()

     name        date     pe   beta   pbv  market_cap  max_price  min_price
0     ACE  2022-05-13  19.13   0.03  2.06    28085.76        4.6       2.74
1  ADVANC  2022-05-13  24.05   2.12  8.46   639394.05      242.0     168.00
2  AEONTS  2022-05-13  12.91  14.21  2.31    45875.00      209.0     168.00
3      AH  2022-05-13   7.38   2.89  0.89     7558.13       28.5      19.80
4     AIE  2022-05-13  11.63   0.09  2.04     5028.02        7.8       3.62

In [4]:
df_stats.date = '2022-05-17'
df_stats.head()

     name        date     pe   beta   pbv  market_cap  max_price  min_price
0     ACE  2022-05-17  19.13   0.03  2.06    28085.76        4.6       2.74
1  ADVANC  2022-05-17  24.05   2.12  8.46   639394.05      242.0     168.00
2  AEONTS  2022-05-17  12.91  14.21  2.31    45875.00      209.0     168.00
3      AH  2022-05-17   7.38   2.89  0.89     7558.13       28.5      19.80
4     AIE  2022-05-17  11.63   0.09  2.04     5028.02        7.8       3.62

In [5]:
df_dailies = pd.read_csv('../data/dailies.csv',usecols=['name','date','price','daily_volume'])
df_dailies.head()

     name        date   price  daily_volume
0     ACE  2022-05-17    2.88      89766.70
1  ADVANC  2022-05-17  218.00    1241529.19
2  AEONTS  2022-05-17  187.00      40961.61
3      AH  2022-05-17   22.30      33228.37
4     AIE  2022-05-17    3.90       3172.38

In [6]:
df_merge1 = pd.merge(df_stats, df_dailies, on=['name','date'], how='inner')
df_merge1.shape

(232, 10)

In [12]:
sql = """
SELECT name, market, ticker_id
FROM stocks 
ORDER BY name
"""
df_stocks = pd.read_sql(sql, conpg)
df_stocks.shape

(0, 3)

In [12]:
sql = """
SELECT name, market, id AS ticker_id
FROM tickers 
ORDER BY name
"""
df_tickers = pd.read_sql(sql, conpg)
df_tickers.shape

(402, 3)

In [13]:
df_merge2 = pd.merge(df_merge1, df_tickers, on=['name'], how='inner')
df_merge2.shape

(232, 12)

In [14]:
df_merge2['paid_up'] = 999.99
df_merge2['created_at'] = pd.to_datetime(yesterday)
df_merge2['updated_at'] = pd.to_datetime(yesterday)
df_merge2.dtypes

name                    object
date                    object
pe                     float64
beta                   float64
pbv                     object
market_cap             float64
max_price              float64
min_price              float64
price                  float64
daily_volume           float64
market                  object
ticker_id                int64
paid_up                float64
created_at      datetime64[ns]
updated_at      datetime64[ns]
dtype: object

In [15]:
racl = 'name market price max_price min_price pe pbv paid_up market_cap daily_volume beta ticker_id created_at updated_at'.split()
df = df_merge2[racl]
df.head()

,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
0,ACE,SET100,2.88,4.6,2.74,19.13,2.06,999.99,28085.76,89766.70,0.03,667,2022-05-17,2022-05-17
1,ADVANC,SET50 / SETHD / SETTHSI,218.00,242.0,168.00,24.05,8.46,999.99,639394.05,1241529.19,2.12,8,2022-05-17,2022-05-17
2,AEONTS,SET100,187.00,209.0,168.00,12.91,2.31,999.99,45875.00,40961.61,14.21,9,2022-05-17,2022-05-17
3,AH,sSET / SETTHSI,22.30,28.5,19.80,7.38,0.89,999.99,7558.13,33228.37,2.89,11,2022-05-17,2022-05-17
4,AIE,sSET,3.90,7.8,3.62,11.63,2.04,999.99,5028.02,3172.38,0.09,691,2022-05-17,2022-05-17

In [16]:
file_name = "stocks.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df.sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
df.sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)