#### SQLite port_lite database: orders table
#### csv files: orders, ORDERS-PLACED

In [1]:
import calendar
import pandas as pd
import panel as pn
import seaborn as sns
from datetime import date, timedelta
from sqlalchemy import create_engine
from itables import init_notebook_mode, show
init_notebook_mode(all_interactive=False)

pn.extension('tabulator')

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

def categorise(row):  
    if row['trade'] == 'B':
        return 'Buy'
    else:
        return 'Sell'
    
today = date.today()
today

datetime.date(2022, 3, 5)

### Begin of Tables in the process

In [2]:
cols = 'trade name qty price active reason market'.split()
colt = 'trans name qty target active spd current change percent reason market'.split()

In [3]:
format_dict = {
    'qty':'{:,}',
    'price':'{:.2f}','target':'{:.2f}','current':'{:.2f}','change':'{:.2f}','diff':'{:.2f}',
    'amount':'{:,.2f}','sell_amt':'{:,.2f}'
}

In [4]:
pd.read_sql_query('SELECT * FROM orders ORDER BY id DESC LIMIT 1', conlite).style.format(format_dict)

In [5]:
tmp = pd.read_csv('../data/orders-log.csv')
tmp['trans'] = tmp.apply(lambda row: categorise(row), axis=1)
tmp['amount'] = tmp.qty * tmp.target
tmp[tmp.active == 2].style.background_gradient(cmap = 'Blues').format(format_dict)

In [6]:
tmp.head().sort_values('spd',ascending=False).style.hide_index().format(format_dict)

### End of Tables in the process

### Print to verify before upload file

In [11]:
sql = '''
SELECT trade, name, qty, price, qty * price AS amount, reason, market, active
FROM orders
ORDER BY trade, name'''
orders = pd.read_sql(sql, conlite)

df_tab = pn.widgets.Tabulator(orders, layout='fit_data', width=800)
df_tab

Tabulator(layout='fit_data', value=   trade    name  ..., width=800)

In [12]:
file_name = 'orders.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

orders[cols].to_csv(output_file, header=True, index=False)
orders[cols].to_csv(data_file, header=True, index=False)
orders[cols].to_csv(box_file, header=True, index=False)
orders[cols].to_csv(one_file, header=True, index=False)

### End of transactional process

In [51]:
sql = '''
SELECT trade, name, qty, price, qty * price AS amount, reason, market, active
FROM orders
WHERE active = 2
ORDER BY trade, name'''
df_act_2 = pd.read_sql(sql, conlite)
df_act_2.style.format(format_dict)

In [52]:
orders_grp = df_act_2.groupby(['trade'])
orders_grp['amount'].sum()

trade
B    286000.0
S    920150.0
Name: amount, dtype: float64

In [53]:
mask = df_act_2.trade == 'B'
buy_stocks = df_act_2[mask]
buy_stocks.style.background_gradient(cmap = 'Blues').format(format_dict)

In [54]:
cash = 1_092_000
buy_amt = buy_stocks.amount.sum()
balance = cash - buy_amt 
cash, buy_amt, balance

(1092000, 286000.0, 806000.0)

In [55]:
mask = df_act_2.trade == 'S'
sell_stocks = df_act_2[mask]
sell_stocks.style.format(format_dict)

In [56]:
sell_amt = round(sell_stocks.amount.sum(),2)
balance = cash + sell_amt 
(cash, sell_amt, balance)

(1092000, 920150.0, 2012150.0)

### After call ord-log (must call everytime that orders change)

In [57]:
df = pd.read_csv('../data/orders-log.csv')
df['trans'] = df.apply(lambda row: categorise(row), axis=1)
df['amount'] = df.qty * df.target

In [58]:
show(df[['trans','name','spd','reason','qty','target','current','active']])

In [59]:
mb = (df.trans == 'Buy') & (df.spd >= -5)
df[mb].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [60]:
show(df[['trans','name','spd','reason','qty','target','current','percent','active']])

In [61]:
ms = (df.trans == 'Sell') & (df.spd <= 5)
df[ms].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [62]:
df[mb | ms].sort_values(['trade','name'],ascending=[True,True])

,trade,name,spd,reason,market,qty,target,current,change,percent,active,trans,amount
0,B,ASP,-3,3L,SET,30000,3.8,3.86,-0.06,-1.53%,1,Buy,114000.0
3,B,MAKRO,-2,ROUND,SET,1500,42.0,42.50,-0.25,-0.58%,2,Buy,63000.0
4,B,MEGA,-3,ROUND,SET100,1500,43.0,43.75,-0.75,-1.69%,1,Buy,64500.0
6,B,TMT,-5,ROUND,SET,18000,11.0,11.50,0.20,+1.77%,1,Buy,198000.0
7,B,TPIPL,-4,DOS,SET,60000,1.7,1.74,0.00,0.00%,2,Buy,102000.0
9,B,TU,-5,3L,SET50,9000,19.3,19.80,-0.10,-0.50%,1,Buy,173700.0
10,B,WHART,-3,DOS,SET,10000,12.1,12.40,0.30,+2.48%,2,Buy,121000.0
12,S,CPNCG,1,DOS,SET,20000,12.5,12.40,0.00,0.00%,2,Sell,250000.0
14,S,HREIT,4,DOS,SET,40100,9.0,8.80,-0.25,-2.76%,2,Sell,360900.0
16,S,JASIF,2,DOS,SET,10000,11.2,11.00,0.00,0.00%,2,Sell,112000.0
21,S,SINGER,2,15pct,SET100,1500,49.0,48.50,0.75,+1.57%,2,Sell,73500.0

In [63]:
df[mb | ms].shape[0]

11

In [65]:
mask = (df.trade == 'B')
df[mask].nlargest(5, "amount")[["name","trans","amount","spd"]].style.format(format_dict)

### Select source of orders between these two

In [66]:
df_out = df[mb | ms][colt]
df_out.style.format(format_dict)

In [39]:
df_out = df[df.active == 2][colt]
df_out.style.format(format_dict)

In [67]:
file_name = 'ORDERS-PLACED.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_out.sort_values(['trans','name'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df_out.sort_values(['trans','name'],ascending=[True,True]).to_csv(data_file, header=True, index=False)
df_out.sort_values(['trans','name'],ascending=[True,True]).to_csv(box_file, header=True, index=False)
df_out.sort_values(['trans','name'],ascending=[True,True]).to_csv(one_file, header=True, index=False)

### End of Output ORDERS-PLACED

In [85]:
sql = '''
SELECT trade, name, qty, price, qty * price AS amount, reason, market, active
FROM orders
WHERE ACTIVE = 2
ORDER BY trade, name'''
orders = pd.read_sql(sql, conlite)
orders.style.format(format_dict)

### Evening Process

In [86]:
new_active = 1
old_active = 2

In [87]:
sql = """
UPDATE orders 
SET active = %s
WHERE active = %s
"""
sql = sql % (new_active, old_active)
rp = conlite.execute(sql)
rp.rowcount

8

In [88]:
names = df_out['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'MAKRO', 'STA', 'TPIPL', 'CPNCG', 'JASIF', 'PTT'"

In [89]:
sql = """
UPDATE orders 
SET active = 2
WHERE name IN (%s)
"""
sql = sql % (in_p)
rp = conlite.execute(sql)
rp.rowcount

6

In [66]:
#To force orders.csv and orders table to be same copy
file_name = 'orders.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

orders[cols].to_csv(output_file, header=True, index=False)
orders[cols].to_csv(data_file, header=True, index=False)
orders[cols].to_csv(box_file, header=True, index=False)
orders[cols].to_csv(one_file, header=True, index=False)

### End of Evening Process