#### SQLite port_lite database: orders table
#### csv files: orders, ORDERS-PLACED

In [1]:
import calendar
import pandas as pd
import panel as pn
import seaborn as sns
from datetime import date, timedelta
from sqlalchemy import create_engine
from itables import init_notebook_mode, show
init_notebook_mode(all_interactive=False)

pn.extension('tabulator')

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

def categorise(row):  
    if row['trade'] == 'B':
        return 'Buy'
    else:
        return 'Sell'
    
today = date.today()
today

datetime.date(2022, 3, 2)

### Begin of Tables in the process

In [2]:
cols = 'trade name qty price active reason market'.split()
colt = 'trans name qty target active spd current change percent reason market'.split()

In [3]:
format_dict = {
    'qty':'{:,}',
    'price':'{:.2f}','target':'{:.2f}','current':'{:.2f}','change':'{:.2f}','diff':'{:.2f}',
    'amount':'{:,.2f}','sell_amt':'{:,.2f}'
}

In [4]:
pd.read_sql_query('SELECT * FROM orders ORDER BY id DESC LIMIT 1', conlite).style.format(format_dict)

In [5]:
tmp = pd.read_csv('../data/orders-log.csv')
tmp['trans'] = tmp.apply(lambda row: categorise(row), axis=1)
tmp['amount'] = tmp.qty * tmp.target
tmp[tmp.active == 2].style.background_gradient(cmap = 'Blues').format(format_dict)

In [6]:
tmp.head().sort_values('spd',ascending=False).style.hide_index().format(format_dict)

### End of Tables in the process

### Print to verify before upload file

In [75]:
sql = '''
SELECT trade, name, qty, price, qty * price AS amount, reason, market, active
FROM orders
ORDER BY trade, name'''
orders = pd.read_sql(sql, conlite)

df_tab = pn.widgets.Tabulator(orders, layout='fit_data', width=800)
df_tab

Tabulator(layout='fit_data', value=   trade    name  ..., width=800)

In [76]:
file_name = 'orders.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

orders[cols].to_csv(output_file, header=True, index=False)
orders[cols].to_csv(data_file, header=True, index=False)
orders[cols].to_csv(box_file, header=True, index=False)
orders[cols].to_csv(one_file, header=True, index=False)

### End of transactional process

In [77]:
sql = '''
SELECT trade, name, qty, price, qty * price AS amount, reason, market, active
FROM orders
WHERE active = 2
ORDER BY trade, name'''
df_act_2 = pd.read_sql(sql, conlite)
df_act_2.style.format(format_dict)

In [78]:
orders_grp = df_act_2.groupby(['trade'])
orders_grp['amount'].sum()

trade
B    407000.0
S    689245.0
Name: amount, dtype: float64

In [79]:
mask = df_act_2.trade == 'B'
buy_stocks = df_act_2[mask]
buy_stocks.style.background_gradient(cmap = 'Blues').format(format_dict)

In [80]:
cash = 1_263_000
buy_amt = buy_stocks.amount.sum()
balance = cash - buy_amt 
cash, buy_amt, balance

(1263000, 407000.0, 856000.0)

In [81]:
mask = df_act_2.trade == 'S'
sell_stocks = df_act_2[mask]
sell_stocks.style.format(format_dict)

In [82]:
sell_amt = round(sell_stocks.amount.sum(),2)
balance = cash + sell_amt 
(cash, sell_amt, balance)

(1263000, 689245.0, 1952245.0)

### After call ord-log (must call everytime that orders change)

In [83]:
df = pd.read_csv('../data/orders-log.csv')
df['trans'] = df.apply(lambda row: categorise(row), axis=1)
df['amount'] = df.qty * df.target

In [84]:
show(df[['trans','name','spd','reason','qty','target','amount','current','active']])

In [85]:
mb = (df.trans == 'Buy') & (df.spd >= -5)
df[mb].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [86]:
show(df[['trans','name','spd','reason','qty','target','current','percent','active']])

In [87]:
ms = (df.trans == 'Sell') & (df.spd <= 6)
df[ms].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [88]:
df[mb | ms].sort_values(['trade','name'],ascending=[True,True])

,trade,name,spd,reason,market,qty,target,current,change,percent,active,trans,amount
2,B,GLOBAL,-5,NaN,SET50,9000,19.40,19.90,-0.10,-0.50%,1,Buy,174600.0
3,B,HREIT,-2,DOS,SET,10000,8.95,9.05,0.10,+1.12%,2,Buy,89500.0
4,B,KCE,-1,RD20pct,SET50,1000,58.00,58.25,-2.50,-4.12%,2,Buy,58000.0
7,B,TMT,-5,ROUND,SET,15000,10.50,11.00,0.00,0.00%,2,Buy,157500.0
8,B,TPIPL,-5,NaN,SET,60000,1.70,1.75,0.01,+0.57%,2,Buy,102000.0
9,B,TU,-3,NaN,SET50,9000,19.80,20.10,-0.10,-0.50%,1,Buy,178200.0
11,S,CPNCG,2,DOS,SET,20000,12.50,12.30,0.00,0.00%,2,Sell,250000.0
14,S,JASIF,0,DOS,SET,10000,11.20,11.20,-0.10,-0.88%,2,Sell,112000.0
17,S,PTT,6,5pct,SET50,3000,41.25,39.75,0.75,+1.92%,1,Sell,123750.0
19,S,SINGER,6,20pct,SET100,1500,50.75,49.25,-0.25,-0.51%,2,Sell,76125.0
21,S,SNC,2,DOS,SET,7200,17.10,16.90,-0.20,-1.17%,2,Sell,123120.0
22,S,WHART,4,DOS,SET,10000,12.80,12.40,0.10,+0.81%,2,Sell,128000.0

In [89]:
df[mb | ms].shape[0]

12

In [90]:
mask = (df.trade == 'B')
df[mb | ms].nlargest(5, "amount")[["name","trans","amount"]].style.format(format_dict)

### Select source of orders between these two

In [91]:
df_out = df[mb | ms][colt]
df_out.style.format(format_dict)

In [92]:
df_out = df[df.active == 2][colt]
df_out.style.format(format_dict)

In [93]:
file_name = 'ORDERS-PLACED.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_out.sort_values(['trans','name'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df_out.sort_values(['trans','name'],ascending=[True,True]).to_csv(data_file, header=True, index=False)
df_out.sort_values(['trans','name'],ascending=[True,True]).to_csv(box_file, header=True, index=False)
df_out.sort_values(['trans','name'],ascending=[True,True]).to_csv(one_file, header=True, index=False)

### End of Output ORDERS-PLACED

In [ ]:
sql = '''
SELECT trade, name, qty, price, qty * price AS amount, reason, market, active
FROM orders
WHERE ACTIVE = 2
ORDER BY trade, name'''
orders = pd.read_sql(sql, conlite)
orders.style.format(format_dict)

### Evening Process

In [ ]:
new_active = 1
old_active = 2

In [ ]:
sql = """
UPDATE orders 
SET active = %s
WHERE active = %s
"""
sql = sql % (new_active, old_active)
rp = conlite.execute(sql)
rp.rowcount

In [ ]:
names = df_out['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

In [ ]:
sql = """
UPDATE orders 
SET active = 2
WHERE name IN (%s)
"""
sql = sql % (in_p)
rp = conlite.execute(sql)
rp.rowcount

In [ ]:
#To force orders.csv and orders table to be same copy
file_name = 'orders.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

orders[cols].to_csv(output_file, header=True, index=False)
orders[cols].to_csv(data_file, header=True, index=False)
orders[cols].to_csv(box_file, header=True, index=False)
orders[cols].to_csv(one_file, header=True, index=False)

### End of Evening Process