##### SQLite port_lite database: stocks table
##### PostgreSQL portpg database: stocks table
##### MySQL stock database: setindex, price, buy tables
##### output csv: 5-day_average, extreme

In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option("display.max_rows", None)

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 7, 7), datetime.date(2022, 7, 6))

In [2]:
#today = today - timedelta(days=1)
yesterday = today - timedelta(days=3)
today, yesterday

(datetime.date(2022, 7, 7), datetime.date(2022, 7, 4))

In [3]:
sql = '''
SELECT * FROM setindex WHERE setindex IS Null'''
df = pd.read_sql(sql, const)
df

setindex = pd.read_sql(sql, const)
setindex

         date setindex
0  2022-07-07     None

In [4]:
setindex = 1562.37
sqlUpd = """
UPDATE setindex
SET setindex = %s WHERE setindex IS Null"""
sqlUpd = sqlUpd % setindex
print(sqlUpd)

UPDATE setindex
SET setindex = 1562.37 WHERE setindex IS Null

In [5]:
rp = const.execute(sqlUpd)
rp.rowcount

1

### Restart and run all cells

### Begin of Tables in the process

In [6]:
cols = "name market price_x maxp max_price qty".split()
colv = "name market price_x minp min_price qty".split()
colt = 'name pct price_x price_y status diff'.split()
colu = "name prc_pct tdy_price avg_price qty_pct tdy_qty avg_qty".split()

In [7]:
format_dict = {
    'setindex':'{:,.2f}',
    
    'qty':'{:,}',    
    'price':'{:.2f}','maxp':'{:.2f}','minp':'{:.2f}','opnp':'{:.2f}',  
    'date':'{:%Y-%m-%d}',
    
    'price_x':'{:.2f}','price_y':'{:.2f}','diff':'{:.2f}', 
    'tdy_price':'{:.2f}','avg_price':'{:.2f}',
    'tdy_qty':'{:,}','avg_qty':'{:,}',
    'prc_pct':'{:,.2f}%','qty_pct':'{:,.2f}%','pct':'{:,.2f}%',
    'qty_x':'{:,}','qty_y':'{:,}',    
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',    
              }

In [8]:
sql = """
SELECT * 
FROM price 
WHERE date = '%s'
ORDER BY name
"""
sql = sql % today
print(sql)

prices = pd.read_sql(sql, const)
prices.tail().style.format(format_dict)

SELECT *
FROM price
WHERE date = '2022-07-07'
ORDER BY name

In [9]:
sql = """
SELECT * 
FROM stocks
ORDER BY name
"""
stocks = pd.read_sql(sql, conpg)
stocks['created_at'] = pd.to_datetime(stocks['created_at'])
stocks['updated_at'] = pd.to_datetime(stocks['updated_at'])
stocks.head().style.format(format_dict)

In [10]:
df_merge = pd.merge(prices, stocks, on="name", how="inner")
df_merge.drop(columns=['id','ticker_id','created_at','updated_at','paid_up','market_cap'],inplace=True)
df_merge.head().style.format(format_dict)

### 52 Weeks High

In [11]:
Yearly_High = (df_merge.maxp > df_merge.max_price) & (df_merge.qty > 100000)
Final_High = df_merge[Yearly_High]
Final_High[cols].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [12]:
'New high today: ' + str(df_merge[Yearly_High].shape[0]) + ' stocks'

'New high today: 1 stocks'

### High or Low by Markets

In [13]:
set50H = Final_High["market"].str.contains("SET50")
Final_High[set50H].sort_values(by=["name"],ascending=["True"]).style.format(format_dict)

In [14]:
set100H = Final_High["market"].str.contains("SET100")
Final_High[set100H].sort_values(by=["name"],ascending=["True"]).style.format(format_dict)

In [15]:
setsmallH = Final_High["market"].str.contains("sSET")
Final_High[setsmallH].sort_values(by=["name"],ascending=["True"]).style.format(format_dict)

In [16]:
maiH = Final_High["market"].str.contains("mai")
Final_High[maiH].sort_values(by=["name"],ascending=["True"]).style.format(format_dict)

### 52 Weeks Low

In [17]:
Yearly_Low = (df_merge.minp < df_merge.min_price) & (df_merge.qty > 100000)
Final_Low = df_merge[Yearly_Low]
Final_Low[colv].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [18]:
'New low today: ' + str(df_merge[Yearly_Low].shape[0]) + ' stocks'

'New low today: 4 stocks'

### High or Low by Markets

In [19]:
set50L = Final_Low["market"].str.contains("SET50")
Final_Low[set50L].sort_values(by=["name"],ascending=["True"]).style.format(format_dict)

In [20]:
set100L = Final_Low["market"].str.contains("SET100")
Final_Low[set100L].sort_values(by=["name"],ascending=["True"]).style.format(format_dict)

In [21]:
setsmallL = Final_Low["market"].str.contains("sSET")
Final_Low[setsmallL].sort_values(by=["name"],ascending=["True"]).style.format(format_dict)

### Break 5-day Average Volume

In [22]:
sql = """
SELECT * 
FROM price 
WHERE date = '%s'
ORDER BY name
"""
sql = sql % today
print(sql)

today_vol = pd.read_sql(sql, const)
today_vol.head().style.format(format_dict)

SELECT *
FROM price
WHERE date = '2022-07-07'
ORDER BY name

In [23]:
from_date = yesterday - timedelta(days=8)
from_date

datetime.date(2022, 6, 26)

In [24]:
sql = """
SELECT * 
FROM price 
WHERE date BETWEEN '%s' AND '%s'
"""
sql = sql % (from_date, yesterday)
print(sql)

five_day_vol = pd.read_sql(sql, const)
five_day_vol.sort_values(by=['name','date'],ascending=[True,True]).head().style.format(format_dict)

SELECT *
FROM price
WHERE date BETWEEN '2022-06-26' AND '2022-07-04'

In [25]:
five_day_mean = five_day_vol.groupby(by=["name"])[["qty","price"]].mean()
five_day_mean.reset_index(inplace=True)

df_merge2 = pd.merge(today_vol, five_day_mean, on=["name"], how="inner")
df_merge2["qty_y"] = df_merge2.qty_y.astype("int64")
df_merge2.head().style.format(format_dict)

In [26]:
break_five_day_mean = df_merge2[(df_merge2.qty_x > df_merge2.qty_y)]
break_five_day_mean.head().style.format(format_dict)

In [27]:
sql = """
SELECT name, date, volbuy, price, dividend 
FROM buy 
WHERE active = 1
"""
buys = pd.read_sql(sql, const)
buys.volbuy = buys.volbuy.astype("int64")
buys.head().style.format(format_dict)

In [28]:
df_merge3 = pd.merge(break_five_day_mean, buys, on=["name"], how="inner")
df_merge3["qty_pct"] = round((df_merge3.qty_x - df_merge3.qty_y) / abs(df_merge3.qty_y) * 100,2)
df_merge3["prc_pct"] = round((df_merge3.price_x - df_merge3.price_y) / abs(df_merge3.price_y) * 100,2)
df_merge3.rename(columns={'price_x':'tdy_price','price_y':'avg_price',
                          'qty_x':'tdy_qty','qty_y':'avg_qty'},inplace=True)
df_merge3[colu].sort_values(["prc_pct"], ascending=False
).style.format(format_dict)

In [29]:
file_name = '5-day-average.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(data_file, index=False)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(output_file, index=False)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(box_file, index=False)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(one_file, index=False)

### Extreme price discrepancy

In [30]:
sql = '''
SELECT name, status
FROM stocks'''
stocks = pd.read_sql(sql, conlite)
stocks.head().style.format(format_dict)

In [31]:
names = stocks["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'MCS', 'PTTGC', 'JASIF', 'DIF', 'WHAIR', 'MEGA', 'GULF', 'TISCO', 'STA', 'SCC', 'NER', 'SYNEX', 'BCH', 'DOHOME', 'SINGER', 'KCE', 'KBANK', 'TMT', 'RCL', 'WHART', 'BBL', 'SCB', 'ASP', 'KKP', 'SCCC', 'SNC', 'MAKRO', 'GLOBAL', 'SENA', 'TPIPL', 'ORI', 'KTC', 'KTB', 'DCC', 'AIT', 'ASK', 'BAY', 'BCPG', 'BH', 'BPP', 'ESSO', 'GGC', 'IVL', 'MST', 'SIS', 'SMPC', 'SPRC', 'TOP', 'RBF', 'COTTO', 'BGC', 'AP', 'BANPU', 'SSP', 'STANLY'"

In [32]:
sql = """
SELECT name, price 
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (today, in_p)
print(sql)

tdy_prices = pd.read_sql(sql, const)
str(tdy_prices.shape[0]) + ' stocks'

SELECT name, price
FROM price
WHERE date = '2022-07-07' AND name IN ('MCS', 'PTTGC', 'JASIF', 'DIF', 'WHAIR', 'MEGA', 'GULF', 'TISCO', 'STA', 'SCC', 'NER', 'SYNEX', 'BCH', 'DOHOME', 'SINGER', 'KCE', 'KBANK', 'TMT', 'RCL', 'WHART', 'BBL', 'SCB', 'ASP', 'KKP', 'SCCC', 'SNC', 'MAKRO', 'GLOBAL', 'SENA', 'TPIPL', 'ORI', 'KTC', 'KTB', 'DCC', 'AIT', 'ASK', 'BAY', 'BCPG', 'BH', 'BPP', 'ESSO', 'GGC', 'IVL', 'MST', 'SIS', 'SMPC', 'SPRC', 'TOP', 'RBF', 'COTTO', 'BGC', 'AP', 'BANPU', 'SSP', 'STANLY')
ORDER BY name

'55 stocks'

In [33]:
sql = """
SELECT name, price 
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (yesterday, in_p)
print(sql)

ytd_prices = pd.read_sql(sql, const)
str(ytd_prices.shape[0]) + ' stocks'

SELECT name, price
FROM price
WHERE date = '2022-07-04' AND name IN ('MCS', 'PTTGC', 'JASIF', 'DIF', 'WHAIR', 'MEGA', 'GULF', 'TISCO', 'STA', 'SCC', 'NER', 'SYNEX', 'BCH', 'DOHOME', 'SINGER', 'KCE', 'KBANK', 'TMT', 'RCL', 'WHART', 'BBL', 'SCB', 'ASP', 'KKP', 'SCCC', 'SNC', 'MAKRO', 'GLOBAL', 'SENA', 'TPIPL', 'ORI', 'KTC', 'KTB', 'DCC', 'AIT', 'ASK', 'BAY', 'BCPG', 'BH', 'BPP', 'ESSO', 'GGC', 'IVL', 'MST', 'SIS', 'SMPC', 'SPRC', 'TOP', 'RBF', 'COTTO', 'BGC', 'AP', 'BANPU', 'SSP', 'STANLY')
ORDER BY name

'55 stocks'

In [34]:
compare1 = pd.merge(tdy_prices,ytd_prices,on='name',how='inner')
compare1.head().style.format(format_dict)

In [35]:
compare2 = pd.merge(compare1,stocks,on='name',how='inner')
compare2.head().style.format(format_dict)

In [36]:
compare2['diff'] = round((compare2.price_x - compare2.price_y),2)
compare2['pct'] = round(compare2['diff'] / compare2['price_y'] * 100,2)
compare2[colt].sort_values(['pct'],ascending=[False]).head().style.format(format_dict)

In [37]:
criteria = 3
mask = abs(compare2.pct) >= criteria
extremes = compare2[mask].sort_values(['status','pct'],ascending=[True,False])
extremes[colt].sort_values(['status','pct'],ascending=[True,False]).style.format(format_dict)

In [38]:
file_name = 'extremes.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

extremes[colt].sort_values(['status','pct'],ascending=[True,False]).to_csv(data_file, index=False)
extremes[colt].sort_values(['status','pct'],ascending=[True,False]).to_csv(output_file, index=False)
extremes[colt].sort_values(['status','pct'],ascending=[True,False]).to_csv(box_file, index=False)
extremes[colt].sort_values(['status','pct'],ascending=[True,False]).to_csv(one_file, index=False)