### Restart and Run All Cells

In [9]:
import calendar
import pandas as pd
from datetime import datetime, timedelta, date
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "C:/www.santiwebsite.com/V1-Rename-Files/any/V1/csv/"
pd.set_option('display.float_format','{:,.3f}'.format)

def posix_time(dt):
    return (dt - datetime(1970, 1, 1)) / timedelta(milliseconds=1)

today = date.today()
today

datetime.date(2022, 3, 24)

### Upload prices by specified names

In [6]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
df = pd.read_sql(sql, const)
names = df['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'RATCH', 'KCE', 'MCS', 'DIF', 'TMT', 'MAKRO', 'WHART', 'BCH', 'SINGER', 'DOHOME', 'JASIF', 'ASP', 'TISCO', 'PTTGC', 'HREIT', 'SIS', 'SPALI', 'SCCC', 'PTT', 'NER', 'TPIPL', 'AIMIRT', 'CPNCG', 'SYNEX', 'SCC', 'RCL', 'RJH', 'IP'"

In [8]:
sql = """
SELECT * 
FROM price 
WHERE  name IN (%s) 
ORDER BY name, date"""
sql = sql % (in_p)
print(sql)

SELECT *
FROM price
WHERE  name IN ('STA', 'RATCH', 'KCE', 'MCS', 'DIF', 'TMT', 'MAKRO', 'WHART', 'BCH', 'SINGER', 'DOHOME', 'JASIF', 'ASP', 'TISCO', 'PTTGC', 'HREIT', 'SIS', 'SPALI', 'SCCC', 'PTT', 'NER', 'TPIPL', 'AIMIRT', 'CPNCG', 'SYNEX', 'SCC', 'RCL', 'RJH', 'IP')
ORDER BY name, date

In [11]:
for name in names:
    sql = """
    SELECT date, opnp, maxp, minp, price, qty 
    FROM price 
    WHERE name = '%s' 
    ORDER BY date"""    
    sql = sql % name
    df_tmp = pd.read_sql(sql, const)
    file_name = name + ".csv"
    data_file = data_path + file_name
    df_price = df_tmp 
    df_price.to_csv(data_file, header=None, index=False)