##### port_lite: stocks
##### portpg: stocks
##### stock: setindex, price, buy
##### output csv: 5-day_average, extreme

In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {
               'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
               'price_x':'{:,.2f}','to_price':'{:,.2f}','price_y':'{:,.2f}',
               'maxp':'{:,.2f}','max_price':'{:,.2f}',
               'minp':'{:,.2f}','price':'{:,.2f}','opnp':'{:,.2f}',    
               'inc_pct':'{:,.2f}','setindex':'{:,.2f}','prc_pct':'{:,.2f}',
               'qty':'{:,}','qty_x':'{:,}','qty_z':'{:,}'
              }
pd.set_option("display.max_rows", None)

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2021, 12, 29), datetime.date(2021, 12, 28))

In [2]:
#today = today - timedelta(days=1)
#yesterday = today - timedelta(days=3)
today, yesterday

(datetime.date(2021, 12, 29), datetime.date(2021, 12, 28))

### Restart and run all cells

In [3]:
sql = """
SELECT * 
FROM setindex 
WHERE date = '%s'
"""
sql = sql % today

setindex = pd.read_sql(sql, const)
setindex.style.format(format_dict)

In [4]:
sql = """
SELECT * 
FROM price 
WHERE date = '%s'
"""
sql = sql % today

prices = pd.read_sql(sql, const)
prices.shape

(353, 7)

In [5]:
sql = """
SELECT * 
FROM stocks
"""
stocks = pd.read_sql(sql, conpg)
stocks.shape

(356, 15)

In [6]:
df_merge = pd.merge(prices, stocks, on="name", how="inner")
df_merge.shape

(352, 21)

### 52 Weeks High

In [7]:
cols = "name market price_x maxp max_price qty".split()

In [8]:
Yearly_High = (df_merge.maxp > df_merge.max_price) & (df_merge.qty > 100000)
df_merge[Yearly_High][cols].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

### 52 Weeks Low

In [9]:
colt = "name market price_x minp min_price qty".split()

In [10]:
Yearly_Low = (df_merge.minp < df_merge.min_price) & (df_merge.qty > 100000)
Final_Low = df_merge[Yearly_Low]
Final_Low[colt].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [11]:
set50 = Final_Low["market"].str.contains("SET50")
Final_Low[set50].sort_values(by=["name"],ascending=["True"])

Empty DataFrame
Columns: [name, date, price_x, maxp, minp, qty, opnp, id, market, price_y, max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, created_at, updated_at]
Index: []

[0 rows x 21 columns]

In [12]:
set100 = Final_Low["market"].str.contains("SET100")
Final_Low[set100].sort_values(by=["name"],ascending=["True"])

,name,date,price_x,maxp,minp,qty,opnp,id,market,price_y,...,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
34,TQM,2021-12-29,96.75,98.25,95.5,1179637,98.0,664,SET100,97.5,...,97.5,34.16,12.62,300.0,29250.0,123.23,0.52,657,2019-03-03 15:23:17.869724,2021-12-29 00:05:12.015010

In [13]:
sethd = Final_Low["market"].str.contains("SETHD")
Final_Low[sethd]

Empty DataFrame
Columns: [name, date, price_x, maxp, minp, qty, opnp, id, market, price_y, max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, created_at, updated_at]
Index: []

[0 rows x 21 columns]

### Break 5-day Average Volume

In [14]:
sql = """
SELECT * 
FROM price 
WHERE date = '%s'
"""
sql = sql % today

today_vol = pd.read_sql(sql, const)
today_vol.shape

(353, 7)

In [15]:
from_date = yesterday - timedelta(days=4)
from_date

datetime.date(2021, 12, 24)

In [16]:
sql = """
SELECT * 
FROM price 
WHERE date BETWEEN '%s' AND '%s'
"""
sql = sql % (from_date, yesterday)
print(sql)

SELECT *
FROM price
WHERE date BETWEEN '2021-12-24' AND '2021-12-28'

In [17]:
five_day_vol = pd.read_sql(sql, const)
five_day_vol.shape

(1060, 7)

In [18]:
five_day_mean = five_day_vol.groupby(by=["name"])[["qty","price"]].mean()
five_day_mean.reset_index(inplace=True)

df_merge2 = pd.merge(today_vol, five_day_mean, on=["name"], how="inner")
df_merge2["qty_z"] = df_merge2.qty_y.astype("int64")
df_merge2.shape

(353, 10)

In [19]:
break_five_day_mean = df_merge2[(df_merge2.qty_x > df_merge2.qty_z)]
break_five_day_mean.shape

(165, 10)

In [20]:
sql = """
SELECT * 
FROM buy 
WHERE active = 1
"""
buys = pd.read_sql(sql, const)
buys.shape

(34, 10)

In [21]:
df_merge3 = pd.merge(break_five_day_mean, buys, on=["name"], how="inner")
df_merge3["inc_pct"] = round((df_merge3.qty_x - df_merge3.qty_z) / abs(df_merge3.qty_z) * 100,2)
df_merge3["prc_pct"] = round((df_merge3.price_x - df_merge3.price_y) / abs(df_merge3.price_y) * 100,2)
df_merge3["name prc_pct price_x price_y inc_pct qty_x qty_z".split()].sort_values(["prc_pct"], ascending=False
).style.format(format_dict)

In [22]:
file_name = '5-day-average.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/5-day-average.csv',
 '\\Users\\User\\iCloudDrive\\5-day-average.csv',
 '\\Users\\User\\Dropbox\\5-day-average.csv')

In [23]:
colu = "name prc_pct price_x price_y inc_pct qty_x qty_z".split()

In [24]:
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(data_file)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(output_file)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(box_file)

### Extreme price discrepancy

In [25]:
sql = '''
SELECT name, status
FROM stocks'''
stocks = pd.read_sql(sql, conlite)
stocks.shape[0]

53

In [26]:
sr = stocks["name"]
sr.shape

(53,)

In [27]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'MCS', 'PTTGC', 'IVL', 'JASIF', 'DIF', 'ROJNA', 'NOBLE', 'TU', 'DCC', 'HREIT', 'MEGA', 'JMT', 'GULF', 'TISCO', 'SIS', 'TQM', 'STA', 'RATCH', 'SCC', 'NER', 'SYNEX', 'BCH', 'DOHOME', 'PTT', 'RJH', 'SINGER', 'KCE', 'EPG', 'SAT', 'KBANK', 'VNT', 'BGRIM', 'TMT', 'STARK', 'RCL', 'TYCN', 'IP', 'BLA', 'CKP', 'SPALI', 'SVI', 'TOP', 'TSE', 'GLOBAL', 'PTL', 'TSTH', 'ASK', 'IMH', 'TKS', 'TCAP', 'WHART', 'TVO', 'BGC'"

In [28]:
sql = """
SELECT name, price 
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (today, in_p)
tdy_prices = pd.read_sql(sql, const)
tdy_prices.shape[0]

53

In [29]:
sql = """
SELECT name, price 
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (yesterday, in_p)
print(sql)

SELECT name, price
FROM price
WHERE date = '2021-12-28' AND name IN ('MCS', 'PTTGC', 'IVL', 'JASIF', 'DIF', 'ROJNA', 'NOBLE', 'TU', 'DCC', 'HREIT', 'MEGA', 'JMT', 'GULF', 'TISCO', 'SIS', 'TQM', 'STA', 'RATCH', 'SCC', 'NER', 'SYNEX', 'BCH', 'DOHOME', 'PTT', 'RJH', 'SINGER', 'KCE', 'EPG', 'SAT', 'KBANK', 'VNT', 'BGRIM', 'TMT', 'STARK', 'RCL', 'TYCN', 'IP', 'BLA', 'CKP', 'SPALI', 'SVI', 'TOP', 'TSE', 'GLOBAL', 'PTL', 'TSTH', 'ASK', 'IMH', 'TKS', 'TCAP', 'WHART', 'TVO', 'BGC')
ORDER BY name

In [30]:
ytd_prices = pd.read_sql(sql, const)
ytd_prices.shape[0]

53

In [31]:
compare1 = pd.merge(tdy_prices,ytd_prices,on='name',how='inner')
compare1

      name  price_x  price_y
0      ASK    44.00    42.75
1      BCH    20.30    20.10
2      BGC    10.70    10.40
3    BGRIM    40.00    40.00
4      BLA    35.00    35.75
5      CKP     5.00     5.05
6      DCC     2.84     2.82
7      DIF    14.00    14.00
8   DOHOME    23.20    23.20
9      EPG    11.10    11.00
10  GLOBAL    20.20    20.20
11    GULF    44.00    44.00
12   HREIT     9.05     8.85
13     IMH    12.50    11.40
14      IP    19.40    19.40
15     IVL    43.00    42.75
16   JASIF    10.30    10.30
17     JMT    67.50    67.50
18   KBANK   142.00   141.00
19     KCE    89.00    89.50
20     MCS    14.80    14.80
21    MEGA    52.00    52.00
22     NER     7.05     7.05
23   NOBLE     6.15     6.10
24     PTL    23.70    23.90
25     PTT    38.25    38.00
26   PTTGC    58.50    58.25
27   RATCH    45.00    45.25
28     RCL    49.00    48.75
29     RJH    33.00    32.75
30   ROJNA     6.55     6.55
31     SAT    21.50    21.40
32     SCC   388.00   382.00
33  SINGER    50.50    51.75
34     SIS    44.00    43.25
35   SPALI    22.60    22.50
36     STA    31.25    31.00
37   STARK     4.76     4.80
38     SVI     7.80     7.60
39   SYNEX    35.25    33.75
40    TCAP    37.75    37.75
41   TISCO    95.75    95.25
42     TKS    15.10    14.80
43     TMT    10.20    10.10
44     TOP    49.75    49.25
45     TQM    96.75    97.50
46     TSE     2.62     2.60
47    TSTH     1.46     1.46
48      TU    19.60    19.30
49     TVO    30.75    30.25
50    TYCN     3.60     3.58
51     VNT    38.50    38.50
52   WHART    12.70    12.80

In [32]:
compare2 = pd.merge(compare1,stocks,on='name',how='inner')
compare2

      name  price_x  price_y status
0      ASK    44.00    42.75      X
1      BCH    20.30    20.10      U
2      BGC    10.70    10.40      O
3    BGRIM    40.00    40.00      I
4      BLA    35.00    35.75      X
5      CKP     5.00     5.05      I
6      DCC     2.84     2.82      I
7      DIF    14.00    14.00      I
8   DOHOME    23.20    23.20      B
9      EPG    11.10    11.00      U
10  GLOBAL    20.20    20.20      B
11    GULF    44.00    44.00      X
12   HREIT     9.05     8.85      T
13     IMH    12.50    11.40      I
14      IP    19.40    19.40      U
15     IVL    43.00    42.75      I
16   JASIF    10.30    10.30      T
17     JMT    67.50    67.50      X
18   KBANK   142.00   141.00      I
19     KCE    89.00    89.50      U
20     MCS    14.80    14.80      T
21    MEGA    52.00    52.00      X
22     NER     7.05     7.05      I
23   NOBLE     6.15     6.10      B
24     PTL    23.70    23.90      X
25     PTT    38.25    38.00      B
26   PTTGC    58.50    58.25      S
27   RATCH    45.00    45.25      B
28     RCL    49.00    48.75      I
29     RJH    33.00    32.75      I
30   ROJNA     6.55     6.55      O
31     SAT    21.50    21.40      I
32     SCC   388.00   382.00      U
33  SINGER    50.50    51.75      X
34     SIS    44.00    43.25      B
35   SPALI    22.60    22.50      X
36     STA    31.25    31.00      B
37   STARK     4.76     4.80      X
38     SVI     7.80     7.60      X
39   SYNEX    35.25    33.75      O
40    TCAP    37.75    37.75      O
41   TISCO    95.75    95.25      B
42     TKS    15.10    14.80      X
43     TMT    10.20    10.10      T
44     TOP    49.75    49.25      I
45     TQM    96.75    97.50      X
46     TSE     2.62     2.60      X
47    TSTH     1.46     1.46      I
48      TU    19.60    19.30      I
49     TVO    30.75    30.25      O
50    TYCN     3.60     3.58      U
51     VNT    38.50    38.50      I
52   WHART    12.70    12.80      O

In [33]:
colt = 'name pct price_x price_y status diff'.split()
compare2['diff'] = round((compare2.price_x - compare2.price_y)*1,2)
compare2['pct'] = round(compare2['diff'] / compare2['price_y'] * 100,2)
#compare2.set_index('name',inplace=True)
compare2[colt].sort_values(['pct'],ascending=[False])

      name   pct  price_x  price_y status  diff
13     IMH  9.65    12.50    11.40      I  1.10
39   SYNEX  4.44    35.25    33.75      O  1.50
0      ASK  2.92    44.00    42.75      X  1.25
2      BGC  2.88    10.70    10.40      O  0.30
38     SVI  2.63     7.80     7.60      X  0.20
12   HREIT  2.26     9.05     8.85      T  0.20
42     TKS  2.03    15.10    14.80      X  0.30
34     SIS  1.73    44.00    43.25      B  0.75
49     TVO  1.65    30.75    30.25      O  0.50
32     SCC  1.57   388.00   382.00      U  6.00
48      TU  1.55    19.60    19.30      I  0.30
44     TOP  1.02    49.75    49.25      I  0.50
1      BCH  1.00    20.30    20.10      U  0.20
43     TMT  0.99    10.20    10.10      T  0.10
9      EPG  0.91    11.10    11.00      U  0.10
23   NOBLE  0.82     6.15     6.10      B  0.05
36     STA  0.81    31.25    31.00      B  0.25
46     TSE  0.77     2.62     2.60      X  0.02
29     RJH  0.76    33.00    32.75      I  0.25
18   KBANK  0.71   142.00   141.00      I  1.00
6      DCC  0.71     2.84     2.82      I  0.02
25     PTT  0.66    38.25    38.00      B  0.25
15     IVL  0.58    43.00    42.75      I  0.25
50    TYCN  0.56     3.60     3.58      U  0.02
41   TISCO  0.52    95.75    95.25      B  0.50
28     RCL  0.51    49.00    48.75      I  0.25
31     SAT  0.47    21.50    21.40      I  0.10
35   SPALI  0.44    22.60    22.50      X  0.10
26   PTTGC  0.43    58.50    58.25      S  0.25
14      IP  0.00    19.40    19.40      U  0.00
8   DOHOME  0.00    23.20    23.20      B  0.00
51     VNT  0.00    38.50    38.50      I  0.00
22     NER  0.00     7.05     7.05      I  0.00
3    BGRIM  0.00    40.00    40.00      I  0.00
21    MEGA  0.00    52.00    52.00      X  0.00
20     MCS  0.00    14.80    14.80      T  0.00
47    TSTH  0.00     1.46     1.46      I  0.00
7      DIF  0.00    14.00    14.00      I  0.00
17     JMT  0.00    67.50    67.50      X  0.00
16   JASIF  0.00    10.30    10.30      T  0.00
40    TCAP  0.00    37.75    37.75      O  0.00
30   ROJNA  0.00     6.55     6.55      O  0.00
11    GULF  0.00    44.00    44.00      X  0.00
10  GLOBAL  0.00    20.20    20.20      B  0.00
27   RATCH -0.55    45.00    45.25      B -0.25
19     KCE -0.56    89.00    89.50      U -0.50
45     TQM -0.77    96.75    97.50      X -0.75
52   WHART -0.78    12.70    12.80      O -0.10
37   STARK -0.83     4.76     4.80      X -0.04
24     PTL -0.84    23.70    23.90      X -0.20
5      CKP -0.99     5.00     5.05      I -0.05
4      BLA -2.10    35.00    35.75      X -0.75
33  SINGER -2.42    50.50    51.75      X -1.25

In [34]:
criteria = 3
mask = abs(compare2.pct) >= criteria
extremes = compare2[mask].sort_values(['status','pct'],ascending=[True,False])
extremes[colt].sort_values(['status','name'],ascending=[True,True])

     name   pct  price_x  price_y status  diff
13    IMH  9.65    12.50    11.40      I   1.1
39  SYNEX  4.44    35.25    33.75      O   1.5

In [35]:
file_name = 'extremes.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/extremes.csv',
 '\\Users\\User\\iCloudDrive\\extremes.csv',
 '\\Users\\User\\Dropbox\\extremes.csv')

In [36]:
extremes[colt].sort_values(['status','name'],ascending=[True,True]).to_csv(data_file)
extremes[colt].sort_values(['status','name'],ascending=[True,True]).to_csv(output_file)
extremes[colt].sort_values(['status','name'],ascending=[True,True]).to_csv(box_file)

### One week modal values

In [37]:
#eow = date(2021, 8, 13)
eow = today
bow = eow - timedelta(days=13)
bow, eow

(datetime.date(2021, 12, 16), datetime.date(2021, 12, 29))

In [38]:
name = 'PTTGC'
sql = """
SELECT * 
FROM price 
WHERE date BETWEEN '%s' AND '%s' AND name = '%s' 
ORDER BY date DESC"""
sql = sql % (bow, eow, name)
prices = pd.read_sql(sql, const)
prices.style.format(format_dict)

In [39]:
prices.minp.value_counts(normalize=True)

58.00    0.4
57.75    0.2
57.50    0.2
57.25    0.1
58.50    0.1
Name: minp, dtype: float64

In [40]:
prices.maxp.value_counts(normalize=True)

58.75    0.4
58.50    0.3
58.25    0.1
59.50    0.1
59.00    0.1
Name: maxp, dtype: float64