##### port_lite: stocks
##### portpg: stocks
##### stock: setindex, price, buy
##### output csv: 5-day_average, extreme

In [4]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

pd.set_option("display.max_rows", None)

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 1, 5), datetime.date(2022, 1, 4))

In [2]:
#today = today - timedelta(days=1)
#yesterday = today - timedelta(days=5)
today, yesterday

(datetime.date(2022, 1, 5), datetime.date(2022, 1, 4))

### Restart and run all cells

In [5]:
cols = "name market price_x maxp max_price qty".split()
colt = 'name pct price_x price_y status diff'.split()
colu = "name prc_pct price_x price_y inc_pct qty_x qty_z".split()
colv = "name market price_x minp min_price qty".split()

In [6]:
format_dict = {
               'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
               'price_x':'{:,.2f}','price_y':'{:,.2f}','to_price':'{:,.2f}',
               'maxp':'{:,.2f}','max_price':'{:,.2f}','minp':'{:,.2f}','min_price':'{:,.2f}',
               'price':'{:,.2f}','opnp':'{:,.2f}','pe':'{:,.2f}','pbv':'{:,.2f}',  
               'paid_up':'{:,.2f}','market_cap':'{:,.2f}','daily_volume':'{:,.2f}','beta':'{:,.2f}',
               'inc_pct':'{:,.2f}','setindex':'{:,.2f}','prc_pct':'{:,.2f}%',
               'qty':'{:,}','qty_x':'{:,}','qty_z':'{:,}'
              }

In [7]:
sql = """
SELECT * 
FROM setindex 
WHERE date = '%s'
"""
sql = sql % today
print(sql)

setindex = pd.read_sql(sql, const)
setindex.style.format(format_dict)

SELECT *
FROM setindex
WHERE date = '2022-01-05'

In [8]:
sql = """
SELECT * 
FROM price 
WHERE date = '%s'
"""
sql = sql % today
print(sql)

prices = pd.read_sql(sql, const)
prices.shape

SELECT *
FROM price
WHERE date = '2022-01-05'

(336, 7)

In [9]:
sql = """
SELECT * 
FROM stocks
"""
stocks = pd.read_sql(sql, conpg)
stocks.shape

(338, 15)

In [10]:
df_merge = pd.merge(prices, stocks, on="name", how="inner")
df_merge.shape

(335, 21)

### 52 Weeks High

In [11]:
Yearly_High = (df_merge.maxp > df_merge.max_price) & (df_merge.qty > 100000)
df_merge[Yearly_High][cols].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [12]:
'New high today: ' + str(df_merge[Yearly_High].shape[0]) + ' stocks'

'New high today: 19 stocks'

### 52 Weeks Low

In [13]:
Yearly_Low = (df_merge.minp < df_merge.min_price) & (df_merge.qty > 100000)
Final_Low = df_merge[Yearly_Low]
Final_Low[colv].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [14]:
'New low today: ' + str(df_merge[Yearly_Low].shape[0]) + ' stocks'

'New low today: 2 stocks'

In [15]:
set50 = Final_Low["market"].str.contains("SET50")
Final_Low[set50].sort_values(by=["name"],ascending=["True"]).style.format(format_dict)

In [16]:
set100 = Final_Low["market"].str.contains("SET100")
Final_Low[set100].sort_values(by=["name"],ascending=["True"]).style.format(format_dict)

In [17]:
sethd = Final_Low["market"].str.contains("SETHD")
Final_Low[sethd].style.format(format_dict)

### Break 5-day Average Volume

In [18]:
sql = """
SELECT * 
FROM price 
WHERE date = '%s'
"""
sql = sql % today

today_vol = pd.read_sql(sql, const)
today_vol.shape

(336, 7)

In [21]:
from_date = yesterday - timedelta(days=8)
from_date

datetime.date(2021, 12, 27)

In [23]:
sql = """
SELECT * 
FROM price 
WHERE date BETWEEN '%s' AND '%s'
"""
sql = sql % (from_date, yesterday)
print(sql)

five_day_vol = pd.read_sql(sql, const)
five_day_vol.shape

SELECT *
FROM price
WHERE date BETWEEN '2021-12-27' AND '2022-01-04'

(1681, 7)

In [24]:
five_day_mean = five_day_vol.groupby(by=["name"])[["qty","price"]].mean()
five_day_mean.reset_index(inplace=True)

df_merge2 = pd.merge(today_vol, five_day_mean, on=["name"], how="inner")
df_merge2["qty_z"] = df_merge2.qty_y.astype("int64")
df_merge2.shape

(336, 10)

In [25]:
break_five_day_mean = df_merge2[(df_merge2.qty_x > df_merge2.qty_z)]
break_five_day_mean.shape

(191, 10)

In [26]:
sql = """
SELECT * 
FROM buy 
WHERE active = 1
"""
buys = pd.read_sql(sql, const)
buys.shape

(34, 10)

In [27]:
df_merge3 = pd.merge(break_five_day_mean, buys, on=["name"], how="inner")
df_merge3["inc_pct"] = round((df_merge3.qty_x - df_merge3.qty_z) / abs(df_merge3.qty_z) * 100,2)
df_merge3["prc_pct"] = round((df_merge3.price_x - df_merge3.price_y) / abs(df_merge3.price_y) * 100,2)
df_merge3["name prc_pct price_x price_y inc_pct qty_x qty_z".split()].sort_values(["prc_pct"], ascending=False
).style.format(format_dict)

In [28]:
file_name = '5-day-average.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(data_file)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(output_file)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(box_file)

### Extreme price discrepancy

In [29]:
sql = '''
SELECT name, status
FROM stocks'''
stocks = pd.read_sql(sql, conlite)
stocks.shape[0]

52

In [30]:
names = stocks["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'MCS', 'PTTGC', 'IVL', 'JASIF', 'DIF', 'ROJNA', 'NOBLE', 'TU', 'DCC', 'HREIT', 'MEGA', 'JMT', 'GULF', 'TISCO', 'SIS', 'TQM', 'STA', 'RATCH', 'SCC', 'NER', 'SYNEX', 'BCH', 'DOHOME', 'PTT', 'RJH', 'SINGER', 'KCE', 'EPG', 'SAT', 'KBANK', 'BGRIM', 'TMT', 'STARK', 'RCL', 'TYCN', 'IP', 'BLA', 'CKP', 'SPALI', 'SVI', 'TOP', 'TSE', 'GLOBAL', 'PTL', 'TSTH', 'ASK', 'IMH', 'TKS', 'TCAP', 'WHART', 'TVO', 'BGC'"

In [31]:
sql = """
SELECT name, price 
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (today, in_p)
print(sql)

tdy_prices = pd.read_sql(sql, const)
str(tdy_prices.shape[0]) + ' stocks'

SELECT name, price
FROM price
WHERE date = '2022-01-05' AND name IN ('MCS', 'PTTGC', 'IVL', 'JASIF', 'DIF', 'ROJNA', 'NOBLE', 'TU', 'DCC', 'HREIT', 'MEGA', 'JMT', 'GULF', 'TISCO', 'SIS', 'TQM', 'STA', 'RATCH', 'SCC', 'NER', 'SYNEX', 'BCH', 'DOHOME', 'PTT', 'RJH', 'SINGER', 'KCE', 'EPG', 'SAT', 'KBANK', 'BGRIM', 'TMT', 'STARK', 'RCL', 'TYCN', 'IP', 'BLA', 'CKP', 'SPALI', 'SVI', 'TOP', 'TSE', 'GLOBAL', 'PTL', 'TSTH', 'ASK', 'IMH', 'TKS', 'TCAP', 'WHART', 'TVO', 'BGC')
ORDER BY name

'52 stocks'

In [32]:
sql = """
SELECT name, price 
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (yesterday, in_p)
print(sql)

ytd_prices = pd.read_sql(sql, const)
str(ytd_prices.shape[0]) + ' stocks'

SELECT name, price
FROM price
WHERE date = '2022-01-04' AND name IN ('MCS', 'PTTGC', 'IVL', 'JASIF', 'DIF', 'ROJNA', 'NOBLE', 'TU', 'DCC', 'HREIT', 'MEGA', 'JMT', 'GULF', 'TISCO', 'SIS', 'TQM', 'STA', 'RATCH', 'SCC', 'NER', 'SYNEX', 'BCH', 'DOHOME', 'PTT', 'RJH', 'SINGER', 'KCE', 'EPG', 'SAT', 'KBANK', 'BGRIM', 'TMT', 'STARK', 'RCL', 'TYCN', 'IP', 'BLA', 'CKP', 'SPALI', 'SVI', 'TOP', 'TSE', 'GLOBAL', 'PTL', 'TSTH', 'ASK', 'IMH', 'TKS', 'TCAP', 'WHART', 'TVO', 'BGC')
ORDER BY name

'52 stocks'

In [33]:
compare1 = pd.merge(tdy_prices,ytd_prices,on='name',how='inner')
compare1.shape[0]

52

In [34]:
compare2 = pd.merge(compare1,stocks,on='name',how='inner')
compare2.shape[0]

52

In [35]:
compare2['diff'] = round((compare2.price_x - compare2.price_y)*1,2)
compare2['pct'] = round(compare2['diff'] / compare2['price_y'] * 100,2)
compare2[colt].sort_values(['pct'],ascending=[False]).shape[0]

52

In [36]:
criteria = 3
mask = abs(compare2.pct) >= criteria
extremes = compare2[mask].sort_values(['status','pct'],ascending=[True,False])
extremes[colt].sort_values(['status','pct'],ascending=[True,False])

   name    pct  price_x  price_y status  diff
13  IMH  12.30    13.70    12.20      B  1.50
34  SIS  -4.71    45.50    47.75      B -2.25
15  IVL   5.17    45.75    43.50      I  2.25
44  TOP   4.00    52.00    50.00      I  2.00
42  TKS   3.14    16.40    15.90      X  0.50

In [37]:
file_name = 'extremes.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

extremes[colt].sort_values(['status','pct'],ascending=[True,False]).to_csv(data_file)
extremes[colt].sort_values(['status','pct'],ascending=[True,False]).to_csv(output_file)
extremes[colt].sort_values(['status','pct'],ascending=[True,False]).to_csv(box_file)

### Two weeks modal values

In [41]:
name = 'EPG'
sql = """
SELECT * 
FROM price 
WHERE name = '%s' 
ORDER BY date DESC
LIMIT 10"""
sql = sql % (name)
print(sql)

prices = pd.read_sql(sql, const)
prices.style.format(format_dict)

SELECT *
FROM price
WHERE name = 'EPG'
ORDER BY date DESC
LIMIT 10

In [42]:
prices.minp.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [43]:
prices.maxp.value_counts(normalize=True).to_frame().style.format('{:.2%}')