##### SQLite port_lite database: stocks table
##### PostgreSQL portpg database: stocks table
##### MySQL stock database: setindex, price, buy tables
##### output csv: 5-day_average, extreme

In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

pd.set_option("display.max_rows", None)

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 2, 2), datetime.date(2022, 2, 1))

In [2]:
#today = today - timedelta(days=1)
#yesterday = today - timedelta(days=3)
today, yesterday

(datetime.date(2022, 2, 2), datetime.date(2022, 2, 1))

### Two weeks modal values

In [3]:
name = 'IP'
sql = """
SELECT * 
FROM price 
WHERE name = '%s' 
ORDER BY date DESC
LIMIT 10"""
sql = sql % (name)
print(sql)

prices = pd.read_sql(sql, const)
prices

SELECT *
FROM price
WHERE name = 'IP'
ORDER BY date DESC
LIMIT 10

  name        date  price  maxp  minp      qty  opnp
0   IP  2022-02-02   22.5  22.9  21.9  4508590  21.9
1   IP  2022-02-01   22.0  22.0  21.7   968915  22.0
2   IP  2022-01-31   22.0  22.0  21.0  5761252  21.0
3   IP  2022-01-28   21.2  21.6  20.9  1306447  20.9
4   IP  2022-01-27   20.8  21.0  20.6   726572  20.9
5   IP  2022-01-26   21.0  21.5  20.5  1609567  21.0
6   IP  2022-01-25   20.8  21.6  20.8  1896945  21.3
7   IP  2022-01-24   21.3  21.7  21.0  3619630  21.4
8   IP  2022-01-21   21.0  21.3  20.6  2419547  21.1
9   IP  2022-01-20   20.9  21.2  20.4  3378435  20.9

In [4]:
prices.minp.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [5]:
prices.maxp.value_counts(normalize=True).to_frame().style.format('{:.2%}')