##### SQLite port_lite database: stocks table
##### PostgreSQL portpg database: stocks table
##### MySQL stock database: setindex, price, buy tables
##### output csv: 5-day_average, extreme

In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

pd.set_option("display.max_rows", None)

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 1, 25), datetime.date(2022, 1, 24))

In [2]:
#today = today - timedelta(days=1)
#yesterday = today - timedelta(days=3)
today, yesterday

(datetime.date(2022, 1, 25), datetime.date(2022, 1, 24))

### Two weeks modal values

In [3]:
name = 'TSTH'
sql = """
SELECT * 
FROM price 
WHERE name = '%s' 
ORDER BY date DESC
LIMIT 10"""
sql = sql % (name)
print(sql)

prices = pd.read_sql(sql, const)
prices

SELECT *
FROM price
WHERE name = 'TSTH'
ORDER BY date DESC
LIMIT 10

   name        date  price  maxp  minp        qty  opnp
0  TSTH  2022-01-25   1.37  1.38  1.35   15119086  1.35
1  TSTH  2022-01-24   1.35  1.48  1.35   57918764  1.47
2  TSTH  2022-01-21   1.46  1.60  1.45  125783935  1.60
3  TSTH  2022-01-20   1.61  1.65  1.61   19919967  1.61
4  TSTH  2022-01-19   1.62  1.63  1.60    9524667  1.61
5  TSTH  2022-01-18   1.61  1.65  1.60   20263301  1.64
6  TSTH  2022-01-17   1.63  1.67  1.60   41563153  1.60
7  TSTH  2022-01-14   1.59  1.60  1.58    9588400  1.60
8  TSTH  2022-01-13   1.60  1.62  1.58   21965983  1.59
9  TSTH  2022-01-12   1.58  1.62  1.56   35089994  1.61

In [4]:
prices.minp.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [5]:
prices.maxp.value_counts(normalize=True).to_frame().style.format('{:.2%}')