In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {
               'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
               'price_x':'{:,.2f}','to_price':'{:,.2f}','price_y':'{:,.2f}','diff':'{:,.2f}',
               'maxp':'{:,.2f}','max_price':'{:,.2f}',
               'minp':'{:,.2f}','price':'{:,.2f}','opnp':'{:,.2f}',    
               'inc_pct':'{:,.2f}','setindex':'{:,.2f}','prc_pct':'{:,.2f}','pct':'{:,.2f}%',
               'qty':'{:,}','qty_x':'{:,}','qty_z':'{:,}'
              }
pd.set_option("display.max_rows", None)

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2021, 12, 30), datetime.date(2021, 12, 29))

In [2]:
today = today - timedelta(days=1)
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2021, 12, 29), datetime.date(2021, 12, 28))

### Restart and run all cells

In [3]:
sql = """
SELECT name, price 
FROM price 
WHERE date = '%s'
"""
sql = sql % today

prices_tdy = pd.read_sql(sql, const)
prices_tdy.shape

(353, 2)

In [4]:
sql = """
SELECT MAX(date) AS yty_date
FROM price 
WHERE YEAR(date) = 2020
"""
tmp = pd.read_sql(sql, const)
type(tmp)

pandas.core.frame.DataFrame

In [5]:
dates = tmp['yty_date']
date_str = dates.to_string(index=False)
date_str

'2020-12-30'

In [6]:
sql = """
SELECT name, price 
FROM price 
WHERE date IN ('%s')
"""
sql = sql % date_str
print(sql)

SELECT name, price
FROM price
WHERE date IN ('2020-12-30')

In [7]:
prices_yty = pd.read_sql(sql, const)
prices_yty.shape

(337, 2)

In [8]:
df_merge = pd.merge(prices_tdy, prices_yty, on="name", how="inner")
df_merge['diff'] = df_merge.price_x - df_merge.price_y
df_merge['pct'] = round((df_merge.price_x - df_merge.price_y) / df_merge.price_y * 100,2)
df_merge.tail().style.format(format_dict)

In [9]:
sql = """
SELECT * 
FROM buy 
WHERE active = 1
"""
buys = pd.read_sql(sql, const)
buys.shape

(34, 10)

In [10]:
df_merge1 = pd.merge(df_merge, buys, on=["name"], how="inner")
df_merge1["name price_x price_y diff pct".split()].sort_values(["pct"], ascending=True
).style.format(format_dict)