##### SQLite port_lite database: stocks table
##### PostgreSQL portpg database: stocks table
##### MySQL stock database: setindex, price, buy tables
##### output csv: 5-day_average, extreme

In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

pd.set_option("display.max_rows", None)

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 1, 24), datetime.date(2022, 1, 23))

In [2]:
#today = today - timedelta(days=1)
yesterday = today - timedelta(days=3)
today, yesterday

(datetime.date(2022, 1, 24), datetime.date(2022, 1, 21))

### Two weeks modal values

In [4]:
name = 'IMH'
sql = """
SELECT * 
FROM price 
WHERE name = '%s' 
ORDER BY date DESC
LIMIT 10"""
sql = sql % (name)
print(sql)

prices = pd.read_sql(sql, const)
prices

SELECT *
FROM price
WHERE name = 'IMH'
ORDER BY date DESC
LIMIT 10

  name        date  price  maxp  minp       qty  opnp
0  IMH  2022-01-24   18.6  19.4  18.5   1170868  19.0
1  IMH  2022-01-21   19.1  19.3  18.2   2044089  18.2
2  IMH  2022-01-20   18.4  18.9  18.2    850409  18.9
3  IMH  2022-01-19   18.6  18.8  17.8   1498262  17.8
4  IMH  2022-01-18   18.0  19.1  17.3   5132699  19.1
5  IMH  2022-01-17   18.6  19.8  18.6   3700585  19.7
6  IMH  2022-01-14   19.8  20.1  19.5   2771009  19.6
7  IMH  2022-01-13   19.7  21.1  19.1  15657163  19.4
8  IMH  2022-01-12   19.3  20.1  18.3  11439378  18.3
9  IMH  2022-01-11   18.2  20.6  17.6  21744453  20.1

In [5]:
prices.minp.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [ ]:
prices.maxp.value_counts(normalize=True).to_frame().style.format('{:.2%}')