### Restart and run all cells

### stock: dividend, price

In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {
               'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
               'price_x':'{:,.2f}','to_price':'{:,.2f}',
               'current':'{:,.2f}','div_amt':'{:,.2f}','amount':'{:,.2f}','yield':'{:,.2f}',
               'Q4':'{:,.2f}','Q3':'{:,.2f}','Q2':'{:,.2f}','Q1':'{:,.2f}','DIVIDEND':'{:,.2f}',
               'qty':'{:,}','shares':'{:,}','qty_z':'{:,}'
              }
pd.set_option("display.max_rows", None)

today = date.today()
today

datetime.date(2021, 12, 29)

In [2]:
sql = '''
SELECT *
FROM dividend
ORDER BY name'''
df_dividend = pd.read_sql(sql, const)
df_dividend.shape

(79, 13)

In [3]:
sql = '''
SELECT D.name, P.name
FROM dividend D
LEFT JOIN price P
ON D.name = P.name
AND P.date = "%s"
WHERE P.name IS NULL
'''
sql = sql % today
df_left = pd.read_sql(sql, const)
df_left

Empty DataFrame
Columns: [name, name]
Index: []

### If above statement consists stock names, must delete from dividend as there are no price records

In [4]:
name = 'MCS'

In [5]:
sql = '''
SELECT *
FROM dividend
WHERE name = "%s"'''
sql = sql % name
df_dividend = pd.read_sql(sql, const)
df_dividend

,NAME,Q4,Q3,Q2,Q1,DIVIDEND,PRICE,PERCENT,SHARES,XDATE,PAIDDATE,KIND,ACTUAL
0,MCS,0.6,0.37,0.4,0.0,1.37,0.0,0.0,60000.0,2021-11-25,2021-12-09,None,0

In [6]:
sql = '''
SELECT *
FROM price
WHERE name = "%s"
ORDER BY date DESC'''
sql = sql % name
df_price = pd.read_sql(sql, const)
df_price.head()

  name        date  price  maxp  minp      qty  opnp
0  MCS  2021-12-29   14.8  14.8  14.6  2743214  14.8
1  MCS  2021-12-28   14.8  14.9  14.6  6949930  14.6
2  MCS  2021-12-27   14.5  14.7  14.4  3420083  14.7
3  MCS  2021-12-24   14.6  14.6  14.5   437599  14.6
4  MCS  2021-12-23   14.6  14.6  14.5   613259  14.6

In [7]:
sqlDel = '''
DELETE FROM dividend
WHERE name = "%s"'''
sqlDel = sqlDel % name
#rp = const.execute(sqlDel)
#rp.rowcount

In [8]:
old_name ='TIP'
new_name ='TIPH'

In [9]:
sqlUpd = '''
UPDATE dividend
SET name = "%s"
WHERE name = "%s"
'''
sqlUpd = sqlUpd % (new_name, old_name)
#rp = const.execute(sqlUpd)
#rp.rowcount

### End of Loop

In [10]:
sql = '''
SELECT D.name, Q4, Q3, Q2, Q1, DIVIDEND, shares, DIVIDEND * shares AS div_amt,
P.price AS current, shares*P.price AS amount,
FORMAT(DIVIDEND/P.price*100,2) AS yield, XDATE, PAIDDATE, ACTUAL
FROM dividend D
JOIN price P
WHERE D.name = P.name
AND P.date = "%s"'''
sql = sql % today
print(sql)

SELECT D.name, Q4, Q3, Q2, Q1, DIVIDEND, shares, DIVIDEND * shares AS div_amt,
P.price AS current, shares*P.price AS amount,
FORMAT(DIVIDEND/P.price*100,2) AS yield, XDATE, PAIDDATE, ACTUAL
FROM dividend D
JOIN price P
WHERE D.name = P.name
AND P.date = "2021-12-29"

In [11]:
div_price = pd.read_sql(sql, const)
div_price['yield'] = div_price['yield'].astype(float)
div_price['shares'] = div_price['shares'].astype(int)
div_price.shape

(79, 14)

In [12]:
div_price.nlargest(3, 'div_amt')[['name','div_amt']]

     name   div_amt
35    STA  105000.0
48  JASIF   95000.0
2     MCS   82200.0

In [13]:
y_ovr_X = div_price['yield'] >= 7.00
div_price[y_ovr_X].sort_values(['yield'],ascending=[False]).style.format(format_dict)

In [14]:
not_due = div_price['ACTUAL'] == 1
div_price[not_due].sort_values(['yield'],ascending=[False]).style.format(format_dict)

In [15]:
div_price[y_ovr_X & not_due].sort_values(['XDATE','name'],ascending=[True,True]).style.format(format_dict)

In [16]:
in_port = div_price['shares'] > 0
div_price[in_port].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [17]:
div_price[y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).style.format(format_dict)

In [18]:
dividend = div_price[y_ovr_X & in_port].div_amt.sum()
cost = div_price[y_ovr_X & in_port].amount.sum()
yld = round(dividend / cost * 100,2)
(dividend, cost, yld)

(493886.0, 4942850.0, 9.99)

In [19]:
file_name = 'DIV-OVR-X%.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/DIV-OVR-X%.csv',
 '\\Users\\User\\iCloudDrive\\DIV-OVR-X%.csv',
 '\\Users\\User\\Dropbox\\DIV-OVR-X%.csv')

In [20]:
div_price[y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(data_file)
div_price[y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(output_file)
div_price[y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(box_file)

In [21]:
div_price[~y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).style.format(format_dict)

In [22]:
dividend = div_price[~y_ovr_X & in_port].div_amt.sum()
cost = div_price[~y_ovr_X & in_port].amount.sum()
yld = round(dividend / cost * 100,2)
(dividend, cost, yld)

(157867.5, 5215200.0, 3.03)