#### Restart and Run All

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

format_dict = {
    'daily_volume':'{:,}', 'price':'{:.2f}', 'chg_amt':'{:.2f}', 'chg_pct':'{:.2f}'
}

today = date.today()
today

datetime.date(2022, 8, 24)

In [2]:
df_dailies = pd.read_csv('../data/dailies.csv',usecols=['name','price','chg_amt','chg_pct','daily_volume'])
df_dailies[df_dailies['daily_volume'] == '-']

Empty DataFrame
Columns: [name, price, daily_volume, chg_amt, chg_pct]
Index: []

In [3]:
df_dailies.loc[(df_dailies.daily_volume == '-') ,'daily_volume'] = 0

df_dailies['daily_volume'] = df_dailies['daily_volume'].astype(float)
df_dailies['daily_volume'] = round(df_dailies['daily_volume'] / 1000,0)
df_dailies['daily_volume'] = df_dailies['daily_volume'].astype(int)
df_dailies.dtypes

name             object
price           float64
daily_volume      int32
chg_amt         float64
chg_pct         float64
dtype: object

In [4]:
df_dailies.sort_values(['chg_pct'],ascending=[False]).head(10).style.format(format_dict)

In [5]:
df_dailies.sort_values(['chg_pct'],ascending=[True]).head(10).style.format(format_dict)

In [6]:
df_dailies.sort_values(['daily_volume'],ascending=[False]).head(10).style.format(format_dict)