#### Restart and Run All

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

format_dict = {
    'daily_volume':'{:,}', 'price':'{:.2f}', 'chg_amt':'{:.2f}', 'chg_pct':'{:.2f}'
}

today = date.today()
today

datetime.date(2022, 12, 21)

In [2]:
df_dailies = pd.read_csv('../data/dailies.csv',usecols=['name','price','chg_amt','chg_pct','daily_volume'])
df_dailies.query("daily_volume == '-'")

Empty DataFrame
Columns: [name, price, daily_volume, chg_amt, chg_pct]
Index: []

In [3]:
df_dailies.loc[(df_dailies.daily_volume == '-') ,'daily_volume'] = 0

df_dailies['daily_volume'] = df_dailies['daily_volume'].astype(float)
df_dailies['daily_volume'] = round(df_dailies['daily_volume'] / 1000,0)
df_dailies['daily_volume'] = df_dailies['daily_volume'].astype(int)
df_dailies.dtypes

name             object
price            object
daily_volume      int32
chg_amt          object
chg_pct         float64
dtype: object

In [4]:
df_dailies.query("name == 'DELTA'")

     name   price  daily_volume chg_amt  chg_pct
57  DELTA  718.00          3619  +56.00     8.46

In [5]:
df_dailies.sort_values(['chg_pct'],ascending=[False]).head(10)

       name   price  daily_volume chg_amt  chg_pct
158   SABUY   11.40           414   +1.10    10.68
57    DELTA  718.00          3619  +56.00     8.46
186    STGT    9.30           179   +0.65     7.51
6       AIT    6.55            38   +0.35     5.65
69    FORTH   30.50           143   +1.50     5.17
204     TMT    7.60             9   +0.35     4.83
143     PSH   12.70            55   +0.50     4.10
105     KSL    3.60            17   +0.12     3.45
71   FSMART   12.70            32   +0.40     3.25
159   SAPPE   40.00            24   +1.25     3.23

In [6]:
df_dailies.sort_values(['chg_pct'],ascending=[True]).head(10)

      name  price  daily_volume chg_amt  chg_pct
73    GFPT  12.40           152   -0.70    -5.34
85    ICHI  11.40           137   -0.60    -5.00
12   ASIAN  13.10           109   -0.60    -4.38
224    VGI   4.16           163   -0.16    -3.70
86     III  13.20            23   -0.50    -3.65
132   ONEE   7.95            82   -0.25    -3.05
191  TASCO  16.80           114   -0.50    -2.89
202    TKN  10.70            70   -0.30    -2.73
128    MTC  36.25          1602   -1.00    -2.68
120  MAJOR  18.40           151   -0.50    -2.65

In [7]:
df_dailies.sort_values(['daily_volume'],ascending=[False]).head(10)

       name   price  daily_volume chg_amt  chg_pct
57    DELTA  718.00          3619  +56.00     8.46
34      BJC   33.75          2703   -0.25    -0.74
147     PTT   31.00          2366   -0.25    -0.80
148   PTTEP  166.50          2182    0.00     0.00
128     MTC   36.25          1602   -1.00    -2.68
26     BDMS   28.50          1360   +0.50     1.79
10      AOT   73.25          1189   -0.50    -0.68
50      CPN   68.75          1029   -1.00    -1.43
78     GULF   53.00           934   -0.50    -0.93
1    ADVANC  188.00           880   +2.00     1.08