#### Restart and Run All

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
today

datetime.date(2022, 5, 23)

In [2]:
df_dailies = pd.read_csv('../data/dailies.csv',usecols=['name','price','chg_amt','chg_pct','daily_volume'])

In [3]:
mask = (df_dailies['daily_volume'] == '-')
df_dailies[mask]

Empty DataFrame
Columns: [name, price, daily_volume, chg_amt, chg_pct]
Index: []

In [5]:
df_dailies.loc[(df_dailies.daily_volume == '-') ,'daily_volume'] = 0

df_dailies['daily_volume'] = df_dailies['daily_volume'].astype(float)
df_dailies['daily_volume'] = round(df_dailies['daily_volume'] / 1000,0)
df_dailies['daily_volume'] = df_dailies['daily_volume'].astype(int)
df_dailies.dtypes

name             object
price           float64
daily_volume      int32
chg_amt         float64
chg_pct         float64
dtype: object

In [7]:
df_dailies.sort_values(['chg_pct'],ascending=[False]).head(10)

       name   price  daily_volume  chg_amt  chg_pct
114     LIT    2.16             0     0.14     6.93
87      ILM   19.10             0     0.90     4.95
219     TVI   16.90             0     0.60     3.68
157   SAPPE   35.25             0     1.25     3.68
185    STGT   20.00             0     0.70     3.63
209     TQM   45.50             0     1.50     3.41
161     SCB  115.00             2     3.50     3.14
153     RJH   34.25             0     1.00     3.01
32      BGC   10.50             0     0.30     2.94
182  STANLY  177.00             0     5.00     2.91

In [8]:
df_dailies.sort_values(['chg_pct'],ascending=[True]).head(10)

       name  price  daily_volume  chg_amt  chg_pct
166      SF   7.50             0    -0.35    -4.46
81     HANA  45.25             1    -1.75    -3.72
41   BTSGIF   4.20             0    -0.14    -3.23
109   LALIN   9.05             0    -0.30    -3.21
40      BTS   8.75             2    -0.25    -2.78
61      DRT   7.20             0    -0.20    -2.70
73     GFPT  15.90             0    -0.40    -2.45
229    WICE  15.90             0    -0.40    -2.45
225     VNG   8.10             0    -0.20    -2.41
173    SMPC  15.00             0    -0.30    -1.96

In [7]:
df_dailies.sort_values(['daily_volume'],ascending=[False]).head(10)

      name   price  daily_volume  chg_amt  chg_pct
27    BDMS   27.00          3044     0.25     0.93
20   BANPU   12.20          2492     0.50     4.27
161    SCB  111.50          2461     3.50     3.24
11     AOT   69.00          2303     1.00     1.47
100  KBANK  144.50          1874     2.50     1.76
49   CPALL   64.75          1669     0.75     1.17
42     CBG  108.50          1373     6.00     5.85
147  PTTEP  156.50          1179     1.00     0.64
146    PTT   36.75          1146     0.50     1.38
40     BTS    9.00          1093    -0.10    -1.10