### Restart and run all cells

### stock: dividend, price

In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
today

datetime.date(2022, 3, 24)

In [2]:
format_dict = {
               'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
               'price_x':'{:,.2f}','to_price':'{:,.2f}',
               'current':'{:,.2f}','div_amt':'{:,.2f}','amount':'{:,.2f}','yield':'{:,.2f}',
               'Q4':'{:,.2f}','Q3':'{:,.2f}','Q2':'{:,.2f}','Q1':'{:,.2f}','DIVIDEND':'{:,.2f}',
               'qty':'{:,}','shares':'{:,}','qty_z':'{:,}'
              }
pd.set_option("display.max_rows", None)

In [3]:
sql = '''
SELECT *
FROM dividend
ORDER BY name'''
df_dividend = pd.read_sql(sql, const)
df_dividend.shape

(81, 13)

In [4]:
### To find dividend without price record
sql = '''
SELECT D.name, P.name
FROM dividend D
LEFT JOIN price P
ON D.name = P.name
AND P.date = "%s"
WHERE P.name IS NULL
'''
sql = sql % today
print(sql)

df_left = pd.read_sql(sql, const)
df_left

SELECT D.name, P.name
FROM dividend D
LEFT JOIN price P
ON D.name = P.name
AND P.date = "2022-03-24"
WHERE P.name IS NULL

Empty DataFrame
Columns: [name, name]
Index: []

### If above statement consists stock names, must delete from dividend as there are no price records

In [5]:
sql = '''
SELECT D.name, FORMAT(DIVIDEND/P.price*100,2) AS yield,
Q4, Q3, Q2, Q1, DIVIDEND, shares, DIVIDEND * shares AS div_amt,
P.price AS current, shares*P.price AS amount, XDATE, PAIDDATE, ACTUAL
FROM dividend D
JOIN price P
WHERE D.name = P.name
AND P.date = "%s"'''
sql = sql % today
print(sql)

div_price = pd.read_sql(sql, const)
div_price['yield'] = div_price['yield'].astype(float)
div_price['shares'] = div_price['shares'].astype(int)
div_price.shape

SELECT D.name, FORMAT(DIVIDEND/P.price*100,2) AS yield,
Q4, Q3, Q2, Q1, DIVIDEND, shares, DIVIDEND * shares AS div_amt,
P.price AS current, shares*P.price AS amount, XDATE, PAIDDATE, ACTUAL
FROM dividend D
JOIN price P
WHERE D.name = P.name
AND P.date = "2022-03-24"

(81, 14)

In [6]:
div_price.nlargest(3, 'div_amt')[['name','div_amt']]

     name   div_amt
50  JASIF  104500.0
80    RCL   72000.0
2     MCS   63500.0

In [7]:
y_ovr_X = div_price['yield'] >= 7.00
div_price[y_ovr_X].sort_values(['yield'],ascending=[False]).style.format(format_dict)

In [8]:
not_due = div_price['ACTUAL'] == 1
div_price[not_due].sort_values(['yield'],ascending=[False]).style.format(format_dict)

In [9]:
div_price[y_ovr_X & not_due].sort_values(['XDATE','name'],ascending=[True,True]).style.format(format_dict)

In [10]:
in_port = div_price['shares'] > 0
div_price[in_port].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [11]:
div_price[y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).style.format(format_dict)

In [12]:
div_price[y_ovr_X & in_port].sort_values(['div_amt','name'],ascending=[False,True]).style.format(format_dict)

In [13]:
div_price[y_ovr_X & in_port].div_amt.sum()

543651.52

In [14]:
dividend = div_price[y_ovr_X & in_port].div_amt.sum()
cost = div_price[y_ovr_X & in_port].amount.sum()
yld = round(dividend / cost * 100,2)
(dividend, cost, yld)

(543651.52, 6274040.0, 8.67)

In [15]:
file_name = 'DIV-OVR-X%.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

div_price[y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(data_file, index=False)
div_price[y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(output_file, index=False)
div_price[y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(box_file, index=False)
div_price[y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(one_file, index=False)

In [16]:
div_price[~y_ovr_X & in_port].sort_values(['yield','name'],ascending=[False,True]).style.format(format_dict)

In [17]:
div_price[~y_ovr_X & in_port].sort_values(['div_amt','name'],ascending=[False,True]).style.format(format_dict)

In [18]:
dividend = div_price[~y_ovr_X & in_port].div_amt.sum()
cost = div_price[~y_ovr_X & in_port].amount.sum()
yld = round(dividend / cost * 100,2)
(dividend, cost, yld)

(146883.0, 3802300.0, 3.86)