In [1]:
import calendar
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine
from math import ceil, floor, trunc

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
con_lite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)
pd.set_option('max_rows',None)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
today

datetime.date(2022, 5, 31)

### Today = Last Closed Business Day

In [2]:
#today = today - timedelta(days=3)
today

datetime.date(2022, 5, 31)

### Restart and run all cells

In [3]:
def number_of_spread(x):
    maxp = x[1]
    minp = x[5]
    div = 0.0
    gap = 0.0
    spd = 0
    spd1 = 0
    spd2 = 0
    if (maxp > minp): 
        mult = 1
    else:
    	tmpp = minp
    	minp = maxp
    	maxp = tmpp
    	mult = -1
        
    gap = round(maxp - minp,2)   
    
    if (maxp > 400.00):
        div = 2.0
        boundary = div * 200
        if ((minp < boundary)):
            spd1 = trunc((boundary - minp) / 1.00)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div) 
    elif (maxp > 200.00):
        div = 1.0
        boundary = div * 200
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.50)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div) 
    elif (maxp > 100.00):
        div = 0.50
        boundary = div * 200
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.25)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div) 
    elif (maxp > 25.00):
        div = 0.25
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.10)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div)
    elif (maxp > 10.00):
        div = 0.10
        boundary = div * 100
        if (minp < boundary):
            spd1 = ceil((boundary - minp) / 0.05)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            div = 0.10            
            spd = ceil(gap / div)
    elif (maxp > 5.00):
        div = 0.05
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.02)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2           
        else:
            div = 0.05            
            spd = ceil(gap / div)
    elif (maxp > 2.00):
        div = 0.02
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.01)
            spd2 = trunc((maxp - boundary) / div)
            spd = spd1 + spd2
        else:          
            spd = (gap / div)
    else:
        div = 0.01
        boundary = div * 100        
        spd = trunc(gap / div) 
        
    return spd * mult

In [4]:
cols = 'name spd target bl qty fm_price to_price ttl min min52 css_price status amount fm_date to_date days'.split()

In [5]:
format_dict = {
               'fm_price':'{:.2f}','to_price':'{:.2f}','price':'{:.2f}',    
               'max_price':'{:.2f}','min_price':'{:.2f}',
               'target':'{:.2f}','max':'{:.2f}','max52':'{:.2f}',
               'min':'{:.2f}','min52':'{:.2f}',
               'css_price':'{:.2f}','amount':'{:,.2f}',  
               'unit_cost':'{:.2f}','cost_amt':'{:,.2f}',
               'dividend':'{:.2f}','dividend_amount':'{:,.2f}',    
               'cost_amt':'{:,.2f}','div_amt':'{:,.2f}','cost_pct':'{:.2f}', 
               'buy_target':'{:.2f}','sell_target':'{:.2f}',
               'volume':'{:,.2f}','beta':'{:.2f}','cost':'{:,.2f}',
               'qty':'{:,}','available_qty':'{:,}','shares':'{:,}'}
pd.set_option("display.max_rows", None)

In [6]:
sql = '''
SELECT T.name,buy_target AS target, bl, T.qty,
fm_price,to_price,  ttl_spread AS ttl, A.min_price AS min, 
T.min_price AS min52, consensus_price AS css_price, buy_target * T.qty AS amount, T.status,
FM_date, to_date, days
FROM stocks T
JOIN sales A
ON T.name = A.name
LEFT JOIN consensus C
ON T.name = C.name
WHERE T.status IN ('B','O')
AND buy_target > 0
AND to_date = '%s'
'''
sql = sql % today
print(sql)

df_stock = pd.read_sql(sql, con_lite)
df_stock.sort_values(['name'],ascending=[True]).style.format(format_dict)

SELECT T.name,buy_target AS target, bl, T.qty,
fm_price,to_price,  ttl_spread AS ttl, A.min_price AS min,
T.min_price AS min52, consensus_price AS css_price, buy_target * T.qty AS amount, T.status,
FM_date, to_date, days
FROM stocks T
JOIN sales A
ON T.name = A.name
LEFT JOIN consensus C
ON T.name = C.name
WHERE T.status IN ('B','O')
AND buy_target > 0
AND to_date = '2022-05-31'

In [7]:
my_array = df_stock.to_numpy()
my_array

array([['AP', 10.6, 0, 10000, 10.7, 11.2, 5, 4.67, 7.45, 12.86, 106000.0,
        'O', '2022-05-23', '2022-05-31', 6],
       ['GLOBAL', 20.6, 0, 9000, 20.6, 21.2, 6, 1.94, 17.63, 25.82,
        185400.0, 'O', '2022-05-26', '2022-05-31', 3],
       ['GULF', 46.0, 3, 6000, 47.0, 48.5, 6, 2.66, 31.5, 54.39,
        276000.0, 'O', '2022-05-24', '2022-05-31', 5],
       ['IVL', 48.0, 0, 0, 49.0, 49.25, 1, 0.51, 36.0, 60.11, 0.0, 'O',
        '2022-05-26', '2022-05-31', 3],
       ['KKP', 69.0, 0, 3000, 70.0, 72.0, 8, 2.5, 49.75, 82.38, 207000.0,
        'O', '2022-05-26', '2022-05-31', 3],
       ['ORI', 10.2, 0, 15000, 10.1, 10.9, 8, 5.94, 8.05, 13.54,
        153000.0, 'B', '2022-05-25', '2022-05-31', 4],
       ['SPRC', 10.8, 0, 15000, 11.6, 12.3, 7, 2.59, 7.75, 12.63,
        162000.0, 'O', '2022-05-24', '2022-05-31', 5],
       ['SSP', 9.5, 0, 10000, 9.75, 9.9, 3, 1.54, 9.1, 16.08, 95000.0,
        'O', '2022-05-26', '2022-05-31', 3],
       ['TTB', 1.2, 0, 150000, 1.23, 1.27, 4, 1.26, 0.95, 1.54, 180000.0,
        'O', '2022-05-25', '2022-05-31', 4],
       ['SIS', 28.75, 0, 3600, 30.5, 29.5, -4, -0.82, 25.75, 42.5,
        103500.0, 'O', '2022-05-27', '2022-05-31', 2],
       ['BDMS', 24.4, 0, 1500, 25.5, 25.75, 1, 25.5, 20.4, 28.99,
        36600.0, 'B', '2022-05-30', '2022-05-31', 1],
       ['TOP', 56.0, 0, 3600, 56.5, 58.0, 6, 56.75, 42.5, 67.98,
        201600.0, 'O', '2022-05-30', '2022-05-31', 1],
       ['BANPU', 11.5, 0, 12000, 12.1, 12.4, 3, 12.1, 9.65, 14.69,
        138000.0, 'O', '2022-05-30', '2022-05-31', 1],
       ['BCPG', 11.5, 0, 12000, 11.9, 11.8, -1, 11.7, 11.1, 17.18,
        138000.0, 'O', '2022-05-30', '2022-05-31', 1],
       ['BPP', 15.6, 0, 9000, 16.1, 15.9, -2, 15.8, 15.3, 18.43,
        140400.0, 'O', '2022-05-30', '2022-05-31', 1],
       ['ASK', 37.75, 0, 3000, 43.25, 42.25, -4, 42.0, 20.06, 50.79,
        113250.0, 'O', '2022-05-30', '2022-05-31', 1],
       ['AIT', 6.75, 0, 18000, 7.1, 6.95, -3, 6.9, 4.12, 8.3, 121500.0,
        'O', '2022-05-30', '2022-05-31', 1]], dtype=object)

In [8]:
tmp = (np.apply_along_axis(number_of_spread, axis=1, arr=my_array))
tmp

array([ -6,  -6, -10,  -5, -12,  -7, -15,  -8,  -7,  -3,  -9,  -8,  -9,
        -3,  -3, -18,  -4])

In [9]:
df_stock['spd'] = tmp.tolist()
df_stock['spd'] = df_stock['spd'].astype(int)
df_stock.style.format(format_dict)

In [10]:
df_stock[cols].style.format(format_dict)

In [11]:
buy_alert = df_stock[cols]
buy_alert.set_index(['name'],inplace=True)
buy_alert.sort_values(['spd'],ascending=[False]).style.format(format_dict)

In [12]:
file_name = 'buy-alert.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

buy_alert.sort_values(['spd','name'],ascending=[False,True]).to_csv(output_file)
buy_alert.sort_values(['spd','name'],ascending=[False,True]).to_csv(data_file)
buy_alert.sort_values(['spd','name'],ascending=[False,True]).to_csv(box_file)
buy_alert.sort_values(['spd','name'],ascending=[False,True]).to_csv(one_file)