#### portpg: consensus, tickers
#### csv files: hi-lo.csv, daily_out.csv

In [1]:
import calendar
import pandas as pd
from pandas.tseries.offsets import *
from datetime import date, timedelta
from glob import glob
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_md = today_str[5:]
today_md

'01-18'

### After call dlyout to create daily_out from daily-sales.csv
### Restart and run all cell

In [2]:
format_dict = {
               'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
               'fm_price':'{:,.2f}','to_price':'{:,.2f}',
               'max_price':'{:,.2f}','min_price':'{:,.2f}',
               'chg':'{:,.2f}','target':'{:,.2f}',
               'qty':'{:,}','qty_old':'{:,}','qty_new':'{:,}'
              }

In [3]:
dly_out = pd.read_csv('c://a8//data//daily_out.csv',header=None,parse_dates=['fm_date','to_date'],
          names=['name','fm_date','to_date','fm_price','to_price','percent',
                 'qty','max_price','min_price','market','action'],index_col='name')
dly_out.drop(['fm_date','fm_price','percent','min_price'],axis=1,inplace=True)
dly_out.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [4]:
sales = pd.read_csv('c://a8//data//daily-sales.csv',header=None,parse_dates=['fm_date','to_date'],
        names=['name','fm_date','to_date','fm_price','to_price','qty',
               'max_price','min_price','status','market','diff','percent','bdays'],index_col='name')

sales.drop(['to_date','to_price','percent','max_price'],axis=1,inplace=True)
sales.sort_values(by=['status','name'],ascending=[True,True]).style.format(format_dict)

### Today sales merge with past sales direction

In [5]:
df_merge = pd.merge(sales,dly_out,on='name',how='inner',suffixes=('_old','_new'))
df_merge.head().style.format(format_dict)

In [6]:
df_merge['chg'] = round(df_merge['to_price'] - df_merge['fm_price'], 2)
df_merge['chg%'] = (df_merge['chg'] / df_merge['fm_price'] * 100).astype(int)
df_merge['days'] = (df_merge['to_date'] - df_merge['fm_date']).dt.days
cols='fm_date to_date days fm_price to_price chg chg% max_price min_price status'.split()
df_merge[cols].sort_values(['status','chg%'],ascending=[True,True]).style.format(format_dict)

### Buy candidates

In [7]:
sql = """
SELECT name, target_price, buy, hold, sell FROM consensus"""
consensus = pd.read_sql(sql, conpg)
consensus.shape[0]

263

In [8]:
buy_mask = df_merge['status'].isin(['O','B'])
buys_df = df_merge[buy_mask]
buys_cdd = pd.merge(buys_df, consensus, on='name', how='inner')
buys_cdd['target_to'] = round(buys_cdd['target_price'] - buys_cdd['to_price'], 2)
buys_cdd['up%'] = (buys_cdd['target_to'] / buys_cdd['to_price'] * 100).astype(int)
#buys_cdd['abs%'] = abs(buys_cdd['chg%']) + abs(buys_cdd['up%'])
buys_cdd['ttl%'] = buys_cdd['chg%'] + buys_cdd['up%']
buys_cdd.rename(columns={'target_price':'target','status':'sts'}, inplace=True)
buys_cdd.set_index('name', inplace=True)
cols='sts fm_date days fm_price to_price chg chg% up% ttl% target min_price buy hold sell'.split()
buys_cdd[cols].sort_values(by=['sts','ttl%'],ascending=[True,False]).style.format(format_dict)

In [9]:
file_name = 'buy-candidate.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

buys_cdd[cols].sort_values(by=['sts','ttl%'],ascending=[True,False]).to_csv(output_file)
buys_cdd[cols].sort_values(by=['sts','ttl%'],ascending=[True,False]).to_csv(data_file)
#buys_cdd[cols].sort_values(by=['sts','ttl%'],ascending=[True,False]).to_csv(box_file)

### Sell process

In [10]:
sell_mask = df_merge['status'].isin(['I','S'])
cols='status fm_date to_date days fm_price to_price chg chg% max_price min_price'.split()
df_merge[sell_mask][cols].sort_values(by=['status','name'],ascending=[True,True]).style.format(format_dict)

In [11]:
mask1 = df_merge['status'].isin(['I','S'])
#mask2 = df_merge['to_price'] >= df_merge['fm_price']
sell_df = df_merge[mask1]
sell_cdd = pd.merge(sell_df, consensus, on='name', how='inner')
sell_cdd['target_to'] = round(sell_cdd['target_price'] - sell_cdd['to_price'], 2)
sell_cdd['up%'] = (sell_cdd['target_to'] / sell_cdd['to_price'] * 100).astype(int)
sell_cdd['ttl%'] = sell_cdd['chg%'] + sell_cdd['up%']
sell_cdd.rename(columns={'target_price':'target','status':'sts'}, inplace=True)
sell_cdd.set_index('name', inplace=True)
cols='sts fm_date days fm_price to_price chg chg% up% ttl% target min_price buy hold sell'.split()
sell_cdd[cols].sort_values(by=['sts','ttl%'],ascending=[True,True]).style.format(format_dict)

In [12]:
file_name = 'sell-candidate.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

sell_cdd[cols].sort_values(by=['sts','ttl%'],ascending=[True,True]).to_csv(output_file)
sell_cdd[cols].sort_values(by=['sts','ttl%'],ascending=[True,True]).to_csv(data_file)
#sell_cdd[cols].sort_values(by=['sts','ttl%'],ascending=[True,True]).to_csv(box_file)

### Hi lo stocks

In [13]:
pct_prm = 3
hilo_mask = abs(df_merge['chg%']) >= pct_prm
cols2='fm_date to_date days fm_price to_price chg chg% max_price min_price status'.split()
df_merge.loc[hilo_mask,cols2].sort_values(by=['chg%'],ascending=True).shape[0]

9

In [14]:
df_merge.loc[hilo_mask,cols2].sort_values(by=['chg%'],ascending=True).style.format(format_dict)

In [15]:
df_temp = df_merge.loc[hilo_mask,cols2]
df_temp.shape[0]

9

In [16]:
sql = '''
SELECT name, market FROM tickers'''
tickers = pd.read_sql(sql, conpg)
tickers.shape[0]

403

In [17]:
df_hl = pd.merge(df_temp, tickers, on='name', how='inner')
df_hl.set_index('name',inplace=True)
df_hl.sort_values(by=['chg%'],ascending=True).style.format(format_dict)

In [18]:
file_name = 'hi-lo.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

df_hl.sort_values(by=['chg%','name'],ascending=[True,True]).to_csv(output_file)
df_hl.sort_values(by=['chg%','name'],ascending=[True,True]).to_csv(data_file)
df_hl.sort_values(by=['chg%','name'],ascending=[True,True]).to_csv(box_file)