In [1]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [2]:
# extracting all tables in website
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [31]:
len(all_tables)

92

In [38]:
all_tables[13] # First Group

   Pos         Team  Pld  W  D  L  GF  GA  GD   Pts
0    1  Netherlands    1  1  0  0   2   0  +2  3[a]
1    2      Ecuador    1  1  0  0   2   0  +2  3[a]
2    3      Senegal    1  0  0  1   0   2  −2  0[b]
3    4    Qatar (H)    1  0  0  1   0   2  −2  0[b]

In [39]:
all_tables[62]  # Last Group

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [22]:
# A -> H
# 13 -> 7*8 + 13 = 69
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
for i in range(13,69,7): # 13 20 27
    print(i)
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
#     print(df)

13
20
27
34
41
48
55
62

In [23]:
print(df)

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [24]:
print(alphabet)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [25]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_table = {}
for letter, i in zip(alphabet, range(13,69,7)): # A=11, B=18, ...
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [26]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [41]:
dict_table['Group F']

   Pos     Team  Pld  W  D  L  GF  GA  GD   Pts
0    1  Belgium    1  1  0  0   1   0  +1     3
1    2  Croatia    1  0  1  0   0   0   0  1[a]
2    3  Morocco    1  0  1  0   0   0   0  1[a]
3    4   Canada    1  0  0  1   0   1  −1     0

In [28]:
# Upload (..verify if uploaded correctly)
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)