### portpg: stocks
### stock:  price

In [2]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2021, 12, 18), '2021-50')

In [3]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=8)
#wkago = date(2020, 9, 3)
today, wkago

(datetime.date(2021, 12, 17), datetime.date(2021, 12, 9))

### Restart & Run All Cells

In [3]:
sql = '''
SELECT name
FROM buy 
WHERE active = 1
ORDER BY name'''
df_price = pd.read_sql(sql, const)

names = df_price.name.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))

sql = """
SELECT name, price AS price_d 
FROM price 
WHERE date = '%s' AND name IN (%s)
ORDER BY name, date"""
sql = sql % (today, in_p)
print(sql)

SELECT name, price AS price_d
FROM price
WHERE date = '2021-12-09' AND name IN ('BCH', 'BGRIM', 'CKP', 'DCC', 'DIF', 'DOHOME', 'EPG', 'GLOBAL', 'HREIT', 'IP', 'IVL', 'JASIF', 'KBANK', 'KCE', 'LH', 'MCS', 'NER', 'NOBLE', 'PTT', 'PTTGC', 'RATCH', 'RCL', 'RJH', 'SAT', 'SCC', 'SENA', 'SIS', 'STA', 'TISCO', 'TMT', 'TOP', 'TSTH', 'TU', 'TYCN', 'VNT')
ORDER BY name, date

In [4]:
df_today = pd.read_sql(sql, const)
df_today.shape[0]

35

In [5]:
sql = """
SELECT name, price AS price_w
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (wkago, in_p)
print(sql)

SELECT name, price AS price_w
FROM price
WHERE date = '2021-12-02' AND name IN ('BCH', 'BGRIM', 'CKP', 'DCC', 'DIF', 'DOHOME', 'EPG', 'GLOBAL', 'HREIT', 'IP', 'IVL', 'JASIF', 'KBANK', 'KCE', 'LH', 'MCS', 'NER', 'NOBLE', 'PTT', 'PTTGC', 'RATCH', 'RCL', 'RJH', 'SAT', 'SCC', 'SENA', 'SIS', 'STA', 'TISCO', 'TMT', 'TOP', 'TSTH', 'TU', 'TYCN', 'VNT')
ORDER BY name

In [6]:
df_wkago = pd.read_sql(sql, const)
df_wkago.shape[0]

35

In [7]:
trend = pd.merge(df_today, df_wkago, on='name',how='inner')
trend.shape

(35, 3)

In [8]:
trend['pct'] = (trend.price_d-trend.price_w)/trend.price_w * 100
trend.sort_values(by=['pct'],ascending=[True])

      name  price_d  price_w   pct
0      BCH    19.90    21.70 -8.29
16     NER     7.20     7.30 -1.37
6      EPG    11.00    11.10 -0.90
15     MCS    14.50    14.50  0.00
11   JASIF    10.20    10.20  0.00
30     TOP    48.25    48.00  0.52
24     SCC   375.00   373.00  0.54
33    TYCN     3.54     3.52  0.57
10     IVL    40.00    39.75  0.63
18     PTT    37.50    37.25  0.67
22     RJH    34.25    34.00  0.74
23     SAT    21.50    21.30  0.94
20   RATCH    44.00    43.50  1.15
1    BGRIM    39.25    38.75  1.29
19   PTTGC    58.25    57.50  1.30
3      DCC     2.88     2.84  1.41
4      DIF    14.00    13.80  1.45
32      TU    20.10    19.80  1.52
7   GLOBAL    19.80    19.50  1.54
17   NOBLE     6.25     6.15  1.63
5   DOHOME    23.40    23.00  1.74
34     VNT    38.75    38.00  1.97
29     TMT    10.30    10.10  1.98
25    SENA     4.00     3.92  2.04
2      CKP     5.00     4.88  2.46
28   TISCO    92.00    89.75  2.51
26     SIS    44.50    43.25  2.89
14      LH     8.65     8.40  2.98
31    TSTH     1.52     1.47  3.40
8    HREIT     9.05     8.75  3.43
27     STA    29.75    28.75  3.48
13     KCE    93.00    89.75  3.62
9       IP    20.00    19.30  3.63
12   KBANK   139.00   134.00  3.73
21     RCL    45.50    41.75  8.98

In [9]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
stocks = pd.read_sql(sql, conpg)
stocks.shape[0]

356

In [10]:
trend2 = pd.merge(trend, stocks, on='name', how='inner')
trend2.sort_values(['pct'],ascending=[True]).shape[0]

35

In [11]:
col9 = 'name price_d price_w pct market '.split()

In [12]:
set50 = trend2.market.str.contains('SET50')
filter9 = trend2[set50]
filter9[col9].sort_values(by=['pct','name'],ascending=[True,True]).shape[0]

14

In [13]:
filter9.loc[
    trend2.market.str.contains('SET50'),
    col9
].sort_values(by=['pct','name'],ascending=[True,True])

,name,price_d,price_w,pct,market
30,TOP,48.25,48.00,0.52,SET50 / SETCLMV / SETTHSI
24,SCC,375.00,373.00,0.54,SET50 / SETCLMV / SETHD / SETTHSI
10,IVL,40.00,39.75,0.63,SET50 / SETTHSI
18,PTT,37.50,37.25,0.67,SET50 / SETCLMV / SETHD / SETTHSI
20,RATCH,44.00,43.50,1.15,SET50 / SETCLMV / SETHD / SETTHSI
1,BGRIM,39.25,38.75,1.29,SET50 / SETCLMV / SETTHSI
19,PTTGC,58.25,57.50,1.30,SET50 / SETCLMV / SETTHSI
32,TU,20.10,19.80,1.52,SET50 / SETCLMV / SETHD / SETTHSI / SETWB
7,GLOBAL,19.80,19.50,1.54,SET50 / SETCLMV / SETWB
28,TISCO,92.00,89.75,2.51,SET50 / SETHD / SETTHSI
14,LH,8.65,8.40,2.98,SET50 / SETHD
27,STA,29.75,28.75,3.48,SET50 / SETTHSI / SETWB
13,KCE,93.00,89.75,3.62,SET50
12,KBANK,139.00,134.00,3.73,SET50 / SETCLMV / SETTHSI

In [14]:
set100 = trend2.market.str.contains('SET100')
filter9 = trend2[set100]
filter9[col9].sort_values(by=['pct','name'],ascending=[True,True]).shape[0]

3

In [15]:
filter9.loc[
    trend2.market.str.contains('SET100'),
    col9
].sort_values(by=['pct','name'],ascending=[True,True])

     name  price_d  price_w   pct                          market
0     BCH    19.90    21.70 -8.29              SET100 / SETWB
5  DOHOME    23.40    23.00  1.74              SET100 / SETWB
2     CKP     5.00     4.88  2.46  SET100 / SETCLMV / SETTHSI

In [16]:
mai = trend2.market.str.contains('mai')
filter9 = trend2[mai]
filter9[col9].sort_values(by=['pct','name'],ascending=[True,True]).shape[0]

1

In [17]:
mai = trend2.market.str.contains('mai')
filter9 = trend2[mai]
filter9[col9].sort_values(by=['pct','name'],ascending=[True,True]).shape[0]

1

In [18]:
trend2.loc[
    ~(set100 | set50 | mai),
    col9
].sort_values(by=['pct','name'],ascending=[True,True])

     name  price_d  price_w   pct                        market
16    NER     7.20     7.30 -1.37                      sSET
6     EPG    11.00    11.10 -0.90                       SET
11  JASIF    10.20    10.20  0.00                       SET
15    MCS    14.50    14.50  0.00                      sSET
33   TYCN     3.54     3.52  0.57                       SET
22    RJH    34.25    34.00  0.74                      sSET
23    SAT    21.50    21.30  0.94            sSET / SETTHSI
3     DCC     2.88     2.84  1.41                       SET
4     DIF    14.00    13.80  1.45                       SET
17  NOBLE     6.25     6.15  1.63                      sSET
34    VNT    38.75    38.00  1.97                       SET
29    TMT    10.30    10.10  1.98                       SET
25   SENA     4.00     3.92  2.04                      sSET
26    SIS    44.50    43.25  2.89                      sSET
31   TSTH     1.52     1.47  3.40  sSET / SETCLMV / SETTHSI
8   HREIT     9.05     8.75  3.43                       SET
21    RCL    45.50    41.75  8.98                   SETCLMV