### portpg: charts, consensus, stocks, tickers
### csv files: css-hi-div.csv

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2021, 12, 18), '2021-50')

In [2]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=8)
#wkago = date(2020, 12, 30)
today, wkago

(datetime.date(2021, 12, 17), datetime.date(2021, 12, 9))

### Restart and Run All Cell

In [7]:
sql = """
SELECT name, price, target_price AS target, 
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) <= 31"""
sql = sql % (today, today)
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['upside'] = consensus['upside'].astype(int)
consensus.sort_values(by='upside',ascending=False).head(10)

        price  target  upside  buy  hold  sell  yield        date  days
name
TR      51.25  104.00     103    1     0     0   0.00  2021-12-18    -1
IMH     11.30   21.60      91    2     0     0   5.40  2021-12-18    -1
TTA      9.60   15.23      59    4     0     0   1.80  2021-12-18    -1
SKN      6.60   10.50      59    1     0     0   5.20  2021-12-18    -1
TKS     13.90   22.00      58    1     0     0   4.00  2021-12-18    -1
HFT      7.40   11.20      51    1     0     0   4.90  2021-12-18    -1
BTSGIF   4.24    6.06      43    4     1     0   7.00  2021-12-17     0
NER      7.05   10.09      43    8     0     0   5.60  2021-12-18    -1
HTECH    6.30    9.00      43    1     0     0   3.60  2021-12-18    -1
SRICHA  16.60   23.50      42    2     0     0   6.60  2021-12-18    -1

In [4]:
#consensus.loc['BCPG']

In [5]:
#consensus = consensus.drop('BCPG')

In [8]:
consensus['score'] = (consensus.buy*3 + consensus.hold*1 + consensus.sell*-3)
cols = 'price target upside buy hold sell score yield'.split()

In [7]:
high_score = consensus.score > 9
consensus.loc[high_score, cols].sort_values(by=['score'],ascending=[False]).head(10)

        price  target  upside  buy  hold  sell  score  yield
name
HMPRO   14.40   16.69      16   17     2     0     53   2.20
PTTEP  118.50  143.80      21   17     1     0     52   4.40
BDMS    22.70   27.56      21   17     1     0     52   1.70
PTT     37.50   50.10      34   17     0     0     51   4.80
IVL     40.00   53.65      34   16     2     0     50   3.30
TOP     48.25   66.47      38   15     3     0     48   4.10
ADVANC 216.00  233.00       8   16     0     0     48   3.10
LH       8.65   10.04      16   16     0     0     48   5.70
TU      20.10   25.51      27   15     2     0     47   4.30
SPALI   22.20   25.83      16   15     1     0     46   5.20

In [8]:
high_yield = consensus['yield'] > 4.99
consensus.loc[high_yield, cols].sort_values(by=['yield'],ascending=[False]).head(15)

        price  target  upside  buy  hold  sell  score  yield
name
TTB      1.30    1.31       1    4     1     0     13  33.20
TCAP    37.25   38.33       3    3     4     0     13  28.70
STGT    28.75   30.75       7    3     7     1     13  17.20
SCB    125.00  147.60      18    7     2     0     23  14.90
STA     29.75   38.03      28    7     2     0     23  13.80
TMT     10.30   11.30      10    1     2     0      5  12.10
NOBLE    6.25    6.99      12    2     3     0      9   9.60
ASP      3.70    4.65      26    1     1     0      4   9.50
MCS     14.50   20.50      41    2     0     0      6   9.40
JASIF   10.20   10.80       6    1     3     0      6   9.30
SPRIME   7.00    9.60      37    1     0     0      3   7.90
MST     12.40   13.20       6    0     1     0      1   7.70
HREIT    9.05    9.60       6    1     0     0      3   7.60
RCL     45.50   58.00      27    1     0     0      3   7.60
GVREIT  10.30   11.80      15    0     2     0      2   7.60

In [9]:
high_upside = consensus['upside'] >= 10
consensus.loc[high_upside, cols].sort_values(by=['upside'],ascending=[False]).head(10)

        price  target  upside  buy  hold  sell  score  yield
name
TR      48.25  104.00     116    1     0     0      3   0.00
IMH     11.20   21.60      93    2     0     0      6   5.40
TKS     14.00   22.00      57    1     0     0      3   4.00
TTA      9.80   15.23      55    4     0     0     12   1.80
HFT      7.60   11.20      47    1     0     0      3   4.70
BTSGIF   4.18    6.06      45    4     1     0     13   7.10
AJ      17.50   25.00      43    2     0     0      6   2.70
HTECH    6.30    9.00      43    1     0     0      3   3.60
INOX     1.13    1.60      42    1     0     0      3   0.00
MCS     14.50   20.50      41    2     0     0      6   9.40

### Final result to input to port_lite stocks

In [10]:
final_criteria = high_score & high_yield & high_upside
filter = consensus.loc[final_criteria, cols].sort_values(by=["upside"], ascending=[False])
filter.sort_values('name')

        price  target  upside  buy  hold  sell  score  yield
name
AP       9.40   10.58      13   15     1     0     46   5.20
BANPU   10.70   15.06      41    9     1     0     28   6.80
BCP     25.00   33.21      33   10     4     0     34   7.00
BTSGIF   4.18    6.06      45    4     1     0     13   7.10
DCC      2.88    3.45      20    7     1     0     22   6.40
EKH      7.80    8.80      13    4     2     0     14   5.40
IRPC     3.84    4.77      24    7     6     0     27   6.00
LH       8.65   10.04      16   16     0     0     48   5.70
MAJOR   19.40   24.78      28    9     0     0     27   5.20
MC       9.10   10.61      17    5     3     0     18   6.10
NER      7.20   10.09      40    8     0     0     24   5.40
PSL     17.20   22.15      29    6     0     0     18   5.70
PTTGC   58.25   72.97      25   11     6     0     39   6.30
RATCH   44.00   55.08      25    6     2     1     17   6.00
SAT     21.50   25.95      21    8     1     1     22   6.60
SC       3.46    4.16      20    9     0     0     27   5.60
SCB    125.00  147.60      18    7     2     0     23  14.90
SCC    375.00  491.00      31   13     2     0     41   5.00
SCCC   153.50  199.20      30    4     1     0     13   5.50
SPALI   22.20   25.83      16   15     1     0     46   5.20
STA     29.75   38.03      28    7     2     0     23  13.80
TASCO   18.10   20.62      14    7     4     0     25   5.80
TPIPL    1.69    2.34      38    4     0     0     12   6.40
TPIPP    4.18    4.72      13    3     2     0     11   7.40
TTW     11.40   14.35      26    3     1     0     10   5.90

In [11]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
pg_stocks = pd.read_sql(sql, conpg)
pg_stocks.shape[0]

356

In [12]:
consensus2 = pd.merge(filter, pg_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(25, 15)

In [13]:
set50 = consensus2.market.str.contains('SET50') & (consensus2.upside >= 5)
flt_set50 = consensus2[set50]
flt_set50.sort_values(['name'],ascending=[True])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market
name,,,,,,,,,,,,,,,
IRPC,3.84,4.77,24,7,6,0,27,6.00,4.76,3.24,5.64,0.92,845.48,1.05,SET50 / SETCLMV / SETTHSI
LH,8.65,10.04,16,16,0,0,48,5.70,8.90,7.50,14.20,2.15,385.33,0.83,SET50 / SETHD
PTTGC,58.25,72.97,25,11,6,0,39,6.30,70.00,54.25,5.46,0.84,"1,301.32",1.16,SET50 / SETCLMV / SETTHSI
RATCH,44.00,55.08,25,6,2,1,17,6.00,57.50,42.00,8.20,0.94,286.12,0.66,SET50 / SETCLMV / SETHD / SETTHSI
SCB,125.00,147.60,18,7,2,0,23,14.90,137.00,83.25,13.00,1.00,"1,629.80",1.30,SET50 / SETCLMV / SETHD / SETTHSI
SCC,375.00,491.00,31,13,2,0,41,5.00,474.00,364.00,9.59,1.25,"1,181.59",0.62,SET50 / SETCLMV / SETHD / SETTHSI
STA,29.75,38.03,28,7,2,0,23,13.80,56.75,25.00,2.32,0.98,"1,008.59",-0.04,SET50 / SETTHSI / SETWB

In [14]:
set100 = consensus2.market.str.contains('SET100') & (consensus2.upside >= 10)
flt_set100 = consensus2[set100]
flt_set100.sort_values(['name'],ascending=[True])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market
name,,,,,,,,,,,,,,,
AP,9.40,10.58,13,15,1,0,46,5.20,9.60,7.10,6.58,0.94,146.70,0.68,SET100 / SETHD
BANPU,10.70,15.06,41,9,1,0,28,6.80,14.90,7.50,12.28,1.05,"1,515.44",0.84,SET100 / SETCLMV / SETTHSI
BCP,25.00,33.21,33,10,4,0,34,7.00,30.75,19.40,5.55,0.65,178.13,1.57,SET100 / SETCLMV / SETTHSI
MAJOR,19.40,24.78,28,9,0,0,27,5.20,26.25,16.50,9.60,2.17,131.43,0.95,SET100 / SETCLMV / SETTHSI
PSL,17.20,22.15,29,6,0,0,18,5.70,26.00,6.00,9.82,1.98,531.28,0.83,SET100
SPALI,22.20,25.83,16,15,1,0,46,5.20,23.60,18.80,7.14,1.10,173.05,0.80,SET100 / SETHD / SETTHSI
TASCO,18.10,20.62,14,7,4,0,25,5.80,22.30,17.10,11.60,1.90,347.99,0.61,SET100 / SETCLMV / SETHD / SETTHSI

In [15]:
setmai = consensus2.market.str.contains('mai') & (consensus2.upside >= 15)
flt_setmai = consensus2[setmai]
flt_setmai.sort_values(['name'],ascending=[True])

Empty DataFrame
Columns: [price, target, upside, buy, hold, sell, score, yield, max, min, pe, pbv, volume, beta, market]
Index: []

In [16]:
flt_set999 = consensus2[~(set100 | set50 | setmai) & 
            (consensus2.upside >= 15) ]
flt_set999.sort_values(['name'],ascending=[True])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market
name,,,,,,,,,,,,,,,
BTSGIF,4.18,6.06,45,4,1,0,13,7.10,5.85,4.00,999.99,0.53,19.43,0.51,SET
DCC,2.88,3.45,20,7,1,0,22,6.40,3.40,2.14,15.70,4.55,93.64,0.57,SET
MC,9.10,10.61,17,5,3,0,18,6.10,12.40,8.80,19.99,1.99,19.73,0.65,sSET
NER,7.20,10.09,40,8,0,0,24,5.40,8.65,4.10,7.11,2.56,334.04,0.36,sSET
SAT,21.50,25.95,21,8,1,1,22,6.60,23.50,13.90,9.02,1.23,61.43,0.86,sSET / SETTHSI
SC,3.46,4.16,20,9,0,0,27,5.60,3.70,2.62,7.48,0.74,17.31,0.88,sSET / SETTHSI
SCCC,153.50,199.20,30,4,1,0,13,5.50,188.50,131.00,11.11,1.23,47.42,0.67,SETCLMV / SETTHSI
TPIPL,1.69,2.34,38,4,0,0,12,6.40,2.22,1.52,8.22,0.69,47.15,0.88,SET
TTW,11.40,14.35,26,3,1,0,10,5.90,12.50,11.20,14.31,3.37,61.16,0.21,SETTHSI

In [17]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_setmai])
flt_all.sort_values(['name'],ascending=[True])

,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market
name,,,,,,,,,,,,,,,
AP,9.40,10.58,13,15,1,0,46,5.20,9.60,7.10,6.58,0.94,146.70,0.68,SET100 / SETHD
BANPU,10.70,15.06,41,9,1,0,28,6.80,14.90,7.50,12.28,1.05,"1,515.44",0.84,SET100 / SETCLMV / SETTHSI
BCP,25.00,33.21,33,10,4,0,34,7.00,30.75,19.40,5.55,0.65,178.13,1.57,SET100 / SETCLMV / SETTHSI
BTSGIF,4.18,6.06,45,4,1,0,13,7.10,5.85,4.00,999.99,0.53,19.43,0.51,SET
DCC,2.88,3.45,20,7,1,0,22,6.40,3.40,2.14,15.70,4.55,93.64,0.57,SET
IRPC,3.84,4.77,24,7,6,0,27,6.00,4.76,3.24,5.64,0.92,845.48,1.05,SET50 / SETCLMV / SETTHSI
LH,8.65,10.04,16,16,0,0,48,5.70,8.90,7.50,14.20,2.15,385.33,0.83,SET50 / SETHD
MAJOR,19.40,24.78,28,9,0,0,27,5.20,26.25,16.50,9.60,2.17,131.43,0.95,SET100 / SETCLMV / SETTHSI
MC,9.10,10.61,17,5,3,0,18,6.10,12.40,8.80,19.99,1.99,19.73,0.65,sSET
NER,7.20,10.09,40,8,0,0,24,5.40,8.65,4.10,7.11,2.56,334.04,0.36,sSET
PSL,17.20,22.15,29,6,0,0,18,5.70,26.00,6.00,9.82,1.98,531.28,0.83,SET100
PTTGC,58.25,72.97,25,11,6,0,39,6.30,70.00,54.25,5.46,0.84,"1,301.32",1.16,SET50 / SETCLMV / SETTHSI
RATCH,44.00,55.08,25,6,2,1,17,6.00,57.50,42.00,8.20,0.94,286.12,0.66,SET50 / SETCLMV / SETHD / SETTHSI
SAT,21.50,25.95,21,8,1,1,22,6.60,23.50,13.90,9.02,1.23,61.43,0.86,sSET / SETTHSI
SC,3.46,4.16,20,9,0,0,27,5.60,3.70,2.62,7.48,0.74,17.31,0.88,sSET / SETTHSI
SCB,125.00,147.60,18,7,2,0,23,14.90,137.00,83.25,13.00,1.00,"1,629.80",1.30,SET50 / SETCLMV / SETHD / SETTHSI
SCC,375.00,491.00,31,13,2,0,41,5.00,474.00,364.00,9.59,1.25,"1,181.59",0.62,SET50 / SETCLMV / SETHD / SETTHSI
SCCC,153.50,199.20,30,4,1,0,13,5.50,188.50,131.00,11.11,1.23,47.42,0.67,SETCLMV / SETTHSI
SPALI,22.20,25.83,16,15,1,0,46,5.20,23.60,18.80,7.14,1.10,173.05,0.80,SET100 / SETHD / SETTHSI
STA,29.75,38.03,28,7,2,0,23,13.80,56.75,25.00,2.32,0.98,"1,008.59",-0.04,SET50 / SETTHSI / SETWB
TASCO,18.10,20.62,14,7,4,0,25,5.80,22.30,17.10,11.60,1.90,347.99,0.61,SET100 / SETCLMV / SETHD / SETTHSI
TPIPL,1.69,2.34,38,4,0,0,12,6.40,2.22,1.52,8.22,0.69,47.15,0.88,SET
TTW,11.40,14.35,26,3,1,0,10,5.90,12.50,11.20,14.31,3.37,61.16,0.21,SETTHSI

In [18]:
sql = '''
SELECT name, year, quarter
FROM charts 
ORDER BY name, year DESC, quarter DESC
'''
charts = pd.read_sql(sql, conpg)
charts.shape

(206, 3)

In [19]:
df_uniq = charts.drop_duplicates(subset='name', keep='first')
df_uniq.shape[0]

139

In [20]:
filter = pd.merge(df_uniq, flt_all, on='name', how='inner')
filter.sort_values(by=['name'],ascending=[True])

,name,year,quarter,price,target,upside,buy,hold,sell,score,yield,max,min,pe,pbv,volume,beta,market
0,AP,2021,3,9.40,10.58,13,15,1,0,46,5.20,9.60,7.10,6.58,0.94,146.70,0.68,SET100 / SETHD
1,BCP,2021,2,25.00,33.21,33,10,4,0,34,7.00,30.75,19.40,5.55,0.65,178.13,1.57,SET100 / SETCLMV / SETTHSI
2,DCC,2021,3,2.88,3.45,20,7,1,0,22,6.40,3.40,2.14,15.70,4.55,93.64,0.57,SET
3,IRPC,2021,3,3.84,4.77,24,7,6,0,27,6.00,4.76,3.24,5.64,0.92,845.48,1.05,SET50 / SETCLMV / SETTHSI
4,LH,2021,3,8.65,10.04,16,16,0,0,48,5.70,8.90,7.50,14.20,2.15,385.33,0.83,SET50 / SETHD
5,MC,2021,3,9.10,10.61,17,5,3,0,18,6.10,12.40,8.80,19.99,1.99,19.73,0.65,sSET
6,NER,2021,3,7.20,10.09,40,8,0,0,24,5.40,8.65,4.10,7.11,2.56,334.04,0.36,sSET
7,PTTGC,2021,3,58.25,72.97,25,11,6,0,39,6.30,70.00,54.25,5.46,0.84,"1,301.32",1.16,SET50 / SETCLMV / SETTHSI
8,RATCH,2021,3,44.00,55.08,25,6,2,1,17,6.00,57.50,42.00,8.20,0.94,286.12,0.66,SET50 / SETCLMV / SETHD / SETTHSI
9,SAT,2021,3,21.50,25.95,21,8,1,1,22,6.60,23.50,13.90,9.02,1.23,61.43,0.86,sSET / SETTHSI
10,SCB,2021,3,125.00,147.60,18,7,2,0,23,14.90,137.00,83.25,13.00,1.00,"1,629.80",1.30,SET50 / SETCLMV / SETHD / SETTHSI
11,SCC,2021,3,375.00,491.00,31,13,2,0,41,5.00,474.00,364.00,9.59,1.25,"1,181.59",0.62,SET50 / SETCLMV / SETHD / SETTHSI
12,SCCC,2021,3,153.50,199.20,30,4,1,0,13,5.50,188.50,131.00,11.11,1.23,47.42,0.67,SETCLMV / SETTHSI
13,SPALI,2021,3,22.20,25.83,16,15,1,0,46,5.20,23.60,18.80,7.14,1.10,173.05,0.80,SET100 / SETHD / SETTHSI
14,STA,2021,3,29.75,38.03,28,7,2,0,23,13.80,56.75,25.00,2.32,0.98,"1,008.59",-0.04,SET50 / SETTHSI / SETWB
15,TASCO,2021,2,18.10,20.62,14,7,4,0,25,5.80,22.30,17.10,11.60,1.90,347.99,0.61,SET100 / SETCLMV / SETHD / SETTHSI
16,TPIPL,2021,3,1.69,2.34,38,4,0,0,12,6.40,2.22,1.52,8.22,0.69,47.15,0.88,SET
17,TTW,2021,3,11.40,14.35,26,3,1,0,10,5.90,12.50,11.20,14.31,3.37,61.16,0.21,SETTHSI

In [21]:
final = filter
final.sort_values(['name'],ascending=[True]).shape

(18, 18)

In [22]:
col9 = 'name price target upside buy hold sell score market yield'.split()
final[col9].sort_values(by='name',ascending=True)

,name,price,target,upside,buy,hold,sell,score,market,yield
0,AP,9.40,10.58,13,15,1,0,46,SET100 / SETHD,5.20
1,BCP,25.00,33.21,33,10,4,0,34,SET100 / SETCLMV / SETTHSI,7.00
2,DCC,2.88,3.45,20,7,1,0,22,SET,6.40
3,IRPC,3.84,4.77,24,7,6,0,27,SET50 / SETCLMV / SETTHSI,6.00
4,LH,8.65,10.04,16,16,0,0,48,SET50 / SETHD,5.70
5,MC,9.10,10.61,17,5,3,0,18,sSET,6.10
6,NER,7.20,10.09,40,8,0,0,24,sSET,5.40
7,PTTGC,58.25,72.97,25,11,6,0,39,SET50 / SETCLMV / SETTHSI,6.30
8,RATCH,44.00,55.08,25,6,2,1,17,SET50 / SETCLMV / SETHD / SETTHSI,6.00
9,SAT,21.50,25.95,21,8,1,1,22,sSET / SETTHSI,6.60
10,SCB,125.00,147.60,18,7,2,0,23,SET50 / SETCLMV / SETHD / SETTHSI,14.90
11,SCC,375.00,491.00,31,13,2,0,41,SET50 / SETCLMV / SETHD / SETTHSI,5.00
12,SCCC,153.50,199.20,30,4,1,0,13,SETCLMV / SETTHSI,5.50
13,SPALI,22.20,25.83,16,15,1,0,46,SET100 / SETHD / SETTHSI,5.20
14,STA,29.75,38.03,28,7,2,0,23,SET50 / SETTHSI / SETWB,13.80
15,TASCO,18.10,20.62,14,7,4,0,25,SET100 / SETCLMV / SETHD / SETTHSI,5.80
16,TPIPL,1.69,2.34,38,4,0,0,12,SET,6.40
17,TTW,11.40,14.35,26,3,1,0,10,SETTHSI,5.90

In [23]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

402

In [24]:
final2 = pd.merge(final, pg_tickers, on='name', how='inner')
final2.shape

(18, 20)

In [25]:
colt = 'name price target upside buy hold sell score market sector subsector volume beta yield'.split()

In [26]:
final2[colt].sort_values(['yield'],ascending=[False])

,name,price,target,upside,buy,hold,sell,score,market,sector,subsector,volume,beta,yield
10,SCB,125.00,147.60,18,7,2,0,23,SET50 / SETCLMV / SETHD / SETTHSI,Financials,Banking,"1,629.80",1.30,14.90
14,STA,29.75,38.03,28,7,2,0,23,SET50 / SETTHSI / SETWB,Agro & Food Industry,Agribusiness,"1,008.59",-0.04,13.80
1,BCP,25.00,33.21,33,10,4,0,34,SET100 / SETCLMV / SETTHSI,Resources,Energy & Utilities,178.13,1.57,7.00
9,SAT,21.50,25.95,21,8,1,1,22,sSET / SETTHSI,Industrials,Automotive,61.43,0.86,6.60
2,DCC,2.88,3.45,20,7,1,0,22,SET,Property & Construction,Construction Materials,93.64,0.57,6.40
16,TPIPL,1.69,2.34,38,4,0,0,12,SET,Property & Construction,Construction Materials,47.15,0.88,6.40
7,PTTGC,58.25,72.97,25,11,6,0,39,SET50 / SETCLMV / SETTHSI,Industrials,Petrochemicals & Chemicals,"1,301.32",1.16,6.30
5,MC,9.10,10.61,17,5,3,0,18,sSET,Services,Commerce,19.73,0.65,6.10
3,IRPC,3.84,4.77,24,7,6,0,27,SET50 / SETCLMV / SETTHSI,Resources,Energy & Utilities,845.48,1.05,6.00
8,RATCH,44.00,55.08,25,6,2,1,17,SET50 / SETCLMV / SETHD / SETTHSI,Resources,Energy & Utilities,286.12,0.66,6.00
17,TTW,11.40,14.35,26,3,1,0,10,SETTHSI,Resources,Energy & Utilities,61.16,0.21,5.90
15,TASCO,18.10,20.62,14,7,4,0,25,SET100 / SETCLMV / SETHD / SETTHSI,Property & Construction,Construction Materials,347.99,0.61,5.80
4,LH,8.65,10.04,16,16,0,0,48,SET50 / SETHD,Property & Construction,Property Development,385.33,0.83,5.70
12,SCCC,153.50,199.20,30,4,1,0,13,SETCLMV / SETTHSI,Property & Construction,Construction Materials,47.42,0.67,5.50
6,NER,7.20,10.09,40,8,0,0,24,sSET,Agro & Food Industry,Agribusiness,334.04,0.36,5.40
13,SPALI,22.20,25.83,16,15,1,0,46,SET100 / SETHD / SETTHSI,Property & Construction,Property Development,173.05,0.80,5.20
0,AP,9.40,10.58,13,15,1,0,46,SET100 / SETHD,Property & Construction,Property Development,146.70,0.68,5.20
11,SCC,375.00,491.00,31,13,2,0,41,SET50 / SETCLMV / SETHD / SETTHSI,Property & Construction,Construction Materials,"1,181.59",0.62,5.00

In [27]:
final2[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/high-dividend.json", orient="table")

In [28]:
file_name = 'css-hi-div.csv'
data_file = data_path + file_name
csv_file = csv_path + file_name
box_file = box_path + file_name
data_file, csv_file, box_file

('../data/css-hi-div.csv',
 '\\Users\\User\\iCloudDrive\\css-hi-div.csv',
 '\\Users\\User\\Dropbox\\css-hi-div.csv')

In [29]:
final2.set_index(['name'],inplace=True)
colt = 'price target upside buy hold sell score market sector subsector volume beta yield'.split()
final2[colt].sort_values(by=['name'],ascending=[True]).to_csv(data_file)
final2[colt].sort_values(by=['name'],ascending=[True]).to_csv(csv_file)
final2[colt].sort_values(by=['name'],ascending=[True]).to_csv(box_file)