In [1]:
stock_name = 'AMATA'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[23.0,
  17.1,
  10.27,
  1.19,
  169.64,
  1.57,
  19.4,
  Timestamp('2022-08-20 12:14:22.824699')]]

In [4]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2022-08-20 19:14:22.824699')

### Consensus table

In [5]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[23.36, 12.9, 1.1, 9.0, 1.0, 0.0, 2.3]]

In [6]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2022-08-20 12:14:22.824699'), 19.4)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [7]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2022-08-19 00:00:00')

In [8]:
updated_at = date2.date()
updated_at

datetime.date(2022, 8, 19)

In [9]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

2.3

In [10]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'9-1-0'

In [11]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'18.56'

In [12]:
target_price, price

(23.36, 19.4)

In [13]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'20.41'

### Beautiful Soup Process

In [14]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A8//Fig//Stocks//AMATA.html'

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>AMATA</title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">Data as end of <span id="date">August-11, 2022</span></h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>Max</td>
<td id="max-price">23.00</td>
<td>Min</td>
<td id="min-price">17.10</td>
<td>P/E</td>
<td id="stk-pe">11.89</td>
<td>P/BV</td>
<td id="stk-pbv">1.15</td>
<td>Volume</td>
<td id="daily-volume">169.770</td>
<td>EPS</td>
<td id="beta">1.56</td>
</tr>
<!-- Consensus -->
<tr>
<td>Target</td>
<td id="target-price">24.20</td>
<td colspan="2"></td>
<td>P/E</td>
<td id="css-pe">12.3</td>
<td>P/BV</td>
<td id="css-pbv">1.1</td>
<td>B-H-S</td>
<td id="b-h-s">5-0-0</td>
<td class="yield"><a href="https://www.panphol.com/aio/AMATA/dividend" target="_blank">Yield</a></td>
<td id="yld">2.4</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price"><a href="https://www.santiwebsite.com/prices/AMATA.html" target="_blank">Price</a></td>
<td id="price">18.30</td>
<td colspan="3">Up to Max Percent</td>
<td id="up-to-max">25.68</td>
<td colspan="3">Up to Target Percent</td>
<td id="up-to-target">32.24</td>
<td colspan="2">SET100 / SETCLMV / SETTHSI </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div> <!-- enf of card-body -->
</div> <!-- enf of card -->
</div> <!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Amata 2022 2 q" class="card-img-top img-fluid" src="assets/AMATA-2022-2-Q.png"/>
</div>
<div class="card-footer">
								Publish date: August-11, 2022
							</div>
</div> <!-- enf of card -->
</div> <!-- end of col -->
</div> <!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
							AMATA Quarterly Profit
						</div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>Year</th>
<th>Qtr</th>
<th>Qtr Amt</th>
<th>YoY Amt</th>
<th>Qtr%</th>
<th>Acc Qtr</th>
<th>Acc YoY</th>
<th>Acc%</th>
</tr>
</thead>
<tbody>
<tr>
<td>2022</td>
<td>Q2</td>
<td>648,817</td>
<td>247,074</td>
<td>162.6</td>
<td>1,202,284</td>
<td>432,804</td>
<td>177.8</td>
</tr>
<tr>
<td>2022</td>
<td>Q1</td>
<td>553,466</td>
<td>185,729</td>
<td>198.0</td>
<td>553,466</td>
<td>185,729</td>
<td>198.0</td>
</tr>
<tr>
<td>2021</td>
<td>Q4</td>
<td>740,785</td>
<td>396,594</td>
<td>86.8</td>
<td>1,402,288</td>
<td>1,103,439</td>
<td>27.1</td>
</tr>
<tr>
<td>2021</td>
<td>Q3</td>
<td>228,699</td>
<td>268,949</td>
<td>-15.0</td>
<td>661,503</td>
<td>706,845</td>
<td>-6.4</td>
</tr>
<tr>
<td>2021</td>
<td>Q2</td>
<td>247,074</td>
<td>215,430</td>
<td>14.7</td>
<td>432,804</td>
<td>437,896</td>
<td>-1.2</td>
</tr>
<tr>
<td>2021</td>
<td>Q1</td>
<td>185,729</td>
<td>222,466</td>
<td>-16.5</td>
<td>185,729</td>
<td>222,466</td>
<td>-16.5</td>
</tr>
<tr>
<td>2020</td>
<td>Q4</td>
<td>396,594</td>
<td>250,358</td>
<td>58.4</td>
<td>1,103,439</td>
<td>1,742,056</td>
<td>-36.7</td>
</tr>
<tr>
<td>2020</td>
<td>Q3</td>
<td>268,949</td>
<td>798,429</td>
<td>-66.3</td>
<td>706,845</td>
<td>1,491,698</td>
<td>-52.6</td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div> <!-- end of card-body -->
</div> <!-- end of card -->
</div> <!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Amata 2022 2 y" class="card-img-top img-fluid" src="assets/AMATA-2022-2-Y.png"/>
</div> <!-- enf of card-body -->
</div> <!-- enf of card -->
</div> <!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
							AMATA Yearly Profit
						</div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>Year</th>
<th>Qtr</th>
<th>Last Year Amt</th>
<th>This Year Amt</th>
<th>Profit</th>
<th>Pct</th>
</tr>
</thead>
<tbody>
<tr>
<td>2022</td>
<td>Q2</td>
<td>1.1 Billion</td>
<td>2.17 Billion</td>
<td>1.07 Billion</td>
<td>97.7</td>
</tr>
<tr>
<td>2021</td>
<td>Q2</td>
<td>1.49 Billion</td>
<td>1.1 Billion</td>
<td>-388 Million</td>
<td>-26.1</td>
</tr>
<tr>
<td>2020</td>
<td>Q2</td>
<td>1.11 Billion</td>
<td>1.49 Billion</td>
<td>376 Million</td>
<td>33.9</td>
</tr>
<tr>
<td>2019</td>
<td>Q2</td>
<td>1.5 Billion</td>
<td>1.11 Billion</td>
<td>-394 Million</td>
<td>-26.2</td>
</tr>
<tr>
<td>2018</td>
<td>Q2</td>
<td>1.43 Billion</td>
<td>1.5 Billion</td>
<td>71 Million</td>
<td>5.0</td>
</tr>
<tr>
<td>2017</td>
<td>Q2</td>
<td>911 Million</td>
<td>1.43 Billion</td>
<td>521 Million</td>
<td>57.2</td>
</tr>
<tr>
<td>2016</td>
<td>Q2</td>
<td>2.38 Billion</td>
<td>911 Million</td>
<td>-1.47 Billion</td>
<td>-61.7</td>
</tr>
<tr>
<td>2015</td>
<td>Q2</td>
<td>1.12 Billion</td>
<td>2.38 Billion</td>
<td>1.26 Billion</td>
<td>112.2</td>
</tr>
<tr>
<td>2014</td>
<td>Q2</td>
<td>1.82 Billion</td>
<td>1.12 Billion</td>
<td>-696 Million</td>
<td>-38.3</td>
</tr>
<tr>
<td>2013</td>
<td>Q2</td>
<td>1.04 Billion</td>
<td>1.82 Billion</td>
<td>775 Million</td>
<td>74.4</td>
</tr>
</tbody>
</table>
</div> <!-- enf of card-body -->
</div> <!-- enf of card -->
</div> <!-- end of col -->
</div>
</section>
<br/>
</div> <!-- end of container div from application -->
</body>
</html>

In [16]:
tag_eps = soup.find_all("td")[10]
print(tag_eps)

<td>EPS</td>

In [17]:
tag_eps.string = 'Beta'

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('23.0', '17.1', '10.27', '1.19', '169.64', '1.57')

In [22]:
date_td.string

'2022-08-19'

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('23.36', '12.9', '1.1', '9-1-0', '2.3')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('19.4', '18.56', '20.41')

In [25]:
#print(soup)

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,637,AMATA,19.4,9,1,0,1.51,1.52,12.9,1.1,2.3,23.36,X,24,2021-02-21 08:31:54.576101,2022-08-19 05:04:33.193585