In [1]:
stock_name = 'BGR'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

### Stock table

In [3]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[39.0,
  26.0,
  7.66,
  1.73,
  55.21,
  0.37,
  38.75,
  Timestamp('2021-12-10 03:12:51.950950')]]

In [4]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2021-12-10 10:12:51.950950')

### Consensus table

In [5]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[43.5, 11.7, 1.8, 1.0, 0.0, 0.0, 3.4]]

In [6]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2021-12-10 03:12:51.950950'), 38.75)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [7]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2021-12-09 00:00:00')

In [8]:
updated_at = date2.date()
updated_at

datetime.date(2021, 12, 9)

In [9]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

3.4

In [10]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'1-0-0'

In [11]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'0.65'

In [12]:
target_price, price

(43.5, 38.75)

In [13]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'12.26'

### Beautiful Soup Process

In [14]:
inp_file = stock_name + '.html'
out_file = 'C://A8//Fig//Stocks//' + inp_file
#out_file = 'C://A8//Fig//Stocks//' + 'COM-7.html'
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C://A9//Fig//Stocks//VNT.html'

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup)

In [16]:
#inp_file = stock_name + '.html'
#url = 'c://ClearStep//stocks//' + inp_file
#url

In [17]:
#using local file
#with open(url,"r") as file:
#    soup = BeautifulSoup(file)
#print(soup)

In [18]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2021-12-03
    </span>

In [19]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            3.4
           </td>

In [20]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [21]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('39.0', '26.0', '7.66', '1.73', '55.21', '0.37')

In [22]:
date_td.string

'2021-12-09'

In [23]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('43.5', '11.7', '1.8', '1-0-0', '3.4')

In [24]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('38.75', '0.65', '12.26')

In [25]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   VNT
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">2021-12-09</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">39.0</td>
<td>
            Min
           </td>
<td id="min-price">26.0</td>
<td>
            P/E
           </td>
<td id="stk-pe">7.66</td>
<td>
            P/BV
           </td>
<td id="stk-pbv">1.73</td>
<td>
            Volume
           </td>
<td id="daily-volume">55.21</td>
<td>
            Beta
           </td>
<td id="beta">0.37</td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">43.5</td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">11.7</td>
<td>
            P/BV
           </td>
<td id="css-pbv">1.8</td>
<td>
            B-H-S
           </td>
<td id="b-h-s">1-0-0</td>
<td class="yield">
<a href="https://www.panphol.com/aio/VNT/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">3.4</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/VNT.html" target="_blank">
             Price
            </a>
</td>
<td id="price">38.75</td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">0.65</td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">12.26</td>
<td colspan="2">
            SET
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Vnt 2021 3 q" class="card-img-top img-fluid" src="assets/VNT-2021-3-Q.png"/>
</div>
<div class="card-footer">
        Publish date: November-10, 2021
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        VNT Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            2,082,517
           </td>
<td>
            354,324
           </td>
<td>
            487.7
           </td>
<td>
            5,261,146
           </td>
<td>
            1,441,957
           </td>
<td>
            264.9
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            1,789,494
           </td>
<td>
            307,710
           </td>
<td>
            481.6
           </td>
<td>
            3,178,629
           </td>
<td>
            1,087,633
           </td>
<td>
            192.3
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            1,389,135
           </td>
<td>
            779,923
           </td>
<td>
            78.1
           </td>
<td>
            1,389,135
           </td>
<td>
            779,923
           </td>
<td>
            78.1
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            730,784
           </td>
<td>
            1,346,864
           </td>
<td>
            -45.7
           </td>
<td>
            2,172,741
           </td>
<td>
            3,635,428
           </td>
<td>
            -40.2
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            354,324
           </td>
<td>
            1,070,308
           </td>
<td>
            -66.9
           </td>
<td>
            1,441,957
           </td>
<td>
            2,288,564
           </td>
<td>
            -37.0
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            307,710
           </td>
<td>
            670,712
           </td>
<td>
            -54.1
           </td>
<td>
            1,087,633
           </td>
<td>
            1,218,256
           </td>
<td>
            -10.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q1
           </td>
<td>
            779,923
           </td>
<td>
            548,084
           </td>
<td>
            42.3
           </td>
<td>
            779,923
           </td>
<td>
            548,084
           </td>
<td>
            42.3
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q4
           </td>
<td>
            1,346,864
           </td>
<td>
            969,505
           </td>
<td>
            38.9
           </td>
<td>
            3,635,428
           </td>
<td>
            3,059,411
           </td>
<td>
            18.8
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Vnt 2021 3 y" class="card-img-top img-fluid" src="assets/VNT-2021-3-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        VNT Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            2.79 Billion
           </td>
<td>
            5.99 Billion
           </td>
<td>
            3.2 Billion
           </td>
<td>
            114.9
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            3.26 Billion
           </td>
<td>
            2.79 Billion
           </td>
<td>
            -469 Million
           </td>
<td>
            -14.4
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q3
           </td>
<td>
            2.83 Billion
           </td>
<td>
            3.26 Billion
           </td>
<td>
            429 Million
           </td>
<td>
            15.2
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q3
           </td>
<td>
            2.31 Billion
           </td>
<td>
            2.83 Billion
           </td>
<td>
            520 Million
           </td>
<td>
            22.5
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q3
           </td>
<td>
            361 Million
           </td>
<td>
            2.31 Billion
           </td>
<td>
            1.95 Billion
           </td>
<td>
            539.4
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [26]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [27]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,870,VNT,38.25,1,0,0,3.27,3.16,11.7,1.8,3.4,43.5,X,622,2021-02-21 08:31:55.518436,2021-04-24 03:13:21.376921

In [28]:
sql = """
DELETE
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name

In [29]:
#rp = conpg.execute(sql)
#rp.rowcount