In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from apiclient.discovery import build
api_key = 'AIzaSyBYOWoFmf3cG5Ez653Qdmw9xHmchEMz4Ys'
youtube = build('youtube', 'v3', developerKey=api_key)

engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/BBB_development')
conbb = engine.connect()
    
data_path = '../data/'

def get_viewCounts(vids):
    videos = []
    for vid in vids:
        res = youtube.videos().list(id=vid,part='statistics',maxResults=1).execute()
        videos += res['items']
    return videos

def parse_count(video):
    return video['id'],video['statistics']['viewCount']

In [2]:
today = date.today()
today

datetime.date(2022, 3, 17)

### Songs with youtube code

In [3]:
sql = '''
SELECT year, rank, nbr, title, A.name,  code, publish_date, views
FROM songs S
JOIN artists A ON artist_id = A.id
WHERE  code <> '' 
ORDER BY views DESC
'''
songs = pd.read_sql(sql,conbb)
len(songs)

1233

In [4]:
sr = songs['code']
vids= sr.values.tolist()
len(vids)

1233

In [5]:
stat_videos = get_viewCounts(vids)
len(stat_videos)

1156

In [6]:
counts = [parse_count(video) for video in stat_videos]
len(counts)

1156

In [7]:
df_count = pd.DataFrame(data = counts , columns=['videoId','viewCount'])
df_count.columns

Index(['videoId', 'viewCount'], dtype='object')

In [8]:
df_count["viewCount"] = df_count["viewCount"].astype("int64")

In [9]:
df_count.rename(columns = {"videoId" : "code", "viewCount" : "views"}, inplace = True)
df_count.columns

Index(['code', 'views'], dtype='object')

In [10]:
dfd = pd.merge(songs, df_count, on='code', how='inner')
dfd.shape

(1156, 9)

In [11]:
df_count.dtypes

code     object
views     int64
dtype: object

In [12]:
df_count.to_sql('df_count', engine, if_exists='replace')

In [13]:
sql = """
UPDATE songs AS s
SET views = d.views, processed = true
FROM df_count AS d
WHERE s.code = d.code
"""
print(sql)

UPDATE songs AS s
SET views = d.views, processed = true
FROM df_count AS d
WHERE s.code = d.code

In [14]:
with engine.begin() as conn:     # TRANSACTION
    conn.execute(sql)

In [15]:
sql = '''
SELECT S.id, year, rank, nbr, title, A.name,  code, views
FROM songs S
JOIN artists A ON artist_id = A.id
WHERE  code <> '' AND processed = false
ORDER BY views DESC
'''
songs = pd.read_sql(sql,conbb)
songs

,id,year,rank,nbr,title,name,code,views
0,2513,1985,20,99,We Are the World,USA for Africa,Zi0RpNSELas,502243010
1,1917,1979,23,99,Stumblin' In,Suzi Quatro & Chris Norman,iGaF4tKUl0o,209484336
2,3680,1997,6,99,I Believe I Can Fly,R. Kelly,GIQn8pab8Vc,149468220
3,2750,1987,58,99,La Isla Bonita,Madonna,qqIIW7nxBgc,120437416
4,1617,1976,23,99,Love Hurts,Nazareth,G_1LP3Z6pW4,108149887
...,...,...,...,...,...,...,...,...
72,744,1967,46,99,My Cup Runneth Over,Ed Ames,Eq0ooP57Muk,84415
73,203,1962,4,99,Roses Are Red (My Love),Bobby Vinton,_ltn0qM3DRY,84197
74,1634,1976,40,99,All by Myself,Eric Carmen,OUjrqVaT_B4,79722
75,746,1967,48,99,San Francisco (Be Sure to Wear Flowers in Your...,Scott McKenzie,OJ4rTsUg-7M,54927
76,2046,1980,52,8,On the Radio,Donna Summer,IdVncHNgHcc,2721

In [16]:
sql = """
UPDATE songs 
SET processed = false
WHERE processed = true
"""
rp = conbb.execute(sql)
rp.rowcount

1156

In [19]:
sql = """
SELECT year, rank, nbr, title, A.name,  code, publish_date, views, mp3, duration
FROM songs S
JOIN artists A ON artist_id = A.id
LEFT JOIN lyrics L ON song_id = S.id
WHERE  code <> '' AND uploaded = False AND views > 500000000
ORDER BY views DESC
"""
df = pd.read_sql(sql, conbb)
df

,year,rank,nbr,title,name,code,publish_date,views,mp3,duration
0,2016,73,99,Hymn for the Weekend,Coldplay,YykjpeuMNEk,2016-01-29,1619917399,None,300
1,2017,16,99,24K Magic,Bruno Mars,UqyT8IEBkvY,2016-10-06,1482910757,24K_Magic.mp3,300
2,2011,14,99,Last Friday Night (T.G.I.F.),Katy Perry,KlyXNRrsk4A,2011-06-12,1403350124,None,300
3,1995,1,99,Gangsta's Paradise,Coolio featuring L.V.,fPO76Jlnz6c,2017-08-01,910310715,Gangsta_s_Paradise.mp3,241
4,2005,60,99,La Tortura,Shakira featuring Alejandro Sanz,Dsp_8Lm1eSk,2019-12-12,674191405,None,300
5,2005,32,99,My Humps,The Black Eyed Peas,iEe_eraFWWs,2009-06-17,648728726,None,300
6,1997,4,99,Un-Break My Heart,Toni Braxton,p2Rch6WvPJE,2009-10-25,626529604,None,300
7,2005,7,99,Boulevard of Broken Dreams,Green Day,Soa3gO7tL-c,2013-01-09,609807537,None,300
8,2009,4,99,I Gotta Feeling,The Black Eyed Peas,uSD4vsh1zDA,2009-12-23,594111569,None,300
9,2014,17,99,Say Something,A Great Big World and Christina Aguilera,-2U0Ivkn2Ds,2019-12-13,590376374,None,300
10,1977,117,1,I Don't Want to Talk About It,Rod Stewart,w46bWxS9IjY,2016-08-05,588711550,None,300
11,2012,21,99,Where Have You Been,Rihanna,HBxt_v0WF6Y,2019-12-11,585455920,None,300
12,1981,65,2,Another One Bites the Dust,Queen,rY0WxgSXdEE,2008-08-01,531020098,None,300
13,1998,23,99,I Don't Want to Miss a Thing,Aerosmith,JkK8g6FMEXE,2014-06-29,500208243,None,300

In [20]:
sql = """
SELECT year, rank, nbr, title, A.name,  code, publish_date, views, mp3, duration, uploaded
FROM songs S
JOIN artists A ON artist_id = A.id
LEFT JOIN lyrics L ON song_id = S.id
WHERE  code <> '' AND uploaded = False 
ORDER BY views DESC
"""
songs = pd.read_sql(sql, conbb)
songs.head(10)

,year,rank,nbr,title,name,code,publish_date,views,mp3,duration,uploaded
0,2016,73,99,Hymn for the Weekend,Coldplay,YykjpeuMNEk,2016-01-29,1619917399,None,300,False
1,2017,16,99,24K Magic,Bruno Mars,UqyT8IEBkvY,2016-10-06,1482910757,24K_Magic.mp3,300,False
2,2011,14,99,Last Friday Night (T.G.I.F.),Katy Perry,KlyXNRrsk4A,2011-06-12,1403350124,None,300,False
3,1995,1,99,Gangsta's Paradise,Coolio featuring L.V.,fPO76Jlnz6c,2017-08-01,910310715,Gangsta_s_Paradise.mp3,241,False
4,2005,60,99,La Tortura,Shakira featuring Alejandro Sanz,Dsp_8Lm1eSk,2019-12-12,674191405,None,300,False
5,2005,32,99,My Humps,The Black Eyed Peas,iEe_eraFWWs,2009-06-17,648728726,None,300,False
6,1997,4,99,Un-Break My Heart,Toni Braxton,p2Rch6WvPJE,2009-10-25,626529604,None,300,False
7,2005,7,99,Boulevard of Broken Dreams,Green Day,Soa3gO7tL-c,2013-01-09,609807537,None,300,False
8,2009,4,99,I Gotta Feeling,The Black Eyed Peas,uSD4vsh1zDA,2009-12-23,594111569,None,300,False
9,2014,17,99,Say Something,A Great Big World and Christina Aguilera,-2U0Ivkn2Ds,2019-12-13,590376374,None,300,False

In [21]:
sql = """
SELECT code, count(*)
FROM songs S
WHERE code <> ''
GROUP BY code
HAVING count(*) > 1
"""
df = pd.read_sql(sql, conbb)
df.head()

Empty DataFrame
Columns: [code, count]
Index: []

In [22]:
sr = df["code"]
vids = sr.values.tolist()
in_p = ", ".join(map(lambda vid: "'%s'" % vid, vids))
in_p

''

In [23]:
sql = """
SELECT * FROM songs 
WHERE code IN (%s)
ORDER BY year, rank
"""
sql = sql % (in_p)
df_dups = pd.read_sql(sql, conbb)
df_dups

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near ")"
LINE 3: WHERE code IN ()
                       ^

[SQL:
SELECT * FROM songs
WHERE code IN ()
ORDER BY year, rank
]
(Background on this error at: https://sqlalche.me/e/14/f405)